%html
  %body
    %h3 У вас есть непрочитанные сообщения в процедурах
    %br
    - @projects_feed.each do |feed|
      = link_to "#{t('show.mailer.messages', count: feed[1])} в процедуре #{feed[0]['name']}", "http://www.mass-decision.ru/project/#{feed[0]['id']}/"
      %br
      %br
  %br
  %br
  %br
  %br
  %small
    = t('show.mailer.team')
    = link_to 'massdecision', 'http://mass-decision.ru/'


