%h1  Авторизация

= form_for(:session, :url => sessions_path, :html => { :id => 'auth' } ) do |f|
	.field
		= f.label :email, "Логин"
		%br
		= f.text_field :email
	.field
		= f.label :password, "Пароль"
		%br
		= f.password_field :password
	.actions
		=f.submit "", class: "btn"

%p
	Еще не зарегистрованы? 
	= link_to "Зарегистрироваться сейчас!", signup_path