%li.li_aspect{id: "li_aspect_#{aspect.id}", class: "#{'complete' if aspect.missed_questions(current_user).size == 0}"}
  .slider-item{class: "#{aspect_counter == 0 ? 'active' : ''}"}
    .c1-item
      %a{id: "aspect_#{aspect.id}", "data-toggle" => "tab", :href => "#tab_aspect_#{aspect.id}"}
        %span.c1-item-inner{style: "border-top-color: #{aspect.color};"}
          =aspect.content
