.chat-message{id: "comment_#{advice_comment.id}"}
  = render 'users/user_post', user: advice_comment.user

  .chat-message-body.stage_menu1
    %span.arrow
    .sender
      = link_to advice_comment.user, user_path(@project, advice_comment.user)
      = render partial: '/shared/user_online', object: advice_comment.user
      = role_label(advice_comment.user)
    .text
      %div{id: "comment_text_#{advice_comment.id}"}
        = simple_format(advice_comment.content)
      %br

      .time.pull-left
        = time_ago_in_words(advice_comment.created_at)
      %br
