.chat-message{id: "comment_#{advice_comment.id}"}
  = render 'users/user_post', user: advice_comment.user

  .chat-message-body.stage_menu1
    %span.arrow
    .sender
      = link_to advice_comment.user, user_path(@project, advice_comment.user)
      = render partial: '/shared/user_online', object: advice_comment.user
      = role_label(advice_comment.user)
    .text
      %div{id: "comment_text_#{advice_comment.id}"}
        = simple_format(advice_comment.content)
      %br
      - if current_user?(advice_comment.user) or current_user.admin?
        = link_to 'Удалить', discontent_advice_comment_path(@project, advice_comment.advice, advice_comment), method: :delete, remote: true,
          data: {confirm: t('confirm.delete_comment')}, class: 'btn btn-danger btn-xs', id: "destroy_comment_#{advice_comment.id}"

      .time.pull-left
        = time_ago_in_words(advice_comment.created_at)
      %br
