%header.text-align-center
  %h2
    %strong MASS
    DECISION
  %br
  %h4 Регистрация
.body
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %fieldset
      .form-group
        .input-group.input-group-lg
          %span.input-group-addon
            %i.eicon-user
          = f.text_field :email, placeholder: 'Ваш Email', class: 'form-control input-lg'
      .form-group
        .input-group.input-group-lg
          %span.input-group-addon
            %i.eicon-user
          = f.text_field :name, placeholder: 'Имя для сайта', class: 'form-control input-lg'
      .form-group
        .input-group.input-group-lg
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, placeholder: 'Ваш пароль (не менее 5 символов)', class: 'form-control input-lg'
      .form-group
        .input-group.input-group-lg
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password_confirmation, placeholder: 'Повторите пароль', class: 'form-control input-lg'


      .form-actions
        =f.submit 'Зарегистрироваться', class: 'btn btn-block btn-lg btn-danger', id: 'Signin'
        .forgot
          =link_to 'Вернуться', '/users/sign_in', class:'forgot'