%h1 Listing group_users

%table
  %tr
    %th Group
    %th User
    %th
    %th
    %th

  - @group_users.each do |group_user|
    %tr
      %td= group_user.group
      %td= group_user.user
      %td= link_to 'Show', group_user
      %td= link_to 'Edit', edit_group_user_path(group_user)
      %td= link_to 'Destroy', group_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group user', new_group_user_path
