= form_for [@post, @post.comments.build] do 
	%p
		= label :comment, :commenter, 'Автор' 
		= text_field :comment, :commenter
	%p
		= label :comment, :body,  'Тест'
		%br
		= text_area :comment,:body
	%p
		= submit_tag 'Добавить комментарий'


