%ol.side-nav
  %li{class: ('active' if params[:id] == '0')}
    %a(href="/project/#{@project.id}/help/posts/0")
      =t('stages.intro')
  %li{class: ('active' if params[:id] == '1')}
    %a(href="/project/#{@project.id}/help/posts/1")
      Стадия 1
      %br
      =t('stages.life_tape')
  %li{class: ('active' if params[:id] == '2')}
    %a(href="/project/#{@project.id}/help/posts/2")
      Стадия 2
      %br
      =t('stages.discontent')
  %li{class: ('active' if params[:id] == '3')}
    %a(href="/project/#{@project.id}/help/posts/3")
      Стадия 3
      %br
      =t('stages.concept')
  %li{class: ('active' if params[:id] == '4')}
    %a(href="/project/#{@project.id}/help/posts/4")
      Стадия 4
      %br
      =t('stages.plan')
  %li{class: ('active' if params[:id] == '5')}
    %a(href="/project/#{@project.id}/help/posts/5")
      Стадия 5
      %br
      =t('stages.estimate')
  %li{class: ('active' if params[:id] == '6')}
    %a(href="/project/#{@project.id}/help/posts/6")
      Стадия 6
      %br
      =t('stages.result')
  %li{class: ('active' if params[:id] == '7')}
    %a(href="/project/#{@project.id}/help/posts/7")
      =t('stages.glossary')
  -#-@stages.each do |key, value|
  -#  %li{class: ('active' if key.to_s==params[:id])}
  -#    %a(href="/project/#{@project.id}/help/posts/#{key}")
  -#      =key
  -#      =value[:name]