%p{align: 'RIGHT', style: 'margin-left: 2.56in; text-indent: -0.13in; margin-bottom: 0.14in'}
  %em
    %font{face: 'Verdana, serif'}
      %font{size: '1', style: 'font-size: 10pt'}
        %span При открытом обсуждении не только ошибки, но самые нелепости легко устраняются
  %br
  %font{face: 'Verdana, serif'}
    %font{size: '1', style: 'font-size: 10pt'}
      %span М. Салтыков-Щедрин

%h3
  %p
    %b КАК ВЫРАБАТЫВАЕТСЯ РЕШЕНИЕ: ЭТАПЫ ПРОЦЕДУРЫ
%p
  %b 1 этап ПОДГОТОВКА К ПРОЦЕДУРЕ

%p Подготовительный этап нужен для того, чтобы все участники хорошо поняли проблему, которую будут решать, и познакомились с правилами работы в процедуре.
%p Авторизовавшись, участники получают доступ к разделам «Помощь» и «База знаний», где содержится подробное описание проблемы, для которой предстоит выработать решение, сведения о предметной области, к которой относится эта проблема, и другие справочные материалы.
%p Участие в процедуре начинается с форума. Для удобства работы основная тема процедуры разбивается на тематические подразделы — аспекты. Участники могут выдвигать новые аспекты и обсуждать предложенные, предлагая переформулировать, заменить или удалить их. Кроме того, участники могут добавлять новую информацию, относящуюся к процедуре. Если ее признают важной другие участники и модератор, она пополнит базу знаний. Те, кто внесет наиболее ценный вклад в обсуждение, награждаются премиальными баллами.
%p Этап завершается голосованием. Каждый участник получает определенное количество голосов, которое может отдать за аспекты из скорректированного списка. Аспекты, не прошедшие электоральный барьер, не рассматриваются на дальнейших стадиях процедуры. Участники, отдавшие все свои голоса за аспекты, вошедшие в окончательный список, награждаются премиальными баллами.
%h4
  %b СТРУКТУРА ПЕРВОГО ЭТАПА

= image_tag 'img/help/life_tape_index.jpg', align: 'BOTTOM', border: '0', height: '449', width: '623'
%br
%br
%ol
  %li
    %p
      %b Помощь
    В этом разделе размещена основная информация о процедуре. Здесь вы найдете описание целей и инструментов работы текущего этапа, а также другие справочные материалы.
  %br
  %li
    %p
      %b База знаний
    В этом разделе размещена справочная информация по предметной области процедуры (полезные статьи, ссылки на нормативно-правовые акты
    , имеющие отношение к предметной области, и т. п.). Здесь вы найдете полезные статьи, которые помогут вам вникнуть в тему предстоящей процедуры.
  %blockquote
    ВАЖНО!
    Обязательно ознакомьтесь с базой знаний. Это позволит вам сразу влиться в работу и не задавать лишних вопросов.
  %br
  %li
    %p
      %b Рейтинг
    Рейтинг участника складывается из его общей активности на портале и содержательности его сообщений.
  %br
  %li
    %p
      %b Новости
    Здесь отображаются последние действия пользователей на портале (публикация сообщений или комментариев, выставление оценок и т. д.).
  %br
  %li
    %p
      %b Уведомления
    Кликнув по этой иконке, вы увидите последние действия пользователей, связанные с вашими сообщениями (оставленные к ним комментарии, оценки и т. д.).
  %br
  %li
    %p
      %b Личные данные
    Кнопка для перехода в личный кабинет.
  %br
  %li
    %p
      %b Тема процедуры

  %blockquote
    ВАЖНО!
    На всех этапах работы помните основную цель процедуры, сформулированную в ее теме. Это поможет вам сфокусироваться на решении поставленной проблемы.
  %br
  %li
    %p
      %b Аспекты
    В меню «Аспекты» представлены тематические подразделы, которые будут обсуждаться в рамках основной темы процедуры. На 1-м этапе участники имеют возможность влиять на формирование списка аспектов. Свои мысли и предложения они могут помещать в специальный раздел «Идеи для аспектов».
  %br
  %li
    %p
      %b Этапы процедуры
    Процедура состоит из пяти этапов. Передвигаясь по этим вкладкам, вы можете обращаться за информацией и идеями к прошлым, отработанным этапам процедуры.
  %br
  %li
    %p
      %b Статьи
    Здесь находятся статьи из базы знаний, относящиеся к обсуждаемому аспекту.

  %br
  %li
    %p
      %b Обсуждение аспекта
    В этом поле каждый участник может высказаться по поводу обсуждаемого аспекта, задать уточняющие вопросы заказчику и эксперту и внести собственные пояснения и уточнения.
  %br
  %li
    %p
      %b Помощь модератора
    Кликнув по этому полю, вы сможете связаться с модератором и задать ему любой вопрос по работе в процедуре.


= image_tag 'img/help/admin_help.png', align: 'BOTTOM', border: '0', height: '262', name: 'Рисунок 5', width: '203'
%p
  Кроме того, вы увидите на портале следующие обозначения:

= image_tag 'img/help/labels_comment.png', align: 'BOTTOM', border: '0', height: '26', width: '247'
 
%p
  %b «Проблема»
  – так помечаются потенциальные проблемы организации. Это обозначение используется как подсказка на этапе сбора несовершенств.
%p
  %b «Идея»
  – так помечаются идеи, которые можно внести в процедуру. Это обозначение используется на этапе сбора нововведений.
%p
  %b «Требует обсуждения»
  – материал, помеченный экспертом, жюри или заказчиком. Если эта метка активирована, значит, ваше сообщение нуждается в пояснении или с ним не согласны эксперты процедуры.
%blockquote
  ВАЖНО!
  Не пугайтесь сообщения «Требует обсуждения». Возможно, вы просто недостаточно четко сформулировали свою мысль.

= image_tag 'img/help/label_md.png', align: 'LEFT', border: '0', height: '22', hspace: '12', name: 'Рисунок 9', width: '31'
%p
  Таким значком обозначается
  %b модератор процедуры
  , который следит за порядком и за тем, чтобы участники следовали правилам процедуры и принципам процедурной рациональности. Модератор имеет право участвовать в обсуждении.

= image_tag 'img/help/label_expert.png', align: 'LEFT', border: '0', height: '23', width: '50'
%p
  Таким значком обозначается
  %b эксперт
  Эксперт – это специалист по предметной области процедуры. Он имеет право обращать внимание участников на то, что их дискуссия развивается в неправильном направлении из-за отсутствия специальных знаний.
