%div(style="width:50%;margin-left:53px;margin-top:58px;")
  %h3 СТАДИЯ ФОРМУЛИРОВАНИЯ ПРОБЛЕМ
  %br
  <iframe width="560" height="315" src="//www.youtube.com/embed/zcg1OrGYoOE" frameborder="0" allowfullscreen></iframe>
  %br
  %br
  %p
    Уважаемые участники процедуры MASSDECISION™!
    За эту неделю вы успели ознакомиться с предметной областью процедуры, привыкнуть к интерфейсу нашего портала и выбрать аспекты,
    над которыми будете работать в дальнейшем, а теперь мы переходим к первому и очень важному этапу процедуры MASSDECISION™ – этапу сбора несовершенств.
    Этот этап необходим для выявления и детального анализа конкретных проблем в рамках общей проблемы.
  %br
  %p
    Проблемы, требующие исправления, в процедуре MASSDECISION™ называются несовершенствами.
    Чтобы разработать проект по комплексному совершенствованию ситуации, надо выявить и описать несовершенства,
    для исправления которых требуются конкретные действия. Чтобы проиллюстрировать формы, техники и рекомендации,
    используемые на этом этапе процедуры, мы расскажем вам новую версию старой сказки о том,
    как Винни-Пух пытался раздобыть мед у подозрительных пчел. Ни в литературной,
    ни в анимационной версии этой истории Винни-Пух не достигает своей цели, но у нашей сказки про четвероногих, пчел и MASSDECISION™ будет счастливый конец,
    который вы узнаете на последнем этапе процедуры. А пока…

  %br
  %h4(style="color:#ebcd70;") Пролог, в котором заинтересованные стороны договариваются о процедуре
  %br

  %p
    Винни-Пух и его друзья очень любят мед, но очень боятся пчел, а пчелы очень не любят,
    когда кто-то хочет забрать у них мед, который достается им тяжким трудом.
    Чтобы раздобыть мед, Винни пытался пробраться в улей обманом — не вышло;
    сутками караулил у Высокого дуба, поджидая, пока все пчелы вылетят из улья, — не дождался;
    пытался втянуть пчел в переговоры,  предлагая им в обмен на мед грибы и ягоды, — не заинтересовались.
    Тогда Винни с друзьями отправились к мудрой Сове за советом. «Послушайте, — сказала Сова.
    — Вчера ко мне как раз приходили пчелы посоветоваться, как избавиться от назойливых четвероногих.
    Я предложила им вместе с вами подумать, как исправить ситуацию.
    Они даже согласились выделить мед на призы за вклад в общую выработку решения.
    Только давайте придумаем что-то такое, от чего всем обитателям лужайки у Высокого дуба станет лучше».

  %br
  %p ПРИМЕЧАНИЕ:
  %p
    Ситуация, когда всем хорошо, называется
    %span(style="color:#ebcd70;") win-win.
    Чтобы обеспечить такую ситуацию, нужно добиться оптимального перераспределения существующих ресурсов и спроектировать
    создание новых ресурсов с учетом интересов всех сторон.
    Чтобы это сделать, необходимо сначала выявить проблемы, которая стоят перед каждой из сторон в текущей ситуации,
    а затем найти удовлетворяющее всех решение. В этом и состоит практическая цель процедуры MASSDECISION™.

  %br
  %h4(style="color:#ebcd70;") Стадия первая, на которой участников вводят в курс дела
  %br
  %p
    Когда четвероногие и насекомые собрались на лужайке, Сова для затравки описала несколько примеров ситуаций win-win.
    Затем она рассказала, что предстоит делать в процедуре и каковы правила для участников.
    Четвероногие и пчелы задавали вопросы, а Сова всячески поощряла их любопытство, так как понимала,
    что они еще никогда ничем подобным не занимались и их надо как можно лучше подготовить.
    Затем все стали обсуждать, какие аспекты стоит разрабатывать в процедуре.
    Предложений было много. В результате голосования приняли три аспекта:
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture_page_3.png', border: '0', height: '180'

  %br
  %p ПРИМЕЧАНИЕ:
  %p
    Как вы уже поняли, это было упрощенное описание первой стадии процедуры MASSDECISION™.

  %br
  %h4(style="color:#ebcd70;") Стадия вторая, на которой выявляют несовершенства текущего положения
  %br
  %p
    Каждый участник мог высказать, что его не устраивает, а также когда и где это происходит.
    Первым по этой форме выдвинул для всеобщего обсуждения свое недовольство Винни-Пух:
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture1_page_4.png', border: '0', height: '150'
  %br
  %p
    Сова попросила внимания:
  %br
  %p
    «На следующей стадии надо будет придумывать, как устранить несовершенства, которые беспокоят сразу многих участников,
    а в этом примере «ЧТО» относится только к Винни. Кроме того, чем конкретнее и точнее сформулированы несовершенства,
    тем больше шансов найти практичные идеи по их устранению. Именно поэтому в форму включены вопросы «КОГДА?» и «ГДЕ?»,
    но такие ответы, как «ВСЕГДА» и «ВЕЗДЕ» — первый признак расплывчивости. Ну что конкретно можно предложить для
    устранения недовольства Винни-Пуха?! Да ничего.
    Кроме того, важно не упустить ни одного существенного несовершенства.
    В этом вам поможет подсказка о том, какие они бывают. Есть шесть основных типов несовершенств,
    и все они помещены в эту таблицу.
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture2_page_5.png', border: '0', height: '150'
  %br
  %p
    Посматривайте в нее, когда думаете о несовершенствах, и спрашивайте себя, какое из этих шести определений лучше всего описывает ваше несовершенство».
  %br
  %p
    Подсказанная техника действительно помогла участникам сформулировать множество разных несовершенств
    по всем трем темам, утвержденным на первой стадии. Большинство из них модератор-Сова приняла и выставила
    на голосование, где каждый участник выбирал несовершенства, которые считал обязательными к устранению.
    В итоге четвероногие и пчелы остановились на девяти несовершенствах:
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture3_page_5.png', border: '0', height: '750'
  %br
  %br
  %h4(style="color:#ebcd70;") СТРУКТУРА ЭТАПА
  %br
  = image_tag 'img/help/discontent_index.jpg', align: 'BOTTOM', border: '0', height: '427', width: '623'
  %br
  %br
  %p Рабочее поле на втором этапе представляет собой таблицу несовершенств.
  %br
  %p
    1. Здесь располагаются все несовершенства, выявленные в конкретном аспекте.
  %br
  %h5(style="color:#ebcd70;")
    ВАЖНО!
    При добавлении несовершенства обязательно убедитесь, что похожее несовершенство не было добавлено другими участниками.
  %br
  %p
    2. В поле «Неоформленные проблемы» помещены все сообщения с предыдущего этапа с пометкой «Проблема».
    Под каждой проблемой находятся кнопка «Источник», нажав на которую вы попадаете в дискуссию,
    где впервые появилось сообщение об этой проблеме, и кнопка «Доработать», которая позволяет доработать
    проблему в полноценное несовершенство.
  %br
  = image_tag 'img/help/discontent_one.png', align: 'BOTTOM', border: '0', height: '181', width: '458'
  %br
  %br
  %p
    3. При добавлении несовершенства заполняются три графы: ЧТО (описание проблемы), ГДЕ (локализация проблемы) и
    КОГДА (указание момента или временного периода, в котором наблюдается эта проблема).
    Модератор проверяет оформление несовершенства, и если оно оформлено верно, то поля помечаются зеленым маркером.
    В противном случае поля помечаются красным маркером и рядом появляется текст замечания.
  %br

  %h5(style="color:#ebcd70;")
    ВАЖНО!
    Если модератор не принял ваше несовершенство, не стесняйтесь задать ему уточняющий вопрос!
  %br
  = image_tag 'img/help/discontent_show.png', align: 'BOTTOM', border: '0', height: '422', width: '623'
  %br
  %br
  %p
    При нажатии на кнопку «Комментировать» вы переходите в поле обсуждения несовершенства,
    где каждый участник может выразить свое мнение или предложить внести коррективы, если, по его мнению,
    несовершенство сформулировано некорректно.
  %br
  %h5(style="color:#ebcd70;")
    ВАЖНО!
    Даже критикуя, уважайте своих коллег! Помните: это не соревнование, а совместная работа.
