
%div.tab-pane(id="fdis_#{discontent.id}")
  .tab-content
    .row
      .col-md-3
        %span.h4 Нововведение:
      .col-md-9
    %div.panel.panel-default
      %div.panel-body
        %button.btn.btn-info.btn-sm.pull-right(data-toggle="modal" data-target="#modalStage3")
          Показать пример
        %h5.text-infoУстраняемое несовершенство:
        =render partial:'discontent/posts/post_short2', object: discontent
        %br

        %hr
        %span.h4.text-success Выберите нововведение:
        %select.form-control(onchange="load_discontent_for_cond(#{discontent.id});" id="select_#{discontent.id}")
          %option#option0(value="option_null")
          - discontent.concept_conditions.each do |cd|
            %option#option1(value="#{cd.id}")=cd.name

        %hr

        #select0
          .panel.panel-info
            .panel-heading
              %h5.text-success
                %b A.*

              -#%a.btn.btn-success.btn-xs.pull-right{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt1", style:'font-size:10px;'} Пояснения

              %p.text-info
                =t('form.novation_what')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt1", style:'font-size:10px;'} Пояснения
              .form-group.has-danger
<<<<<<< HEAD
                =text_area_tag "pa1[#{discontent.id}][name]", @post.get_pa_by_discontent(discontent, :name), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                =text_area_tag "pa1[#{discontent.id}][name]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'


>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
              %p.text-info
                =t('form.novation_how')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt2", style:'font-size:10px;'} Пояснения
              .form-group.has-danger
<<<<<<< HEAD
                =text_area_tag "pa1[#{discontent.id}][content]", @post.get_pa_by_discontent(discontent, :content), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                =text_area_tag "pa1[#{discontent.id}][content]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3


          .panel.panel-info
            .panel-heading
              %h5.text-success
                %b B.*
              %p.text-info
                =t('form.cond')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt3", style:'font-size:10px;'} Пояснения
                .form-group.has-success
<<<<<<< HEAD
                  =text_area_tag "pa1[#{discontent.id}][positive]", @post.get_pa_by_discontent(discontent, :positive), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                  =text_area_tag "pa1[#{discontent.id}][positive]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
              %p.text-info
                =t('form.cond_res')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt4", style:'font-size:10px;'} Пояснения
                .form-group.has-success
<<<<<<< HEAD
                  =text_area_tag "pa1[#{discontent.id}][positive_r]", @post.get_pa_by_discontent(discontent, :positive_r), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                  =text_area_tag "pa1[#{discontent.id}][positive_r]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'

>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
              %p.text-info
                =t('form.cond_s')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt12", style:'font-size:10px;'} Пояснения
                .form-group.has-success
<<<<<<< HEAD
                  =text_area_tag "pa1[#{discontent.id}][positive_s]", @post.get_pa_by_discontent(discontent, :positive_s), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                  =text_area_tag "pa1[#{discontent.id}][positive_s]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'

>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3

          %hr
          %h5.text-success
            %b C.
          %p.text-info
            =t('form.negative')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt7", style:'font-size:10px;'} Пояснения
            .form-group.has-success
<<<<<<< HEAD
              =text_area_tag "pa1[#{discontent.id}][negative]", @post.get_pa_by_discontent(discontent, :negative), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
              =text_area_tag "pa1[#{discontent.id}][negative]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
          %p.text-info
            =t('form.negative_res')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt8", style:'font-size:10px;'} Пояснения
            .form-group.has-success
<<<<<<< HEAD
              =text_area_tag "pa1[#{discontent.id}][negative_r]", @post.get_pa_by_discontent(discontent, :negative_r), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
              =text_area_tag "pa1[#{discontent.id}][negative_r]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'

>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
          %p.text-info
            =t('form.negative_s')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt13", style:'font-size:10px;'} Пояснения
            .form-group.has-success
<<<<<<< HEAD
              =text_area_tag "pa1[#{discontent.id}][negative_s]", @post.get_pa_by_discontent(discontent, :negative_s), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
              =text_area_tag "pa1[#{discontent.id}][negative_s]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'

>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3

          %hr
          %h5.text-success
            %b D.
          %p.text-info
            =t('form.control')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt10", style:'font-size:10px;'} Пояснения
            .form-group.has-success
<<<<<<< HEAD
              =text_area_tag "pa1[#{discontent.id}][control]", @post.get_pa_by_discontent(discontent, :control), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
              =text_area_tag "pa1[#{discontent.id}][control]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
          %p.text-info
            =t('form.control_res')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt11", style:'font-size:10px;'} Пояснения
            .form-group.has-success
<<<<<<< HEAD
              =text_area_tag "pa1[#{discontent.id}][control_r]", @post.get_pa_by_discontent(discontent, :control_r), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
              =text_area_tag "pa1[#{discontent.id}][control_r]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3

          %p.text-info
            =t('form.control_s')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt14", style:'font-size:10px;'} Пояснения
            .form-group.has-success
<<<<<<< HEAD
              =text_area_tag "pa1[#{discontent.id}][control_s]", @post.get_pa_by_discontent(discontent, :control_s), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
              =text_area_tag "pa1[#{discontent.id}][control_s]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3



          %hr
          %h5.text-success E.
          %p.text-info
            =t('form.obstacles_bcd')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt9", style:'font-size:10px;'} Пояснения
          .form-group.has-success
<<<<<<< HEAD
            =text_area_tag "pa1[#{discontent.id}][obstacles]", @post.get_pa_by_discontent(discontent, :obstacles), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
            =text_area_tag "pa1[#{discontent.id}][obstacles]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'

>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3

          %hr
          .panel.panel-info
            .panel-heading
              %h5.text-success
                %b F.*
              %p.text-info
                =t('form.problems')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt5", style:'font-size:10px;'} Пояснения
              .form-group.has-success
<<<<<<< HEAD
                =text_area_tag "pa1[#{discontent.id}][problems]", @post.get_pa_by_discontent(discontent, :problems), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                =text_area_tag "pa1[#{discontent.id}][problems]", '', :class => "concept_cond", rows: 4, style: 'width: 100%;'

>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3

              %p.text-info
                =t('form.reality')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt6", style:'font-size:10px;'} Пояснения
              .form-group.has-success
<<<<<<< HEAD
                =text_area_tag "pa1[#{discontent.id}][reality]",@post.get_pa_by_discontent(discontent, :reality), :class => "concept_cond", rows: 4, style: 'width: 100%;'
=======
                =text_area_tag "pa1[#{discontent.id}][reality]",'', :class => "concept_cond", rows: 4, style: 'width: 100%;'
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
