
%div.tab-pane(id="asp_#{first_cond_show.id}")
  .tab-content
    .row
      .col-md-3
        %span.h4 Нововведение:
      .col-md-9
    %div.panel.panel-default
      %div.panel-body
        -#%button.btn.btn-info.btn-sm.pull-right(data-toggle="modal" data-target="#modalStage3")
        -#  Показать пример
        -unless first_cond_show.concept_post_aspect_id.nil?
          %h5.text-info Устраняемые несовершенства (проблемы):
          -first_cond_show.concept_post_aspect.concept_post.concept_disposts.each  do |cd|
            =render partial:'discontent/posts/post_short2', object: cd
            %br
            %hr
        -else
          =render partial:'discontent/posts/post_short2', object: first_cond_show.discontent unless first_cond_show.discontent.nil?
        %h5.text-success.text-center
          %b=first_cond_show.title
          %br
          %br
        %h5.text-success
          %b A 1
        %p.text-info=t('form.novation_what')
        .form-group
          =simple_format(first_cond_show.name)

        %h5.text-success
          %b A 2
        %p.text-info=t('form.novation_how')
        .form-group.has-danger
          =simple_format(first_cond_show.content)

        %hr
        %h5.text-success
          %b B 1
        %p.text-info=t('form.cond')
        .form-group.has-success= display_content(first_cond_show.positive)

        %h5.text-success
          %b B 2
        %p.text-info=t('form.cond_res')
        - first_cond_show.plan_post_resources.each do |r|
          %h5
            =r.name
            %br
            %small=r.desc

        %h5.text-success
          %b B 3
        %p.text-info=t('form.cond_s')
        .form-group.has-success= display_content(first_cond_show.positive_s)

        %hr
        %h5.text-success
          %b C 1
        %p.text-info=t('form.negative')
        .form-group.has-success= display_content(first_cond_show.negative)

        %h5.text-success
          %b C 2
        %p.text-info=t('form.negative_res')
        .form-group.has-success= display_content(first_cond_show.negative_r)

        %h5.text-success
          %b C 3
        %p.text-info=t('form.negative_s')
        .form-group.has-success= display_content(first_cond_show.negative_s)

        %hr
        %h5.text-success
          %b D 1
        %p.text-info=t('form.control')
        .form-group.has-success= display_content(first_cond_show.control)

        %h5.text-success
          %b D 2
        %p.text-info=t('form.control_res')
        .form-group.has-success= display_content(first_cond_show.control_r)

        %h5.text-success
          %b D 3
        %p.text-info=t('form.control_s')
        .form-group.has-success= display_content(first_cond_show.control_s)

        %hr
        %h5.text-success
          %b E 1
        %p.text-info=t('form.obstacles_bcd')
        .form-group.has-success= display_content(first_cond_show.obstacles)

        %hr
        %h5.text-success
          %b F 1
        %p.text-info=t('form.problems')
        .form-group.has-success= display_content(first_cond_show.problems)

        %h5.text-success
          %b F 2
        %p.text-info=t('form.reality')
        .form-group.has-success= display_content(first_cond_show.reality)




        -##select0
        -#  .panel.panel-info
        -#    .panel-heading
        -#      %h5.text-success
        -#        %b A.*
        -#      %p.text-info
        -#        %b=t('form.novation_what')
        -#      .form-group.has-danger=simple_format(pa.name)
        -#      %p.text-info
        -#        %b=t('form.novation_how')
        -#      .form-group.has-danger=simple_format(pa.content)
        -#
        -#  .panel.panel-info
        -#    .panel-heading
        -#      %h5.text-success
        -#        %b B.*
        -#      %p.text-info
        -#        %b=t('form.cond')
        -#        .form-group.has-success=simple_format(pa.positive)
        -#      %p.text-info
        -#        %b=t('form.cond_res')
        -#        .form-group.has-success=simple_format(pa.positive_r)
        -#      %p.text-info
        -#        %b=t('form.cond_s')
        -#        .form-group.has-success=simple_format(pa.positive_s)
        -#
        -#
        -#  %hr
        -#  %h5.text-success
        -#    %b C.
        -#  %p.text-info
        -#    %b=t('form.negative')
        -#    .form-group.has-success=simple_format(pa.negative)
        -#  %p.text-info
        -#    %b=t('form.negative_res')
        -#    .form-group.has-success=simple_format(pa.negative_r)
        -#  %p.text-info
        -#    %b=t('form.negative_s')
        -#    .form-group.has-success=simple_format(pa.negative_s)
        -#
        -#
        -#  %hr
        -#  %h5.text-success
        -#    %b D.
        -#  %p.text-info
        -#    %b=t('form.control')
        -#    .form-group.has-success=simple_format(pa.control)
        -#  %p.text-info
        -#    %b=t('form.control_res')
        -#    .form-group.has-success=simple_format(pa.control_r)
        -#  %p.text-info
        -#    %b=t('form.control_s')
        -#    .form-group.has-success=simple_format(pa.control_s)
        -#
        -#
        -#
        -#
        -#  %hr
        -#  %h5.text-success E.
        -#  %p.text-info
        -#    %b=t('form.obstacles_bcd')
        -#  .form-group.has-success=simple_format(pa.obstacles)
        -#
        -#  %hr
        -#  .panel.panel-info
        -#    .panel-heading
        -#      %h5.text-success
        -#        %b F.*
        -#      %p.text-info
        -#        %b=t('form.problems')
        -#      .form-group.has-success=simple_format(pa.problems)
        -#      %p.text-info
        -#        %b=t('form.reality')
        -#      .form-group.has-success=simple_format(pa.reality)
