= form_for @plan_post, :html => {:class =>'new_concept_post'} do |f|
  %label 
    %b Цель -
    образ желаемого будущего
  %br
  %field
    = f.text_area :goal
  %div{:class=>'timestamp'} Что, в главном, представляет собой предлагаемое нововведение и каковы его желаемые результаты.
  %br
 
  %br
  %br
  %label 
    %b Первый этап 
  %br
  %field
    = f.text_area :first_step
  %div{:class=>'timestamp'} - Каким образом и в какие сроки реалистично ввести в действие в ДО СГУ данное нововведение, в частности, задействовать ресурсы для него, и почему осуществить это реалистично?
  %br
  %label 
    %b Дальнейшие шаги 
  %br
  %field
    = f.text_area :other_steps
  %div{:class=>'timestamp'} - Каким образом и в какие сроки реалистично ввести в действие в ДО СГУ данное нововведение, в частности, задействовать ресурсы для него, и почему осуществить это реалистично?

  / - unless @ltpost.nil?
  /   = hidden_field_tag 'idea', @ltpost 


  %actions
    = f.submit "",  class: "btn"
