= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|

  - if @post.step< 6
    %h1
      =@post.step
      шаг из 5
    %br


  - if @post.step == 1 or @post.step == 6
    %label
      %b Набросок эссе о проекте:
    %field
      = f.text_area :goal, class: 'wider_area'
    %br

  - if @post.step == 1
    %div{:class=>'timestamp'}
      Дать краткое представление о предлагаемых наборе нововведений и  плане их создания. Обосновать то, почему предлагаются именно они. В данном случае для этого надо показать, что выполняются следующие критерии:
      %br
      1) избранные нововведения обеспечат наибольшие а) повышение спроса на заочное образование и б) увеличение привлекательности бренда высшего образования ИРБиСа;
      %br
      2) возможные негативные последствия этих нововведений несущественные;
      %br
      3) средства (в том числе трудовые ресурсы), при помощи которых планируется создавать нововведения, надежны в работе и, таким образом, нововведения будут с большой вероятностью созданы;
      %br
      4) сам процесс создания нововведений не требует значительных материальных затрат и не представляет существенных затруднений для исполнителей

  - if @post.step==2
    %b Описание нововведений
    %div{:class=>'timestamp'}
      Составить его из разделов, соответствующих несовершенствам, которые в проекте планируется устранить.
      Их в данном случае не менее 12-ти (по числу «обязательных» несовершенств), но может быть и больше.
      Раздел озаглавливается наименованием несовершенства.
      После этого в каждом из первых 12-ти разделов можно либо выдвинуть свой способ устранения «обязательного» несовершенства, либо выбрать уже предложенное для этого нововведение из материалов предыдущей стадии процедуры. В последнем случае в такое нововведение автор проекта имеет право вносить изменения, и если он их не делает, об этом сигнализирует специальная отметка, чтобы при ознакомлении с проектом участники не тратили время на перечитывание одного и того же материала. Вообще-то изменения рекомендуется вносить в отношении детализации описаний ресурсов, поскольку они представляют собой основу проекта.

  - if @post.step == 2  or @post.step == 6
    %br
    %b Выберите нововведения из выпадающего списка для каждого несовершенства (либо кликните по синий ссылке, чтобы добавить свое нововведение, котороые еще не было представлено к соответствующему несовершенству):
    %br
    %br
    -@aspects.each do |asp|
      -unless asp.accepted_posts.empty?
        %i=asp.content
        %br
        %br
        -asp.accepted_posts.each do |dis|
          =dis.show_content.html_safe
          = select_tag "aspect_#{dis.id}", options_from_collection_for_select(dis.pure_conditions, 'id', 'name'), :prompt => 'Выберите нововведение', :onchange => "load_new_aspect(#{dis.id});"
          %br
          = link_to 'либо добавьте свое нововведение по этому несовершенству', add_aspect_plan_post_path(@project, @status, dis.id), :remote => true, :id => "add_new_cond_for_plan_#{dis.id}"
          %br
          -#%i Кликните на название нововведения, чтобы раскрыть его
          .accordion(id= "accordion_concept_#{dis.id}")
            -unless dis.conditions_for_plan(@post).empty?
              -dis.conditions_for_plan(@post).each do |pc|
                =render partial: 'plan/posts/resolve_discontent', :object => pc, as: :p

          %br
          %br

  - if @post.step == 3  or @post.step == 6
    %b Эссе о первом этапе проекта
    %field
      = f.text_area :first_step, class: 'wider_area'

  - if @post.step==3
    %div{:class=>'timestamp'}
      Выбрать из всех нововведений, предлагаемых в проекте, несколько наиболее «ударных» для осуществления на первом этапе проекта. Обосновать то, почему избраны именно они. В данном случае для этого надо показать, что выполняются следующие критерии:
      %br
      1) будет наиболее быстро обеспечен самый ощутимый эффект;
      %br
      2) для создания новых условий потребуются самые простые, нетрудоемкие и дешевые действия.
      %br
      Заметим, что на этом этапе создание каких-то нововведений может быть не доведено до конца с тем, чтобы продолжить его в дальнейшем. Будущее после окончания первого этапа должно быть описано детальнее и шире, чем в предыдущей: подробно описаны создаваемые ресурсы; разобраны средства контроля за работой нововведений, помехи, которые могут возникнуть при формировании новых ресурсов, и способы их предотвращения.

  - if @post.step == 4
    %b Описание нововведений первого этапа:
    %br

  - if @post.step == 4  or @post.step == 6
    %br
    %b 1. Выберете из выпадающего списке те нововведения, которые вы будет использовать при описании первого шага ( выбирайте их столько, сколько вам нужно)
    %br
    %br
    = select_tag 'pa_id', options_from_collection_for_select(@post.post_aspects, 'id', 'name'), :prompt => 'Выберите нововведение', :onchange => "load_new_first_cond(#{@post.id});"
    %br
    %br
    %i Кликните на название нововведения, чтобы раскрыть его и редактировать

    .accordion
      -unless @post.post_first_conds.empty?
        -@post.post_first_conds.each do |fc|
          =render partial: 'plan/posts/first_cond', :object => fc, as: :p

    %br
    %br
    %label
      %b 2. Подробное изложение плана первого этапа проекта:
    %field
      = f.text_area :plan_first, class: 'wider_area'
    %div{:class=>'timestamp'} Детально описать график мероприятий, исполнителей и контроль за его выполнением.

  - if @post.step == 5  or @post.step == 6
    %label
      %b Набросок плана действий по завершению проекта:
    %field
      = f.text_area :plan_other, class: 'wider_area'
    %div{:class=>'timestamp'} Примерно описать итоги каждого последующего этапа, их периодизацию и контроль за созданием и внедрением нововведений.
    %br
    %br
    -#%label
    -#  %b Как будет контролироваться дальнейшее выполнение проекта?
    -#%field
    -#  = f.text_area :plan_control, class: 'wider_area'
    -#%div{:class=>'timestamp'}





  %actions
    = f.submit '',  class: 'btn'
