= render 'shared/help/new_concept'

= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'}, :html => { :class => 'new_or_edit' } do |f|
  .col-md-8
    %div.tab-content#plan_content_form
      -#-@discontents.each do |d|
      -#  =render partial: 'resolve_discontent', locals: { discontent: d }
      -#-@discontents.each do |d|
      -#  =render partial: 'first_cond', locals: { discontent: d }
      -unless @post.post_aspects.nil?
        -@post.post_aspects.each do |cp|
          =render partial: 'first_cond', object: cp

      %div.tab-pane#essay2
        %h3.text-success=t('form.essay1')
        %br
        .panel.panel-info
          .panel-heading=t('form.essay1_notice')
          .panel-body
            %br
            =f.text_area :first_step, rows: 10, style: 'width: 100%;'
      %div.tab-pane#essay1
        %h3.text-success=t('form.essay')
        %br
        .panel.panel-info
          .panel-heading=t('form.essay_notice')
          .panel-body
            =f.text_area :content, rows: 10, style: 'width: 100%;'
            %br
            =t('form.essay_notice2')
            %br
            =f.text_area :goal, rows: 5, style: 'width: 100%;'

      %div.tab-pane#plan2
        %h3.text-success=t('form.plan_first')
        %br
        .panel.panel-info
          .panel-heading
            =t('form.plan_first_notice')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt15", style:'font-size:10px;'} Пояснения

          .panel-body
            %br
            =f.text_area :plan_first,  rows: 10, style: 'width: 100%;'
        %h3.text-success=t('form.plan_all')
        %br
        .panel.panel-info
          .panel-heading
            =t('form.plan_all_notice')
            %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt15", style:'font-size:10px;'} Пояснения

          .panel-body
            %br
            =f.text_area :plan_other,  rows: 10, style: 'width: 100%;' , placeholder: 'Дальнейшие действия'


  .col-md-4
    -unless @post.persisted?
      %h5.text-success#button_create Сохранить проект и приступить к добавлению нововведений?
    =f.submit 'Сохранить', class: "btn btn-success", id: 'save_concept_form'
    %h5
      .small Выберите несовершенство, кликнув по нужной вкладке:
    %ul.nav.nav-tabs.nav-justified
      %li.active
        %a(href="#theall" data-toggle="tab") Образ будущ.
      %li
        %a(href="#thefirst" data-toggle="tab") Первый этап
    .tab-content
      #theall.tab-pane.fade.in.active(onclick="$('#thefirst ul li').removeClass('active');" )
        %ul.nav.nav-tabs.nav-stacked
          -#%li
          -#  %a.text-success(href="#plan1" data-toggle="tab" style='font-size:10px; font-weight: bold;')
          -#    =t('form.plan')
          %li
            %a.text-success(href="#essay1" data-toggle="tab" style='font-size:10px; font-weight: bold;')
              I)
              =t('form.essay')
          -if @post.persisted?
            %li
              =link_to({:action => :add_concept, :first_stage => 0, :concept_empty => 0}, :remote => true, :method => :put, :style => "font-size:10px; font-weight: bold;") do
                =t('form.plan_add_concept')
              -#%a.text-success(href="#modal_concept" class="plan_add_concept" data-toggle="modal" onclick="empty_modal_plan();" data-target="#modal_concept" style='font-size:10px; font-weight: bold;')
              -#  =t('form.plan_add_concept')
            %li
              =link_to({:action => :add_concept, :first_stage => 0, :concept_empty => 1}, :remote => true, :method => :put, :style => "font-size:10px; font-weight: bold;") do
                =t('form.plan_add_empty_concept')
              -#%a.text-success(href="#modal_empty_concept" class="plan_add_concept" data-toggle="modal" data-target="#modal_empty_concept" style='font-size:10px; font-weight: bold;')
              -#  =t('form.plan_add_empty_concept')
            -unless @post.post_aspects_other.nil?
              -@post.post_aspects_other.each do |cp|
                %li
                  %a(href="#asp_#{cp.id}" data-toggle="tab")
                    %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();$('#asp_#{cp.id}').remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                    =cp.title
          -#        ="#{i+1}. #{d.title}"
          -#        %span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if @post.get_pa_by_discontent(d, :name)==''}")
      #thefirst.tab-pane.fade(onclick="$('#theall ul li').removeClass('active');" )
        %ul.nav.nav-tabs.nav-stacked
          %li
            %a.text-success(href="#essay2" data-toggle="tab" style='font-size:10px; font-weight: bold;')
              II)
              =t('form.essay1')
          %li
            %a.text-success(href="#plan2" data-toggle="tab" style='font-size:10px; font-weight: bold;')
              III)
              =t('form.plan')
          -if @post.persisted?
            %li
              =link_to({:action => :add_concept, :first_stage => 1, :concept_empty => 0}, :remote => true, :method => :put, :style => "font-size:10px; font-weight: bold;") do
                =t('form.plan_add_concept')
              -#%a.text-success(href="#modal_concept" class="plan_add_concept" data-toggle="modal" onclick="empty_modal_plan();" data-target="#modal_concept" style='font-size:10px; font-weight: bold;')
              -#  =t('form.plan_add_concept')
            %li
              =link_to({:action => :add_concept, :first_stage => 1, :concept_empty => 1}, :remote => true, :method => :put, :style => "font-size:10px; font-weight: bold;") do
                =t('form.plan_add_empty_concept')
              -#%a.text-success(href="#modal_empty_concept" class="plan_add_concept" data-toggle="modal" data-target="#modal_empty_concept" style='font-size:10px; font-weight: bold;')
              -#  =t('form.plan_add_empty_concept')
            -unless @post.post_aspects_first.nil?
              -@post.post_aspects_first.each do |cp|
                %li
                  %a(href="#asp_#{cp.id}" data-toggle="tab")
                    %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();$('#asp_#{cp.id}').remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                    =cp.title
          -#-if @post.persisted?
          -#  -@post.each_with_index do |d,i|
          -#    %li
          -#      %a(href="#fdis_#{d.id}" data-toggle="tab")
          -#        ="#{i+1}. #{d.title}"
          -#        %span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if @post.get_pa_by_discontent(d, :name, 1)==''}")

  %br
  %br
  %br
  %br
#render_modal_concept