= form_for form_for_light_concept, :url => {:project => @project.id, :stage_id => @post_stage ? @post_stage.id : nil, concept_id: @post_concept ? @post_concept.id : (@cond ? @cond.id : nil), save_form:true, :action => 'update_concept'}, :remote => true, :method => :put do |f|
  #mod
  .row
    .col-md-12
      .text-center
        %p.h5.color-teal
          Краткое название вашего нововведения
        %br
        =f.text_field :title, style: 'width: 100%; height: 30px', placeholder:'Введите краткое название для своего нововведения'
        %br
        %br

  .row#novation_what
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b A1.
          =t('form.novation_what')
        %br
        =f.text_area :name, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 1}
  .row#novation_how
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b A2.
          =t('form.novation_how')
        %br
        =f.text_area :content, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 2}
  .row#cond
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b B1.
          =t('form.cond')
        %br
        =f.text_area :positive, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 3}
  .row#cond_res
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b B2.
          =t('form.cond_res')
  .row
    .col-md-12
      .form-group.has-success{:id => "resources_positive_r", :style => "line-height:20px;"}
        - if form_for_light_concept.persisted?
          -form_for_light_concept.plan_post_resources.by_type('positive_r').each_with_index do |r,i|
            %div.main_resources(id="main_positive_r_#{i+1}" position="#{i+1}")
              .col-md-10
                = autocomplete_field_tag "resor_positive_r[#{i+1}][]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              .col-md-2
                .pull-right
                  %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                    %i.fa.fa-trash-o
                  %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
                    %i.fa.fa-edit
                  %button.btn.btn-success{:type => "button", :title => "Добавить средство",onclick:"return add_new_mean_to_resource(this,'positive_s',#{@project.id});", id: "plus_mean"}
                    %i.fa.fa-plus
              %br
              %br
              %div.desc_resource(id="desc_positive_r_#{i+1}" position="#{i+1}")
                = text_area_tag "res_positive_r[#{i+1}][]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                %br
              %div.col-md-offset-1.col-md-11.means_to_resource(id="means_positive_s_#{i+1}")
                -r.plan_post_resources.by_type('positive_s').each_with_index do |res,ind|
                  %div.main_means(id="main_positive_s_#{i+1}" position="#{i+1}")
                    .col-md-10
                      = autocomplete_field_tag "resor_positive_s[#{i+1}][]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                    .col-md-2
                      .pull-right
                        %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                          %i.fa.fa-trash-o
                        %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
                          %i.fa.fa-edit
                    %br
                    %br
                    %div.desc_mean(id="desc_positive_s_#{i+1}" position="#{i+1}")
                      = text_area_tag "res_positive_s[#{i+1}][]", res.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                      %br

        -else
          %div.main_resources(id="main_positive_r_1" position="1")
            .col-md-10
              = autocomplete_field_tag "resor_positive_r[1][]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
            .col-md-2
              .pull-right
                %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                  %i.fa.fa-trash-o
                %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
                  %i.fa.fa-edit
                %button.btn.btn-success{:type => "button", :title => "Добавить средство",onclick:"return add_new_mean_to_resource(this,'positive_s',#{@project.id});", id: "plus_mean"}
                  %i.fa.fa-plus
            %br
            %br
            %div.desc_resource(id="desc_positive_r_1" position="1" style="display:none;")
              = text_area_tag "res_positive_r[1][]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
              %br
            %div.col-md-offset-1.col-md-11.means_to_resource(id="means_positive_s_1")
              %div.main_means(id="main_positive_s_1" position="1")
                .col-md-10
                  = autocomplete_field_tag "resor_positive_s[1][]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                .col-md-2
                  .pull-right
                    %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                      %i.fa.fa-trash-o
                    %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
                      %i.fa.fa-edit
                %br
                %br
                %div.desc_mean(id="desc_positive_s_1" position="1" style="display:none;")
                  = text_area_tag "res_positive_s[1][]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
                  %br

      %a.btn.btn-warning{onclick:"return add_new_resource_to_concept('positive_r','positive_s',#{@project.id});", id:"add_positive_r"} Добавить ресурс


  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 4}

  .row#negative_h
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b C1.
          =t('form.negative_h')
        %br
        =f.text_area :negative, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 6}
  .row#negative_res
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b C2.
          =t('form.negative_res')

  .row
    .col-md-12
      .form-group.has-success{:id => "resources_negative_r", :style => "line-height:20px;"}
        - if form_for_light_concept.persisted?
          -form_for_light_concept.plan_post_resources.by_type('negative_r').each_with_index do |r,i|
            %div.main_resources(id="main_negative_r_#{i+1}" position="#{i+1}")
              .col-md-10
                = autocomplete_field_tag "resor_negative_r[#{i+1}][]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              .col-md-2
                .pull-right
                  %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                    %i.fa.fa-trash-o
                  %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
                    %i.fa.fa-edit
                  %button.btn.btn-success{:type => "button", :title => "Добавить средство",onclick:"return add_new_mean_to_resource(this,'negative_s',#{@project.id});", id: "plus_mean"}
                    %i.fa.fa-plus
              %br
              %br
              %div.desc_resource(id="desc_negative_r_#{i+1}" position="#{i+1}")
                = text_area_tag "res_negative_r[#{i+1}][]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                %br
              %div.col-md-offset-1.col-md-11.means_to_resource(id="means_negative_s_#{i+1}")
                -r.plan_post_resources.by_type('negative_s').each_with_index do |res,ind|
                  %div.main_means(id="main_negative_s_#{i+1}" position="#{i+1}")
                    .col-md-10
                      = autocomplete_field_tag "resor_negative_s[#{i+1}][]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                    .col-md-2
                      .pull-right
                        %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                          %i.fa.fa-trash-o
                        %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
                          %i.fa.fa-edit
                    %br
                    %br
                    %div.desc_mean(id="desc_negative_s_#{i+1}" position="#{i+1}")
                      = text_area_tag "res_negative_s[#{i+1}][]", res.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                      %br

        -else
          %div.main_resources(id="main_negative_r_1" position="1")
            .col-md-10
              = autocomplete_field_tag "resor_negative_r[1][]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
            .col-md-2
              .pull-right
                %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                  %i.fa.fa-trash-o
                %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
                  %i.fa.fa-edit
                %button.btn.btn-success{:type => "button", :title => "Добавить средство",onclick:"return add_new_mean_to_resource(this,'negative_s',#{@project.id});", id: "plus_mean"}
                  %i.fa.fa-plus
            %br
            %br
            %div.desc_resource(id="desc_negative_r_1" position="1" style="display:none;")
              = text_area_tag "res_negative_r[1][]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
              %br
            %div.col-md-offset-1.col-md-11.means_to_resource(id="means_negative_s_1")
              %div.main_means(id="main_negative_s_1" position="1")
                .col-md-10
                  = autocomplete_field_tag "resor_negative_s[1][]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                .col-md-2
                  .pull-right
                    %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                      %i.fa.fa-trash-o
                    %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
                      %i.fa.fa-edit
                %br
                %br
                %div.desc_mean(id="desc_negative_s_1" position="1" style="display:none;")
                  = text_area_tag "res_negative_s[1][]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
                  %br

      %a.btn.btn-warning{onclick:"return add_new_resource_to_concept('negative_r','negative_s',#{@project.id});", id:"add_negative_r"} Добавить ресурс
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 7}

  .row#control
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b D1.
          =t('form.control')
        %br
        =f.text_area :control, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 9}
  .row#control_res
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b D2.
          =t('form.control_res')

  .row
    .col-md-12
      .form-group.has-success{:id => "resources_control_r", :style => "line-height:20px;"}
        - if form_for_light_concept.persisted?
          -form_for_light_concept.plan_post_resources.by_type('control_r').each_with_index do |r,i|
            %div.main_resources(id="main_control_r_#{i+1}" position="#{i+1}")
              .col-md-10
                = autocomplete_field_tag "resor_control_r[#{i+1}][]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              .col-md-2
                .pull-right
                  %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                    %i.fa.fa-trash-o
                  %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
                    %i.fa.fa-edit
                  %button.btn.btn-success{:type => "button", :title => "Добавить средство",onclick:"return add_new_mean_to_resource(this,'control_s',#{@project.id});", id: "plus_mean"}
                    %i.fa.fa-plus
              %br
              %br
              %div.desc_resource(id="desc_control_r_#{i+1}" position="#{i+1}")
                = text_area_tag "res_control_r[#{i+1}][]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                %br
              %div.col-md-offset-1.col-md-11.means_to_resource(id="means_control_s_#{i+1}")
                -r.plan_post_resources.by_type('control_s').each_with_index do |res,ind|
                  %div.main_means(id="main_control_s_#{i+1}" position="#{i+1}")
                    .col-md-10
                      = autocomplete_field_tag "resor_control_s[#{i+1}][]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                    .col-md-2
                      .pull-right
                        %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                          %i.fa.fa-trash-o
                        %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
                          %i.fa.fa-edit
                    %br
                    %br
                    %div.desc_mean(id="desc_control_s_#{i+1}" position="#{i+1}")
                      = text_area_tag "res_control_s[#{i+1}][]", res.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                      %br

        -else
          %div.main_resources(id="main_control_r_1" position="1")
            .col-md-10
              = autocomplete_field_tag "resor_control_r[1][]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
            .col-md-2
              .pull-right
                %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                  %i.fa.fa-trash-o
                %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
                  %i.fa.fa-edit
                %button.btn.btn-success{:type => "button", :title => "Добавить средство",onclick:"return add_new_mean_to_resource(this,'control_s',#{@project.id});", id: "plus_mean"}
                  %i.fa.fa-plus
            %br
            %br
            %div.desc_resource(id="desc_control_r_1" position="1" style="display:none;")
              = text_area_tag "res_control_r[1][]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
              %br
            %div.col-md-offset-1.col-md-11.means_to_resource(id="means_control_s_1")
              %div.main_means(id="main_control_s_1" position="1")
                .col-md-10
                  = autocomplete_field_tag "resor_control_s[1][]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                .col-md-2
                  .pull-right
                    %button.btn.btn-danger{:type => "button",:title => "Удалить ресурс", onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
                      %i.fa.fa-trash-o
                    %button.btn.btn-warning{:type => "button", :title => "Добавить описание", onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
                      %i.fa.fa-edit
                %br
                %br
                %div.desc_mean(id="desc_control_s_1" position="1" style="display:none;")
                  = text_area_tag "res_control_s[1][]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
                  %br

      %a.btn.btn-warning{onclick:"return add_new_resource_to_concept('control_r','control_s',#{@project.id});", id:"add_control_r"} Добавить ресурс

  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 10}

  .row#obstacles_bcd
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b E1.
          =t('form.obstacles_bcd')
        %br
        =f.text_area :obstacles, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 12}
  .row#problems
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b F1.
          =t('form.problems')
        %br
        =f.text_area :problems, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 13}
  .row#reality
    .col-md-12
      .text-center
        %p.h5.color-teal
          %b F2.
          =t('form.reality')
        %br
        =f.text_area :reality, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
        %br
  -if @project.status == 9
    = render partial: 'plan/posts/note_list', :locals => {:post_field => form_for_light_concept,:type_fd => 14}

  .pull-right
    =f.submit 'Сохранить', class: 'btn btn-success'
