#popup-plan.popup-window.popup-project.detailed_popup.popup_w1150.mfp-hide
  .popup.popup_rounded.popup_color_theme_stage5
    .modal_title
      .row
        .col-md-8
          %h4.bold.font_dark_grey
            Проект
            ="\"#{trim_content(@post.name)}\""
        .col-md-4
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  = @post.comments.count
                  %i.fa.fa-comment.theme_font_color
                = link_to({controller: @post.class.name.underscore.pluralize ,action: :like, project: @project, id: @post.id, against: false, remote: true}, method: :put, id: "plus_post_#{@post.id}") do
                  %span.bold
                    %span(id="plus_counter_#{@post.id}")
                      = @post.users_pro.count
                    %i.fa.fa-thumbs-up.theme_font_color
                = link_to({controller: @post.class.name.underscore.pluralize, action: :like, project: @project,  id: @post.id, against: true, remote: true}, method: :put, id: "minus_post_#{@post.id}") do
                  %span.bold
                    %span(id="minus_counter_#{@post.id}")
                      = @post.users_against.count
                    %i.fa.fa-thumbs-down.theme_font_color
                %span
                  %i.fa.fa-exclamation-triangle.font_lighter_grey
                %small
                  = Russian::strftime(@post.created_at, '%d.%m.%Y')
    .popup-post-info
      .row.info-block
        .col-md-4.popup-post-block
          =image_tag 'no-ava.png'
          %span
            = @post.user
        .col-md-8.popup-right-tabs
          .nav-tabs-one
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab-1"} Описание проекта
              %li
                %a{"data-toggle" => "tab", :href => "#tab-2"} Нововведения и план мероприятий

    .clearfix
    .tab-content
      #tab-1.tab-pane.fade.in.active
        .container
          .row
            .col-md-6.com_dashed_border.right.popup_collapsable_col.collapse.in
              %button.expand_button.remove_col.btn_reset{"data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
              .divider25
              .stripe-qa
                .lined-heading
                  %span.bold-stripe
                    Коротко о проекте
                %p
                  = @post.goal
              .stripe-qa
                .lined-heading
                  %span.bold-stripe
                    Эссе по проекту. Пояснения и обоснования
                %p
                  = @post.content
              .stripe-qa
                .lined-heading
                  %span.bold-stripe
                    Этапы проекта
                .stages-blocks
                  - @post.stages.each do |stage|
                    .lined-heading
                      -if stage.date_begin and stage.date_end
                        = "#{Russian::strftime(stage.date_begin, '%d %b %Y')} - #{Russian::strftime(stage.date_end, '%d %b %Y')}"
                      %span.normal-stripe
                        = stage.name

              -#.description-block
              -#  %span.description-title Коротко о проекте
              -#  %p
              -#    = simple_format(post.goal)
              -#.description-block
              -#  %span.description-title Эссе по проекту. Пояснения и обоснования
              -#  %p
              -#    = post.content
              -#.description-block
              -#  %span.description-title Этапы проекта
              -#  .stages-blocks
              -#    - post.stages.each do |stage|
              -#      .lined-heading
              -#        -if stage.date_begin and stage.date_end
              -#          = "#{Russian::strftime(stage.date_begin, '%d %b %Y')} - #{Russian::strftime(stage.date_end, '%d %b %Y')}"
              -#        %span.normal-stripe
              -#          = stage.name

            .col-md-6.comment_col.popup_expandable_col
              %button.expand_button.add_col.btn_reset.theme_font_color.bold{"data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"} открыть описание проекта
              .divider15
              #myCarousel.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner.chat-messages{:role => "listbox"}
                  -if @comments.present?
                    - @comments.each_slice(5).with_index do |slice, i|
                      .item{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}"}
                        = render partial:'shared/comment', collection: slice
                  -else
                    .item.active

              .divider15
              = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }

              -if @comments.count > 5
                %nav.text-center
                  %ul.pagination
                    - @comments.each_slice(5).with_index do |slice, i|
                      %li
                        %a.myCarousel-target{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}", "data-slide-to" => "#{i}", "data-target" => "#myCarousel"}
                          ="#{i+1}"

        .divider25
      #tab-2.tab-pane.fade
        .container.timeline-cont
          .vertical-timeline
            .row
              .col-md-12.col-sm-12
                .v-timeline-col
                  - @post.stages.each_with_index do |stage, number|
                    .entry-top-badge.timel-back-b1f0c1
                      %span.top-badge-entry-stage
                        = "#{number + 1} этап"
                      %span.top-badge-entry-date
                        -if stage.date_begin and stage.date_end
                          = "#{Russian::strftime(stage.date_begin, '%d %b %Y')} - #{Russian::strftime(stage.date_end, '%d %b %Y')}"
                      %span.top-badge-entry-theme
                        = stage.name
                    - stage.plan_post_aspects.each do |aspect|
                      .row
                        .col-md-6.col-sm-6.left-col-timeline.timel-line-b1f0c1
                          .entry
                            .entry-head.timel-back-8cf0ba
                              = aspect.title
                            .entry-content
                              %p
                                = aspect.name
                              .entry-descript-tags
                                - aspect.plan_post_resources do |resource|
                                  %span.timel-back-8cf0ba
                                    = resource.name
                        .col-md-6.col-sm-6.right-col-timeline.timel-line-b1f0c1
                          .entry-dates-block
                            - aspect.plan_post_actions.each do |action|
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date
                                    = Russian::strftime(stage.date_end, '%d %b %Y')
                                  %span.badge-name
                                    = action.name
                                .badge-tags
                                  - action.plan_post_resources.each do |action_resource|
                                    .badge-tag.timel-back-8cf0ba
                                      = action_resource.name
