#modal_concept.modal.fade{"aria-hidden" => "true", "data-backdrop" => "false", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.btn.btn-primary.pull-right(type = "button" data-dismiss="modal") Закрыть
        %h4#myModalLabel.modal-title Добавление нововведений
      .modal-body
        #option_for_select_concept(project="#{@project.id}" post="#{@post.id}" stage="#{@post_stage.id}")
        = link_to 'Добавить пустое нововведение',  add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage.id, save_form: true), remote: true, method: :put, id: 'new_concept', class: 'btn btn-success pull-right'
        %br
        %h4.color-green Новые идеи:
        - @new_ideas.each_with_index do |post,ind|
          .row.plus-concept(id="tr_plus_concept_#{post.id}")
            .col-md-1
              =ind+1
            .col-md-8
              - if post.title!=''
                =link_to view_concept_plan_post_path(@project, @post, :con_id => post.id, :new_idea => true), :method => :get, :remote => true, :class => "color-teal", "data-toggle" => "collapse", "data-target" => "collapse_plus_concept_#{post.id}", :style => "text-decoration:none;", :id => "view_post_concept_#{post.id}" do
                  =post.title
              - else
                Без названия
            .col-md-2(class="td_plus_concept_#{post.id}")
              -if plus_concept_new_idea?(@post_stage,post)
                .label.label-success Добавлено
            .col-md-1
              .pull-right
                =link_to add_form_for_concept_plan_post_path(@project, @post,:stage_id => @post_stage.id, :concept_id => post.id, :save_form => true, :new_idea => true), :method => :put, :remote => true, :id => "plus_post_concept_#{post.id}" do
                  %button.btn.btn-sm.btn-warning{:type => "button"}
                    %i.fa.fa-plus
          .concept-devider
        %br
        %h4.color-teal Выберите нововведение:
        - @disposts.each do |post|
          -if post.dispost_concepts.by_status(0).present?
            -#%span.label(class= "#{class_for_type_field(post,1)}" id="#{id_for_type_field(1)}_#{post.id}")=name_for_type_field(1)
            -#=post.content
            -#%br
            -#%ul(id="post_content_#{post.id}" style="list-style: disc inside;" )
            -#  -post.discontent_posts.each do |dp|
            -#    %li.union-list{:id => "li_id_#{dp.id}"}=dp.content

            -#%a{"data-toggle" => "collapse", "data-target" => "collapse_dis_concept_#{post.id}", :style => "text-decoration:none;"}
            -#  =post.content
            -#%div.collapse{:id => }
            %span{:id => "view_what_#{post.id}"}
              %span.label(class= "#{class_for_type_field(post,1)}" id="#{id_for_type_field(1)}_#{post.id}")=name_for_type_field(1)
              =post.content
            %span
              =link_to view_concept_plan_post_path(@project, @post,:stage_id => @post_stage.id, :post_id => post.id, :what_view => true), :method => :get, :remote => true, :class => "color-teal pull-right", "data-toggle" => "collapse", "data-target" => "collapse_dis_concept_#{post.id}", :style => "text-decoration:none;", :id => "view_dis_concept_#{post.id}" do
                .label.label-success{:id => "view_concepts_#{post.id}"} Показать решения
            %br
            %br
            -#=render partial:'discontent/posts/post_short2', object: post
            -#%br
            -#- post.dispost_concepts.by_status(0).each_with_index do |pa, index|
            -#  .row.plus-concept(id="tr_plus_concept_#{post.id}_#{pa.post_aspects.first.id}")
            -#    .col-md-1
            -#      =index+1
            -#    .col-md-8
            -#      - if pa.post_aspects.first.title!=''
            -#        =link_to view_concept_plan_post_path(@project, @post, :post_id => post.id, :con_id => pa.post_aspects.first.id), :method => :get, :remote => true, :class => "color-teal", "data-toggle" => "collapse", "data-target" => "collapse_plus_concept_#{post.id}_#{pa.post_aspects.first.id}", :style => "text-decoration:none;", :id => "view_post_concept_#{post.id}_#{pa.post_aspects.first.id}" do
            -#          =pa.post_aspects.first.title
            -#      - else
            -#        Без названия
            -#    .col-md-2(class="td_plus_concept_#{pa.post_aspects.first.id}")
            -#      -if plus_concept?(@post_stage,pa)
            -#        .label.label-success Добавлено
            -#    .col-md-1
            -#      .pull-right
            -#        =link_to add_form_for_concept_plan_post_path(@project, @post,:stage_id => @post_stage.id, :concept_id => pa.post_aspects.first.id, :save_form => true), :method => :put, :remote => true, :id => "plus_post_concept_#{pa.id}" do
            -#          %button.btn.btn-sm.btn-warning{:type => "button"}
            -#            %i.fa.fa-plus
            -#  .concept-devider
        %br
        = link_to 'Добавить пустое нововведение',  add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage.id, save_form: true), remote: true, method: :put, id: 'new_concept', class: 'btn btn-success pull-right'

      .modal-footer(style="margin-top:30px;padding-bottom:10px;padding-top:10px;padding-right:10px;")
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Закрыть

-#- unless @post.post_stages.nil?
-#  %ul#menu-levels-collapse.side-nav
-#    -@post.post_stages.each_with_index do |stage, index|
-#      %li.panel
-#        %a.accordion-toggle{"data-parent" => "#menu-levels-collapse", "data-toggle" => "collapse", :href => "#sub-menu-#{index}-collapse"}
-#          %b="Этап #{index+1}. "
-#          =stage.name
-#        - unless stage.plan_post_aspects.nil?
-#          %ul.concept_side_list.panel-collapse.collapse.in{:id => "sub-menu-#{index}-collapse"}
-#            - stage.plan_post_aspects.each_with_index do |concept|
-#              %li.concept_side{:id => "li_concept_#{concept.id}"}
-#                -#=link_to get_concept_plan_post_path(@project, @post, :con_id => concept.id), :method => :get, :remote => true do
-#                %a{:href => "#", :onclick => "get_concept_save(#{concept.id})"}
-#                  =concept.title


-##modal_concept.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
-#  .modal-dialog.modal-lg
-#    .modal-content
-#      .modal-header
-#        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
-#        %h4#myModalLabel.modal-title Добавление нововведений
-#      .modal-body
-#        #option_for_select_concept(project="#{@project.id}" post="#{@post.id}" stage="#{@post_stage.id}")
-#        %h4.text-primary Выберите тему:
-#        %select.form-control#select_aspect(onchange="plan_select_aspect(this);")
-#          %option#option0(value="0") Выберите тему
-#          - @aspects.each do |asp|
-#            %option(value="#{asp.id}")=asp.content
-#
-#        %h4.text-primary Выберите нововведение:
-#        %select.form-control#select_concept(disabled="disabled" onchange="plan_select_concept(this);")
-#        %hr
-#        = link_to 'Добавить свое нововведение',  add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage, new_concept: true), remote: true,method: :put, id: 'new_concept', class: 'btn btn-success btn-block'
-#        %hr
-#        #aspect_concepts
-#        %br
-#        .text-success#concept_success(style='display:none;')
-#          Нововведение успешно добавлено
-#        .text-danger#concept_failed(style='display:none;')
-#          Заполните, пожалуйста, все поля
-#
-#      .modal-footer(style="margin-top:30px;padding-bottom:10px;padding-top:10px;padding-right:10px;")
-#        %button.btn.btn-primary(type = "button" data-dismiss="modal") Закрыть


-#= form_for  @post, :url => {:project => @project.id, :action => 'add_concept'}, :remote => true, :method => :put, :id => 'form_add_concept' do |f|
-#= form_tag(add_concept_plan_post_path(@project, @post,save_form:true,concept_empty:@concept_empty,first_stage:@first_stage), {method: :put, remote: true,  id: 'form_add_concept' }) do
-#  -if @concept_empty == "0"
-#%button.btn.btn-primary.pull-right(type = "button" data-dismiss="modal" style="margin-right:5px;") Закрыть
-#-if @concept_empty == "1"
-#  %h4.text-primary Напишите название своего нововведения:
-#  %input.form-control(type="text" name="new_post_aspect_title" style='width: 100%; height: 30px' placeholder='Введетие краткое название для нововведения')
-#%br
-#%hr
-#.row.pull-right
-#  %button.btn.btn-primary(type = "button" data-dismiss="modal") Закрыть
-#  %input.btn.btn-success{:type => "submit", :value => "Сохранить"}
-#= select_tag 'select_aspect', options_from_collection_for_select(@aspects, "id", "content"),
-# :prompt => 'Выберите тему' , style:'margin-left:15px; margin-top:10px; height: 30px;'
-#(onchange="load_discontent_for_cond(#{aspect.id});" id="select1_#{acpect.id}")