#modal_concept.modal.fade{"aria-hidden"=> "true", "data-backdrop"=> "false", "aria-labelledby"=> "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-xxl
    .modal-content
      .modal-header
        %button.btn.btn-primary.pull-right(type = "button" data-dismiss="modal")=t('form.close')
        %h4#myModalLabel.modal-title=t('form.plan.concept.add_list')
      .modal-body
        #option_for_select_concept(project="#{@project.id}" post="#{@post.id}" stage="#{@post_stage ? @post_stage.id : nil}")
        = link_to t('form.plan.concept.add_empty'), add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage, save_form: true), remote: true, method: :put, id: 'new_concept', class: 'btn btn-success pull-right'
        %br
        .row
          .col-md-12
            .col-md-6
              -if @new_ideas.present?
                %h4.color-green=t('form.plan.concept.new_ideas')
                - @new_ideas.each_with_index do |post, ind|
                  .row.plus-concept(id="tr_plus_concept_#{post.id}")
                    .col-md-1
                      =ind+1
                    .col-md-8
                      - if post.title!=''
                        =link_to view_concept_plan_post_path(@project, @post, con_id: post.id, new_idea: true), method: :get, remote: true, class: "color-teal", "data-toggle"=> "collapse", "data-target"=> "collapse_plus_concept_#{post.id}", style: "text-decoration:none;", id: "view_post_concept_#{post.id}" do
                          =post.title
                      - else
                        =t('show.without_name')
                    .col-md-2(class="td_plus_concept_#{post.id}")
                      -if plus_concept_new_idea?(@post, @post_stage, post)
                        .label.label-success=t('form.plan.concept.add')
                    .col-md-1
                      .pull-right
                        =link_to add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage, concept_id: post.id, save_form: true, new_idea: true), method: :put, remote: true, id: "plus_post_concept_#{post.id}" do
                          %button.btn.btn-sm.btn-warning{type: "button"}
                            %i.fa.fa-plus
                  .concept-devider
              %br
              %h4.color-teal=t('form.plan.concept.select')

              %div.modal-plan-concepts-tabs(role="tabpanel")
                %ul.nav.nav-tabs(role="tablist")
                  %li.active(role="presentation")
                    %a{href: "#tab_plan_discontents", "aria-controls" => "tab_plan_discontents", "data-toggle" => "tab", role: "tab"}
                      По несовершенствам
                  %li(role="presentation")
                    %a{href: "#tab_plan_concepts", "aria-controls" => "tab_plan_concepts", "data-toggle" => "tab", role: "tab"}
                      По нововведениям

              .tab-content
                #tab_plan_discontents.tab-pane.fade.clearfix.in.active(role="tabpanel")
                  - @disposts.each do |post|
                    -if post.dispost_concepts.by_status(0).present?
                      .row
                        .col-md-8
                          %span{id: "view_what_#{post.id}"}
                            = post.content
                        .col-md-1
                          ="#{@disposts_all == 0 ? 0 : ((post.final_votings.by_positive.size/@disposts_all.to_f)*100).round}%"
                        .col-md-3
                          %span
                            =link_to view_concept_plan_post_path(@project, @post, stage_id: @post_stage, post_id: post.id, what_view: true), method: :get, remote: true, class: "color-teal pull-right", "data-toggle"=> "collapse", "data-target"=> "collapse_dis_concept_#{post.id}", style: "text-decoration:none;" do
                              .label.label-success{id: "view_concepts_#{post.id}"}=t('form.plan.concept.show_decision')

                      %div{id: "view_dis_concept_#{post.id}"}
                      .plan-devider


                #tab_plan_concepts.tab-pane.fade(role="tabpanel")
                  - @concepts.each do |post|
                    -if post.concept_disposts.present?
                      .row
                        .col-md-5
                          %span{id: "view_what_#{post.id}"}
                            - if post.post_aspect.title!=''
                              =post.post_aspect.title
                            - else
                              =t('show.without_name')
                        .col-md-3
                          ="#{post.concept_disposts.where(concept_post_discontents: { complite: [2, 3] }).size}"
                          ="/"
                          ="#{post.sum_main_disposts(@disposts_all)}%"
                          ="/"
                          ="#{post.concept_disposts.where(concept_post_discontents: { complite: [1, nil] }).size}"
                          ="/"
                          ="#{post.sum_other_disposts(@disposts_all)}%"

                        .col-md-3
                          %span
                            =link_to view_concept_plan_post_path(@project, @post, stage_id: @post_stage, con_id: post.id, what_view_concept: true), method: :get, remote: true, class: "color-teal pull-right", "data-toggle"=> "collapse", "data-target"=> "collapse_dis_concept_#{post.id}", style: "text-decoration:none;" do
                              .label.label-success{id: "view_concepts_#{post.id}"} Показать несовершенства
                        .col-md-1
                          .pull-right
                            =link_to add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage, concept_id: post.post_aspect.id, save_form: true), method: :put, remote: true, id: "plus_post_concept_#{post.id}" do
                              %button.btn.btn-sm.btn-warning{type: "button"}
                                %i.fa.fa-plus

                      %div{id: "view_dis_concept_#{post.id}"}
                      .plan-devider


            .col-md-6
              -if @post.post_aspects.present?
                %h4.color-green Добавленные нововведения:
                #right_concept_list
                  - @post.post_aspects.each_with_index do |post, ind|
                    .row.plus-concept(id="tr_right_list_concept_#{post.id}")
                      .col-md-11
                        - if post.title!=''
                          =link_to view_concept_plan_post_path(@project, @post, con_id: post.id, new_idea: true), method: :get, remote: true, class: "color-teal", "data-toggle"=> "collapse", "data-target"=> "collapse_plus_concept_#{post.id}", style: "text-decoration:none;", id: "view_post_concept_#{post.id}" do
                            =post.title
                        - else
                          =t('show.without_name')
                      .col-md-1
                        .pull-right
                          =link_to destroy_concept_plan_post_path(@project, @post, con_id: post.id, stage_id: @post_stage, fast_remove: true), method: :delete, remote: true, data: {confirm: t('confirm.delete_concept')}, id: "destroy_post_concept_#{post.id}" do
                            %button.btn.btn-sm.btn-danger{type: "button"}
                              %i.fa.fa-minus

                    .concept-devider
              %br


        %br
        = link_to t('form.plan.concept.add_empty'), add_form_for_concept_plan_post_path(@project, @post, stage_id: @post_stage, save_form: true), remote: true, method: :put, id: 'new_concept', class: 'btn btn-success pull-right'

      .modal-footer(style="margin-top:30px;padding-bottom:10px;padding-top:10px;padding-right:10px;")
        %button.btn.btn-primary(type = "button" data-dismiss="modal")=t('form.close')
