#popup-plan.popup-window.popup-project.detailed_popup.popup_w1150.mfp-hide
  .popup.popup_rounded.popup_color_theme_stage5
    .modal_title
      .row
        .col-md-8
          %h4.bold.font_dark_grey
            =trim_content(@post.name)
        .col-md-4
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  %span(class="cc_post_#{@post.id}")
                    = @post.comments.count
                  %i.fa.fa-comment.theme_font_color
                = link_to({controller: @post.class.name.underscore.pluralize ,action: :like, project: @project, id: @post.id, against: false}, remote: true, method: :put, id: "like_post_#{@post.id}") do
                  %span.bold
                    %span(id="lk_post_#{@post.id}" class="lk_post_#{@post.id}")
                      = @post.users_pro.count
                    %i.fa.fa-thumbs-up.theme_font_color
                = link_to({controller: @post.class.name.underscore.pluralize, action: :like, project: @project,  id: @post.id, against: true}, remote: true, method: :put, id: "dislike_post_#{@post.id}") do
                  %span.bold
                    %span(id="dlk_post_#{@post.id}" class="dlk_post_#{@post.id}")
                      = @post.users_against.count
                    %i.fa.fa-thumbs-down.theme_font_color
                - if @post.notes.present?
                  %span
                    %i.fa.fa-exclamation-triangle.font_lighter_grey
                %small
                  = Russian::strftime(@post.created_at, '%d.%m.%Y')
                - if boss? or role_expert? or stat_expert?
                  = link_to({controller: @post.class.name.underscore.pluralize, action: :discuss_status, id: @post.id, approve_status: 1}, remote: true, method: :put, class: "link_status", id: "approve_stat_post_#{@post.id}") do
                    %span.label_approve.label(class="#{label_approve_stat(@post)}")
                      = t('show.important')
                - elsif @post.approve_status
                  %span.label.label-success=t('show.important')
    .modal_body
      .popup-post-info
        .row.info-block
          .col-md-9.popup-right-tabs
            .nav-tabs-one
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#tab-1"}
                    %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active
                      Описание
                      проектного предложения
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-2"}
                    %button.btn.btn_cab_mod.type2.warm_sandy.btn_toggle.btn_reset.active
                      График реализации проекта
          .col-md-3
            .popup-post-block.pull-right
              =image_tag 'no-ava.png'
              %span.font_black.text-center
                =@post.user

      .clearfix
      .tab-content.modal_content
        #tab-1.tab-pane.fade.in.active
          .container.modal_content
            .row
              .col-md-6.com_dashed_border.right.popup_collapsable_col.collapse.in
                %button.expand_button.remove_col.btn_reset{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
                .divider25
                %a.a_font_reset.collapser_type2.with_plus.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab4-1"}
                  Описание проекта
                  %i.fa.fa-plus.font_color_stage5.collapse_plus
                #cab4-1.collapse
                  .divider5
                  %h5.bold Цели и ожидаемые результаты
                  %p
                    =@post.goal
                  .divider15
                  %h5.bold Краткое описание проекта (усовершенствования)
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Для кого этот проект (выгода)
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Ожидаемые результаты
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Длительность проекта
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Потенциальный руководитель
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Потенциальная  команда
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Необходимые финансовые ресурсы
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Необходимые технические ресурсы
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Необходимые внешние ресурсы
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Привлекаемые смежные подразделения и команды
                  %p.text
                    =@post.goal
                  .divider15
                %a.a_font_reset.collapser_type2.with_plus.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab4-2"}
                  Организационные риски
                  %i.fa.fa-plus.font_color_stage5.collapse_plus
                #cab4-2.collapse
                  .divider5
                  %h5.bold Недостаточно  человеческих ресурсов
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Участники проекта слабо вовлечены в работу над проектом
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Квалификации участников проекта не позволяет достичь необходимых  результатов
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold В Компании не поддерживаются изменения, связанные с реализацией проекта
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Нет поддержки проекта со стороны  смежных  подразделений и команд
                  %p.text
                    =@post.goal
                  .divider15
                %a.a_font_reset.collapser_type2.with_plus.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab4-3"}
                  Ресурсные риски
                  %i.fa.fa-plus.font_color_stage5.collapse_plus
                #cab4-3.collapse
                  .divider5
                  %h5.bold Высокая конкуренция за ограниченные ресурсы Компании
                  %p.text
                    =@post.goal
                  .divider15
                %a.a_font_reset.collapser_type2.with_plus.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab4-4"}
                  Риски реализации
                  %i.fa.fa-plus.font_color_stage5.collapse_plus
                #cab4-4.collapse
                  .divider5
                  %h5.bold Полезный эффект проекта возможно не будет достигнут
                  %p.text
                    =@post.goal
                  .divider15
                  %h5.bold Возможны негативные последствия в связи с реализацией проекта
                  %p.text
                    =@post.goal
                  .divider15

              .col-md-6.comment_col.popup_expandable_col.ps_cont
                %button.expand_button.add_col.btn_reset.theme_font_color.bold{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
                  открыть описание проекта
                .divider15
                .chat-messages
                  = render partial:'shared/comment', collection: @comments
                .divider15
                = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }

            .divider25
        #tab-2.tab-pane.fade
          .container
            .row
              .col-md-12.col-sm-12
