.media{id: "post_#{post_estimate.id}"}
  = render 'users/user_post', user: post_estimate.user
  .media-body
    .media-heading
      =link_to post_estimate.user, user_path(@project, post_estimate.user) if post_estimate.user
    .col-md-8
      %span=post_estimate.name
      %span
        =link_to t('link.more'), plan_post_path(@project, post_estimate)
      %br
      =simple_format(post_estimate.goal)
      %br
      =simple_format(post_estimate.content)
    -if @project.status == 11 and current_user.voted_plan_posts.by_project(@project.id).size == 0
      .col-md-4
        - if can_vote?(post_estimate.voted(current_user).size, @number_v, @votes)
          =link_to "/project/#{@project.id}/plan/vote/#{post_estimate.id}", remote: true, method: :put, class: "btn btn-default btn-lg vote-button pull-right", id: "vote_#{post_estimate.id}" do
            %i.fa.fa-thumbs-up
            -if boss?
              =post_estimate.voted_users.size
            =t('voting.vote')
        -else
          %a.btn.btn-lg.disabled.vote-button.pull-right{class: "#{vote_post?(post_estimate) ? 'btn-success' : 'btn-default'}"}
            %i.fa.fa-thumbs-up
            -if boss?
              =post_estimate.voted_users.size
            =t('voting.vote')
    = render 'shared/post_social_bar2', post: post_estimate
    -if @project.status == 10 or @project.demo?
      %br
      = link_to t('form.plan.add_est'), new_estimate_post_path(@project.id, plan_id: post_estimate.id), class:'btn btn-xs btn-primary'
    = render post_estimate.estimates
