.media{id: "post_#{post_estimate.id}"}
  = render 'users/user_post', :user => post_estimate.user
  .media-body
    .media-heading
      =link_to post_estimate.user, user_path(@project, post_estimate.user)
    .col-md-8
      %span=post_estimate.name
      %span
        =link_to 'подробнее', plan_post_path(@project, post_estimate)
      %br
      =simple_format(post_estimate.goal)
      %br
      =simple_format(post_estimate.content)
    .col-md-4
      - if can_vote?(post_estimate.voted(current_user).size, @number_v, @votes)
        =link_to "/project/#{@project.id}/plan/vote/#{post_estimate.id}", :remote => true, :method => :put, class: "btn btn-default btn-lg vote-button pull-right", id: "vote_#{post_estimate.id}" do
          %i.fa.fa-thumbs-up
          -if boss?
            =post_estimate.voted_users.size
          Проголосовать
      -else
        %a.btn.btn-lg.disabled.vote-button.pull-right{:class => "#{vote_post?(post_estimate) ? 'btn-success' : 'btn-default'}"}
          %i.fa.fa-thumbs-up
          -if boss?
            =post_estimate.voted_users.size
          Проголосовать
    = render 'shared/post_social_bar2', :post => post_estimate
    -if @project.status == 10
      %br

      = link_to '+Добавить оценку', '/project/'+@project.id.to_s+'/estimate/posts/new?plan_id='+post_estimate.id.to_s, class:'btn btn-xs btn-primary'
    = render post_estimate.estimates

-#.wholePost
-#    = render 'users/user_post', :user => post_estimate.user
-#    .posts
-#        = render 'users/user_name', :user => post_estimate.user, :created_at => post_estimate.created_at
-#
-#        =trim_string(post_estimate.content)
-#        = link_to 'подробнее',  plan_post_path(@project, post_estimate)
-#
-#        -#- if signed_in? and not current_user==post_estimate.user
-#        %br
-#        - if signed_in?
-#            -if @project.status == 9
-#                .voteBar
-#                    -if admin?
-#                        Голосов -
-#                        %span.number=post_estimate.voted_users.count
-#                        %br
-#                    - if can_vote?(post_estimate.voted(current_user).size, @number_v, @votes)
-#                        %b=link_to 'отдать голос за этот проект', "/project/#{@project.id}/plan/vote/#{post_estimate.id}", :remote => true, :method => :put, class: "voteCounter"
-#
-#
-#            -if @project.status == 10
-#                = link_to 'Добавить оценку', '/project/'+@project.id.to_s+'/estimate/status/2/posts/new?plan_id='+post_estimate.id.to_s
-#= render post_estimate.estimates
-#%br
-#%br
-#%br

