.wholePost
	= render 'users/user_post', :user => post_estimate.user
	.posts
		= render 'users/user_name', :user => post_estimate.user, :created_at => post_estimate.created_at

		= trim_string(post_estimate.goal)

		-#- if signed_in? and not current_user==post_estimate.user
		%br
		- if signed_in?
			= link_to 'Добавить оценку', '/project/'+@project.id.to_s+'/estimate/status/2/posts/new?plan_id='+post_estimate.id.to_s
= render post_estimate.estimates

		