%tr(id="tr_concept_#{post_concept.id}")
  %td(rowspan="#{rowspan_concept(post_concept)}" class="td_concept_#{post_concept.id}")
    =@post_stage.plan_post_aspects.size
  %td(rowspan="#{rowspan_concept(post_concept)}" class="td_concept_#{post_concept.id}" id="td_concept_#{post_concept.id}")
    .pull-right
      =link_to edit_concept_plan_post_path(@project, @post, :con_id => post_concept.id, :edit_concept => true), :method => :put, :remote => true, :id => "edit_post_concept_#{post_concept.id}" do
        %button.btn.btn-sm.btn-warning{:type => "button"}
          %i.fa.fa-pencil
      =link_to destroy_concept_plan_post_path(@project, @post, :con_id => post_concept.id, :stage_id => @post_stage.id), :method => :delete, :remote => true, :confirm => 'Удалить нововведение?', :id => "destroy_post_concept_#{post_concept.id}" do
        %button.btn.btn-sm.btn-danger{:type => "button"}
          %i.fa.fa-trash-o
    =link_to view_concept_table_plan_post_path(@project, @post, :con_id => post_concept.id), :method => :get, :remote => true,:class => "color-white", :style => "text-decoration:none;border-bottom: 1px dashed #fafbfc;", :id => "view_post_concept_table_#{post_concept.id}" do
      %span.h5{:id => "name_post_concept_#{post_concept.id}"}=post_concept.title
    %br
    =post_concept.name
    %br
    = check_validate_concept(post_concept).html_safe if check_validate_concept(post_concept)

    -#-unless post_concept.plan_post_resources.by_type('positive_r').empty?
    -#  %br
    -#  - post_concept.plan_post_resources.by_type('positive_r').each do |res|
    -#    .label.label-danger=res.name
%tr(id="tr_new_action_#{post_concept.id}")
  %td
    =link_to new_action_plan_post_path(@project, @post, :con_id => post_concept.id, :stage_id => @post_stage.id), :method => :put, :remote => true, :class => "btn btn-sm btn-success pull-right", :id => "btn_new_concept", :style => "font-weight: normal;width:200px;" do
      Запланировать мероприятие

