.col-lg-6.box-shadow-outer{id: "post_#{post.id}"}
  .project-single.rounded-3
    .row.post-header
      .col-xs-8
        %span.post-header-text.color.mass-red
          = post.name
      .col-xs-4.post-header-date
        %span
          = Russian::strftime(post.created_at, '%d.%m.%Y')
    .post-center-block
      .post-poster
        -#@todo заменить на аватарку юзера
        = image_tag 'img/ava1.jpg'
        .clearfix
        %span.poster-name
          = post.user
      = link_to plan_post_path(@project, post), remote: true, class: 'post-text open-popup-link' do
        .text-arrow.pull-right
        %span
          = simple_format(post.goal)
    .project-bottom
      %span.popup-comments
        (+5)
        %i.fa.fa-comment-o
      %span.popup-likes
        (+9)
        %i.fa.fa-thumbs-o-up
      %span.popup-dislikes
        (+1)
        %i.fa.fa-thumbs-o-down
