.wholePost
	= render 'users/user_post', :user => post_estimate.user
	.posts
		= render 'users/user_name', :user => post_estimate.user, :created_at => post_estimate.created_at

		= trim_string(post_estimate.goal)

		-#- if signed_in? and not current_user==post_estimate.user
		- if signed_in?
			= link_to 'Добавить оценку', '/estimate/posts/new/'+post_estimate.id.to_s
= render post_estimate.estimates

		