- unless @post.post_stages.nil?
  -@post.post_stages.each_with_index do |stage, index|
    %tr
      %td(rowspan="#{rowspan_stage(stage)}" class="td_stage_#{stage.id}")
        =index+1
      %td(rowspan="#{rowspan_stage(stage)}" class="td_stage_#{stage.id}")
        =stage.date_begin
        ="/"
        =stage.date_end
      %td(rowspan="#{rowspan_stage(stage)}" class="td_stage_#{stage.id}")
        =stage.name
      %td(rowspan="#{rowspan_stage(stage)}" class="td_stage_#{stage.id}")
        =stage.desc
      -#%td
        -#%table.table.table-striped.table-bordered
        -#  %tbody
    - unless stage.plan_post_aspects.nil?
      - stage.plan_post_aspects.each_with_index do |concept|
        %tr(id="tr_concept_#{concept.id}")
          %td(rowspan="#{2+concept.plan_post_actions.size}" id="td_concept_#{concept.id}")
            %span.h5{:id => "name_post_concept_#{concept.id}"}=concept.title
            .pull-right
              =link_to edit_concept_plan_post_path(@project, @post, :con_id => concept.id, :edit_concept => true), :method => :put, :remote => true, :id => "edit_post_concept_#{concept.id}" do
                %button.btn.btn-sm.btn-warning{:type => "button"}
                  %i.fa.fa-pencil
              =link_to destroy_concept_plan_post_path(@project, @post, :con_id => concept.id, :stage_id => stage.id), :method => :delete, :remote => true, :confirm => 'Удалить нововведение?', :id => "destroy_post_concept_#{concept.id}" do
                %button.btn.btn-sm.btn-danger{:type => "button"}
                  %i.fa.fa-trash-o

        - unless concept.plan_post_actions.nil?
          - concept.plan_post_actions.each do |action|
            %tr(id="tr_action_#{action.id}")
              %td(style="width:30px;")
                %small
                  =action.date_begin
                  =action.date_end
              %td
                %span.h5{:id => "name_post_action_#{action.id}"}=action.name
                .pull-right
                  =link_to edit_action_plan_post_path(@project, @post, :act_id => action.id, :con_id => concept.id), :method => :put, :remote => true, :id => "edit_post_action_#{action.id}" do
                    %button.btn.btn-xs.btn-warning{:type => "button"}
                      %i.fa.fa-pencil
                  =link_to destroy_action_plan_post_path(@project, @post, :act_id => action.id, :con_id => concept.id, :stage_id => stage.id), :method => :delete, :remote => true, :confirm => 'Удалить нововведение?', :id => "destroy_post_action_#{action.id}" do
                    %button.btn.btn-xs.btn-danger{:type => "button"}
                      %i.fa.fa-trash-o

          %tr(id="tr_new_action_#{concept.id}")
            %td(colspan="2")
              =link_to new_action_plan_post_path(@project, @post, :con_id => concept.id, :stage_id => stage.id), :method => :put, :remote => true, :class => "btn btn-default btn-success btn-block", :id => "btn_new_concept", :style => "font-weight: normal;" do
                Запланировать мероприятие

    %tr(id="tr_new_concept_#{stage.id}")
      %td(colspan="3")
        =link_to add_concept_plan_post_path(@project, @post, :stage_id => stage.id), :method => :put, :remote => true, :class => "btn btn-default btn-warning btn-block", :id => "btn_new_concept", :style => "font-weight: normal;" do
          Добавить нововведение