
%h3(id ="name_#{p.id}" )
  = p.nil? ? "Нововведние  не определено" : p.name
%div{id: "discontent_#{p.id}"}
  %p.ftable.fline
    %a{onclick: "remove_discontent(#{p.id})"} Удалить нововведение
  %p.ftable.fline
    %span.bigtext Корректируемое несовершенство:
  -unless p.new_record?
    %p.ftable.fcolor
      =p.discontent.show_content.html_safe
  -else
    %p.ftable.fback
      %span.bigtext что
      %br
      = text_field_tag "post_aspects[#{p.discontent.id}][disc][content]",nil, :class => 'concept_name2'
      %br
      %span.bigtext когда
      %br
      = text_field_tag "post_aspects[#{p.discontent.id}][disc][when]",nil, :class => 'concept_name2'
      %br
      %span.bigtext где
      %br
      = text_field_tag "post_aspects[#{p.discontent.id}][disc][where]",nil,:class => 'concept_name2'
      = select_tag "post_aspects[#{p.discontent.id}][disc][aspect_id]", options_from_collection_for_select(@aspects, 'id', 'content'), :prompt => 'Выберите фрагмент'
      = select_tag "post_aspects[#{p.discontent.id}][disc][style]", options_for_select({ 'отсутствующий позитив' =>'0', 'имеющийся негатив' => '1' }), :prompt => 'Выберите тип'


  %p.ftable.fline
    %span.bigtext Название корректировки:
    %br
    =text_field_tag "post_aspects[#{p.discontent.id}][name]",p.nil? ? nil : p.name, :class => 'concept_name', onchange: "change_name_concept(#{p.id});"

  %p.ftable.fline.bigtext Краткое описание корректировки:
  %p.ftable
    =text_area_tag "post_aspects[#{p.discontent.id}][content]",p.nil? ? nil : p.content, :class => 'concept_cond'

  %p.ftable.fbackPositive
    %span.fline.bigtext A. Какие в будущем должны быть созданы и поддерживаться УСЛОВИЯ, чтобы данная корректировка работала
    %br
    =text_area_tag "post_aspects[#{p.discontent.id}][positive]",p.nil? ? nil : p.positive, :class => 'wymeditor'

  %p.ftable.fbackNegative
    %span.fline.bigtext B. Если будут созданы и поддерживаться вышеозначенные УСЛОВИЯ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем

    %br
    =text_area_tag "post_aspects[#{p.discontent.id}][negative]",p.nil? ? nil : p.negative, :class => "wymeditor"

  %p.ftable.fback
    %span.fline.bigtext C. Что, вероятно, может помешать в будущем должной работе всех перечисленных ресурсов и как с этим предлагается бороться?
    %br
    =text_area_tag "post_aspects[#{p.discontent.id}][problems]",p.nil? ? nil : p.problems, :class => 'concept_cond2'

  %p.ftable.fback
    %span.fline.bigtext D. Реалистичность и практичность: предложить средства формирования перечисленных ресурсов, обосновать их доступность и эффективность
    %br
    =text_area_tag "post_aspects[#{p.discontent.id}][reality]",p.nil? ? nil : p.reality, :class => 'concept_cond2'
  =hidden_field_tag "post_aspects[#{p.discontent.id}][concept_post_aspect_id]",p.nil? ? @cond.id :  p.concept_post_aspect.id