-if @save_form
  -if @cond
    alert("#{t('form.plan.concept.create_success')}");
    -if @post_stage
      $("#{escape_javascript(render partial: 'post_concept', object: @cond )}").insertBefore('#tr_new_concept_#{@post_stage.id}');
    -else
      $("#table_plan_all").append("#{escape_javascript(render partial: 'post_concept', object: @cond )}");

    -#$("#right_concept_list").append("<div class="concept-devider"></div>");
    $("#right_concept_list").append("#{escape_javascript(render partial: 'right_concept_post', object: @cond )}");

    -if @concept
      -#$('.td_check_concept_#{@concept.id}').html('<div class="label label-success">#{t('form.plan.concept.add')}</div>')
      $('.td_check_concept_#{@concept.id}').html('<i class="fa fa-check"></i>')
      -if params[:new_idea]
        $("#plus_post_concept_#{@concept.id}").hide();
        $("#tr_plus_concept_#{@concept.id}").addClass('visible-list');
      -elsif @concept.instance_of? Concept::PostAspect
        $("#plus_post_concept_#{@concept.concept_post.id}").hide();
        $(".tr_plus_concept_#{@concept.id}").addClass('visible-list');
        $("#tr_concepts_list_#{@concept.id}").addClass('visible-list')
        - @concept.concept_post.concept_disposts.each do |dispost|
          $(".td_check_dispost_#{dispost.id}").html('<i class="fa fa-check"></i>')
          $("#tr_disposts_list_#{dispost.id}").addClass('visible-list')
          $(".tr_plus_concept_#{dispost.id}").addClass('visible-list')
      -elsif @concept.instance_of? Plan::PostAspect and @concept.concept_post_aspect
        $("#plus_post_concept_#{@concept.concept_post_aspect.concept_post.id}").hide();
    -else
      $('#modal_concept').modal('hide');
      $('#render_modal_edit_concept').empty();
      $('#render_modal_edit_concept').html("#{escape_javascript(render partial: 'form_for_edit_concept', object: @cond )}");
      autocomplete_initialized();
      $('#modal_edit_concept').modal('show');
      $('textarea').autosize();
      resources();

    -if @concepts.present?
      $("#left_concept_list").html("#{escape_javascript(render partial: 'left_concept_post', collection: @concepts )}");

  -else
    alert("#{t('form.plan.concept.create_fail')}");

- else
  $('#aspect_concepts').html("#{escape_javascript(render partial: 'form_for_light_concept', object: @post_concept )}");
