-unless @save_form
  $('#render_modal_concept').empty();
  $("#render_modal_concept").html('#{escape_javascript(render partial: 'modal_concept' )}');
  $('#modal_concept').modal('show');
-else
  $('#modal_concept').modal('hide');

  -unless @cond_add.nil?
    -@cond_add.each_with_index do |cp,i|
      $("#plan_content_form").append('#{escape_javascript(render partial: 'first_cond', object: cp )}');
      var func = "'#asp_#{cp.id}'"
      -if cp.first_stage == 0
        $("#theall ul").append('<li><a href="#asp_#{cp.id}" data-toggle="tab"><span class="glyphicon glyphicon-remove text-danger pull-right" style="cursor:pointer;text-decoration:none;font-size:15px;" onclick="$(this).parent().parent().remove();$('+func+').remove();"></span>#{cp.title}</a></li>');

        -if @cond_add.size == 1
          $('#theall ul a[href="#asp_#{cp.id}"]').tab('show');
      -else
        $("#thefirst ul").append('<li><a href="#asp_#{cp.id}" data-toggle="tab"><span class="glyphicon glyphicon-remove text-danger pull-right" style="cursor:pointer;text-decoration:none;font-size:15px;" onclick="$(this).parent().parent().remove();$('+"#asp_#{cp.id}"+').remove();"></span>#{cp.title}</a></li>');
        -if @cond_add.size == 1
          $('#thefirst ul a[href="#asp_#{cp.id}"]').tab('show');