$('#add_new_stage').html('<a id="btn_new_stage" class="btn btn-lg btn-success btn-block" data-remote="true" data-method="put" style="font-weight: normal;" href="/project/2/plan/posts/#{@plan_post.id}/new_stage">Добавить этап в проект</a>');
$('#second').removeClass('disabled');
$('#third').removeClass('disabled');
$('#btn_next').removeClass('disabled');
$('#form_for_main_plan').html("#{escape_javascript(render :partial => 'form_for_main_plan', :object => @plan_post )}");
$('#second').append('<div id="option_for_render_tab" project="#{@project.id}" post="#{@plan_post.id}"></div>');


-#$('#send_plan_post').val('Сохранить');
-#$('#third').append('<div id="option_for_render_concept_side" project="#{@project.id}" post="#{@plan_post.id}"></div>');
-#$('#second').on('click', function() {render_table();});
-#$('#third').on('click', function() {render_concept_side();});





