$('#add_new_stage').html('<a id="btn_new_stage" class="btn btn-lg btn-success btn-block" data-remote="true" data-method="put" style="font-weight: normal;" href="/project/#{@project.id}/plan/posts/#{@plan_post.id}/new_stage">#{t('form.plan.stage.new')}</a>');
$('#second').removeClass('disabled');
$('#third').removeClass('disabled');
$('#btn_next').removeClass('disabled');
$('#form_for_main_plan').html("#{escape_javascript(render partial: 'form_for_main_plan', object: @plan_post )}");
$('#second').append('<div id="option_for_render_tab" project="#{@project.id}" post="#{@plan_post.id}"></div>');
history_change("#{edit_plan_post(@project, @plan_post)}");






