$("#tr_concept_#{@post_concept.id}").remove();
-unless @post_actions.empty?
  -@post_actions.each do |action|
    $("#tr_action_#{action}").remove();
$("#tr_new_action_#{@post_concept.id}").remove();

-#var rowspan = parseInt($('#td_concept_#{@post_aspect.id}').attr("rowSpan"));
-#$('#td_concept_#{@post_aspect.id}').attr('rowspan', rowspan - 1);
-#var count_actions = parseInt(#{@post_actions.size});
-#var rowspan_main = parseInt($('.td_stage_#{@post_stage.id}').attr("rowSpan"));
-#$('.td_stage_#{@post_stage.id}').attr('rowspan', rowspan_main - 2 - count_actions);