$("#tr_action_#{@post_action.id}").remove();
var rowspan = parseInt($('#td_concept_#{@post_aspect.id}').attr("rowSpan"));
$('#td_concept_#{@post_aspect.id}').attr('rowspan', rowspan - 1);
var rowspan_main = parseInt($('.td_stage_#{@post_stage.id}').attr("rowSpan"));
$('.td_stage_#{@post_stage.id}').attr('rowspan', rowspan_main - 1);