$("#tr_concept_#{@post_concept.id}").remove();
-unless @post_actions.empty?
  -@post_actions.each do |action|
    $("#tr_action_#{action}").remove();
$("#tr_new_action_#{@post_concept.id}").remove();
$("#tr_plan_all_concept_#{@post_concept.id}").remove();

-if params[:fast_remove]
  $("#tr_right_list_concept_#{@post_concept.id}").remove();
  -if @post_concept.concept_post_aspect
    $(".td_check_concept_#{@post_concept.concept_post_aspect.id}").html('');
    $('#plus_post_concept_#{@post_concept.concept_post_aspect.concept_post.id}').show();
    $("#tr_concepts_list_#{@post_concept.concept_post_aspect.concept_post.id}").removeClass('visible-list');
    - @post_concept.concept_post_aspect.concept_post.concept_disposts.each do |dispost|
      $(".td_check_dispost_#{dispost.id}").html('');
      $("#tr_disposts_list_#{dispost.id}").removeClass('visible-list');
      $(".tr_plus_concept_#{dispost.id}").removeClass('visible-list');
    -if @concepts.present?
      $("#left_concept_list").html("#{escape_javascript(render partial: 'left_concept_post', collection: @concepts )}");
  -else
    $(".td_check_concept_#{@post_concept.id}").html('');
    $("#plus_post_concept_#{@post_concept.id}").show();
    $("#tr_plus_concept_#{@post_concept.id}").removeClass('visible-list');