-unless @view_post_concept
  $('#render_get_concept').html("#{escape_javascript(render :partial => 'form_concept', :object => @post_concept )}");
  autocomplete_initialized();
-else
  $('#render_get_concept').html("#{escape_javascript(render :partial => 'post_concept_show', :object => @post_concept )}");

$('#render_get_concept_actions').html("#{escape_javascript(render :partial => 'form_actions', :object => @post_concept )}");
$(".concept_side").removeClass('active');
$("#li_concept_#{@post_concept.id}").addClass('active');
$('#render_old_concept_side').html('<div id="option_for_render_old_concept_side" concept="#{@post_concept.id}"></div>');

