$("#pa_#{@cond.discontent.id}_name").html("#{escape_text(@cond.name)}")
$("#pa_#{@cond.discontent.id}_content").html("#{escape_text(@cond.content) }")

$("#pa_#{@cond.discontent.id}_positive").html("#{escape_text(@cond.positive)}")
-#$("#pa_#{@cond.discontent.id}_positive_r").html("#{escape_text(@cond.positive_r)}")

$("#pa_#{@cond.discontent.id}_negative").html("#{escape_text(@cond.negative)}")
$("#pa_#{@cond.discontent.id}_negative_r").html("#{escape_text(@cond.negative_r)}")

$("#pa_#{@cond.discontent.id}_problems").html("#{escape_text(@cond.problems)}")
$("#pa_#{@cond.discontent.id}_reality").html("#{escape_text(@cond.reality)}")