.row
  .col-md-9
    %h3.color-green(style='line-height: 30px;')
      4 этап: Создание проектов.
      %br
    %span(style='font-size: 20px;line-height: 30px;')
      Создание проектов в рамках процедуры:
      =@project.name
  - if signed_in? and (@project.status == 9 or @project.demo?)
    .col-md-3
      .pull-right
        = link_to '+ Добавить Проект', new_plan_post_path(@project) , id: 'add_record',  class: 'btn btn-lg btn-success'
-if boss?
  -if @project.status == 9 or @project.demo?
    %br
    .row
      .col-md-12
        .pull-right
          = link_to 'Стандартная оценка', plan_posts_change_estimate_status_path(@project, :est_stat => "0"), :remote => true, :method => :put, id: 'standart_estimate',  class: "btn btn-sm stat_estimate #{@est_stat == 0 ? 'btn-success' : 'btn-default'}"
          = link_to 'Упрощенная оценка', plan_posts_change_estimate_status_path(@project, :est_stat => "1"), :remote => true, :method => :put, id: 'simple_estimate',  class: "btn btn-sm stat_estimate #{@est_stat == 1 ? 'btn-success' : 'btn-default'}"
  -else
    .row
      .col-md-12
        .pull-right
          %span.label.label-success(style='font-size: 20px;line-height: 30px;')
            -if @est_stat == 1
              Упрощенная оценка
            -else
              Стандартная оценка


%br
%br
.row
  .col-md-12
    %section
      .body
        = render  @posts