.stage-info-sort-block
  .row
    %br/
    .col-md-6
      %span.stage-heading
        = t('show.plan.title')
        %span#count_plans
          (#{@posts.count})
    .col-md-6
      .pull-right
        - if @project.can_add?(name_controller) || @project.status == 100
          = link_to new_novation_post_path(@project, type_mechanic: 'simple'), id: 'new_plan_posts' do
            %button.btn.add-button
              %span
                = t 'techniques.plan_posts_simple'
        - else
          = link_to({ action: :show_results, project: @project.id }, remote: true, id: 'show_results') do
            .results.tooltip_b{ class: "#{show_check_field?('results_' + name_controller.to_s) ? 'results_blue' : 'results_red'}",
            title: 'Показать итоги стадии' }

      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort-1.sort_btn.sprite.sprite-1_5.sort-comment{ data: { type: 'comment' } }
            - if @last_visit_presenter.comments > 0
              %span.badge-red
                = @last_visit_presenter.comments
          %span.sort-2.sort_btn.sprite.sprite-2_5.tooltip1.sort-date.active.tooltip_b#tooltip3_2{ data: { type: 'date' },
          'data-trigger' => 'manual', title: 'При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться проектные предложения.' }
            - if @last_visit_presenter.posts > 0
              %span.badge-red
                = @last_visit_presenter.posts


.stage-post-block
  .row#tab_novation_plans
    = render partial: 'post_short', collection: @posts


- unless show_check_field?(name_controller.to_s + '_intro')
  = render partial: 'modal_welcome'
- if @project_result
  = render partial: 'modal_results'
