- if current_user.not_ready_for_plan?(@project)
  .col-md-9#info_about_movie
    .col-md-offset-3
      .text-align-left
        Дорогие друзья, вы успешно завершили третью стадию и высказали ряд ценных и полезных замечаний. Мы обязательно воспользуемся ими для улучшения процедуры.
        Прежде чем продолжить работу, мы предлагаем вам просмотреть видеоролик, который поможет вам продуктивно действовать на следующей стадии.
      #player-container
      = link_to '', "/project/#{@project.id}/project_users/ready_to_plan", remote: true, id: 'movie_watched', style: 'display: none'
      .preview.text-align-center
        .btn.btn-success.btn-lg.btn-block#play_video{'data-stage' => 'play'}
          Начать просмотр
      .alert.alert-success#message-after-movie{style: 'display: none'}
        Спасибо за просмотр, ролик вы можете посмотреть еще раз в разделе помощь

.row#plan-main{style:('display: none' if current_user.not_ready_for_plan?(@project))}
  - if signed_in? and (@project.status == 9 or @project.demo?)
    = link_to t('form.plan.new'), new_plan_post_path(@project) , id: 'add_record',  class: 'btn btn-lg btn-success'
  .pull-right
    -if boss? and (@project.status == 9 or @project.demo?)
      = link_to t('form.plan.est_normal'), plan_posts_change_estimate_status_path(@project, :est_stat => 0), :remote => true, :method => :put, id: 'standart_estimate',  class: "btn btn-sm stat_estimate #{@est_stat == 0 ? 'btn-success' : 'btn-default'}"
      = link_to t('form.plan.est_easy'), plan_posts_change_estimate_status_path(@project, :est_stat => 1), :remote => true, :method => :put, id: 'simple_estimate',  class: "btn btn-sm stat_estimate #{@est_stat == 1 ? 'btn-success' : 'btn-default'}"
    -else
      %a.btn.btn-sm.stat_estimate.disabled#standart_estimate{ class: @est_stat == 0 ? 'btn-success' : 'btn-default'}=t('form.plan.est_normal')
      %a.btn.btn-sm.stat_estimate.disabled#simple_estimate{ class: @est_stat == 1 ? 'btn-success' : 'btn-default'}=t('form.plan.est_easy')

%br
.row#plan-help-main{style:('display: none' if current_user.not_ready_for_plan?(@project))}
  .col-md-12
    %section
      .body
        = link_to t('menu.help_note'), "/project/#{@project.id}/#{controller.controller_path == 'essay/posts' ? stage_for_essay(params[:stage].to_i) : controller.controller_path}/to_work", class: 'btn btn-info pull-right'

        = render collection: @posts, partial: '/plan/posts/post'
