
.wholePost.wider_area
  = render 'users/user_post', :user => @post.user
  .posts
    = render 'users/user_name', :user => @post.user, :created_at => @post.created_at

    %p
      %b Образ желаемого будущего     
      %br
      = @post.goal

    %br
    - @post.task_triplets.each do |tp|
      .task_supply=simple_format(tp.task) 

    %p
      %b Первый шаг
      %br= simple_format(@post.first_step)
    %p
      %b Дальнейшие шаги
      %br= simple_format(@post.other_steps)
   
    = render 'shared/post_social_bar', :post => @post

= render 'shared/post_edit_bar', :post => @post

