
.col-md-8
  .media
    .media-body
      %span.h5.text-success Эссе по всему проекту
      %span
        %a(href="#" style="text-decoration=none;")
          -#%i.glyphicon.glyphicon-pencil
      %br
      =@post.content
  %br
  %br
  %div.tab-content
    -@post.post_aspects_other.each do |pa|
      =render partial: 'resolve_discontent_show', locals: { pa: pa }

    -@post.post_aspects_first.each do |pa|
      =render partial: 'first_cond_show', locals: { pa: pa }

    %div.tab-pane#plan1
      %hr
      %h3.text-success=t('form.plan_all')
      %br
      .panel.panel-info
        .panel-heading=t('form.plan_all_notice')
        .panel-body
          %br
          =@post.plan_other
    %div.tab-pane#plan2
      %hr
      %h3.text-success=t('form.plan_first')
      %br
      .panel.panel-info
        .panel-heading=t('form.plan_first_notice')
        .panel-body
          %br
          =@post.plan_first
.col-md-4
  %h5
    .small Выберите несовершенство, кликнув по нужной вкладке:
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a(href="#theall" data-toggle="tab") Образ
    %li
      %a(href="#thefirst" data-toggle="tab") Первый этап
  .tab-content
    #theall.tab-pane.fade.in.active
      %ul.nav.nav-tabs.nav-stacked
        %li
          %a.text-success(href="#plan1" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            =t('form.plan')
        -@post.post_aspects_other.each_with_index do |d,i|
          %li
            %a(href="#dis_#{d.discontent.id}" data-toggle="tab")="#{i+1}. #{d.discontent.display_content}"


    #thefirst.tab-pane.fade
      %ul.nav.nav-tabs.nav-stacked
        %li
          %a.text-success(href="#plan2" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            =t('form.plan')
        -@post.post_aspects_first.each_with_index do |d,i|
          %li
            %a(href="#fdis_#{d.discontent.id}" data-toggle="tab")="#{i+1}. #{d.discontent.display_content}"
