%section
  .body
    %ul.nav.nav-tabs.nav-justified{:role => "tablist", :id => "PlanTabsShow"}
      %li.active#first
        %a{"data-toggle" => "tab", :href => "#tab1", :role => "tab"}
          %small 1.
          %strong Описание проекта
      %li#second
        %a{"data-toggle" => "tab", :href => "#tab2", :role => "tab"}
          %small 2.
          %strong План мероприятий
        -if @post.persisted?
          #option_for_render_tab(project="#{@project.id}" post="#{@post.id}")
      %li#third
        %a{"data-toggle" => "tab", :href => "#tab3", :role => "tab"}
          %small 3.
          %strong Просмотр нововведений

    .tab-content(style="overflow:visible;")
      #tab1.tab-pane.active
        .form-horizontal
          %fieldset
            .col-md-6
              %legend.section
                Описание проекта
              .text-left
                %h4.color-green Название проекта
                =@post.name
              %br
              .text-left
                %h4.color-green Коротко о поекте
                =@post.goal
              %br
              .text-left
                %h4.color-green Эссе по проекту. Пояснения и обоснования
                =@post.content

            .col-md-6
              %legend.section
                Этапы проекта
              #post_stages
                %table.table.table-striped
                  %tbody
                    -if @post.post_stages.present?
                      -@post.post_stages.each_with_index do |ps,index|
                        %tr
                          %td
                            =index+1
                          %td
                            -if ps.date_begin and ps.date_end
                              %small.color-green
                                =Russian::strftime(ps.date_begin, "%d %b %Y")
                                ="-"
                                =Russian::strftime(ps.date_end, "%d %b %Y")
                              %br
                            %span.h5=ps.name

      #tab2.tab-pane
        .form-horizontal
          %fieldset
            #table_stages

      #tab3.tab-pane
        .form-horizontal
          %fieldset
            #modal_concept_action
            .col-md-4#concept_side
            .col-md-8
              #render_get_concept


.row
  .col-md-12
    = render 'shared/post_social_bar2', post: @post
    = render 'shared/post_edit_bar', post: @post
    %br
    %br
      %ul.media-list#comments.chat-messages
        = render partial: 'shared/comment',collection: @comments
      .text-center
        = will_paginate @comments
    - if signed_in?
      = render partial: 'shared/comment_form', locals: { comment: @comment, url_link: url_for(controller: @post.class.name.underscore.pluralize, action: 'add_comment')}
