%section.widget
  .body
    #wizard.form-wizard
      %ul.wizard-navigation.nav-justified
        %li#first
          %a{"data-toggle" => "tab", href: "#tab1"}
            %small 1.
            %strong Описание проекта
        %li#second
          %a{"data-toggle" => "tab", href: "#tab2"}
            %small 2.
            %strong План мероприятий
        %li#third
          %a{"data-toggle" => "tab", href: "#tab3"}
            %small 3.
            %strong Просмотр нововведений

      #bar.progress.progress-small
        .progress-bar
      .tab-content(style="overflow:visible;")
        #tab1.tab-pane
          .form-horizontal
            %fieldset
              .col-md-6
                %legend.section
                  Описание проекта
                .text-left
                  %h4.color-green Название проекта
                  =@post.name
                %br
                .text-left
                  %h4.color-green Коротко о поекте
                  =@post.goal
                %br
                .text-left
                  %h4.color-green Эссе по проекту. Пояснения и обоснования
                  =@post.content

              .col-md-6
                %legend.section
                  Этапы проекта
                #post_stages
                  %table.table.table-striped
                    %tbody
                      -if @post.post_stages.present?
                        -@post.post_stages.each_with_index do |ps,index|
                          %tr
                            %td
                              =index+1
                            %td
                              -if ps.date_begin and ps.date_end
                                %small.color-green
                                  =Russian::strftime(ps.date_begin, "%d %b %Y")
                                  ="-"
                                  =Russian::strftime(ps.date_end, "%d %b %Y")
                                %br
                              %span.h5=ps.name

        #tab2.tab-pane
          .form-horizontal
            %fieldset
              #table_stages
                - unless @post.post_stages.nil?
                  -@post.post_stages.each_with_index do |stage, ind|
                    %section.widget
                      .body
                        %div(class="td_stage_#{stage.id}")
                          %h3
                            %span="Этап #{ind+1}. "
                            %span.color-teal=stage.name
                          -if stage.date_begin and stage.date_end
                            %h3.color-green
                              =Russian::strftime(stage.date_begin, "%d %b %Y")
                              ="-"
                              =Russian::strftime(stage.date_end, "%d %b %Y")

                          =stage.desc
                          %br
                          %br
                        %table.table.table-striped.table-bordered
                          %thead
                            %tr
                              %th
                                ="#"
                              %th
                                Нововведения
                              %th
                                Мероприятия этапа
                          %tbody
                            - unless stage.plan_post_aspects.nil?
                              - stage.plan_post_aspects.each_with_index do |concept, index|
                                %tr(id="tr_concept_#{concept.id}")
                                  %td(rowspan="#{rowspan_concept_show(concept)}" class="td_concept_#{concept.id}")
                                    =index+1
                                  %td(rowspan="#{rowspan_concept_show(concept)}" class="td_concept_#{concept.id}" id="td_concept_#{concept.id}")
                                    =link_to view_concept_table_plan_post_path(@project, @post, con_id: concept.id), method: :get, remote: true,class: "color-white", style: "text-decoration:none;border-bottom: 1px dashed #fafbfc;", id: "view_post_concept_table_#{concept.id}" do
                                      %span.h5{id: "name_post_concept_#{concept.id}"}=concept.title
                                    %br
                                    =concept.name
                                    %br
                                    = check_validate_concept(concept,true).html_safe if check_validate_concept(concept)
                                - unless concept.plan_post_actions.nil?
                                  - concept.plan_post_actions.each do |action|
                                    %tr(id="tr_action_#{action.id}")
                                      %td
                                        -if action.date_begin and action.date_end
                                          %small.color-green
                                            =Russian::strftime(action.date_begin, "%d %b %Y")
                                            ="-"
                                            =Russian::strftime(action.date_end, "%d %b %Y")
                                          %br
                                        %span.h5.color-teal{id: "name_post_action_#{action.id}"}=action.name
                                        %br
                                        %span.h5=action.desc
                                        -unless action.plan_post_action_resources.nil?
                                          %br
                                          -action.plan_post_action_resources.each  do |res|
                                            .label.label-danger=res.name

        #tab3.tab-pane
          .form-horizontal
            %fieldset
              #modal_concept_action
              .col-md-4
                - unless @post.post_stages.nil?
                  %ul#menu-levels-collapse.side-nav
                    -@post.post_stages.each_with_index do |stage, index|
                      %li.panel
                        %a.accordion-toggle{"data-parent" => "#menu-levels-collapse", "data-toggle" => "collapse", href: "#sub-menu-#{index}-collapse"}
                          %b="Этап #{index+1}. "
                          =stage.name
                        - unless stage.plan_post_aspects.nil?
                          %ul.panel-collapse.collapse.in{id: "sub-menu-#{index}-collapse"}
                            - stage.plan_post_aspects.each_with_index do |concept, i|
                              %li.concept_side{id: "li_concept_#{concept.id}"}
                                =link_to get_concept_plan_post_path(@project, @post, con_id: concept.id, view_post_concept: true), method: :get, remote: true do
                                  =concept.title
              .col-md-8
                #render_get_concept

        .description
          %ul.pager.wizard
            %li.previous
              %button.btn.btn-primary.pull-left
                %i.fa.fa-caret-left
                Назад
            %li.next
              %button.btn.btn-primary.pull-right
                Далее
                %i.fa.fa-caret-right

.row
  .col-md-12
    = render 'shared/post_social_bar2', post: @post
    = render 'shared/post_edit_bar', post: @post
    %br
    %br
      %ul.media-list#comments.chat-messages
        = render partial: 'shared/comment',collection: @comments
      .text-center
        = will_paginate @comments
    - if signed_in?
      = render partial: 'shared/comment_form', locals: { comment: @comment, url_link: url_for(controller: @post.class.name.underscore.pluralize, action: 'add_comment')}