
.col-md-8


  %div.tab-content
    -@post.post_aspects_other.each do |pa|
      =render partial: 'resolve_discontent_show', locals: { pa: pa }

    -@post.post_aspects_first.each do |pa|
      =render partial: 'first_cond_show', locals: { pa: pa }

    %div.tab-pane#essay1
      %h3.text-success=t('form.essay')
      .panel.panel-info
        -#.panel-heading=t('form.essay_notice')
        .panel-body
          =@post.content
          %br
          %br
          =@post.goal
    %div.tab-pane#essay2
      %hr
      %h3.text-success=t('form.essay1')
      %br
      .panel.panel-info
        -#.panel-heading=t('form.plan_all_notice')
        .panel-body
          %br
          =@post.first_step
    %div.tab-pane#plan2
      %hr
      %h3.text-success=t('form.plan_first')
      %br
      .panel.panel-info
        -#.panel-heading=t('form.plan_first_notice')
        .panel-body
          %br
          =@post.plan_first
          %br
          =@post.plan_other
.col-md-4
  %h5
    .small Выберите несовершенство, кликнув по нужной вкладке:
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a(href="#theall" data-toggle="tab") Образ
    %li
      %a(href="#thefirst" data-toggle="tab") Первый этап
  .tab-content#fixBlock
    #theall.tab-pane.fade.in.active
      %ul.nav.nav-tabs.nav-stacked
        %li
          %a.text-success(href="#essay1" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            I)
            =t('form.essay')
        -@post.post_aspects_other.each_with_index do |d,i|
          %li
            %a(href="#dis_#{d.discontent.id}" data-toggle="tab")
              ="#{i+1}. #{d.discontent.display_content}"
              %span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if d.name==''}")


    #thefirst.tab-pane.fade
      %ul.nav.nav-tabs.nav-stacked
        %li
          %a.text-success(href="#essay2" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            II)
            =t('form.essay1')
        %li
          %a.text-success(href="#plan2" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            III)
            =t('form.plan')
        -@post.post_aspects_first.each_with_index do |d,i|
          - if d.name!= ''
            %li
              %a(href="#fdis_#{d.discontent.id}" data-toggle="tab")="#{i+1}. #{d.discontent.display_content}"

.row
  .col-md-12
    %hr
    = render 'shared/post_social_bar2', :post => @post

    = render 'shared/post_edit_bar', :post => @post
    %br
    %br
      %ul.media-list#comments
        = render :partial => 'shared/comment',:collection => @comments
    = will_paginate @comments
    - if signed_in?
      = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => @post.class.name.underscore.pluralize, :action => 'add_comment')}
