
.wholePost.wider_area
  = render 'users/user_post', :user => @post.user
  .posts
    = render 'users/user_name', :user => @post.user, :created_at => @post.created_at
    - if @post.step <6
      %br
      %br
      Проект в разработке
      %b="(#{@post.step} шаг из 5)"
    - else

      %p
        %h1 1. Эссе о проекте в целом:
        %br
        =simple_format(@post.goal)

      %h1 2. Конечный образ желаемого будушего
      %br
      %div(id="accordion-resizer" class="ui-widget-content")
        .accordion
          - @post.post_aspects.each do |tp|
            %h3
              =tp.name
              -unless tp.compare_text.nil?
                %b
                  =tp.compare_text



            %div
              %a{:name => tp.id}


              %p.ftable.fline
                %span.bigtext Устраняемое несовершенство:
              %p.ftable.fcolor=tp.discontent.show_content.html_safe

              %p.ftable.fline
                %span.bigtext Название нововведения:
                =tp.name
              %p.ftable.fline
                %span.bigtext Краткое описание нововведения:
                =tp.content
              .ftable.fbackPositive
                %span.fline.bigtext A. Какие в будущем должны быть созданы и поддерживаться УСЛОВИЯ, чтобы данное нововведение работало?
                .task_supply=simple_format(tp.positive)
              .ftable.fbackNegative
                %span.fline.bigtext B. Если будут созданы и поддерживаться вышеозначенные УСЛОВИЯ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?
                .task_supply=simple_format(tp.negative)
              .ftable.fback
                %span.fline.bigtext C. Что, вероятно, может помешать в будущем должной работе всех перечисленных ресурсов и как с этим предлагается бороться?
                %br
                =tp.problems
              .ftable.fback
                %span.fline.bigtext D.  Реалистичность и практичность: предложить средства формирования перечисленных ресурсов, обосновать их доступность и эффективность
                %br
                =tp.reality




      %h1 3. Подробное описание промежуточного будущего (итоги первого этапа)
      %b Эссе
      %br
      =simple_format(@post.first_step)

      %div(id="accordion-resizer" class="ui-widget-content")
        .accordion
          - @post.post_first_conds.each do |tp|
            %h3=tp.name
            %div
              %a{:name => tp.id}
              %p.ftable.fline
                %span.bigtext Корректируемое несовершенство:
              %p.ftable.fcolor=tp.post_aspect.discontent.show_content.html_safe
              %p.ftable.fline
                %span.bigtext Название корректировки:
                =tp.name
              %p.ftable.fline
                %span.bigtext Краткое описание корректировки:
                =tp.content
              .ftable.fbackPositive
                %span.fline.bigtext A. Какие УСЛОВИЯ надо создать и поддерживать для того, чтобы это нововведение работало?
                .task_supply=simple_format(tp.positive)
              .ftable.fbackNegative
                %span.fline.bigtext B. Какие НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ могут возникнуть в связи с созданием и поддержкой этих УСЛОВИЙ?
                .task_supply=simple_format(tp.negative)
              .ftable.fbackControl
                %span.fline.bigtext C. Кто и как будет контролировать создание и поддержку этих УСЛОВИЙ и предотвращать возникновение НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ?
                .task_supply=simple_format(tp.control)
              .ftable.fback
                %span.fline.bigtext D. Что может помешать работе ресурсов и как с этим бороться?
                %br
                =tp.problems
              .ftable.fback
                %span.fline.bigtext E. Реалистичность и практичность: предложить средства для формирования ресурсов, обосновать их доступность и эффективность
                %br
                =tp.reality
              .ftable.fback
                %span.fline.bigtext F. Какие помехи могут возникнуть в процессе реализации методов и средств, необходимых для формирования ресурсов? Как их предотвратить?
                %br
                =tp.problems_with_resources

      %br
      %h1 4. Подробный  план первого этапа
      %br
      =simple_format(@post.plan_first)
      %br
      %h1 5. Набросок плана последующих этапов проекта
      %br
      =simple_format(@post.plan_other)
      %br

   
    = render 'shared/post_social_bar', :post => @post

= render 'shared/post_edit_bar', :post => @post

