$('#modal_edit_concept').modal('hide');
$("#name_post_concept_#{@post_concept.id}").html('#{@post_concept.title}');

-unless @post_concept.plan_post_resources.by_type('positive_r').empty?
  $("#td_concept_#{@post_concept.id}").append('<br>');
  - @post_concept.plan_post_resources.by_type('positive_r').each do |res|
    $("#td_concept_#{@post_concept.id}").append('<div class="label label-danger">#{res.name}</div>');