-if params[:new_idea]
  var concept = render_concept_collapse("",#{@concept_post.id});
  if (concept == false) {
  $("#tr_plus_concept_#{@concept_post.id}").after("#{escape_javascript(render partial: 'light_concept', object: @concept_post, locals: { table: false,what_view: false } )}");
  }
  $("#collapse_plus_concept_#{@concept_post.id}").collapse('toggle');
-elsif params[:what_view]
  var concept = render_concept_collapse(#{@dispost.id},"");
  if (concept == false) {
  $("#view_dis_concept_#{@dispost.id}").after("#{escape_javascript(render partial: 'light_concept', object: @concept_post, locals: { post: @dispost, table: false, what_view: true } )}");
  }
  if ($("#collapse_dis_concept_#{@dispost.id}").hasClass('in')) {
  $('#view_what_#{@dispost.id}').show();
  $('#view_concepts_#{@dispost.id}').html('#{t('form.plan.concept.show_decision')}');
  }
  else {
  $('#view_what_#{@dispost.id}').hide();
  $('#view_concepts_#{@dispost.id}').html('#{t('form.plan.concept.hide_decision')}');
  }
  $('#view_concepts_#{@dispost.id}').toggleClass('label-success label-primary');
  $("#collapse_dis_concept_#{@dispost.id}").collapse('toggle');
-else
  var concept = render_concept_collapse(#{@dispost.id},#{@concept_post.id});
  if (concept == false) {
  $("#tr_plus_concept_#{@dispost.id}_#{@concept_post.id}").after("#{escape_javascript(render partial: 'light_concept', object: @concept_post, locals: { dispost: @dispost, table: false, what_view: false } )}");
  }
  $("#collapse_plus_concept_#{@dispost.id}_#{@concept_post.id}").collapse('toggle');