.wholePost
	.avatar
		= link_to gravatar_for(frustration.user), frustration.user
		%br
		%span.role= frustration.user.role_name
	.posts
		%span.namedate= frustration.user.name_title
		%br
		%p
			- if not frustration.archive? and  signed_in?
				= frustration.content.html_safe
			-else 
				= frustration.content.html_safe

			- if  (not current_page?(frustration_path(frustration)) and signed_in? and not frustration.archive?)				
				= link_to 'подробнее', frustration, class: 'more'
			- unless frustration.what_expert.nil?
				%br
				%small текст до отправки эксперту
				%span{:class => "timestamp"}=frustration.content_before_expert.html_safe

			- unless frustration.old_content.nil?
				%br
				%small текст неоформленной -
				%span{:class => "timestamp"}=frustration.old_content.html_safe
		-unless frustration.accepted?	
			=link_to "негативные - #{frustration.negative.count}", frustration, class: 'tags' 
			=link_to "оформляющие - #{frustration.structure.count}", frustration, class: 'tags'



