.wholePost
	.avatar
		= render 'users/user_post', :user => frustration.user
	.posts
		= render 'users/user_name', :user => frustration.user, :created_at => frustration.created_at

		%p
			- if not frustration.archive? and  signed_in?
				= frustration.content.html_safe
			-else 
				= frustration.content.html_safe

			- if  (not current_page?(frustration_path(frustration)) and signed_in? and not frustration.archive? and not frustration.voted?)				
				= link_to 'подробнее', frustration, class: 'more'
			- unless frustration.what_expert.nil?
				%br
				%small текст до отправки эксперту
				%span{:class => "timestamp"}=frustration.content_before_expert.html_safe

			- unless frustration.old_content.nil?
				%br
				%small текст неоформленной -
				%span{:class => "timestamp"}=frustration.old_content.html_safe
		-unless frustration.accepted? or frustration.voted?	
			=link_to "негативные - #{frustration.negative.count}", frustration, class: 'tags' 
			=link_to "оформляющие - #{frustration.structure.count}", frustration, class: 'tags'
		-if frustration.voted?				
			- if current_user.id == 1 or current_user.id == 2 
				Набрано очков:
				%span.greentitle= frustration.voiting_score


			- if current_user.nil?
				
			- elsif can_vote?(frustration)
				.voteBar
					=link_to "очень недоволен",  '/vote_for/'+frustration.id.to_s+'/3', :id => frustration.id, :remote => true, :method => :put, class: "voteCounter"
					|
					=link_to "недоволен",  '/vote_for/'+frustration.id.to_s+'/2', :id => frustration.id, :remote => true, :method => :put, class: "voteCounter"
					|
					=link_to "безразлично",  '/vote_for/'+frustration.id.to_s+'/1', :id => frustration.id, :remote => true, :method => :put, class: "voteCounter"
					|
					=link_to "меня устраивает",  '/vote_for/'+frustration.id.to_s+'/0', :id => frustration.id, :remote => true, :method => :put, class: "voteCounter"
			-else
				%br
				%span.red Вы уже проголосовали за это недовольство
.dotline=image_tag('dotline.png')

