- if frustration_for_expert?(@frustration)
	.notification 
		= link_to "принять (50 баллов)", expert_accept_frustration_path(@frustration),:method => :put, :confirm => "Точно принять?"
		или
		= link_to "отклонить c штрафом", expert_decline_frustration_path(@frustration, :penalty => true),:method => :put, :confirm => "Точно отклонить?"
		или
		= link_to "отклонить без штрафа", expert_decline_frustration_path(@frustration, :penalty => false),:method => :put, :confirm => "Точно отклонить?"
		%br
		%br Принять на 100 балов с заменой
		= form_for @frustration, :url => expert_accept_with_replacement_frustration_path(@frustration) do |f|
			= select_tag 'accepted_frustrations', options_from_collection_for_select(@accepted_frustrations, "id", "content"), :prompt => "Выберите, что заменим"
			%br
			%actions
				=f.submit "", class: 'btn'

/ = render @accepted_frustrations

%table{:class => "frustrations"}
	= render 'shared/feed_item', :feed_item => @frustration

- unless @frustration.comments_after_structuring.empty?
	%h2 Комментарии после оформления
	= render @frustration.comments_after_structuring

- unless @frustration.comments_before_structuring.empty?
	%h2 Комментарии до оформления
	= render @frustration.comments_before_structuring