.item
  .collapser_w_checkbox
    %span
      %span.cb_input
        %input.check_push_box{ type: 'checkbox', id: "concept_post_discontents_#{discontent.id}", name: "concept_post_discontents[#{discontent.id}]" }/
        %label{ for: "concept_post_discontents_#{discontent.id}" }
          %i.fa.fa-check
    %span
    %span
      %i.fa.fa-square.color_me{ 'data-me-type' => 'imperf', 'data-me-action' => 'color', 'data-me-color' => "#{discontent.id}" }
    %span.cell_full_w
      %a.a_font_reset.with_arrow.collapsed.collapser_type1{ 'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: "#imperfs3-#{discontent.id}" }
        = discontent.content
        %i.fa.fa-angle-right.fa-lg.font_dark_grey.bold.collapse_arrow
  .collapse.rotate_arrow{ id: "imperfs3-#{discontent.id}" }
    .media.comment.no_x_margin_padding
      .media-left
        - if discontent.user
          = link_to user_path(@project, discontent.user) do
            = user_image_tag discontent.user.try(:avatar), class: 'media-object img35 img-circle'
      .media-body
        .row
          .col-md-4
            %h6.media-heading.bold
              = link_to discontent.user, user_path(@project, discontent.user) if discontent.user
            %span.date
              = Russian::strftime(discontent.created_at, '%d.%m.%Y %k:%M:%S')
          .col-md-4.col-md-offset-4
            .small_icons.text-right
              %span.popup2
                %small
                  = discontent.comments.count
                %i.fa.fa-comment-o
              %span.popup2
                %small
                  = discontent.users_pro.count
                %i.fa.fa-thumbs-o-up.fa-flip-horizontal
              %span.popup2
                %small
                  = discontent.users_against.count
                %i.fa.fa-thumbs-o-down.fa-flip-horizontal
      %p.font_grey.bold
        = t('activerecord.attributes.discontent/post.what')
      %p
        = discontent.what
      %p.font_grey.bold
        = t('activerecord.attributes.discontent/post.whered')
      %p
        = discontent.whered
      %p.font_grey.bold
        = t('activerecord.attributes.discontent/post.whend')
      %p
        = discontent.whend

