.panel-table.item{ class: "item_#{discontent.id}" }
  .panel-heading
    .cell
      .check
        %input.check_push_box{ type: 'checkbox', id: "concept_post_discontents_#{discontent.id}",
        'data-item' => ".item_#{discontent.id}", name: "concept_post_discontents[#{discontent.id}]" }
        %label{ for: "concept_post_discontents_#{discontent.id}" }
          %i.fa.fa-check
    .cell
      %i.fa.fa-square.color_me{ 'data-me-type' => 'imperf', 'data-me-action' => 'color', 'data-me-color' => "#{discontent.id}" }
    .cell
      %a.with_arrow.collapsed{ 'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: "#imperfs3-#{discontent.id}" }
        = discontent.content
        .pull-right
          %i.fa.fa-angle-right.fa-lg.collapse_arrow
  .collapse{ id: "imperfs3-#{discontent.id}" }
    .panel-body
      .about-info
        .media-left
          - if discontent.user
            = link_to user_path(@project, discontent.user) do
              = user_image_tag discontent.user.try(:avatar)
        .media-body
          .row
            .col-md-4
              = link_to discontent.user, user_path(@project, discontent.user) if discontent.user
              %span.date
                = l(discontent.created_at, format: '%d.%m.%Y %k:%M:%S')
            .col-md-4.col-md-offset-4
              .likes
                %span
                  %small
                    = discontent.comments.count
                  %i.fa.fa-comment-o
                %span
                  %small
                    = discontent.users_pro.count
                  %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                %span
                  %small
                    = discontent.users_against.count
                  %i.fa.fa-thumbs-o-down.fa-flip-horizontal
      .description
        %b
          = t('activerecord.attributes.discontent/post.what')
        %p
          = discontent.what
        %b
          = t('activerecord.attributes.discontent/post.whered')
        %p
          = discontent.whered
        %b
          = t('activerecord.attributes.discontent/post.whend')
        %p
          = discontent.whend

