= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  %p.fimage Образ желаемого будущего
  %br
  %label 
    Краткое описание образа
  %field
    = f.text_area :content, class: "wider_area"
  %div{:class=>'timestamp'} Вкратце опишите свой образ, укажите ключевые идеи.  
  %br
  %label 
    %b Эссе об образе:  
  %field
    = f.text_area :goal, class: "wider_area"
  %div{:class=>'timestamp'} Что, в главном, представляет собой ваш образ.
  %br
  %p.fimage Фрагменты образа
  %br
  - @aspects.each_with_index do |as, index|
    %p.fbig.fline #{index+1}. #{as.content}
    -as.posts.each_with_index do |p, index2|
      %p.ftable.fcolor
        =p.show_content.html_safe
      %p.ftable.fline
        %span.bigtext Название решения:
        =text_field_tag 'name'
      %p.ftable.fline.bigtext Кратко как будет решено недовольство:
      %p.ftable
        =text_area_tag 'name',nil, :class => "concept_cond"
      %p.ftable.fback
        %span.fline.bigtext 1. Позитивные условия 
        %br
        %span.funderline Текст условия:
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
        %br
        %span.funderline При помощи чего:
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
        %br
        %span.funderline Вероятные помехи и как с ними бороться: 
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
      %p.ftable.fback
        %span.fline.bigtext 2. Контрнегативные условия 
        %br
        %span.funderline Текст условия:
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
        %br
        %span.funderline При помощи чего:
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
        %br
        %span.funderline Вероятные помехи и как с ними бороться: 
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
      %p.ftable.fback
        %span.fline.bigtext 1. Контролирующие условия 
        %br
        %span.funderline Текст условия:
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
        %br
        %span.funderline При помощи чего:
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"
        %br
        %span.funderline Вероятные помехи и как с ними бороться: 
        %br
        =text_area_tag 'name',nil, :class => "concept_cond"

  %actions
    = f.submit "",  class: "btn"
