%h4=link_to ' << Вернуться к списку', "/project/#{@project.id}/concept/posts/"
= form_for  @post, :url => {:project => @project.id, :asp_id => params[:asp_id].present? ? params[:asp_id] : params[:asp], :imp_comment => params[:imp_comment], :imp_stage => params[:imp_stage], :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' } do |f|
  #mod
  %h5 Устраняемые несовершенства:
  #panel_union
    -if @post.persisted?
      -@post.concept_disposts.each  do |cd|
        =render partial:'discontent/posts/post_short2', object: cd
    -else
      =render partial:'discontent/posts/post_short2', object: @discontent_post unless @discontent_post.nil?
  %br
  .option_for_selectize{project: "#{@project.id}", post: "#{@post.id}"}
  .text-success#add_dispost_success(style='display:none;')
    Несовершенство успешно добавлено
  -if params[:improve_comment] and params[:improve_stage]
    %h4.color-red#add_dispost_warning
      Выберите хотя бы одно несовершенство, которое будет решаться нововведением!
  =select_tag "selectize_concept",
  options_from_collection_for_select(Discontent::Post.where("discontent_posts.id <> ? and project_id = ?", @discontent_post.nil? ? 0 : @discontent_post.id, @project.id).by_status(4), "id", "show_content"),
  class: 'selectized',
  include_blank: true,
  placeholder: "Какие еще несовершенства решает ваше нововведение?"
  %br
  %hr
  .row
    .col-md-12
      .text-center
        %p.h3.color-orange
          Краткое название вашего нововведения
        %br
        =text_field_tag "pa[title]",@pa.title, style: 'width: 100%; height: 30px', placeholder:'Введетие краткое название для своего нововведения'
        %br
  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b A1:

          =t('form.novation_what')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Предположим, вы оказались в будущем. Что там есть такого, что исправляет несовершенство?
          %h6.color-green Пример:
          %h6.text-muted Решаемое несовершенство:
          %span.label.label-default что
          %span.text-muted Пыльный и отвратительный на вид большой пустырь
          %br
          %span.label.label-default где
          %span.text-muted во дворе между домами
          %br
          %span.label.label-default когда
          %span.text-muted в теплое время года
          %br
          %h6.color-green Предлагаемое нововведение:
          %p Большой зеленый газон по всему пустырю  с клумбой с посредине. Клумба засеяна красными многолетными цветами.
    .col-md-6
      .form-group.has-danger
        =text_area_tag "pa[name]",@pa.name, :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'

  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b A2:

          =t('form.novation_how')
        %br
  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6.color-green Пример:
          %p Трава газона и декоративные растения на клумбе будут привлекательны на вид и предотвращать появление пыли.
    .col-md-6
      .form-group.has-danger
        =text_area_tag "pa[content]",@pa.content, :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'

  %hr
  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b B1:

          =t('form.cond')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 То есть какие должны поддерживаться УСЛОВИЯ и разрешаться ЗАДАЧИ
          %h6.color-green Пример:
          %p
            %b Для поддержания внешнего вида газона и травы необходимо обеспечить:

            регулярный полив;  нужно засевать газон травой, а на клумбу высаживать растения; почву периодически вскапывать, удобрять и пропалывать; необходимо весной собирать деньги у жильцов.
    .col-md-6
      .form-group.has-success
        =text_area_tag "pa[positive]",@pa.positive,  :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'

  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b B2:
          =t('form.cond_res')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6
            Ресурсами могут быть методы, технические, организационные или финансовые средства, человеческие силы и вообще все,
            что необходимо иметь в распоряжении в будущем, чтобы обеспечить функционирование нововведения
            %br
            %br
            %b Четкое представление о том, какие ресурсы понадобятся для функционирования нововведения позволят выработать более эффективный проект.
          %br

          %h6.color-green Пример:

          %p
            работник (для ухода за растениями),
            %br
            инструменты (обработки почвы и растений),
            %br
            помещение (для хранения технических средств)...
    .col-md-6
      .form-group.has-success{:id => "resources_positive_r"}
        - if @post.persisted?
          -@post.concept_post_resources.by_type('positive_r').each do |r|
            .panel.panel-default
              .panel-body
                %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                =autocomplete_field_tag "resor_positive_r[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                %br
                = text_area_tag "res_positive_r[]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
        -else
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              %br
              =autocomplete_field_tag "resor_positive_r[]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_positive_r[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              %br
              =autocomplete_field_tag "resor_positive_r[]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_positive_r[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
      %a.btn.btn-warning{onclick:"return add_new_resource_to_concept('positive_r',#{@project.id}); "} Добавить ресурс

  .row
    .col-md-12
      .text-center
        %h4.color-orange
          %b B3.
          =t('form.cond_s')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6.color-green Пример:
          %p
            %b Средства:

            Объявление для найма работника; деньги, собранные с жильцов для оплаты работника, покупки инструментов и аренды помощения

    .col-md-6
      .form-group.has-success{:id => "resources_positive_s"}
        - if @post.persisted?
          -@post.concept_post_resources.by_type('positive_s').each do |r|
            .panel.panel-default
              .panel-body
                %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                =autocomplete_field_tag "resor_positive_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                %br
                = text_area_tag "res_positive_s[]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
        - else
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_positive_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_positive_s[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_positive_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_positive_s[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
      %a.btn.btn-success.pull-right{onclick:"return add_new_resource_to_concept('positive_s',#{@project.id});"} Добавить ресурс

  %hr
  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b C1:
          =t('form.negative_h')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Напишите, какие неприятности могут возникнуть, если будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ.
          %br
          %h6.color-green Пример:

          %p
            Конфликты из-за того, что некоторые жильцы могут отказаться делать денежные взносы.
    .col-md-6
      .form-group.has-success
        =text_area_tag "pa[negative]",@pa.negative,  :class => "concept_cond form-control", rows: 14,  style: 'width: 100%;'

  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b C2:
          =t('form.negative_res')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Что должно иметься в будущем, препятствующее возможному возникновению неприятностей?
          %br
          %h6.color-green Пример:

          %p
            Средства широкого публичного оповещения о должниках
    .col-md-6
      .form-group.has-success{:id => "resources_negative_r"}
        - if @post.persisted?
          -@post.concept_post_resources.by_type('negative_r').each do |r|
            .panel.panel-default
              .panel-body
                %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                =autocomplete_field_tag "resor_negative_r[]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                %br
                = text_area_tag "res_negative_r[]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
        - else
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_negative_r[]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_negative_r[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_negative_r[]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_negative_r[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
      %a.btn.btn-warning{onclick:"return add_new_resource_to_concept('negative_r','#{@project.id}');"} Добавить ресурс

  .row
    .col-md-12
      .text-center
        %h4.color-orange
          %b C3.
          =t('form.negative_s')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Какие средства необходимы для создания ресурсов?
          %br
          %h6.color-green Пример:

          %p
            %b Средства создания:

            деньги на покупку доски объявлений, создание и ведение сайта в Интернет

    .col-md-6
      .form-group.has-success{:id => "resources_negative_s"}
        - if @post.persisted?
          -@post.concept_post_resources.by_type('negative_s').each do |r|
            .panel.panel-default
              .panel-body
                %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                =autocomplete_field_tag "resor_negative_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                %br
                = text_area_tag "res_negative_s[]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
        - else
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_negative_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_negative_s[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_negative_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_negative_s[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
      %a.btn.btn-success.pull-right{onclick:"return add_new_resource_to_concept('negative_s',#{@project.id});"} Добавить ресурс

  %hr

  .row
    .col-md-12
      .text-center
        %h4.color-orange
          %b D1.
          =t('form.control')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Напишите, кто и как будет контролировать создание и поддержание должных УСЛОВИЙ.
          %br
          %h6.color-green Пример:

          %p
            %b Контроль:

            будет осуществляться органом самоуправления жильцов посредством регулярных инспекций

    .col-md-6
      .form-group.has-success
        =text_area_tag "pa[control]",@pa.control, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'

  .row
    .col-md-12
      .text-center
        %h4.color-orange
          %b D2.
          =t('form.control_res')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Какие ресурсы требуются для этого контроля?
          %br
          %h6.color-green Пример:

          %p
            %b Ресурсы для осуществления контроля:

            Ответсвенный за содержание территории.

    .col-md-6
      .form-group.has-success{:id => "resources_control_r"}
        - if @post.persisted?
          -@post.concept_post_resources.by_type('control_r').each do |r|
            .panel.panel-default
              .panel-body
                %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                =autocomplete_field_tag "resor_control_r[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                %br
                = text_area_tag "res_control_r[]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
        - else
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_control_r[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_control_r[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_control_r[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_control_r[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
      %a.btn.btn-success.pull-right{onclick:"return add_new_resource_to_concept('control_r',#{@project.id});"} Добавить ресурс

  .row
    .col-md-12
      .text-center
        %h4.color-orange
          %b D3.
          =t('form.control_s')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Какие средства необходимы для создания ресурсов?
          %br
          %h6.color-green Пример:

          %p
            %b Средства:

            Оплата инспекций

    .col-md-6
      .form-group.has-success{:id => "resources_control_s"}
        - if @post.persisted?
          -@post.concept_post_resources.by_type('control_s').each do |r|
            .panel.panel-default
              .panel-body
                %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                =autocomplete_field_tag "resor_control_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
                %br
                = text_area_tag "res_control_s[]", r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
        - else
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_control_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_control_s[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
          .panel.panel-default
            .panel-body
              %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
              =autocomplete_field_tag "resor_control_s[]",'', autocomplete_concept_post_resource_concept_posts_path,:append_to => "#mod", :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Введите свой ресурс или выберите из списка'
              %br
              = text_area_tag "res_control_s[]", '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
      %a.btn.btn-success.pull-right{onclick:"return add_new_resource_to_concept('control_s',#{@project.id});"} Добавить ресурс
  %hr
  .row
    .col-md-12
      .text-center
        %h4.color-orange
          %b E1.
          =t('form.obstacles_bcd')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6  Что, вероятно, может помешать в будущем плодотворному функционированию всех перечисленных ресурсов и как с этим предлагается бороться?
          %br
          %h6.color-green Пример:
          %p
            %b Вероятные помехи:
            Работник окажется запойным (по всему микрорайону развесить агитационные плакаты "Пьянству - БОЙ!") ...

    .col-md-6
      .form-group.has-success
        =text_area_tag "pa[obstacles]",@pa.obstacles, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'
  %hr
  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b F1:
          =t('form.problems')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Обоснуйте, что "игра стоит свеч".
          %br
          %h6.color-green Пример:
          %p К сожалению, уход за клумбой потребует значительного труда, однако  ввиду ее красоты предлагается на это пойти.
    .col-md-6
      .form-group.has-success
        =text_area_tag "pa[problems]",@pa.problems, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'

  .row
    .col-md-12
      .text-center
        %h3.color-orange
          %b F2:
          =t('form.reality')
        %br

  .row
    .col-md-6
      .text-right.hidden-sm
        %i
          %h6 Покажите, что нужные для нововведения ресурсы несложно и недорого создать
          %br
          %h6.color-green Пример:

          %p Работника нанять недорого; инструменты и материалы приобрести и организовать полив вполне возможно; жильцы, вероятно, согласятся дать на это деньги.
    .col-md-6
      .form-group.has-success
        =text_area_tag "pa[reality]",@pa.reality, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'


  %actions.pull-right
    = f.submit 'Сохранить',  class: 'btn btn-warning btn-lg', id: 'send_post_concept'
  %br
  %br


