= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  %p.fimage Образ желаемого будущего
  %br
  %label 
    Краткое описание образа
  %field
    = f.text_area :content, class: "wider_area"
  %div{:class=>'timestamp'} Вкратце опишите свой образ, укажите ключевые идеи.  
  %br
  %label 
    %b Эссе об образе:  
  %field
    = f.text_area :goal, class: "wider_area"
  %div{:class=>'timestamp'} Что, в главном, представляет собой ваш образ.
  %br
  = select_tag "aspect_id", options_from_collection_for_select(@aspects, "id", "content"), :prompt => "Выберите фрагмент"
  = link_to "добавить недовольства из фрагмента", add_aspect_concept_post_path(@project, @status, 1), :remote => true, :id => "add_aspect_for_concept"
  %br
  %br
  %p.fimage Фрагменты образа
  %br

  #accordion_concept
    =render :partial => 'post_aspect_form', :collection => @post.post_aspects

  %actions
    = f.submit "",  class: "btn"
