= render 'shared/help/new_concept'
= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  %h4 Нововведение (решение):
  %br
  %div.tab-content
    %div.tab-pane.active#novation1
      %div.panel.panel-default
        %div.panel-body
          %button.btn.btn-info.pull-right(data-toggle="modal" data-target="#modalStage3")
            Показать пример
          %h5.text-infoУстраняемое несовершенство (проблема):

          =render partial:'discontent/posts/post_short2', object: @discontent_post
          %br

          %hr
          %div.panel.panel-info
            .panel-heading
              %h5.text-success
                %b A.*


              %p.text-info
                =t('form.novation_what')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt1", style:'font-size:10px;'} Пояснения
              .form-group.has-danger
                =text_area_tag "pa[#{@discontent_post.id}][name]",@pa.name, :class => "concept_cond", rows: 4, style: 'width: 100%;'


              %p.text-info
                =t('form.novation_how')
                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt2", style:'font-size:10px;'} Пояснения
              .form-group.has-danger
                =text_area_tag "pa[#{@discontent_post.id}][content]",@pa.content, :class => "concept_cond", rows: 4, style: 'width: 100%;'


          .panel-group
            .panel.panel-info
              .panel-heading
                %h4.panel-title
                %a(data-toggle="collapse" data-parent="#accordion" href="#collapse1")
                  %b
<<<<<<< HEAD
                    В.
                    =t('form.cond_h')
=======
                    В. Опишите подробно весь процесс функционировния вашего нововведения в будущем
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
                    %span.glyphicon.glyphicon-chevron-down
              #collapse1.panel-collapse.collapse
                .panel-body
                  %p.text-info
<<<<<<< HEAD
                    =t('form.cond')
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt3", style:'font-size:10px;'} Пояснения
                    .form-group.has-success
                      =text_area_tag "pa[#{@discontent_post.id}][positive]",@pa.positive, :placeholder => 'Подробно опишите весь процесс функционирования вашего нововведения в будущем.', :class => "concept_cond", rows: 4, style: 'width: 100%;'
                  %p.text-info
                    =t('form.cond_res')
=======
                    Что должно делаться в будущем, чтобы нововведение функционировало?
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt3", style:'font-size:10px;'} Пояснения
                    .form-group.has-success
                      =text_area_tag "pa[#{@discontent_post.id}][positive]",@pa.positive, :placeholder => 'Опишите подробно весь процесс функционировния вашего нововведения в будущем', :class => "concept_cond", rows: 4, style: 'width: 100%;'
                  %p.text-info
                    Какие ресурсы требуются для поддержания УСЛОВИЯ и разрешения ЗАДАЧИ?
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt4", style:'font-size:10px;'} Пояснения
                    .form-group.has-success
                      =text_area_tag "pa[#{@discontent_post.id}][positive_r]",@pa.positive_r, :placeholder => 'Перечислите все необходимое для успешного функционирования вашего нововедения в будущем', :class => "concept_cond", rows: 4, style: 'width: 100%;'

          .panel-group
            .panel.panel-info
              .panel-heading
                %h4.panel-title
                %a(data-toggle="collapse" data-parent="#accordion" href="#collapse2")
                  %b
<<<<<<< HEAD
                    C.
                    =t('form.negative_h')
                    %span.glyphicon.glyphicon-chevron-down
              #collapse2.panel-collapse.collapse
                .panel-body
                  %p.text-info
                    =t('form.negative')
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt7", style:'font-size:10px;'} Пояснения
                    .form-group.has-success
                      =text_area_tag "pa[#{@discontent_post.id}][negative]",@pa.negative, :placeholder => 'К каким побочным эффектам может привести ваше нововведение в будущем?', :class => "concept_cond", rows: 4,  style: 'width: 100%;'
                  %p.text-info
                    =t('form.negative_res')
=======
                    C. Есть ли нежелательные побочные эффекты у вашего нововведения?
                    %span.glyphicon.glyphicon-chevron-down

              #collapse2.panel-collapse.collapse
                .panel-body
                  %p.text-info
                    Если будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt7", style:'font-size:10px;'} Пояснения
                    .form-group.has-success
                      =text_area_tag "pa[#{@discontent_post.id}][negative]",@pa.negative, :placeholder => 'К каким побочным эффектам может привести ваше нововведение в будущем', :class => "concept_cond", rows: 4,  style: 'width: 100%;'
                  %p.text-info
                    Какие ресурсы требуются, чтобы предотвращать эти ЭФФЕКТЫ?
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt8", style:'font-size:10px;'} Пояснения
                    .form-group.has-success
                      =text_area_tag "pa[#{@discontent_post.id}][negative_r]",@pa.negative_r, :class => "concept_cond", rows: 4,  style: 'width: 100%;'


          .panel-group
            .panel.panel-info
              .panel-heading
                %h4.panel-title
                %a(data-toggle="collapse" data-parent="#accordion" href="#collapse3")
                  %b
<<<<<<< HEAD
                    D.
                    =t('form.problems_h')
                    %span.glyphicon.glyphicon-chevron-down
              #collapse3.panel-collapse.collapse
                .panel-body
                  %p.text-info
                    =t('form.problems')
=======
                    D. Покажите практично ли ваше нововведение?
                    %span.glyphicon.glyphicon-chevron-down

              #collapse3.panel-collapse.collapse
                .panel-body
                  %p.text-info
                    Покажите, что если нововведение будет внедрено и начнет работать в будущем, то эффект от него оправдает денежные и трудовые затраты
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt5", style:'font-size:10px;'} Пояснения
                  .form-group.has-success
                    =text_area_tag "pa[#{@discontent_post.id}][problems]",@pa.problems, :class => "concept_cond", rows: 4,  style: 'width: 100%;'

                  %p.text-info
<<<<<<< HEAD
                    =t('form.reality')
=======
                    Обоснуйте, что воплощение нововведения в жизнь не встретит серьезных препятствий
>>>>>>> f43c06299a095f82a231456865d04a65b8d937f3
                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt6", style:'font-size:10px;'} Пояснения
                  .form-group.has-success
                    =text_area_tag "pa[#{@discontent_post.id}][reality]",@pa.reality, :class => "concept_cond", rows: 4,  style: 'width: 100%;'



  %actions
    = f.submit 'Сохранить',  class: 'btn btn-success btn-sm'




