= form_for @concept_post do |f|
  %label 
    %b Цель -
    образ желаемого будущего
  %br
  %field
    = f.text_area :goal
  %div{:class=>'timestamp'} Что, в главном, представляет собой предлагаемое нововведение и каковы его желаемые результаты.
  %br
  %field
    %label
      %b Задачи -
      направления работы в будущем
      %b Ресурсы -
      методы и средства работы в будущем

    %br
    = text_area_tag 'task_supply[1][1]', '', :class =>'task'
    &nbsp; ===>
    = text_area_tag 'task_supply[1][2]', '', :class =>'task'
  %br
  %field
    
    %br
    = text_area_tag 'task_supply[2][1]', '', :class =>'task'
    &nbsp; ===>
    = text_area_tag 'task_supply[2][2]', '', :class =>'task'
  %br
  %field 
    %br
    = text_area_tag 'task_supply[3][1]', '', :class =>'task'
    &nbsp; ===>
    = text_area_tag 'task_supply[3][2]', '', :class =>'task'
  %div{:class=>'timestamp'} - какие конкретные практические вопросы должны разрешаться 
  %div.timestamp   - посредством каких ресурсов это  предлагается делать

  %br
  %br
  %label 
    %b Реалистичность -
    возможно ли это осуществить на практике? 
  %br
  %field
    = f.text_area :reality
  %div{:class=>'timestamp'} - Каким образом и в какие сроки реалистично ввести в действие в ДО СГУ данное нововведение, в частности, задействовать ресурсы для него, и почему осуществить это реалистично?


  %actions
    = f.submit "",  class: "btn"
