-#%label{:for => "select_for_discussion_aspects_add"} Выберите тему
-#= select_tag 'select_for_discussion_aspects_add', options_from_collection_for_select(@aspects, "id", "content"), class: 'select-block-level', onchange: "discussion_select_aspect(this);"
= form_tag(concept_posts_fast_discussion_concepts_path(@project, add_dis_id: @add_dispost, save_form_concept: true), {method: :get, remote: true, id: 'form_add_discussion'}) do
  %label{:for => "select_for_discussion_discontents_add_concept"} Выберите несовершенство
  = select_tag 'select_for_discussion_discontents_add_concept', options_from_collection_for_select(@disposts, "id", "content"), class: 'select-block-level', onchange: "discussion_select_discontent_add_concept(this);"
  %br
  %hr
  %h4.text-success Несовершенство:
  %div{:id => "update_discontent_discussion_add_concept"}
    = render partial: 'discontent/posts/post_short2', object: @add_dispost unless @add_dispost.nil?
    -#= render partial: 'form_fast_add_dispost_for_discussion'
  %br
  %div{:id => "update_concept_discussion_form"}
    = render partial: 'form_add_concept_for_discussion'
  %br
  .text-success#concept_success(style='display:none;')
    Нововведение успешно добавлено
  .text-danger#concept_failed(style='display:none;')
    Заполните, пожалуйста, все поля
  %br
  .pull-right
    %input.btn.btn-success{:type => "submit", :id  => "send_discussion", :value => "Сохранить и перейти к следующему несовершенству"}
  = link_to 'Пропустить несовершенство', concept_posts_fast_discussion_concepts_path(@project, add_dis_id: @add_dispost, empty_discontent: true), remote: true, id: 'empty_discussion', class: 'btn btn-danger'