= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  %label 
    О чем концепция
  %br
  %field
    = f.text_area :content
  %div{:class=>'timestamp'} Вкратце опишите свою концепцию, укажите какие недовольства будут разрешены.  
  %label 
    %b Цель -
    образ желаемого будущего
  %br
  %field
    = f.text_area :goal
  %div{:class=>'timestamp'} Что, в главном, представляет собой предлагаемое нововведение и каковы его желаемые результаты.
  %br
  %table.tasks
    %tr
      %td
        %label.small
          %b Задачи -
          направления работы в будущем
      %td &nbsp;
     
    - @post.task_supply_pairs.each_with_index do |p, index|
      %tr.ts
        %td= text_area_tag 'task_supply['+index.to_s+'][1]', p.task, :class =>'wymeditor'
        %td=link_to_function image_tag('close.png'), ' $(this).parent().parent().remove()'
    

    %tr.links
      %td{:colspan=>'3'}= link_to_function 'Добавить задачу', 'addTask($(".ts").length+20)'


    %tr
      %td
        %div.timestamp.short - какие конкретные практические вопросы должны будут разрешаться
     
  %br
  %br
  %label 
    %b Реалистичность -
    возможно ли это осуществить на практике? 
  %br
  %field
    = f.text_area :reality
  %div{:class=>'timestamp'} - Каким образом и в какие сроки реалистично ввести в действие в ДО СГУ данное нововведение, в частности, задействовать ресурсы для него, и почему осуществить это реалистично?
  - unless @ltpost.nil?
    = hidden_field_tag 'idea', @ltpost 


  %actions
    = f.submit "",  class: "btn"
