= render 'shared/help/new_concept'
= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  %h4 Нововведение:
  %br
  %div.tab-content
    %div.tab-pane.active#novation1
      %div.panel.panel-default
        %div.panel-body
          -#%button.btn.btn-info.pull-right(data-toggle="modal" data-target="#modalStage3")
          -#  Показать пример
          %h6.text-info Устраняемые несовершенства:
          #panel_union
            -if !@post.id.nil?
              -@post.concept_disposts.each  do |cd|
                -if cd.id != @discontent_post.id
                  -@remove_able = 1
                -else
                  -@remove_able = nil
                =render partial:'discontent/posts/post_short2', object: cd
            -else
              =render partial:'discontent/posts/post_short2', object: @discontent_post
          %br
          .option_for_selectize{project: "#{@project.id}", post: "#{@post.id}"}
          .text-success#add_dispost_success(style='display:none;')
            Несовершенство успешно добавлено
          =select_tag "selectize_concept",
          options_from_collection_for_select(Discontent::Post.where("discontent_posts.id <> ? and project_id = ?", @discontent_post.id, @project.id).by_status(4), "id", "show_content"),
          class: 'selectized',
          include_blank: true,
          placeholder: "Какие еще несовершенства решает ваше нововведение?"

          %hr
          .row
            .col-md-12
              .text-center
                %p.text-info.h5
                  Краткое название вашего нововведения
                %br
                =text_field_tag "pa[#{@discontent_post.id}][title]",@pa.title, style: 'width: 100%; height: 30px', placeholder:'Введетие краткое название для своего нововведения'
                %br
          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b A 1
                %p.text-info.h5
                  =t('form.novation_what')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-primary Предположим, вы оказались в будущем. Что там есть такого, что исправляет несовершенство?
                  %h6.text-success Пример:
                  %h6.text-muted Решаемое несовершенство:
                  %span.label.label-default что
                  %span.text-muted Пыльный и отвратительный на вид большой пустырь
                  %br
                  %span.label.label-default где
                  %span.text-muted во дворе между домами
                  %br
                  %span.label.label-default когда
                  %span.text-muted в теплое время года
                  %br
                  %h6.text-success Предлагаемое нововведение:
                  %p Большой зеленый газон по всему пустырю  с клумбой с посредине. Клумба засеяна красными многолетными цветами.
            .col-md-6
              .form-group.has-danger
                =text_area_tag "pa[#{@discontent_post.id}][name]",@pa.name, :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
                -#=text_area_tag "pa[name]",@pa.name, :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b A 2
                %p.text-info.h5
                  =t('form.novation_how')
                %br
          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-success Пример:

                  %p Трава газона и декоративные растения на клумбе будут привлекательны на вид и предотвращать появление пыли.
            .col-md-6
              .form-group.has-danger
                =text_area_tag "pa[#{@discontent_post.id}][content]",@pa.content, :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
                -#=text_area_tag "pa[content]",@pa.content, :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
          %hr
          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b B 1
                %p.text-info.h5
                  =t('form.cond')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-success Пример:
                  %p
                    %b Для поддержания внешнего вида газона и травы необходимо обеспечить:

                    регулярный полив;  нужно засевать газон травой, а на клумбу высаживать растения; почву периодически вскапывать, удобрять и пропалывать; необходимо весной собирать деньги у жильцов.
            .col-md-6
              .form-group.has-success
                =text_area_tag "pa[#{@discontent_post.id}][positive]",@pa.positive,  :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
                -#=text_area_tag "pa[positive]",@pa.positive, :placeholder => 'Подробно опишите весь процесс функционирования вашего нововведения в будущем.', :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b B 2
                %p.text-info.h5
                  =t('form.cond_res')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-primary
                    Ресурсами могут быть методы, технические, организационные или финансовые средства, человеческие силы и вообще все,
                    что необходимо иметь в распоряжении в будущем, чтобы обеспечить функционирование нововведения
                    %br
                    %br
                    %b Четкое представление о том, какие ресурсы понадобятся для функционирования нововведения позволят выработать более эффективный проект.
                  %br

                  %h6.text-success Пример:

                  %p
                    работник (для ухода за растениями),
                    %br
                    инструменты (обработки почвы и растений),
                    %br
                    помещение (для хранения технических средств)...
            .col-md-6
              .form-group.has-success#resources
                - if @post.persisted?
                  -@post.concept_post_resources.each do |r|
                    .panel.panel-default
                      .panel-body
                        %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}

                        =f.autocomplete_field :resource, autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: 'Ресурс', name: 'resor[]'
                        %br
                        = text_area_tag 'res[]', r.desc, class: 'form-control', placeholder: 'Пояснение к ресурсу'
                -else


                  .panel.panel-default
                    .panel-body
                      %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}

                      =f.autocomplete_field :resource, autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Ресурс', name: 'resor[]'
                      %br
                      = text_area_tag 'res[]', '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
                  .panel.panel-default
                    .panel-body
                      %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}

                      =f.autocomplete_field :resource, autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: 'Ресурс', name: 'resor[]'
                      %br
                      = text_area_tag 'res[]', '', class: 'form-control', placeholder: 'Пояснение к ресурсу'
              %a.btn.btn-success{onclick:"return add_new_resource_to_concept(); "} Добавить ресурс

              -#=text_area_tag "pa[#{@discontent_post.id}][positive_r]",@pa.positive_r, :placeholder => 'Перечислите все необходимое для успешного функционирования вашего нововедения в будущем', :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'

          %hr
          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b C 1
                %p.text-info.h5
                  =t('form.negative_h')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-primary Напишите, какие неприятности могут возникнуть, если будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ.
                  %br
                  %h6.text-success Пример:

                  %p
                    Конфликты из-за того, что некоторые жильцы могут отказаться делать денежные взносы.
            .col-md-6
              .form-group.has-success
                =text_area_tag "pa[#{@discontent_post.id}][negative]",@pa.negative,  :class => "concept_cond form-control", rows: 14,  style: 'width: 100%;'
                -#=text_area_tag "pa[negative]",@pa.negative, :placeholder => 'К каким побочным эффектам может привести ваше нововведение в будущем?', :class => "concept_cond form-control", rows: 14,  style: 'width: 100%;'

          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b C 2
                %p.text-info.h5
                  =t('form.negative_res')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-primary Что должно иметься в будущем, препятствующее возможному возникновению неприятностей?
                  %br
                  %h6.text-success Пример:

                  %p
                    Средства широкого публичного оповещения о должниках
            .col-md-6
              .form-group.has-success
                =text_area_tag "pa[#{@discontent_post.id}][negative_r]",@pa.negative_r, :class => "concept_cond form-control", rows: 14,  style: 'width: 100%;'
                -#=text_area_tag "pa[negative_r]",@pa.negative_r, :class => "concept_cond form-control", rows: 14,  style: 'width: 100%;'

          %hr
          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b D 1
                %p.text-info.h5
                  =t('form.problems')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-primary Обоснуйте, что "игра стоит свеч".
                  %br
                  %h6.text-success Пример:
                  %p К сожалению, уход за клумбой потребует значительного труда, однако  ввиду ее красоты предлагается на это пойти.
            .col-md-6
              .form-group.has-success
                =text_area_tag "pa[#{@discontent_post.id}][problems]",@pa.problems, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'
                -#=text_area_tag "pa[problems]",@pa.problems, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'

          .row
            .col-md-12
              .text-center
                %h6.text-success
                  %b D 2
                %p.text-info.h5
                  =t('form.reality')
                %br

          .row
            .col-md-6
              .text-right
                %i
                  %h6.text-primary Покажите, что нужные для нововведения ресурсы несложно и недорого создать
                  %br
                  %h6.text-success Пример:

                  %p Работника нанять недорого; инструменты и материалы приобрести и организовать полив вполне возможно; жильцы, вероятно, согласятся дать на это деньги.
            .col-md-6
              .form-group.has-success
                =text_area_tag "pa[#{@discontent_post.id}][reality]",@pa.reality, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'
                -#=text_area_tag "pa[reality]",@pa.reality, :class => "concept_cond form-control", rows: 12,  style: 'width: 100%;'


  %actions
    = f.submit 'Сохранить',  class: 'btn btn-success btn-sm'
  %br
  %br









-#= render 'shared/help/new_concept'
-#= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
-#  %h4 Нововведение (решение):
-#  %br
-#  %div.tab-content
-#    %div.tab-pane.active#novation1
-#      %div.panel.panel-default
-#        %div.panel-body
-#          %button.btn.btn-info.pull-right(data-toggle="modal" data-target="#modalStage3")
-#            Показать пример
-#          %h6.text-infoУстраняемое несовершенство (проблема):
-#
-#          =render partial:'discontent/posts/post_short2', object: @discontent_post
-#          %br
-#
-#          %hr
-#          %div.panel.panel-info
-#            .panel-heading
-#              %h6.text-success
-#                %b A.*
-#
-#
-#              %p.text-info
-#                =t('form.novation_what')
-#                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt1", style:'font-size:10px;'} Пояснения
-#              .form-group.has-danger
-#                =text_area_tag "pa[#{@discontent_post.id}][name]",@pa.name, :class => "concept_cond", rows: 4, style: 'width: 100%;'
-#
-#
-#              %p.text-info
-#                =t('form.novation_how')
-#                %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt2", style:'font-size:10px;'} Пояснения
-#              .form-group.has-danger
-#                =text_area_tag "pa[#{@discontent_post.id}][content]",@pa.content, :class => "concept_cond", rows: 4, style: 'width: 100%;'
-#
-#
-#          .panel-group
-#            .panel.panel-info
-#              .panel-heading
-#                %h4.panel-title
-#                %a(data-toggle="collapse" data-parent="#accordion" href="#collapse1")
-#                  %b
-#                    В.
-#                    =t('form.cond_h')
-#
-#                    %span.glyphicon.glyphicon-chevron-down
-#              #collapse1.panel-collapse.collapse
-#                .panel-body
-#                  %p.text-info
-#                    =t('form.cond')
-#                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt3", style:'font-size:10px;'} Пояснения
-#                    .form-group.has-success
-#                      =text_area_tag "pa[#{@discontent_post.id}][positive]",@pa.positive, :placeholder => 'Подробно опишите весь процесс функционирования вашего нововведения в будущем.', :class => "concept_cond", rows: 4, style: 'width: 100%;'
-#                  %p.text-info
-#                    =t('form.cond_res')
-#                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt4", style:'font-size:10px;'} Пояснения
-#                    .form-group.has-success
-#                      =text_area_tag "pa[#{@discontent_post.id}][positive_r]",@pa.positive_r, :placeholder => 'Перечислите все необходимое для успешного функционирования вашего нововедения в будущем', :class => "concept_cond", rows: 4, style: 'width: 100%;'
-#
-#          .panel-group
-#            .panel.panel-info
-#              .panel-heading
-#                %h4.panel-title
-#                %a(data-toggle="collapse" data-parent="#accordion" href="#collapse2")
-#                  %b
-#                    C.
-#                    =t('form.negative_h')
-#                    %span.glyphicon.glyphicon-chevron-down
-#              #collapse2.panel-collapse.collapse
-#                .panel-body
-#                  %p.text-info
-#                    =t('form.negative')
-#                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt7", style:'font-size:10px;'} Пояснения
-#                    .form-group.has-success
-#                      =text_area_tag "pa[#{@discontent_post.id}][negative]",@pa.negative, :placeholder => 'К каким побочным эффектам может привести ваше нововведение в будущем?', :class => "concept_cond", rows: 4,  style: 'width: 100%;'
-#                  %p.text-info
-#                    =t('form.negative_res')
-#
-#                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt8", style:'font-size:10px;'} Пояснения
-#                    .form-group.has-success
-#                      =text_area_tag "pa[#{@discontent_post.id}][negative_r]",@pa.negative_r, :class => "concept_cond", rows: 4,  style: 'width: 100%;'
-#
-#
-#          .panel-group
-#            .panel.panel-info
-#              .panel-heading
-#                %h4.panel-title
-#                %a(data-toggle="collapse" data-parent="#accordion" href="#collapse3")
-#                  %b
-#                    D.
-#                    =t('form.problems_h')
-#                    %span.glyphicon.glyphicon-chevron-down
-#              #collapse3.panel-collapse.collapse
-#                .panel-body
-#                  %p.text-info
-#                    =t('form.problems')
-#
-#                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt5", style:'font-size:10px;'} Пояснения
-#                  .form-group.has-success
-#                    =text_area_tag "pa[#{@discontent_post.id}][problems]",@pa.problems, :class => "concept_cond", rows: 4,  style: 'width: 100%;'
-#
-#                  %p.text-info
-#                    =t('form.reality')
-#
-#                    %a.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#prompt6", style:'font-size:10px;'} Пояснения
-#                  .form-group.has-success
-#                    =text_area_tag "pa[#{@discontent_post.id}][reality]",@pa.reality, :class => "concept_cond", rows: 4,  style: 'width: 100%;'
-#
-#
-#
-#  %actions
-#    = f.submit 'Сохранить',  class: 'btn btn-success btn-sm'
-#
-#
-#
-#
