.row
  .col-md-12
    .divider10
    = render partial: 'shared/create_success', locals: {model_name: 'concept'}

    = form_for @concept_post, url: {project: @project.id, action: @concept_post.persisted? ? 'update' : 'create'}, remote: true do |f|
      .content_window.white
        .divider25
        %p
          = t('activerecord.attributes.concept/post.title')
        = f.text_area :title, class: 'form-control', rows: 1
        .divider15
        %p
          = t('activerecord.attributes.concept/post.goal')
        = f.text_area :goal, class: 'form-control', rows: 2
        .divider15
        %p
          = t('activerecord.attributes.concept/post.content')
        = f.text_area :content, class: 'form-control', rows: 2
        .divider15
        %p
          = t('activerecord.attributes.concept/post.actors')
        = f.text_area :actors, class: 'form-control', rows: 1
        .divider15
        %p
          = t('activerecord.attributes.concept/post.impact_env')
        = f.text_area :impact_env, class: 'form-control', rows: 1
        .divider15
        %p
          = f.submit t('form.save'), class: 'btn add-button type2 pull-right', id: 'send_post_concept'
        .divider15
        .check_push_cont.checked_items
          %p.hideable_checks.enter_lenght
            Устраняемые несовершенства
            %span.ch_lenght
      .divider10
    .content_window.white
      %a.theme_font_color.with_arrow.collapsed.collapser_type1#open_discontents{'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: '#imperfs1'}
        %span.enter_lenght
          = 'Привязать идею к несовершенству'
          %span.unch_lenght
        %i.fa.fa-chevron-circle-right.fa-lg.collapse_arrow
      #imperfs1.collapse.check_push_cont.rotate_arrow.unchecked_items
        - @discontent_posts.each do |discontent|
          .item
            %span
              %span.cb_input
                %input.check_push_box{type: 'checkbox', id: "concept_post_discontents[#{discontent.id}]", name: "concept_post_discontents[#{discontent.id}]"}/
                %label{for: "concept_post_discontents[#{discontent.id}]"}
                  %i.fa.fa-check
            %span.cell_full_w
              %a.a_font_reset.with_arrow.collapsed.collapser_type1{'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: '#imperfs3-1-1'}
                %span.color_counter.color_me{'data-me-action' => 'background-color', 'data-me-color' => '0', 'data-me-type' => 'imperf'}>
                = discontent.content
                %i.fa.fa-angle-right.fa-lg.collapse_arrow
              #imperfs3-1-1.description.collapse.rotate_arrow
                .media.comment
                  .media-left
                    = cl_image_tag discontent.user.avatar, class: 'media-object img35 img-circle'
                  .media-body
                    .row
                      .col-md-4
                        %h6.media-heading.bold
                          = discontent.user
                        %span.date
                          = Russian::strftime(discontent.created_at,'%d.%m.%Y %k:%M:%S')
                      .col-md-4.col-md-offset-4
                        .small_icons.text-right
                          %span.popup2
                            %small 5
                            %i.fa.fa-comment-o
                          %span.popup2
                            %small 9
                            %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                          %span.popup2
                            %small 1
                            %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                  %p.font_grey.bold
                    = discontent.whend
