%h4=link_to " << #{t('link.back_list')}", "/project/#{@project.id}/concept/posts/"

%section
  .body
    #wizard.form-wizard
      %ul.h6.wizard-navigation.nav-justified
        %li#first
          %a{"data-toggle" => "tab", :href => "#tab1"}
            %small 1.
            %strong.hidden-sm.hidden-md Введение
        %li#second
          %a{"data-toggle" => "tab", :href => "#tab2"}
            %small 2.
            %strong.hidden-sm.hidden-md Идея
        %li#third
          %a{"data-toggle" => "tab", :href => "#tab3"}
            %small 3.
            %strong.hidden-sm.hidden-md Функционирование
        %li#fourth
          %a{"data-toggle" => "tab", :href => "#tab4"}
            %small 4.
            %strong.hidden-sm.hidden-md Побочные&nbsp;эффекты
        %li#fifth
          %a{"data-toggle" => "tab", :href => "#tab5"}
            %small 5.
            %strong.hidden-sm.hidden-md Контроль
        %li#sixth
          %a{"data-toggle" => "tab", :href => "#tab6"}
            %small 6.
            %strong.hidden-sm.hidden-md Целесообразность
        %li#seventh
          %a{"data-toggle" => "tab", :href => "#tab7"}
            %small 7.
            %strong.hidden-sm.hidden-md Несовершенства


      #bar.progress.progress-small
        .progress-bar

      #option_for_wizard_tab(data-tab="1")
      #form_for_concept
        = form_for  @concept_post, :url => {:project => @project.id, :asp_id => params[:asp_id].present? ? params[:asp_id] : params[:asp], :improve_comment => params[:improve_comment], :improve_stage => params[:improve_stage], :action => @concept_post.persisted? ? 'update' : 'create'},  :remote => true,  :html => { :class => 'new_or_edit form-new-concept' } do |f|
          #mod
          #notice_messages
          #option_for_project(data-project="#{@project.id}")
          #option_for_wizard_save(data-project="#{@project.id}" data-post="#{@concept_post.id}")

          .tab-content
            #tab1.tab-pane
              .form-horizontal
                %fieldset
                  %h4
                    %p
                      На этой стадии процедуры перед участниками стоит задача придумать и описать нововведения, устраняющие актуальные несовершенства.
                    %p
                      У разных людей креативное мышление устроено по-разному: одним проще взять отдельное несовершенство и искать конкретный способ его устранения, а другим проще вообразить измененное будущее, в котором устранены определенные несовершенства. И те, и другие могут представлять свои нововведения по шаблону MASSDECISION™, представленному на схеме ниже.
                  %br
                  %div(style="text-align:center;")
                    = image_tag 'img/concept_intro.png', style: "width:100%;"


            #tab2.tab-pane
              .form-horizontal
                %fieldset
                  .row
                    .col-md-4
                      .row
                        .col-md-12
                          %section
                            .body
                              .text-center
                                %h3(style="font-weight:800;") Идея
                              %p
                                В первых двух полях излагается замысел нововведения, и они обязательны для заполнения.
                              .text-center
                                %h1.color-orange(style="font-weight:800;") +40
                                %small
                                  Вы получите баллы поcле проверки модератором этого блока.

                    .col-md-8
                      .row
                        .col-md-12
                          .text-center
                            %p.h3.color-orange
                              =t('form.concept.title')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-0"} Показать пример
                            #example-0.collapse
                              %i.color-teal Цветник около Высокого дуба.
                            %br
                            =text_field_tag "pa[title]",@pa.title, style: 'width: 100%; height: 30px', placeholder: t('form.concept.title_promt')
                            %br
                      %br
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b A1:
                              =t('form.concept.novation_what')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-1"} Показать пример
                            #example-1.collapse
                              %i.color-teal Четвероногие разобьют около дуба большой цветник, где высадят и вырастят медоносные растения и станут за ними ухаживать.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 1}

                      .row
                        .col-md-12
                          =text_area_tag "pa[name]",@pa.name, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
                      %br
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b A2:
                              =t('form.concept.novation_how')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-2"} Показать пример
                            #example-2.collapse
                              %i.color-teal
                                Когда четвероногие, чтобы заинтересовать пчел , разобьют около дуба цветник, , пчелам не нужно будет тратить
                                много времени и сил на перелеты за нектаром. В результате благодаря инициативе четвероногих пчелы колоссально
                                повысят производство меда. В связи с новым положением дел четвероногие и пчелы заключат соглашение,
                                регулирующее их отношения. По этому соглашению, в частности, в обмен на пользование цветником пчелы будут
                                отдавать четвероногим половину того меда, который они произведут сверх нынешнего уровня. Таким образом,
                                выиграют все: и пчелы будут иметь гораздо больше меда, чем теперь, и четвероногие получат его вдоволь.
                                В результате взаимная агрессия и недоверие  будут устранены.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 2}

                      .row
                        .col-md-12
                          =text_area_tag "pa[content]",@pa.content, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
                  %br
                  %br
                  .row
                    .col-md-12
                      %section
                        .body
                          %p
                            На этом вы имеете право завершить заполнение формы и в таком виде выдвинуть материал на всеобщее обсуждение.
                            Если вы не станете заполнять остальные поля, то ваш материал приобретет статус «Идея».
                            Впоследствии идею можно развить до полноценного нововведения, показав, что она
                            %b.color-teal работоспособна, реалистична, безопасна и эффективна.
                            Развить идею можете как вы сами, так и любой другой участник. Для этого необходимо ответить на вопросы из следующих блоков.
                            Заполнение каждого блока принесет участнику определенное количество баллов.

            #tab3.tab-pane
              .form-horizontal
                %fieldset
                  .row
                    .col-md-4
                      .row
                        .col-md-12
                          %section
                            .body
                              .text-center
                                %h3(style="font-weight:800;") Функционирование
                              %p
                                Мало высказать идею нововведения. Необходимо решить, работоспособна ли она. Единственный способ сделать это еще до ее реализации —
                                провести мысленный эксперимент. Для этого попытайтесь в своем воображении перенестись в будущее, в котором ваше нововведение
                                успешно реализовано, проанализируйте и опишите его при помощи приведенной ниже формы. Главное — описать будущее так, чтобы его могли
                                представить и ваши коллеги. Очень важно, чтобы они тоже приняли участие в мысленном эксперименте: проверили вашу идею на прочность,
                                покритиковали, а может даже посоветовали бы что-нибудь для ее улучшения.
                              %p
                                Вообще, ценно, если участник вовлечен не только в мысленный эксперимент по своему нововведению, но и в анализ нововведений коллег.
                                Это поможет всем лучше понять идеи авторов нововведений, а возможно, и улучшить их. У любого участника есть возможность разместить
                                комментарий с пометкой «Совет» к каждому представленному нововведению. Если он пройдет модерацию и будет принят автором данного
                                нововведения, участник получит 20 дополнительных баллов. Обращайте внимание на участников, которые дают вам полезные советы.
                                Возможно, именно с ними вы захотите объединиться в команды по созданию проектов на следующей стадии.
                              .text-center
                                %h1.color-orange(style="font-weight:800;") +30
                                %small
                                  Вы получите баллы поcле проверки модератором этого блока.

                    .col-md-8
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b B1:
                              =t('form.concept.cond')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-3"} Показать пример
                            #example-3.collapse
                              -#%p
                              -#  Описание воображаемого функционирования любой системы должно состоять из двух частей:
                              -#  %br
                              -#  1. Новая функциональная деятельность, рутинно осуществляемая в системе.
                              -#  %br
                              -#  2. Новое состояние, в которое эта система перешла.
                              -#  %br
                              -#%p
                              -#  Рутинная функциональная деятельность состоит из регулярно или периодически повторяющихся действий.
                              -#%i.color-teal
                              -#  Пчелы собирают нектар  с медоносных растений цветника.
                              -#  В конце каждого сезона подсчитывается, сколько меда произведено сверх нынешнего уровня, и половина этого количества передается четвероногим.
                              -#%br
                              -#%br
                              -#%p
                              -#  В описание нового состояния должно входить описание условий, которые созданы и поддерживаются в будущем для обеспечения функциональной деятельности.
                              %i.color-teal
                                -#%b Условие:
                                -#%br
                                -#В цветнике высажены медоносные растения, за которыми обеспечивается необходимый уход.
                                -#%br
                                -#%b Поддержание:
                                -#%br
                                Винни и его друзья делятся на две группы. Первая группа занимается пополнением ассортимента медоносных растений, а вторая поддерживает условия их роста – пропалывает почву и поливает цветник.
                              %br
                              %br
                      .row
                        .col-md-12
                          =text_area_tag "pa[positive]", @pa.positive, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post, :type_fd => 3}

                      %br
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b B2:
                              =t('form.concept.cond_res')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-4"} Показать пример
                            -#%p
                            -#  С учетом того, что вы указали в поле В1, вам нужно перечислить все ресурсы, которые потребуются для будущего функционирования вашего нововведения.
                            -#  Тем, кто укажет, откуда возьмутся или как будут созданы эти ресурсы, будут начислены дополнительные баллы.
                            #example-4.collapse
                              -#Ресурсы делятся на 2 типа:
                              -#%br
                              -#%b Ресурсы функционирования –
                              -#ресурсы, необходимые для работы каждого регулярного действия или поддержания условий в будущем.
                              -#%br
                              -#%b Ресурсы создания –
                              -#ресурсы, необходимые для создания ресурсов функционирования.
                              -#%br
                              -#Каждому ресурсу функционирования соответствуют свои ресурсы создания.
                              %i.color-teal
                                %div - Вода для полива
                                .mean_otstup - Воду можно набирать в пруду недалеко от дуба.
                                %div - Садовый инвентарь
                                .mean_otstup - У мамы Кенги есть все необходимое для ухода за садом.
                                %div - Карта леса, где отмечены все цветочные лужайки, где можно собирать семена и саженцы для цветника у Высокого дуба.
                                .mean_otstup - Такую карту могут составить пчелы.
                                %div - Методы сбора цветов и семян
                                .mean_otstup - Энциклопедические знания Кролика окажутся очень кстати.
                            %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 4}
                      .row
                        .col-md-12
                          .text-left
                            =t('form.concept.resources_rules')
                            %br
                            %b=t('form.concept.res_buttons')
                            .row
                              %span.color-orange
                                %i.fa.fa-plus
                                =t('form.concept.add_res_btn')
                              %span=" - #{t('form.concept.add_res_btn_desc')}"
                            .row
                              %span.color-teal
                                %i.fa.fa-edit
                                =t('form.concept.add_desc_btn')
                              %span=" - #{t('form.concept.add_desc_btn_desc')}"
                            .row
                              %span.color-green
                                %i.fa.fa-plus
                                =t('form.concept.add_mean_btn')
                              %span=" - #{t('form.concept.add_mean_btn_desc')}"
                            .row
                              %span.text-danger
                                %i.fa.fa-trash-o
                                =t('form.concept.del_res_btn')
                              %span=" - #{t('form.concept.del_res_btn_desc')}"
                            %br
                      .row
                        .col-md-12.section-resources{ data: { section: "positive" } }
                          .form-group.has-success{id: "resources_positive_r", style: "line-height:20px;"}
                            - if @concept_post.persisted? and @concept_post.concept_post_resources.by_type('positive_r').any?
                              -@concept_post.concept_post_resources.by_type('positive_r').each_with_index do |r,i|
                                %div.main_resources.main_res(id="main_positive_r_#{i+1}" data-position="#{i+1}")
                                  .col-md-8
                                    = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0, value: r.name,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
                                    %input{name: "resor[][type_res]", type: "hidden", value: "positive_r"}
                                  .col-md-4
                                    .pull-right
                                      %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                        %i.fa.fa-edit
                                      %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'), class: "plus_mean"}
                                        %i.fa.fa-plus
                                      %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), class: "destroy_res"}
                                        %i.fa.fa-trash-o
                                  %br
                                  %br
                                  %div.desc_resource(id="desc_positive_r_#{i+1}" data-position="#{i+1}")
                                    = text_area_tag "resor[][desc]", r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
                                    %br
                                  %div.col-md-offset-1.col-md-11.means_to_resource(id="means_positive_s_#{i+1}")
                                    -r.concept_post_resources.by_type('positive_s').each_with_index do |res,ind|
                                      %div.main_means.main_res(id="main_positive_s_#{i+1}" data-position="#{i+1}")
                                        .col-md-8
                                          = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: t('form.concept.mean_promt')
                                          %input{name: "resor[][means][][type_res]", type: "hidden", value: "positive_s"}
                                        .col-md-4
                                          .pull-right
                                            %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                              %i.fa.fa-edit
                                            %button.btn.btn-danger{type: "button",title: t('form.concept.del_mean_btn'), class: "destroy_res"}
                                              %i.fa.fa-trash-o
                                        %br
                                        %br
                                        %div.desc_resource(id="desc_positive_s_#{i+1}" data-position="#{i+1}")
                                          = text_area_tag "resor[][means][][desc]", res.desc, class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                                          %br

                            -else
                              %div.main_resources.main_res(id="main_positive_r_1" data-position="1")
                                .col-md-8
                                  = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
                                  %input{name: "resor[][type_res]", type: "hidden", value: "positive_r"}
                                .col-md-4
                                  .pull-right
                                    %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                      %i.fa.fa-edit
                                    %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'), class: "plus_mean"}
                                      %i.fa.fa-plus
                                    %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), class: "destroy_res"}
                                      %i.fa.fa-trash-o
                                %br
                                %br
                                %div.desc_resource(id="desc_positive_r_1" data-position="1" style="display:none;")
                                  = text_area_tag "resor[][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
                                  %br
                                %div.col-md-offset-1.col-md-11.means_to_resource(id="means_positive_s_1")
                                  %div.main_means.main_res(id="main_positive_s_1" data-position="1")
                                    .col-md-8
                                      = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, class: 'form-control autocomplete', placeholder: t('form.concept.mean_promt')
                                      %input{name: "resor[][means][][type_res]", type: "hidden", value: "positive_s"}
                                    .col-md-4
                                      .pull-right
                                        %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                          %i.fa.fa-edit
                                        %button.btn.btn-danger{type: "button",title: t('form.concept.del_mean_btn'), class: "destroy_res"}
                                          %i.fa.fa-trash-o
                                    %br
                                    %br
                                    %div.desc_resource(id="desc_positive_s_1" data-position="1" style="display:none;")
                                      = text_area_tag "resor[][means][][desc]", '', class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                                      %br

                          %a.btn.btn-warning.pull-left{class: "plus_resource", id:"add_positive_r"}
                            %i.fa.fa-plus
                            =t('form.concept.add_res_btn')


            #tab4.tab-pane
              .form-horizontal
                %fieldset
                  .row
                    .col-md-4
                      .row
                        .col-md-12
                          %section
                            .body
                              .text-center
                                %h3(style="font-weight:800;") Нежелательные побочные эффекты
                              %p
                                Даже если нововведение работоспособно, нередко случается так, что запланированное улучшение определенного аспекта ситуации ухудшает ее в
                                других аспектах, и поэтому любое нововведение следует проверять на возможные отрицательные эффекты. Такую проверку продуктивно делать, продолжив
                                мысленный эксперимент из предыдущего блока при помощи техники контрнегативного мозгового штурма. Результаты проверки помещаются в следующее поле.
                              .text-center
                                %h1.color-orange(style="font-weight:800;") +20
                                %small
                                  Вы получите баллы поcле проверки модератором этого блока.


                    .col-md-8
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b C1:
                              =t('form.concept.negative_h')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-5"} Показать пример
                            #example-5.collapse
                              %i.color-teal
                                Некоторые пчелы могут не захотеть делиться медом.
                                Отдельным четвероногим будет лень работать.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 5}

                      .row
                        .col-md-12
                          =text_area_tag "pa[negative]",@pa.negative,  :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'


                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b C2:
                              =t('form.concept.negative_res')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-6"} Показать пример
                            #example-6.collapse
                              %i.color-teal
                                Санкции согласно контракту и Сова в качестве арбитра.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post, :type_fd => 6}

                      .row
                        .col-md-12
                          .text-left
                            =t('form.concept.resources_rules')
                            %br
                            %b=t('form.concept.res_buttons')
                            .row
                              %span.color-orange
                                %i.fa.fa-plus
                                =t('form.concept.add_res_btn')
                              %span=" - #{t('form.concept.add_res_btn_desc')}"
                            .row
                              %span.color-teal
                                %i.fa.fa-edit
                                =t('form.concept.add_desc_btn')
                              %span=" - #{t('form.concept.add_desc_btn_desc')}"
                            .row
                              %span.color-green
                                %i.fa.fa-plus
                                =t('form.concept.add_mean_btn')
                              %span=" - #{t('form.concept.add_mean_btn_desc')}"
                            .row
                              %span.text-danger
                                %i.fa.fa-trash-o
                                =t('form.concept.del_res_btn')
                              %span=" - #{t('form.concept.del_res_btn_desc')}"
                            %br


                      .row
                        .col-md-12.section-resources{ data: { section: "negative" } }
                          .form-group.has-success{id: "resources_negative_r", style: "line-height:20px;"}
                            - if @concept_post.persisted? and @concept_post.concept_post_resources.by_type('negative_r').any?
                              -@concept_post.concept_post_resources.by_type('negative_r').each_with_index do |r,i|
                                %div.main_resources.main_res(id="main_negative_r_#{i+1}" data-position="#{i+1}")
                                  .col-md-8
                                    = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
                                    %input{name: "resor[][type_res]", type: "hidden", value: "negative_r"}
                                  .col-md-4
                                    .pull-right
                                      %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                        %i.fa.fa-edit
                                      %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'), class: "plus_mean"}
                                        %i.fa.fa-plus
                                      %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), class: "destroy_res"}
                                        %i.fa.fa-trash-o
                                  %br
                                  %br
                                  %div.desc_resource(id="desc_negative_r_#{i+1}" data-position="#{i+1}")
                                    = text_area_tag "resor[][desc]", r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
                                    %br
                                  %div.col-md-offset-1.col-md-11.means_to_resource(id="means_negative_s_#{i+1}")
                                    -r.concept_post_resources.by_type('negative_s').each_with_index do |res,ind|
                                      %div.main_means.main_res(id="main_negative_s_#{i+1}" data-position="#{i+1}")
                                        .col-md-8
                                          = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: t('form.concept.mean_promt')
                                          %input{name: "resor[][means][][type_res]", type: "hidden", value: "negative_s"}
                                        .col-md-4
                                          .pull-right
                                            %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                              %i.fa.fa-edit
                                            %button.btn.btn-danger{type: "button",title: t('form.concept.del_mean_btn'), class: "destroy_res"}
                                              %i.fa.fa-trash-o
                                        %br
                                        %br
                                        %div.desc_resource(id="desc_negative_s_#{i+1}" data-position="#{i+1}")
                                          = text_area_tag "resor[][means][][desc]", res.desc, class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                                          %br

                            -else
                              %div.main_resources.main_res(id="main_negative_r_1" data-position="1")
                                .col-md-8
                                  = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
                                  %input{name: "resor[][type_res]", type: "hidden", value: "negative_r"}
                                .col-md-4
                                  .pull-right
                                    %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                      %i.fa.fa-edit
                                    %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'), class: "plus_mean"}
                                      %i.fa.fa-plus
                                    %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), class: "destroy_res"}
                                      %i.fa.fa-trash-o
                                %br
                                %br
                                %div.desc_resource(id="desc_negative_r_1" data-position="1" style="display:none;")
                                  = text_area_tag "resor[][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
                                  %br
                                %div.col-md-offset-1.col-md-11.means_to_resource(id="means_negative_s_1")
                                  %div.main_means.main_res(id="main_negative_s_1" data-position="1")
                                    .col-md-8
                                      = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, class: 'form-control autocomplete', placeholder: t('form.concept.mean_promt')
                                      %input{name: "resor[][means][][type_res]", type: "hidden", value: "negative_s"}
                                    .col-md-4
                                      .pull-right
                                        %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), id: "desc_to_res"}
                                          %i.fa.fa-edit
                                        %button.btn.btn-danger{type: "button",title: t('form.concept.del_mean_btn'), id: "destroy_res"}
                                          %i.fa.fa-trash-o
                                    %br
                                    %br
                                    %div.desc_resource(id="desc_negative_s_1" data-position="1" style="display:none;")
                                      = text_area_tag "resor[][means][][desc]", '', class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                                      %br

                          %a.btn.btn-warning.pull-left{class:"plus_resource", id:"add_negative_r"}
                            %i.fa.fa-plus
                            =t('form.concept.add_res_btn')

            #tab5.tab-pane
              .form-horizontal
                %fieldset
                  .row
                    .col-md-4
                      .row
                        .col-md-12
                          %section
                            .body
                              .text-center
                                %h3(style="font-weight:800;") Контроль
                              %p
                                Чтобы ничего не упустить в представлении нововведения, следует учитывать, что функционированием любой новой системы обычно надо
                                управлять, а значит, требуется дать ответы на следующие вопросы.
                              .text-center
                                %h1.color-orange(style="font-weight:800;") +10
                                %small
                                  Вы получите баллы поcле проверки модератором этого блока.

                    .col-md-8
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b D1:
                              =t('form.concept.control')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-7"} Показать пример
                            #example-7.collapse
                              %i.color-teal
                                Контроль будут осуществлять Винни-Пух, Кролик и Сова. Винни следит за состоянием и пополнением цветника,
                                а также за взаимодействием с пчелами. Кролик следит, чтобы жители леса по незнанию не совершали
                                садоводческих ошибок. Сова осуществляет общий контроль.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 7}

                      .row
                        .col-md-12
                          =text_area_tag "pa[control]",@pa.control, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;', placeholder: 'В этом поле нужно перечислить ответственных лиц и средства, при помощи которых они будут контролировать работу нововведения'

                      %br
                      %br
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b D2:
                              =t('form.concept.control_res')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-8"} Показать пример
                            #example-8.collapse
                              %i.color-teal
                                %div - Инструкции для каждой группы.
                                %div - Регламент деятельности Совы.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 8}
                      .row
                        .col-md-12
                          .text-left
                            =t('form.concept.resources_rules')
                            %br
                            %b=t('form.concept.res_buttons')
                            .row
                              %span.color-orange
                                %i.fa.fa-plus
                                =t('form.concept.add_res_btn')
                              %span=" - #{t('form.concept.add_res_btn_desc')}"
                            .row
                              %span.color-teal
                                %i.fa.fa-edit
                                =t('form.concept.add_desc_btn')
                              %span=" - #{t('form.concept.add_desc_btn_desc')}"
                            .row
                              %span.color-green
                                %i.fa.fa-plus
                                =t('form.concept.add_mean_btn')
                              %span=" - #{t('form.concept.add_mean_btn_desc')}"
                            .row
                              %span.text-danger
                                %i.fa.fa-trash-o
                                =t('form.concept.del_res_btn')
                              %span=" - #{t('form.concept.del_res_btn_desc')}"
                            %br

                      .row
                        .col-md-12.section-resources{ data: { section: "control" } }
                          .form-group.has-success{id: "resources_control_r", style: "line-height:20px;"}
                            - if @concept_post.persisted? and @concept_post.concept_post_resources.by_type('control_r').any?
                              -@concept_post.concept_post_resources.by_type('control_r').each_with_index do |r,i|
                                %div.main_resources.main_res(id="main_control_r_#{i+1}" data-position="#{i+1}")
                                  .col-md-8
                                    = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
                                    %input{name: "resor[][type_res]", type: "hidden", value: "control_r"}
                                  .col-md-4
                                    .pull-right
                                      %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'),  class: "desc_to_res"}
                                        %i.fa.fa-edit
                                      %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'), class: "plus_mean"}
                                        %i.fa.fa-plus
                                      %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'),  class: "destroy_res"}
                                        %i.fa.fa-trash-o
                                  %br
                                  %br
                                  %div.desc_resource(id="desc_control_r_#{i+1}" data-position="#{i+1}")
                                    = text_area_tag "resor[][desc]", r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
                                    %br
                                  %div.col-md-offset-1.col-md-11.means_to_resource(id="means_control_s_#{i+1}")
                                    -r.concept_post_resources.by_type('control_s').each_with_index do |res,ind|
                                      %div.main_means.main_res(id="main_control_s_#{i+1}" data-position="#{i+1}")
                                        .col-md-8
                                          = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: t('form.concept.mean_promt')
                                          %input{name: "resor[][means][][type_res]", type: "hidden", value: "control_s"}
                                        .col-md-4
                                          .pull-right
                                            %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                              %i.fa.fa-edit
                                            %button.btn.btn-danger{type: "button",title: t('form.concept.del_mean_btn'), class: "destroy_res"}
                                              %i.fa.fa-trash-o
                                        %br
                                        %br
                                        %div.desc_resource(id="desc_control_s_#{i+1}" data-position="#{i+1}")
                                          = text_area_tag "resor[][means][][desc]", res.desc, class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                                          %br

                            -else
                              %div.main_resources.main_res(id="main_control_r_1" data-position="1")
                                .col-md-8
                                  = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
                                  %input{name: "resor[][type_res]", type: "hidden", value: "control_r"}
                                .col-md-4
                                  .pull-right
                                    %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'),  class: "desc_to_res"}
                                      %i.fa.fa-edit
                                    %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'), class: "plus_mean"}
                                      %i.fa.fa-plus
                                    %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), class: "destroy_res"}
                                      %i.fa.fa-trash-o

                                %br
                                %br
                                %div.desc_resource(id="desc_control_r_1" data-position="1" style="display:none;")
                                  = text_area_tag "resor[][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
                                  %br
                                %div.col-md-offset-1.col-md-11.means_to_resource(id="means_control_s_1")
                                  %div.main_means.main_res(id="main_control_s_1" data-position="1")
                                    .col-md-8
                                      = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, class: 'form-control autocomplete', placeholder: t('form.concept.mean_promt')
                                      %input{name: "resor[][means][][type_res]", type: "hidden", value: "control_s"}
                                    .col-md-4
                                      .pull-right
                                        %button.btn.btn-info{type: "button", title: t('form.concept.add_desc_btn'), class: "desc_to_res"}
                                          %i.fa.fa-edit
                                        %button.btn.btn-danger{type: "button",title: t('form.concept.del_mean_btn'), class: "destroy_res"}
                                          %i.fa.fa-trash-o

                                    %br
                                    %br
                                    %div.desc_resource(id="desc_control_s_1" data-position="1" style="display:none;")
                                      = text_area_tag "resor[][means][][desc]", '', class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                                      %br

                          %a.btn.btn-warning.pull-left{class:"plus_resource", id:"add_control_r"}
                            %i.fa.fa-plus
                            =t('form.concept.add_res_btn')

            #tab6.tab-pane
              .form-horizontal
                %fieldset
                  .row
                    .col-md-4
                      .row
                        .col-md-12
                          %section
                            .body
                              .text-center
                                %h3(style="font-weight:800;") Целесообразность
                              %p
                                После того как нововведение полностью описано, имеет смысл проверить оставшиеся риски, а также еще раз взвесить все «за» и «против».
                              .text-center
                                %h1.color-orange(style="font-weight:800;") +10
                                %small
                                  Вы получите баллы поcле проверки модератором этого блока.

                    .col-md-8
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b E1:
                              =t('form.concept.obstacles_bcd')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-9"} Показать пример
                            #example-9.collapse
                              %i.color-teal
                                Главным препятствием может стать отсутствие слаженности действий из-за их новизны. Ее предстоит постепенно отработать, чтобы через некоторое время все адаптировались к нововведениям.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 9}
                      .row
                        .col-md-12
                          =text_area_tag "pa[obstacles]",@pa.obstacles, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;', placeholder: 'В поле Е1 надо указать объективные препятствия, которые могут помешать работе нововведения после его внедрения. Эти препятствия тоже будет удобно выявить при помощи техники контрнегативного мозгового штурма.'


                      %br
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b F1:
                              =t('form.concept.problems')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-10"} Показать пример
                            #example-10.collapse
                              %i.color-teal
                                Благодаря этому решению, учитывающему интересы всех сторон, возникнет ситуация, в которой не будет проигравших (win-win): Винни и его друзья будут регулярно получать мед от пчел без всякого обмана,
                                самим пчелам не придется улетать за нектаром далеко от улья, лес станет красивее, а его обитатели — дружнее.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 10}

                      .row
                        .col-md-12
                          =text_area_tag "pa[problems]",@pa.problems, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;', placeholder: 'Покажите, что игра стоит свеч и вложенные средства и усилия вернутся с лихвой'

                      %br
                      .row
                        .col-md-12
                          .text-left
                            %h4.color-orange
                              %b F2:
                              =t('form.concept.reality')
                              %span.label.label-success.example-concept{"data-toggle"=> "collapse", "data-target"=> "#example-11"} Показать пример
                            #example-11.collapse
                              %i.color-teal
                                При грамотном контроле и распределении обязанностей серьезных проблем не возникнет.
                              %br
                              %br

                        -if @project.status == 7
                          = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 11}
                      .row
                        .col-md-12
                          =text_area_tag "pa[reality]",@pa.reality, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;', placeholder: 'Здесь вы должны доказать, что нет таких препятствий, которые помешают созданию нововведения, а те препятствия, которые есть, можно сгладить при помощи предложенных вами ресурсов и средств'


            #tab7.tab-pane
              .form-horizontal
                %fieldset
                  .row
                    .col-md-12
                      .text-center
                        %h3.color-orange
                          %b=t('form.concept.select_discontents')
                  %br
                  =select_tag "selectize_for_discontents",
                  options_from_collection_for_select(Discontent::Post.where("discontent_posts.id <> ? and project_id = ?", @discontent_post.nil? ? 0 : @discontent_post.id, @project.id).by_status(4), "id", "show_content"),
                  class: 'selectized', include_blank: true, placeholder: t('form.concept.select_promt')
                  %br
                  .row
                    .col-md-12
                      .text-center
                        %h4.text-left
                          %p Вы можете выставить степень решаемости каждого добавленного несовершенства.
                          %p А также снять галочки с тех несовершенств (пунктов), которые на ваш взгляд не решаются нововведением.
                        %br
                  %h4=t('form.concept.solve_discontents')

                  #panel_union
                    -if @concept_post.persisted?
                      -@concept_post.concept_disposts.each  do |cd|
                        =render partial:'discontent/posts/post_short2', object: cd
                    -else
                      =render partial:'discontent/posts/post_short2', object: @discontent_post unless @discontent_post.nil?
                  %br
                  .option_for_selectize(data-project="#{@project.id}" data-post="#{@concept_post.id}" data-stage="concept")
                  .text-success#add_dispost_success(style='display:none;')
                    =t('form.concept.add_success')
                  -if params[:improve_comment] and params[:improve_stage]
                    %h4.color-red#add_dispost_warning
                      =t('form.concept.has_one')

            %br
            %br
            %actions.pull-right#form_save
              = f.submit t('form.save'),  class: 'btn btn-warning btn-lg', id: 'send_post_concept', "data-loading-text" => t('form.save_load'), onclick: "$(this).button('loading');", style: "font-weight:800;"


      .description
        %ul.pager.wizard
          %li.previous
            %button.btn.btn-primary.pull-left
              %i.fa.fa-caret-left
              Назад
          %li.next
            %button.btn.btn-primary.pull-right
              Далее
              %i.fa.fa-caret-right

#render_success_concept

-#= form_for  @concept_post, :url => {:project => @project.id, :asp_id => params[:asp_id].present? ? params[:asp_id] : params[:asp], :improve_comment => params[:improve_comment], :improve_stage => params[:improve_stage], :action => @concept_post.persisted? ? 'update' : 'create'},  :remote => true,  :html => { :class => 'new_or_edit' } do |f|
-#  #mod
-#  #notice_messages
-#
-#  .row
-#    .col-md-12
-#      %h4.text-left
-#        %p=t('form.concept.rules')
-#        %p="1) #{t('form.concept.rule_1')}"
-#        %p
-#          ="2) #{t('form.concept.rule_2')}"
-#          %p="a) #{t('form.concept.rule_3')}"
-#          %p="b) #{t('form.concept.rule_4')}"
-#        %p="3) #{t('form.concept.rule_5')}"
-#
-#  .row
-#    .col-md-12
-#      .text-center
-#        %p.h3.color-orange
-#          =t('form.concept.title')
-#        %br
-#        =text_field_tag "pa[title]",@pa.title, style: 'width: 100%; height: 30px', placeholder: t('form.concept.title_promt')
-#        %br
-#  .row
-#    .col-md-12
-#      .text-center
-#        %h3.color-orange
-#          %b A1:
-#          =t('form.concept.novation_what')
-#        %br
-#    -if @project.status == 7
-#      = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 1}
-#  .row
-#    .col-md-12
-#      .form-group.has-danger
-#        =text_area_tag "pa[name]",@pa.name, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
-#
-#  %br
-#  %hr
-#  .row
-#    .col-md-12
-#      .text-center
-#        %h3.color-orange
-#          %b=t('form.concept.select_discontents')
-#        %h4.text-left
-#          %p=t('form.concept.rule_6')
-#          %p=t('form.concept.rule_7')
-#        %br
-#  %h5=t('form.concept.solve_discontents')
-#  #panel_union
-#    -if @concept_post.persisted?
-#      -@concept_post.concept_disposts.each  do |cd|
-#        =render partial:'discontent/posts/post_short2', object: cd
-#    -else
-#      =render partial:'discontent/posts/post_short2', object: @discontent_post unless @discontent_post.nil?
-#  %br
-#  .option_for_selectize{project: "#{@project.id}", post: "#{@concept_post.id}"}
-#  .text-success#add_dispost_success(style='display:none;')
-#    =t('form.concept.add_success')
-#  -if params[:improve_comment] and params[:improve_stage]
-#    %h4.color-red#add_dispost_warning
-#      =t('form.concept.has_one')
-#  =select_tag "selectize_concept",
-#  options_from_collection_for_select(Discontent::Post.where("discontent_posts.id <> ? and project_id = ?", @discontent_post.nil? ? 0 : @discontent_post.id, @project.id).by_status(4), "id", "show_content"),
-#  class: 'selectized', include_blank: true, placeholder: t('form.concept.select_promt')
-#  %br
-#  %hr
-#
-#  .row
-#    .col-md-12
-#      .text-center
-#        %h3.color-orange
-#          %b A2:
-#          =t('form.concept.novation_how')
-#        %br
-#    -if @project.status == 7
-#      = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 2}
-#  .row
-#    .col-md-12
-#      .form-group.has-danger
-#        =text_area_tag "pa[content]",@pa.content, :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
-#
-#
-#  -unless @concept_post.persisted?
-#    %a.btn.btn-lg.btn-success.btn-block#btn_improve{type: "button", "data-toggle"=> "collapse", "data-target"=> "#improve_concept"} Улучшить нововведение
-#  .row#improve_concept{class: "#{@concept_post.persisted? ? '':'collapse'}"}
-#    %hr
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b B1:
-#            =t('form.concept.cond')
-#          %br
-#
-#    .row
-#      .col-md-12
-#        .form-group.has-success
-#          =text_area_tag "pa[positive]",@pa.positive,  :class => "concept_cond form-control", rows: 5, style: 'width: 100%;'
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 3}
-#
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b B2:
-#            =t('form.concept.cond_res')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 4}
-#    .row
-#      .col-md-12
-#        .text-left
-#          =t('form.concept.resources_rules')
-#          %br
-#          %b=t('form.concept.res_buttons')
-#          .row
-#            %span.color-orange
-#              %i.fa.fa-plus
-#              =t('form.concept.add_res_btn')
-#            %span=" - #{t('form.concept.add_res_btn_desc')}"
-#          .row
-#            %span.color-orange
-#              %i.fa.fa-edit
-#              =t('form.concept.add_desc_btn')
-#            %span=" - #{t('form.concept.add_desc_btn_desc')}"
-#          .row
-#            %span.color-green
-#              %i.fa.fa-plus
-#              =t('form.concept.add_mean_btn')
-#            %span=" - #{t('form.concept.add_mean_btn_desc')}"
-#          .row
-#            %span.text-danger
-#              %i.fa.fa-trash-o
-#              =t('form.concept.del_res_btn')
-#            %span=" - #{t('form.concept.del_res_btn_desc')}"
-#          %br
-#    .row
-#      .col-md-12
-#        .form-group.has-success{id: "resources_positive_r", style: "line-height:20px;"}
-#          - if @concept_post.persisted?
-#            -@concept_post.concept_post_resources.by_type('positive_r').each_with_index do |r,i|
-#              %div.main_resources(id="main_positive_r_#{i+1}" position="#{i+1}")
-#                .col-md-8
-#                  = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                  %input{name: "resor[][type_res]", type: "hidden", value: "positive_r"}
-#                .col-md-4
-#                  .pull-right
-#                    %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
-#                      %i.fa.fa-edit
-#                      =t('form.concept.add_desc')
-#                    %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'),onclick:"return add_new_mean_to_resource(this,'positive_s',#{@project.id});", id: "plus_mean"}
-#                      %i.fa.fa-plus
-#                      =t('form.concept.add_mean')
-#                    %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                      %i.fa.fa-trash-o
-#                      =t('form.concept.del_res')
-#                %br
-#                %br
-#                %div.desc_resource(id="desc_positive_r_#{i+1}" position="#{i+1}")
-#                  = text_area_tag "resor[][desc]", r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                  %br
-#                %div.col-md-offset-1.col-md-11.means_to_resource(id="means_positive_s_#{i+1}")
-#                  -r.concept_post_resources.by_type('positive_s').each_with_index do |res,ind|
-#                    %div.main_means(id="main_positive_s_#{i+1}" position="#{i+1}")
-#                      .col-md-8
-#                        = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                        %input{name: "resor[][means][][type_res]", type: "hidden", value: "positive_s"}
-#                      .col-md-4
-#                        .pull-right
-#                          %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
-#                            %i.fa.fa-edit
-#                            =t('form.concept.add_desc')
-#                          %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                            %i.fa.fa-trash-o
-#                            =t('form.concept.del_res')
-#                      %br
-#                      %br
-#                      %div.desc_mean(id="desc_positive_s_#{i+1}" position="#{i+1}")
-#                        = text_area_tag "resor[][means][][desc]", res.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                        %br
-#
-#          -else
-#            %div.main_resources(id="main_positive_r_1" position="1")
-#              .col-md-8
-#                = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                %input{name: "resor[][type_res]", type: "hidden", value: "positive_r"}
-#              .col-md-4
-#                .pull-right
-#                  %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
-#                    %i.fa.fa-edit
-#                    =t('form.concept.add_desc')
-#                  %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'),onclick:"return add_new_mean_to_resource(this,'positive_s',#{@project.id});", id: "plus_mean"}
-#                    %i.fa.fa-plus
-#                    =t('form.concept.add_mean')
-#                  %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                    %i.fa.fa-trash-o
-#                    =t('form.concept.del_res')
-#              %br
-#              %br
-#              %div.desc_resource(id="desc_positive_r_1" position="1" style="display:none;")
-#                = text_area_tag "resor[][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                %br
-#              %div.col-md-offset-1.col-md-11.means_to_resource(id="means_positive_s_1")
-#                %div.main_means(id="main_positive_s_1" position="1")
-#                  .col-md-8
-#                    = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, class: 'form-control autocomplete', placeholder: t('form.concept.res_promt')
-#                    %input{name: "resor[][means][][type_res]", type: "hidden", value: "positive_s"}
-#                  .col-md-4
-#                    .pull-right
-#                      %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
-#                        %i.fa.fa-edit
-#                        =t('form.concept.add_desc')
-#                      %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                        %i.fa.fa-trash-o
-#                        =t('form.concept.del_res')
-#                  %br
-#                  %br
-#                  %div.desc_mean(id="desc_positive_s_1" position="1" style="display:none;")
-#                    = text_area_tag "resor[][means][][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                    %br
-#
-#        %a.btn.btn-warning.pull-left{onclick:"return add_new_resource_to_concept('positive_r','positive_s',#{@project.id});", id:"add_positive_r"}
-#          %i.fa.fa-plus
-#          =t('form.concept.add_res_btn')
-#
-#
-#
-#    %hr
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b C1:
-#            =t('form.concept.negative_h')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 5}
-#    .row
-#      .col-md-12
-#        .form-group.has-success
-#          =text_area_tag "pa[negative]",@pa.negative,  :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
-#
-#
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b C2:
-#            =t('form.concept.negative_res')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post, :type_fd => 6}
-#
-#    .row
-#      .col-md-12
-#        .text-left
-#          =t('form.concept.resources_rules')
-#          %br
-#          %b=t('form.concept.res_buttons')
-#          .row
-#            %span.color-orange
-#              %i.fa.fa-plus
-#              =t('form.concept.add_res_btn')
-#            %span=" - #{t('form.concept.add_res_btn_desc')}"
-#          .row
-#            %span.color-orange
-#              %i.fa.fa-edit
-#              =t('form.concept.add_desc_btn')
-#            %span=" - #{t('form.concept.add_desc_btn_desc')}"
-#          .row
-#            %span.color-green
-#              %i.fa.fa-plus
-#              =t('form.concept.add_mean_btn')
-#            %span=" - #{t('form.concept.add_mean_btn_desc')}"
-#          .row
-#            %span.text-danger
-#              %i.fa.fa-trash-o
-#              =t('form.concept.del_res_btn')
-#            %span=" - #{t('form.concept.del_res_btn_desc')}"
-#          %br
-#
-#
-#    .row
-#      .col-md-12
-#        .form-group.has-success{id: "resources_negative_r", style: "line-height:20px;"}
-#          - if @concept_post.persisted?
-#            -@concept_post.concept_post_resources.by_type('negative_r').each_with_index do |r,i|
-#              %div.main_resources(id="main_negative_r_#{i+1}" position="#{i+1}")
-#                .col-md-8
-#                  = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                  %input{name: "resor[][type_res]", type: "hidden", value: "negative_r"}
-#                .col-md-4
-#                  .pull-right
-#                    %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
-#                      %i.fa.fa-edit
-#                      =t('form.concept.add_desc')
-#                    %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'),onclick:"return add_new_mean_to_resource(this,'negative_s',#{@project.id});", id: "plus_mean"}
-#                      %i.fa.fa-plus
-#                      =t('form.concept.add_mean')
-#                    %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                      %i.fa.fa-trash-o
-#                      =t('form.concept.del_res')
-#                %br
-#                %br
-#                %div.desc_resource(id="desc_negative_r_#{i+1}" position="#{i+1}")
-#                  = text_area_tag "resor[][desc]", r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                  %br
-#                %div.col-md-offset-1.col-md-11.means_to_resource(id="means_negative_s_#{i+1}")
-#                  -r.concept_post_resources.by_type('negative_s').each_with_index do |res,ind|
-#                    %div.main_means(id="main_negative_s_#{i+1}" position="#{i+1}")
-#                      .col-md-8
-#                        = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                        %input{name: "resor[][means][][type_res]", type: "hidden", value: "negative_s"}
-#                      .col-md-4
-#                        .pull-right
-#                          %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
-#                            %i.fa.fa-edit
-#                            =t('form.concept.add_desc')
-#                          %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                            %i.fa.fa-trash-o
-#                            =t('form.concept.del_res')
-#                      %br
-#                      %br
-#                      %div.desc_mean(id="desc_negative_s_#{i+1}" position="#{i+1}")
-#                        = text_area_tag "resor[][means][][desc]", res.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                        %br
-#
-#          -else
-#            %div.main_resources(id="main_negative_r_1" position="1")
-#              .col-md-8
-#                = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                %input{name: "resor[][type_res]", type: "hidden", value: "negative_r"}
-#              .col-md-4
-#                .pull-right
-#                  %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
-#                    %i.fa.fa-edit
-#                    =t('form.concept.add_desc')
-#                  %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'),onclick:"return add_new_mean_to_resource(this,'negative_s',#{@project.id});", id: "plus_mean"}
-#                    %i.fa.fa-plus
-#                    =t('form.concept.add_mean')
-#                  %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                    %i.fa.fa-trash-o
-#                    =t('form.concept.del_res')
-#              %br
-#              %br
-#              %div.desc_resource(id="desc_negative_r_1" position="1" style="display:none;")
-#                = text_area_tag "resor[][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                %br
-#              %div.col-md-offset-1.col-md-11.means_to_resource(id="means_negative_s_1")
-#                %div.main_means(id="main_negative_s_1" position="1")
-#                  .col-md-8
-#                    = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, class: 'form-control autocomplete', placeholder: t('form.concept.res_promt')
-#                    %input{name: "resor[][means][][type_res]", type: "hidden", value: "negative_s"}
-#                  .col-md-4
-#                    .pull-right
-#                      %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
-#                        %i.fa.fa-edit
-#                        =t('form.concept.add_desc')
-#                      %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                        %i.fa.fa-trash-o
-#                        =t('form.concept.del_res')
-#                  %br
-#                  %br
-#                  %div.desc_mean(id="desc_negative_s_1" position="1" style="display:none;")
-#                    = text_area_tag "resor[][means][][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                    %br
-#
-#        %a.btn.btn-warning.pull-left{onclick:"return add_new_resource_to_concept('negative_r','negative_s',#{@project.id});", id:"add_negative_r"}
-#          %i.fa.fa-plus
-#          =t('form.concept.add_res_btn')
-#
-#    %hr
-#
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b D1:
-#            =t('form.concept.control')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 7}
-#
-#    .row
-#      .col-md-12
-#        .form-group.has-success
-#          =text_area_tag "pa[control]",@pa.control, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
-#
-#
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b D2:
-#            =t('form.concept.control_res')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 8}
-#    .row
-#      .col-md-12
-#        .text-left
-#          =t('form.concept.resources_rules')
-#          %br
-#          %b=t('form.concept.res_buttons')
-#          .row
-#            %span.color-orange
-#              %i.fa.fa-plus
-#              =t('form.concept.add_res_btn')
-#            %span=" - #{t('form.concept.add_res_btn_desc')}"
-#          .row
-#            %span.color-orange
-#              %i.fa.fa-edit
-#              =t('form.concept.add_desc_btn')
-#            %span=" - #{t('form.concept.add_desc_btn_desc')}"
-#          .row
-#            %span.color-green
-#              %i.fa.fa-plus
-#              =t('form.concept.add_mean_btn')
-#            %span=" - #{t('form.concept.add_mean_btn_desc')}"
-#          .row
-#            %span.text-danger
-#              %i.fa.fa-trash-o
-#              =t('form.concept.del_res_btn')
-#            %span=" - #{t('form.concept.del_res_btn_desc')}"
-#          %br
-#
-#    .row
-#      .col-md-12
-#        .form-group.has-success{id: "resources_control_r", style: "line-height:20px;"}
-#          - if @concept_post.persisted?
-#            -@concept_post.concept_post_resources.by_type('control_r').each_with_index do |r,i|
-#              %div.main_resources(id="main_control_r_#{i+1}" position="#{i+1}")
-#                .col-md-8
-#                  = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,value: r.name,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                  %input{name: "resor[][type_res]", type: "hidden", value: "control_r"}
-#                .col-md-4
-#                  .pull-right
-#                    %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
-#                      %i.fa.fa-edit
-#                      =t('form.concept.add_desc')
-#                    %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'),onclick:"return add_new_mean_to_resource(this,'control_s',#{@project.id});", id: "plus_mean"}
-#                      %i.fa.fa-plus
-#                      =t('form.concept.add_mean')
-#                    %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                      %i.fa.fa-trash-o
-#                      =t('form.concept.del_res')
-#                %br
-#                %br
-#                %div.desc_resource(id="desc_control_r_#{i+1}" position="#{i+1}")
-#                  = text_area_tag "resor[][desc]", r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                  %br
-#                %div.col-md-offset-1.col-md-11.means_to_resource(id="means_control_s_#{i+1}")
-#                  -r.concept_post_resources.by_type('control_s').each_with_index do |res,ind|
-#                    %div.main_means(id="main_control_s_#{i+1}" position="#{i+1}")
-#                      .col-md-8
-#                        = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, value: res.name, class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                        %input{name: "resor[][means][][type_res]", type: "hidden", value: "control_s"}
-#                      .col-md-4
-#                        .pull-right
-#                          %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
-#                            %i.fa.fa-edit
-#                            =t('form.concept.add_desc')
-#                          %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                            %i.fa.fa-trash-o
-#                            =t('form.concept.del_res')
-#                      %br
-#                      %br
-#                      %div.desc_mean(id="desc_control_s_#{i+1}" position="#{i+1}")
-#                        = text_area_tag "resor[][means][][desc]", res.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                        %br
-#
-#          -else
-#            %div.main_resources(id="main_control_r_1" position="1")
-#              .col-md-8
-#                = autocomplete_field_tag "resor[][name]",'', autocomplete_concept_post_resource_concept_posts_path, :"min-length" => 0,  class: 'form-control autocomplete',placeholder: t('form.concept.res_promt')
-#                %input{name: "resor[][type_res]", type: "hidden", value: "control_r"}
-#              .col-md-4
-#                .pull-right
-#                  %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_resource').show();", id: "desc_to_res"}
-#                    %i.fa.fa-edit
-#                    =t('form.concept.add_desc')
-#                  %button.btn.btn-success{type: "button", title: t('form.concept.add_mean_btn'),onclick:"return add_new_mean_to_resource(this,'control_s',#{@project.id});", id: "plus_mean"}
-#                    %i.fa.fa-plus
-#                    =t('form.concept.add_mean')
-#                  %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                    %i.fa.fa-trash-o
-#                    =t('form.concept.del_res')
-#              %br
-#              %br
-#              %div.desc_resource(id="desc_control_r_1" position="1" style="display:none;")
-#                = text_area_tag "resor[][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                %br
-#              %div.col-md-offset-1.col-md-11.means_to_resource(id="means_control_s_1")
-#                %div.main_means(id="main_control_s_1" position="1")
-#                  .col-md-8
-#                    = autocomplete_field_tag "resor[][means][][name]",'', autocomplete_concept_post_mean_concept_posts_path, :"min-length" => 0, class: 'form-control autocomplete', placeholder: t('form.concept.res_promt')
-#                    %input{name: "resor[][means][][type_res]", type: "hidden", value: "control_s"}
-#                  .col-md-4
-#                    .pull-right
-#                      %button.btn.btn-warning{type: "button", title: t('form.concept.add_desc_btn'), onclick:"$(this).parent().parent().parent().find('.desc_mean').show();", id: "desc_to_res"}
-#                        %i.fa.fa-edit
-#                        =t('form.concept.add_desc')
-#                      %button.btn.btn-danger{type: "button",title: t('form.concept.del_res_btn'), onclick: "$(this).parent().parent().parent().remove();", id: "destroy_res"}
-#                        %i.fa.fa-trash-o
-#                        =t('form.concept.del_res')
-#                  %br
-#                  %br
-#                  %div.desc_mean(id="desc_control_s_1" position="1" style="display:none;")
-#                    = text_area_tag "resor[][means][][desc]", '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
-#                    %br
-#
-#        %a.btn.btn-warning.pull-left{onclick:"return add_new_resource_to_concept('control_r','control_s',#{@project.id});", id:"add_control_r"}
-#          %i.fa.fa-plus
-#          =t('form.concept.add_res_btn')
-#
-#
-#
-#
-#
-#    %hr
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b E1:
-#            =t('form.concept.obstacles_bcd')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 9}
-#    .row
-#      .col-md-12
-#        .form-group.has-success
-#          =text_area_tag "pa[obstacles]",@pa.obstacles, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
-#
-#
-#    %hr
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b F1:
-#            =t('form.concept.problems')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 10}
-#    .row
-#      .col-md-12
-#        .form-group.has-success
-#          =text_area_tag "pa[problems]",@pa.problems, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
-#
-#    .row
-#      .col-md-12
-#        .text-center
-#          %h3.color-orange
-#            %b F2:
-#            =t('form.concept.reality')
-#          %br
-#      -if @project.status == 7
-#        = render partial: 'concept/posts/note_list', :locals => {:post_field => @concept_post,:type_fd => 11}
-#    .row
-#      .col-md-12
-#        .form-group.has-success
-#          =text_area_tag "pa[reality]",@pa.reality, :class => "concept_cond form-control", rows: 5,  style: 'width: 100%;'
-#
-#  %br
-#  %br
-#  %actions.pull-right
-#    = f.submit t('form.save'),  class: 'btn btn-warning btn-lg', id: 'send_post_concept', "data-loading-text" => t('form.save_load'), onclick: "$(this).button('loading');"
-#  %br
-#  %br
-#
-##render_success_concept