#popup-innov.popup-window.detailed_popup.popup-w1030.mfp-hide
  .popup.popup_rounded.popup_color_theme_stage3
    .modal_title
      .row
        .col-md-8
          %h4.bold.font_dark_grey
            = @post.title
        .col-md-4
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  %span(class="cc_post_#{@post.id}")
                    = @post.comments.count
                  %i.fa.fa-comment.theme_font_color
                = link_to({controller: @post.class.name.underscore.pluralize ,action: :like, project: @project, id: @post.id, against: false}, remote: true, method: :put, id: "like_post_#{@post.id}") do
                  %span.bold
                    %span(id="lk_post_#{@post.id}" class="lk_post_#{@post.id}")
                      = @post.users_pro.count
                    %i.fa.fa-thumbs-up.theme_font_color
                = link_to({controller: @post.class.name.underscore.pluralize, action: :like, project: @project,  id: @post.id, against: true}, remote: true, method: :put, id: "dislike_post_#{@post.id}") do
                  %span.bold
                    %span(id="dlk_post_#{@post.id}" class="dlk_post_#{@post.id}")
                      = @post.users_against.count
                    %i.fa.fa-thumbs-down.theme_font_color
                -#- if @post.notes.present?
                -#  %span
                -#    %i.fa.fa-exclamation-triangle.font_lighter_grey
                %small
                  = Russian::strftime(@post.created_at, '%d.%m.%Y')
                -#- if boss? or role_expert? or stat_expert?
                -#  = link_to({controller: @post.class.name.underscore.pluralize, action: :discuss_status, id: @post.id, approve_status: 1}, remote: true, method: :put, class: "link_status", id: "approve_stat_post_#{@post.id}") do
                -#    %span.label_approve.label(class="#{label_approve_stat(@post)}")
                -#      = t('show.important')
                -#- elsif @post.approve_status
                -#  %span.label.label-success=t('show.important')

    .modal_body
      .poster-line.line-grey
        %span.tags_badge несовершенства
        .row
          .col-md-6
            .innov-poster-cont
              -#=image_tag 'no-ava.png', class: 'img-circle'
              = user_image_tag @post.user.try(:avatar), class: 'img-circle img50'
              %span.poster-name
                = @post.user
          .col-md-6.col_padding_right_0
            .innov-tags
              - @post.concept_disposts.each_with_index do |post, index|
                .innov-tags-tag.popup_tooltip.color_me{class: "tooltip3_tag_#{index + 1}", "data-me-action" => "background-color", "data-me-color" => "#{index+1}", "data-me-type" => "imperf"}
                  = trim_content(post.content, 100)

      .container.modal_content
        .row
          .col-md-6.com_dashed_border.right.popup_collapsable_col.collapse.in
            %button.expand_button.remove_col.btn_reset{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
            .divider25
            .stripe-qa
              .lined-heading
                %span.bold-stripe
                  Суть идеи
              %p
                %strong
                  = t('show.desc')
                = @post.goal
            .stripe-qa
              .lined-heading
                %span.bold-stripe
                  Что будет иначе?
              %p
                %strong
                  = t('show.desc')
                = @post.content
            .stripe-qa
              .lined-heading
                %span.bold-stripe
                  Кто будет делать иначе?
              %p
                %strong
                  = t('show.desc')
                = @post.actors
            .stripe-qa
              .lined-heading
                %span.bold-stripe
                  Чьи интересы будут затронуты?
              %p
                %strong
                  = t('show.desc')
                = @post.impact_env

          .col-md-6.comment_col.popup_expandable_col.ps_cont
            %button.expand_button.add_col.btn_reset.theme_font_color.bold{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"} открыть описание идеи
            .divider15
            -##myCarousel.carousel.slide{"data-ride" => "carousel"}
            -#  .carousel-inner.chat-messages{:role => "listbox"}
            -#    -if @comments.present?
            -#      - @comments.each_slice(5).with_index do |slice, i|
            -#        .item{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}"}
            -#          = render partial:'shared/comment', collection: slice
            -#    -else
            -#      .item.active
            .chat-messages
              = render partial:'shared/comment', collection: @comments
            .divider15
            = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }

            -#-if @comments.count > 5
            -#  %nav.text-center
            -#    %ul.pagination
            -#      - @comments.each_slice(5).with_index do |slice, i|
            -#        %li
            -#          %a.myCarousel-target{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}", "data-slide-to" => "#{i}", "data-target" => "#myCarousel"}
            -#            ="#{i+1}"


      .divider25
