#modal_save_concept.modal.fade{"aria-hidden"=> "true", "aria-labelledby"=> "myModalLabel", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-body
        %h3.text-center.color-green=t('form.concept.create_success')
        %hr
        .text-center
          .col-md-6
            -#-if params[:improve_comment]
            -#  %a.btn.btn-lg.btn-primary(href="/project/#{@project.id}/concept/posts/new#{@aspect_id ? "?asp_id=#{@aspect_id}" : ''}" style="font-weight: normal !important;" id="new_concept")
            -#    =t('form.add_more')
            -#-else
            -#  %a.btn.btn-lg.btn-primary(data-dismiss="modal")=t('form.add_more')
            %button.btn.btn-lg.btn-primary(data-dismiss="modal") Продолжить заполнение
          .col-md-6
            =link_to t('link.go_list'), "/project/#{@project.id}/concept/posts#{@aspect_id ? "?asp=#{@aspect_id}" : ''}", class: "btn btn-lg btn-success"
        %br
        %br


