%h3(id ="name_#{post_aspect_form.id}")=post_aspect_form.name
%div{id: "discontent_#{post_aspect_form.id}"}
  %p.ftable.fline
    %a{onclick: "remove_discontent('#{post_aspect_form.id}')"} Не хочу устранять несовершенство
  %p.ftable.fline
    %span.bigtext Устраняемое несовершенство:
  %p.ftable.fcolor
    =post_aspect_form.discontent.show_content.html_safe
  %p.ftable.fline
    %span.bigtext Название нововведения:
    %br
    =text_field_tag "correct_disc[#{post_aspect_form.discontent.id}][name]", post_aspect_form.name, :class => 'concept_name'
  %p.ftable.fline.bigtext Краткое описание нововведения с обоснованием того, что оно устранит несовершенство:
  %p.ftable
    =text_area_tag "correct_disc[#{post_aspect_form.discontent.id}][content]",post_aspect_form.content, :class => "concept_cond"
  %p.ftable.fbackPositive
    %span.fline.bigtext A. Какие в будущем должны быть созданы и поддерживаться УСЛОВИЯ, чтобы данное нововведение работало?
    %br
    =text_area_tag "correct_disc[#{post_aspect_form.discontent.id}][positive]",post_aspect_form.positive, :class => "wymeditor"
    %br
    %small  * если вам нужно добавить новое условие или ресурс, просто нажмите ENTER в конце строки (вообще, редактор работает как  WORD, в случае проблем смотрите раздел "помощь")
  %p.ftable.fbackNegative
    %span.fline.bigtext B. Если будут созданы и поддерживаться вышеозначенные УСЛОВИЯ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?

    %br
    =text_area_tag "correct_disc[#{post_aspect_form.discontent.id}][negative]",post_aspect_form.negative, :class => "wymeditor2"
    %small  * если вам нужно добавить новое условие или ресурс, просто нажмите ENTER в конце строки (вообще, редактор работает как  WORD, в случае проблем смотрите раздел "помощь")


  %p.ftable.fback
    %span.fline.bigtext C. Что, вероятно, может помешать в будущем должной работе всех перечисленных ресурсов и как с этим предлагается бороться?
    %br
    =text_area_tag "correct_disc[#{post_aspect_form.discontent.id}][problems]",post_aspect_form.problems, :class => 'concept_cond2'
  %p.ftable.fback
    %span.fline.bigtext D. Реалистичность и практичность: предложить средства формирования перечисленных ресурсов, обосновать их доступность и эффективность
    %br
    =text_area_tag "correct_disc[#{post_aspect_form.discontent.id}][reality]",post_aspect_form.reality, :class => 'concept_cond2'