.col-md-6.concept-block{id: "concept_post_#{post_short.id}", class: "#{post_discontent_classes(post_short)}", data: {id: "id-#{post_short.id}", date: "#{(post_short.created_at.to_datetime.to_f)}",
                            rate: "#{post_short.users_pro.count + (post_short.number_views * 0.3)}"}}
  .post.post_type_3.themes_cont
    = link_to({action: :show, project: @project, id: post_short.id}, remote: true, id: "show_record_#{post_short.id}") do
      .post-header.white
        .row
          .col-md-12.col-xs-12
            %h5.font_purple.bold
              = trim_content(post_short.title)
        %i.fa.fa-angle-right
    .post-body.ch_action{"data-for" => "post_ch#{post_short.id}"}
      .media
        .media-left.text-center.gradient.post-poster
          = image_tag 'no-ava.png', class: "img-circle img50"
          %p.poster-name
            =post_short.user
        .media-body.white-gray
          .post-text
            %p
              = trim_content(post_short.content)
          .post_cont_hover.post_tall.white{id: "post_ch#{post_short.id}"}
            .wrapper.ps_cont.half_wheel_speed
              .post_cont_inner
                -post_short.comments.preview.each do |comment|
                  .comment_preview
                    %span.bold.com_date
                      = Russian::strftime(comment.created_at,'%d.%m.%Y')
                    %span.bold
                      ="#{comment.user}:"
                    =comment.content
    .post-bottom.white
      .row
        .col-md-2.col_padding_right_3
          %small.pull-left{:style => "margin-right: 3px;"} Несовершенства
        .col-md-7.col_padding_right_3.themes_cont
          .post-theme{id: "stripe#{post_short.id}"}
            - post_short.concept_disposts.each_with_index do |dispost, index|
              %span.tag-stripes.color_me{class: "#{index == 0 ? 'active' : ''}", "data-me-action" => "background-color", "data-me-color" => "#{index+1}", "data-me-type" => "imperf"}
                %span.tags
                  = trim_content(dispost.content, 30)
        .col-md-3.col_padding_left_3
          .text-right.small_icons
            %span.popup2.comments_icon{"data-for" => "post_ch#{post_short.id}"}
              %small
                = post_short.comments.count
              %i.fa.fa-comment-o
            %span.popup2
              %small
                = post_short.users_pro.count
              %i.fa.fa-thumbs-o-up.fa-flip-horizontal
            %span.popup2
              %small
                = post_short.users_against.count
              %i.fa.fa-thumbs-o-down.fa-flip-horizontal
            - if post_short.notes.present?
              %span.popup2
                %i.fa.fa-exclamation-triangle.font_lighter_grey