.col-md-6{ id: "concept_post_#{post_short.id}", class: "#{post_discontent_classes(post_short)}", data: { id: "id-#{post_short.id}",
date: "#{post_short.created_at.to_datetime.to_f}", comment: "#{post_short.last_comment.present? ? post_short.last_comment.created_at.to_datetime.to_f : 0}" } }
  .post_full
    - if boss?
      .admin_panel
        = link_to({ controller: post_short.class.name.underscore.pluralize, action: :add_score, project: @project.id, id: post_short.id },
        remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if post_short.useful}", id: "add_score_post_#{post_short.id}") do
          %i.fa.fa-trophy.fa-lg
        = link_to({ controller: post_short.class.name.underscore.pluralize, action: :change_status, project: @project.id, id: post_short.id, approve_status: true },
        remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if post_short.approve_status}",
        id: "approve_status_post_#{post_short.id}") do
          %i.fa.fa-bookmark.fa-lg
    .post_block
      %div{ 'data-important' => "#{post_short.id}", class: "#{'hide' unless post_short.approve_status}" }
        .important
          %i.fa.fa-bookmark.fa-2x
      .post_body{ 'data-for' => "post_ch#{post_short.id}" }
        .post_poster
          = link_to user_path(@project, post_short.user) do
            = user_image_tag post_short.user.try(:avatar)
          = link_to post_short.user, user_path(@project, post_short.user)
          %p.time
            = l(post_short.created_at, format: '%d.%m.%Y')
        .post_content
          .what
            = link_to({ action: :show, project: @project, id: post_short.id }, remote: true, id: "show_record_#{post_short.id}") do
              = trim_content(post_short.title)
              %i.fa.fa-angle-right.icon-right
          .about
            = trim_content(post_short.content)
      -#.post_cont_hover.post_tall.white{ id: "post_ch#{post_short.id}" }
      -#  .wrapper.ps_cont.half_wheel_speed
      -#    .post_cont_inner
      -#      - post_short.comments.preview.each do |comment|
      -#        .comment_preview{ 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: "#{comment.content}" }
      -#          %span.bold.com_date
      -#            = l(comment.created_at, format: '%k:%M %d.%m.%y')
      -#          %span.bold
      -#            #{comment.user}:
      -#          = comment.content
      .post_footer
        .tags_block
          .title Несовершенства
          .post-theme{ id: "stripe#{post_short.id}" }
            - post_short.concept_disposts.each_with_index do |dispost, index|
              %span.tag-stripes.color_me{ class: "#{'active' if index == 0}", 'data-me-action' => 'background-color', 'data-me-color' => "#{index + 1}",
                'data-me-type' => 'imperf', 'data-placement' => 'top', 'data-toggle' => 'tooltip', title: "#{dispost.content}" }
                %span.tags
                  = trim_content(dispost.content, 30)
        .likes
          %span.comments_icon{ 'data-for' => "post_ch#{post_short.id}" }
            %small{ class: "cc_post_#{post_short.id}" }
              = post_short.comments.count
            %i.fa.fa-comment-o
          %span
            %small{ id: "lk_post_#{post_short.id}", class: "lk_post_#{post_short.id}" }
              = post_short.users_pro.count
            = link_to({ controller: post_short.class.name.underscore.pluralize, action: :like, project: @project, id: post_short.id, against: false },
                remote: true, method: :put, id: "like_post_#{post_short.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Нравится') do
              %i.fa.fa-thumbs-o-up.fa-flip-horizontal
          %span
            %small{ id: "dlk_post_#{post_short.id}", class: "dlk_post_#{post_short.id}" }
              = post_short.users_against.count
            = link_to({ controller: post_short.class.name.underscore.pluralize, action: :like, project: @project,  id: post_short.id, against: true },
                remote: true, method: :put, id: "dislike_post_#{post_short.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Не нравится') do
              %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                %i.fa.fa-thumbs-o-down.fa-flip-horizontal
