%h4
  Нововведение
  =number

%h5.text-center
  %b=post_for_vote.title


.text-center
  %span.h5(class="#{class_for_concept_type_field(post_for_vote.concept_post,1)}" id="name")=t('form.novation_what')
%br
=simple_format(post_for_vote.name)


.text-center
  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,2)}" id="content")=t('form.novation_how')
%br
=simple_format(post_for_vote.content)


.text-center
  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,3)}" id="positive")=t('form.cond')
%br
=display_content(post_for_vote.positive)



.text-center
  %span.h5(class="#{class_for_concept_type_field(post_for_vote.concept_post,4)}" id="positive_r")=t('form.cond_res')
%br
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        ="#"
      %th
        Название
      %th
        Пояснение
  %tbody
    - post_for_vote.concept_post.concept_post_resources.by_type('positive_r').each_with_index  do |r, index|
      %tr
        %td
          =index+1
        %td
          =r.name
        %td
          =r.desc
        - r.concept_post_resources.by_type('positive_s').each_with_index  do |res, ind|
          %tr
            %td
              ="#{index+1}.#{ind+1}"
            %td
              =res.name
            %td
              =res.desc


.text-center

  %span.h5(class="#{class_for_concept_type_field(post_for_vote.concept_post,5)}" id= "negative")=t('form.negative')
%br
=display_content(post_for_vote.negative)


.text-center

  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,6)}" id= "negative_r")=t('form.negative_res')
%br
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        ="#"
      %th
        Название
      %th
        Пояснение
  %tbody
    - post_for_vote.concept_post.concept_post_resources.by_type('negative_r').each_with_index  do |r, index|
      %tr
        %td
          =index+1
        %td
          =r.name
        %td
          =r.desc
        - r.concept_post_resources.by_type('negative_s').each_with_index  do |res, ind|
          %tr
            %td
              ="#{index+1}.#{ind+1}"
            %td
              =res.name
            %td
              =res.desc

.text-center
  %span.h5(class="#{class_for_concept_type_field(post_for_vote.concept_post,7)}" id= "control")=t('form.control')
%br
=display_content(post_for_vote.control)

.text-center

  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,8)}" id= "control_r")=t('form.control_res')
%br
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        ="#"
      %th
        Название
      %th
        Пояснение
  %tbody
    - post_for_vote.concept_post.concept_post_resources.by_type('control_r').each_with_index  do |r, index|
      %tr
        %td
          =index+1
        %td
          =r.name
        %td
          =r.desc
        - r.concept_post_resources.by_type('control_s').each_with_index  do |res, ind|
          %tr
            %td
              ="#{index+1}.#{ind+1}"
            %td
              =res.name
            %td
              =res.desc

.text-center

  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,9)}" id="obstacles")=t('form.obstacles_bcd')
%br
=display_content(post_for_vote.obstacles)

.text-center

  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,10)}" id="problems")=t('form.problems')
%br
=display_content(post_for_vote.problems)


.text-center

  %span.h5(class= "#{class_for_concept_type_field(post_for_vote.concept_post,11)}" id= "reality")=t('form.reality')
%br
=display_content(post_for_vote.reality)

%hr
=link_to({:controller => 'concept/posts', :action => :next_vote, :id => post_for_vote.id, :dis_id =>@discontent_post.id, :num => number},:remote => true,:method => :put, :id => "btn_vote_#{number}", :class => "note_text btn btn-lg btn-warning btn-block",  :style => "font-weight: normal !important;") do
  Нововведение
  =number
