.row
  .col-md-12.section-resources{data: {section: type}}
    .form-group.has-success{id: "resources_#{type}_r", style: 'line-height:20px;'}
      - if @concept_post.persisted? and @concept_post.concept_post_resources.by_type("#{type}_r").any?
        - @concept_post.concept_post_resources.by_type("#{type}_r").each_with_index do |r,i|
          %div.main_resources.main_res(id="main_#{type}_r_#{i + 1}" data-position="#{i + 1}")
            .col-md-8
              = text_field_tag 'resor[][name]', r.name, class: 'form-control autocomplete', placeholder: t('form.concept.res_promt'),
                                    'data-url' => concept_autocomplete_path(@project, field: 'resor_name')
              %input{name: 'resor[][type_res]', type: 'hidden', value: "#{type}_r"}
            .col-md-4
              .pull-right
                %button.btn.btn-info{type: 'button', title: t('form.concept.add_desc_btn'), class: 'desc_to_res'}
                  %i.fa.fa-edit
                %button.btn.btn-success{type: 'button', title: t('form.concept.add_mean_btn'), class: 'plus_mean'}
                  %i.fa.fa-plus
                %button.btn.btn-danger{type: 'button',title: t('form.concept.del_res_btn'), class: 'destroy_res'}
                  %i.fa.fa-trash-o
            %br
            %br
            %div.desc_resource(id="desc_#{type}_r_#{i + 1}" data-position="#{i + 1}")
              = text_area_tag 'resor[][desc]', r.desc, class: 'form-control', placeholder: t('form.concept.res_desc_promt')
              %br
            %div.col-md-offset-1.col-md-11.means_to_resource(id="means_#{type}_s_#{i + 1}")
              - r.concept_post_resources.by_type("#{type}_s").each do |res|
                %div.main_means.main_res(id="main_#{type}_s_#{i + 1}" data-position="#{i + 1}")
                  .col-md-8
                    = text_field_tag 'resor[][means][][name]', res.name, class: 'form-control autocomplete', placeholder: t('form.concept.mean_promt'),
                                          'data-url' => concept_autocomplete_path(@project, field: 'resor_means_name')
                    %input{name: 'resor[][means][][type_res]', type: 'hidden', value: '#{type}_s'}
                  .col-md-4
                    .pull-right
                      %button.btn.btn-info{type: 'button', title: t('form.concept.add_desc_btn'), class: 'desc_to_res'}
                        %i.fa.fa-edit
                      %button.btn.btn-danger{type: 'button',title: t('form.concept.del_mean_btn'), class: 'destroy_res'}
                        %i.fa.fa-trash-o
                  %br
                  %br
                  %div.desc_resource(id="desc_#{type}_s_#{i + 1}" data-position="#{i + 1}")
                    = text_area_tag 'resor[][means][][desc]', res.desc, class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                    %br
      - else
        %div.main_resources.main_res(id="main_#{type}_r_1" data-position="1")
          .col-md-8
            = text_field_tag 'resor[][name]', class: 'form-control autocomplete', placeholder: t('form.concept.res_promt'),
                                  'data-url' => concept_autocomplete_path(@project, field: 'resor_name')
            %input{name: 'resor[][type_res]', type: 'hidden', value: "#{type}_r"}
          .col-md-4
            .pull-right
              %button.btn.btn-info{type: 'button', title: t('form.concept.add_desc_btn'), class: 'desc_to_res'}
                %i.fa.fa-edit
              %button.btn.btn-success{type: 'button', title: t('form.concept.add_mean_btn'), class: 'plus_mean'}
                %i.fa.fa-plus
              %button.btn.btn-danger{type: 'button',title: t('form.concept.del_res_btn'), class: 'destroy_res'}
                %i.fa.fa-trash-o
          %br
          %br
          %div.desc_resource(id="desc_#{type}_r_1" data-position="1" style="display:none;")
            = text_area_tag 'resor[][desc]', '', class: 'form-control', placeholder: t('form.concept.res_desc_promt')
            %br
          %div.col-md-offset-1.col-md-11.means_to_resource(id="means_#{type}_s_1")
            %div.main_means.main_res(id="main_#{type}_s_1" data-position="1")
              .col-md-8
                = text_field_tag 'resor[][means][][name]', class: 'form-control autocomplete', placeholder: t('form.concept.mean_promt'),
                                      'data-url' => concept_autocomplete_path(@project, field: 'resor_means_name')
                %input{name: 'resor[][means][][type_res]', type: 'hidden', value: '#{type}_s'}
              .col-md-4
                .pull-right
                  %button.btn.btn-info{type: 'button', title: t('form.concept.add_desc_btn'), class: 'desc_to_res'}
                    %i.fa.fa-edit
                  %button.btn.btn-danger{type: 'button', title: t('form.concept.del_mean_btn'), class: 'destroy_res'}
                    %i.fa.fa-trash-o
              %br
              %br
              %div.desc_resource(id="desc_#{type}_s_1" data-position="1" style="display:none;")
                = text_area_tag 'resor[][means][][desc]', '', class: 'form-control', placeholder: t('form.concept.mean_desc_promt')
                %br

    %a.btn.btn-warning.pull-left{class: 'plus_resource', id: "add_#{type}_r"}
      %i.fa.fa-plus
      = t('form.concept.add_res_btn')
