%h1 Хотите узнать что такое концепции?
%p.righttext
	Тогда срочно смотрите 
	= link_to 'раздел помощь', '/help3'
	, мы подготовили для вас несколько очень наглядных схем.
	и 
	= link_to 'видео ролик!', '/help3#video'
	Если проблема срочная пишите на портале Малыгину А.В. 
	или  в скайп malygin.andrey
	или на почту anmalygin@gmail.com

- unless @news.nil?
	%h1 Новости
	%p.righttext
		= @news.anons
		= link_to 'подробнее', @news

%h1 Тех. поддержка
%p.righttext
	Что-то непонятно? 
	= link_to 'Задайте вопрос', questions_path

.redtitle Топ записей
- @top_posts.each do |post|
	%p.righttext
		= trim_string(post.goal, 100)
		= link_to "подробнее", post
	=image_tag('dots.png')

.redtitle Рекомендованные вам
%p.righttext
	Выборный студенческий орган, который организовывал бы и проводил по согласованию с руководством СГУ 
	= link_to 'подробнее', '/concept/posts/2'
%p.righttext



-unless @journals.nil?
	.redtitle Активность
	- @journals.each do |journal|
		%p.righttext
			=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
			%b= journal.user.name_title
			= journal_parser(journal).html_safe
		=image_tag('dots.png')



