- if @concept_post.valid?
  $('.notice_messages').hide();
  $('#create_concept_success').fadeIn(3000).fadeOut('slow');
  $('#concept_post_title').val('');
  $('#concept_post_goal').val('')
  $('#concept_post_content').val('')
  $('#concept_post_actors').val('')
  $('#concept_post_impact_env').val('')
  $.each($('.checked_items .item'), function(key, value) {
  $(value).find('input.check_push_box').click();
  });

  $("#open_my_#{@project.current_stage_type}").text("#{t("my.#{@project.current_stage_type}")} (#{current_user.content_for_project(@project).count})");
  $("#open_my_#{@project.current_stage_type}").fadeOut('slow').fadeIn('slow');
- else
  $('.notice_messages').html("#{escape_javascript(render 'shared/notice_messages', object: @concept_post)}");
