-if @discontent_post.nil? and @concept_post.nil? and @select_dispost.nil? and !@dispost.nil?
  $('#render_fast_discussion_concepts').empty();
  $("#render_fast_discussion_concepts").html('#{escape_javascript(render partial: 'form_wizard')}');
  activate_wizard();
  $("#form_fast_discussion_comment_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_comment_concept' )}');
  $("#form_fast_discussion_add_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_add_concept')}');
  -#$("#update_discontent_discussion_add_concept").html('#{escape_javascript(render partial: 'discontent/posts/post_short2', object: @disposts.first)}');
  $("#select_for_discussion_discontents [value='#{@dispost.id}']").attr("selected", "selected");
  $('#modal_fast_discussion_concepts').modal('show');
  -if @post.nil?
    $('#comment_info').fadeIn('slow');
    $('#update_concept_discussion').empty();
    $('#form_for_comment_concept').hide();
    $('#empty_discussion').hide();
-if !@select_dispost.nil?
  -if !@dispost.nil?
    -if params[:add_concept].nil?
      $("#form_fast_discussion_comment_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_comment_concept')}');
      $("#select_for_discussion_discontents [value='#{@dispost.id}']").attr("selected", "selected");
      $("#update_concept_discussion").effect("highlight", {color: '#f5cecd'}, 1000);
      -if @dispost != @discontent_post
        $("#update_discontent_discussion").effect("highlight", {color: '#f5cecd'}, 1000);
    -else
      -#$("#update_discontent_discussion_add_concept").html('#{escape_javascript(render partial: 'discontent/posts/post_short2', object: @dispost)}');
      $("#form_fast_discussion_add_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_add_concept')}');
      $("#update_discontent_discussion_add_concept").html('#{escape_javascript(render partial: 'discontent/posts/post_short2', object: @add_dispost)}');
      $("#update_discontent_discussion_add_concept").effect("highlight", {color: '#f5cecd'}, 1000);
      $("#select_for_discussion_discontents_add_concept [value='#{@add_dispost.id}']").attr("selected", "selected");
  -else
    $('#comment_info').fadeIn('slow');
    $('#update_concept_discussion').empty();
    $('#form_for_comment_concept').hide();
    $('#empty_discussion').hide();
  -if @post.nil?
    $('#comment_info').fadeIn('slow');
    $('#update_concept_discussion').empty();
    $('#form_for_comment_concept').hide();
    $('#empty_discussion').hide();
-if !@discontent_post.nil? and !@concept_post.nil? and !@dispost.nil? and !@post.nil?
  -if @post != @concept_post or (@dispost == @discontent_post and @post.id > @concept_post.id)
    $("#form_fast_discussion_comment_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_comment_concept')}');
    -if @posts_for_discussion.include? @post
      $("#select_for_discussion_discontents [value='#{@dispost.id}']").attr("selected", "selected");
    $("#update_concept_discussion").effect("highlight", {color: '#f5cecd'}, 1000);
    -if @dispost != @discontent_post
      $("#update_discontent_discussion").effect("highlight", {color: '#f5cecd'}, 1000);
  -else
    -#$('#update_discontent_discussion').empty();
    $('#update_concept_discussion').empty();
    $('#comment_info').fadeIn('slow');
    $('#form_for_comment_concept').hide();
    $('#empty_discussion').hide();
  -unless @comment.nil?
    $('#comment_success').fadeIn('slow').delay(1000).fadeOut('slow');

-if !params[:save_form_concept].nil?
  -if !@concept.nil?
    -#$('#concept_post_aspect_title').val('');
    -#$('#concept_post_aspect_name').val('');
    -#$('#concept_post_aspect_content').val('');
    $("#form_fast_discussion_add_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_add_concept')}');
    $('#concept_success').fadeIn('slow').delay(1000).fadeOut('slow');
    -#$("#update_discontent_discussion_add_concept").html('#{escape_javascript(render partial: 'discontent/posts/post_short2', object: @add_dispost)}');
    $("#select_for_discussion_discontents_add_concept [value='#{@add_dispost.id}']").attr("selected", "selected");
    $("#update_discontent_discussion_add_concept").effect("highlight", {color: '#f5cecd'}, 1000);
  -else
    $('#concept_failed').fadeIn('slow').delay(1000).fadeOut('slow');
-if !params[:empty_discontent].nil?
  $("#form_fast_discussion_add_concept").html('#{escape_javascript(render :partial => 'form_fast_discussion_add_concept')}');
  -#$("#update_discontent_discussion_add_concept").html('#{escape_javascript(render partial: 'discontent/posts/post_short2', object: @add_dispost)}');
  $("#select_for_discussion_discontents_add_concept [value='#{@add_dispost.id}']").attr("selected", "selected");
  $("#update_discontent_discussion_add_concept").effect("highlight", {color: '#f5cecd'}, 1000);