- unless show_check_field?(name_controller.to_s + '_intro')
  = render partial: 'modal_welcome'
- if @user_voter
  = render partial: 'modal_vote'
- if @project_result
  = render partial: 'modal_results'
.stage-info-sort-block
  .row
    %br
    .col-md-7
      %span.stage-heading
        = t('show.concept.title')
        %span#count_concepts
          (#{@posts.count})
    .col-md-5
      .pull-right
        - if @project.can_add?(name_controller) || @project.status == 100
          = link_to new_concept_post_path(@project, type_mechanic: 'simple'), id: 'new_concept_posts' do
            %button.btn.add-button.tooltip_b{ title: 'Добавить идею' }
              %span.tooltip1.middle.tooltip_b{ data: { name: 'sort', desc: 0, type: 'comment' },
              'data-trigger' => 'manual', title: 'Добавляйте новые идеи, связанные с текущей проблемной ситуацией' }
                = t('techniques.concept_posts_simple')
        - else
          = link_to({ action: :show_results, project: @project.id }, remote: true, id: 'show_results') do
            .results.tooltip_b{ class: "#{show_check_field?('results_' + name_controller.to_s) ? 'results_blue' : 'results_red'}",
            title: 'Показать итоги стадии' }

      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort-1.sort_btn.sprite.sprite-1_3.sort-comment{ data: { type: 'comment' } }
            - if @last_visit_presenter.comments > 0
              %span.badge-red
                = @last_visit_presenter.comments
          %span.sort-2.sort_btn.sprite.sprite-2_3.tooltip1.sort-date.active.tooltip_b#tooltip3_2{ data: { type: 'date' },
          'data-trigger' => 'manual', title: 'При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться идеи.' }
            - if @last_visit_presenter.posts > 0
              %span.badge-red
                = @last_visit_presenter.posts

.stage-post-block
  .row.tooltip1.tooltip_b#tab_dispost_concepts{ 'data-trigger' => 'manual', title: 'Знакомьтесь с предложениями других участников, комментируйте и развивайте их идеи' }
    -#= render partial: 'post_short', collection: @posts





