- if not current_user.answered_for_help_stage?(3) and not @mini_help.nil?
  =render partial: 'shared/small_help', object: @mini_help

.panel-group#accordion
  -@aspects.each do |aspect|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a(data-toggle="collapse" data-parent="#accordion" href="#asp_#{aspect.id}" )
            =aspect.content
            %span.glyphicon.glyphicon-chevron-down

            %br
            - if aspect.count_concept > 0
              %small
                ="Нововведений: "
                %b.text-success="(#{aspect.count_concept})"

            %br
            -#%small=aspect.short_desc
      .panel-collapse.collapse{id:"asp_#{aspect.id}"}
        .panel-body
          %table.table.table-striped
            %thead
              %tr
                %th.text-success(style='width: 50%;') Несовершенства:
                %th.text-success(style='min-width: 300px;') Варианты нововведений:

            %tbody

              -aspect.aspect_posts.by_status(4).each do |post|

                %tr
                  %td
                    =render partial:'discontent/posts/post_short2', object: post

                  %td
                    -if  @project.status == 7
                      %a.btn.btn-primary.btn-sm.pull-right(href="/project/#{@project.id}/concept/posts/new?dis_id=#{post.id}") Добавить нововведение
                    %br
                    %br

                    - post.dispost_concepts.each  do |pa|
                      - if pa.status == 0
                        .panel.panel-success(class="#{class_for_concept_type(pa)}")
                          .panel-body.nov-list
                            %small.text-muted= Russian::strftime(pa.created_at,"%d %B %k:%M:%S ")
                            %br
                            =link_to pa.post_aspects.first.title, concept_post_path(@project, pa)
                            = render 'shared/post_social_bar2', :post => pa


