.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Идеи
        %span#count_concepts
          ="(#{@posts.count})"
    .col-md-5
      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort-1.sort_btn.sprite_com.sprite-item3_2_1.sort-comment{data: {name: 'sort', desc: 0, type: 'comment'}}
            - new_comments = @project.concept_ongoing_post.after_last_visit_comments(last_time_visit_page('concept')).size
            - if new_comments > 0
              %span
                = new_comments
          %span#tooltip3_2.sort-2.sort_btn.sprite_doc.sprite-item3_1.tooltip1.sort-date.active{data: {name: 'sort', desc: 0, type: 'date'}, "data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться идеи."}
            - new_posts = @project.concept_ongoing_post.after_last_visit_posts(last_time_visit_page('concept')).size
            - if new_posts > 0
              %span
                = new_posts

        - if @project.can_add_content?(name_controller)
          = link_to new_concept_post_path(@project, type_mechanic: 'simple'), id: 'new_concept_post' do
            %button.btn.add-button
              %span
                = t('techniques.concept_posts_simple')

.stage-post-block
  .row#tab_dispost_concepts
    -#= render partial: 'post_short', collection: @posts

#render_concept_post

- if shown_intro('concept_intro') == ''
  = render partial: 'popup_welcome'
- if current_user.can_vote_for(:concept, @project)
  = render partial: 'popup_vote'












-#.innov
-#  %h4
-#    = t('show.concept.title_plural')
-#    %span.innov-header-smaller
-#      = @project.concept_ongoing_post.count
-#    %i.fa.fa-question-circle
-#  .container
-#    .row.innovs#tab_concept_posts
-#      = link_to 'Добавить нововведение', project_user_path(@project, current_user), class: 'btn btn-success'
-#      %br
-#      %br
-#      - @project.concept_ongoing_post.order('concept_posts.id').each_with_index do |pa, index1|
-#        .col-lg-6.box-shadow-outer.concept-block{id: "concept_post_#{pa.id}", class: "#{post_discontent_classes(pa)}"}
-#          .innov-single.box-shadow-1.rounded-3
-#            .row.post-header
-#              .col-xs-10
-#                %span.post-header-text.color.mass-red
-#                  %i.fa.fa-check-circle.color.mass-red
-#                  = trim_content(pa.title)
-#              .col-xs-2.post-header-date
-#                %span
-#                  = Russian::strftime(pa.created_at, '%d.%m.%Y')
-#            .post-center-block
-#              .post-poster
-#                -#@todo Пофиксить аватарку!
-#                /= image_tag pa.user.avatar.url(:thumb)
-#                = image_tag 'no-ava.png'
-#                .clearfix
-#                %span.poster-name
-#                  = pa.user.to_s
-#              = link_to({action: :show, project: @project, id: pa.id, asp: params[:asp]}, remote: true, id: 'show_record', class: 'post-text') do
-#                .text-arrow.pull-right
-#                %span
-#                  = trim_string(pa.name)
-#            .post-themes{id: "stripe#{index1+1}"}
-#              - if pa.concept_disposts.any?
-#                - pa.concept_disposts.each_with_index do |cd, index2|
-#                  %a.tag-stripe{id: "stripe#{index2 + 1}", class: "#{'active' if index2 == 0} color-N#{index2 + 1}", href: '#'}
-#                    %span.tag
-#                      = trim_content(cd.content, 50)
-#
-##render_concept_post
-#
-#- if current_user.can_vote_for(:concept, @project)
-#  #popup-vote-innov.popup-window.vote-popup.mfp-hide
-#    .popup
-#      .popup-header-dnd
-#        .popup-header.popup-top-rounded
-#          %h2.color.mass-red Голосование
-#          %span.popup-header-right Стадия 3
-#        .drag-n-drop-zone
-#          .dnd-hand
-#      .popup-voting.popup-bottom-rounded
-#        %p
-#          Выберите нововведения, которые вам понравились, и перетащите их в изображение руки или нажмите на кнопку "проголосовать"
-#        .popup-owl-navigation
-#          -# if > 3
-#          #owl-arrow-left-2.owl-arrow.pull-left
-#          #owl-arrow-right-2.owl-arrow.pull-right
-#        #owl-vote-2.owl-carousel.owl-vote
-#          -# - @posts.each_slice(3) do |posts|
-#          .row
-#            .col-xs-12.owl-column
-#              -# posts.each do |post|
-#              -3.times do
-#                = render 'post_for_vote'
-#        %button#vote-button2.vote-button.btn.btn-mass-red{:disabled => "disabled"} Проголосовать
