.col-md-6
  %section
    %header
      .row
        %h4
          Нововведения
          -if @project.status == 7
            %a.btn.btn-warning.pull-right(href="/project/#{@project.id}/concept/posts/new?asp_id=#{@aspect.id}" style="font-weight: normal !important;" id="new_concept")
              Добавить нововведение
      %hr
    .body
      - if @aspect
        -@aspect.aspect_posts.by_status(4).each do |post|
          %h4 Решаемая проблема
          =render partial:'discontent/posts/post_short2', object: post
          %h4 Предложенные решения
          %br
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th
                  ="#"
                %th
                  Название / Автор
                %th
                  Статус
                %th
                  Заполненность
                %th
                  Решаемость
            %tbody
              - post.dispost_concepts.sort_by{|c| c.complite(post).nil? ? 0 : -c.complite(post)}.each_with_index  do |pa, index|
                - if pa.status == 0
                  %tr
                    %td
                      =index+1
                    %td
                      - if pa.post_aspects.first.title!=''
                        =link_to pa.post_aspects.first.title , concept_post_path(@project, pa)
                      -else
                        =link_to 'Без названия' , concept_post_path(@project, pa)

                    %td
                      = status_for_concept_type(pa)
                      -if pa.discuss_status
                        %br
                        %span.label-danger ТРЕБУЕТ ОБСУЖДЕНИЯ
                    %td
                      %span.h4.color-orange
                        =status_for_concept(pa.post_aspects.first)
                    %td
                      =status_for_complite_discontent(post,pa)

              -if  @project.status == 7 or @project.demo?
                %tr
                  %td{colspan: 4, style: "font-weight: normal !important;"}
                    %a.btn.btn-lg.btn-warning.btn-block(href="/project/#{@project.id}/concept/posts/new?dis_id=#{post.id}&asp_id=#{@aspect.id}" style="font-weight: normal !important;" id="new_concept_#{post.id}")
                      Добавить свое решение
          %hr
.col-md-6
  %section
    %header
      %h4
        Неоформленные идеи
      %hr
    .body
      .chat-messages
        = render partial: 'shared/improve_comment',collection: @comments_all
