.row
  .col-md-12
    .divider10
    = render partial: 'shared/create_success', locals: {model_name: 'concept'}

    = form_for @concept_post, url: {project: @project.id, action: @concept_post.persisted? ? 'update' : 'create'}, remote: true do |f|
      .content_window.white
        %a.theme_font_color.with_arrow.collapser_type1#open_fields{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#imperfs1"}
          %span.enter_lenght.bold Создать идею
          %i.fa.fa-chevron-circle-right.fa-lg.collapse_arrow
        #imperfs1.collapse.in.rotate_arrow
          .divider_1_grey
          .divider25
          %p
            = t('activerecord.attributes.concept/post.title')
          = f.text_area :title, class: 'form-control', rows: 1
          .divider15
          %p
            = t('activerecord.attributes.concept/post.goal')
          = f.text_area :goal, class: 'form-control', rows: 2
          .divider15
          %p
            = t('activerecord.attributes.concept/post.content')
          = f.text_area :content, class: 'form-control', rows: 2
          .divider15
          %p
            = t('activerecord.attributes.concept/post.actors')
          = f.text_area :actors, class: 'form-control', rows: 1
          .divider15
          %p
            = t('activerecord.attributes.concept/post.impact_env')
          = f.text_area :impact_env, class: 'form-control', rows: 1
          .divider15
          %p
            = f.submit t("form.#{action_name}"), class: 'btn add-button type2 pull-right', id: 'send_post_concept'
            - if @concept_post.persisted? and !@concept_post.published?
              = link_to 'Опубликовать', publish_concept_post_path(@project, @concept_post), remote: true, method: :put, id: "publish_#{@concept_post.id}", class: 'btn add-button type2'

          .divider15
          .check_push_cont.checked_items
            %p.hideable_checks.enter_lenght{style: ('display: block;' if @concept_post.persisted?)}
              Устраняемые несовершенства
              %span.ch_lenght
                - if @concept_post.persisted?
                  = "(#{@concept_post.concept_disposts.count})"
            - if @concept_post.persisted?
              = render partial: 'discontent', collection: @concept_post.concept_disposts
          .divider15
    .content_window.white
      %a.theme_font_color.with_arrow.collapser_type1#open_discontents{'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: '#imperfs2'}
        %span.enter_lenght.bold
          Привязать идею к несовершенству
          %span.unch_lenght
        %i.fa.fa-chevron-circle-right.fa-lg.collapse_arrow
      #imperfs2.collapse.in.check_push_cont.rotate_arrow
        -#= render partial: 'discontent', collection: @discontent_posts
        .divider_1_grey
        %h6 Выберите несовершенства, которые устраняются вашей идеей
        .row
          .col-md-5.cab_cont_h450
            .ps_cont
              .divider15
              = text_field_tag 'search_discontent', nil, placeholder: 'Свободный поиск', class: 'form-control'
              -#%textarea.form-control{:placeholder => "Свободный поиск", :rows => "1", :type => "text"}
              .divider15
              %ul.list-unstyled.subaspect
                %li{:role => "presentation"}
                  %a.a_font_reset.btn.btn_reset.collapser_type3.right_cursor.back_color_stage3_superpale.add_disposts{data: {project: @project.id, aspect: '*'}, "data-toggle" => "tab", :href => "#", :role => "tab"}
                    Мои несовершенства
              .divider10
              %h6 Аспекты
              - @aspects.each do |aspect|
                %a.a_font_reset.collapser_type2.with_arrow.collapsed.font_white.add_disposts{data: {project: @project.id, aspect: aspect.id}, style: "background-color: #{aspect.color};", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#aspect#{aspect.id}"}
                  %span
                    = aspect.content
                  %i.fa.fa-angle-right.fa-lg.collapse_arrow.font_white
                .collapse.rotate_arrow{id: "aspect#{aspect.id}"}
                  %ul.list-unstyled.subaspect
                    - aspect.core_aspects.each do |asp|
                      %li{:role => "presentation"}
                        %a.a_font_reset.btn.btn_reset.collapser_type3.add_disposts{data: {project: @project.id, aspect: asp.id}, style: "border-color: #{aspect.color};", "data-toggle" => "tab", :href => "#", :role => "tab"}
                          = asp.content
          .col-md-7.cab_cont_h450
            .ps_cont
              .divider15
              .collapser_w_checkbox
                %span
                  %span.cb_input
                    %input#check0.check_push_box{:type => "checkbox"}/
                    %label{:for => "check0"}
                      %i.fa.fa-check
                %span
                %span.cell_full_w
                  %a.a_font_reset.with_arrow.collapser_type1{:href => "#"}
                    Выбрать все в этой группе
              #unchecked_discontent_posts.unchecked_items
                = render partial: 'discontent', collection: @discontent_posts