.row
  .col-md-12
    .divider10
    = render partial: 'shared/create_success', locals: {model_name: 'concept'}

    = form_for @concept_post, url: {project: @project.id, action: @concept_post.persisted? ? 'update' : 'create'}, remote: true do |f|
      .content_window.white
        .divider25
        %p
          = t('activerecord.attributes.concept/post.title')
        = f.text_area :title, class: 'form-control', rows: 1
        .divider15
        %p
          = t('activerecord.attributes.concept/post.goal')
        = f.text_area :goal, class: 'form-control', rows: 2
        .divider15
        %p
          = t('activerecord.attributes.concept/post.content')
        = f.text_area :content, class: 'form-control', rows: 2
        .divider15
        %p
          = t('activerecord.attributes.concept/post.actors')
        = f.text_area :actors, class: 'form-control', rows: 1
        .divider15
        %p
          = t('activerecord.attributes.concept/post.impact_env')
        = f.text_area :impact_env, class: 'form-control', rows: 1
        .divider15
        %p
          = f.submit t("form.#{action_name}"), class: 'btn add-button type2 pull-right', id: 'send_post_concept'
        .divider15
        .check_push_cont.checked_items
          %p.hideable_checks.enter_lenght{style: ('display: block;' if @concept_post.persisted?)}
            Устраняемые несовершенства
            %span.ch_lenght
              - if @concept_post.persisted?
                = "(#{@concept_post.concept_disposts.count})"
          - if @concept_post.persisted?
            = render partial: 'discontent', collection: @concept_post.concept_disposts
      .divider10
    .content_window.white
      %a.theme_font_color.with_arrow.collapser_type1#open_discontents{'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: '#imperfs1'}
        %span.enter_lenght
          = 'Привязать идею к несовершенству'
          %span.unch_lenght
        %i.fa.fa-chevron-circle-right.fa-lg.collapse_arrow
      #imperfs1.collapse.in.check_push_cont.rotate_arrow.unchecked_items
        = render partial: 'discontent', collection: @discontent_posts
