- if @concept_post.user == current_user and @concept_post.id == 0
  = link_to 'Редактировать', edit_concept_post_path(@concept_post)
  = link_to 'Отправить в архив', {:action => :destroy, :id => @concept_post.id}, :method => :delete, :confirm => 'Точно?'

- if @concept_post.status == 2 and expert?
  = link_to 'Принять', ''
  |
  = link_to ' Отправить на доработку', ''
  |
  = link_to ' Отклонить', ''

- if current_user?(@concept_post.user) and @concept_post.status == 0 and @concept_post.created_at < 3.days.ago
  = link_to 'послать эксперту', to_expert_concept_post_path(@concept_post)
.wholePost
  = render 'users/user_post', :user => @concept_post.user
  .posts
    = render 'users/user_name', :user => @concept_post.user, :created_at => @concept_post.created_at
    %p
      %b Цели (образ желаемого будущего)
      %br= @concept_post.goal
    %table.tasks
      %tr
        %td.size50
          %br
          %label.small
            %b Задачи - направления работы в будущем
        %td &nbsp;
        %td
          %br
          %label.small
            %b Ресурсы - методы и средства работы в будущем
      - @concept_post.task_supply_pairs.each_with_index do |p, index|
        %tr.ts
          %td= p.task
          %td= image_tag('arrow.png')
          %td= p.supply
          %td
    %p
      %b Реалистичность
      %br= @concept_post.reality

  

    .social 
      - if signed_in? and not  @concept_post.users.include?(current_user)
        =link_to "#{@concept_post.users.count}",  plus_concept_post_path(@concept_post), :id =>  @concept_post.id,:remote => true, :method => :put, class: "counter"
      -else
        = @concept_post.users.count
      =image_tag "like.png"
      =link_to  @concept_post.number_views,  @concept_post, class: "counter"
      =image_tag "views.png"
      =link_to  @concept_post.comments.count,  @concept_post, class: "counter"
      =image_tag "comment.png"

- unless @concept_post.post_notes.empty?
  .redtitle Переписка эксперта и автора 
  = render :partial => 'post_note', :collection => @concept_post.post_notes
  =image_tag('dots.png')



- if signed_in? and @concept_post.status == 0
  = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => add_comment_concept_post_path(@concept_post.id)}

= render :partial => 'shared/comment',:collection => @concept_post.comments, :locals => { :path_link => '/concept/comments/'}
%br
%br
%br
- unless @concept_post.life_tape_post.nil?
  .redtitle Идея, которой вдохновлена концепция
  = render :partial => 'life_tape/posts/post', :object  => @concept_post.life_tape_post


