.media
  = render 'users/user_post', :user => @post.user


- @post.post_aspects.each do |tp|
  %h4 Нововведение (решение):
  %br
  %div.tab-content
    %div.tab-pane.active#novation1
      %div.panel.panel-default
        %div.panel-body
          %h5.text-info Устраняемое несовершенство (проблема):
          =render partial:'discontent/posts/post_short2', object: tp.discontent
          %br
          %hr
          %div.panel.panel-info
            .panel-heading
              %h5.text-success
                %b A.*
              %p.text-info
                %b=t('form.novation_what')
              .form-group.has-danger
                =simple_format(tp.name)

              %p.text-info
                %b=t('form.novation_how')
              .form-group.has-danger
                =simple_format(tp.content)

          %hr
          %h5.text-success
            %b B.
          %p.text-info=t('form.cond')
          .form-group.has-success= display_content(tp.positive)

          %p.text-info=t('form.cond_res')
          .form-group.has-success= display_content(tp.positive_r)
          %hr
          %h5.text-success
            %b C.
          %p.text-info=t('form.negative')
          .form-group.has-success= display_content(tp.negative)

          %p.text-info=t('form.negative_res')
          .form-group.has-success= display_content(tp.negative_r)

          %hr
          %h5.text-success
            %b D.
          %p.text-info=t('form.problems')
          .form-group.has-success= display_content(tp.problems)

          %p.text-info=t('form.reality')
          .form-group.has-success= display_content(tp.reality)


    %br
    = render 'shared/post_social_bar2', :post => @post

= render 'shared/post_edit_bar', :post => @post
%br
%br
  %ul.media-list#comments
  = render :partial => 'shared/comment',:collection => @comments
= will_paginate @comments
- if signed_in?
  = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => @post.class.name.underscore.pluralize, :action => 'add_comment')}


