.wholePost
  = render 'users/user_post', :user => @concept_post.user
  .posts
    = render 'users/user_name', :user => @concept_post.user, :created_at => @concept_post.created_at
    %p
      %b Цели (образ желаемого будущего)
      = @concept_post.goal
    %p
      %b Задачи => Ресурсы
      Пример задачи ->  и ресурса
    %p
      %b Реалистичность
      = @concept_post.reality


    / .social 
    /   =link_to post.childs.count, "#", class: "counter"
    /   =image_tag "tree.png"
    /   - if signed_in? and not post.users.include?(current_user)
    /     =link_to "#{post.users.count}",  plus_life_tape_post_path(post), :id => post.id,:remote => true, :method => :put, class: "counter"
    /   -else
    /     =post.users.count
    /   =image_tag "like.png"
    /   =link_to post.number_views, post, class: "counter"
    /   =image_tag "views.png"
    /   =link_to post.comments.count, post, class: "counter"
    /   =image_tag "comment.png"

- if @concept_post.user == current_user
  = link_to 'Редактировать', edit_concept_post_path(@concept_post)
\|
= link_to 'Назад', concept_posts_path

- if signed_in?
  .comments
    = form_for @comment, :url => add_comment_concept_post_path(@concept_post.id), :method => :put do |f|
      =render 'shared/error_messages', :object =>f.object
      %label Ваш комментарий
      .field
        =f.text_area :content
      .action
        =f.submit ''

- @concept_post.comments.each do |comment|
  .comments
    = render 'users/user_post', :user => comment.user
    .posts
      %span.namedate
        = comment.user.name_title
        ,
        = Russian::strftime(comment.created_at,"%d %B %k:%M:%S ")
      %br
      %p.comments= comment.content
      -if signed_in? and not comment.users.include?(current_user)
        .like
          =link_to "#{comment.users.count}",  plus_concept_comment_path(comment), :id => comment.id,:remote => true, :method => :put, class: "counter"
          =image_tag "like.png"
      -else
        .like
          = comment.users.count
          = image_tag "like.png"


