%h4=link_to " << #{t('link.back_list')}", "/project/#{@project.id}/concept/posts/"

- @post.post_aspects.each do |tp|
  %section
    .body
      .row
        .col-md-3
          .media
            -if @post.user
              = render 'users/user_post', user:@post.user
              .media-body
                .media-heading
                  =link_to @post.user, user_path(@project, @post.user)
          %br
          %span
            =@post.number_views
            %span.glyphicon.glyphicon-eye-open
            |
            = Russian::strftime(@post.created_at,'%d %B %k:%M:%S')
          %br
          -if current_user?(@post.user) or boss?
            %span.label.label-success="#{@post.fullness.nil? ? 40 : @post.fullness + 39} баллов из 110"
          %br
          -if improve_comment(@post)
            =improve_comment(@post).html_safe
            |
          - if boss? or role_expert?
            =link_to({action: :discuss_status, id: @post.id, discuss_status: 1}, remote: true, method: :put,  id: "discuss_stat_post_#{@post.id}") do
              %span.label(class="#{label_discuss_stat(@post)}")=t('show.discuss')
            =link_to({action: :discuss_status, id: @post.id, approve_status: 1}, remote: true, method: :put,  id: "approve_stat_post_#{@post.id}") do
              %span.label(class="#{label_approve_stat(@post)}")=t('show.important')
          - else
            -if @post.discuss_status
              %span.label-danger=t('show.discuss')
            -if @post.approve_status
              %span.label-success=t('show.important')
          -if boss?
            |
            =link_to({controller:'concept/posts', action: :status_post, id: @post.id, field_all: true}, remote: true, method: :put, id:"concept_field_all_#{@post.id}",class:"note_text") do
              -if @post.status_all
                %span.label.label-success Забрать все
              -else
                %span.label.label-danger Выдать все

          -#-if boss?
          -#  |
          -#  =link_to({action: :plus, project: @project, id: @post.id},  remote: true, method: :put,  id: "plus_post_#{@post.id}") do
          -#    -if @post.useful
          -#      %span.text-danger=t('show.revert_score')
          -#    -else
          -#      %span.text-success=t('show.add_score')
          %br
          %br
          = render 'shared/post_edit_bar', post: @post

        - if @post.concept_disposts.any?
          .col-md-9
            %h4 Решаемые несовершенства
            %table.table.table-striped.table-bordered.table-condensed
              %thead
                %tr
                  %th
                    ="#"
                  %th
                    =t('show.concept.name')
                  %th
                    =t('show.concept.solved')
              %tbody
                -@post.concept_disposts.sort_by{|c| c.complite(@post).nil? ? 0 : -c.complite(@post)}.each_with_index  do |cd, index|
                  %tr
                    %td
                      =index+1
                    %td
                      =cd.content
                    %td
                      =level_complite(cd)

      %br
      .row
        .col-md-6
          %section
            .body
              %h5.color-orange.text-center
                %b=tp.title
              %p
                .badge.badge-mutted A 1
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:1},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,1)}" id="#{id_for_concept_type(1)}")=t('form.concept.novation_what')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:1},remote:true,method: :put, id:"btn_note_1", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,1)}" id="name")=t('form.concept.novation_what')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:1}
              .form-group
                =simple_format(tp.name)


          %section
            .body
              %p
                .badge.badge-mutted A 2
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:2},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,2)}" id="#{id_for_concept_type(2)}")=t('form.concept.novation_how')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:2},remote:true,method: :put, id:"btn_note_2", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,2)}" id="content")=t('form.concept.novation_how')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:2}
              .form-group.has-danger
                =simple_format(tp.content)


          %section
            .body
              %p
                .badge.badge-mutted В 1
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:3},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,3)}" id="#{id_for_concept_type(3)}")=t('form.concept.cond')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:3},remote:true,method: :put, id:"btn_note_3", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,3)}" id="positive")=t('form.concept.cond')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:3}
              .form-group.has-success= display_content(tp.positive)

          %section
            .body
              %p
                .badge.badge-mutted В 2
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:4},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,4)}" id="#{id_for_concept_type(4)}")=t('form.concept.cond_res')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:4},remote:true,method: :put, id:"btn_note_4", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,4)}" id="positive_r")=t('form.concept.cond_res')
              %br
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:4}
              %br
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th
                      ="#"
                    %th
                      =t('show.concept.name_res')
                    %th
                      =t('show.concept.desc_res')
                %tbody
                  - @post.concept_post_resources.by_type('positive_r').each_with_index  do |r, index|
                    %tr
                      %td
                        =index+1
                      %td
                        =r.name
                      %td
                        =r.desc
                    - r.concept_post_resources.by_type('positive_s').each_with_index  do |res, ind|
                      %tr
                        %td
                          ="#{index+1}.#{ind+1}"
                        %td
                          =res.name
                        %td
                          =res.desc

          %section
            .body
              %p
                .badge.badge-mutted С 1
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:5},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,5)}" id="#{id_for_concept_type(5)}")=t('form.concept.negative')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:5},remote:true,method: :put, id:"btn_note_5", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,5)}" id= "negative")=t('form.concept.negative')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:5}
              .form-group.has-success= display_content(tp.negative)

          %section
            .body
              %p
                .badge.badge-mutted С 2
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:6},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,6)}" id="#{id_for_concept_type(6)}")=t('form.concept.negative_res')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:6},remote:true,method: :put, id:"btn_note_6", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,6)}" id= "negative_r")=t('form.concept.negative_res')

              %br
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:6}
              %br
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th
                      ="#"
                    %th
                      =t('show.concept.name_res')
                    %th
                      =t('show.concept.desc_res')
                %tbody
                  - @post.concept_post_resources.by_type('negative_r').each_with_index  do |r, index|
                    %tr
                      %td
                        =index+1
                      %td
                        =r.name
                      %td
                        =r.desc
                    - r.concept_post_resources.by_type('negative_s').each_with_index  do |res, ind|
                      %tr
                        %td
                          ="#{index+1}.#{ind+1}"
                        %td
                          =res.name
                        %td
                          =res.desc

          %section
            .body
              %p
                .badge.badge-mutted D 1
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:7},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,7)}" id="#{id_for_concept_type(7)}")=t('form.concept.control')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:7},remote:true,method: :put, id:"btn_note_7", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,7)}" id= "control")=t('form.concept.control')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:7}
              .form-group.has-success= display_content(tp.control)


          %section
            .body
              %p
                .badge.badge-mutted D 2
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:8},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,8)}" id="#{id_for_concept_type(8)}")=t('form.concept.control_res')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:8},remote:true,method: :put, id:"btn_note_8", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,8)}" id= "control_r")=t('form.concept.control_res')

              %br
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:8}
              %br
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th
                      ="#"
                    %th
                      =t('show.concept.name_res')
                    %th
                      =t('show.concept.desc_res')
                %tbody
                  - @post.concept_post_resources.by_type('control_r').each_with_index  do |r, index|
                    %tr
                      %td
                        =index+1
                      %td
                        =r.name
                      %td
                        =r.desc
                    - r.concept_post_resources.by_type('control_s').each_with_index  do |res, ind|
                      %tr
                        %td
                          ="#{index+1}.#{ind+1}"
                        %td
                          =res.name
                        %td
                          =res.desc

          %section
            .body
              %p
                .badge.badge-mutted E 1
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:9},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,9)}" id="#{id_for_concept_type(9)}")=t('form.concept.obstacles_bcd')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:9},remote:true,method: :put, id:"btn_note_9", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,9)}" id= "obstacles")=t('form.concept.obstacles_bcd')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:9}
              .form-group.has-success= display_content(tp.obstacles)

          %section
            .body
              %p
                .badge.badge-mutted F 1
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:10},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,10)}" id="#{id_for_concept_type(10)}")=t('form.concept.problems')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:10},remote:true,method: :put, id:"btn_note_10", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,10)}" id="problems")=t('form.concept.problems')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:10}
              .form-group.has-success= display_content(tp.problems)

          %section
            .body
              %p
                .badge.badge-mutted F 2
                -if boss? and @project.status == 7
                  =link_to({controller:'concept/posts', action: :status_post, id:@post.id, type_field:11},remote:true,method: :put, id:"label_post_#{@post.id}",class:"note_text") do
                    %span(class= "#{class_for_concept_type_field(@post,11)}" id="#{id_for_concept_type(11)}")=t('form.concept.reality')
                    =link_to({controller:'concept/posts', action: :new_note, id:@post.id, type_field:11},remote:true,method: :put, id:"btn_note_11", class:"note_text") do
                      .label.label-danger=t('show.note')
                -else
                  %span(class= "#{class_for_concept_type_field(@post,11)}" id= "reality")=t('form.concept.reality')
              -if @project.status == 7
                = render partial: 'concept/posts/note_list', locals:{post_field:@post,type_fd:11}
              .form-group.has-success= display_content(tp.reality)

          %br
          .pull-right
            = render 'shared/post_edit_bar', post:@post

          -#-if tp.discontent and tp.discontent.dispost_concepts.any?
          -#  %blockquote
          -#    %h4=t('show.concept.view_other_concepts')
          -#    -tp.discontent.dispost_concepts.each do |pa|
          -#      - unless pa == @post
          -#        =link_to pa.post_aspects.first.title, concept_post_path(@project, pa)
          -#        %br

        .col-md-6
          - if @project.advices_concept?
            %section
              .body
                %h4
                  = t('advice.advices')
                %ul.media-list#advices
                  = render 'advices/advices'
                %br
          %br
          %section
            .body
              %p=t('show.concept.comments')
              .text-center= will_paginate @comments
              #comments.chat-messages
                = render partial:'shared/comment',collection:@comments
              .text-center= will_paginate @comments
              - if signed_in?
                = render partial:'shared/comment_form', locals:{ comment:@comment, url_link:url_for(controller:@post.class.name.underscore.pluralize, action:'add_comment')}
