
.wholePost.wider_area
  = render 'users/user_post', :user => @post.user
  .posts
    = render 'users/user_name', :user => @post.user, :created_at => @post.created_at
    %p
      %b Краткое описание образа
      %br=simple_format(@post.show_content)
    %p
      %b Эссе об образе:
      %br
      = simple_format(@post.goal)

    %br
    %p.fimage Нововведения образа
    %br
    %div(id="accordion-resizer" class="ui-widget-content")
      #accordion_concept
        - @post.post_aspects.each do |tp|
          %h3=tp.name
          %div
            %a{:name => tp.id}
            %p.ftable.fline
              %span.bigtext Устраняемое несовершенство:
            %p.ftable.fcolor=tp.discontent.show_content.html_safe

            %p.ftable.fline
              %span.bigtext Название нововведения:
              =tp.name
            %p.ftable.fline
              %span.bigtext Краткое описание нововведения:
              =simple_format(tp.content)
            .ftable.fbackPositive
              %span.fline.bigtext A. Какие в будущем должны быть созданы и поддерживаться УСЛОВИЯ, чтобы данное нововведение работало?
              .task_supply=simple_format(tp.positive)
            .ftable.fbackNegative
              %span.fline.bigtext B. Если будут созданы и поддерживаться вышеозначенные УСЛОВИЯ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?
              .task_supply=simple_format(tp.negative)

            .ftable.fback
              %span.fline.bigtext C. Что, вероятно, может помешать в будущем должной работе всех перечисленных методов, средств и других ресурсов и как с этим предлагается бороться?
              =tp.problems
            .ftable.fback
              %span.fline.bigtext D. Аргументы в пользу реалистичности и практичности формирования перечисленных ресурсов
              =simple_format(tp.reality)


    %br
    = render 'shared/post_social_bar', :post => @post

= render 'shared/post_edit_bar', :post => @post
