-if  @project.status == 5
    = link_to image_tag('concept.png'), new_concept_post_path
    %br
    Вы можете добавить свой образ желаемого будущего (за каждое нововведение, решающее несовершенство, вы получите 200 баллов),
    =link_to ' (чтобы узнать, как это сделать, см. раздел «Помощь»).', "/project/#{@project.id}/help"
    %br
    %b В итоге мы должны получить таблицу, в которой каждому несовершенству соответствуют разные варианты нововведений, решающих их


%table.disColumns

    %tr
        %td
            %h1 Несовершенства:
            %br
        %td(style="width:100%;")
            %h1 Варианты нововведений:

    -@aspects.each do |asp|
        -unless asp.accepted_posts.empty?
            %tr
                %td
                    %b=asp.content
                %td
            -asp.accepted_posts.each_with_index do |dis, index2|
                %tr
                    %td{ :class => "#{((index2+1) % 2 !=0) ? 'disText' : 'disText2'}" }
                        =dis.show_content.html_safe
                        %br


                    %td{ :class => "#{((index2+1) % 2 !=0) ? '' : 'disText3'}" }
                        -unless dis.concept_conditions.empty?
                            %table
                                -dis.concept_conditions.each_with_index do |cond,  index|

                                    %tr
                                        %td
                                            - if cond.concept_post.status ==2
                                                .fback
                                                    -if @project.status == 6
                                                        .voteBar2
                                                            -if admin?
                                                                %span.number=cond.concept_post.voted_users.count
                                                            - if can_vote?(cond.concept_post.voted_users.size, @number_v, @votes)
                                                                =link_to "+", "/project/#{@project.id}/discontent/vote/#{cond.concept_post.id}", :remote => true, :method => :put, class: "voteCounter", :id => "aspect_#{cond.concept_post.id}"

                                                    .condition
                                                        =cond.name
                                                        =link_to 'подробнее', "/project/#{@project.id}/concept/status/2/posts/#{cond.concept_post_id}##{cond.id}"
                        -else
                            Пока не предложено