-if  @project.status == 5
    = link_to image_tag('add_desirable.png'), new_concept_post_path
    %br
    Вы можете добавить свой образ желаемого будущего (за каждое нововведение,  устраняющее несовершенство, вы получите 200 баллов),
    =link_to ' (чтобы узнать, как это сделать, см. раздел «Помощь»).', "/project/#{@project.id}/help"
    %br
    %b В итоге мы должны получить таблицу, в которой каждому несовершенству соответствуют разные варианты нововведений, устраняющих их
-if @project.status == 6
    %br=link_to 'Вы можете оставить свое мнение или почитать другие', essay_posts_path(@project, @project.status), :id => 'essay_list'
    Выберите те нововведения, которые считаете лучшими и нажмите "отдать голос" рядом с ними.
    %br
    %b Обратите внимание, для каждого несовершенства вы можете выбрать только одно нововведение!
    %br
    - unless @number_v<1
        Количество имеющихся голосов -
        %span.rate
            %span#count_vote=@number_v
    %br
    - if boss?
        проголосовало
        =@voted_people
        из
        =@all_people
        Отдано голосов
        =@votes
        %br

%table.disColumns

    %tr
        %td(style="width:40%;")
            %h1 Несовершенства:
            %br
        %td(style="width:60%;")
            %h1 Варианты нововведений:

    -@aspects.each do |asp|
        -unless asp.accepted_posts.empty?
            %tr
                %td(colspan='2' )
                    %b=asp.content
                %td
            -asp.accepted_posts.each_with_index do |dis, index2|
                %tr
                    %td{ :class => "#{((index2+1) % 2 !=0) ? 'disText' : 'disText2'}" }
                        =dis.show_content.html_safe
                        %br


                    %td{ :class => "#{((index2+1) % 2 !=0) ? '' : 'disText3'}" }
                        -unless dis.concept_conditions.empty?
                            %table
                                -dis.concept_conditions.each_with_index do |cond,  index|

                                    %tr
                                        %td
                                            - if !cond.concept_post.nil? and  cond.concept_post.status ==2
                                                .fback
                                                    -if @project.status == 6
                                                        .voteBar
                                                            -if admin?
                                                                %span.number=cond.voted_users.count
                                                            - if can_vote_cond?(cond.voted(current_user).size, @number_v, @votes, dis)
                                                                =link_to 'отдать голос', "/project/#{@project.id}/concept/vote/#{cond.id}", :remote => true, :method => :put, class: "voteCounter", :id => "aspect_#{dis.id}"

                                                    .condition
                                                        =cond.name
                                                        =link_to 'подробнее', "/project/#{@project.id}/concept/status/2/posts/#{cond.concept_post_id}##{cond.id}"
                        -else
                            Пока не предложено