- @content.each do |concept|
  .post.post_add_type1
    .post-header.color_me{'data-me-action' => 'background', 'data-me-color' => '1', 'data-me-type' => 'aspect'}
    .post-body
      .media
        .media-left.text-center.gradient2.post-poster
          = user_image_tag concept.user.avatar, class: 'img-circle img40'
          %p.poster-name
            = concept.user
          %p.poster-name
        .media-body.white
          .post-text
            %h5.bold
              = concept.title
            - if current_user?(concept.user)
              = link_to edit_concept_post_path(@project, concept), id: "edit_concept_#{concept.id}", class: 'btn btn_reset btn_del' do
                %i.glyphicon.glyphicon-pencil
              = link_to concept_post_path(@project, concept), method: :delete, data: {confirm: t('confirm.delete_concept')}, id: "destroy_concept_#{concept.id}", class: 'btn btn_reset btn_del' do
                %i.glyphicon.glyphicon-trash
            %p
              = concept.goal
    .post-bottom.white
      .row
        .col-md-12
          - concept.concept_disposts.each do |discontent|
            %span.tag-stripes.active.color_me{'data-me-action' => 'background-color', 'data-me-color' => '1', 'data-me-type' => 'imperf'}
              %span.tags
                = discontent.content
