%li.checkbox_item{ id: "button_aspect_#{aspect.id}", data: { project: @project.id, aspect: ".aspect_#{aspect.id}" }, style: "padding-left: #{level*10}px;" }
  %input{ :id => "ex2_2_#{aspect.id + 1}", :name => "ex2_2", :type => "radio", :value => "#{aspect.id + 1}"}/
  %label.checkox_item{ :for => "ex2_2_#{aspect.id + 1}", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "#{aspect.aspect_posts.count > 0 ? 'В этом аспекте ' +t('discontent', count: aspect.aspect_posts.count) : 'В этом аспекте еще нет несовершенств'}" }
    %span
      %span.color_counter.color_me{ style: "background-color: #{aspect.color};" }
        %span
          = aspect.aspect_posts.count
    %span.text_label
      = aspect.content
    -#- new_posts = aspect.aspect_posts.after_last_visit_posts(last_time_visit_page('discontent')).size
    -#- if new_posts > 0
    -#  %span.cb_doc
    -#    = new_posts
    -#- new_comments = aspect.aspect_posts.after_last_visit_comments(last_time_visit_page('discontent')).size
    -#- if new_comments > 0
    -#  %span.cb_com
    -#    = new_comments

    - if @presenter.after_last_visit_for_post(aspect, :posts) > 0
      %span.cb_doc
        = @presenter.after_last_visit_for_post(aspect, :posts)
    - if @presenter.after_last_visit_for_post(aspect, :comments) > 0
      %span.cb_com
        = @presenter.after_last_visit_for_post(aspect, :comments)