%h3.text-center=t('form.discontent.title')
= form_for @post, url: {project: @project.id,improve_comment: params[:improve_comment], improve_stage: params[:improve_stage], required: params[:required], action: @post.persisted? ? 'update' : 'create'}, remote: true, html: {id: 'new_discontent',class:'form-new-post'} do |f|
  #notice_messages

  .row
    .col-md-12

      .text-right
        %label.radio-inline
        = f.check_box :anonym
        %span.label.label-danger Подать несовершенство анонимно

      .text-center
        .h4
          =t('form.discontent.field_what')
        %br

  .row
    .col-md-6
      .text-right
        %i
          %b=t('form.discontent.examples')
          %br
          %span.label.label-danger=t('form.discontent.style_negative')
          %br
          %span.label.label-default=t('form.discontent.what')
          пчелы тратят много времени на перелеты до лучших источников нектара
    .col-md-6
      .form-group
        = f.text_area :content, class: 'form-control post-textarea', rows: 5, placeholder: t('form.discontent.field_what_promt')
  .row
    .col-md-12
      .text-center
        .h4
          =t('form.discontent.field_when')
        %br
  .row
    .col-md-6
      .text-right
        %i
          =t('form.discontent.examples')
          %br
          %span.label.label-default=t('form.discontent.when')
          При сборе нектара
    .col-md-6
      = f.autocomplete_field :whend, autocomplete_discontent_post_whend_discontent_posts_path, :'min-length' => 0, style: 'height: 44px', class: 'form-control autocomplete', placeholder: t('form.discontent.field_when_promt')
      %br
      %br

  .row
    .col-md-12
      .text-center
        .h4
          =t('form.discontent.field_where')
        %br
  .row
    .col-md-6
      .text-right
        %i
          =t('form.discontent.examples')
          %br
          %span.label.label-default=t('form.discontent.where')
          На лужайках, отдаленных от высокого дуба

    .col-md-6
      = f.autocomplete_field :whered, autocomplete_discontent_post_whered_discontent_posts_path, :'min-length' => 0, style: 'height: 44px', class: 'form-control autocomplete', placeholder: t('form.discontent.field_where_promt')

  .row
    .col-md-6
      %br
      %h5.text-right
        =t('form.discontent.select_aspect')
      %br
      %br
    .com-md-6
      %br
      = select_tag 'select_for_aspects', options_from_collection_for_select(@aspects.minus_view(@aspects_for_post.nil? ? (@asp.nil? ? [] : [@asp.id]) : @aspects_for_post.pluck(:id)), 'id', 'content'),
      prompt: t('form.discontent.select_aspect_prompt'), style:'margin-left:15px; margin-top:10px; height: 30px;'
      %br
      #add_post_aspects(style="margin-left: 52%;margin-top: 10px;")
        - unless @aspects_for_post.nil?
          - @aspects_for_post.each do |ap|
            %div{id: "aspect_#{ap.id}"}
              %input{name: 'discontent_post_aspects[]', type: 'hidden', value: "#{ap.id}"}/
              %span.glyphicon.glyphicon-remove.text-danger.pull-left{onclick: "remove_core_aspect('#{ap.id}','#{ap.content}');", style: 'cursor:pointer;text-decoration:none;font-size:15px;'}
              %span.span_aspect.label.label-t{id: "#{ap.id}"}=ap.content
        - unless @asp.nil?
          %div{id: "aspect_#{@asp.id}"}
            %input{name: "discontent_post_aspects[]", type: "hidden", value: "#{@asp.id}"}/
            %span.glyphicon.glyphicon-remove.text-danger.pull-left{onclick: "remove_core_aspect('#{@asp.id}','#{@asp.content}');", style: 'cursor:pointer;text-decoration:none;font-size:15px;'}
            %span.span_aspect.label.label-t{id: "#{@asp.id}"}
              = @asp.content
      %br

  .row
    .col-md-12
      .form-group.text-center
        =t('form.discontent.select_style')
        %label.radio-inline
          = f.radio_button :style, '1', checked: 'checked'
          %span.label.label-danger=t('form.discontent.style_negative')
        %label.radio-inline
          = f.radio_button :style, '0'
          %span.label.label-success=t('form.discontent.style_positive')

  %br
  %hr
  %button.btn.btn-lg.btn-primary.send-post#send_post(type="submit" onclick="$(this).button('loading');"){class: ('disabled' unless @post.content?), 'data-loading-text' => t('form.save_load')}=t('form.save')
  %br
  %br

  = link_to t('link.back'), discontent_posts_path(@project)

#render_success_discontent
