.text-success#create_discontent_success(style='display:none;')
  = t('form.discontent.create_success')

- content_for :discontent_form do
  = form_for @post, url: {project: @project.id, id: @post, action: @post.persisted? ? 'update' : 'create'}, remote: true, html: {id: 'new_discontent'} do |f|
    .col-md-12
      .divider10
      .content_window.white
        .divider25
        #notice_messages
        - if params[:type_mechanic] == 'simple'
          .btn-group.cab_drop
            %a.dropdown-toggle{'data-toggle' => 'dropdown'}
              %span
                = t('form.discontent.select_aspect')
            %ul.dropdown-menu
              - @aspects.each do |aspect|
                %li
                  = f.radio_button :aspect_id, aspect.id
                  %label{for: "discontent_post_aspect_id_#{aspect.id}"}
                    %span
                      %span.color_counter.color_me{'data-me-action' => 'background-color', 'data-me-color' => "#{aspect.color}"}
                    %span.text_label
                      = aspect.content

        .divider25
        %p
          = t('form.discontent.field_content')
        = f.text_area :content, rows: 1, class: 'form-control'
        .divider15
        %p
          = t('form.discontent.field_what')
        = f.text_area :what, rows: 2, class: 'form-control'
        .divider15
        %p
          = t('form.discontent.field_where')
        = f.text_area :whered, rows: 2, class: 'autocomplete form-control', 'data-url' => discontent_autocomplete_path(@project, field: 'whered')
        .divider15
        %p
          = t('form.discontent.field_when')
        = f.text_area :whend, rows: 2, class: 'autocomplete form-control', 'data-url' => discontent_autocomplete_path(@project, field: 'whend')
        .divider25
    .row
      .col-md-6
        %a.theme_font_color.with_arrow.collapsed.not_full_width.bold.collapser_type1{"aria-expanded" => "false", "data-toggle" => "collapse", href: "#imperfs1"}
          Пример несовершенства
          %i.fa.fa-chevron-circle-right.fa-lg.collapse_arrow
      .col-md-6
        %p
          = f.submit t('form.save'), class: 'btn add-button type2 pull-right', id: 'send_post'
    .divider25
    #imperfs1.content_window.white.collapse.font_lighter_grey
      .divider15
      %a.with_arrow.collapsed.a_font_reset.not_full_width.collapser_type1{"aria-expanded" => "false", "data-toggle" => "collapse", href: "#imperf_example"}
        Невозможно дышать при большом количестве людей в комнате
        %i.fa.fa-angle-right.fa-lg.collapse_arrow.font_grey
      #imperf_example.collapse
        .divider25
        %p.font_dark_grey
          Название (краткое описание несовершенства)
        %p
          Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .divider15
        %p.font_dark_grey
          На каком этапе это происходит?
        %p
          Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .divider15
        %p.font_dark_grey
          От чего это зависит?
        %p
          Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .divider15
        %p.font_dark_grey
          Чья работа от этого зависит?
        %p
          Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .divider20
      .divider15

= render partial: "#{params[:type_mechanic]}_form"
