=render partial: 'shared/help/new_discontent'
%button.btn.btn-info(data-toggle="modal" data-target="#modalNewDiscontent")
  Показать пример
%br
%br
= form_for  @post, :url => {:project => @project.id, :replace_id => @replace_post.nil? ? nil : @replace_post.id , :action => @post.persisted? ? 'update' : 'create'},  :remote => true, :html => { :id => 'new_discontent' }do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discontent_post.errors.count, "error")} prohibited this discontent_post from being saved:"
      %ul
        - @ost.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %label.control-label(for="exampleInputEmail1")
      Что вас не устраивает
      %span.text-danger *
    =f.text_area :content, class: 'form-control', rows: 5, placeholder: 'Отрицательное действие, явление, установление, черта', onkeyup: "activate_button(this);"

  .form-group
    = select_tag 'discontent_post[aspect_id]', options_from_collection_for_select(@aspects, "id", "content", @post.aspect.nil? ? @aspects.first.id : @post.aspect.id), :prompt => 'Выберите аспект'


  .panel-group
    .panel
      .panel-heading
        %h4.panel-title
        %a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne")
          Заполнить дополнительные поля (+10 баллов)
      #collapseOne.panel-collapse.collapse
        .panel-body
          Где это происходит?
          =f.autocomplete_field :whered, autocomplete_discontent_post_whered_discontent_posts_path,  class: 'form-control',placeholder: 'Место, организация, общность, в которой это происходит '
          Когда это происходит?
          =f.autocomplete_field :whend, autocomplete_discontent_post_whend_discontent_posts_path,  class: 'form-control',placeholder: 'Во время какого события, мероприятия, процесса, ситуации '
          %br
          .form-group
            %label.radio-inline
              = f.radio_button :style,  '1'
              %span.text-danger Имеющиеся недостатки
            %label.radio-inline
              = f.radio_button :style,  '0'
              %span.text-success Отсутствующие достоинства
  %br
  %button#send_post.btn.btn-primary(type="submit" onclick='disontent_form_submit();'){:class => ('disabled' unless @post.content?)} Сохранить
  %hr
  %p#discontent_success.text-success Готово!
  %p#discontent_warning.text-primary
    Проверьте в списке ниже, не было ли ваше несовершенство или похожее на него добавлено другими участниками. Если да, то прекратите работу с ним.  Если вы уверены, что ваше несовершенство оригинально,  нажмите на кнопку "Все равно сохранить".
    Учтите,  модератор может рассудить, что на самом деле оно не оригинально, и вычесть у вас баллы.
  #posts