=render partial: 'shared/help/new_discontent'
%button.btn.btn-info(data-toggle="modal" data-target="#modalNewDiscontent")
  Показать пример
%br
%br
= form_for  @post, :url => {:project => @project.id, :replace_id => @replace_post.nil? ? nil : @replace_post.id , :action => @post.persisted? ? 'update' : 'create'},  :remote => true, :html => { :id => 'new_discontent' }do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discontent_post.errors.count, "error")} prohibited this discontent_post from being saved:"
      %ul
        - @ost.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %label.control-label(for="exampleInputEmail1") Что вас не устраивает (обязательное поле)
    =f.text_area :content, class: 'form-control', rows: 5, placeholder: 'отрицательное действие, явление, установление, черта...', onkeyup: "activate_button(this);"
    %br
    Где это происходит?
    =f.autocomplete_field :whered, autocomplete_discontent_post_whered_discontent_posts_path,  class: 'form-control',placeholder: 'место, организация, общность, в которой это происходит '

    Когда это происходит?
    =f.autocomplete_field :whend, autocomplete_discontent_post_whend_discontent_posts_path,  class: 'form-control',placeholder: 'во время какого события, мероприятия, процесса, ситуации... '

  .form-group
    = select_tag 'discontent_post[aspect_id]', options_from_collection_for_select(@aspects, "id", "content", @post.aspect.nil? ? @aspects.first.id : @post.aspect.id), :prompt => 'Выберите аспект'
    %small
      %label.radio-inline
        %input(type="radio" name="discontent_post[style]" id="optionsRadios1" value="1")
          %span.text-danger Имеющиеся недостатки
      %label.radio-inline
        %input(type="radio" name="discontent_post[style]" id="optionsRadios1" value="0")
          %span.text-success Отсутствующие достоинства

  %button#send_post.btn.btn-primary.disabled(type="submit") Сохранить
  %hr
  %p#discontent_success.text-success Успешно добавлено!
  %p#discontent_warning.text-primary Проверьте не добавлено ли ваше несовершенство другими участниками? Если вы уверены, что нет - нажмите на "Все равно сохранить"
  #posts