%button.btn.btn-info(data-toggle="modal" data-target="#modalStage2")
  Показать пример
%br
%br
= form_for  @post, :url => {:project => @project.id, :replace_id => @replace_post.nil? ? nil : @replace_post.id , :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discontent_post.errors.count, "error")} prohibited this discontent_post from being saved:"
      %ul
        - @ost.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %label.control-label(for="exampleInputEmail1") Что вас не устраивает (обязательное поле)
    =f.text_area :content, class: 'form-control', rows: 5, placeholder: 'отрицательное действие, явление, установление, черта...'
    %br
    Когда это происходит?
    =f.text_field :when, class: 'form-control',placeholder: 'во время какого события, мероприятия, процесса, ситуации... '
    Где это происходит?
    =f.text_field :where, class: 'form-control',placeholder: 'место, организация, общность, в которой это происходит '

  .form-group
    = select_tag 'discontent_post[aspect_id]', options_from_collection_for_select(@aspects, "id", "content", @post.aspect.nil? ? 0 :@post.aspect.id), :prompt => "Выберите фрагмент"

    %label.radio-inline
      %input(type="radio" name="discontent_post[style]" id="optionsRadios1" value="1")
        %span.text-danger Имеющийся негатив
    %label.radio-inline
      %input(type="radio" name="discontent_post[style]" id="optionsRadios1" value="0")
        %span.text-success Отсутствующий позитив

  %button.btn.btn-primary(type="submit" data-loading-text="Loading...") Сохранить
  %hr