.discontents_group_select{id: "group_select_#{group_select.id}"}
  -if @accepted_posts
    = select_tag 'select_for_discontents_group', options_from_collection_for_select(@accepted_posts, "id", "content"),
    prompt: t('form.discontent.select_aspect_prompt'), onchange: "select_for_discontents_group(this,#{@project.id},#{group_select.id},'new_posts',#{@new_post.id});"