.modal.fade#modal-post
  .modal-dialog.modal-985
    %button.close{ 'data-dismiss' => 'modal' } &times;
    - if boss?
      .admin_panel
        = link_to({ controller: @post.class.name.underscore.pluralize, action: :add_score, project: @project.id, id: @post.id },
          remote: true, method: :put, class: "btn btn-white btn-xs #{'theme_font_color' if @post.useful}", id: "plus_post_#{@post.id}") do
          %i.fa.fa-trophy.fa-lg
        = link_to({ controller: @post.class.name.underscore.pluralize, action: :change_status, project: @project.id, id: @post.id, status: :approve_status },
          remote: true, method: :put, class: "btn btn-white btn-xs #{'theme_font_color' if @post.approve_status}", id: "approve_status_post_#{@post.id}") do
          %i.fa.fa-bookmark.fa-lg
    .modal-content
      %div{ 'data-important' => "#{@post.id}", class: "#{'hide' unless @post.approve_status}" }
        .important
          %i.fa.fa-bookmark.fa-2x
      .modal-header
        .row
          .col-md-8
            %h4
              = @post.content
          .col-md-4
            .likes
              %a
                %small{ class: "cc_post_#{@post.id}" }
                  = @post.comments.count
                %i.fa.fa-comment
              = link_to({ controller: @post.class.name.underscore.pluralize, action: :like, project: @project, id: @post.id, against: false },
                  remote: true, method: :put, id: "like_post_#{@post.id}", class: 'tooltip_b', title: 'Нравится') do
                %small{ id: "lk_post_#{@post.id}", class: "lk_post_#{@post.id}" }
                  = @post.users_pro.count
                %i.fa.fa-thumbs-up
              = link_to({ controller: @post.class.name.underscore.pluralize, action: :like, project: @project, id: @post.id, against: true },
                  remote: true, method: :put, id: "dislike_post_#{@post.id}", class: 'tooltip_b', title: 'Не нравится') do
                %small{ id: "dlk_post_#{@post.id}", class: "dlk_post_#{@post.id}" }
                  = @post.users_against.count
                %i.fa.fa-thumbs-down
              %small
                = l(@post.created_at, format: '%d.%m.%Y')
      .modal-body
        .post-body
          .row
            .col-md-6.exp_col.left
              %a.exp_button.tooltip_l{ 'data-new' => 'Развернуть историю комментариев', title: 'Свернуть несовершенство' }
                %span.arrows-left
              .post-content
                %table.table.table-bordered
                  %tr
                    %td
                      = link_to user_path(@project, @post.user) do
                        = user_image_tag @post.user.try(:avatar)
                        = @post.user
                  %tr
                    %td
                      = t('activerecord.attributes.discontent/post.what')
                  %tr
                    %td
                      = @post.what
                  %tr
                    %td
                      = t('activerecord.attributes.discontent/post.whered')
                  %tr
                    %td
                      = @post.whered

                - if @post.post_aspects.present?
                  %hr
                  - @post.post_aspects.each do |asp|
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-square{ style: "color:#{asp.color};" }
                      .col-md-11
                        = asp.content

            .col-md-6.exp_col.right
              %a.exp_button.tooltip_r{ 'data-new' => 'Развернуть несовершенство', title: 'Свернуть историю комментариев' }
                %span.arrows-right
              .post-content
                .chat-messages.collapse.in#comments
                  = render partial: 'shared/comment', collection: @comments
                = render partial: 'shared/comment_form', locals: { comment: @comment, post: @post,
                  url_link: url_for(controller: @post.class.name.underscore.pluralize, action: 'add_comment') }

