#modal_discontent_form.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h3#myModalLabel.modal-title Форма добавления несовершенства
      .modal-body
        = form_for  @post, url: {project: @project.id, id: @post, action: @post.persisted? ? 'update' : 'create'}, remote: true, html: {id: 'new_discontent'} do |f|
          #notice_messages
          .col-md-12
            .row
              .col-md-12
                .text-center
                  .h5
                    =t('form.discontent.field_what')
                  %br

            .row
              .col-md-12
                .form-group
                  = f.text_area :content, class: 'form-control post-textarea', rows: 5, placeholder: t('form.discontent.field_what_promt')

            .row
              .col-md-12
                .text-center
                  .h5
                    =t('form.discontent.field_where')
                  %br

            .row
              .col-md-12
                #mod2
                = f.autocomplete_field :whered, autocomplete_discontent_post_whered_discontent_posts_path, append_to: '#mod2', :'min-length' => 0, style: 'height: 44px', class: 'form-control autocomplete', placeholder: t('form.discontent.field_where_promt')
                %br
                %br
            .row
              .col-md-12
                .text-center
                  .h5
                    =t('form.discontent.field_when')
                  %br

            .row
              .col-md-12
                #mod
                = f.autocomplete_field :whend, autocomplete_discontent_post_whend_discontent_posts_path, :'min-length' => 0, append_to: '#mod',  style: 'height: 44px', class: 'form-control autocomplete', placeholder: t('form.discontent.field_when_promt')
                %br
                %br
            .row
              .col-md-12
                .text-center
                  .h5=t('form.discontent.select_aspect')
                %br
            .row
              .com-md-12
                = select_tag 'select_for_aspects', options_from_collection_for_select(@aspects.minus_view(@aspects_for_post.nil? ? (@asp.nil? ? [] : [@asp.id]) : @aspects_for_post.pluck(:id)), 'id', 'content'),
                prompt: t('form.discontent.select_aspect_prompt') , style:'margin-left:15px; margin-top:10px; height: 30px;'
                %br
                #add_post_aspects(style="margin-left: 2%;margin-top: 10px;")
                  - unless @aspects_for_post.nil?
                    - @aspects_for_post.each do |ap|
                      %div{id: "aspect_#{ap.id}"}
                        %input{name: 'discontent_post_aspects[]', type: 'hidden', value: "#{ap.id}"}/
                        %span.glyphicon.glyphicon-remove.text-danger{onclick: "remove_discontent_aspect('#{ap.id}','#{ap.content}');", style: 'cursor:pointer;text-decoration:none;font-size:15px;'}
                        %span.span_aspect.label.label-xs.label-info{id: "#{ap.id}"}
                          = ap.content
                  - unless @asp.nil?
                    %div{id: "aspect_#{@asp.id}"}
                      %input{name: 'discontent_post_aspects[]', type: 'hidden', value: "#{@asp.id}"}/
                      %span.glyphicon.glyphicon-remove.text-danger{onclick: "remove_discontent_aspect('#{@asp.id}','#{@asp.content}');", style: 'cursor:pointer;text-decoration:none;font-size:15px;'}
                      %span.span_aspect.label.label-xs.label-info{id: "#{@asp.id}"}
                        = @asp.content
                %br

            .row
              .col-md-12
                .form-group.text-center
                  %br
                  %b=t('form.discontent.select_style')
                  %br
                  %label.radio-inline
                    = f.radio_button :style, '1', checked: 'checked'
                    %span.label.label-danger=t('form.discontent.style_negative')
                  %label.radio-inline
                    = f.radio_button :style, '0'
                    %span.label.label-success=t('form.discontent.style_positive')

            %br
            %button#send_post.btn.btn-primary.pull-right.send-post(type="submit")=t('form.save')

      .modal-footer
