#popup-imperf.popup-window.detailed_popup.popup-w985.mfp-hide
  - if boss?
    .post-top-header
      =link_to({controller: @post.class.name.underscore.pluralize, action: :add_score, project: @project.id, id: @post.id}, remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if @post.useful}", id: "plus_post_#{@post.id}") do
        %i.fa.fa-trophy.fa-lg
      = link_to({controller: @post.class.name.underscore.pluralize, action: :change_status, project: @project.id, id: @post.id, approve_status: true}, remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if @post.approve_status}", id: "approve_stat_post_#{@post.id}") do
        %i.fa.fa-bookmark.fa-lg
  .popup.popup_rounded.popup_color_theme_stage2
    %div{"data-important" => "#{@post.id}", class: "#{'hide' unless @post.approve_status}"}
      %div.important.theme_font_color
        %i.fa.fa-bookmark.fa-2x
    .modal_title
      .row
        .col-md-8
          %h4.bold.font_dark_grey
            =@post.content
        .col-md-4
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  %span(class="cc_post_#{@post.id}")
                    =@post.comments.count
                  %i.fa.fa-comment.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize, :action => :like, :project => @project, :id => @post.id, :against => false}, :remote => true, :method => :put, id: "like_post_#{@post.id}") do
                  %span.bold
                    %span(id="lk_post_#{@post.id}" class="lk_post_#{@post.id}")
                      =@post.users_pro.count
                    %i.fa.fa-thumbs-up.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize, :action => :like, :project => @project,  :id => @post.id, :against => true}, :remote => true, :method => :put, id: "dislike_post_#{@post.id}") do
                  %span.bold
                    %span(id="dlk_post_#{@post.id}" class="dlk_post_#{@post.id}")
                      =@post.users_against.count
                    %i.fa.fa-thumbs-down.theme_font_color
                -#-if @post.notes.present?
                -#  %span
                -#    %i.fa.fa-exclamation-triangle.font_lighter_grey
                %small
                  =Russian::strftime(@post.created_at,'%d.%m.%Y')
    .modal_body
      .container.modal_content
        .row
          .col-md-6.exp_col.left
            %button.btn.btn_reset.exp_button.pull-right
              = image_tag 'grey_arrow.png'
            .divider20
            .border_light_grey.rounded_3.imperf_left
              .media.comment.main_line
                .container
                  .media-left
                    -#= image_tag 'no-ava.png', class: "media-object img50 img-circle"
                    = link_to user_path(@project, @post.user) do
                      = user_image_tag @post.user.try(:avatar), class: 'media-object img50 img-circle'
                  .media-body
                    %h5.media-heading.bold
                      = link_to @post.user, user_path(@project, @post.user)
              %table.table
                %tr
                  %td.col-md-12.left-column.bold
                    = t('activerecord.attributes.discontent/post.what')
                %tr
                  %td.col-md-12.left-column
                    = @post.what
                %tr
                  %td.col-md-12.left-column.bold
                    = t('activerecord.attributes.discontent/post.whered')
                %tr
                  %td.col-md-12.left-column
                    = @post.whered
                %tr
                  %td.col-md-12.left-column.bold
                    = t('activerecord.attributes.discontent/post.whend')
                %tr
                  %td.col-md-12.left-column
                    = @post.whend
              -if @post.notes.present?
                .divider10
                .index_block
                  .text-center.col-md-1
                    %i.fa.fa-exclamation-triangle.font_red
                  .col-md-11
                    %h5 Замечание модератора
                    .divider10
                    -@post.notes.each do |note|
                      %li
                        =note.content
                      %br
                .divider10
              -if @post.post_aspects.present?
                .divider_1_grey
                - @post.post_aspects.each do |asp|
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-square{style: "color:#{asp.color};"}
                    .col-md-11
                      = asp.content
                .divider10

          .col-md-6.exp_col.right
            %button.btn.btn_reset.exp_button.pull-left
              = image_tag 'grey_arrow_1.png'
            .divider10

            .separator
              %hr
                .separator_label.text-left
                  %h4 Обсуждение результатов опроса
                .separator_label.pull-right
                  %a{class:"#{'font_grey' if @comments.count == 0}","aria-expanded" => "false", "data-toggle" => "collapse", :href => "#comments"}
                    %span.comments_action свернуть
            .chat-messages#comments.collapse.in
              = render partial:'shared/comment', collection: @comments
            .divider15
            = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }

        .divider25
