#modal_save_discontent.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
      .modal-body
        %h3.text-center.color-green=t('form.discontent.create_success')
        %hr
        .text-center
          .col-md-6
            -if params[:improve_comment]
              %a.btn.btn-lg.btn-success(href="/project/#{@project.id}/discontent/posts/new?asp_id=#{@aspect_id}" style="font-weight: normal !important;" id="new_discontent")
                =t('form.add_more')
            -else
              %a.btn.btn-lg.btn-primary(data-dismiss="modal")=t('form.add_more')
          .col-md-6
            = link_to t('link.go_list'), "/project/#{@project.id}/discontent/posts?asp=#{@aspect_id}", class: 'btn btn-lg btn-success'
        %br
        %br
