#popup-imperf.popup-window.popup-imperfect-new.popup-w985.mfp-hide
  .popup.popup_rounded.popup_color_theme_stage2
    .modal_title
      .row
        .col-md-8
          %h4.bold.font_dark_grey
            Несовершенство
            ="\"#{@post.content}\""
        .col-md-4
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  =@post.comments.count
                  %i.fa.fa-comment.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize,:action => :like, :project => @project, :id => @post.id, :against => false,  :remote => true},:method => :put, id: "plus_post_#{@post.id}") do
                  %span.bold
                    %span(id="plus_counter_#{@post.id}" style="color:#333;")
                      =@post.users_pro.count
                    %i.fa.fa-thumbs-up.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize,:action => :like, :project => @project,  :id => @post.id, :against => true, :remote => true}, :method => :put, id: "minus_post_#{@post.id}") do
                  %span.bold
                    %span(id="minus_counter_#{@post.id}" style="color:#333;")
                      =@post.users_against.count
                    %i.fa.fa-thumbs-down.theme_font_color
                %span
                  %i.fa.fa-exclamation-triangle.font_lighter_grey
                %small
                  =Russian::strftime(@post.created_at,'%d.%m.%Y %k:%M:%S')
    .modal_body
      .divider25
      .container
        .col-md-5
          .border_light_grey.rounded_5.imperf_left
            .media.comment.main_line{class: "#{@post.style == 1 ? 'pink' : 'blue'}"}
              .container
                .media-left
                  = image_tag 'no-ava.png', class: "media-object img50 img-circle"
                .media-body
                  %h5.media-heading.bold
                    =@post.user
            %table.table{class: "#{@post.style == 1 ? 'pink' : 'blue'}"}
              %tr
                %td.col-md-2.text-center.right-column
                  Что
                %td.col-md-10.left-column
                  =@post.content
              %tr
                %td.col-md-2.text-center.right-column
                  Где
                %td.col-md-10.left-column
                  =@post.whered
              %tr
                %td.col-md-2.text-center.right-column
                  Когда
                %td.col-md-10.left-column
                  =@post.whend
            .divider10
            -if @post.notes.present?
              .index_block
                .text-center.col-md-1
                  %i.fa.fa-exclamation-triangle.font_lighter_grey
                .col-md-11
                  %h5 Замечание модератора
                  -@post.notes.each do |note|
                    %li=note.content
                    %br
            - @post.post_aspects.each do |asp|
              .index_block
                .text-center.col-md-1
                  %i.fa.fa-square{style: "color:#{asp.color};"}
                .col-md-11
                  = asp.content
            .divider10
        .col-md-7
          .container
            .row
              .col-md-12.theme_font_color.text-right.no_padding_col
                =Russian::strftime(@post.created_at,'%d.%m.%Y %k:%M:%S')
          .divider5
          .divider_1_grey
          #myCarousel.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner.chat-messages{:role => "listbox"}
              -if @comments.present?
                - @comments.each_slice(5).with_index do |slice, i|
                  .item{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}"}
                    = render partial:'shared/comment', collection: slice
              -else
                .item.active
          .divider15
          .post-interfaces
            = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }
          %nav.text-center
            %ul.pagination
              - @comments.each_slice(5).with_index do |slice, i|
                %li
                  %a.myCarousel-target{class: "#{'active' if i == 0}", "data-slide-to" => "#{i}", "data-target" => "#myCarousel"}
                    ="#{i+1}"
      .divider25






-##popup-imperf.popup-window.popup-imperfect-new.popup-w985.mfp-hide
-#  .popup.popup-top-rounded.popup-bottom-rounded{class: "#{@post.style == 1 ? 'popup-imperfect-pink' : 'popup-imperfect-blue'}"}
-#    %h2
-#      Несовершенство
-#      ="\"#{@post.content}\""
-#    .popup-imperfect-main-block
-#      .imperfect-info.rounded-3
-#        .poster-line
-#          = image_tag 'no-ava.png', class: "img50 img-circle"
-#          %span.poster-name
-#            =@post.user.to_s if @post.user
-#        %table
-#          %tr
-#            %td.imperf-left-column
-#              Что
-#            %td.imperf-right-column
-#              =@post.content
-#          %tr
-#            %td.imperf-left-column
-#              Где
-#            %td.imperf-right-column
-#              =@post.whered
-#          %tr
-#            %td.imperf-left-column
-#              Когда
-#            %td.imperf-right-column
-#              =@post.whend
-#        .info-stripe
-#          %span.popup-comments
-#            =@post.comments.count
-#            = image_tag 'icon-comment.png'
-#          %span.popup-likes
-#            %span(id="plus_counter_#{@post.id}" style="margin-right:0;")
-#              =@post.users_pro.count
-#            = image_tag 'icon-thumb-up.png'
-#          %span.popup-dislikes
-#            %span(id="minus_counter_#{@post.id}" style="margin-right:0;")
-#              =@post.users_against.count
-#            = image_tag 'icon-thumb-down.png'
-#
-#        -if @post.notes.present?
-#          .imperfect-info-icon-text-block
-#            %span.icon-text-icon-cont
-#              = image_tag 'moder-icon.png', class: "icon-text-icon"
-#            %p.icon-text-text
-#              %span.icon-text-text-heading Замечание модератора
-#              -@post.notes.each do |note|
-#                %li=note.content
-#                %br
-#
-#        - @post.post_aspects.each do |asp|
-#          .imperfect-info-icon-text-block
-#            %span.icon-text-icon-cont
-#              %span.icon-text-icon.colored-icon{style: "background:#{asp.color};"}
-#            %p.icon-text-text
-#              = asp.content
-#
-#      .imperfect-text-comments
-#        %span.imperfect-text-date=Russian::strftime(@post.created_at,'%d.%m.%Y %k:%M:%S')
-#        #comments.chat-messages.imperfect-text-comments-post-block
-#          .post-interfaces
-#            .post-interfaces-buttons
-#              =link_to({:controller => @post.class.name.underscore.pluralize ,:action => :like, :project => @project, :id => @post.id, :against => false,  :remote => true},:method => :put, id: "plus_post_#{@post.id}") do
-#                %button{:type => "button"}
-#                  = image_tag 'icon-thumb-up.png'
-#              =link_to({:controller => @post.class.name.underscore.pluralize ,:action => :like, :project => @project,  :id => @post.id, :against => true, :remote => true}, :method => :put, id: "minus_post_#{@post.id}") do
-#                %button{:type => "button"}
-#                  = image_tag 'icon-thumb-down.png'
-#              %button{:type => "button"}
-#                = image_tag 'icon-share.png'
-#            = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller:@post.class.name.underscore.pluralize, action:'add_comment')}
-#
-#          - @comments.each  do |comment|
-#            .imperfect-text-comments-post-block
-#              .poster-line
-#                = image_tag 'no-ava.png', class: "img-circle"
-#                %span.poster-name
-#                  =comment.user
-#                %span.comment-time
-#                  =Russian::strftime(comment.created_at,'%d.%m.%Y %k:%M:%S')
-#              %p
-#                =comment.content
-#
-#            -#.media.comment
-#            -#  .media-left
-#            -#    = image_tag 'no-ava.png', class: "media-object img50 img-circle"
-#            -#  .media-body
-#            -#    %h5.media-heading.bold
-#            -#      =comment.user
-#            -#    %span.date.font_red.bold
-#            -#      =Russian::strftime(comment.created_at,'%d %B %k:%M:%S')
-#            -#  %p.font_grey.bold
-#            -#    =comment.content





-##popup-imperf.popup-window.info-popup.mfp-hide
-#  .popup.popup-top-rounded
-#    .popup-post-info.back-color{class: "#{@post.style == 1 ? 'pale-pink' : 'pale-blue'}"}
-#      .popup-header.popup-top-rounded
-#        %h2.color.mass-red(style="line-height:30px;" )=@post.content
-#      .clearfix
-#      .popup-imperf-detailed{class: "#{@post.style == 1 ? 'imperf-pale-pink' : 'imperf-pale-blue'}"}
-#        -if @post.notes.present?
-#          .popup-imperf-admin-notice
-#            %span.popup-notice-sign !
-#            %p.popup-notice-text
-#              -@post.notes.each do |note|
-#                %li=note.content
-#                %br
-#        -else
-#          .popup-imperf-admin-notice{style: "padding-bottom:40px;"}
-#
-#        .aspects-indexes
-#          - @post.post_aspects.each do |asp|
-#            .circle-tag.back-color{style: "background-color:#{asp.color};"}= asp.short_name.present? ? asp.short_name : asp.content[0,2].mb_chars.downcase
-#        .clearfix
-#        %table
-#          %tr
-#            %td.imperf-left-column.what-cell
-#              Что
-#            %td.imperf-right-column
-#              =@post.content
-#          %tr
-#            %td.imperf-left-column
-#              Где
-#            %td.imperf-right-column
-#              =@post.whered
-#          %tr
-#            %td.imperf-left-column
-#              Когда
-#            %td.imperf-right-column
-#              =@post.whend
-#          %tr
-#            %td.imperf-left-column
-#            %td.imperf-right-column
-#              .imperf-bottom-line
-#                .info-stripe
-#                  %span.popup-date=Russian::strftime(@post.created_at,'%d %B %k:%M:%S')
-#                  -#= link_to({controller: @post.class.name.underscore.pluralize, action: :show, project: @project, id: @post.id, :remote => true}) do
-#                  %span.popup-comments
-#                    =@post.comments.count
-#                    %i.fa.fa-comment-o
-#                  =link_to({:controller => @post.class.name.underscore.pluralize ,:action => :like, :project => @project, :id => @post.id, :against => false,  :remote => true},:method => :put, id: "plus_post_#{@post.id}") do
-#                    %span.popup-likes
-#                      %span(id="plus_counter_#{@post.id}" style="margin-right:0;")
-#                        =@post.users_pro.count
-#                      %i.fa.fa-thumbs-o-up
-#                  =link_to({:controller => @post.class.name.underscore.pluralize ,:action => :like, :project => @project,  :id => @post.id, :against => true, :remote => true}, :method => :put, id: "minus_post_#{@post.id}") do
-#                    %span.popup-dislikes
-#                      %span(id="minus_counter_#{@post.id}" style="margin-right:0;")
-#                        =@post.users_against.count
-#                      %i.fa.fa-thumbs-o-down
-#
-#    .popup-comments-block.popup-bottom-rounded
-#      #comments.chat-messages
-#        -@comments.each  do |comment|
-#          .comment
-#            -#= image_tag comment.user.avatar.url(:thumb), class: "comment-ava"
-#            = image_tag 'no-ava.png', class: "comment-ava"
-#            .comment-name= comment.user.to_s
-#            .comment-text= comment.content
-#      - if signed_in?
-#        %div{style: "margin-left: 10px; margin-right:10px;"}
-#          = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller:@post.class.name.underscore.pluralize, action:'add_comment')}