-#.media{id: "post_#{post_short.id}"}
-#  - if post_short.user
-#    =link_to post_short.user, user_path(@project, post_short.user)
-#  -#.media-body(class="#{'active_discontent' if post_short.comments.count==0}")
-#  .media-body
-#    = render partial: 'discontent/posts/post_content', object: post_short
-#    %small.text-muted= Russian::strftime(post_short.created_at,'%d %B %k:%M:%S')
-#    = render 'shared/post_social_bar2', :post => post_short

%li{id: "post_#{post_short.id}"}
  -if post_short.user
    = image_tag post_short.user.avatar.url(:thumb),  class: "pull-left img-circle"
  .news-item-info
    .time
      = Russian::strftime(post_short.created_at,'%d %B %k:%M:%S')
    .name
      - if post_short.user
        =link_to post_short.user, user_path(@project, post_short.user)
    .comment
      = render partial: '/discontent/posts/post_content', object: post_short
    = render '/shared/post_social_bar2', :post => post_short
