.row.md-vote-container
  - @user_voter.content_for_vote(@project, status).each do |post_vote|
    .col-sm-4.md_vote_item_cont{ id: "post_vote_#{post_vote.id}" }
      .vote-item
        .vi_head
          %h6
            = post_vote.content
        .vi_body
          .item_expandable_imperf.themes_cont{ style: 'height:50px;' }
            %p
              = post_vote.what
        .post-theme{ id: "stripe#{post_vote.id}" }
          - post_vote.post_aspects.each_with_index do |aspect, index|
            %span.tag-stripes{ class: "#{'active' if index == 0}", style: "background-color: #{aspect.color};" }
              %span.tags
                = aspect.content
        .vote_controls
          - @project.vote_folders.each do |number_folder, folder|
            - if number_folder > 0
              = link_to vote_discontent_post_path(@project, post_vote.id, status: number_folder), id: "vote_button_#{post_vote.id}_#{number_folder}",
                  method: :put, remote: true, class: "#{'voted' if status == number_folder}", 'data-icon-class' => 'fa-exclamation',
                  'data-vote-role' => "#{status == number_folder ? 'all' : folder[:role]}", 'data-vote-default-role' => "#{folder[:role]}",
                  'data-placement' => 'bottom', 'data-toggle' => 'tooltip',
                  title: t("vote.#{@project.current_stage_type}.#{folder[:role]}.title_button").try(:html_safe) do
                %i{ class: "vote-btn2_#{number_folder}" }
        -#%span.vote_open_detail_imperf.grey
        -#  %i.fa.font_white.fa-angle-right
