-if boss?
  =link_to({:controller => 'discontent/posts', :action => :status_post, :id => post_content.id, :type_field => 1},:remote => true,:method => :put, :id => "label_dispost_#{post_content.id}",:class => "note_text") do
    %span.label(class= "#{class_for_type_field(post_content,1)}" id="#{id_for_type_field(1)}_#{post_content.id}")=name_for_type_field(1)
-else
  %span.label(class= "#{class_for_type_field(post_content,1)}" id="#{id_for_type_field(1)}_#{post_content.id}")=name_for_type_field(1)

- if post_content.status == 2 or post_content.status == 4
  =post_content.content
  %br
  %ul(id="post_content_#{post_content.id}" style="list-style: disc inside;" )
    -post_content.discontent_posts.each do |dp|
      %li.union-list{:id => "li_id_#{dp.id}"}=dp.content

-else
  -if boss? and @project.status == 3
    =link_to({:controller => 'discontent/posts', :action => :new_note, :id => post_content.id, :type_field => 1},:remote => true,:method => :put, :id => "content_dispost_#{post_content.id}_1", :class => "note_text") do
      %span.h55(id="#{id_for_type_field(1)}_content_#{post_content.id}")=post_content.content
  -else
    %span.h55(id="#{id_for_type_field(1)}_content_#{post_content.id}")=post_content.content
    %br

-if @project.status == 3
  %div
  %ul{:id => "note_form_#{post_content.id}_1", :class => "#{'discuss_comment' if post_content.note_size?(1) }", :style => "list-style: none; "}
    -post_content.post_notes(1).each do |dpn|
      %div{:id => "post_note_#{dpn.id}"}
        -if boss?
          =link_to({:controller => 'discontent/posts', :action => :destroy_note, :id => post_content.id,:note_id => dpn.id, :type_field => 1},:remote => true,:method => :put, :confirm => 'Удалить замечание?',:id => "destroy_post_note_#{dpn.id}") do
            %span{:class=>"glyphicon glyphicon-remove text-danger pull-right", :style=>"cursor:pointer;text-decoration:none;font-size:15px;"}
        %li{:id => "li_note_#{dpn.id}"}=dpn.content

-if boss?
  =link_to({:controller => 'discontent/posts', :action => :status_post, :id => post_content.id, :type_field => 2},:remote => true,:method => :put, :id => "label_dispost_#{post_content.id}",:class => "note_text") do
    %span.label(class= "#{class_for_type_field(post_content,2)}" id="#{id_for_type_field(2)}_#{post_content.id}")=name_for_type_field(2)
-else
  %span.label(class= "#{class_for_type_field(post_content,2)}" id="#{id_for_type_field(2)}_#{post_content.id}")=name_for_type_field(2)


-if boss? and @project.status == 3
  =link_to({:controller => 'discontent/posts', :action => :new_note, :id => post_content.id, :type_field => 2},:remote => true,:method => :put, :id => "content_dispost_#{post_content.id}_2", :class => "note_text") do
    %span.h55(id="#{id_for_type_field(2)}_content_#{post_content.id}")=post_content.whered
-else
  %span.h55(id="#{id_for_type_field(2)}_content_#{post_content.id}")=post_content.whered
  %br

-if @project.status == 3
  %div
  %ul{:id => "note_form_#{post_content.id}_2", :class => "#{'discuss_comment' if post_content.note_size?(2) }", :style => "list-style: none; "}
    -post_content.post_notes(2).each do |dpn|
      %div{:id => "post_note_#{dpn.id}"}
        -if boss?
          =link_to({:controller => 'discontent/posts', :action => :destroy_note, :id => post_content.id,:note_id => dpn.id, :type_field => 2},:remote => true,:method => :put, :confirm => 'Удалить замечание?',:id => "destroy_post_note_#{dpn.id}") do
            %span{:class=>"glyphicon glyphicon-remove text-danger pull-right", :style=>"cursor:pointer;text-decoration:none;font-size:15px;"}
        %li{:id => "li_note_#{dpn.id}"}=dpn.content


-if boss?
  =link_to({:controller => 'discontent/posts', :action => :status_post, :id => post_content.id, :type_field => 3},:remote => true,:method => :put, :id => "label_dispost_#{post_content.id}",:class => "note_text") do
    %span.label(class= "#{class_for_type_field(post_content,3)}" id="#{id_for_type_field(3)}_#{post_content.id}")=name_for_type_field(3)
-else
  %span.label(class= "#{class_for_type_field(post_content,3)}" id="#{id_for_type_field(3)}_#{post_content.id}")=name_for_type_field(3)


-if boss? and @project.status == 3
  =link_to({:controller => 'discontent/posts', :action => :new_note, :id => post_content.id, :type_field => 3},:remote => true,:method => :put, :id => "content_dispost_#{post_content.id}_3", :class => "note_text") do
    %span.h55(id="#{id_for_type_field(3)}_content_#{post_content.id}")=post_content.whend
-else
  %span.h55(id="#{id_for_type_field(3)}_content_#{post_content.id}")=post_content.whend
  %br

-if @project.status == 3
  %div
  %ul{:id => "note_form_#{post_content.id}_3", :class => "#{'discuss_comment' if post_content.note_size?(3) }", :style => "list-style: none; "}
    -post_content.post_notes(3).each do |dpn|
      %div{:id => "post_note_#{dpn.id}"}
        -if boss?
          =link_to({:controller => 'discontent/posts', :action => :destroy_note, :id => post_content.id,:note_id => dpn.id, :type_field => 3},:remote => true,:method => :put, :confirm => 'Удалить замечание?',:id => "destroy_post_note_#{dpn.id}") do
            %span{:class=>"glyphicon glyphicon-remove text-danger pull-right", :style=>"cursor:pointer;text-decoration:none;font-size:15px;"}
        %li{:id => "li_note_#{dpn.id}"}=dpn.content