
.media{id: "post_#{post.id}"}
  = render 'users/user_post', :user => post.user
  .media-body
    = render partial: 'discontent/aspects/aspect', object: post.aspect
    =discontent_style_name(post.style)
    %br
    = render partial: 'discontent/posts/post_content', object: post
    .row
      .col-md-10
        %small.text-muted= Russian::strftime(post.created_at,'%d %B %k:%M:%S')
    = render 'shared/post_social_bar2', :post => post
    = render 'shared/post_edit_bar', :post => post
    - if can_union_discontents?(@project) and post.status == 0
      = hidden_field_tag 'posts[]', post.id
      .pull-right
        %a.btn.btn-xs.btn-danger(onclick="remove_block('post_#{post.id}');" ) Удалить из объединения



