.media{id: "post_#{post_for_vote.id}",class:"post_for_vote",stage_id: "#{post_for_vote.id}", style: "#{'display:none;' if first_post_for_vote?(post_for_vote.id) }" }
  - if post_for_vote.user
    =link_to post_for_vote.user, user_path(@project, post_for_vote.user)
  .media-body
    = render partial: 'post_content', object: post_for_vote
  %br
  =link_to  next_post_for_vote_discontent_post_path(@project,post_for_vote,against: true), :remote => true, :method => :put, class: "btn btn-success btn-sm vote-button", id: "vote_positive_#{post_for_vote.id}" do
    %span.glyphicon.glyphicon-thumbs-up
    -if boss?
      %span.glyphicon=post_for_vote.final_votings.by_positive.size
    Важная
  =link_to  next_post_for_vote_discontent_post_path(@project,post_for_vote,against: false), :remote => true, :method => :put, class: "btn btn-danger btn-sm vote-button", id: "vote__negative_#{post_for_vote.id}" do
    %span.glyphicon.glyphicon-thumbs-down
    -if boss?
      %span.glyphicon=post_for_vote.final_votings.by_negative.size
    Не важная
