.col-sm-4.vote_item_cont.item_expandable.h_1{id: "post_vote_#{post_vote.id}"}
  .vote_item
    .media
      .media-body{class: "#{post_vote.style == 1 ? 'pink' : 'blue'}"}
        %table.table
          %tbody
            %tr.vote_filler_cell
              %td.col-md-2.right-column
              %td.col-md-10.left-column
            %tr.what
              %td.col-md-2.text-center.right-column
                Что
              %td.col-md-10.left-column.bold
                = trim_string(post_vote.content, size = 50)
            %tr
              %td.col-md-2.text-center.right-column
                Где
              %td.col-md-10.left-column
                = trim_string(post_vote.whered, size = 50)
            %tr
              %td.col-md-2.text-center.right-column
                Когда
              %td.col-md-10.left-column
                = trim_string(post_vote.whend, size = 50)
            %tr.vote_filler_cell
              %td.col-md-2.right-column
              %td.col-md-10.left-column
    .dark-blue.vote_tag
      Аспект:
      = post_vote.post_aspects.first.try(content)
    .divider10
    .vote_controls.text-center
      = link_to vote_discontent_post_path(@project, post_vote.id, status: 1), remote: true, method: :put do
        %button.btn.vote_button.v_btn_1{"data-vote-role" => "important", :role => "button"}
          %i.fa.fa-exclamation
      = link_to vote_discontent_post_path(@project, post_vote.id, status: 2), remote: true, method: :put do
        %button.btn.vote_button.v_btn_2{"data-vote-role" => "not_important", :role => "button"}
          %i.fa.fa-minus
      = link_to vote_discontent_post_path(@project, post_vote.id, status: 3), remote: true, method: :put do
        %button.btn.vote_button.v_btn_3{"data-vote-role" => "unnecessary", :role => "button"}
          %i.fa.fa-times
      %span.vote_open_detail.grey
        %i.fa.fa-angle-right.font_white
      .divider15