.media{id: "post_#{post_short2.id}"}
  -#%input{name: "cd[#{post_short2.id}]", type: "hidden", value: "#{post_short2.id}"}
  -if @project.status == 7
    -if @remove_able
      = label_tag t('show.discontent.complite')
      = select_tag "cd[#{post_short2.id}][complite]", options_for_select([[t('show.discontent.complite_1'), 1], [t('show.discontent.complite_2'), 2], [t('show.discontent.complite_3'), 3]], complite(post_short2))
      %span.glyphicon.glyphicon-remove.text-danger.pull-left{onclick: "remove_discontent_post('#{post_short2.id}');", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
    -elsif @post
      .color-green= level_complite(complite(post_short2))
  %br
  =discontent_style_name(post_short2.style)
  .media-body
    = render partial: 'discontent/posts/post_content', object: post_short2
