
- if boss?
    .panel.panel-info
        .panel-heading Панель Администратора
        .panel-body
            -if @project.status == 3
                =link_to 'Начать объединение несовершенств',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 4
                =link_to 'Вернуться к сбору',  pr_stage_core_project_path(@project), id: 'change_stage'
                %br
                =link_to 'Начать обсуждение объединений',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 5
                =link_to 'Вернуться к объединению',  pr_stage_core_project_path(@project), id: 'change_stage'
                %br
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'

- unless @aspects.empty?
    .panel.panel-default
        .panel-heading Аспекты процедуры
        .panel-body
            .pull-right
                %button.btn.btn-default.btn-sm(onclick="reset_filter_aspects();" ) Сбросить

            = form_tag({:controller => "discontent/posts", :action=> "index"},{ method: :get, remote: true, id: 'aspects_list' }) do
                - @aspects.each do |asp|
                    .checkbox

                        =  check_box_tag 'aspects_filter[]', asp.id, current_user.discontent_aspects.include?(asp), onclick: "show_filter_aspects_button();", id: "aspect_#{asp.id}"
                        = "#{asp.content} (#{asp.posts.count})"
                %button.btn.btn-default.inv_element#filter-aspect(type="submit") Сохранить


= render 'shared/discussed_panel', post_star: @post_star, post_dis: @post_dis
