-if @discontent_aspect.nil? and @discontent_post.nil? and @select_aspect.nil? and !@aspect.nil?
  $('#render_fast_discussion_discontents').empty();
  $("#render_fast_discussion_discontents").html('#{escape_javascript(render partial: 'form_wizard')}');
  activate_wizard();
  $("#form_fast_discussion_comment_discontent").html('#{escape_javascript(render :partial => 'form_fast_discussion_comment_discontent' )}');
  $("#form_fast_discussion_add_discontent").html('#{escape_javascript(render :partial => 'form_fast_discussion_add_discontent')}');
  autocomplete_initialized();
  $("#select_for_discussion_aspects [value='#{@aspect.id}']").attr("selected", "selected");
  $('#modal_fast_discussion_discontents').modal('show');
  -if @post.nil?
    $('#comment_info').fadeIn('slow');
-if !@select_aspect.nil?
  -if !@post.nil?
    $("#form_fast_discussion_comment_discontent").html('#{escape_javascript(render :partial => 'form_fast_discussion_comment_discontent')}');
    $("#update_discontent_discussion").effect("highlight", {color: '#f5cecd'}, 1000);
  -else
    $('#comment_info').fadeIn('slow');
    $('#update_discontent_discussion').empty();
-if !@discontent_aspect.nil? and !@discontent_post.nil? and !@aspect.nil? and !@post.nil?
  -if @post != @discontent_post or (@aspect == @discontent_aspect and @post.id > @discontent_post.id)
    $("#form_fast_discussion_comment_discontent").html('#{escape_javascript(render :partial => 'form_fast_discussion_comment_discontent')}');
    -if @posts_for_discussion.include? @post
      $("#select_for_discussion_aspects [value='#{@aspect.id}']").attr("selected", "selected");
    $("#update_discontent_discussion").effect("highlight", {color: '#f5cecd'}, 1000);
  -else
    $('#update_discontent_discussion').empty();
    $('#comment_info').fadeIn('slow');
  -unless @comment.nil?
    $('#comment_success').fadeIn('slow').delay(1000).fadeOut('slow');

-if !params[:save_form_dispost].nil?
  -if !@dispost.nil?
    $('#discontent_post_content').val('');
    $('#discontent_post_whered').val('');
    $('#discontent_post_whend').val('');
    -#$("#form_fast_discussion_add_discontent").html('#{escape_javascript(render :partial => 'form_fast_discussion_add_discontent')}');
    $('#discontent_success').fadeIn('slow').delay(1000).fadeOut('slow');
  -else
    $('#discontent_failed').fadeIn('slow').delay(1000).fadeOut('slow');