- if not current_user.answered_for_help_stage?(2) and not @mini_help.nil?
  =render partial: 'shared/small_help', object: @mini_help
.pull-right
  %a.active.btn.btn-default.menu_table(href="#")
    %span.glyphicon.glyphicon-th-list
    Список
  %a.btn.btn-default.menu_table(href="/project/#{@project.id}/discontent/posts?view=table")
    %span.glyphicon.glyphicon-th
    Таблица
- if signed_in? and @project.status == 3
  = link_to '+ Добавить несовершенство', new_discontent_post_path(@project) , id: 'add_record',  class: 'btn btn-sm btn-success'
  %br
%br
- if @project.status == 4
  %h5 Модераторы сейчас занимаются обработкой несовершенств, объединяя их. Пока вы можете работать на сборе информации или обсуждая предложенные несовершенства
- if @project.status == 5
  %h5
    Уважаемые участники!
    Модераторы объединили все представленные несовершенства в блоки. Пожалуйста, оцените эти блоки, обратив особое внимание на два вопроса:
    %br
    1) Нет ли в каком-либо блоке того, что не относится к нему по смыслу?
    %br
    2) Есть ли какие-то несовершенства, которые было бы разумно поместить в тот или иной блок, но этого не сделано?

- if can_union_discontents?(@project)
  %ul.nav.nav-tabs#tab_posts
    %li#origin.active
      =link_to "Исходные #{@project.discontent_ongoing_post.count}", "/project/#{@project.id}/discontent/posts/", remote: true
    %li#new
      =link_to "Объединенные #{@project.discontent_accepted_post.count}", "/project/#{@project.id}/discontent/posts/unions", remote: true
    -#%li
    -#  %a(href="#part_origin" data-toggle="tab") Частично совпадающие (140)
  %br
  %br
  #posts
    = render  @posts


-else
  %small#filter_posts
    = render 'shared/filter_posts', project: @project.id, folder: @folder
  #posts
    = render  @posts
#pagination
  %br
  - if @posts.next_page
    = link_to 'Посмотреть еще', discontent_posts_path(page: @posts.next_page, order: @order), class: 'btn btn-primary btn-sm',  style: 'width: 100%;',remote: true , id: 'load_more_product'

