%h4
  Выберите аспект
  %i.fa.fa-question-circle
.ui-4.second-stage
  .container
    .sort-block
      Сортировать:
      %span.sort-item.sort-date{data: {desc: -1, type: "date"}}
        = image_tag 'img/sort-date.jpg'
      %span.sort-item.sort-rate{data: {desc: 0, type: "rate"}}
        = image_tag 'img/sort-rate.jpg'
      %span.sort-item.sort-all{data: {desc: 0, type: "all"}} ВСЕ
    %div
      %ul.nav.nav-tabs.second-stage.ui-29.tabs-discontents
        - @project.aspects.main_aspects.each do |asp|
          %li{class: "#{'active' if asp == @aspect}"}
            %button{'data-toggle' => 'tab', href: "#tab_aspect_#{asp.id}", id: "link_aspect_#{asp.id}", 'data-project' => @project.id, 'data-aspect' => asp.id}
              .block-content
                .fill-container{style: "border-color: #{asp.color};"}
                  %span.fill-limit{'data-limit' => "#{asp.rate_aspect(@project)}", style: "color: #{asp.color};"}
                  .filler-outer
                    .filler{style: "background-color: #{asp.color};"}

      .tab-content.second-stage
        %div
          .col-md-4.discontent-block
            .imperfection-add-block.lined-block
              .add-imperf
                = link_to({action: :new, project: @project, asp: params[:asp]}, remote: true, id: 'add_record' ) do
                  .plus-circle +
                  %span Добавить несовершенство
              %table
                %tr
                  %td.imperf-left-column
                  %td.imperf-right-column
                %tr
                  %td.imperf-left-column.what-cell
                  %td.imperf-right-column
                %tr
                  %td.imperf-left-column
                  %td.imperf-right-column
                %tr
                  %td.imperf-left-column
                  %td.imperf-right-column
                %tr
                  %td.imperf-left-column
                  %td.imperf-right-column
                %tr
                  %td.imperf-left-column
                  %td.imperf-right-column
        %div
          .row
            %div#tab_aspect_posts
              = render partial: 'post_short', collection: @posts

#render_discontent_post
#render_discontent_comments
#render_discontent_form
