- unless show_check_field?(name_controller.to_s + '_intro')
  = render partial: 'modal_welcome'

- if @user_voter
  = render partial: 'modal_vote'

- if @project_result
  = render partial: 'modal_results'
.stage-info-sort-block
  .dropdown-block.tooltip_m{ title: 'Жмите сюда, чтобы выбрать аспект из выпадающего списка. На экране отобразятся несовершенства, связанные только с этим аспектом.' }
    %span Фильтр аспектов:
    %a.dropdown-toggle.select-aspect{ 'data-toggle' => 'dropdown' }
      - (2..4).each do |i|
        %span.stripe{ class: "stripe-#{i}" }
      %span.text_label Все аспекты
      %span.arrows-icon-dropdown
    %ul.dropdown-menu#filter
      %li{ data: { group: 'all' } }
        %input#ex2_2_0{ name: 'ex2_2', type: 'radio', value: '0' }
        %label.checkox_item{ for: 'ex2_2_0' }
          %span
            - (2..4).each do |i|
              %span.stripe{ class: "stripe-#{i}" }
          %span.text_label Все аспекты
          - if @last_visit_presenter.posts > 0
            %span.cb_doc
              = @last_visit_presenter.posts
          - if @last_visit_presenter.comments > 0
            %span.cb_com
              = @last_visit_presenter.comments

      %li{ data: { group: '#' } }
        %input#ex2_2_1{ name: 'ex2_2', type: 'radio', value: '1' }/
        %label.checkox_item{ for: 'ex2_2_1' }
          %span
            - (1..3).each do
              %span.stripe.stripe-1
          %span.text_label Без аспекта
          - if @last_visit_presenter.posts > 0
            %span.cb_doc
              = @last_visit_presenter.posts
          - if @last_visit_presenter.comments > 0
            %span.cb_com
              = @last_visit_presenter.comments

      - @aspects.each do |aspect|
        = render partial: 'aspect', object: aspect, locals: { level: 0 }

        - aspect.aspects.each do |asp|
          = render partial: 'aspect', object: asp, locals: { level: 1 }

.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        = t('show.discontent.title')
        %span#count_discontents
          (#{@posts.count})
    .col-md-5
      .pull-right
        - if @project.can_add?(name_controller) || @project.status == 100
          = link_to new_discontent_post_path(@project, type_mechanic: 'simple'), id: 'new_discontent_posts' do
            %button.btn.add-button.tooltip_b{ title: 'Добавить несовершенство' }
              %span.tooltip_m{ title: 'Добавляйте новые несовершенства, связанные с текущей проблемной ситуацией' }
                = t('techniques.discontent_posts_simple')
      -#- else
      -#  = link_to({ action: :show_results, project: @project.id }, remote: true, id: 'show_results') do
      -#    .results.tooltip_b{ class: "#{show_results?('results_' + name_controller.to_s) ? 'results_blue' : 'results_red'}",
      -#     title: 'Показать итоги стадии' }

      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort_btn.sort-comment{ data: { type: 'comment' } }
            - if @last_visit_presenter.comments > 0
              %span.badge-red
                = @last_visit_presenter.comments
          %span.sort_btn.sort-date.active.tooltip_m{ data: { type: 'date' },
           title: 'При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться несовершенства.' }
            - if @last_visit_presenter.posts > 0
              %span.badge-red
                = @last_visit_presenter.posts

.stage-post-block
  .row#tab_aspect_posts
    -#= render partial: 'post_short', collection: @posts


