.stage-info-sort-block
  #tooltip2_1.btn-group.tooltip2_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Сейчас вы просматриваете несовершенства, связанные только с этим аспектом, но в выпадающем меню вы можете выбрать любой другой аспект."}
    %span
      Аспекты
      ="(#{@aspects.count}) :"
    %a.dropdown-toggle.select-aspect{"data-toggle" => "dropdown"}
      Выберите аспект
      %span.caret
    %ul.dropdown-menu.index-of-aspects#filter
      - @aspects.each_with_index do |asp, index|
        %li{id: "button_aspect_#{asp.id}", data: {project: @project.id, aspect: ".aspect_#{asp.id}"}}
          %input{:id => "ex2_2_#{index+1}",:name => "ex2_2", :type => "radio", :value => "#{index+1}"}/
          %label{:for => "ex2_2_#{index+1}"}
            %i.fa.fa-stop{style: "color: #{asp.color}"}
            = asp.content

.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Несовершенства
        ="(#{@posts.count})"
        %i.fa.fa-question-circle
    .col-md-5
      .sort-block.pull-right
        %span.sort-label Сортировать:
        %span#sorter
          %span.sort-date{data: {name: 'sort', desc: -1, type: 'date'}}
          %span#tooltip2_2.sort-rate.tooltip2_2{data: {name: 'sort', desc: 0, type: 'rate'}, "data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться несовершенства."}
        %span#filter_all.sort-all{data: {aspect: "*"}} ВСЕ
        = link_to project_user_path(@project, current_user) do
          %button.btn.add-button
            %span> +
            Несовершенство

.stage-post-block
  .row#tab_aspect_posts
    = render partial: 'post_short', collection: @posts




#render_discontent_post


#popup-explanation-2.popup-window.popup-explanation.popup-w710.mfp-hide.welcome_popup{class: "#{shown_intro('discontent_intro')}"}
  .popup.popup_rounded
    .modal_badge.back_color_stage2.rounded_2.font_white 2 СТАДИЯ
    %h2
      = image_tag 'good-shot1.png', class: "expl-header-img-1"
      Цель 2-й стадии
    %p.expl-sub-heading
      На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний,
      и принять участие в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
      В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для исправления
      текущей ситуации.
    %h2
      = image_tag 'flag1.png', class: "expl-header-img-2"
      С чего начать?
    = link_to discontent_posts_check_field_path(@project, check_field: "discontent_intro", status: true), method: :put, remote: true do
      %button.btn.red.close_magnific Начать работу




-#%h4
-#  Выберите аспект
-#  %i.fa.fa-question-circle
-#.ui-4.second-stage
-#  .container
-#    .sort-block
-#      Сортировать:
-#      %span.sort-item.sort-date{data: {desc: -1, type: 'date'}}
-#        = image_tag 'sort-date.jpg'
-#      %span.sort-item.sort-rate{data: {desc: 0, type: 'rate'}}
-#        = image_tag 'sort-rate.jpg'
-#      %span.sort-item.sort-all{data: {desc: 0, type: 'all'}} ВСЕ
-#
-#    %div
-#      %ul.nav.nav-tabs.second-stage.ui-29.tabs-discontents
-#        - @project.aspects.main_aspects.each do |asp|
-#          %li{class: "#{'active' if asp == @aspect}"}
-#            %button{'data-toggle' => 'tab', href: "#tab_aspect_#{asp.id}", id: "link_aspect_#{asp.id}", 'data-project' => @project.id, 'data-aspect' => asp.id}
-#              .block-content
-#                .fill-container{style: "border-color: #{asp.color};"}
-#                  %span.fill-limit{'data-limit' => "#{asp.rate_aspect}", style: "color: #{asp.color};"}
-#                  .filler-outer
-#                    .filler{style: "background-color: #{asp.color};"}
-#
-#      .tab-content.second-stage
-#        .tab-pane.fade.in.active
-#          .col-md-4.discontent-block
-#            .imperfection-add-block.lined-block
-#              .add-imperf
-#                = link_to project_user_path(@project, current_user), id: 'add_record' do
-#                  .plus-circle +
-#                  %span Добавить несовершенство
-#              %table
-#                %tr
-#                  %td.imperf-left-column
-#                  %td.imperf-right-column
-#                %tr
-#                  %td.imperf-left-column.what-cell
-#                  %td.imperf-right-column
-#                %tr
-#                  %td.imperf-left-column
-#                  %td.imperf-right-column
-#                %tr
-#                  %td.imperf-left-column
-#                  %td.imperf-right-column
-#                %tr
-#                  %td.imperf-left-column
-#                  %td.imperf-right-column
-#                %tr
-#                  %td.imperf-left-column
-#                  %td.imperf-right-column
-#
-#          #tab_aspect_posts
-#            = render partial: 'post_short', collection: @posts
-#
-##render_discontent_post
-##render_discontent_comments
-##render_discontent_form
-#
-#- if current_user.can_vote_for(:discontent, @project)
-#  #popup-vote-discontents.popup-window.vote-popup.mfp-hide
-#    .popup
-#      .popup-header-dnd
-#        .popup-header.popup-top-rounded
-#          %h2.color.mass-red Голосование
-#        .drag-n-drop-zone
-#          .dnd-hand
-#      .popup-voting.popup-bottom-rounded
-#        %p
-#          Выберите несовершенства, которые вам понравились, и перетащите их в изображение руки или нажмите на кнопку "проголосовать"
-#        .popup-owl-navigation
-#          -# if > 3
-#          #owl-arrow-left-1.owl-arrow.pull-left
-#          #owl-arrow-right-1.owl-arrow.pull-right
-#        #owl-vote-1.owl-carousel.owl-vote
-#          -# - @posts.each_slice(6) do |posts|
-#          .row
-#            -# - @posts.each_slice(3) do |posts|
-#            .col-xs-6.owl-column
-#              -# posts.each do |post|
-#              -2.times do
-#                = render partial: 'post_for_vote'
-#            .col-xs-6.owl-column
-#              -2.times do
-#                = render partial: 'post_for_vote'
-#        %button#vote-button1.vote-button.btn.btn-mass-red{:disabled => "disabled"} Проголосовать
-#        -#  = link_to  next_post_for_vote_discontent_post_path(@project,post_for_vote, against: true), remote: true, method: :put, class: 'btn btn-success btn-sm vote-button', id: "vote_positive_#{post_for_vote.id}" do
-#        -#    %span.glyphicon.glyphicon-thumbs-up
-#        -#    =t('voting.discontent.important')
-#        -#  = link_to  next_post_for_vote_discontent_post_path(@project,post_for_vote, against: false), remote: true, method: :put, class: 'btn btn-danger btn-sm vote-button', id: "vote_negative_#{post_for_vote.id}" do
-#        -#    %span.glyphicon.glyphicon-thumbs-down
-#        -#    =t('voting.discontent.not_important')

