- unless show_check_field?(name_controller.to_s + '_intro')
  = render partial: 'popup_welcome'

- if @user_voter
  = render partial: 'popup_vote'

- if @project_result
  = render partial: 'popup_results'
.stage-info-sort-block
  #tooltip2_1.btn-group.tooltip1{ "data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", title: "Жмите сюда, чтобы выбрать аспект из выпадающего списка. На экране отобразятся несовершенства, связанные только с этим аспектом." }
    %span Фильтр аспектов:
    %a.dropdown-toggle.select-aspect{ "data-toggle" => "dropdown" }
      %span
        %span.vert_stripe.back1
        %span.vert_stripe.back2
        %span.vert_stripe.back3
      %span.text_label Все аспекты
    %ul.dropdown-menu.index-of-aspects#filter{ data: { visit: last_time_visit_page('discontent')} }
      %li{ data: { aspect: "*"} }
        %input#ex2_2_0{ name: "ex2_2", type: "radio", value: "0"}/
        %label.checkox_item{ for: "ex2_2_0" }
          %span
            %span.vert_stripe.back1
            %span.vert_stripe.back2
            %span.vert_stripe.back3
          %span.text_label Все аспекты
          -#- new_posts = @project.discontents_for_discussion.after_last_visit_posts(last_time_visit_page('discontent')).size
          -#- if new_posts > 0
          -#  %span.cb_doc
          -#    = new_posts
          -#- new_comments = @project.discontents_for_discussion.after_last_visit_comments(last_time_visit_page('discontent')).size
          -#- if new_comments > 0
          -#  %span.cb_com
          -#    = new_comments

          - if @presenter.content_after_last_visit_for[:posts] > 0
            %span.cb_doc
              = @presenter.content_after_last_visit_for[:posts]
          - if @presenter.content_after_last_visit_for[:comments] > 0
            %span.cb_com
              = @presenter.content_after_last_visit_for[:comments]

      %li{ data: { aspect: "#"} }
        %input#ex2_2_1{ name: "ex2_2", type: "radio", value: "1"}/
        %label.checkox_item{ for: "ex2_2_1" }
          %span
            %span.vert_stripe.back0
            %span.vert_stripe.back0
            %span.vert_stripe.back0
          %span.text_label Без аспекта
          -#- new_posts = @project.discontents_for_discussion.after_last_visit_posts(last_time_visit_page('discontent')).size
          -#- if new_posts > 0
          -#  %span.cb_doc
          -#    = new_posts
          -#- new_comments = @project.discontents_for_discussion.after_last_visit_comments(last_time_visit_page('discontent')).count(' DISTINCT "discontent_comments"."id" ')
          -#- if new_comments > 0
          -#  %span.cb_com
          -#    = new_comments

          - if @presenter.content_after_last_visit_for[:posts] > 0
            %span.cb_doc
              = @presenter.content_after_last_visit_for[:posts]
          - if @presenter.content_after_last_visit_for[:comments] > 0
            %span.cb_com
              = @presenter.content_after_last_visit_for[:comments]

      - @aspects.each_with_index do |aspect, index|
        = render partial: 'aspect', object: aspect, locals: { level: 0 }

        - aspect.aspects.each do |asp|
          = render partial: 'aspect', object: asp, locals: { level: 1 }

.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Несовершенства
        %span#count_discontents
          ="(#{@posts.count})"
    .col-md-5
      .pull-right
        - if @project.can_add?(name_controller) || @project.status == 100
          = link_to new_discontent_post_path(@project, type_mechanic: 'simple'), id: 'new_discontent_posts' do
            %button.btn.add-button{ "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Добавить несовершенство" }
              %span#tooltip2_2.tooltip1{ "data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger"=>'manual', title: "Добавляйте новые несовершенства, связанные с текущей проблемной ситуацией" }
                = t('techniques.discontent_posts_simple')
        - else
      -#= link_to({ action: :show_results, project: @project.id }, remote: true, id: "show_results") do
      -#  .results{ class: "#{show_results?('results_' + name_controller.to_s) ? 'results_blue' : 'results_red'}", "data-placement" => "bottom", "data-toggle" => "tooltip", title: "Показать итоги стадии" }

      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort-1.sort_btn.sprite.sprite-1_2.sort-comment{ data: { name: 'sort', desc: 0, type: 'comment'} }
            -#- new_comments = @project.discontents_for_discussion.after_last_visit_comments(last_time_visit_page('discontent')).size
            -#- if new_comments > 0
            -#  %span.badge-red
            -#    = new_comments
            - if @presenter.content_after_last_visit_for[:comments] > 0
              %span.badge-red
                = @presenter.content_after_last_visit_for[:comments]
          %span#tooltip2_2.sort-2.sort_btn.sprite.sprite-2_2.tooltip1.sort-date.active{ data: { name: 'sort', desc: 0, type: 'date' }, "data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", title: "При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться несовершенства." }
            -#- new_posts = @project.discontents_for_discussion.after_last_visit_posts(last_time_visit_page('discontent')).size
            -#- if new_posts > 0
            -#  %span.badge-red
            -#    = new_posts
            - if @presenter.content_after_last_visit_for[:posts] > 0
              %span.badge-red
                = @presenter.content_after_last_visit_for[:posts]

.stage-post-block
  .row#tab_aspect_posts
    -#= render partial: 'post_short', collection: @posts


