%h1 Listing discontent_posts

%table
  %tr
    %th Content
    %th When
    %th Where
    %th User
    %th Status
    %th
    %th
    %th

  - @discontent_posts.each do |discontent_post|
    %tr
      %td= discontent_post.content
      %td= discontent_post.when
      %td= discontent_post.where
      %td= discontent_post.user_id
      %td= discontent_post.status
      %td= link_to 'Show', discontent_post
      %td= link_to 'Edit', edit_discontent_post_path(discontent_post)
      %td= link_to 'Destroy', discontent_post, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Post', new_discontent_post_path
