= link_to image_tag('add_discontent.png'), url_for(:action => 'new')
%br
%br
#tabs
  %ul
    %li=link_to "Пора отправлять (#{@posts.count})",'#tabs-1'
    %li=link_to "Рано отправлять  (#{@posts2.count})",'#tabs-2'
    %li=link_to "На рассмотрении  (#{@review_posts.count})",'#tabs-3'
    %li=link_to "Принятые  (#{@accepted_posts.count})",'#tabs-4'
  #tabs-1
    -if @posts.empty?
      Таких пока нет
    = render  @posts
  #tabs-2
    -if @posts2.empty?
      Таких пока нет
    = render  @posts2
  #tabs-3
    -if @review_posts.empty?
      Таких пока нет
    = render  @review_posts
  #tabs-4
    -if @accepted_posts.empty?
      Таких пока нет
    = render  @accepted_posts


