$('#where_form_#{@post.id}_#{@type}').append("#{escape_javascript(render  :partial => 'form_post_note', :object =>  @post_note)}");
$('#note_for_post_#{@post.id}_#{@type}').css('display','block').animate({height: 65, opacity:1}, 1000);
$("#content_dispost_#{@post.id}_#{@type}").addClass("disabled");

-#$('#Send').animate({left: 0, opacity: 0},  "normal",  function(){$('#Send').css('display','none')})
-#$("#new_life_tape").animate({height: 0}, "normal", function(){$('#new_life_tape').css('display','none')})
-#$("#add_record").fadeIn('slow')

-#$('#new_life_tape').css 'display','block'
-#$("#add_record").fadeOut("slow").hide()
-#$("#new_life_tape").animate {height: 100}, "normal"
-#$("#button_block").stop().show().animate {
-#  left:$('#new_life_tape').width() - 370
-#  opacity:1.000 }

-#$('#Send').animate({left: 0, opacity: 0},  "normal",  function(){$('#Send').css('display','none')})
-#$("#new_life_tape").animate({height: 0}, "normal", function(){$('#new_life_tape').css('display','none')})
-#$("#add_record").fadeIn('slow')
-#$("#new_life_tape").val('')
-#$('#posts').prepend("#{escape_javascript(render :partial => 'shared/post', :object => @post)}")
-#$('#post_#{@post.id}').effect("highlight", {color: '#f5cecd'}, 1000);
