$("#post_#{@post_vote.id}").animate({height: 0, opacity:0}, 1000, function() { $(this).remove(); });
-#var items = $('.post_for_vote'), ids = [];
-#for (var i = 0; i < items.length; i++) ids.push(items[i].attr('stage_id'));

$("#post_#{@post_vote.id}").next().fadeIn();
-if @project.get_united_posts_for_vote(@project,current_user).empty?
  $("#vote_success").fadeIn()

$('#prog_now').html("#{@votes != @post_all ? @votes+1 : @votes}");
-#$('#progress_count').html("#{(@votes/@post_all.to_f)*100 }%");
$('.progress-bar').css('width',"#{(@votes/@post_all.to_f)*100}%");