.media.option_for_selectize{id: "post_#{@post.id}", project: "#{@project.id}", post: "#{@post.id}"}
  = render 'users/user_post', :user => @post.user
  .media-body
    = render partial: 'discontent/aspects/aspect', object: @post.aspect
    =discontent_style_name(@post.style)
    %br
    = render partial: 'post_content', object: @post

    .row
      .col-md-10
        %small.text-muted= Russian::strftime(@post.created_at,"%d %B %k:%M:%S ")
    = render 'shared/post_social_bar2', :post => @post
    = render 'shared/post_edit_bar', :post => @post

    - if can_union_discontents?(@project) and @post.status == 0
      .panel.panel-default
        .panel-heading
          %h5 Подходящие для объединения несовершенства:
        .panel-body
          = form_tag "/project/#{@project.id}/discontent/posts/#{@post.id}/union" do
            =render @post.get_posts_suitable_for_association
            %br
            %button.btn.btn-sm.btn-success(type="submit")  Объединить их
    - if @post.status == 2
      .panel.panel-default
        .panel-heading
          %h5 Объединяет:
        .panel-body{:id => "panel_union"}
          =render @post.discontent_posts
      %br
      .text-success#dispost_success(style='display:none;')
        Несовершенство успешно добавлено
      =select_tag "selectize_tag",
      options_from_collection_for_select(Discontent::Post.for_union(@post.aspect_id,@post.discontent_posts.pluck(:id)), "id", "show_content"),
      class: 'selectized',
      include_blank: true,
      placeholder: "Добавьте несовершенство"

    %br
    %br
    %br
    %br
    %br
    %br
      %ul.media-list#comments
        = render :partial => 'shared/comment',:collection => @comments
    = will_paginate @comments
    - if signed_in?
      = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => @post.class.name.underscore.pluralize, :action => 'add_comment')}
