.media{id: "post_#{@post.id}"}
  = render 'users/user_post', :user => @post.user
  .media-body
    = render partial: 'discontent/aspects/aspect', object: @post.aspect
    =discontent_style_name(@post.style)
    %br
    = render partial: 'post_content', object: @post

    .row
      .col-md-10
        %small.text-muted= Russian::strftime(@post.created_at,"%d %B %k:%M:%S ")
    = render 'shared/post_social_bar2', :post => @post
    = render 'shared/post_edit_bar', :post => @post

    %br
    %br
      %ul.media-list#comments
      = render :partial => 'shared/comment',:collection => @comments
    = will_paginate @comments
    - if signed_in?
      = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => @post.class.name.underscore.pluralize, :action => 'add_comment')}



