$('#tab_discontents').html('#{escape_javascript(render partial: 'post_short', collection: @posts)}');

-if params[:sort_date] == 'up'
  $('#sort_date').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_date=down&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_date_link">по дате<i class="fa fa-sort-up" title="по убыванию"></i></a>');
-elsif params[:sort_date] == 'down'
  $('#sort_date').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_date=up&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_date_link">по дате<i class="fa fa-sort-down" title="по возрастанию"></i></a>');

-if params[:sort_user] == 'up'
  $('#sort_user').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_user=down&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_user_link">по пользователям<i class="fa fa-sort-up" title="по убыванию"></i></a>');
-elsif params[:sort_user] == 'down'
  $('#sort_user').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_user=up&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_user_link">по пользователям<i class="fa fa-sort-down" title="по возрастанию"></i></a>');

-#-if params[:sort_comment] == 'up'
-#  $('#sort_comment').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_comment=down&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_comment_link">по комментариям<i class="fa fa-sort-up" title="по убыванию"></i></a>');
-#-elsif params[:sort_comment] == 'down'
-#  $('#sort_comment').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_comment=up&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_comment_link">по комментариям<i class="fa fa-sort-down" title="по возрастанию"></i></a>');

-if params[:sort_view] == 'up'
  $('#sort_view').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_view=down&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_view_link">по просмотрам<i class="fa fa-sort-up" title="по убыванию"></i></a>');
-elsif params[:sort_view] == 'down'
  $('#sort_view').html('<a data-remote="true" href="/project/#{@project.id}/discontent/posts/sort_content?asp=#{@aspect.id}&sort_view=up&type_like=#{params[:type_like]}&type_note=#{params[:type_note]}&type_verify=#{params[:type_verify]}&type_status=#{params[:type_status]}" id="sort_view_link">по просмотрам<i class="fa fa-sort-down" title="по возрастанию"></i></a>');


$('#sort_date_link,#sort_user_link,#sort_view_link').removeClass('sort_content');
-if params[:sort_date]
  $('#sort_date_link').addClass('sort_content');
-if params[:sort_user]
  $('#sort_user_link').addClass('sort_content');
-#-if params[:sort_comment]
-#  $('#sort_comment_link').addClass('sort_content');
-if params[:sort_view]
  $('#sort_view_link').addClass('sort_content');