-if @project.status == 4
    %br=link_to 'Вы можете оставить свое мнение или почитать другие', essay_posts_path(@project, @project.status), :id => 'essay_list'
    - unless @number_v<1
        Количество имеющихся голосов -
        %span.rate
            %span#count_vote=@number_v

Вы можете добавить свое несовершенство (если оно будет принято, вы получите 100 баллов),
либо переопределить существующее на более максимальное
=link_to ' (чтобы узнать, как это сделать, см. раздел «Помощь»).', "/project/#{@project.id}/help"
Для этого щелкните по иконке шестеренки в углу несовершенства, которое хотите переопределить, и если ваше определение будет принято, вы получите 200 баллов.
%br
%b В итоге мы должны получить таблицу, которая кратко, но исчерпывающе, отображает ситуацию по исследуемой теме
%br
= link_to image_tag('add_discontent.png'), url_for(:action => 'new')
%br
%table.disColumns

    %tr
        %td
            =image_tag 'column1.png'
        %td
            =image_tag 'column3.png'
        %td
            =image_tag 'column2.png'

    -@aspects.each_with_index do |aspect, index2|
        %tr
            %td{ :class => "#{((index2+1) % 2 !=0) ? 'disText' : 'disText2'}" }
                %span.disName=aspect.content
                %br
                =aspect.short_desc
                - ind = (index2+1) % 2

            %td{ :class => "#{((index2+1) % 2 !=0) ? '' : 'disText3'}" }
                %table
                    -aspect.negative_posts.each_with_index do |post,  index|
                        %tr
                            %td{ :class => "#{((index+1) % 2!=0) ? 'firstline'+ind.to_s : 'secondline'}" }
                                .gear
                                    =link_to image_tag('redgear.png'), :action => 'new', :project => @project, :replace_id => post.id
                                -if @project.status == 4
                                    .voteBar
                                        -if admin?
                                            %span.number=post.voted_users.count
                                        - if can_vote?(post.voted_users.size, @number_v, @votes)
                                            =link_to "+", "/project/#{@project.id}/discontent/vote/#{post.id}", :remote => true, :method => :put, class: "voteCounter", :id => "aspect_#{post.id}"

                                .previewtext
                                    =post.show_content.html_safe
                                    - if post.post_replaced_it.count >0
                                        текущих попыток переопределения:
                                        %b=post.post_replaced_it.count


                                    %br
                                    =link_to  'подробнее',  {:action => "show", :project => @project, :id => post.id}

            %td{ :class => "#{((index2+1) % 2 !=0) ? '' : 'disText3'}" }

                %table
                    -aspect.positive_posts.each_with_index do |post, index|
                        %tr
                            %td{ :class => "#{((index+1) % 2 !=0) ? 'firstline'+ind.to_s : 'secondline'}" }
                                .gear
                                    =link_to image_tag('gear.png'), :action => 'new', :project => @project, :replace_id => post.id
                                -if @project.status == 4
                                    -if @project.status == 4
                                        .voteBar
                                            -if admin?
                                                %span.number=post.voted_users.count
                                            - if can_vote?(post.voted_users.size, @number_v, @votes)
                                                =link_to "+", "/project/#{@project.id}/discontent/vote/#{post.id}", :remote => true, :method => :put, class: "voteCounter", :id => "aspect_#{post.id}"
                                .previewtext

                                    =post.show_content.html_safe
                                    - if post.post_replaced_it.count >0
                                        текущих попыток переопределения:
                                        %b=post.post_replaced_it.count
                                    %br
                                    =link_to  'подробнее',  {:action => "show", :project => @project, :id => post.id}
