- @content.each do |post_short|
  .post.post_add_type1
    .post-header
    .post-body.light-grey
      .media
        .media-left.text-center.gradient2.post-poster
          = link_to user_path(@project, post_short.user) do
            = user_image_tag post_short.user.try(:avatar), class: 'img-circle img40'
          %p.poster-name
            = link_to post_short.user, user_path(@project, post_short.user)
          .divider10
          %p.time
            = Russian::strftime(post_short.created_at,'%d.%m.%Y')
        .media-body
          %table.table
            %tbody
              %tr.what
                %td.bold
                  = post_short.content
                  - if current_user?(post_short.user) and can_edit_content?
                    %span.post_btns_cont
                      %button.btn.btn_reset.btn_del
                        = link_to edit_discontent_post_path(@project, post_short), id: "edit_discontent_#{post_short.id}", class: 'a_font_reset' do
                          %i.glyphicon.glyphicon-pencil
                      %button.btn.btn_reset.btn_del
                        = link_to discontent_post_path(@project, post_short), method: :delete, data: {confirm: t('confirm.delete_discontent')}, id: "destroy_discontent_#{post_short.id}", class: 'a_font_reset' do
                          %i.glyphicon.glyphicon-trash
              %tr.post_text
                %td.col-md-12
                  = link_to discontent_post_path(@project, post_short), remote: true, class: 'a_font_reset', id: "show_discontent_#{post_short.id}" do
                    = post_short.what
                    %i.fa.fa-angle-right.cab2_post_open.font_grey
    .post-bottom.white
      .row
        .col-md-2.col_padding_right_3
          %small.pull-left{style: 'margin-right: 3px;'} Аспекты
        .col-md-10.col_padding_right_3.themes_cont
          .post-theme{id: "stripe#{post_short.id}"}
            - post_short.post_aspects.each_with_index do |aspect, index|
              %span.tag-stripes{class: "#{'active' if index==0}", style: "background-color: #{aspect.color};"}
                %span.tags
                  = trim_content(aspect.content, 30)