- content_for :cabinet_form do
  - @content.each do |discontent|
    .post.post_add_type1
      .post-header
      .post-body
        .media
          .media-left.text-center.gradient2.post-poster
            = cl_image_tag discontent.user.avatar, class: 'img-circle img40'
            %p.poster-name
              = discontent.user
            .divider10
            %p.time
              = Russian::strftime(discontent.created_at,'%d.%m.%Y')
          .media-body
            %table.table
              %tbody
                %tr.what
                  %td.bold
                    = discontent.content
                  - if current_user?(discontent.user)
                    %td
                      = link_to 'Редактировать', edit_discontent_post_path(@project, discontent), id: "edit_discontent_#{discontent.id}"
                      = link_to 'Удалить', discontent_post_path(@project, discontent), method: :delete, data: {confirm: t('confirm.delete_discontent')}, id: "destroy_discontent_#{discontent.id}"
                %tr
                  %td.col-md-12
                    = discontent.what
      .post-bottom.white
        .row
          .col-md-12
            - discontent.post_aspects.each do |aspect|
              %span.tag-stripes.active.color_me{class: 'active', style: "background-color: #{aspect.color};"}
                %span.tags
                  = aspect.content
