- content_for :cabinet_form do
  - @content.each do |discontent|
    .post.post_add_type1
      .post-header
      .post-body
        .media
          .media-left.text-center.gradient2.post-poster
            = cl_image_tag discontent.user.avatar, class: 'img-circle img40'
            %p.poster-name
              = discontent.user
            .divider10
            %p.time
              = Russian::strftime(discontent.created_at,'%d.%m.%Y')
          .media-body
            %table.table
              %tbody
                %tr.what
                  %td.bold
                    = discontent.content
                %tr
                  %td.col-md-12
                    = discontent.what
      .post-bottom.white
        .row
          .col-md-12
            %span.tag-stripes.active.color_me{class: 'active', style: "background-color: #{discontent.aspect.color};"}
              %span.tags
                = discontent.aspect.content
