!!! 5
%html(lang="en")
  %head
    = render 'application/meta'
-# До тех времен, пока не сделаем нормальные лейауты (а лучше один)
- if controller_name == 'sessions'
  %body
    = yield
- else
  %body.landing
    %header.navbar.top_bar
      .container.font_grey
        .navbar-header
          .navbar-brand
            %small massdecision@gmail.com
        .navbar-right.text-right.user_block
          %span.dropdown
            %a.font_grey.bold#lang_dropdown{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
              %i.fa.fa-globe.font_lighter_grey
              %small
                Русский
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{role: 'menu', 'aria-labelledby' => 'lang_dropdown'}
              %li.disabled
                %a{href: '#'} English
              %li
                %a{href: '#'} Русский

    .divider35
    = render 'application/header_no_current_project'
    .container
      = yield
      -#.divider20
      -#.widget-block.left_gradient
      -#  .image_1
      .divider20
      .widget-block.right_gradient
        .image_2
      .divider20
      .widget-block.left_gradient
        .image_3
      %hr
      %p.font_lighter_grey all rights reserved to MASSDECISION
      .divider15
    #popup-3-1.popup-window.detailed_popup.popup-w400.mfp-hide
      .popup.popup-rounded
        .divider35
        .text-center
          = image_tag 'logo.png', class: 'auth_logo'
        .divider35
        = form_for(:user,  :html => {:id => 'auth-form1', :class =>'form-horizontal auth-form'}, :url => user_session_path, :remote => true) do |f|
          #error_explanation
          -#- flash.each do |name, msg|
          -#  = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
          = f.email_field :email, placeholder: 'Email'
          = f.password_field :password, placeholder: 'Пароль'
          -#.form-group
          -#  = f.label :remember_me, 'Запомнить меня'
          -#  = f.check_box :remember_me
          %button.btn.btn-lg.btn-block.btn-danger.auth-main{id: "sign_in", type: "submit"} Войти
          .divider25
          -#.text-center
          -#  %ul.list-inline
          -#    %li{:href => "#"} Забыли пароль?
          -#    %li
          -#      = "|"
          -#    %li{:href => "#"} Зарегистрироваться
    #popup-3-2.popup-window.detailed_popup.popup-w400.mfp-hide
      .popup.popup-rounded
        .divider35
        .text-center
          = image_tag 'logo.png', class: 'auth_logo'
        .divider35
        = form_for(:user,  :html => {:id => 'auth-form1', :class =>'form-horizontal auth-form'}, :url => user_registration_path) do |f|
          -#= devise_error_messages!
          -#- flash.each do |name, msg|
          -#  = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
          = f.email_field :email, placeholder: 'Ваш Email'
          = f.text_field :name, placeholder: 'Имя'
          = f.password_field :password, placeholder: 'Ваш пароль (не менее 8 символов)'
          = f.password_field :password, placeholder: 'Повторите пароль'
          %button.btn.btn-lg.btn-block.btn-danger.auth-main{id: "Signin", type: "submit"} Зарегистрироваться





  /
    Javascripts
    \==================================================
  / Placed at the end of the document so the pages load faster
  = javascript_include_tag 'application'
