!!! 5
%html{ lang: 'en' }
  = render 'application/meta'
  -# До тех времен, пока не сделаем нормальные лейауты (а лучше один)
  -# Времена настали! Делайте один лейаут
  - if controller_name == 'sessions'
    %body
      = yield
  - else
    %body
      .landing
        %header
          %nav.navbar.navbar-default
            .container
              .navbar-header
                .navbar-brand
                  massdecision@gmail.com
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  %a#lang_dropdown{ 'data-target' => '#', 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
                    %i.fa.fa-globe
                    Русский
                    %i.fa.fa-angle-down.font_red
                  %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'lang_dropdown' }
                    %li.disabled
                      %a{ href: '#' } English
                    %li
                      %a{ href: '#' } Русский
        = render 'application/header_no_current_project'
        .container
          = yield
          .widget-block.left_gradient
            .image_1
          .widget-block.right_gradient
            .image_2
          .widget-block.left_gradient
            .image_3
          %hr
          %p all rights reserved to MASSDECISION

      .modal.fade.modal_auth#modal-sign_in
        .modal-dialog.modal-sm
          %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } &times;
          .modal-content
            .logotip
              %span.logotips-sm
            = form_for(:user, html: { id: 'auth-form1', class: 'form-horizontal form-auth' }, url: user_session_path, remote: true) do |f|
              #error_explanation
              -#- flash.each do |name, msg|
              -#  = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
              .divider5
              = f.email_field :email, placeholder: 'Email'
              = f.password_field :password, placeholder: 'Пароль'
              -#.form-group
              -#  = f.label :remember_me, 'Запомнить меня'
              -#  = f.check_box :remember_me
              %button.btn.btn-lg.btn-block.btn-danger{ id: 'sign_in', type: 'submit' }
                = t('menu.sign_in')
              -#.text-center
              -#  %ul.list-inline
        -#    %li{ href: '#'} Забыли пароль?
              -#    %li
              -#      = "|"
        -#    %li{ href: '#'} Зарегистрироваться
      .modal.fade.modal_auth#modal-sign_up
        .modal-dialog.modal-sm
          %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } &times;
          .modal-content
            .logotip
              %span.logotips-sm
            = form_for(:user, html: { id: 'auth-form1', class: 'form-horizontal form-auth' }, url: user_registration_path) do |f|
              -#= devise_error_messages!
              -#- flash.each do |name, msg|
              -#  = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
              = f.email_field :email, placeholder: 'Ваш Email'
              = f.text_field :name, placeholder: 'Имя'
              = f.password_field :password, placeholder: 'Ваш пароль (не менее 8 символов)'
              = f.password_field :password, placeholder: 'Повторите пароль'
              %button.btn.btn-lg.btn-block.btn-danger{ id: 'Signin', type: 'submit' }
                = t('menu.sign_up')





      /
        Javascripts
        \==================================================
      / Placed at the end of the document so the pages load faster
      %script{ src: 'http://cdn.pubnub.com/pubnub-3.7.13.min.js' }
      = javascript_include_tag 'application'
