
-#- if @project.status>2
-#    %p.righttext=link_to 'Посмотреть эссе этапа', essay_posts_path(@project, 2), :id => 'essay_list'

- if stage_vote?('life_tape')
    .success


        = link_to 'Начался этап голосования за актуальные фрагменты (перейти)', life_tape_vote_list_path(@project), id: 'vote_stage'
        -#%br
        -#=link_to 'Добавить мнение о прошедшем этапе', essay_posts_path(@project, @project.status), :id => 'essay_list'
%ul.nav.nav-tabs
    %li.active
        =link_to 'Активность', '#activity', :data => {:toggle=>"tab"}
    %li
        =link_to 'Новости', '#news', :data => {:toggle=>"tab"}
.tab-content
    .tab-pane.fade.in.active#activity
        -unless @journals.nil?
            - @journals.each do |journal|
                .imperfection_journal
                    = link_to journal.user.name_title, journal.user
                    = journal_parser(journal, @project.id).html_safe
                    =Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")

        .imperfection_journal
            =link_to 'Иван Орлов', '/user/1'
            добавил свое
            =link_to 'несовершенство', '#'
            %small 12.13.2014
        .imperfection_journal
            =link_to 'Мирон Левин', '/user/1'
            добавил свое
            =link_to 'несовершенство', '#'
            %small 11.13.2014
        .imperfection_journal
            =link_to 'Сергей Паратов', '/user/1'
            добавил свое
            =link_to 'несовершенство', '#'
            %small 23.13.2014
    .tab-pane.fade#news
        - unless @news.nil?
            %p.righttext
                = @news.anons
                = link_to 'подробнее',  expert_news_post_path(@project, @news)
