.media{id: "post_#{post.id}"}
  = render 'users/user_post', :user => post.user
  .media-body
    -post.discontent_aspects.each do |asp|
      %b=asp.content
    %br
    %p.text-justify
      = trim_string(raw(post.content))
      = link_to 'Подробнее',  {:controller => post.class.name.underscore.pluralize, :action => :show, :project => @project, :id => post.id}

    .row
      .col-md-10
        %small.text-muted= Russian::strftime(post.created_at,"%d %B %k:%M:%S ")

    = render 'shared/post_social_bar2', :post => post

