.media{id: "post_#{post.id}"}
  = render 'users/user_post', :user => post.user
  .media-body
    = render partial: 'discontent/aspects/aspect', collection: post.discontent_aspects
    -if current_user.boss?
      =link_to({:action => :set_important, :id => post.id}, :remote => true,:method => :put) do
        -if post.important?
          %span.glyphicon.text-success{:class=>'glyphicon-star', :style=>"cursor:pointer;text-decoration:none;font-size:15px;", :id=>"set_important_post_#{post.id}"}
        -else
          %span.glyphicon.text-success{:class=>'glyphicon-star-empty', :style=>"cursor:pointer;text-decoration:none;font-size:15px;", :id=>"set_important_post_#{post.id}"}
    -#-post.discontent_aspects.each do |asp|
    -#  %span.label.label-info=asp.content
    %br
    %p.text-justify
      = trim_string(raw(post.content))
      = link_to 'Подробнее',  {:controller => post.class.name.underscore.pluralize, :action => :show, :project => @project, :id => post.id}

    .row
      .col-md-10
        %small.text-muted= Russian::strftime(post.created_at,"%d %B %k:%M:%S ")

    = render 'shared/post_social_bar2', :post => post

