%h1 Новости
%p.righttext
	= @news.anons
	= link_to 'подробнее', @news


.redtitle Топ записей
- @top_posts.each do |post|
	%p.righttext
		= trim_string(post.content, 100)
		= link_to "подробнее", post
	=image_tag('dots.png')

.redtitle Рекомендованные вам

%p.righttext
	Общеизвестно, что любой добросовестный производитель какой-либо услуги, предлагаемой на продажу, заинтересован в обратной связи со стороны потребителей данной услуги.
	= link_to "подробнее", '/life_tape/posts/9'

-unless @journals.nil?
	.redtitle Активность
	- @journals.each do |journal|
		%p.righttext
			=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
			%b= journal.user.name_title
			добавил комментарий к 
			=link_to 'записи', life_tape_post_path(journal.body)
		=image_tag('dots.png')



