
%br
- unless @aspects.empty?
    .panel.panel-default
        .panel-heading Темы процедуры
        .panel-body
            .pull-right
                %button.btn.btn-default.btn-sm(onclick="reset_filter_aspects();" ) Сбросить

            = form_tag({:controller => "life_tape/posts", :action=> "index"},{ method: :get, remote: true, id: 'aspects_list' }) do
                - @aspects.each do |asp|
                    .checkbox

                        =  check_box_tag 'aspects_filter[]', asp.id, current_user.discontent_aspects.include?(asp), onclick: "show_filter_aspects_button();", id: "aspect_#{asp.id}"
                        = "#{asp.content} (#{asp.life_tape_posts.count})"
                %button.btn.btn-default.inv_element#filter-aspect(type="submit") Сохранить

%ul.nav.nav-tabs
    %li
        =link_to 'Избранные',  '#best', :data => {:toggle=>"tab"}
    %li.active
        =link_to 'Обсуждаемые', '#discussed', :data => {:toggle=>"tab"}
.tab-content
    .tab-pane.fade#best
        - unless @post_star.empty?
            -@post_star.each do |st|
                .imperfection_journal
                    = trim_string(st.content,150)
                    = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
                    %small 12.13.2014
    .tab-pane.fade.in.active#discussed

        -@post_dis.each do |st|
            .imperfection_journal
                = trim_string(st.content, 150)
                = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
                %small 12.13.2014
%br

/ = render :partial => 'discontent/aspects/aspect', :collection => @aspects
-if boss?
    .panel.panel-default
        .panel-heading Инструменты администратора
        .panel-body
            =link_to 'добавить фрагмент', new_discontent_aspect_path, id: "add_aspect"
            -if @project.status == 1
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 2
                =link_to 'Вернуться к началу процедуры',  pr_stage_core_project_path(@project), id: 'change_stage'
                %br
                =link_to 'Начать сбор недовольств',  next_stage_core_project_path(@project), id: 'change_stage'









