
%p.righttext
    =link_to image_tag('fb.png'),'http://www.facebook.com/massdecision'
    =link_to image_tag('tw.png'),'https://twitter.com/massdecision'
    =link_to image_tag('vk.png'),'https://vk.com/massdecision'
    =link_to image_tag('ok.png'),'http://odnoklassniki.ru/group/56725703557182'
    =mail_to 'suslova@mass-decision.ru', image_tag('mail.png')
    %br
    %b По всем вопросам   suslova@mass-decision.ru, тел. 77-01-82 (Татьяна Суслова)


%br
- if @project.id == 8

    %h1 Что нужно сделать в первую очередь?
    %p.righttext
        1. Ознакомьтесь с
        = link_to 'темой', expert_news_post_path(@project, @news)
        нашей процедуры
        %br
        2. Прочитайте раздел
        = link_to 'помощь', "/project/#{@project.id}/help"
        (там вы узнаете больше о рациональных процедурах)
        %br
        3. Изучите
        = link_to 'базу знаний', "/project/#{@project.id}/knowledge"
        , в которой подробно рассказывается о том, как сейчас работает "ИРБИС" и идеи по работе заочки
        %br
        4. Примите участие в обсуждении (делитесь идеями, задавайте вопросы)

%h1 Избранные записи
- unless @post_star.empty?
    -@post_star.each do |st|
        = trim_string(st.content)
        = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
        %br
        %br



%br

%h1 Самые обсуждаемые
-#- unless @post_dis.empty?
-@post_dis.each do |st|
    = trim_string(st.content)
    = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
    %br
    %br



- unless @aspects.empty?
    %h1 Список фрагментов
- @aspects.each do |asp|
    %a{:href  => "/project/#{@project.id}/life_tape/aspect/#{asp.id}/posts/", :class => 'topic'}
        .topics
            %p.greentitle
                - if  asp.user_add
                    (new)
                = "#{asp.content}"
/ = render :partial => 'discontent/aspects/aspect', :collection => @aspects
-if boss? 
    %p.righttext= link_to 'добавить фрагмент', new_discontent_aspect_path, id: "add_aspect"


-if boss?
    %p.righttext
        текущий статус проекта
        %br
        %span.rate= status_title(@project.status)
        %br
        -if @project.status == 1
            =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 2
            =link_to 'Вернуться к началу процедуры',  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            =link_to 'Начать сбор недовольств',  next_stage_core_project_path(@project), id: 'change_stage'









