
%br
- if @project.id == 8

    %h1 Что нужно сделать в первую очередь?
    %p.righttext
        1. Ознакомьтесь с
        = link_to 'темой', expert_news_post_path(@project, @news)
        нашей процедуры
        %br
        2. Прочитайте раздел
        = link_to 'помощь', "/project/#{@project.id}/help"
        (там вы узнаете больше о рациональных процедурах)
        %br
        3. Изучите
        = link_to 'базу знаний', "/project/#{@project.id}/knowledge"
        , в которой подробно рассказывается о том, как сейчас работает "ИРБИС" и идеи по работе заочки
        %br
        4. Примите участие в обсуждении (делитесь идеями, задавайте вопросы)


%ul.nav.nav-tabs
    %li.active
        =link_to 'Избранные',  '#best', :data => {:toggle=>"tab"}
    %li
        =link_to 'Обсуждаемые', '#discussed', :data => {:toggle=>"tab"}
.tab-content
    .tab-pane.active#best
        - unless @post_star.empty?
            -@post_star.each do |st|
                .imperfection_journal
                    = trim_string(st.content,150)
                    = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
                    %small 12.13.2014
    .tab-pane#discussed

        -@post_dis.each do |st|
            .imperfection_journal
                = trim_string(st.content, 150)
                = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
                %small 12.13.2014


%br





- unless @aspects.empty?
    .panel.panel-default
        .panel-heading Темы процедуры
        .panel-body
            - @aspects.each do |asp|
                %a{:href  => "/project/#{@project.id}/life_tape/aspect/#{asp.id}/posts/", :class => 'topic'}
                    .topics
                        %p.greentitle
                            - if  asp.user_add
                                (new)
                            = "#{asp.content}"
/ = render :partial => 'discontent/aspects/aspect', :collection => @aspects
-if boss?
    .panel.panel-default
        .panel-heading Инструменты администратора
        .panel-body
            =link_to 'добавить фрагмент', new_discontent_aspect_path, id: "add_aspect"
            -if @project.status == 1
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 2
                =link_to 'Вернуться к началу процедуры',  pr_stage_core_project_path(@project), id: 'change_stage'
                %br
                =link_to 'Начать сбор недовольств',  next_stage_core_project_path(@project), id: 'change_stage'









