- if not current_user.answered_for_help_stage?(1) and not @mini_help.nil?
    =render partial: 'shared/small_help', object: @mini_help

%small#filter_posts
    = render 'shared/filter_posts', project: @project.id, folder: @folder

- if signed_in? and boss?
    = link_to '+ Добавить новую тему для обсуждения', '#', id: 'add_record', onClick: 'get_life_tape_form(); return false;', class: 'btn btn-sm btn-success'
    %br
%br
= form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},:remote => true,  :html => { :class => 'lt_new' } do |f|

    = f.text_area :content, class: 'post', id: 'new_life_tape', onkeyup: "activate_button(this);"
    .input-group.inv_element#button_block
        =select_tag 'aspect_id', options_from_collection_for_select(@aspects, 'id', 'content'), promt: 'Выберите тему записи', class: 'form-control', style: 'width: 200px;'
        = f.submit 'Сохранить',  class:'btn btn-success disabled btn-sm', id:'send_post'
        %button.btn.btn-danger.btn-sm(type="button" onclick="reset_life_tape_form(); return false;" ) Отменить

#posts
    = render @posts
#pagination
    = render 'shared/pagination'

