-#%section.widget.widget-tabs
-#  %header
-#    =render partial: 'application/stages', locals:  {current_stage: :lifetape}

-#.body.tab-content
-if boss? or (signed_in? and @project.demo?)
  %br
  =link_to '+ Добавить новую тему', new_discontent_aspect_path(@project),:remote => true,:id => "new_aspect",  class: 'btn btn-primary'

%h3.text-lifetape
  -if @aspect
    %b Аспект:
    %span{:id => "edit_aspect_content_#{@aspect.id}"}=@aspect.content
    -if boss?
      %span{:id => "redactor_aspect_#{@aspect.id}"}
        =link_to edit_discontent_aspect_path(@project,@aspect),:remote => true, :id => "edit_aspect_#{@aspect.id}" do
          %span{:class=>"glyphicon glyphicon-pencil text-success"}
        =link_to discontent_aspect_path(@project,@aspect), :method => :delete, :confirm => 'Удалить тему?',:id => "destroy_aspect_#{@aspect.id}" do
          %span{:class=>"glyphicon glyphicon-remove text-danger"}

- if @post_show
  .tab-pane.active#stage1
    - if @aspect.knowbase_posts.present?
      .col-md-12
        %section
          .body
            - @aspect.knowbase_posts.each do |post|
              %div{:id => "knowbase_post_#{post.id}"}
                = render :partial => 'knowbase/posts/knowbase_post',:object => post
              %br
        %br
    .col-md-12
      .text-center= will_paginate @comments
      .chat-messages
        = render :partial => 'shared/comment',:collection => @comments
      .text-center= will_paginate @comments

      - if signed_in?
        = render :partial => 'shared/comment_form', :locals => { :comment => @comment,:post =>@post_show, :url_link => "/project/#{@project.id}/life_tape/posts/#{@post_show.id}/add_comment"}

#aspect_modal
