.row
  .col-md-12
    %h3
      1 этап: Сбор информации.
      %br
      %small(style="color:white;" )
        Обсуждение тем процедуры:
        =@project.name

%a{name:'top'}
- if signed_in? and @project.status == 1
  = link_to 'Начать быстрое обсуждение тем', life_tape_posts_fast_discussion_topics_path(@project) ,remote: true, id: 'fast_discussion_topics',  class: 'btn btn-sm btn-success'
  %br
  %br

- if @post_show
  .row
    .col-md-6
      %section.widget
        .body
          .slimScrollDiv
            .chat-messages
              = render :partial => 'shared/comment',:collection => @post_show.comments
            - if signed_in?
              = render :partial => 'shared/comment_form', :locals => { :comment => @comment,:post =>@post_show, :url_link => "/project/#{@project.id}/life_tape/posts/#{@post_show.id}/add_comment"}
    .col-md-6
      %section.widget
        %header
          %h4=@aspect.content
        .body
          .slimScrollDiv
            =@post_show.content


#render_fast_discussion_topics