%small#filter_posts
    = render 'shared/filter_posts'
%br
%br
- if signed_in?
    = link_to '+ Добавить запись', "#", id: "add_record", onClick: 'get_life_tape_form(); return false;', class: 'btn btn-sm btn-success'
    %br
%br
= form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},  :html => { :class => 'lt_new' } do |f|
    = f.text_area :content, class: 'post', id: 'new_life_tape'
    .btn-group.inv_element#Send
        = f.submit "Сохранить",  class:"btn btn-default btn-sm"
        %button.btn.btn-danger.btn-sm(type="button" onclick="reset_life_tape_form(); return false;" ) Отменить

#posts
    = render :partial => 'shared/post', :collection => @posts
#pagination
    = render 'shared/pagination'

