.inspire= link_to image_tag('inspire.png'),  new_child_life_tape_post_path


.wholePost
	= render 'users/user_post', :user => @life_tape_post.user
	.posts
		%span.namedate= @life_tape_post.user.name_title
		%br
		=image_tag("tag.png")
		-unless @life_tape_post.category.nil?
			%span.tags= @life_tape_post.category.name
		-else
			%span.tags без категории
		%p 
			= simple_format(@life_tape_post.content)
		.social 
			=link_to @life_tape_post.childs.count, "#", class: "counter"
			=image_tag "tree.png"
			- if signed_in? and not @life_tape_post.users.include?(current_user)
				=link_to "#{@life_tape_post.users.count}",  plus_life_tape_post_path(@life_tape_post), :id => @life_tape_post.id,:remote => true, :method => :put, class: "counter"
			-else
				=@life_tape_post.users.count
			=image_tag "like.png"
			=link_to @life_tape_post.number_views, @life_tape_post, class: "counter"
			=image_tag "views.png"
			=link_to @life_tape_post.comments.count, @life_tape_post, class: "counter"
			=image_tag "comment.png"
- if signed_in?
	.comments
		= form_for @comment, :url => add_comment_life_tape_post_path(@life_tape_post.id), :method => :put do |f|
			=render 'shared/error_messages', :object =>f.object
			%label Ваш комментарий
			.field
				=f.text_area :content
			.action
				=f.submit ''
- @life_tape_post.comments.each do |comment|
	.comments
		= render 'users/user_post', :user => comment.user
		.posts
			%span.namedate
				= comment.user.name_title
				,
				= Russian::strftime(comment.created_at,"%d %B %k:%M:%S ")
			%br
			%p.comments= comment.content
			-if signed_in? and not comment.users.include?(current_user)
				.like
					=link_to "#{comment.users.count}",  plus_life_tape_comment_path(comment), :id => comment.id,:remote => true, :method => :put, class: "counter"
					=image_tag "like.png"
			-else
				.like
					= comment.users.count
					= image_tag "like.png"

- unless @life_tape_post.post.nil?
	.redtitle Этой запись вдохновлена следующей записью
	= render @life_tape_post.post

- unless @life_tape_post.childs.empty?
	.redtitle Этой записью были вдохновлены следующие записи
	- @life_tape_post.childs.each do |post|
		=render post


