%h3.text-info
  1 этап: Подготовка к процедуре. Ознакомьтесь перед началом работы!

#carousel-example-generic.carousel.slide{'data-ride' => 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-slide-to' => '0', 'data-target' => '#carousel-example-generic'}
    - 1.upto(8) do |index|
      %li{'data-slide-to' => "#{index}", 'data-target' => '#carousel-example-generic'}

  .carousel-inner
    .item.active
      = image_tag 'img/to_work/1a.png', style: 'margin: auto;'
    - 2.upto(9) do |index|
      .item
        = image_tag "img/to_work/#{index}a.png", style: 'margin: auto;'

  %a.left.carousel-control{'data-slide' => 'prev', href: '#carousel-example-generic', role: 'button'}
    %span.glyphicon.glyphicon-chevron-left(style='font-size:30px;')
  %a.right.carousel-control{'data-slide' => 'next', href: '#carousel-example-generic', role: 'button'}
    %span.glyphicon.glyphicon-chevron-right(style='font-size:30px;')
%br

.text-center
  = link_to 'Узнать больше!', "/project/#{@project.id}/help/posts/1", class: 'btn btn-lg btn-warning'
  = link_to 'Приступить к работе!', "/project/#{@project.id}/life_tape/posts", class: 'btn btn-lg btn-primary'
