-#alert('123');
-#$('#comment_content_#{@id}').html('aaa');
-#$('#comment_content_#{@id}').html("#{escape_javascript(render  :partial => 'shared/update_comment_form', object: @comment)}");
-#$("#update_comment_#{@id}").hide();
-#$('#comment_content_#{@id}').html("#{escape_javascript(render  :partial => 'shared/update_comment_form', :locals => { :comment => @comment, :url_link => url_for(:action => 'update_comment')})}");

$('#comment_content_#{@comment.id}').html("#{escape_javascript( @comment.content )}");

$("#update_comment_#{@comment.id}").show();
$('#comment_#{@comment.id}').effect("highlight", {color: '#f5cecd'}, 1000);
-#
-#
-#$('#Send').animate({left: 0, opacity: 0},  "normal",  function(){$('#Send').css('display','none')})
-#$("#new_life_tape").animate({height: 0}, "normal", function(){$('#new_life_tape').css('display','none')})
-#$("#add_record").fadeIn('slow')
-#$("#new_life_tape").val('')
-#$('#posts').prepend("#{escape_javascript(render :partial => 'shared/post', :object => @post)}")
-#$('#post_#{@post.id}').effect("highlight", {color: '#f5cecd'}, 1000);