-if ['origin_posts','new_posts'].include?(@type_tab)
  $("#li_id_#{@post.id}[data-type='#{@type_tab}']").remove();
  $("#group_select_#{@post.id}[data-type='#{@type_tab}']").remove();
  $("#post_content_#{@new_post.id}[data-type='#{@type_tab}']").append('<li id="li_id_#{@post.id}" data-type="#{@type_tab}">#{@post.content}</li>');
  $("#post_content_#{@new_post.id}[data-type='#{@type_tab}']").append("#{escape_javascript(render partial: 'group_select', object: @post)}");
  $("#change_group_success_#{@parent_post}[data-type='#{@type_tab}']").fadeIn('slow').delay(1000).fadeOut('slow');
-else
  $('#add_disgroup_#{@post.id}').html("#{t('show.discontent.added_group')} #{escape_javascript(link_to @post.discontent_post.content, discontent_post_path(@project, @post.discontent_post))}");
  $('#add_disgroup_#{@post.id}').effect("highlight", {color: '#f5cecd'}, 1000);
  $('#add_group_success_#{@post.id}').fadeIn('slow').delay(1000).fadeOut('slow');
