.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-label Обсуждение аспектов
    .col-md-5
      .pull-right
        - if @project.stage == '1:0' or @project.stage == '1:1'
          = link_to new_aspect_post_path(@project, type_mechanic: 'simple'), id: 'new_aspect_posts', class: "btn add-button popover1",'data-placement' => 'bottom','data-trigger'=>'manual','data-toggle' => 'popover', title:'Добавляйте новые аспекты, не представленные в базе знаний' do
            %span{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Добавить аспект"}
              = t('techniques.aspect_posts_simple')
        - else
          -#%a{'href'=>'#'}
          -#  .results.results_red
            //если прочитали то  .results.results_blue
      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        = link_to collect_info_posts_path(@project, sort_rule: 'sort_by_comments') do
          #tooltip2_2.sort-1.sort_btn.sprite.sprite-1_1{class: "#{'active' if params[:sort_rule] == 'sort_by_comments'}",'data-placement' => 'bottom','data-toggle' => 'tooltip', title:'Сортировать по новым комментариям'}
            - new_comments = @project.main_aspects.after_last_visit_comments(last_time_visit_page('collect_info')).size
            - if new_comments > 0
              %span.badge-red
                = new_comments
        = link_to collect_info_posts_path(@project, sort_rule: 'sort_by_date') do
          #tooltip2_2.sort-2.sort_btn.sprite.sprite-2_1{class: "#{'active' if params[:sort_rule] == 'sort_by_date'}", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Сортировать по новым аспектам"}
            - new_posts = @project.main_aspects.after_last_visit_posts(last_time_visit_page('collect_info')).size
            - if new_posts > 0
              %span.badge-red
                = new_posts
.divider10
.divider_1_grey
.divider10
.stage-post-block
  .row
    .col-md-6
      %span.stage-heading
        Аспекты из базы знаний
        ="(#{@project.proc_main_aspects.size})"
    .col-md-6
      %span.stage-heading
        Аспекты, предложенные участниками
        ="(#{@project.other_main_aspects.size})"
  .row
    .col-md-6.combined_border.right.tooltip1.big{ 'data-toggle'=>"tooltip",'data-placement'=>"top",'data-trigger'=>'manual', title: "Знакомьтесь с предложениями других участников, комментируйте и развивайте их"}
      -@proc_aspects.each do |aspect|
        =render partial: 'post_short', object: aspect
    .col-md-6.combined_border.left
      -@other_aspects.each do |aspect|
        =render partial: 'post_short', object: aspect