#popup-aspect.popup-window.detailed_popup.popup-w835.mfp-hide
  .popup.popup_rounded.popup_color_theme_stage2
    .modal_title.color_me{style: "border-top-color:#{@post.color}", "data-me-action" => "border-top-color", "data-me-color" => "0", "data-me-type" => "aspect"}
      .row
        .col-md-9
          %h4.bold.font_dark_grey
            =@post.content
        .col-md-3
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  =@post.comments.count
                  %i.fa.fa-comment-o.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize, :action => :like, :project => @project, :id => @post.id, :against => false, :remote => true}, :method => :put, id: "plus_post_#{@post.id}") do
                  %span.bold
                    %span(id="plus_counter_#{@post.id}" style="color:#333;")
                      =@post.users_pro.count
                    %i.fa.fa-thumbs-o-up.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize, :action => :like, :project => @project, :id => @post.id, :against => true, :remote => true}, :method => :put, id: "minus_post_#{@post.id}") do
                  %span.bold
                    %span(id="minus_counter_#{@post.id}" style="color:#333;")
                      =@post.users_against.count
                    %i.fa.fa-thumbs-o-down.theme_font_color
                %span.bold
                  =Russian::strftime(@post.created_at,'%d.%m.%Y')
    .modal_body
      .media
        .media-left.text-center.gradient.post-poster
          = image_tag 'no-ava.png', class: 'img-circle img50'
          %p.poster-name
            =@post.user
        .media-body.white
          .post-text
            %p
              %span.badge.badge_type1.color_me{"data-me-action" => "background", "data-me-color" => "0", "data-me-type" => "aspect"} Обоснование
            %p
              =@post.short_desc
      .container.modal_content
        .row
          .col-md-12
            .divider20
            #myCarousel.carousel.slide{"data-ride" => "carousel"}
              .carousel-inner.chat-messages{:role => "listbox"}
                -if @comments.present?
                  - @comments.each_slice(5).with_index do |slice, i|
                    .item{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}"}
                      = render partial:'shared/comment', collection: slice
                -else
                  .item.active
            .divider15
            = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }
            -if @comments.count > 5
              %nav.text-center
                %ul.pagination
                  - @comments.each_slice(5).with_index do |slice, i|
                    %li
                      %a.myCarousel-target{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}", "data-slide-to" => "#{i}", "data-target" => "#myCarousel"}
                        ="#{i+1}"
        .divider25