#popup-aspect.popup-window.detailed_popup.popup-w835.mfp-hide
  - if boss?
    .post-top-header
      =link_to({controller: @post.class.name.underscore.pluralize, action: :plus, project: @project.id, id: @post.id}, remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if @post.useful}", id: "plus_post_#{@post.id}") do
        %i.fa.fa-trophy.fa-lg
      = link_to({controller: @post.class.name.underscore.pluralize, action: :discuss_status, project: @project.id, id: @post.id, approve_status: true}, remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if @post.approve_status}", id: "approve_stat_post_#{@post.id}") do
        %i.fa.fa-bookmark.fa-lg
  .popup.popup_rounded.popup_color_theme_stage2
    %div{"data-important" => "#{@post.id}", class: "#{'hide' unless @post.approve_status}"}
      %div.important.theme_font_color
        %i.fa.fa-bookmark.fa-2x
    .modal_title{style: "border-top-color:#{@post.color};"}
      .row
        .col-md-9
          %h4.bold.font_dark_grey
            =@post.content
        .col-md-3
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  %span(class="cc_post_#{@post.id}")
                    =@post.comments.count
                  %i.fa.fa-comment-o.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize, :action => :like, :project => @project, :id => @post.id, :against => false}, :remote => true, :method => :put, id: "like_post_#{@post.id}") do
                  %span.bold
                    %span(id="lk_post_#{@post.id}" class="lk_post_#{@post.id}")
                      =@post.users_pro.count
                    %i.fa.fa-thumbs-o-up.theme_font_color
                =link_to({:controller => @post.class.name.underscore.pluralize, :action => :like, :project => @project, :id => @post.id, :against => true}, :remote => true, :method => :put, id: "dislike_post_#{@post.id}") do
                  %span.bold
                    %span(id="dlk_post_#{@post.id}" class="dlk_post_#{@post.id}")
                      =@post.users_against.count
                    %i.fa.fa-thumbs-o-down.theme_font_color
                %small
                  =Russian::strftime(@post.created_at,'%d.%m.%Y')

                -#- if boss? or role_expert? or stat_expert?
                -#  = link_to({controller: @post.class.name.underscore.pluralize, action: :discuss_status, id: @post.id, approve_status: 1}, remote: true, method: :put, class: "link_status", id: "approve_stat_post_#{@post.id}") do
                -#    %span.label_approve.label(class="#{label_approve_stat(@post)}")
                -#      = t('show.important')
                -#- elsif @post.approve_status
                -#  %span.label.label-success=t('show.important')

    .modal_body
      .media
        .media-left.text-center.gradient.post-poster
          -#= image_tag 'no-ava.png', class: 'img-circle img50'
          = user_image_tag @post.user.try(:avatar), class: 'img-circle img50'
          %p.poster-name
            =@post.user
        .media-body.white
          -if @post.status == 1
            .post-text
              %p
                %span.badge.badge_type1{style: "background:#{@post.color};"} Обоснование
              %p
                =@post.short_desc
          -else
            -# @todo прицепить perfectScrollbar, без сокращения пояснения
            .post-text.ps_cont
              = @post.questions.by_type(0).first.try(:content)
              %br
              -@post.user_answers_for_aspect.each do |answer|
                %span.bold
                  ="#{answer.user}:"
                =" #{answer.answer.try(:content)}  #{answer.content}"
                %br


      .container.modal_content.ps_cont.white-gray
        .row
          .col-md-12
            .divider10
            -##myCarousel.carousel.slide{"data-ride" => "carousel"}
            -#  .carousel-inner.chat-messages{:role => "listbox"}
            -#    -if @comments.present?
            -#      - @comments.each_slice(5).with_index do |slice, i|
            -#        .item{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}"}
            -#          = render partial:'shared/comment', collection: slice
            -#    -else
            -#      .item.active
            .chat-messages
              .separator
                %hr
                  .separator_label.text-left
                    %h4 Обсуждение результатов опроса
                  .separator_label.pull-right
                    %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#comments"} свернуть
              #comments.collapse.in
                = render partial:'shared/comment', collection: @comments
            .divider15
            = render partial:'shared/comment_form', locals:{ comment: @comment, post: @post, url_link: url_for(controller: @post.class.name.underscore.pluralize, action:'add_comment') }
            -#-if @comments.count > 5
            -#  %nav.text-center
            -#    %ul.pagination
            -#      - @comments.each_slice(5).with_index do |slice, i|
            -#        %li
            -#          %a.myCarousel-target{class: "#{'active' if i + 1 == @comments.count / 5 + (@comments.count % 5 == 0 ? 0 : 1)}", "data-slide-to" => "#{i}", "data-target" => "#myCarousel"}
            -#            ="#{i+1}"
        .divider25