.col-sm-4{id: "post_vote_#{post_vote.id}"}
  .vote_item
    .heading_cont
      %h6
        = post_vote.content
    .divider10
    .vote_controls.text-center
      = link_to vote_collect_info_post_path(@project, post_vote.id, status: 1), remote: true, method: :put do
        %button.btn.red.vote_button{:role => "button"}
          %i.fa.fa-exclamation
      = link_to vote_collect_info_post_path(@project, post_vote.id, status: 2), remote: true, method: :put do
        %button.btn.dark-grey.vote_button{:role => "button"}
          %i.fa.fa-minus
      = link_to vote_collect_info_post_path(@project, post_vote.id, status: 3), remote: true, method: :put do
        %button.btn.black.vote_button{:role => "button"}
          %i.fa.fa-times
    .divider15