.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Аспекты
        = "(#{@proc_aspects.size})"
    .col-md-5
      .sort-block.pull-right
        = link_to new_aspect_post_path(@project, type_mechanic: 'simple'), id: 'new_aspect_posts', class: "btn add-button tooltip1 big",'data-placement' => 'bottom','data-toggle' => 'tooltip','data-trigger'=>'manual', title:'Добавляйте новые аспекты, не представленные в базе знаний' do
          %span{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Добавить аспект"}
            = t('techniques.aspect_posts_simple')

.ui-4.first-stage
  .container
    .block-content
      .slider-wrapper
        %a.slider-left.slider-nav
          %i.fa.fa-caret-left.font_lighter_grey
        %a.slider-right.slider-nav
          %i.fa.fa-caret-right.font_lighter_grey
        .slider-outer
          %ul.slider-inner.list-unstyled#first-stage-slider{data: {project: @project.id} }
            %li.active
              .slider-item
                .c1-item
                  %a{id: "tab_intro", "data-toggle" => "tab", :href => "#tab_aspect_0"}
                    %span.c1-item-inner{style: "border-top-color: #eac85e;"}
                      Введение в процедуру
            - @proc_aspects.each_with_index do |aspect, index|
              %li.li_aspect{id: "li_aspect_#{aspect.id}", class: "#{'complete' if aspect.missed_questions(current_user, @project.type_for_questions).size == 0}"}
                .slider-item
                  .c1-item
                    %a{id: "aspect_#{aspect.id}", "data-toggle" => "tab", :href => "#tab_aspect_#{aspect.id}"}
                      %span.c1-item-inner{style: "border-top-color: #{aspect.color};"}
                        =aspect.content

      .tab-content
        .tab-pane.main-pane.active.fade.in{id: "tab_aspect_0"}
          .row
            .col-md-12.col-sm-12
              .aspect-main-block{style: "border-top-color:#eac85e;"}
                = @project.introduction.html_safe if @project.introduction
                .aspect
                  .row.no_margin
                    .col-md-8
                      %h5.bold{style: "color:#eac85e;"} ХАРАКТЕРИСТИКА ПРОБЛЕМНОЙ СИТУАЦИИ
                      %p
                        Деятельность большинства Региональных ШБ (РШБ), участвующих в процедуре,
                        %b в сфере коротких бизнес курсов является не основной
                        и дополняет работу  с длинными (например, МВА) программами; тренингами и семинарами; проведением активных мероприятий - сессий и модераций; консультированием.
                      %p
                        Типичное количество слушателей коротких бизнес - курсов в год в РШБ, составляет примерно 20-30 человек в год. Общая выручка - ориентировочно 1 млн. руб. в год при средней маржинальной рентабельности не более 30%.  Это практически не позволяет ни нормально зарабатывать, ни вкладывать средства в развитие портфеля коротких курсов, в подготовку тьюторов и работу с клиентской базой.
                  .row.aspect-section.no_margin
                    .col-md-8

                      %h5.bold{style: "color:#eac85e;"} ОПИСАНИЕ ДЕЯТЕЛЬНОСТИ В РАМКАХ ПРОБЛЕМНОЙ СИТУАЦИИ
                      %p
                        Деятельность в сфере
                        %b коротких бизнес курсов
                        обычно включает следующие этапы:
                      %ol
                        %li Заключение договоров с известными, по отзывам других Региональных ШБ, поставщиками коротких курсов
                        %li Размещения рекламы и поддержания связей с выпускниками других Программ.
                        %li Набора групп (в основном отклик на входящие обращения) иногда организация прямых продаж
                        %li Подбор тьютора для набранной группы из  прежнего состава (возможно из другого региона), иногда подготовка новых тьюторов
                        %li Организация учебного процесса
                  .row.no_margin
                    .col-md-8
                      %h5.bold{style: "color:#eac85e;"} УЧАСТНИКИ ДЕЯТЕЛЬНОСТИ
                      %p
                        Директора РШБ, администраторы, тьюторы. В большинстве случаев между директорами и администраторы РШБ распределена работа на этапах 1-4, а на этапе 5 действуют администраторы и тьюторы (часто – директора РШБ)
                  .row.aspect-section.no_margin
                    .col-md-8

                      %h5.bold{style: "color:#eac85e;"} СОСТОЯНИЕ ИСПОЛЬЗУЕМЫХ ТЕХНОЛОГИЙ И РЕСУРСОВ:
                      %ul
                        %li Портфель коротких курсов Региональной Школы Бизнеса в большинстве случаев формируется из состава следующих курсов:  курсы 640 Программы (МИМ ЛИНК), МСФО (ОШБ, МЦДО ЛИНК), Управление Проектами (AFW), Маркетинг (ОШБ), Логистика (МАБ, СИДО), Финансовое моделирование (ШБ Диполь).
                        %li Нет постоянной работы по обновлению Портфеля курсов. Традиционные поставщики курсов не проводят работу по обновлению курсов.
                        %li Наиболее современные методики компоненты и смешанного обучения (blended learning) не используются
                        %li В большинстве случаев  РШБ привлекают к ведению курсов тьюторов, подготовленных еще в период активной деятельности сети МИМ Линк. Система подготовки новых тьюторов не создана, хотя связи с методистами способными это делать сохраняются
                        %li Оформленные базы выпускников и CRM программы (Terrasoft, Bitrix) используются в отдельных РШБ
                        %li Технологии активных продаж используются в отдельных РШБ

                  .row.no_margin
                    .col-md-8
                      %h5.bold{style: "color:#eac85e;"} РЫНОК. УСЛОВИЯ, В КОТОРЫХ ОСУЩЕСТВЛЯЕТСЯ ДЕЯТЕЛЬНОСТЬ
                      %p
                        В условиях падения рынка бизнес образования и существенного уменьшения спроса на длительные образовательные программы, одним из перспективных направлений деятельности являются короткие (2-3 месячные) курсы по обучению  менеджеров и специалистов в различных функциональных направлениях менеджмента на основе технологии смешанного обучения blended learning,  традиционно используемой Открытым Университетом и  МИМ ЛИНК.
                      %p
                        Объективной предпосылкой усиления потребности компаний именно в таком обучении является падение качества и дефицит трудовых ресурсов для бизнеса.
                      %p
                        На состояние рынка труда сильное влияние оказывают нарастающий дефицит приходящих на рынок трудовых ресурсов, огосударствление экономики и снижение влияния конкуренции; низкий уровень образования и снижающееся качество трудовых новых ресурсов;  По данным российских исследований  локальных тенденций в оценке персонала за 2014 г.
                        %a{:href => "http://www.hrmedia.ru/node/1355"}
                          (Журнал «Штат»)
                        , обучение сотрудников заняло второе место в списке приоритетов для HR, уступив лишь вовлечению и удержанию персонала (для сравнения, в мире обучение заняло лишь 7-е место). В то же время обучение оказалось одним из наиболее структурированных и формализованых HR-процессов.
                      %p
                        %b Наконец, треть российских компаний, по данным того же исследования, прогнозируют увеличение бюджетов, выделяемых на обучение сотрудников.
                        По данным CEB,
                        %b лишь половина инвестиций в обучение приносит реальные, ощутимые и измеримые результаты.
                        Осознавая это, компании расширяют возможности для обучения, повышают качество и модернизируют содержание программ, разрабатывают более современные структурные и технологические решения для тренингов и учебных материалов, наконец, стремятся мотивировать сотрудников более самостоятельно управлять собственным развитием в рамках предоставляемых образовательных программ. Как следствие, растет и объем участия сотрудников в обучении, и уровень их удовлетворенности: исследования показывают, что свыше 80% участников различных программ корпоративного обучения удовлетворены процессом.
                      %p
                        %b Но лишь 20% сотрудников на самом деле способны эффективно обучаться. Более того, почти три четверти всех опрошенных линейных менеджеров отмечают, что у тех сотрудников, которые активно вовлекаются в образовательные процессы, не хватает прикладных навыков и компетенций, нужных для достижения бизнес-целей.
                        Это означает, что с точки зрения организации увеличение затрат на обучение – как в плане бюджетов, так и в плане вложения времени сотрудников – далеко не всегда оказывается эффективным.
                      %p
                        Если стандартные подходы предполагали в первую очередь широкое вовлечение сотрудников в обучение, то
                        %b сейчас необходимо сместить фокус: гораздо важнее обеспечить релевантность обучения и возможность непосредственного применения новых умений, навыков и знаний с выгодой для организации.
                      %p
                        Это значит, что
                        %b избыточно широкий диапазон возможностей следует сократить, оставив лишь самые актуальные и востребованные программы для обучения, прохождение которых можно связать с более высокими результатами бизнеса.
                      %p
                        На практике такой подход подтверждают и ведущие Школы Бизнеса РФ «В кризис резко теряют актуальность темы, связанные со стратегией, освоением новых рынков, разработкой новых продуктов, – говорит в интервью
                        %a{:href => "http://www.vedomosti.ru/management/articles/2015/05/18/rossiiskie-biznes-shkoli-ne-mogut-vidavat-magisterskie-diplomi-gosudarstvennogo-obraztsa"}
                          «Ведомостям»
                        ректор Московской школы управления «Сколково» Андрей Шаронов. – Все бросаются в операционную эффективность и думают о том, как сэкономить и сохранить тот бизнес, который есть сегодня. Компании малого и среднего бизнеса, от которых мы сегодня отмечаем усиление спроса на бизнес-образование, хотят получить максимально практичные ответы на свои вопросы, готовые решения». Ожидая сложности и проблемы, связанные с кризисом, говорит  директор по дополнительному профессиональному образованию НИУ ВШЭ Елена Коваль, мы подготовили множество коротких программ, семинаров, которые сейчас более востребованы. В длинных программах предусмотрена возможность для слушателей проходить обучение по отдельным модулям.
                  .row.aspect-section.no_margin
                    .col-md-8

                      %h5.bold{style: "color:#eac85e;"} ЦЕЛЬ ИЗМЕНЕНИЙ,  желаемый результат деятельности после завершения изменений
                      %p
                        Создание в РШБ систем активных продаж, обеспечивающих  рост оборота коротких бизнес курсов  в 3-4 раза.
        - @proc_aspects.each_with_index do |asp, index|
          .tab-pane.main-pane.fade{id: "tab_aspect_#{asp.id}"}
            -if asp.missed_questions(current_user, @project.type_for_questions).size > 0
              .container
                - if asp.knowbase_posts.size > 1
                  .row
                    .col-md-8.col-sm-8.min-col-right-padd
                      %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                        - asp.knowbase_posts.each_with_index do |post, i|
                          %li{class: "#{'active' if i == 0}", role: "presentation"}
                            %a{style: "background-color:#{asp.color};" ,"aria-controls" => "Статья #{i+1}", "data-toggle" => "tab", :href => "#article_#{index+1}_#{i+1}", :role => "tab"}
                              = trim_content(post.title, 30)

                .row
                  .col-md-8.col-sm-8.min-col-right-padd
                    .aspect-main-block{style: "border-top-color: #{asp.color};"}
                      - if asp.knowbase_posts.size > 1
                        .tab-content
                          - asp.knowbase_posts.each_with_index do |post, i|
                            .tab-pane.fade{id: "article_#{index+1}_#{i+1}", class: "#{'active in' if i == 0}", role: "tabpanel"}
                              %h6.aspect-main-block-heading
                                = post.title
                              %p.aspect-main-block-text
                                = post.content.html_safe unless post.content.nil?
                      - elsif asp.knowbase_posts.size > 0
                        - asp.knowbase_posts.each_with_index do |post, i|
                          %h6.aspect-main-block-heading
                            = post.title
                          %p.aspect-main-block-text
                            = post.content.html_safe unless post.content.nil?
                      - else
                        .white-gray
                          .radial-gradient
                            .block_BZ

                  .col-md-4.col-sm-4.min-col-left-padd
                    .carousel.slide.questionsCarousel{id: "questionsCarousel_#{asp.id}", "data-ride" => "carousel"}
                      .aspect-questions-block{id: "aspect_block_#{asp.id}", style: "border-top-color: #{asp.color};"}
                        .divider20
                        %h4.block-with-left-icon.pull-left
                          %i.left-icon.fa.fa-2x.fa-comments
                          Вопросы по аспекту
                        %span.pull-right.question_count
                          %span{id: "question_count_#{asp.id}"}
                            = asp.questions.by_type(@project.type_for_questions).size - asp.missed_questions(current_user, @project.type_for_questions).size + 1
                          из
                          = asp.questions.by_type(@project.type_for_questions).size
                        .carousel-inner
                          - asp.missed_questions(current_user, @project.type_for_questions).each_with_index do |question, ind|
                            .item{id: "question_#{question.id}", class: "#{'active' if ind == 0}"}
                              %p.text.block-with-left-icon
                                %span.left-icon.pull-right
                                  ="#{ind + 1}."
                                = question.content
                              -if @project.type_for_questions == 1
                                .hint.close-notice{id:"hint_question_#{question.id}", style: "color:#{asp.color};border-color:#{asp.color};"}
                                  = question.hint
                                  %span.close-button
                                    %i.fa.fa-times-circle-o
                                .hint.close-notice{id:"wrong_question_#{question.id}", style: "color:#{asp.color};border-color:#{asp.color};"}
                                  Ответ неправильный, воспользуйтесь подсказкой
                                  %span.close-button
                                    %i.fa.fa-times-circle-o
                              = form_tag(answer_question_collect_info_post_path(@project, id: asp.id, question_id: question.id), {method: :put, remote: true, class: 'form instruments-block', id: 'form_answer_question', multipart: true}) do
                                .btn-group#answers_buttons(data-toggle="buttons")
                                  - question.answers.each do |answer|
                                    .form-group
                                      %button.btn.btn-xs.btn-white.answer-question(id="answer_#{answer.id}")
                                        -#= check_box_tag 'answers[]', answer.id
                                        = radio_button_tag 'answers[]', answer.id
                                        = answer.content
                                      %i.fa.fa-check{style: "color:#{asp.color};"}
                                -if @project.type_for_questions == 0
                                  = text_area_tag 'content', nil, rows: 6, placeholder: 'Ваш ответ', class: "form-control"
                                .clearfix
                                .form-group.bottom-buttons
                                  -if @project.type_for_questions == 1
                                    %a.btn.btn-outline.notice-button.notice.close-notice{id:"notice_question_#{question.id}", style: "border-color: #{asp.color};", data: {question: question.id}} Подсказка
                                  -if @project.type_for_questions == 0
                                    = submit_tag "Пропустить", name: 'skip', class: "btn answer-button questionsCarousel-target", style: "background-color: #{asp.color};"
                                  -#%button#send_answers.btn.answer-button.questionsCarousel-target{type: "submit", style: "background-color: #{asp.color};"} Пропустить
                                  %button#send_answers.btn.answer-button.questionsCarousel-target{type: "submit", style: "background-color: #{asp.color};"} Ответить
            - else
              - if asp.knowbase_posts.size > 1
                .row
                  .col-md-12.col-sm-12
                    %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                      - asp.knowbase_posts.each_with_index do |post, i|
                        %li{class: "#{'active' if i == 0}", role: "presentation"}
                          %a{style: "background-color:#{asp.color};" ,"aria-controls" => "Статья #{i+1}", "data-toggle" => "tab", :href => "#article_#{index+1}_#{i+1}", :role => "tab"}
                            = trim_content(post.title, 30)

              .row
                .col-md-12.col-sm-12
                  - if asp.knowbase_posts.size > 1
                    .aspect-main-block{style: "border-top-color: #{asp.color};"}
                      .tab-content
                        - asp.knowbase_posts.each_with_index do |post, i|
                          .tab-pane.fade{id: "article_#{index+1}_#{i+1}", class: "#{'active in' if i == 0}", role: "tabpanel"}
                            %h6.aspect-main-block-heading
                              = post.title
                            %p.aspect-main-block-text
                              = post.content.html_safe unless post.content.nil?
                  - elsif asp.knowbase_posts.size > 0
                    .aspect-main-block{style: "border-top-color: #{asp.color};"}
                      - asp.knowbase_posts.each_with_index do |post, i|
                        %h6.aspect-main-block-heading
                          = post.title
                        %p.aspect-main-block-text
                          = post.content.html_safe unless post.content.nil?
                  - else
                    .white-gray
                      .radial-gradient
                        .block_BZ