.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Аспекты
        = "(#{@proc_aspects.size})"
    .col-md-5
      .sort-block.pull-right
        = link_to new_aspect_post_path(@project, type_mechanic: 'simple'), id: 'new_aspect_posts', class: "btn add-button tooltip1 big",'data-placement' => 'bottom','data-toggle' => 'tooltip','data-trigger'=>'manual', title:'Добавляйте новые аспекты, не представленные в базе знаний' do
          %span{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Добавить аспект"}
            = t('techniques.aspect_posts_simple')

.ui-4.first-stage
  .container
    .row
      .col-md-2.popover-info#popover_intro{'data-placement' => 'top','data-content'=>'Прежде всего прочитайте статью методолога'}
      .col-md-10.popover-info#popover_aspect{'data-placement' => 'top','data-content'=>'Потом ответьте на вопросы по аспектам, чтобы перейти к общему обсуждению в новом экране'}
    .block-content
      .slider-wrapper
        %a.slider-left.slider-nav
          %i.fa.fa-caret-left.font_lighter_grey
        %a.slider-right.slider-nav
          %i.fa.fa-caret-right.font_lighter_grey
        .slider-outer
          %ul.slider-inner.list-unstyled#first-stage-slider{data: {project: @project.id} }
            -#%li.active
            -#  .slider-item
            -#    .c1-item
            -#      %a{id: "tab_intro", "data-toggle" => "tab", :href => "#tab_aspect_0"}
            -#        %span.c1-item-inner{style: "border-top-color: #eac85e;"}
            -#          Введение в процедуру
            %li.active
              .slider-item
                .c1-item
                  %a{id: "tab_intro", "data-toggle" => "tab", :href => "#tab_aspect_0"}
                    %span.c1-item-inner.lilac_border
                      Организация работы по продажам коротких курсов
            - @proc_aspects.each_with_index do |aspect, index|
              %li.li_aspect{id: "li_aspect_#{aspect.id}", class: "#{'complete' if aspect.missed_questions(current_user, @project.type_for_questions).size == 0}"}
                .slider-item
                  .c1-item
                    %a{id: "aspect_#{aspect.id}", "data-toggle" => "tab", :href => "#tab_aspect_#{aspect.id}"}
                      %span.c1-item-inner{style: "border-top-color: #{aspect.color};"}
                        =aspect.content

      .tab-content
        .tab-pane.main-pane.active.fade.in{id: "tab_aspect_0"}
          .row
            .col-md-12.col-sm-12
              .aspect-main-block.lilac_border
                .lilac_back
                  .row
                    .col-md-7
                      %h5
                        Общие черты организации продаж в БОЛЬШИНСТВЕ регионов:
                      %ul
                        %li Нет финансовых планов продаж на конкретный период (месяц, квартал, год)
                        %li Бизнес-процессы больше ориентированы на мероприятия по продвижению и входные звонки, чем на активные продажи
                        %li Очень велико участие  директоров непосредственно в процессе продаж
                        %li Мало или совсем нет сотрудников, которые занимаются исключительно (а значит, постоянно) продажами
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_2.png')
                        %br
                        %b.font_black Ставрополь
                        %p.font_color_d_blue
                          В. Денисов
                    .col-md-7
                      %p
                        План – каждые 2-3 месяца продаем модуль (уже запуск). Продавцов находим через свое рекрутинговое агентство. Есть операторы и руководитель. Задача руководителя – встречи и личные продажи. Каналы: базы данных, посещение форумов и конференций, звонки.
                .aspect-section
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_1.png')
                        %br
                        %b.font_black
                          Казань
                        %p.font_color_d_blue
                          И. Антонов
                    .col-md-7
                      %p
                        Сейчас продажами занимаются 2 человека, которые отвечают только за продажи. План составляется исходя из прошлого опыта с корректировкой на ситуацию на рынке. Есть премии за продажи и за заявки. Премии составляют от 30 до 50% суммы оплаты сотрудника. В год продается порядка 90-120 человеко-курсов.
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_3.png')
                        %br
                        %b.font_black
                          Саратов
                        %p.font_color_d_blue
                          В. Видро
                          %br
                          А. Порох
                          %br
                          Е. Казакова
                    .col-md-7
                      %p
                        Продаем примерно 120 человеко-курсов в год. Создали отдел продаж (руководитель и 2–4 продажника) План продаж определяется портфелем курсов и расписанием, планируем запуск двух разных групп в месяц. Плановый объем на одного продажника – 150 тысяч руб. в месяц. Бонус – 4% от объема к окладу  с учетом kpi. Оклад 10–15 тыс. Кроме отдела продаж коротких курсов есть отделы продаж иностранных языков и online-семинаров. Поэтому регулярной работой по поиску и отбору продажников занимается менеджер по персоналу с помощью сайта www.superjob.ru; для отбора применяется ассесмент-центр, далее стажировка и после – официальное оформление. Разработана программа адаптации и обучения продажников.

                .aspect-section
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_4.png')
                        %br
                        %b.font_black Кемерово
                        %p.font_color_d_blue
                          С. Апарин
                    .col-md-7
                      %p
                        В основном продажи через рекламу (падают продажи). Прямые продажи: есть отдел продаж, 4 менеджера, работают по месячному плану продаж, это в среднем 4–6 мероприятий в месяц. В основном семинары по изменениям в законодательстве для бухгалтеров, кадровиков, юристов. Есть прямые продажи курса по 44ФЗ для госзакупщиков, примерно 10–15 продаж в месяц. В прошлом году стали работать с финансовым моделированием. Всего 3 группы – 12 продаж. План продаж компании формируется на основании плана по маржинальной прибыли. Менеджеры получают 10% от маржинальной прибыли. Введена система мотивации для разработчиков курсов и семинаров (составляют план на месяц) также от маржинальной прибыли, при превышении определенного порога начинается премирование. Начали продавать 640-й, пока нет интереса у клиентов. Дорого, мало очных занятий, нет понимания результата.
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_5.png')
                        %br
                        %b.font_black
                          Ижевск
                        %p.font_color_d_blue
                          Д. Гончаров
                    .col-md-7
                      %p
                        Есть отдел продаж, который постепенно хотим превратить в колл-центр. Операторов подбираем через вакансии в интернете, а также по знакомым. План продаж в основном на уровне «хотелок», еще не удалось его выполнить ни разу. Цель на этот год – добиться стабильного набора одной группы бизнес-курсов в месяц. Реальные продажи пока – две группы за полгода, обе на грани рентабельности. Система оплаты – фиксированная оплата за звонок, плюс премия при выполнении плана по количеству звонков. Дополнительная премия в случае заключения договоров. Внимание оператора фиксируем не на факте продажи, а на количестве звонков и следовании скрипту, поэтому отдел продаж в нашем случае правильнее называть колл-центром.

                .aspect-section
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_6.png')
                        %br
                        %b.font_black
                          Уфа
                        %p.font_color_d_blue
                          К. Десяткин
                    .col-md-7
                      %p
                        Работа по продажам коротких курсов в основном сосредоточена в корпоративном сегменте, работаем в области B2B и очень редко в B2С, есть выделенные клиентские менеджеры, каждый из которых сопровождает свой пул клиентов (уже устоявшийся). Продажами коротких курсов занимаются 5 человек (я, директор, – новые клиенты или комплексные продукты; управляющий партнер – в основном все что касается GR; менеджер по корпоративным клиентам – ведет крупных клиентов; менеджер-играющий тренер – все, что касается средних клиентов; менеджер, который занимается параллельно арендой аудиторий). Подбор скорее интуитивный. План продаж – есть выведенные планы по прибыли от каждого менеджера как пороговое значение для начисления премий.... грубо расчет (выручка – прямые затраты по мероприятию + переданная маржа – полученная маржа – общекорпоративные расходы (фиксированная сумма для менеджера) = прибыль и далее до определенного размера один % от прибыли свыше повышенный % (конечно есть и окладная часть). В этом году из 4 менеджеров с планами трое стабильно получают премию, один стабильно не получает. Человеко-курсы в год не считали.
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_7.png')
                        %br
                        %b.font_black Ростов-на-Дону
                        %p.font_color_d_blue  Т. Медведева
                    .col-md-7
                      %p
                        Системную работу по организации отдела продаж только начали. Подбираю сейчас менеджеров, кто сможет продавать образовательные услуги. До этого момента, основной объем продаж был на мне: здесь и личные прямые продажи (и с организациями, и с физлицами), и работа с клиентами, которые пришли с сайта. Для информирования о программах и наборах используется сайт, группы в соцсетях, размещение на информации на специализированных порталах и сайтах партнеров, периодически даю имиджевую рекламу в СМИ. План продаж составляю исходя из своих предположений и активности спроса на те или иные программы. В случае необходимости план корректируется. В работе мне помогает менеджер-администратор, которая активно взаимодействует с клиентами центра и поддерживает коммуникацию. У сотрудника есть оклад и премия по результатам продаж – 10% .
                .aspect-section
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_8.png')
                        %br
                        %b.font_black Иркутск
                        %p.font_color_d_blue  О. Маргорская
                    .col-md-7
                      %p
                        Продает администратор по направлению: ОШБ, Школа Лидера (семинары, тренинги, короткие курсы), английский язык. Каждый, соответственно, занимается и набором и сопровождением в рамках своей компетентности, но при этом каждый должен знать все программы, и при наборе работают все с разной степенью вовлеченности. Однако сейчас, в кризис, ситуация несколько ослабела. Оплата по договору.
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_9.png')
                        %br
                        %b.font_black Волгоград
                        %p.font_color_d_blue
                          Г. Перепелкина
                          %br
                          Г. Перепелкин
                    .col-md-7
                      %p
                        Работа по продажам в нашем РЦ состоит из: обработки заявок, полученных по телефону, через сайт и после семинаров или мастер-классов. Продажников подобрать пока не удалось, хотя занимались этим около двух месяцев. Оказалось, желающих заниматься холодными звонками крайне мало.
                        Продаёт в основном директор, его зам. и отчасти администраторы. Сотрудники прозванивают клиентов по техническим вопросам согласования договора, контроля оплаты и напоминания о мероприятиях. Плана продаж в чистом виде нет. Есть установка: надо набрать группу такого продукта в такой срок с численностью от и до. Получилось – молодцы, нет – переносим сроки, разбираем ошибки. Бонусную систему для отдела продаж разработали, но пока отдела нет, она не работает. Но есть партнёрское предложение – 5% от продаж клиентам, которых привели партнёры, включая тьюторов. О статистике говорить пока нечего – точных данных нет, да и надо систему координат определить, т. к. есть курсы по 2 месяца, есть по 4,5, есть по 6. Можно ли их уравнять?
                .aspect-section
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_11.png')
                        %br
                        %b.font_black Ульяновск
                        %p.font_color_d_blue  Т. Люлькина
                    .col-md-7
                      %p
                        Продажников нет, но используем аутсорсинг услуг по продажам. Наши соседи ИРСОТ. У них есть своя база, и по ней они для нас делают рассылки. Сами рассылаем существующим клиентам. Продаем в среднем по 20 человеко-курсов 640-х в год.
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_12.png')
                        %br
                        %b.font_black Астана
                        %p.font_color_d_blue С. Тултабаев
                    .col-md-7
                      %p
                        Короткие курсы мы только планируем продавать.

                .aspect-section
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_10.png')
                        %br
                        %b.font_black Пятигорск
                        %p.font_color_d_blue  Ю. Зорин
                    .col-md-7
                      %p
                        Самым коротким курсом является полугодовой – мы осознанно не продаем более короткие. Есть вводный курс из 5 занятий, но он бесплатный и рассчитан не только на собственно бизнес-аудиторию. При этом вводный курс фактически является семплингом Школы и тьютора. Через этот канал в настоящее время приходит около половины студентов. Еще половина – через прямые рекомендации отучившихся и существующих клиентов. Отдельного продавца и т. п. нет. С января на именно первый год обучения было продано 44 человеко-модуля, т.е. сейчас идет три группы в разной стадии обучения – две по маркетингу и одна по финансам.
                .col_padding_left_50
                  .row
                    .col-md-2
                      .pull-right.text-left
                        = image_tag ('gerbs/gerb_13.png')
                        %br
                        %b.font_black СПб
                        %p.font_color_d_blue  С. Федоров
                    .col-md-7
                      %p
                        Нет информации
        -#.tab-pane.main-pane.active.fade.in{id: "tab_aspect_0"}
        -#  .row
        -#    .col-md-12.col-sm-12
        -#      .aspect-main-block{style: "border-top-color:#eac85e;"}
        -#        = @project.introduction.html_safe if @project.introduction
        -#        .row
        -#          .col-md-8
                    -#%button.btn.back_color_stage1.font_white.btn-arrow-stage1.pull-right#remove_noLink Далее
        - @proc_aspects.each_with_index do |asp, index|
          .tab-pane.main-pane.fade{id: "tab_aspect_#{asp.id}"}
            -if asp.missed_questions(current_user, @project.type_for_questions).size > 0
              .container
                - if asp.knowbase_posts.size > 1
                  .row
                    .col-md-8.col-sm-8.min-col-right-padd
                      %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                        - asp.knowbase_posts.each_with_index do |post, i|
                          %li{class: "#{'active' if i == 0}", role: "presentation"}
                            %a{style: "background-color:#{asp.color};" ,"aria-controls" => "Статья #{i+1}", "data-toggle" => "tab", :href => "#article_#{index+1}_#{i+1}", :role => "tab"}
                              = trim_content(post.title, 30)

                .row
                  .col-md-8.col-sm-8.min-col-right-padd
                    .aspect-main-block{style: "border-top-color: #{asp.color};"}
                      - if asp.knowbase_posts.size > 1
                        .tab-content
                          - asp.knowbase_posts.each_with_index do |post, i|
                            .tab-pane.fade{id: "article_#{index+1}_#{i+1}", class: "#{'active in' if i == 0}", role: "tabpanel"}
                              .row
                                %h6.aspect-main-block-heading
                                  = post.title
                                %p.aspect-main-block-text
                                  = post.content.html_safe unless post.content.nil?
                      - elsif asp.knowbase_posts.size > 0
                        - asp.knowbase_posts.each_with_index do |post, i|
                          .row
                            %h6.aspect-main-block-heading
                              = post.title
                            %p.aspect-main-block-text
                              = post.content.html_safe unless post.content.nil?
                      - else
                        .white-gray
                          .radial-gradient
                            .block_BZ

                  .col-md-4.col-sm-4.min-col-left-padd
                    .carousel.slide.questionsCarousel{id: "questionsCarousel_#{asp.id}", "data-ride" => "carousel"}
                      .aspect-questions-block{id: "aspect_block_#{asp.id}", style: "border-top-color: #{asp.color};"}
                        .divider20
                        %h4.block-with-left-icon.pull-left
                          %i.left-icon.fa.fa-2x.fa-comments
                          Вопросы по аспекту
                        %span.pull-right.question_count
                          %span{id: "question_count_#{asp.id}"}
                            = asp.questions.by_type(@project.type_for_questions).size - asp.missed_questions(current_user, @project.type_for_questions).size + 1
                          из
                          = asp.questions.by_type(@project.type_for_questions).size
                        .carousel-inner
                          - asp.missed_questions(current_user, @project.type_for_questions).each_with_index do |question, ind|
                            .item{id: "question_#{question.id}", class: "#{'active' if ind == 0}"}
                              %p.text.block-with-left-icon
                                %span.left-icon.pull-right
                                  ="#{ind + 1}."
                                = question.content
                              -if @project.type_for_questions == 1
                                .hint.close-notice{id:"hint_question_#{question.id}", style: "color:#{asp.color};border-color:#{asp.color};"}
                                  = question.hint
                                  %span.close-button
                                    %i.fa.fa-times-circle-o
                                .hint.close-notice{id:"wrong_question_#{question.id}", style: "color:#{asp.color};border-color:#{asp.color};"}
                                  Ответ неправильный, воспользуйтесь подсказкой
                                  %span.close-button
                                    %i.fa.fa-times-circle-o
                              = form_tag(answer_question_collect_info_post_path(@project, id: asp.id, question_id: question.id), {method: :put, remote: true, class: 'form instruments-block', id: 'form_answer_question', multipart: true}) do
                                .btn-group#answers_buttons(data-toggle="buttons")
                                  - question.answers.each do |answer|
                                    .form-group
                                      %button.btn.btn-xs.btn-white.answer-question(id="answer_#{answer.id}")
                                        -#= check_box_tag 'answers[]', answer.id
                                        = radio_button_tag 'answers[]', answer.id
                                        = answer.content
                                      %i.fa.fa-check{style: "color:#{asp.color};"}
                                -if @project.type_for_questions == 0
                                  = text_area_tag 'content', nil, rows: 6, placeholder: 'Ваш ответ', class: "form-control"
                                .clearfix
                                .form-group.bottom-buttons
                                  -if @project.type_for_questions == 1
                                    %a.btn.btn-outline.notice-button.notice.close-notice{id:"notice_question_#{question.id}", style: "border-color: #{asp.color};", data: {question: question.id}} Подсказка
                                  -if @project.type_for_questions == 0
                                    = submit_tag "Пропустить", name: 'skip', class: "btn answer-button questionsCarousel-target", style: "background-color: #{asp.color};"
                                  -#%button#send_answers.btn.answer-button.questionsCarousel-target{type: "submit", style: "background-color: #{asp.color};"} Пропустить
                                  %button#send_answers.btn.answer-button.questionsCarousel-target{type: "submit", style: "background-color: #{asp.color};"} Ответить
            - else
              - if asp.knowbase_posts.size > 1
                .row
                  .col-md-12.col-sm-12
                    %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                      - asp.knowbase_posts.each_with_index do |post, i|
                        %li{class: "#{'active' if i == 0}", role: "presentation"}
                          %a{style: "background-color:#{asp.color};" ,"aria-controls" => "Статья #{i+1}", "data-toggle" => "tab", :href => "#article_#{index+1}_#{i+1}", :role => "tab"}
                            = trim_content(post.title, 30)

              .row
                .col-md-12.col-sm-12
                  - if asp.knowbase_posts.size > 1
                    .aspect-main-block{style: "border-top-color: #{asp.color};"}
                      .tab-content
                        - asp.knowbase_posts.each_with_index do |post, i|
                          .tab-pane.fade{id: "article_#{index+1}_#{i+1}", class: "#{'active in' if i == 0}", role: "tabpanel"}
                            .row
                              .col-md-8
                                %h6.aspect-main-block-heading
                                  = post.title
                                %p.aspect-main-block-text
                                  = post.content.html_safe unless post.content.nil?
                  - elsif asp.knowbase_posts.size > 0
                    .aspect-main-block{style: "border-top-color: #{asp.color};"}
                      .row
                        .col-md-8
                          - asp.knowbase_posts.each_with_index do |post, i|
                            %h6.aspect-main-block-heading
                              = post.title
                            %p.aspect-main-block-text
                              = post.content.html_safe unless post.content.nil?
                  - else
                    .white-gray
                      .radial-gradient
                        .block_BZ