.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Аспекты
        = "(#{@count_aspects})"
    .col-md-5
      .sort-block.pull-right
        = link_to project_user_path(@project, current_user) do
          %button.btn.add-button
            %span +
            Аспект
/ Aspects block (UI four) starts
.ui-4.first-stage
  .container
    / UI content
    .block-content
      / Tabs
      / Nav tabs
      .slider-wrapper
        %a.slider-left.slider-nav
          %i.fa.fa-caret-left.font_lighter_grey
        %a.slider-right.slider-nav
          %i.fa.fa-caret-right.font_lighter_grey
        .slider-outer
          -##aspects_spinner_tab.loader.animated.handle
          -#  %span.spinner
          -#    %i.fa.fa-spinner.fa-spin.fa-2x
          %ul.slider-inner.list-unstyled#first-stage-slider{ data: {project: @project.id} }
            -#- @aspects.each_with_index do |asp, index|
            -#  %li
            -#    .slider-item{class: "#{index == 0 ? 'active' : ''}"}
            -#      .c1-item
            -#        %a{"data-toggle" => "tab", :href => "#tab_aspect_#{asp.id}"}
            -#          %span.c1-item-inner{style: "border-top-color: #{asp.color};"}
            -#            =asp.content

      / Tab panes
      .tab-content
        - @aspects.each_with_index do |asp, index|
          .tab-pane.fade{id: "tab_aspect_#{asp.id}", class: "#{index == 0 ? 'active in' : ''}"}
            .container
              - if asp.knowbase_posts.size > 1
                .row
                  .col-md-8.col-sm-8.min-col-right-padd
                    %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                      - asp.knowbase_posts.each_with_index do |post, i|
                        %li{class: "#{'active' if i == 0}", role: "presentation"}
                          %a{style: "background:#{asp.color};" ,"aria-controls" => "Статья #{i+1}", "data-toggle" => "tab", :href => "#article_#{index+1}_#{i+1}", :role => "tab"}
                            = trim_content(post.title, 30)
              .row
                .col-md-8.col-sm-8.min-col-right-padd
                  .top-color-border-block.aspect-main-block{style: "border-top-color: #{asp.color};"}
                    - if asp.knowbase_posts.size > 1
                      .tab-content
                        - asp.knowbase_posts.each_with_index do |post, i|
                          .tab-pane.fade{id: "article_#{index+1}_#{i+1}", class: "#{'active in' if i == 0}", role: "tabpanel"}
                            %h6.aspect-main-block-heading
                              = post.title
                            %p.aspect-main-block-text
                              = post.content.html_safe unless post.content.nil?
                    - else
                      - asp.knowbase_posts.each_with_index do |post, i|
                        %h6.aspect-main-block-heading
                          = post.title
                        %p.aspect-main-block-text
                          = post.content.html_safe unless post.content.nil?

                .col-md-4.col-sm-4.min-col-left-padd
                  .carousel.slide.questionsCarousel{id: "questionsCarousel_#{asp.id}", "data-ride" => "carousel"}
                    .aspect-questions-block{:style => "border-top-color: #{asp.color};"}
                      %h4.block-with-left-icon.pull-left
                        %i.left-icon.fa.fa-2x.fa-comments
                        Вопросы по аспекту
                      %span.pull-right.question_count
                        %span{id: "question_count_#{asp.id}"} 1
                        из
                        = asp.questions.by_project(@project).by_status(0).count
                      -#%br
                      -#%span.wrong-answer{style: "color:#{asp.color};border-color:#{asp.color};margin-left:20px;margin-right:20px;"}
                      -#  Неправильный ответ!
                      -#  Воспользуйтесь подсказкой
                      -#  %span.close-button
                      -#    %i.fa.fa-times-circle-o
                      .carousel-inner
                        - asp.questions.by_project(@project).by_status(0).order('collect_info_questions.id').each_with_index do |question, ind|
                          - unless question.user_answers.by_project(@project).by_user(current_user).present?
                            .item{id: "question_#{question.id}", class: "#{'active' if asp.questions.by_project(@project).by_status(0).by_complete(asp.question_complete(@project, current_user).pluck(:id)).order('collect_info_questions.id').first == question}"}
                              %p.text.block-with-left-icon
                                %span.left-icon.pull-right="#{ind + 1}."
                                = question.content
                              .hint.close-notice{id:"hint_question_#{question.id}", style: "color:#{asp.color};border-color:#{asp.color};"}
                                = question.hint
                                %span.close-button
                                  %i.fa.fa-times-circle-o
                              = form_tag(answer_question_collect_info_post_path(@project, id: asp.id, question_id: question.id), {method: :put, remote: true, class: 'form instruments-block', id: 'form_answer_question', multipart: true}) do
                                .btn-group#answers_buttons(data-toggle="buttons")
                                  - question.answers.by_status(0).each do |answer|
                                    .form-group
                                      %button.btn.btn-xs.btn-white.answer-question(id="answer_#{answer.id}")
                                        = check_box_tag 'answers[]', answer.id
                                        = answer.content
                                      %i.fa.fa-check{style: "color:#{asp.color};"}
                                .clearfix
                                .form-group.bottom-buttons
                                  %a.btn.btn-outline.notice-button{style: "border-color: #{asp.color};", data: {question: question.id}} Подсказка
                                  %button#send_answers.btn.answer-button.questionsCarousel-target{type: "submit", style: "background-color: #{asp.color};"} Ответить


#popup-explanation-1.popup-window.popup-explanation.popup-w710.mfp-hide.welcome_popup{class: "#{shown_intro('collect_info_intro')}"}
  .popup.popup_rounded
    .modal_badge.back_color_stage1.rounded_2.font_white 1 СТАДИЯ
    %h2
      = image_tag 'good-shot1.png', class: "expl-header-img-1"
      Цель 1-й стадии
    %p.expl-sub-heading
      Подробное изучение базы знаний по каждому аспекту всеми участниками процедуры
      выработки проекта
    %p.expl-notice.rounded-2
      Второй этап выработки проекта будет доступен только после того,
      %br>/
      как
      средний уровень готовности участников будет не менее 80%!
    %h2
      = image_tag 'flag1.png', class: "expl-header-img-2"
      С чего начать?
    %ol
      %li Выберите аспект в списке ниже
      %li Ознакомьтесь с базой знаний внутри этого аспекта
      %li Пройдите короткое тестирование по полученным знаниям
      %li Переходите к следующему аспекту
      %li
        Проголосуйте за самые важные на ваш вгляд аспекты
        %br>/
        (будет доступно в конце этапа)
    = link_to collect_info_posts_check_field_path(@project, check_field: "collect_info_intro", status: true), method: :put, remote: true do
      %button.btn.red.close_magnific Начать работу



#popup-greetings-text.popup-window.popup-w710.mfp-hide
  .popup.popup_rounded.popup_medal
    .medal-block.gold-medal
    .row
      .col-md-8.col-md-offset-3
        %p.font_mid_grey.bold
          Отлично, начало положено!
        .divider50
        %p.font_mid_grey.bold
          Вы ознакомились со всеми аспектами базы знаний.
          %br/
          Теперь вы разбираетесь в предмете обсуждения и готовы к полноценному участию в процедуре.
          %br/
          Ждём вас на следующей стадии!
        .divider50
        %p
          %button.btn.red.close_magnific.font_white.pull-right Закрыть окно


- if current_user.can_vote_for(:collect_info, @project)
  #vote-1.popup-window.popup-vote.popup-w1030.mfp-hide
    .popup.popup_rounded
      .modal_title
        .row
          .col-md-12
            %h4.bold.font_dark_grey.tall_modal_title
              Голосование по аспектам
      .vote_progress_cont.progress
        .vote_progress.light-green.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
      .modal_body
        .container.vote_folders_cont.folders_3.no_padding_col
          %ul.nav.vote_nav.row{:role => "tablist"}
            %li.no_padding_col.active.folder_all{:role => "presentation"}
              %a.vote_folder{"data-toggle" => "tab", :href => "#vote_tab1", :role => "tab"}
                %i.fa.fa-angle-left.fa_xlg
                %small.bold Вернуться в общий список
            %li.col-md-4.no_padding_col{:role => "presentation"}
              %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "important", :href => "#vote_tab2", :role => "tab"}
                .vote_folder_inn.poll-2-1
                  %span.vote_counter#vote_count2 0
                  %h5 Важно
            %li.col-md-4.no_padding_col{:role => "presentation"}
              %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "not_important", :href => "#vote_tab3", :role => "tab"}
                .vote_folder_inn.poll-2-2
                  %span.vote_counter#vote_count3 0
                  %h5 Неважно
            %li.col-md-4.no_padding_col{:role => "presentation"}
              %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "unnecessary", :href => "#vote_tab4", :role => "tab"}
                .vote_folder_inn.poll-2-3
                  %span.vote_counter#vote_count4 0
                  %h5 Лишнее
        .divider25
        .container
          .row
            .divider25
            .tab-content
              #vote_tab1.tab-pane.all_vote.active{:role => "tabpanel"}
                .container.padding30
                  .row#cont_vote_tab1
                    - @aspects.each_with_index do |asp, index|
                      = render partial: 'post_vote', object: asp

              #vote_tab2.tab-pane{:role => "tabpanel"}
                .container.padding30
                  .row#cont_vote_tab2
              #vote_tab3.tab-pane{:role => "tabpanel"}
                .container.padding30
                  .row#cont_vote_tab3
              #vote_tab4.tab-pane{:role => "tabpanel"}
                .container.padding30
                  .row#cont_vote_tab4
            .divider35



-#.ui-4.first-stage
-#  .container
-#    .block-content
-#      %ul.nav.nav-tabs
-#        %li.active
-#          %button.btn.btn-round.btn-gray.uncolored-arrow{'data-toggle' => 'tab', href: '#tab-0'}
-#            %i.fa.fa-wrench.fa-2x
-#        - @project.main_aspects.order(:id).each_with_index do |asp, index|
-#              %span
-#                = asp.short_name.present? ? asp.short_name.upcase : asp.content[0,2].mb_chars.upcase
-#              %span{id: "check_question_#{asp.id}"}
-#                - if @count_aspects_check > 0
-#                  %i.fa.fa-check{style: 'font-size:15px;margin:0;'}
-#                - else
-#                  %i.fa.fa-question{style: 'font-size:15px;margin:0;'}
-#      .tab-content
-#        #tab-0.tab-pane.active.fade.in
-#          .rounded-2.info-section.point
-#            %h3 Цель стадии
-#            %p Подробное изучение базы знаний по каждому аспекту всеми участниками процедуры выработки проекта
-#            .attention
-#              %span.exclam !
-#              %span.text
-#                Вторая стадия выработки проекта будет доступна только после того, как средний уровень готовности участников будет не менее 80%!
-#          .rounded-2.info-section.begin
-#            %h3 С чего начать?
-#            %ol
-#              %li Выберите аспект в списке ниже
-#              %li Ознакомьтесь с базой знаний внутри этого аспекта
-#              %li Пройдите короткое тестирование по полученным знаниям
-#              %li Переходите к следующему аспекту
-#              %li Проголосуйте за самые важные на ваш взгляд аспекты (будет доступно в конце стадии)
-#
-#        - @project.main_aspects.order('core_aspects.id').each_with_index do |asp, index|
-#          %div.tab-pane.fade{id: "tab-#{index + 1}", style: "border:1px solid #{asp.color};"}
-#            .top-colored-bar.padd-5{style: "background:#{asp.color};"}
-#              = asp.content
-#            .container
-#              .row
-#                .col-md-8.col-sm-8.tab-image-block
-#                  - if asp.knowbase_posts.present?
-#                    %section
-#                      .body
-#                        - asp.knowbase_posts.each do |post|
-#                          %div{id: "knowbase_post_#{post.id}"}
-#                            = render partial: 'knowbase/posts/knowbase_post', object: post
-#                          %br
-#                .col-md-4.col-sm-4.questions-block
-#                  %h4.block-with-left-icon
-#                    %i.left-icon.fa.fa-2x.custom-firstStage-orange.fa-comments.pull-left>
-#                    Вопросы по теме
-#                  .rounded-1.wrong-answer.close-notice
-#                    Неправильный ответ!
-#                    Воспользуйтесь подсказкой
-#                    %span.close-button
-#                  - asp.questions.by_project(@project).by_status(0).order('collect_info_questions.id').each_with_index do |question, ind|
-#                    - unless question.user_answers.by_project(@project).by_user(current_user).present?
-#                      %div{id: "question_#{question.id}", style: "#{'display:none;' if asp.questions.by_project(@project).by_status(0).by_complete(asp.question_complete(@project, current_user).pluck(:id)).order('collect_info_questions.id').first != question}"}
-#                        .rounded-1.hint.close-notice{id:"hint_question_#{question.id}"}
-#                          = question.hint
-#                          %span.close-button
-#                        %p.text.block-with-left-icon
-#                          %span.left-icon.pull-right="#{ind + 1}."
-#                          = question.content
-#                        = form_tag(answer_question_aspect_path(@project, id: asp.id, question_id: question.id), {method: :put, remote: true, class: 'form instruments-block', id: 'form_answer_question', multipart: true}) do
-#                          %div(class="btn-group" data-toggle="buttons" id="answer_buttons")
-#                            - question.answers.by_status(0).each do |answer|
-#                              %button(id="answer_#{answer.id}" class="btn btn-xs btn-white pull-left answer-question")
-#                                = check_box_tag 'answers[]', answer.id
-#                                = answer.content
-#                          .clearfix
-#                          .form-group.bottom-buttons
-#                            %a.btn.btn-outline.notice-button{data: {question: question.id}} Подсказка
-#                            %button#send_answers.btn.answer-button Ответить
-#
-##popup-greetings-text.welcome_popup.popup-window.medal.mfp-hide
-#  .popup
-#    .medal-block.gold-medal
-#    .popup-top-block.popup-top-rounded
-#      .vertical-center-wrapper
-#        %h4 Поздравляем!
-#        %p.top-block-text
-#          Вы успешно ответили на все вопросы по Базе Знаний.
-#    .popup-bottom-block.popup-bottom-rounded
-#      .vertical-center-wrapper
-#        .bottom-buttons
-#          -#%a.bottom-button.back-color.dark-blue{:href => "#"} Рефлексия
-#          -#%a.bottom-button.back-color.red.arrowed.open-popup-link{:href => "#popup-2"} Перейти на 2-ю стадию