-unless @questions_progress == 100
  -#%script
  -#  var data = 'Прочитайте базу знаний, переходя от аспекта к аспекту и отвечая ДА или НЕТ на простые вопросы в правой колонке.<br>' +
  -#  'Вы можете комментировать свои ответы в поле “Пояснение”. Вы не сможете перейти к этапу обсуждения и добавления аспектов, пока не ознакомитесь со всеми аспектами.<br>' +
  -#  'Обратите внимание: раздел ”Введение в процедуру” — это не аспект, а просто введение в процедуру!';
  = render partial: 'questions_aspects'
-else
  -#%script
  -#  var data = 'Здесь можно обсуждать аспекты, подготовленные оргкомитетом (слева) и предложенные другими участниками процедуры (справа).<br>' +
  -#  'Нажав на кнопку “Добавить аспект”, вы попадете на экран, где сможете сформулировать и опубликовать собственный аспект<br>' +
  -#  'Прежде чем отправиться туда, внимательно прочитайте все предложенные аспекты и убедитесь, что ваше предложение не дублирует ни один из них.';
  = render partial: 'discuss_aspects'


#render_core_aspect


- if shown_intro('collect_info_intro') == ''
  = render partial: 'popup_welcome'
- if @project.type_for_questions == 0
  = render partial: 'popup_greetings'
- if current_user.can_vote_for(:collect_info, @project)
  = render partial: 'popup_vote'
