-unless @questions_progress == 100
  = render partial: 'questions_aspects'
-else
  = render partial: 'discuss_aspects'


#render_core_aspect


= render partial: 'popup_welcome'
= render partial: 'popup_greetings'
- if current_user.can_vote_for(:collect_info, @project)
  = render partial: 'popup_vote'
