= form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},  :html => { :class => 'new_or_edit' } do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this discontent_aspect from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    Название
    = f.text_area :content  
  .field
    Описание
    = f.text_area :short_desc
  .field
    По идее пользователей?
    = f.check_box :user_add

  .actions
    = f.submit "",   id: "Send"
