%h1 Listing discontent_aspects

%table
  %tr
    %th Content
    %th User
    %th
    %th
    %th

  - @discontent_aspects.each do |discontent_aspect|
    %tr
      %td= discontent_aspect.content
      %td= discontent_aspect.user_id
      %td= link_to 'Show', discontent_aspect
      %td= link_to 'Edit', edit_discontent_aspect_path(discontent_aspect)
      %td= link_to 'Destroy', discontent_aspect, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Aspect', new_discontent_aspect_path
