$('#modal_aspect_view').modal('hide');
$('#edit_aspect_content_#{@aspect.id}').html("#{escape_javascript("#{@aspect.content}")}");
$('#edit_aspect_desc_#{@aspect.id}').html("#{escape_javascript("#{@aspect.short_desc}")}");


