-#$('#aspect_checkbox_#{@aspect.id}').html("#{escape_javascript(render  :partial => 'life_tape/posts/aspect', :locals => { :aspect => @aspect })}");
$('#edit_aspect_content_#{@aspect.id}').html("#{escape_javascript(@aspect.content @aspect.life_tape_posts.count)}");
$('#edit_aspect_#{@aspect.id}').show();
$('#aspect_#{@aspect.id}').show();
-#$('#aspect_checkbox_#{@aspect.id}').effect("highlight", {color: '#f5cecd'}, 1000);