%h2
  = "#{t('groups.group')} #{@group.name}"

%section.widget.widget-tabs
  .body.tab-content
    .row
      .col-md-2
        - if @group.users.include? current_user
          = link_to 'Перейти к проекту', "/project/#{@project.id}", id: "go_to_project_#{@project.id}", class: 'btn btn-success btn-lock'
          .text-success#call_moderator_success{style: 'display: none'}
            = t('groups.call_moderator_success')
          = link_to 'Позвать модератора', group_call_moderator_path(@project, @group), method: :put, remote: true, id: "call_moderator_for_#{@group.id}", class: 'btn btn-info btn-lock'
        - else
          = link_to 'Принять приглашение', group_take_invite_path(@project, @group), method: :put, id: 'take_invite', class: 'btn btn-success btn-lock'
          = link_to 'Отклонить приглашение', group_reject_invite_path(@project, @group), method: :put, id: 'reject_invite', class: 'btn btn-danger btn-lock'
        - if @group.users.include? current_user
          Задачи
          %span.badge.badge-success#count_of_tasks
            = @group.tasks.count
          %button.btn.btn-success.btn-block#button_create_task{'data-target' => '#createTask', 'data-toggle' => 'modal', type: 'button'}
            + Добавить задачу
          %ul.news-list.group-tasks{id: "group_tasks_#{@group.id}"}
            = render @group.tasks
      .col-md-8
        - if @group.users.include? current_user
          = render 'chat'
      .col-md-2
        Участники
        %div.news-list{id: "users_in_group_#{@group.id}"}
          - @group.all_group_users.each do |user|
            .row
              = link_to user_path(@project, user.user), class: 'pull-left' do
                = image_tag user.user.avatar.url(:thumb), class: 'media-object'
              %br
                = link_to user.user, user_path(@project, user.user)
        = link_to 'Покинуть группу', group_leave_path(@project, @group), method: :put, id: "leave_group_#{@group.id}"
        %button.btn.btn-success.btn-block#button_invite_user{'data-target' => '#inviteUser', 'data-toggle' => 'modal', type: 'button'}
          + Пригласить участника

  -#.id_group{id: @group.id, style: 'display: hidden'}
  -##group_chat_div
- if @group.users.include? current_user
  #inviteUser.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
          %h4#myModalLabel.modal-title
            Добавление пользователей в группу
        .modal-body
          %table
            - @users_to_add.each do |user|
              %tr{id: "tr_user_invite_#{user.id}"}
                %td
                  = image_tag user.avatar.url(:thumb), class: 'pull-left'
                %td
                  = link_to user, user_path(@project, user)
                %td
                  = link_to '+', "/project/#{@project.id}/groups/#{@group.id}/invite_user/#{user.id}", remote: true,
                  method: :put, class: 'btn btn-success', id: "invite_user_#{user.id}"
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Закрыть

  #createTask.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'createTaskLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
          %h4#createTaskLabel.modal-title
            Добавление новой задачи
        = form_for GroupTask.new, remote: true do |f|
          #for_errors
          .modal-body
            .form-group
              %label.control-label
                = f.label :name
              .col-md-10
                = f.text_field :name, class: 'form-control'
            %br
            .form-group
              %label.control-label
                = f.label :description
              .col-md-10
                = f.text_area :description, class: 'form-control'
            = f.hidden_field :group_id, value: @group.id
          .modal-footer
            %button.btn.btn-default#closeCreatingTask{'data-dismiss' => 'modal', type: 'button'} Закрыть
            = f.submit 'Сохранить', class: 'btn btn-primary', id: 'save_task'

  #assignTaskToUser.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'assignLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
          %h4#assignLabel.modal-title
            Прикрепить задачу к пользователю
        .modal-body
          %table
            - @group.users.each do |user|
              %tr{id: "tr_assign_to_#{user.id}"}
                %td
                  = image_tag user.avatar.url(:thumb), class: 'pull-left'
                %td
                  = link_to user, user_path(@project, user)
                %td.link_to_assign
                  = link_to '+', "/project/#{@project.id}/group_tasks/_group_task_id_/assign_user/#{user.id}", remote: true,
                  method: :put, class: 'btn btn-success', id: "assign_user_#{user.id}_to_"
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Закрыть
