%ul.side-nav
  %li.active
    = link_to user_path(@project, current_user) do
      %i.glyphicon.glyphicon-user
      = t('menu.account')

  - if current_user == @user
    %li
      = link_to edit_user_path(@project, current_user), id: 'edit_profile' do
        %i.glyphicon.glyphicon-cog
        = t('menu.profile_edit')
    %li
      = link_to edit_notice_user_path(@project, current_user) do
        %i.glyphicon.glyphicon-envelope
        = t('menu.notice_edit')
    %li
      = link_to "/project/#{@project.id}/project_users/user_analytics", id: 'go_to_user_analytics' do
        %i.glyphicon.glyphicon-signal
        = t('menu.user_analytic')
