-if  user
    %a.pull-left(href="/user/#{user.id}")
        = image_tag user.avatar.url(:thumb),  class: "media-object"
        - unless user.boss?
            %h6
                = user.score
                %small баллов
        -#= image_tag 'award.png', title: 'Награда за 3 добавленных поста'

        %br
        =link_to user, user_path(@project, user)

-#.avatar
-#	= link_to gravatar_for(user), "/project/#{@project.id}/users/#{user.id}"
-#	%br
-#	- if user.expert? or user.admin?
-#		%span.role= user.role_name
-#		%br
-#
-#	- unless user.expert? or user.admin?
-#		%span.rate_small= user.score
-#		%span.role балов
-#		%br
-#		-user.awards.for_project(@project.id).each do |award|
-#			= image_tag award.url, :title => award.name