.rating_line
  .row
    .col-sm-3
      .rating_user
        = link_to user_path(@project, user), class: 'tooltip_b', title: 'Посмотреть профиль пользователя' do
          = user_image_tag user.avatar
          = user
        = render partial: '/shared/user_online', object: user
    .col-sm-9
      .col-custom
        %span.md-rate.color-1
          = user.project_user_for(@project).try(:aspect_posts_score) || '−'
      .col-custom
        %span.md-rate.color-2
          = user.project_user_for(@project).try(:discontent_posts_score) || '−'
      .col-custom
        %span.md-rate.color-3
          = user.project_user_for(@project).try(:concept_posts_score) || '−'
      .col-custom
        %span.md-rate.color-4
          = user.project_user_for(@project).try(:novation_posts_score) || '−'
      .col-custom
        %span.md-rate.color-5
          = user.project_user_for(@project).try(:plan_posts_score) || '−'
      .col-custom
        %span.md-rate.color-6
          = user.project_user_for(@project).try(:estimate_posts_score) || '−'
      .col-custom
        %span.md-rate.color-7 −
      .col-total
        %span
          = user.project_user_for(@project).try(:score) || '−'

