.rating_line
  .row
    .col-sm-3
      .rating_user
        .media-left
          = user_image_tag user.avatar, class: 'media-object img-circle img40 img_bordered'
        .media-body
          %h5.media-heading.bold
            =link_to user, user_path(@project, user)
            = render partial: '/shared/user_online', object: user
    .col-sm-9
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage1
          = user.project_user_for(@project).try(:collect_info_posts_score) || '−'
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage2
          =user.project_user_for(@project).try(:discontent_posts_score) || '−'
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage3
          =user.project_user_for(@project).try(:concept_posts_score) || '−'
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage4
          =user.project_user_for(@project).try(:novation_posts_score) || '−'
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage5
          =user.project_user_for(@project).try(:plan_posts_score) || '−'
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage6
          =user.project_user_for(@project).try(:estimate_posts_score) || '−'
      .col_custom.col_type1.divided
        %span.rating_cell.font_color_stage7 −
      .col_custom.col_type2.divided
        %span.rating_cell.font_dark_grey
          =user.project_user_for(@project).try(:score) || '−'







-#%tr{class: set_class_for_top(number)}
-#  %td
-#    -#%span=number
-#  %td
-#    .media
-#      %a.pull-left(href="/project/#{@project.id}/users/#{user.id}")
-#        = image_tag user.avatar.url(:thumb),  class: 'media-object'
-#        %br
-#        =link_to user, user_path(@project, user)
-#        = render partial: '/shared/user_online', object: user
-#
-#  %td
-#
-#  %td
-#    %span.text-inverse
-#      -if user.user_project_scores(@project.id).present?
-#        %span.rate= user.user_project_scores(@project.id).send(@score_name ? @score_name : 'score')
-#      -else
-#        %span.rate 0
