%h1 Отредактируйте информацию о себе

= form_for @user do |f|
	=render 'shared/error_messages', :object => f.object
	.field
		= f.label :name, "Имя"
		%br
		= f.text_field :name
	.field
		= f.label :surname, "Фамилия"
		%br
		= f.text_field :surname	
	.field
		= f.label :surname, "Ник (используется, если вы поставить галочку на 'Участвовать анонимно')"
		%br
		= f.text_field :nickname
	.field 
		= f.label :email, "Почта"
		%br
		= f.text_field :email
	.field
		= f.label :password
		%br
		= f.password_field :password
	.fieild
		= f.label :password_confirmation
		%br
		= f.password_field :password_confirmation	
	.fieild
		= f.label :anonym, 'Участвовать анонимно'
		= f.check_box :anonym
	.field
		%br
		= f.label :avatar, "Выберите файл для аватара"
		%br
		= f.file_field :avatar
	.action
		= f.submit '', class: 'btn'
%br
/ %div
/ 	=gravatar_for @user
/ 	=link_to "Изменить", 'http://gravatar.com/emails'

