%h1 Отредактировать пользователя

= form_for @user do |f|
	=render 'shared/error_messages', :object => f.object
	.field
		= f.label :name, "Имя"
		%br
		= f.text_field :name
	.field
		= f.label :surname, "Фамилия"
		%br
		= f.text_field :surname
	.field 
		= f.label :email, "Почта"
		%br
		= f.text_field :email
	.field
		= f.label :password
		%br
		= f.password_field :password
	.fieild
		= f.label :password_confirmation
		%br
		= f.password_field :password_confirmation
	.action
		= f.submit

.div
	=gravatar_for @user
	=link_to "Изменить", 'http://gravatar.com/emails'

