%section.widget
    .body
        %h3=t('form.user.title')
        = form_for @user, url: { action: :update, type:@project.id } do |f|
            =render 'shared/notice_messages', object: f.object
            .field
                = f.label :name, t('form.user.name')
                %br
                = f.text_field :name
            .field
                = f.label :surname, t('form.user.surname')
                %br
                = f.text_field :surname

            .field
                = f.label :email, t('form.user.email')
                %br
                = f.text_field :email


            .field
                %br
                = f.label :avatar, t('form.user.avatar')
                %br
                = f.file_field :avatar
            %br
            %br
            %br
            .action
                = f.submit t('form.save'), class: 'btn btn-primary'
        %br


