- if params[:added]
  $('#added_users').fadeOut(500, function() { $('#added_users').html("#{escape_javascript(render :partial => 'list_user', :collection => @added_users)}").fadeIn();});
  $('li#added').addClass('active');
  $('li#others').removeClass('active');
  -#$('#tab_users a[href="#added_users"]').tab('show');
  -#$('#tab_users a[href="#others_users"]').tab('hide');
  $('#others_users').removeClass('active in').hide();
  $('#added_users').addClass('active in').show();
  $('#added_count').html('#{@added_users.size}');
- elsif params[:others]
  $('#others_users').fadeOut(500, function() { $('#others_users').html("#{escape_javascript(render :partial => 'list_user', :collection => @users)} <div class='text-center'>#{escape_javascript(will_paginate @users)}</div>").fadeIn();});
  $('li#others').addClass('active');
  $('li#added').removeClass('active');
  -#$('#tab_users a[href="#others_users"]').tab('show');
  -#$('#tab_users a[href="#added_users"]').tab('hide');
  $('#added_users').removeClass('active in').hide();
  $('#others_users').addClass('active in').show();
  $('#added_count').html('#{@added_users.size}');

$('#search_users').removeClass('active in').hide();
$('#search_count').html('');