=link_to list_projects_path do
  %span.fa.fa-angle-double-left
  вернуться к списку процедур

%h3 Выберите участников для закрытой процедуры
%h2= @project.name
%br
=text_field_tag "search_users_text",'', style: 'width: 100%; height: 30px', placeholder:'Введите имя или email пользователя и нажмите Enter'
%section
  .body
    %ul.nav.nav-tabs#tab_users
      %li#others.active
        -#%a{:href => "#others_users", "data-toggle" => "tab"}
        -#  Пользователи #{@users.size}
        =link_to "/project/#{@project.id}/users/list_users?others=true", remote: true, "data-toggle" => "tab", :role => "tab" do
          %span Пользователи
          %span#search_count
      %li#added
        -#%a{:href => "#added_users", "data-toggle" => "tab"}
        -#  Добавленные #{@added_users.size}
        =link_to "/project/#{@project.id}/users/list_users?added=true", remote: true, "data-toggle" => "tab", :role => "tab" do
          %span Добавленные
          %span#added_count=@added_users.size
    -#%br
    -#%br
    .tab-content
      #others_users.tab-pane.fade.in.active
        = render :partial => 'list_user',:collection => @users
        .text-center
          = will_paginate @users

      #added_users.tab-pane.fade
        = render :partial => 'list_user',:collection => @added_users
      #search_users.tab-pane.fade


%br
=link_to list_projects_path do
  %span.fa.fa-angle-double-left
  вернуться к процедуре