%h1
	= gravatar_for @user
	= @user.name
	= @user.surname
	%br= @user.email
	%br
	набрано балов - 
	= @user.score

Добавлено  неудовлетворенностей - 
= @user.frustrations.count

- if active_form_frustration?
	%h2{:class => "frustration"} Добавить неудовлетворенность
	= render "shared/frustration_form"
- unless @user.frustrations.empty?
	%table{:class => "frustrations"}
		= render @user.frustrations
-else 
	%br
	%i Ни одной не добавлено
%br

Неудовлетворенности, которые были отправлены в архив из за комментариев пользователя -
- unless @user.negatived_frustrations.empty?
	%table{:class => "frustrations"}
		= render :partial => 'shared/feed_item', :collection => @user.negatived_frustrations
-else
	%br
	%i Их пока нет

%br
%br Неудовлетворенности, к которым были добавлены полезные структурирующие комменты -
- unless @user.structured_frustrations.empty?
	%table{:class => "frustrations"}
		= render :partial => 'shared/feed_item', :collection => @user.structured_frustrations
-else
	%br
	%i Их пока нет


