.user_info
	= gravatar_for @user, :size => 120 
	%span{:class => 'name'}
		= @user.name
		= @user.surname
	%br
	набрано балов
	%span{:class => 'rate'}= @user.score

%h1 
	Добавлено  неудовлетворенностей - 
	= @user.frustrations.count

- if active_form_frustration?
	= render "shared/frustration_form"
- unless @user.frustrations.empty?
	%table{:class => "frustrations"}
		= render @user.frustrations
-else 
	%br
	%i Ни одной не добавлено
%br
%h1 Неудовлетворенности, к которым были добавлены полезные структурирующие комменты
- unless @user.structured_frustrations.empty?
	%table{:class => "frustrations"}
		= render :partial => 'shared/feed_item', :collection => @user.structured_frustrations
-else
	%br
	%i Их пока нет
	%br
	%br
%h1 Неудовлетворенности, которые были отправлены в архив из за комментариев пользователя
- unless @user.negatived_frustrations.empty?
	%table{:class => "frustrations"}
		= render :partial => 'shared/feed_item', :collection => @user.negatived_frustrations
-else
	%br
	%i Их пока нет





