- if boss?
    .scoreBar
        =link_to "+20 баллов",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score/20", :remote => true, :method => :put, class: "voteCounter"
        |
        =link_to "+40 баллов",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score/40", :remote => true, :method => :put, class: "voteCounter"
        |
        =link_to "+20 баллов за эссе",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score_essay/20", :remote => true, :method => :put, class: "voteCounter"
        |
        =link_to "+40 баллов за эссе",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score_essay/40", :remote => true, :method => :put, class: "voteCounter"
        |

.wholePost
    = render 'users/user_post', :user =>  @user
    .posts
        %span.namedate
            =  @user.name_title

            - if current_user == @user
                (это вы)
        %br
        - if current_user == @user
            =link_to 'редактировать информацию о себе', edit_user_path(@project, current_user), class: "name"

#tabs
    %ul
        %li=link_to "Активность",'#tabs-1'
        %li=link_to "Идеи  (#{@user.life_tape_posts.for_project(@project.id).count})",'#tabs-2'
        %li=link_to "Несовершенства (#{@user.discontent_posts.for_project(@project.id).count})",'#tabs-3'
    #tabs-1
        - @journals.each do |journal|
            %p.righttext
                =Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
                %b= journal.user.name_title
                = journal_parser(journal, @project.id).html_safe
    #tabs-2
        - unless @user.life_tape_posts.for_project(@project.id).empty?
            = render :partial => 'shared/post', :collection =>  @user.life_tape_posts.for_project(@project.id)

    #tabs-3
        - unless @user.discontent_posts.for_project(@project.id).empty?
            = render   @user.discontent_posts.for_project(@project.id)








