%h1
	= gravatar_for @user
	= @user.name
	= @user.surname
Добавлено  неудовлетворенностей - 
= @user.frustrations.count

- unless @user.frustrations.empty?
	%table{:class => "frustrations"}
		= render @frustrations
	= will_paginate @frustrations
