.user_info
	= gravatar_for @user, :size => 120 
	%span{:class => 'name'}
		= @user.name
		= @user.surname
	%br
	набрано балов
	%span{:class => 'rate'}= @user.score
	%h1 
		Добавлено  недовольств - 
		= @user.frustrations.count

-if @user.frustrations.count == Settings.max_frustration 
	.notification Вы не можете добавить, потому что добавили уже максимальное количество
-elsif @user.structured_and_unstructured.count != 0
	.notification У вас есть недовольство, не отправленная в архив или эксперту
-elsif @user.test_attempts.empty?
	.notification 
		Сначала пройдите социологический опрос
		=link_to " по ссылке", '/tests'
-else
	= render "shared/frustration_form"


- unless @user.frustrations.empty?
	%table{:class => "frustrations"}
		= render @user.frustrations
-else 
	%br
	%i Ни одной не добавлено
%br
%h1 Недовольства, сформулированные с помощью моих комментариев
- unless @user.structured_frustrations.empty?
	%table{:class => "frustrations"}
		= render :partial => 'shared/feed_item', :collection => @user.structured_frustrations
-else
	%br
	%i Их пока нет
	%br
	%br
%h1 Недовольства, отправленные в архив благодаря моему комментарию
- unless @user.negatived_frustrations.empty?
	%table{:class => "frustrations"}
		= render :partial => 'shared/feed_item', :collection => @user.negatived_frustrations
-else
	%br
	%i Их пока нет





