=link_to '/project/'+@project.id.to_s do
  %span.fa.fa-angle-double-left
  вернуться к процедуре

%section.widget
  .body
    .row
      .col-md-4
        = image_tag  @user.avatar(:normal)
        %br
        %h3="Достижения (#{@user.awards.for_project(@project).count} из 22)"
        %br
        -@awards.each do |a|
          =image_tag('/assets/awards/'+a.url+'_70_70.png', title: a.name, class: "#{'disabled_award' if not @user.awards.for_project(@project).include? a}")
      .col-md-8
        .row
          .col-md-9
            %b
              =link_to @user, '#'
            %br
            %span.text-muted
              Не состоит ни в одной группе
              -#%b Сыновья Кобы
            - if boss?
              .scoreBar
                =link_to "+30 баллов",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score/30", :remote => true, :method => :put, class: "voteCounter"
                |
                =link_to "+10 баллов",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score/10", :remote => true, :method => :put, class: "voteCounter"
            %br

            -if boss?
              %h4(style="font-weight: bold;")
                %span.color-green.pull-left
                  = link_to club_toggle_user_path(@project, @user), :remote => true, :method => :put, :style => 'text-decoration:none;', :id => "club_status_#{@user.id}" do
                    =club_status_show_user(@user)
                  %a(href="#" id="userscore_#{@user.id}" class="userscore" data-pk="1" data-remote="true" data-resource="post" data-type="text" data-name="score" data-url="/project/#{@project.id}/users/#{@user.id}/update_score")
                    =@user.score
            -else
              %h4(style="font-weight: bold;")
                %span.color-green.pull-left
                  =club_status_show_user(@user)
                  =@user.user_project_scores(@project.id).score
          .col-md-3
            -#%span.text-muted.pull-right
            -#  =@user.user_project_scores(@project.id).score
        -unless @user.user_project_scores(@project.id).nil?
          .row
            .col-md-7
              Генератор идей
            .col-md-5
              %span.pull-right
                -#%span.text-muted=@user.score_g
                %span.text-muted=@user.user_project_scores(@project.id).score_g
                -#%span.text-muted (0)
                -#%span.glyphicon.glyphicon-arrow-up.text-success
          .row
            .col-md-7
              Аналитик
            .col-md-5
              %span.pull-right
                -#%span.text-muted=@user.score_a
                %span.text-muted=@user.user_project_scores(@project.id).score_a
                -#%span.text-muted (0)
                -#%span.glyphicon.glyphicon-arrow-down.text-danger

          .row
            .col-md-7
              Оценщик
            .col-md-5
              %span.pull-right
                -#%span.text-muted=@user.score_o
                %span.text-muted=@user.user_project_scores(@project.id).score_o
                -#%span.text-muted (0)
                -#%span.glyphicon.glyphicon-minus.text-muted
          %hr

          .row
            .col-md-7

            .col-md-5
              %span.pull-right
                -#%span.text-muted=@user.score_o
                Всего:
                %span.text-muted=@user.user_project_scores(@project.id).score
                -#%span.text-muted (0)
                -#%i.fa.fa-thumbs-up
                -#%span.glyphicon.glyphicon-minus.text-muted
        %br
        -#.progress
        -#  .progress-bar.progress-bar-success(style="width: 70%")
        -#    %span.sr-only">35% Complete (success)
        -#
        -#  .progress-bar.progress-bar-warning(style="width: 20%")
        -#    %span.sr-only">35% Complete (success)
        -#
        -#  .progress-bar.progress-bar-danger(style="width: 10%")
        -#    %span.sr-only">35% Complete (success)

        %br
        %ul.nav.nav-tabs
          %li.active
            %a(href="#active_line" data-toggle="tab") Активность
          %li
            %a(href="#ideas" data-toggle="tab")="Темы (#{@user.life_tape_posts.by_project(@project.id).count})"
          %li
            %a(href="#imperfections" data-toggle="tab")="Несовершенства (#{@user.discontent_posts.by_project(@project.id).count})"
          %li
            %a(href="#images" data-toggle="tab")="Нововв. (#{@user.concept_posts.by_project(@project.id).count})"
          -#%li
          -#  %a(href="#projects" data-toggle="tab")  Проекты
        .tab-content
          #active_line.tab-pane.fade.in.active
            %br
            -unless @journals.nil?
              - @journals.each do |journal|
                -  if journal_parser(journal, @project.id)
                  = link_to journal.user, user_path(@project,journal.user)
                  = journal_parser(journal, @project.id).html_safe
                  %small=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
                  %br



          #ideas.tab-pane.fade.in
            %br
            = render @user.life_tape_posts.by_project(@project.id)


          #imperfections.tab-pane.fade.in
            %br
            %ul.discontent-list
              = render partial: 'discontent/posts/post_short', collection: @user.discontent_posts.by_project(@project.id)



          #images.tab-pane.fade.in
            %br
            - @user.concept_posts.by_project(@project.id).each do |cp|
              .panel.panel-success
                .panel-body.nov-list
                  =cp.post_aspects.first.name
                  =link_to 'подробнее', concept_post_path(@project, cp)
                  = render 'shared/post_social_bar2', :post =>cp


