.cab-user
  = link_to user_path(@project, @user) do
    = user_image_tag @user.avatar
  %span.name
    = link_to @user, user_path(@project, @user)

.row
  .col-md-2
    .cab-menu
      %ul.menu
        %li.active
          %a.btn#show_content{ 'data-toggle' => 'tab', href: '#user_content' }
            = t('menu.content')
        - if current_user?(@user)
          %li
            %a.btn#edit_profile{ 'data-toggle' => 'tab', href: '#user_profile' }
              = t('menu.account')

  .col-md-10
    .tab-content
      .tab-pane.fade.in.active#user_content
        %ul.nav.nav-tabs.cab-horiz-tabs
          - Core::Project::STAGES.select { |k, _| k <= 5 }.each do |num_stage, stage|
            %li{ class: "#{'active' if @project.main_stage == num_stage || (@project.main_stage > 5 && num_stage == 5)}" }
              %a{ id: "tab_user_content_#{stage[:type_stage]}", 'data-toggle' => 'tab', href: "#cab_cont_#{num_stage}" }
                %span.marked= num_stage
                СТАДИЯ
        .tab-content.cab-cont-block
          - Core::Project::STAGES.select { |k, _| k <= 5 }.each do |num_stage, stage|
            .tab-pane.fade{ class: "#{'active in' if @project.main_stage == num_stage || (@project.main_stage > 5 && num_stage == 5)}",
              id: "cab_cont_#{num_stage}" }
              .row
                .col-md-6.exp_col.left
                  %a.exp_button
                    %span.arrows-left
                  .content
                    %h5
                      #{t("my.#{stage[:type_stage]}")} (#{@user.content_for_project(stage[:type_stage], @project).count})

                    -# @todo move to users controllers
                    - @content = model_for(:post, stage[:type_stage]).by_project(@project).by_user(@user)
                    = render template: "#{stage[:type_stage].to_s.gsub('_posts', '/posts')}/user_content"

                .col-md-6.exp_col.right
                  %a.exp_button
                    %span.arrows-right
                  .content
                    %h5
                      Мои комментарии
                      (#{@user.comment_for_project(stage[:type_stage], @project).count})
                    .chat-messages
                      -# @todo move to users controllers
                      - @stage_comments = model_for(:comment, stage[:type_stage]).by_user(@user).stage_comments_for(@project)
                      = render partial: 'shared/cabinet_comment', collection: @stage_comments, locals: { num_stage: num_stage }

      - if current_user?(@user)
        .tab-pane.fade#user_profile{ role: 'tabpanel' }
          = @user
          -#%h5 Не состоит ни в одной группе
          = form_for @user, url: { action: :update, type: @project.id }, class: 'form form-horizontal' do |f|
            = render 'shared/notice_messages', object: f.object
            .form-group
              = f.text_field :name, class: 'form-control', placeholder: 'Имя'
            .form-group
              = f.text_field :surname, class: 'form-control', placeholder: 'Фамилия'
            .form-group
              = f.text_field :email, class: 'form-control', placeholder: 'Email'
            .form-group
              = f.password_field :password, class: 'form-control', placeholder: 'Пароль'
            .form-group
              = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтвердите пароль'
            .form-group
              = f.text_field :skype, class: 'form-control', placeholder: 'Skype'
            .form-group
              = f.text_field :phone, class: 'form-control', placeholder: 'Телефон'
            .form-group
              = f.file_field :avatar, class: 'form-control', placeholder: 'Аватар'

            -#.form-group
            -#  .checkbox
            -#    %label
            -#      %input{ type: 'checkbox'}/
            -#      Получать автоматические уведомления
            = f.submit t('form.user.update'), class: 'btn btn-danger ', id: 'update_profile'
