.row
  .col-md-4
    = image_tag  @user.avatar(:normal),  class: "media-object"
    -#%ul.nav.nav-pills.nav-stacked
    -#
    -#  %li
    -#    %a(href="/user/1/edit") Редактировать профиль
    -#  %li
    -#    %a(href="/messages/1") Написать сообщение
    -#  %li
    -#    %a(href="#") Пригласить в группу
    -#%h4 Награды
    -#= image_tag 'award2.png', width: '50px;', title: 'написал 4 несовершенства'
    -#= image_tag 'award3.png', width: '50px;', title: 'проголосовал за 50 постов'
    -#= image_tag 'award4.png', width: '50px;', title: 'самый активный генератор идей'
    -#= image_tag 'award5.png', width: '50px;', title: 'самый активный аналитик'
  .col-md-8
    .row
      .col-md-9
        %b
          =link_to @user, '#'
        %br
        %span.text-muted
          Не состоит не в одной группе
          -#%b Сыновья Кобы

      .col-md-3
        %span.text-muted.pull-right=@user.score
    %hr
    .row
      .col-md-7
        Генератор идей
      .col-md-5
        %span.pull-right
          %span.text-muted=@user.score_g
          %span.text-success (0)
          %span.glyphicon.glyphicon-arrow-up.text-success
    .row
      .col-md-7
        Аналитик
      .col-md-5
        %span.pull-right
          %span.text-muted=@user.score_a
          %span.text-danger (0)
          %span.glyphicon.glyphicon-arrow-down.text-danger

    .row
      .col-md-7
        Оценщик
      .col-md-5
        %span.pull-right
          %span.text-muted=@user.score_o
          %span.text-muted (0)
          %span.glyphicon.glyphicon-minus.text-muted
    %br
    .progress
      .progress-bar.progress-bar-success(style="width: 70%")
        %span.sr-only">35% Complete (success)

      .progress-bar.progress-bar-warning(style="width: 20%")
        %span.sr-only">35% Complete (success)

      .progress-bar.progress-bar-danger(style="width: 10%")
        %span.sr-only">35% Complete (success)

    %br
    %ul.nav.nav-tabs
      %li.active
        %a(href="#active_line" data-toggle="tab") Активность
      %li
        %a(href="#ideas" data-toggle="tab")="Темы (#{@user.life_tape_posts.count})"
      %li
        %a(href="#imperfections" data-toggle="tab") Несовершенства
      %li
        %a(href="#images" data-toggle="tab")  Образы
      %li
        %a(href="#projects" data-toggle="tab")  Проекты
    .tab-content
      #active_line.tab-pane.fade.in.active
        %br
        -unless @journals.nil?
          - @journals.each do |journal|
            -  if journal_parser(journal, @project.id)
              .row
                .col-md-4
                  %span.text-muted=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
                .col-md-8
                  = journal_parser(journal, @project.id).html_safe



      #ideas.tab-pane.fade.in
        %br
        = render @user.life_tape_posts
      -#    .media
      -#      %a.pull-left(href="/user/1")
      -#        = image_tag  'avatar.png',  class: "media-object"
      -#
      -#        %br
      -#        =link_to 'Никита Белов', '/user/1'
      -#
      -#      .media-body
      -#        %span.label.label-info  Брендинг
      -#        %span.label.label-info  Техническая
      -#        %br
      -#        Мне кажется мы решительно не дооцениваем силу нашего внутреннего противодействия существующим проблемам в брендинге ...
      -#        %a(href="/procedure/1/stage/1/1/") подробнее
      -#        %br
      -#        %br
      -#        .row
      -#          .col-md-2
      -#            %small 11.12.2013
      -#          .col-md-10
      -#            .pull-right
      -#              114
      -#              %span.glyphicon.glyphicon-eye-open
      -#              |
      -#              %a(href="#")
      -#                %span.text-success  поддерживают 23
      -#                %span.glyphicon.glyphicon-thumbs-up.text-success
      -#              |
      -#              %a(href="#")
      -#                комментировать 7
      -#                %span.glyphicon.glyphicon-comment
      -#    .media
      -#      %a.pull-left(href="/user/1")
      -#        = image_tag  'avatar.png',  class: "media-object"
      -#
      -#        %br
      -#        =link_to 'Никита Белов', '/user/1'
      -#
      -#      .media-body
      -#        %span.label.label-info  Брендинг
      -#        %span.label.label-info  Техническая
      -#        %br
      -#        Мне кажется мы решительно не дооцениваем силу нашего внутреннего противодействия существующим проблемам в брендинге ...
      -#        %a(href="/procedure/1/stage/1/1/") подробнее
      -#        %br
      -#        %br
      -#        .row
      -#          .col-md-2
      -#            %small 11.12.2013
      -#          .col-md-10
      -#            .pull-right
      -#              114
      -#              %span.glyphicon.glyphicon-eye-open
      -#              |
      -#              %a(href="#")
      -#                %span.text-success  поддерживают 23
      -#                %span.glyphicon.glyphicon-thumbs-up.text-success
      -#              |
      -#              %a(href="#")
      -#                комментировать 7
      -#                %span.glyphicon.glyphicon-comment
      -#
      -#
      -#
      -#
      -#










-#%br
-#- if boss?
-#    .scoreBar
-#        =link_to "+20 баллов",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score/20", :remote => true, :method => :put, class: "voteCounter"
-#        |
-#        =link_to "+40 баллов",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score/40", :remote => true, :method => :put, class: "voteCounter"
-#        |
-#        =link_to "+20 баллов за эссе",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score_essay/20", :remote => true, :method => :put, class: "voteCounter"
-#        |
-#        =link_to "+40 баллов за эссе",  "/project/"+@project.id.to_s+"/users/"+@user.id.to_s+"/add_score_essay/40", :remote => true, :method => :put, class: "voteCounter"
-#        |
-#
-#
-#%table
-#    %tr
-#        %td
-#            #pie_chart(style="width: 400px;")
-#        %td(style="padding-left: 20px;")
-#            .wholePost
-#                = render 'users/user_post', :user =>  @user
-#                .posts
-#                    %span.namedate
-#                        =  @user.name_title
-#
-#                        - if current_user == @user
-#                            (это вы)
-#                    %br
-#                    - if current_user == @user
-#                        =link_to 'редактировать информацию о себе',  "/project/#{@project.id}/users/#{@user.id}/edit", class: "name"
-#            Всего очков:
-#            %span.rate#score=@user.score
-#            %br
-#            Как аналитик:
-#            %span.rate#score_a=@user.score_a
-#            %br
-#            Как генератор идей:
-#            %span.rate#score_g=@user.score_g
-#            %br
-#            Как оценщик:
-#            %span.rate#score_o=@user.score_o
-#            %br
-#            %br
-#            %b Достижения:
-#            %br
-#            - if @user.awards.for_project(@project.id).empty?
-#                пока нет ни одного
-#
-#            -else
-#            %br
-#                -@user.awards.for_project(@project.id).each do |award|
-#                    = image_tag award.url, :title => award.name
-#                    = award.name
-#                    %br
-#                    %small= award.desc
-#                    %br
-#
-##tabs
-#    %ul
-#        %li=link_to "Активность",'#tabs-1'
-#        %li=link_to "Идеи  (#{@user.life_tape_posts.for_project(@project.id).count})",'#tabs-2'
-#        %li=link_to "Несовершенства (#{@user.discontent_posts.for_project(@project.id).count})",'#tabs-3'
-#    #tabs-1
-#        - @journals.each do |journal|
-#            %p.righttext
-#                =Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
-#                %b= journal.user.name_title
-#                = journal_parser(journal, @project.id).html_safe
-#    #tabs-2
-#        - unless @user.life_tape_posts.for_project(@project.id).empty?
-#            = render :partial => 'shared/post', :collection =>  @user.life_tape_posts.for_project(@project.id)
-#
-#    #tabs-3
-#        - unless @user.discontent_posts.for_project(@project.id).empty?
-#            #tabs2
-#                %ul
-#                    %li=link_to "Можно отправлять (#{@user.discontent_posts.for_project(@project.id).ready_for_post.count})",'#tabs2-1'
-#                    %li=link_to "Рано отправлять (#{@user.discontent_posts.for_project(@project.id).not_ready_for_post.count})",'#tabs2-2'
-#                    %li=link_to "На рассмотрении (#{@user.discontent_posts.for_project(@project.id).for_expert.count})",'#tabs2-3'
-#                    %li=link_to "Принятые (#{@user.discontent_posts.for_project(@project.id).accepted.count})",'#tabs2-4'
-#                    %li=link_to "Архив (#{@user.discontent_posts.for_project(@project.id).archive.count})",'#tabs2-5'
-#                #tabs2-1
-#                    =render   @user.discontent_posts.for_project(@project.id).ready_for_post
-#                #tabs2-2
-#                    =render   @user.discontent_posts.for_project(@project.id).not_ready_for_post
-#                #tabs2-3
-#                    =render   @user.discontent_posts.for_project(@project.id).for_expert
-#                #tabs2-4
-#                    =render   @user.discontent_posts.for_project(@project.id).accepted
-#                #tabs2-5
-#                    =render   @user.discontent_posts.for_project(@project.id).archive
-#
-#
-#
-#
-#
-#
-#
-#
-#
-#
