.chat-message{id: "comment_#{post_advice_comment.id}"}
  = render 'users/user_post', user: post_advice_comment.user

  .chat-message-body.stage_menu1
    %span.arrow
    .sender
      = link_to post_advice_comment.user, user_path(@project, post_advice_comment.user)
      = render partial: '/shared/user_online', object: post_advice_comment.user
      = role_label(post_advice_comment.user)
    .text
      %div{id: "comment_text_#{post_advice_comment.id}"}
        = simple_format(post_advice_comment.content)
      - if current_user?(post_advice_comment.user) or current_user.admin?
        = link_to 'Удалить', discontent_post_advice_comment_path(@project, @discontent_post_advice, post_advice_comment), method: :delete, remote: true,
          data: {confirm: t('confirm.delete_comment')}, class: 'btn btn-danger btn-xs', id: "destroy_comment_#{post_advice_comment.id}"

      .pull-right
        = link_to 'Ответить', new_discontent_post_advice_comment_path(@project, @discontent_post_advice).concat("?comment_id=#{post_advice_comment.id}"),
        remote: true, id: "reply_to_#{post_advice_comment.id}", class: 'btn btn-success btn-xs'
      .time.pull-left
        = time_ago_in_words(post_advice_comment.created_at)
      %br
      - if post_advice_comment.main_comment?
        .col-md-12
          %br
          %div{id: "child_comments_#{post_advice_comment.id}"}
            - unless post_advice_comment.comments.empty?
              = render post_advice_comment.comments
          %div{id: "child_comments_form_#{post_advice_comment.id}"}
