.chat-message{id: "comment_#{child_comment.id}"}
  = render 'users/user_post', :user => child_comment.user
  .chat-message-body.stage_menu1{id: "comment_content_#{child_comment.id}", class: "#{comment_stat_color(child_comment)}"}
    .sender
      =link_to child_comment.user, user_path(@project, child_comment.user)
      = render partial: '/shared/user_online', object: child_comment.user
      = role_label(child_comment)
      %span.pull-right
        - if current_user?(child_comment.user) or boss?
          =link_to({:controller => child_comment.post.class.name.underscore.pluralize, :action => :comment_status, :id => child_comment.post.id, :comment_id => child_comment.id, :discontent_status => 1,:comment_stage => get_stage_for_improve(child_comment.get_class)},  :remote => true, :method => :put,  id: "dis_stat_comment_#{child_comment.id}") do
            %span.label(class="#{label_dis_stat(child_comment)}") Проблема
          =link_to({:controller => child_comment.post.class.name.underscore.pluralize, :action => :comment_status, :id => child_comment.post.id, :comment_id => child_comment.id, :concept_status => 1,:comment_stage => get_stage_for_improve(child_comment.get_class)},  :remote => true, :method => :put,  id: "con_stat_comment_#{child_comment.id}") do
            %span.label(class="#{label_con_stat(child_comment)}") Идея
        - else
          %span.label(class="#{label_dis_stat(child_comment)}") Проблема
          %span.label(class="#{label_con_stat(child_comment)}") Идея

        - if boss? or role_expert?
          =link_to({:controller => child_comment.post.class.name.underscore.pluralize, :action => :comment_status, :id => child_comment.post.id, :comment_id => child_comment.id, :discuss_status => 1, :comment_stage => get_stage_for_improve(child_comment.get_class)},  :remote => true, :method => :put,  id: "discuss_stat_comment_#{child_comment.id}") do
            %span.label(class="#{label_discuss_stat(child_comment)}") ТРЕБУЕТ ОБСУЖДЕНИЯ
        - elsif child_comment.discuss_status
          %span.label-danger ТРЕБУЕТ ОБСУЖДЕНИЯ

    .text
      %div{id: "comment_text_#{child_comment.id}"}
        =simple_format(child_comment.content)
      - if current_user?(child_comment.user) or boss?
        %div.redactor{id: "redactor_comment_#{child_comment.id}"}
          =link_to 'Редактировать', {:action => :edit_comment, :id => child_comment.id},:remote => true, :class => "text-success",id: "edit_comment_#{child_comment.id}"
          \|
          = link_to 'Удалить', {:action => :destroy_comment, :id => child_comment.id}, :method => :put, :remote => true, :confirm => 'Удалить комментарий?', :class => "text-danger",id: "destroy_comment_#{child_comment.id}"
      .pull-right
        =link_to({:action => :add_child_comment_form, :id => child_comment.comment.post.id, :comment_id => child_comment.comment.id,:answer_id => child_comment.id}, :remote => true, :method => :put,  id: "add_child_comment_#{child_comment.id}") do
          %span.label.label-success Ответить
        - if boss?
          - if signed_in? and not child_comment.users.include?(current_user)
            =link_to({:action => :plus_comment, :id => child_comment.id, :against => false},  :remote => true, :method => :put,  id: "plus_comment_#{child_comment.id}") do
              %span.text-success За
              %span.text-success(id="plus_counter_comment_#{child_comment.id}")=child_comment.users_pro.count
              %span.glyphicon.glyphicon-thumbs-up.text-success
          -else
            %span.text-muted= "За #{child_comment.users_pro.count}"
            %span.glyphicon.glyphicon-thumbs-up.text-muted
      .time.pull-left
        =time_ago_in_words(child_comment.created_at)
      %br