.comments
  = render 'users/user_post', :user => comment.user
  .posts
    %a(name="comment_#{comment.id}")
    %span.namedate
      = comment.user.name_title
      ,
      = Russian::strftime(comment.created_at,"%d %B %k:%M:%S ")
    %br
    - if comment.censored?
      %br
        .error Комментарий удален модератором
    - else
      %p.comments=simple_format(comment.content)
    - if comment.users.include?(comment.post.user) and comment.user!= comment.post.user
      %b полезный комментарий
    - if boss?
      =link_to "Цензурировать",   {:action => :censored_comment, :id => comment.id}, :id => comment.id,:remote => true, :method => :put

    -if signed_in? and not comment.users.include?(current_user)
      .social
        =link_to "#{comment.users.count}",   {:action => :plus_comment, :id => comment.id}, :id => comment.id,:remote => true, :method => :put, class: "counter"
        =image_tag "like.png"
    -else
      .social
        = comment.users.count
        = image_tag "like.png"