= form_for comment, html: {id: 'comment_form', class: 'post-interfaces-add-comment'}, remote: true,
              url: url_for(controller: @post.nil? ? post.class.name.underscore.pluralize : @post.class.name.underscore.pluralize, action: 'add_comment', project: @project.id, id: @post.nil? ? post.id : @post.id), method: :put do |f|
  = render 'shared/notice_messages', object: f.object
  = f.text_field :content, id: "comment_text_field", type: 'text', placeholder: 'Ваш комментарий'
  %button.btn{:type => "submit"}
    = image_tag 'comment-button.png'


-#%br
-#.row(style="margin-left:0;margin-right:0;" )
-#  .col-md-12
-#    = form_for comment, html: {multipart: true, id: 'comment_form', class: 'add-comment'}, remote: true,
-#                  url: url_for(controller: @post.nil? ? post.class.name.underscore.pluralize : @post.class.name.underscore.pluralize, action: 'add_comment', project: @project.id, id: @post.nil? ? post.id : @post.id), method: :put do |f|
-#      = render 'shared/notice_messages', object: f.object
-#      -#@todo заменить на аватарку юзера
-#      -#= image_tag 'ava1.jpg', class: 'proj-comment-ava'
-#      -#= f.text_field :content, class: 'form-control', placeholder: 'Оставьте комментарий'
-#      =f.text_area :content, class: 'form-control input-transparent comment-textarea',  placeholder: t('form.comment_answer'), id: "comment_text_area"
-#      .pull-right
-#        -#=f.submit t('form.send'), class: 'btn btn-sm btn-info send-comment', id: 'send_comment'
-#        %button.btn.btn-sm.btn-info.send-comment#send_comment(type="submit")=t('form.send')

-#
-#
-#%br
-#
-#.row
-#  .col-md-12
-#    = form_for comment, html: {multipart: true, id: 'comment_form', class:'form-new-comment' }, remote: true,  url: url_link, method: :put do |f|
-#      = render 'shared/notice_messages', object: f.object
-#      =f.text_area :content, class: 'form-control input-transparent comment-textarea',  placeholder: t('form.comment_answer'), id:"comment_text_area"
-#      -#.pull-left.hidden-xs
-#      -#  = f.file_field :image
-#
-#      .pull-right
-#        %div(class="btn-group" data-toggle="buttons" id="change_comment_stat")
-#          -if @project.status < 4
-#            %label(class="btn btn-sm btn-default comment-problem" )
-#              = f.check_box :discontent_status
-#              =t('show.problem')
-#          -if @project.status < 8
-#            %label(class="btn btn-sm btn-default comment-idea" )
-#              = f.check_box :concept_status
-#              =t('show.idea')
-#
-#          - if advices_for_stage?(@project, @post.class.name.underscore.pluralize)
-#            %label#label_advice_status(class="btn btn-sm btn-default" onclick="color_button(this);")
-#              = check_box_tag :advise_status
-#              = t('show.advice')
-#
-#        -if @main_comment
-#          %button.btn.btn-danger.btn-sm(type="button" onclick="reset_child_comment_form(#{@main_comment.id}); return false;" )=t('form.cancel')
-#        =f.submit t('form.send'), class: 'btn btn-sm btn-info disabled send-comment', id: 'send_comment'
-#    %br
-#    %br
-#    .text-success#comment_success(style='display:none;')
-#      =t('form.comment_success')
-#    .text-success#advice_success_created(style='display:none;')
-#      = t('discontent.advice_success_created')
