.comments
  = render 'users/user_post', :user => comment.user
  .posts
    %span.namedate
      = comment.user.name_title
      ,
      = Russian::strftime(comment.created_at,"%d %B %k:%M:%S ")
    %br
    %p.comments=simple_format(comment.content)
    - if comment.users.include?(comment.user)
      %b полезный комментарий
    -if signed_in? and not comment.users.include?(current_user)
      .like
        =link_to "#{comment.users.count}",  path_link+comment.id.to_s+'/plus', :id => comment.id,:remote => true, :method => :put, class: "counter"
        =image_tag "like.png"
    -else
      .like
        = comment.users.count
        = image_tag "like.png"