.media.comment{id: "comment#{comment.id}"}
  .media-left
    -#= image_tag 'no-ava.png', class: "media-object img35 img-circle"
    -#= cl_image_tag comment.user.try(:avatar), class: 'media-object img35 img-circle'
    = link_to user_path(@project, comment.user) do
      = user_image_tag comment.user.try(:avatar), class: 'media-object img35 img-circle'
  .media-body
    %h5.media-heading.bold{id: "user_name_#{comment.id}"}
      = link_to comment.user, user_path(@project, comment.user)
    %span.comment_interf
      %span.date_time.theme_font_color
        =distance_of_time_in_words(comment.created_at, Time.now)
        назад
        -#=Russian::strftime(comment.created_at,'%k:%M')
      - if current_user?(comment.user) or boss?
        %span.dropdown.edit_comment{id: "redactor_comment_#{comment.id}"}
          %button.btn_reset{id: "edit_comment#{comment.id}", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-cog.fa-lg.theme_font_color
          %ul.dropdown-menu{"aria-labelledby" => "edit_comment#{comment.id}", :role => "menu"}
            %li
              %a.edit-comment{data:{ project: @project.id, id: comment.id, path: comment.post.class.name.underscore.pluralize}, id: "edit_comment_#{comment.id}", href: "#", tabindex: "-1"}
                %i.glyphicon.glyphicon-pencil>
                Редактировать
            %li
              = link_to({controller: comment.controller_name_for_action, action: :destroy_comment, id: comment.id}, method: :put, remote: true, data: { confirm: t('confirm.delete_comment')}, id: "destroy_comment_#{comment.id}", tabindex: "-1") do
                %i.glyphicon.glyphicon-remove>
                Удалить

        - if boss?
          = link_to({controller: comment.controller_name_for_action, action: :change_status_for_comment, id: comment.post.id, comment_id: comment.id, approve_status: true}, remote: true, method: :put, class: "link_status", id: "approve_stat_comment_#{comment.id}") do
            %span.badge.badge_important{class: "#{'theme_back_color' if comment.approve_status}"}= t('show.important')
        - elsif comment.approve_status
          %span.badge.badge_important.theme_back_color= t('show.important')
      %span{id: "cancel_comment_#{comment.id}"}
  -#.divider10
  -#%label.label.label-success Согласен
  -#label.label.label-danger Не согласен
  -#%span.font12 Пояснение:
  %p.font_grey.comment_text{id: "comment_text_#{comment.id}"}
    =comment.content
  .post-interfaces-buttons.text-left
    %span.bold
      %span(id="lk_comment_#{comment.id}")
        =comment.users_pro.count
      =link_to({controller: comment.controller_name_for_action, :action => :like_comment, :project => @project, :id => comment.id, :against => false}, :remote => true, :method => :put,
           id: "like_comment_#{comment.id}",'data-placement' => 'bottom','data-toggle' => 'tooltip', title:'Нравится') do
        %i.fa.fa-thumbs-up.theme_font_color

    %span.bold
      %span(id="dlk_comment_#{comment.id}")
        =comment.users_against.count
      =link_to({controller: comment.controller_name_for_action, :action => :like_comment, :project => @project,  :id => comment.id, :against => true}, :remote => true, :method => :put,
       id: "dislike_comment_#{comment.id}",'data-placement' => 'bottom','data-toggle' => 'tooltip', title:'Не нравится') do
        %i.fa.fa-thumbs-down.theme_font_color

    -#%button.rate_button{"data-for" => "comment#{comment.id}", "data-rate-action" => "like", :type => "button"}
    -#  %span.bold
    -#    %span(id="lk_comment_#{comment.id}")
    -#      =comment.users_pro.count
    -#    =link_to({controller: comment.controller_name_for_action, :action => :like_comment, :project => @project, :id => comment.id, :against => false}, :remote => true, :method => :put,
    -#     id: "like_comment_#{comment.id}",'data-placement' => 'bottom','data-toggle' => 'tooltip', title:'Нравится') do
    -#      %i.fa.fa-thumbs-up.theme_font_color
    -#%button.rate_button{"data-for" => "comment#{comment.id}", "data-rate-action" => "dislike", :type => "button"}
    -#  %span.bold
    -#    %span(id="dlk_comment_#{comment.id}")
    -#      =comment.users_against.count
    -#    =link_to({controller: comment.controller_name_for_action, :action => :like_comment, :project => @project,  :id => comment.id, :against => true}, :remote => true, :method => :put,
    -#     id: "dislike_comment_#{comment.id}",'data-placement' => 'bottom','data-toggle' => 'tooltip', title:'Не нравится') do
    -#      %i.fa.fa-thumbs-down.theme_font_color

    %button.reply-comment.reply_btn.collapsed{data:{ project: @project.id, id: comment.post.id, path: comment.post.class.name.underscore.pluralize, comment: comment.id}, id: "reply_comment_#{comment.id}",
     "data-target" => "#reply_form_#{comment.id}", "data-toggle" => "collapse", :type => "button",'data-placement' => 'bottom','data-toggle' => 'tooltip', title:'Перейти в обсуждение'}
      %span.bold
        %i.fa.fa-reply.theme_font_color
.divider10
%a.answers_collapse.opened{id: "answers_collapse_#{comment.id}", class: "#{comment.comments.present? ? 'theme_font_color' : 'font_grey'}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#answers_#{comment.id}"}
  -if comment.comments.size > 0
    %span.theme_font_color
      = t('stages.comments', count: comment.comments.size)
.com_answers.collapse.in{id: "answers_#{comment.id}"}
  .answers_subblock.level1
    - comment.comments.each do |c|
      = render partial: 'shared/comment', object: c
