.chat-message{id: "comment_#{comment.id}"}
  = render 'users/user_post', :user => comment.user
  -#-if comment.created_at > 1.day.ago
  -#  %span.label.label-danger за последние сутки
  .chat-message-body.stage_menu1{id: "comment_content_#{comment.id}"}
    .sender
      =link_to comment.user, user_path(@project, comment.user)
      = render partial: '/shared/user_online', object: comment.user
      =club_status_show_user(comment.user)
      - if comment.user.boss?
        %span.label.label-danger MD
    .text
      %div{id: "comment_text_#{comment.id}"}
        =simple_format(comment.content)
      - if current_user?(comment.user) or boss?
        %div.redactor{id: "redactor_comment_#{comment.id}"}
          =link_to 'Редактировать', {:action => :edit_comment, :id => comment.id},:remote => true, :class => "text-success",id: "edit_comment_#{comment.id}"
          \|
          = link_to 'Удалить', {:action => :destroy_comment, :id => comment.id}, :method => :put, :remote => true, :confirm => 'Удалить комментарий?', :class => "text-danger",id: "destroy_comment_#{comment.id}"
          -if boss?
            \|
            = select_tag 'select_for_aspects_comments', options_from_collection_for_select(@aspects, "id", "content"),
            :prompt => 'Выберите тему', :onchange => "select_for_aspects_comments(this,#{comment.id});"
      .pull-right
        - if boss?
          - if signed_in? and not comment.users.include?(current_user)
            =link_to({:action => :plus_comment, :id => comment.id, :against => false},  :remote => true, :method => :put,  id: "plus_comment_#{comment.id}") do
              %span.text-success За
              %span.text-success(id="plus_counter_comment_#{comment.id}")=comment.users_pro.count
              %span.glyphicon.glyphicon-thumbs-up.text-success

            -#=link_to({:action => :plus_comment, :id => comment.id, :against => true, }, :remote => true, :method => :put, id: "minus_comment_#{comment.id}") do
            -#  %span.text-danger Против
            -#  %span.text-danger(id="minus_counter_comment_#{comment.id}")=comment.users_against.count
            -#  %span.glyphicon.glyphicon-thumbs-down.text-danger

          -else
            %span.text-muted= "За #{comment.users_pro.count}"
            %span.glyphicon.glyphicon-thumbs-up.text-muted
            -#%span.text-muted= "Против #{comment.users_against.count}"
            -#%span.glyphicon.glyphicon-thumbs-down.text-muted
    -#.row
    -#  .col-md-10
    -#    %small.text-muted= Russian::strftime(comment.created_at,"%d %B %k:%M:%S ")
