.chat-message{id: "comment_#{comment.id}"}
  = render 'users/user_post', user: comment.user

  .chat-message-body.stage_menu1{id: "comment_content_#{comment.id}", class: "#{comment_stat_color(comment)}"}
    %span.arrow
    .sender
      =link_to comment.user, user_path(@project, comment.user)
      = render partial: '/shared/user_online', object: comment.user
      = role_label(comment.user)
      %span.pull-right
        =label_for_comment_status(comment,'discontent','Проблема')
        =label_for_comment_status(comment,'concept','Идея')
        -#=render partial: '/shared/label_for_comment_status', locals: {comment: comment, status: 'discontent', title: 'Проблема'}
        -#=render partial: '/shared/label_for_comment_status', locals: {comment: comment, status: 'concept', title: 'Идея'}
        - if boss? or role_expert?
          =link_to({controller: comment.controller_name_for_action, action: :comment_status, id: comment.post.id, comment_id: comment.id, discuss_status: 1, comment_stage: get_stage_for_improve(comment.get_class)},  remote: true, method: :put,  id: "discuss_stat_comment_#{comment.id}") do
            %span.label(class="#{label_discuss_stat(comment)}") ТРЕБУЕТ ОБСУЖДЕНИЯ
        - elsif comment.discuss_status
          %span.label-danger ТРЕБУЕТ ОБСУЖДЕНИЯ

    .text
      %div{id: "comment_text_#{comment.id}"}
        =simple_format(comment.content)
      - if current_user?(comment.user) or boss?
        %div.redactor{id: "redactor_comment_#{comment.id}"}
          =link_to 'Редактировать', {action: :edit_comment, id: comment.id},remote: true, class: "text-success",id: "edit_comment_#{comment.id}"
          \|
          = link_to 'Удалить', {action: :destroy_comment, id: comment.id}, method: :put, remote: true, data: { confirm: 'Удалить комментарий?' }, class: "text-danger",id: "destroy_comment_#{comment.id}"
          -if comment.get_class == "LifeTape" and boss? and comment.main_comment?
            \|
            = select_tag 'select_for_aspects_comments', options_from_collection_for_select(@aspects, "id", "content"),
            prompt: 'Выберите тему', onchange: "select_for_aspects_comments(this,#{@project.id},#{comment.id});"

      .pull-right
        -if comment.main_comment?
          =link_to({action: :add_child_comment_form, id: comment.post.id, comment_id: comment.id },  remote: true, method: :put, id: "add_child_comment_#{comment.id}") do
            %span.text-success Ответить
        -else
          =link_to({action: :add_child_comment_form, id: comment.comment.post.id, comment_id: comment.comment.id,answer_id: comment.id}, remote: true, method: :put,  id: "add_child_comment_#{comment.id}") do
            %span.text-success Ответить

        - if boss?
          =link_to({action: :plus_comment, id: comment.id},  remote: true, method: :put,  id: "plus_comment_#{comment.id}") do
            -if comment.useful
              %span.text-danger Забрать баллы
            -else
              %span.text-success Выдать баллы
      .time.pull-left
        =time_ago_in_words(comment.created_at)
      %br
      -if comment.main_comment?
        .col-md-12
          %br
          %div{id: "child_comments_#{comment.id}"}
            -unless comment.comments.empty?
              - comment.comments.each do |c|
                = render partial: 'shared/comment', object: c
          %div{id: "child_comments_form_#{comment.id}"}

