%li.media{id: "comment_#{comment.id}"}
  = render 'users/user_post', :user => comment.user
  .media-body
    =simple_format(comment.content)
    .pull-right
      - if signed_in? and not comment.users.include?(current_user)
        =link_to({:action => :plus_comment, :id => comment.id}, :id => comment.id,:remote => true, :method => :put,  id: "plus_comment_#{comment.id}", class:'disabled') do
          %span.text-success поддержать
          %span.text-success(id="counter_comment_#{comment.id}")=comment.users.count
          %span.glyphicon.glyphicon-thumbs-up.text-success
      -else
        %span.text-muted= "поддержать #{comment.users.count}"
        %span.glyphicon.glyphicon-thumbs-up.text-muted

