%tr 
	%td{:class => "gravatar"}
		= link_to gravatar_for(feed_item.user), feed_item.user
	%td{:class => "frustration"}
		%span{:class => "user"}
			= link_to feed_item.user.name, feed_item.user
		%span{:class => "content"}
			= link_to feed_item.content, feed_item
		%span{:class => "timestamp"} 
			Добавлено
			= time_ago_in_words(feed_item.created_at)
			назад. Комментариев - 
			= feed_item.frustration_comments.count
		- if !feed_item.structure
			%b Неуструктурирована 
	- if current_user?(feed_item.user)
		%td
			=link_to "cнять?", feed_item, :method => :delete, :confirm => "Точно?", :title => feed_item.content

