%tr 
	%td{:class => "gravatar"}
		= link_to gravatar_for(feed_item.user), feed_item.user
	%td{:class => "frustration"}
		%span{:class => "user"}
			%i= link_to feed_item.user.name_title, feed_item.user
		%span{:class =>"timestamp"}
			= Russian::strftime(feed_item.created_at,  "%A, %1d %B %T")
		
		%span{:class => "content"}
			- if not feed_item.archive? and  signed_in?
				= feed_item.content
				= link_to 'подробнее', feed_item
			-else 
				= feed_item.content

			- unless feed_item.old_content.nil?
				%br
				%small текст неструктурированной -
				%span{:class => "timestamp"}=feed_item.old_content


		%span{:class => "timestamp"} 
			негативные - 
			= feed_item.negative.count
			структурирующие -
			= feed_item.structure.count


