%tr 
	%td{:class => "gravatar"}
		= link_to gravatar_for(feed_item.user), feed_item.user
	%td{:class => "frustration"}
		= link_to feed_item.user.name_title, feed_item.user, :class => 'username'
		%span{:class =>"timestamp"}
			= Russian::strftime(feed_item.created_at,  "%A, %1d %B %T")
		
		%div{:class => "content"}
			- if not feed_item.archive? and  signed_in?
				= feed_item.content
			-else 
				= feed_item.content
			=feed_item.expert_content

			- if  (not current_page?(frustration_path(feed_item)) and signed_in? and not feed_item.archive?)				
				= link_to 'подробнее', feed_item
			- unless feed_item.old_content.nil?
				%br
				%small текст неструктурированной -
				%span{:class => "timestamp"}=feed_item.old_content



		%span{:class => "comments"} 
			негативные - 
			= feed_item.negative.count
			структурирующие -
			= feed_item.structure.count


