%tr 
	%td{:class => "gravatar"}
		= link_to gravatar_for(feed_item.user), feed_item.user
	%td{:class => "frustration"}
		%span{:class => "user"}
			%i= link_to feed_item.user.name, feed_item.user
		%span{:class => "content"}
			= link_to feed_item.content, feed_item
		%span{:class => "timestamp"} 
			Добавлено
			= time_ago_in_words(feed_item.created_at)
			назад. Негатива - 
			= feed_item.frustration_comments.where(:negative => true).count
			Структурных -
			= feed_item.frustration_comments.where(:negative => false).count
		- if !feed_item.structure
			%b Неуструктурирована 

