%br
%br
%h3 
	Чтобы добавить недовольство 
	%span.blue_undeline опишите его в колонках слева
	или 
	%span.blue_undeline	опишите своими словами в поле справа
%table.new_frustration
	%tr
		%td
			= form_for @frustration do |f|
				= render 'shared/error_messages', :object => f.object
				%label Чем вы недовольны?
				%br
				%field
					= f.text_area :what
				%div{:class=>'timestamp'} - отрицательное действие, явление, установление, черта...

				%label Где это происходит?
				%br
				%field
					= f.text_area :when
				%div{:class=>'timestamp'} -	место, организация, общность, в которой это происходит.
				
				%label Во время чего? 
				%br
				%field
					= f.text_area :wherin
				%div{:class=>'timestamp'} - в ходе какого события, мероприятия, процесса, ситуации...	
				
				%actions
					= f.submit "",  class: "btn"
				%span
					.remaining  &nbsp;осталось
					.countdown
		%td

		%td

			=form_for @frustration do |f|
				= render 'shared/error_messages', :object => f.object
				%label Опишите своими словами
				%br
				%field
					= f.text_area :content_text, :class => 'big_field'
				%actions
					= f.submit "", class: "btn"
				%span
					.remaining &nbsp; осталось
					.countdown
