%br
%br
%table
	%tr
		%td
			= form_for @frustration do |f|
				= render 'shared/error_messages', :object => f.object
				%label Что?
				%br
				%field
					= f.text_area :what
				%div{:class=>'timestamp'} - отрицательное действие, явление, установление, черта...

				%label Где?
				%br
				%field
					= f.text_area :when
				%div{:class=>'timestamp'} -	место, организация, общность, в которой это происходит.
				
				%label Когда? 
				%br
				%field
					= f.text_area :wherin
				%div{:class=>'timestamp'} - в ходе какого события, мероприятия, процесса, ситуации...	
				
				%actions
					= f.submit "",  class: "btn"
				%span
					.remaining  &nbsp;осталось
					.countdown

		%td
			=form_for @frustration do |f|
				= render 'shared/error_messages', :object => f.object
				%label Опишите свое недовольство
				%br
				%field
					= f.text_area :content_text, :class => 'big_field'
				%actions
					= f.submit "", class: "btn"
				%span
					.remaining &nbsp; осталось
					.countdown
