%br
%br
= form_for @frustration do |f|
	= render 'shared/error_messages', :object => f.object
	ЧТО? - отрицательное действие, явление, установление, черта...
	%br
	%field
		= f.text_area :what
	%br
	%label В ЧЕМ - 
	регулярное нужное или неизбежно случающееся событие, мероприятие, процесс, ситуация...	
	%field
		= f.text_area :wherin
	%br
	%label ГДЕ -
	место, организация, общность, в которой это происходит.
	%br
	%field
		= f.text_area :when
	%br
	%actions
		= f.submit "Послать",  class: "btn btn-large btn-primary"
	%span
		.remaining  &nbsp;осталось
		.countdown