- unless ENV['RAILS_ENV'] == 'test'
  - if current_user.admin?
    #moderator_chat_div
    - if current_user.chat_open?
      #chat_opened
    #last_seen_at{style: 'display: none'}
      = current_user.last_seen_chat_at
    #current_user_name{style: 'display: none'}
      = "#{current_user.name} #{current_user.surname}"
    #audio_new_message{style: 'display: none'}
      = audio_tag '/assets/new_message.wav'
    #old_title_page{style: 'display: none'}
