- if current_user.admin?
  - if current_user.chat_open?
    = link_to '', close_moderator_chat_user_path(@project, current_user), id: 'close_moderator_chat', method: :put, remote: true, style: 'display: none'
  - else
    = link_to '', open_moderator_chat_user_path(@project, current_user), id: 'open_moderator_chat', method: :put, remote: true, style: 'display: none'

  #moderator_chat_div
  #chat_log{style: 'display: none'}
    - ModeratorMessage.recent.each do |message|
      %div{id: "message_#{message.id}"}
        %b
          = "#{message.user}"
        %span
          = message.message
