- show_post||=:show
.wholePost
	= render 'users/user_post', :user => post.user
	.posts
		= render 'users/user_name', :user => post.user, :created_at => post.created_at
		- if not current_page?(url_for(params.merge(:project => @project, :id => post.id))) 
			%p
				= trim_string(post.content)
				= link_to "Подробнее",  {:action => show_post, :project => @project, :id => post.id}, class: "more"
		-else
			%p= post.content
			
		- if post.user == current_user 
			%br
			= link_to 'Редактировать', {:action => :edit, :project => @project, :id => post.id}
			= link_to 'Отправить в архив', {:action => :destroy, :project => @project, :id => post.id}, :method => :delete, :data => { :confirm => 'Точно?' }

		= render 'shared/post_social_bar', :post => post

.dotline=image_tag('dotline.png')