.media{id: "post_#{post.id}"}
  = render 'users/user_post', :user => post.user
  .media-body
    = render partial: 'discontent/aspects/aspect', collection: post.discontent_aspects
    %br
    %p.text-justify
      = raw(post.content)
    .row
      .col-md-10
        %small.text-muted= Russian::strftime(post.created_at,"%d %B %k:%M:%S ")

    = render 'shared/post_social_bar', :post => post
    %br
    %br
    - if signed_in?
      = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => post.class.name.underscore.pluralize, :action => 'add_comment')}

    %ul.media-list#comments
      = render :partial => 'shared/comment',:collection => @comments
    = will_paginate @comments

