.media{id: "post_#{post.id}"}
  = render 'users/user_post', :user => post.user
  .media-body
    = render partial: 'discontent/aspects/aspect', collection: post.discontent_aspects
    -#-post.discontent_aspects.each do |asp|
    -#  %span.label.label-info=asp.content
    %br
    %p.text-justify
      = trim_string(raw(post.content))
      = link_to 'подробнее',  {:controller => post.class.name.underscore.pluralize, :action => :show, :project => @project, :id => post.id}

    .row
      .col-md-10
        %small.text-muted= Russian::strftime(post.created_at,"%d %B %k:%M:%S ")

    = render 'shared/post_social_bar2', :post => post


-#.wholePost
-#    = render 'users/user_post', :user => post.user
-#    .posts
-#        = render 'users/user_name', :user => post.user, :created_at => post.created_at
-#        -post.discontent_aspects.each do |asp|
-#            =asp.content
-#
-#        - if not current_page?(url_for(params.merge(:project => @project, :id => post.id)))
-#            %p
-#                - if post.censored
-#                    %br
-#                    .error
-#                        Пост удален модератором
-#                -else
-#                    = trim_string(raw(post.content))
-#
-#                -#- if post.attributes.has_key? 'aspect_id' and !post.aspect.nil?
-#                -#    %br
-#                -#     /%b="#{post.aspect.content}  фрагмент"
-#                - if  post.instance_of? Question::Post
-#                    - if post.comments.size>0
-#                        %br
-#                        %b Есть ответ!
-#                = link_to 'Подробнее',  {:controller => post.class.name.underscore.pluralize, :action => show_post, :project => @project, :id => post.id}, class: "more"
-#        -else
-#
-#            - if post.censored
-#                %br
-#                .error
-#                    Пост удален модератором
-#            - else
-#                %p= simple_format(post.show_content)
-#            - if post.attributes.has_key? 'aspect_id' and !post.aspect.nil?
-#                %b="#{post.aspect.content}  фрагмент"
-#            %br
-#            - if boss?
-#                = link_to 'Цензурировать', :controller => post.class.name.underscore.pluralize, :action => 'censored', :project => @project, :post_id => post, :remote=>:true
-#            - if boss? or post.user == current_user
-#                = link_to 'Редактировать',:controller => post.class.name.underscore.pluralize, :action => 'edit', :project => @project, :id => post
-#                \|
-#                = link_to 'Назад', url_for(:action => 'index')
-#
-#
-#        - if post.user == current_user
-#            %br
-#            / = link_to 'Редактировать', {:action => :edit, :project => @project, :id => post.id}
-#            / = link_to 'Отправить в архив', {:action => :destroy, :project => @project, :id => post.id}, :method => :delete, :data => { :confirm => 'Точно?' }
-#
-#        = render 'shared/post_social_bar', :post => post
-#
-#.dotline=image_tag('dotline.png')
-#- if current_page?(url_for(params.merge(:project => @project, :id => post.id)))
-#    - if signed_in?
-#        = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => post.class.name.underscore.pluralize, :action => 'add_comment')}
-#
-#    = render :partial => 'shared/comment',:collection => @comments
-#    = will_paginate @comments
