.row
  .col-md-12
    .pull-right
      =post.number_views
      %span.glyphicon.glyphicon-eye-open
      |
      - if signed_in? and not post.users.include?(current_user)
        =link_to({:controller => post.class.name.underscore.pluralize ,:action => :plus, :project => @project,:status=>0, :aspect=>0,  :id => post.id, :against => false,  :remote => true},:method => :put, id: "plus_post_#{post.id}") do
          %span.text-success За
          %span.text-success(id="plus_counter_#{post.id}")=post.users_pro.count
          %span.glyphicon.glyphicon-thumbs-up.text-success
        =link_to({:controller => post.class.name.underscore.pluralize ,:action => :plus, :project => @project,:status=>0, :aspect=>0,  :id => post.id, :against => true, :remote => true}, :method => :put, id: "minus_post_#{post.id}") do
          %span.text-danger Против
          %span.text-danger(id="minus_counter_#{post.id}")=post.users_against.count
          %span.glyphicon.glyphicon-thumbs-down.text-danger
      -else
        - if boss?
          =link_to({:controller => post.class.name.underscore.pluralize ,:action => :plus, :project => @project,:status=>0, :aspect=>0,  :id => post.id, :against => false,  :remote => true},:method => :put, id: "plus_post_#{post.id}") do
            %span.text-success
              %b За
            %span.text-success(id="plus_counter_#{post.id}")=post.users_pro.count
            %span.glyphicon.glyphicon-thumbs-up.text-success
          =link_to({:controller => post.class.name.underscore.pluralize ,:action => :plus, :project => @project,:status=>0, :aspect=>0,  :id => post.id, :against => true, :remote => true}, :method => :put, id: "minus_post_#{post.id}") do
            %span.text-danger
              %b Против
            %span.text-danger(id="minus_counter_#{post.id}")=post.users_against.count
            %span.glyphicon.glyphicon-thumbs-down.text-danger
        - else
          %span.text-muted= "За #{post.users_pro.count}"
          %span.glyphicon.glyphicon-thumbs-up.text-muted
          %span.text-muted= "Против #{post.users_against.count}"
          %span.glyphicon.glyphicon-thumbs-down.text-muted



      |
      = link_to(:controller => post.class.name.underscore.pluralize, :action => :show, :project => @project, :id => post.id) do
        Комментировать
        =post.comments.count
        %span.glyphicon.glyphicon-comment