- if signed_in?
  - cache @closed_projects do
    - if @closed_projects.present?

      -#%h4
      -#  %strong
      -#    = t('show.project.closed')
      - @closed_projects.each do |project|
        .widget-block-procedure
          .row
            .col-md-6.col-md-offset-1
              %h4
                = image_tag ('md_icon.png')
                = project.name
            -#%b
            -#  ="(#{project.main_stage} стадия)"
            .col-md-2
              %h4
                %i.fa.fa-users.font_red
                30 участников
            .col-md-3
              = link_to current_stage_url(project), class:'btn  btn-danger', id: "go_to_closed_project_#{project.id}" do
                = t('link.go_to_project')
        .divider20
  - cache @opened_projects do
    - if @opened_projects.present?
      -#%h4
      -#  %strong
      -#    = t('show.project.opened')
      - @opened_projects.each do |project|
        .widget-block-procedure
          .row
            .col-md-6.col-md-offset-1
              %h4
                = image_tag ('md_icon.png')
                = project.name
            -#%b
            -#  ="(#{project.main_stage} стадия)"
            .col-md-2

              %h4
                %i.fa.fa-users.font_red
                30 участников
            .col-md-3
              = link_to current_stage_url(project), class:'btn btn-danger', id: "go_to_opened_project_#{project.id}" do
                = t('link.go_to_project')
        .divider20