.body
  = form_for @news, url: {project: @project.id,  action: @news.persisted? ? 'update' : 'create'}, class: 'form form-horizontal' do |f|
    = render 'shared/notice_messages', object: f.object
    %fieldset
      .form-group
        = f.label :title, t('news.title')
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :body, t('news.body')
        = f.text_area :body, class: 'form-control'
      .form-group
        .col-sm-offset-2
          = f.submit t('form.save'), class: 'button btn btn-success pull-right', id: 'save_news'
