%section.widget.padding-increased
  %header
    %h4
      Новости от экспертов
    - if current_user.prime_admin? or current_user.expert?
      = link_to 'Добавить новость', new_news_path, class: 'btn btn-success'
    %hr/

  .body.no-margin
    - @news.each do |news|
      %section.search-result
        %h4
          = news.title
        %p
          = "#{news.body[0..100]}..."
        %p
          = link_to 'Подробнее', news_path(@project, news), id: "show_news_#{news.id}", class: 'btn btn-success'
