= link_to "/project/#{@project.id}" do
  %span.fa.fa-angle-double-left
  = t('link.back_proc')
%section.widget
  .body
    %h4
      = @news.title
    %div
      - if current_user?(@news.user)
        = link_to edit_news_path(@project, @news), id: "edit_news_#{@news.id}" do
          %span.glyphicon.glyphicon-pencil.text-success
        = link_to news_path(@project, @news), method: :delete, data: { confirm: t('confirm.delete_news') }, id: "destroy_news_#{@news.id}" do
          %span.glyphicon.glyphicon-remove.text-danger

    =simple_format @news.body

