%div.well
  %ul.nav.nav-pills.nav-stacked{:id => "sortable"}
    -@stages.each do |s|
      %li{class: "ui-state-default #{'active' if s.stage==params[:id].to_i or (s.stage == 1 and params[:id].nil?)}",stage:"#{s.stage}", id: "#{s.id}"}
        %a(href="/project/#{@project.id}/knowbase/posts/#{s.stage}")
          %div{id: "knowbase_left_title_#{s.id}"}
            =s.title
