-#$('#knowbase_post').html("#{escape_javascript(render  :partial => 'knowbase_post', :locals => { :post => @post})}");
-#$('#sortable').append('<li class="ui-state-default" id="#{@post.id}" stage="#{@post.stage}"><a href="/project/#{@project.id}/knowbase/posts/#{@post.id}"><div id="knowbase_left_title_#{@post.id}">#{@post.title}</div></a></li>');
-#$('#post_success').fadeIn('slow').delay(1000).fadeOut('slow');

-#- if object.errors.any?
-#$('#error_msg').html("#{escape_javascript(render  :partial => 'shared/error_messages',  :locals => { :object => @post} )}");