- if @aspect.valid?
  $('#notice_messages').hide();
  $('#create_aspect_success').fadeIn(3000).fadeOut('slow');
  $('#core_aspect_post_content').val('');
  $('#core_aspect_post_short_desc').val('')
  $("#open_my_#{@project.current_stage_type}").text("#{t("my.#{@project.current_stage_type}")} (#{current_user.content_for_project(@project).count})");
  $("#open_my_#{@project.current_stage_type}").fadeOut('slow').fadeIn('slow');
- else
  $('#notice_messages').html("#{escape_javascript(render 'shared/notice_messages', object: @aspect)}");
