.divider10
%div{id: "novation_notices_#{@novation.id}"}
  = render partial: 'shared/create_success', locals: {model_name: 'novation', id: @novation.id}
= form_for @novation, url: {project: @project.id, action: @novation.persisted? ? 'update' : 'create', id: @novation.id}, remote: true, class: 'cabinet-aspect-form' do |f|
  .content_window.white
    .cont_heading.bold
      - if @novation.persisted?
        %span.pocket_name.breadcr
        = link_to user_content_novation_posts_path(@project), class: 'a_font_reset bold', id: 'open_user_content_from_edit' do
          Мои пакеты
          %small &gt;
      = f.text_area :title, rows: 1, class: 'form-control transp_ta', placeholder: t('activerecord.attributes.novation/post.title')
    .divider25
    .row
      #for_hidden_fields
      .col-md-7
        - @novation.attributes_for_form.each do |type_attribute|
          %a.a_font_reset.collapser_type2.collapsed.with_plus{'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: "#cab4-#{type_attribute.first}"}
            = t("activerecord.attributes.novation/post.#{type_attribute.first}")
            %i.fa.fa-plus.font_color_stage4.collapse_plus
          .collapse{id: "cab4-#{type_attribute.first}"}
            .divider5
            - type_attribute.second.each do |attribute, bool_attribute|
              %h6.bold
                = t("activerecord.attributes.novation/post.#{attribute}")
              - if bool_attribute
                .input-group
                  = f.radio_button "#{attribute}_bool".to_sym, true
                  = label "#{attribute}_bool".to_sym, 'Да'
                .input-group
                  = f.radio_button "#{attribute}_bool".to_sym, false
                  = label "#{attribute}_bool".to_sym, 'Нет'
              = f.text_area attribute.to_sym, class: 'form-control ta_icon', rows: 3
              .divider15

      .col-md-5
        %h6.bold.open-popup.cab_modal_opnr{"data-placement" => "cabinet4", "data-target" => "1"} Выберите идеи
        .divider_1_grey
        .divider20
        .selected_concepts
          - if @novation.persisted?
            - @novation.novation_concepts.each do |concept|
              %p.bold{id: "selected_concept_#{concept.id}"}
                = concept.title
    .divider50
    .divider_1_grey
    .divider20
    = f.submit t("form.#{action_name}"), id: 'send_post_novation', class: 'btn add-button type2 pull-right'
    - if @novation.persisted? and !@novation.published?
      = link_to 'Опубликовать', publish_novation_post_path(@project, @novation), remote: true, method: :put, id: "publish_#{@novation.id}", class: 'btn add-button type2 pull-right'
    - if @novation.persisted?
      = link_to 'Удалить', novation_post_path(@project, @novation), method: :delete, data: {confirm: t('confirm.delete_novation')}, id: "destroy_novation_#{@novation.id}", class: 'btn add-button type2 del pull-right'
