.col-sm-4.vote_item_cont.item_expandable.h_2{id: "post_vote_#{post_vote.id}"}
  .vote_item.themes_cont
    .heading_cont.blackonwhite
      %h6
        = trim_content(post_vote.title, 50)
    %p
      =post_vote.content

    .post-theme{id: "stripe#{post_vote.id}"}
      - post_vote.novation_concepts.each_with_index do |post, index|
        %span.tag-stripes.color_me{class: "#{'active' if index == 0}", "data-me-action" => "background-color", "data-me-color" => "#{index+1}", "data-me-type" => "imperf"}
          %span.tags
            = trim_content(post.title, 30)

    .divider15
    .vote_controls.text-center
      %button.btn.vote_button.v_b_text.v_btn_2{data: {project: @project.id, id: post_vote.id, status: 1, stage: vote_novation_post_path(@project, post_vote.id, status: 1).split('/')[3]}, class: "#{'voted' if status == 1}", "data-icon-class" => "fa-check", "data-vote-role" => "vote_yes", :role => "button"}
        Да
      %button.btn.vote_button.v_b_text.v_btn_3{data: {project: @project.id, id: post_vote.id, status: 2, stage: vote_novation_post_path(@project, post_vote.id, status: 2).split('/')[3]}, class: "#{'voted' if status == 2}", "data-icon-class" => "fa-minus", "data-vote-role" => "vote_no", :role => "button"}
        Нет
      %span.vote_open_detail.grey
        %i.fa.fa-angle-right.font_white
      .divider15

