.row.md-vote-container
  - @user_voter.content_for_vote(@project, status).each do |post_vote|
    .col-sm-4.md_vote_item_cont.item_expandable.h_2{ id: "post_vote_#{post_vote.id}" }
      .vote_item
        .vi_head
          %h6
            = trim_content(post_vote.title, 50)
        .vi_body
          %p
            = post_vote.content

        .post-theme{ id: "stripe#{post_vote.id}" }
          - post_vote.novation_concepts.each_with_index do |post, index|
            %span.tag-stripes.color_me{ class: "#{'active' if index == 0}", 'data-me-action' => 'background-color',
              'data-me-color' => "#{index + 1}", 'data-me-type' => 'imperf' }
              %span.tags
                = trim_content(post.title, 30)
        .vote_controls
          - @project.vote_folders.each do |number_folder, folder|
            - if number_folder > 0
              = link_to '', vote_novation_post_path(@project, post_vote.id, status: number_folder), id: "vote_button_#{post_vote.id}_#{number_folder}",
                method: :put, remote: true, class: "tooltip_b #{'voted ' if status == number_folder}vote-btn1_#{number_folder + 1}",
                'data-icon-class' => 'fa-exclamation', 'data-vote-role' => "#{status == number_folder ? 'all' : folder[:role]}",
                'data-vote-default-role' => "#{folder[:role]}", title: t("vote.#{@project.current_stage_type}.#{folder[:role]}.title_button").try(:html_safe)

          -#%span.vote_open_detail.grey
          -#  %i.fa.fa-angle-right.font_white
