.col-md-6.novation-block{id: "novation_post_#{post_short.id}", class: "#{post_concept_classes(post_short)}", data: {id: "id-#{post_short.id}", date: "#{post_short.created_at.to_datetime.to_f}",
                            comment: "#{post_short.last_comment.present? ? post_short.last_comment.created_at.to_datetime.to_f : 0}"}}
  .full_post
    - if boss? or role_expert? or stat_expert?
      .post-top-header
        =link_to({controller: post_short.class.name.underscore.pluralize, action: :plus, project: @project.id, id: post_short.id}, remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if post_short.useful}", id: "plus_post_#{post_short.id}") do
          %i.fa.fa-trophy.fa-lg
        = link_to({controller: post_short.class.name.underscore.pluralize, action: :discuss_status, project: @project.id, id: post_short.id, approve_status: true}, remote: true, method: :put, class: "btn btn-white btn-xs link_status #{'theme_font_color' if post_short.approve_status}", id: "approve_stat_post_#{post_short.id}") do
          %i.fa.fa-bookmark.fa-lg
        %a.btn.btn-white.btn-xs.link_status
          %i.fa.fa-exclamation-triangle.fa-lg
    .post.post_type_3.no_head
      %div{"data-important" => "#{post_short.id}", class: "#{'' if post_short.approve_status}"}
        %div.important.theme_font_color
          %i.fa.fa-bookmark.fa-2x
      .post-header.white
      .post-body.ch_action{"data-for" => "post_ch#{post_short.id}"}
        .media
          .media-left.text-center.gradient.post-poster
            -#= image_tag 'no-ava.png', class: "img-circle img50"
            = user_image_tag post_short.user.try(:avatar), class: 'img-circle img40'
            %p.poster-name
              =post_short.user
            %p.time.text-center
              = Russian::strftime(post_short.created_at,'%d.%m.%Y')
          .media-body.white-gray
            = link_to({action: :show, project: @project, id: post_short.id}, remote: true, id: "show_record_#{post_short.id}") do
              .post-text
                %p
                  = trim_content(post_short.title)
                .pull-right
                  %i.fa.fa-angle-right
            .post_cont_hover.post_tall.white{id: "post_ch#{post_short.id}"}
              .wrapper.ps_cont.half_wheel_speed
                .post_cont_inner
                  -post_short.comments.preview.each do |comment|
                    .comment_preview
                      %span.bold.com_date
                        = Russian::strftime(comment.created_at,'%k:%M %d.%m.%y')
                      %span.bold
                        ="#{comment.user}:"
                      =comment.content

      .post-bottom.white
        .row
          .col-md-1.col_padding_right_3
            %small.pull-left{:style => "margin-right: 3px;"} Идеи
          .col-md-8.col_padding_right_3.themes_cont
            .post-theme{id: "stripe#{post_short.id}"}
              - post_short.novation_concepts.each_with_index do |post, index|
                %span.tag-stripes.color_me{class: "#{'active' if index == 0}", "data-me-action" => "background-color", "data-me-color" => "#{index+1}", "data-me-type" => "imperf"}
                  %span.tags
                    = trim_content(post.title, 30)
          .col-md-3.col_padding_left_3
            .text-right.small_icons
              %span.popup2.comments_icon{"data-for" => "post_ch#{post_short.id}"}
                %small(class="cc_post_#{post_short.id}")
                  = post_short.comments.count
                %i.fa.fa-comment-o
              %span.popup2
                %small(id="lk_post_#{post_short.id}" class="lk_post_#{post_short.id}")
                  = post_short.users_pro.count
                = link_to({controller: post_short.class.name.underscore.pluralize, action: :like, project: @project, id: post_short.id, against: false}, remote: true, method: :put, id: "like_post_#{post_short.id}") do
                  %i.fa.fa-thumbs-o-up.fa-flip-horizontal
              %span.popup2
                %small(id="dlk_post_#{post_short.id}" class="dlk_post_#{post_short.id}")
                  = post_short.users_against.count
                = link_to({controller: post_short.class.name.underscore.pluralize, action: :like, project: @project,  id: post_short.id, against: true}, remote: true, method: :put, id: "dislike_post_#{post_short.id}") do
                  %i.fa.fa-thumbs-o-down.fa-flip-horizontal
              -#-if post_short.notes.present?
              -#  %span.popup2
              -#    %i.fa.fa-exclamation-triangle.font_lighter_grey
