- unless show_check_field?(name_controller.to_s+'_intro')
  = render partial: 'popup_welcome'
- if @user_voter
  = render partial: 'popup_vote'
- if @project_result
  = render partial: 'popup_results'
.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading#filter{data: {visit: last_time_visit_page('novation')}}
        Пакеты идей
        %span#count_novations
          ="(#{@posts.count})"
    .col-md-5
      .pull-right
        - if @project.can_add?(name_controller) || @project.status == 100
          = link_to new_novation_post_path(@project, type_mechanic: 'simple'), id: 'new_novation_posts' do
            %button.btn.add-button
              %span
                = t('techniques.novation_posts_simple')
        - else
          = link_to({action: :show_results, project: @project.id}, remote: true, id: "show_results") do
            .results{class: "#{show_check_field?('results_'+name_controller.to_s) ? 'results_blue' : 'results_red'}","data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Показать итоги стадии"}

      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort-1.sort_btn.sprite.sprite-1_4.sort-comment{data: {name: 'sort', desc: 0, type: 'comment'},"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Сортировать по новым комментариям"}
            -#- new_comments = @project.novations.after_last_visit_comments(last_time_visit_page('novation')).size
            -#- if new_comments > 0
            -#  %span.badge-red
            -#    = new_comments
            - if @presenter.content_after_last_visit_for[:comments] > 0
              %span.badge-red
                = @presenter.content_after_last_visit_for[:comments]
          %span#tooltip3_2.sort-2.sort_btn.sprite.sprite-2_4.tooltip1.sort-date.active{data: {name: 'sort', desc: 0, type: 'date'}, "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Сортировать по новым нововведениям"}
            -#- new_posts = @project.novations.after_last_visit_posts(last_time_visit_page('novation')).size
            -#- if new_posts > 0
            -#  %span.badge-red
            -#    = new_posts
            - if @presenter.content_after_last_visit_for[:posts] > 0
              %span.badge-red
                = @presenter.content_after_last_visit_for[:posts]

.stage-post-block
  .row#tab_concept_novations
    -#= render partial: 'post_short', collection: @posts




