- if shown_intro('novation_intro') == ''
  = render partial: 'popup_welcome'
- if @user_voter
  = render partial: 'popup_vote'
- if @project_result
  = render partial: 'popup_results'
.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Пакеты идей
        %span#count_novations
          ="(#{@posts.count})"
    .col-md-5
      .pull-right
        - if @project.stage == '4:0' or @project.status == 100
          = link_to new_novation_post_path(@project, type_mechanic: 'simple'), id: 'new_novation_posts' do
            %button.btn.add-button
              %span
                = t('techniques.novation_posts_simple')
        - else
          = link_to({action: :show_results, project: @project.id}, remote: true, id: "show_results") do
            .results{class: "#{show_results?('results_'+name_controller.to_s) ? 'results_blue' : 'results_red'}","data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Показать итоги стадии"}

      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span#sorter
          %span.sort-1.sort_btn.sprite.sprite-1_4.sort-comment{data: {name: 'sort', desc: 0, type: 'comment'},"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Сортировать по новым комментариям"}
            - new_comments = @project.novations.after_last_visit_comments(last_time_visit_page('novation')).size
            - if new_comments > 0
              %span.badge-red
                = new_comments
          %span#tooltip3_2.sort-2.sort_btn.sprite.sprite-2_4.tooltip1.sort-date.active{data: {name: 'sort', desc: 0, type: 'date'}, "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Сортировать по новым нововведениям"}
            - new_posts = @project.novations.after_last_visit_posts(last_time_visit_page('novation')).size
            - if new_posts > 0
              %span.badge-red
                = new_posts


.stage-post-block
  .row#tab_concept_novations
    -#= render partial: 'post_short', collection: @posts




