- @content.each do |post_short|
  .post_full
    .post_block
      .post_body
        .post_poster
          .cab_folder{ class: (post_short.published? ? 'folder_p' : 'folder_r') }
            #{post_short.fullness}%
          %p
            = l(post_short.created_at, format: '%d.%m.%Y')
        .post_content
          .about
            = post_short.title
            - if current_user?(post_short.user) && can_edit_content?
              .edit-icon
                = link_to edit_novation_post_path(@project, post_short), id: "edit_novation_#{post_short.id}" do
                  %i.glyphicon.glyphicon-pencil
                = link_to novation_post_path(@project, post_short), method: :delete, data: { confirm: t('confirm.delete_novation') },
                      id: "destroy_novation_#{post_short.id}" do
                  %i.glyphicon.glyphicon-trash
            = link_to novation_post_path(@project, post_short), remote: true, id: "show_novation_#{post_short.id}" do
              %span.right_icon
                %i.fa.fa-angle-right
