%h3=@title
/ - if signed_in? and (user? or admin?)
/ 	= link_to image_tag('/assets/add_dissatisfaction.png'), current_user
/ - if active_form_frustration?
/ 	%h1{:class => "frustration"} Добавить неудовлетворенность
/ 	= render "shared/frustration_form"
- if current_user.nil?
	Авторизуйтесь, пожалуйста, чтобы начать голосование!
- elsif @voted and !current_user.nil? and  current_user.frustration_forecasts.empty?
	Перед началом голосования сделайте свой прогноз!
	= form_for current_user, :url => forecast_user_path(current_user) do |f|
		= select_tag 'forecast[1]', options_from_collection_for_select(@frustrations_feed, "id", "what"), :prompt => "Выберите первое место"
		%br
		= select_tag 'forecast[2]', options_from_collection_for_select(@frustrations_feed, "id", "what"), :prompt => "Выберите второе место"
		%br
		= select_tag 'forecast[3]', options_from_collection_for_select(@frustrations_feed, "id", "what"), :prompt => "Выберите третье место"
		%br
		%label 
			%b Опишите почему вы выбрали эти поля? 
		%br
		%field
			= text_area_tag :essay
		%div.timestamp - не обязательно
		%actions
			=f.submit "", class: 'btn'

= render "frustrations/feed_frustrations"



