%h3=@title
/ - if signed_in? and (user? or admin?)
/ 	= link_to image_tag('/assets/add_dissatisfaction.png'), current_user
/ - if active_form_frustration?
/ 	%h1{:class => "frustration"} Добавить неудовлетворенность
/ 	= render "shared/frustration_form"
- if current_user.nil?
	Авторизуйтесь, пожалуйста, чтобы начать голосование!
- elsif not @voted
	= link_to image_tag('add_discontent.png'), new_frustration_path
- elsif @voted and !current_user.nil? and  current_user.frustration_forecasts.empty?
	Перед началом голосования вы можете, если захотите, сделать свой прогноз! Если вы угадаете недовольство, которое по итогам голосования попадет в тройку набравших наибольшее число голосов, то получите 5 призовых баллов, а если вы угадаете еще и его точное место, то еще  + 5 баллов. 
	= form_for current_user, :url => forecast_user_path(current_user) do |f|
		= select_tag 'forecast[1]', options_from_collection_for_select(@frustrations_feed, "id", "what_short"), :prompt => "Выберите первое место"
		%br
		%br
		= select_tag 'forecast[2]', options_from_collection_for_select(@frustrations_feed, "id", "what_short"), :prompt => "Выберите второе место"
		%br
		%br
		= select_tag 'forecast[3]', options_from_collection_for_select(@frustrations_feed, "id", "what_short"), :prompt => "Выберите третье место"
		%br
		%br
		%label 
			%b Вы можете, если захотите, написать краткое эссе об этапе выявления насущных недовольств, отвечая на следующие 
			= link_to 'вопросы:', '/help#01'
			%b Заметьте, что это задание из контрольной работы и его все равно придется выполнить, но если вы сделаете это сейчас и интересно, то  можете получить 20 баллов от эксперта!
		%br
		%field
			= text_area_tag :essay
		%div.timestamp - не обязательно
		%actions
			=f.submit "", class: 'btn'
	%br
	%br
	%h3 Проголосуйте, пожалуйста, за каждое недовольство
	Обратите внимание, что недовольства являются обобщением принятых и  в них опущены ответы на вопросы "Когда" и "Где", поскольку они для всех одни и те же - "В обучении" и "В ИОО".



= render "frustrations/feed_frustrations"



