%h3 Отзывы пользователей
%br
=link_to 'Вернуться на главную страницу','/'
%br
%br

.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=korovinalv'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Людмила Коровина, 31 января 19:52:08 
    %br
    Во-первых, Олег, спасибо Вам за столь интересный курс. Время покажет, сможем ли мы применить полученные в ходе изучения курса занния на практике, но, думаю, зная о том, что существуют методики рационального принятия решений и у нас была возможность с ними работать, мы будем задумываться о применении их в реальной жизни. Лично мне было очень интересно работать на протяжении всего курса.  Надеюсь, что изучение курса по принятию решений отразится на моей дальнейшей жизни. Спасибо!         
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=karpovann'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Наталья Карпова, 1 февраля 9:55:32  
    %br
    В начале процедуры было сложно понять, что же от нас требуется и что за этим последует. Потом, по мере прояснения, уже на втором этапе процедуры было интересно читать предложенные студентами идеи. Мне так захотелось написать об идее, что собственно я и сделала, в которую вошли мои мысли о стремлении к получению именно тех знаний, которые необходимы на сегодняшний день большинству студентов. Затем, уже на основе этой идеи написать концепцию. На этом этапе, по моему мнению, не все студенты справились с грамотным составлением концепции, потому как, уже на следующем этапе, при написании проекта эти концепции приходилось дорабатывать. В связи с этим над проектом пришлось довольно долго думать, заново разрабатывать (дорабатывать) задачи. Это очень большой труд всех авторов представленных проектов. Но как оказалось последний этап – оценивание и вызвал общие трудности при оценивании проектов. В ходе всей процедуры надо было очень много думать, размышлять, принимать решения, анализировать, вносить свои идеи, правильно формулировать те или иные задачи. Раньше нам не приходилось сталкиваться с таким большим объемом информации, которую нужно было не только прочитать, понять, но и быстро на нее отреагировать. Спасибо Олегу и Андрею за терпение и понимание. Могу точно сказать, что данная процедура не пройдет бесследно для студентов активно принимающих участие. Это большой опыт в новом начинании и возможность мыслить по-другому!

%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=milovidovaas'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Анна Кардаш , 31 января 20:23:12
    %br 
    Всем добрый день! 
    Хотелось бы поблагодарить создателей данной процедуры и студентов в ней участвовавших, экспертов. 
    Отдельное спасибо хочется сказать Андрею Малыгину и Олегу Савельзону - за терпение, понимание, помощь и оперативные ответы на вопросы, которые возникали в ходе каждого этапа. 
    В целом о процедуре остались только положительные эмоции. 
    Можно сказать, что сам курс «Принятие эффективных решений» помог пересмотреть взгляд на многие вещи. Конкретно, я имею в виду изменилось видение того как принимать решения, которые в дальнейшем будут более эффективными. Выделять конкретные «недовольства» и разрабатывать поэтапно то решение, которое хотелось бы видеть в конечном результате. Учитывать возможные ресурсы, средства их создания и главное правильно сделать выбор методов решения поставленных перед нами задач. Чтобы все они были реальными и актуальными. 
    Также было интересно наблюдать, как твою работу оценивают со стороны и студенты и эксперты, а также анализировать работы других студентов. 
    Конечно, очень хотелось бы видеть старания не только студентов, но и преподавательского состава. У всех есть свои недовольства и свое определенное видение для их разрешения. 
    Было бы замечательно, если бы данная процедура не просто прошла «незаметно», а были бы сделаны определенные выводы. То есть взять за основу, какой-либо проект или синтезировать из представленных проектов один общий, наиболее актуальный, продуктивный, в котором будут представлены те ресурсы, которые действительно будут созданы. И приступать к его реализации. Мне, кажется, что даже те студенты, которые не были активны при проведении данной процедуры, быстро включаться в процесс по улучшению ДО. 
    Мои пожелание и студентам и сотрудникам ДО: 
    «Давайте совместными усилиями улучшать ДО СГУ и повышать качество образования!». 
    Спасибо!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=rebrovayus'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Юлия Реброва , 01 февраля 2:55:23
    %br
    Доброе Утро! Спасибо за интересную процедуру Принятия решений.Возможно нам она и не пригодится в жизни , но мы получили бесценный опыт, хотя сначала было и не все понятно ,иногда об бессилия что- то понять хотелось все бросить, но Вы смогли нас так заинтересовать , что сделать это было невозможно! Успокоившись я приступала к новому этапу. Лично для меня процедура не прошла бесследно. Спасибо Вам огромное , что встряхнули нас и заставили попробовать делать то , что никто в мире еще не делал!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=ovseycevev'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Эдуард Овсейцев , 01 февраля 4:57:46
    %br
    В целом узнал для себя много нового, разумеется эти знания пригодятся в моей дальнейшей жизни. Спасибо за столь интересный курс.
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=trutnevamn'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Мария Трутнева , 01 февраля 8:05:17
    %br
    На мой взгляд, процедура прошла успешно, к решению главной задачи проекта мы дошли с хорошим результатом интересными идеями и их решениями. Лично я, получила колоссальный опыт, в любом новом деле нужно учитывать все, мнения других, рассматривать разные стороны, как положительные, так и отрицательные, рассуждать о будущем и, что это даст если задача реализуется. Полученный опыт, безусловно мне пригодиться, как и в профессиональной деятельности, так и в личных интересах. Из сходя из специфики моей работы на данной момент, я принимаю массу решений самостоятельно, но данная процедура меня научила задумываться о своих действиях более тщательно. Спасибо!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=didenkolm'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Любовь Диденко , 01 февраля 8:13:31
    %br
    Если честно, когда начинался этот курс, то мне не очень было все понятно: как именно будет проходить вся процедура принятия решения. Включилась в работу только на второй этапе, так как на первом этапе недовольсв с трудом было понятно, что же требуется от нас, студентов. Но, как говориться, стоит только начать-и все получится. Конечно многое получалось не сразу, написание идеи, концепции, проекта, а особенно и оценивание проектов-это очень колоссальный труд, и это труд добивался методом проб и ошибок. Полученные знания в жизни очень пригодятся, теперь буду принимать решения не скоропалительно, а обдумав все обстоятельства, не только думая о сегодняшнем дне, но и что же будет завтра, продумывая последствия принятого мной решения.
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=sitnikovavv'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Вероника Ситникова , 01 февраля 14:04:22
    %br
    Мне предоставила судьба замечательную возможность участвовать в проекте Принятие эффективных решений. Всю свою сознательную жизнь я получаю знания (университеты, курсы повышения квалификации, семинары, тренинги и т.д), но в такой процедуре участвовала впервые и не без удовольствия! Незабываемый многофункциональный учебный курс: здесь предоставлялась возможность получения новой информации, освоения новых компетенций, расширения круга общения, возможность проявить себя, даже возможность получить призы! 
    Уверена, что теперь смогу применить в своей профессиональной деятельности и личной жизни рациональные модели и техники выработки решений важных проблем. 
    Хочу выразить слова благодарности всем организаторам этого проекта за профессионализм, создание хорошей атмосферы, оснащение и предоставление необходимого материала для обучения! Огромное спасибо Олегу за его терпение, педагогический талант, за умение преподнести свой предмет доступно и понятно. Большое спасибо Андрею за его позитив, поддержку в трудную минуту, он всегда был на связи, в любое время суток. Конечно же спасибо инвестору проекта «Коллективный разум», руководству СГУ которые предоставили нам такую редчайшую возможность в рамках учебной программы пройти этот курс. Спасибо всем участникам проекта за такое упорство в достижение намеченной цели. Для меня эти четыре месяца пролетели как один день. Думаю, что нашими общими усилиями и стараниями повысится и без того хорошее качество образования ИОО. 
    Хочу закончить свой комментарий словами Франклина Рузвельта: если то, что мы сделаем сейчас, нас не устроит, мы всегда можем внести изменения в дальнейшем, поэтому не стоит бояться, что у нас что-то не получится. 
    Спасибо всем!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=gorelikovaaa'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Александра Гореликова , 01 февраля 15:21:01
    %br
    Я хочу выразить свою благодарность и признательность создателям данного курса, экспертам и всем студентам, которые в нем участвовали! Особое спасибо Вам, Олег, сотрудничество с Вами является одним из важных событий в нашей студенческой жизни. Работа с профессионалами - это ценный опыт, который войдет в историю развития нашего университета, и в этом, несомненно, заслуга Ваша и Вашей профессиональной команды. Я верю, что Ваш большой личный вклад в решение вопросов улучшения работы ДО СГУ послужит во благо и укрепит отношения между студентами и университетом. Пусть Ваша энергия и оптимизм помогут в достижении новых высот, опыт и чуткая интуиция подскажут новые цели! 
    Было очень интересно просматривать проекты студентов, оценивать их, что- то узнавать для себя. На первом этапе по сбору недовольств нам, студентам, наконец- то открылась возможность заявить о своих жалобах в работе ДО СГУ, а на втором этапе, предложить множество вариантов для их исправления, корректировок. Действительно, появилось приятное ощущения своей значимости в решении проблем университета. Благодаря активной работе студентов, участвовавших в курсе, расширилось понимание системы работы СГУ, изменились некоторые свои субъективные точки зрения, что положительно повлияло на мышление, позволило иначе посмотреть на способы принятия решений. Я считаю, что данный курс внес много позитивного в жизнь студентов и их отношению к учебе! Хочется поблагодарить всех за терпение и индивидуальный подход! Спасибо за проделанную работу!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=dimitrovavs'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Вера Фролова , 01 февраля 15:59:38 
    %br
    Как я уже писала, этот курс - новинка в вузах. Требуется время, чтобы его полностью понять, как следует апробировать. Интересен этап выдвижения идей, сведений и далее этап создания проектов. Не до конца реализовала свои мысли в проекте, не хватило опыта в работе. Но в целом интересна сама идея коллективного принятия решений. В эпоху эгоцентризма надо учить людей прислушиваться друг к другу, анализировать и в конечном итоге принимать какие-то решения.
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=voskresentsevaas'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Анна Воскресенцева , 01 февраля 22:09:38 
    %br
    Приветствую Всех! Хочется поблагодарить организаторов,в особенности Олега Савельзона и Андрея Малыгина! Спасибо Вам за то, что дали такую возможность участвовать, анализировать и смотреть в будущее. Скажу прямо, в начале процедуры,я думаю, каждый со мной согласится, возникало непонимание того, зачем же этот предмет нам нужен и нужен ли он вообще. Лично я , даже и не знала о существовании данного предмета, а ему уже насчитывается более 6о-ти лет! Стала читать теории, и оказалось, что все эти процессы были в нашей жизни, мы просто не знали об их теоретическом воплощении.В процессе процедуры, продвигаясь дальше первого этапа, всё начало проясняться. Между студентами, организаторами и экспертами разворачивалась бурная полемика, что привело к выявлению более острых , волнующих задач.Конечно,в силу своей загруженности, студенты порой участвовали в процедуре в довольно позднее время. Процедура требовала определенного количества времени, но в целом,думаю что, все участники получила огромное удовольствие от происходящего. В предложенных проектах были изложены очень даже интересные моменты, касающиеся улучшения работы ДО в СГУ и не требующие весомых денежных вложений( так и должно быть,любая организация при внедрении в процесс каких-либо нововведений,старается свести затраты к минимуму или к нулю).Либо если вложить, то наперед знать, что это будет работать.Для этого то и затевалась закончившаяся процедура принятия эффективных решений.Если же, наши труды пригодятся и будут работать как часы, думаю, все участники как рабочего, так и учебного процесса будут удовлетворены.Желаю организаторам успехов!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=balyukem'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Елена Балюк , 02 февраля 8:48:17 
    %br
    Приветствую Всех! Хочется поблагодарить организаторов,в особенности Олега Савельзона и Андрея Малыгина! Хочу выразить слова благодарности всем организаторам этого проекта за профессионализм и терпение . Я думаю ,что сама процедура в целом удалась ,хотя многое и многим было не понятно . "Сами по себе идеи ценны, но всякая идея в конце концов только идея. Задача в том, чтобы реализовать ее практически."Генри Форд. Спасибо за столь интересный курс и я надеюсь ,что изучение курса отразится на ДО СГУ и внесёт многое новое и полезное!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=mertikovasa'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Светлана Мертикова , 02 февраля 12:22:26
    %br 
    Всем добрый день! 
    Мне очень было интересно поучаствовать в процедуре «Принятия эффективных решений». 
    Действительно сначала было всё непонятно, что хотят от нас, времени нет, учёбы много. Но, когда начались пошаговые этапы, потихоньку начало всё проясняться. Очень помогли видеоматериалы и схемы Андрея Малыгина и Олега Савельзона, без которых невозможно было бы написать такие проекты. Учась на пятом курсе дистанционного образования начинаешь понимать, что было бы лучше и эффективнее для нас студентов, как за короткое время усваивать те бесценные знания которые доносят до нас преподаватели, если учесть в каком бешеном ритме жизни мы живём. Вообще все о чём я писала на разных этапах, это всего лишь мысли, которые постоянно крутятся в голове, если было бы вот так, то было бы хорошо, вот если бы сделали так, вот, это было бы здорово! Самое трудное было это разложить все эти мысли по полочкам, это дело было не одного часа, и порою даже не одного дня. Что мне дал этот курс? Возможность высказать свои идеи, по усовершенствованию работы СГУ, правильно их выстроить, постараться определить для себя какие идеи реально могут работать, а какие нет. Но и несомненно данный курс дал мне бесценный опыт правильного принятия эффективных решений, который несомненно поможет мне в дальнейшей карьере и надеюсь что и в жизни. 
    Хотелось бы, чтобы дистанционное образование дальше всё усовершенствовалось и усовершенствовалось, так как наше будущее уже на подходе, это наши дети. Это здорово, что сейчас есть такая возможность получать полноценное образование, не отлучаясь из дома. 
    Спасибо большое преподавателям за возможность поучаствовать в таком интересном проекте и приобрести новые знания и прекрасный опыт, а также выразить слова благодарности всем организаторам этого проекта. И конечно же СПАСИБО жюри и всем за оценку моего проекта, это было очень неожиданно, я до сих пор прибываю в некотором приятном для себя шоке!!!
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=anastasiadiii'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Илья Анастасиади , 05 февраля 16:20:27 
    %br
    Приветствую Всех! Хочется поблагодарить организаторов,в особенности Олега Савельзона и Андрея Малыгина! Хочу выразить слова благодарности всем организаторам этого проекта за профессионализм и терпение . Я думаю ,что сама процедура в целом удалась ,хотя многое и многим было не понятно .Если же, наши труды пригодятся и будут работать как часы, думаю, все участники как рабочего, так и учебного процесса будут удовлетворены.Желаю организаторам успехов!

