= form_for @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' } do |f|
  .col-md-8

    %div.tab-content

      %div.tab-pane#plan
        = simple_format(@plan_post.content)

        %br
        %br
        = simple_format(@plan_post.goal)
        %br
        %br
        = simple_format(@plan_post.first_step)

        = hidden_field_tag "post_id", @plan_post.id

        %label Выскажите, пожалуйста, общее впечатление от проекта и рекомендации по улучшению
        %field= f.text_area :content ,   rows: 6, style: 'width: 100%;'
        .field
          = f.label 'Оцените проект в целом '
          = f.select :all_grade, [["Отличный проект ", 0],["Хороший проект", 1], ["Удовлетворительный проект", 2], ["Плохой проект", 3]]


      - @pair_estimates2.each do |pa, est|
        = render partial: 'resolve_discontent',locals: { pa: pa, est: est , f: f}

      - @pair_estimates1.each do |pa, est|
        = render partial: 'resolve_discontent1',locals: { pa: pa, est: est, f: f}





      %div.tab-pane#negative
        %b При осуществлении проекта могут возникать разные негативные явления. Рассмотрите два типа таких явлений. Первый тип – это побочные эффекты, возникшие наряду с улучшениями (например, нововведения работают, но обходятся слишком дорого).
        %br
        %b  Какова вероятность, что эти побочные эффекты будут—

        .field
          = f.label '-- 1) значительными '
          = f.select :nepr1, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label "-- 2) средними "
          = f.select :nepr2, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label "-- 3) незначительными "
          = f.select :nepr3, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label "-- 4) нулевыми "
          = f.select :nepr4, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label 'Объясните, почему вы так считаете'
          = f.text_area :nepr,   rows: 3, style: 'width: 100%;'
        %br
        %b Второй тип – это препятствия, возникшие в процессе создания нововведений (например, сопротивление со стороны сотрудников, привыкших работать по-старому).
        %br
        %b  Какова вероятность, что эти препятствия будут—

        .field
          = f.label '-- 1) значительными '
          = f.select :nep1, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label "-- 2) средними "
          = f.select :nep2, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label "-- 3) незначительными "
          = f.select :nep3, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label "-- 4) нулевыми "
          = f.select :nep4, [["невероятно", 0],["маловероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
        .field
          = f.label 'Объясните, почему вы так считаете'
          = f.text_area :nep,   rows: 3, style: 'width: 100%;'
        %br




  .col-md-4
    =f.submit 'Сохранить', class: 'btn btn-success'
    %h5
      .small Выберите несовершенство, кликнув по нужной вкладке:
    %ul.nav.nav-tabs.nav-justified
      %li.active
        %a(href="#theall" data-toggle="tab") Образ будущ.
      %li
        %a(href="#thefirst" data-toggle="tab") Первый этап
    .tab-content
      #theall.tab-pane.fade.in.active
        %ul.nav.nav-tabs.nav-stacked
          -#%li
          -#  %a.text-success(href="#plan1" data-toggle="tab" style='font-size:10px; font-weight: bold;')
          -#    =t('form.plan')

          -@pair_estimates2.each_with_index do |pa, i|
            %li
              %a(href="#dis_#{pa[0].id}" data-toggle="tab")
                ="#{i+1}. #{pa[0].discontent.display_content}"
                %span.text-success= pa[1].score
                -#%span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if @post.get_pa_by_discontent(d, :name)==''}")
      #thefirst.tab-pane.fade
        %ul.nav.nav-tabs.nav-stacked


          -@pair_estimates1.each_with_index do |pa, i|
            - if pa[0].name!=''
              %li
                %a(href="#fdis_#{pa[0].id}" data-toggle="tab")
                  ="#{i+1}. #{pa[0].discontent.display_content}"
                  %span.text-success= pa[1].score
                -#%span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if @post.get_pa_by_discontent(d, :name, 1)==''}")
          %li
            %a.text-success(href="#negative" data-toggle="tab" style='font-size:10px; font-weight: bold;')
              Оценка негативных явлений
          %li
            %a.text-success(href="#plan" data-toggle="tab" style='font-size:10px; font-weight: bold;')
              Общая оценка проекта

  %br
  %br
  %br
  %br