= form_for @estimate_post do |f|

  .field
    = f.label 'Общая оценка'
    = f.text_area :content
  %p
    %b Первый шаг
    %br= simple_format(@plan_post.first_step)
  %b Ожидаемая полезность первого шага

  .field
    = f.label "очень ощутимое улучшение ДО СГУ"
    = f.select :oppsh1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "ощутимое"
    = f.select :oppsh2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "не очень ощутимое"
    = f.select :oppsh3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label 'Обоснуйте свою оценку'
    = f.text_area :oppsh
  %br
  %b 1-е ожидаемые затраты первого шага
  .field
    = f.label 'большие'
    = f.select :ozpshf1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "средние"
    = f.select :ozpshf2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "малые"
    = f.select :ozpshf3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label 'Обоснуйте свою оценку'
    = f.text_area :ozpshf
  %br
  %b  ожидаемая надежность первого шага

  .field
    = f.label "ресурсы будут созданы в полной мере"
    = f.select :onpsh1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "ресурсы будут созданы в значительной мере"
    = f.select :onpsh2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "ресурсы будут созданы в небольшой мере"
    = f.select :onpsh3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label 'Обоснуйте свою оценку'
    = f.text_area :onpsh

  %br
  %b 2-е ожидаемые затраты первого шага
  .field
    = f.label 'большие'
    = f.select :ozpshs1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "средние"
    = f.select :ozpshs2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "малые"
    = f.select :ozpshs3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label 'Обоснуйте свою оценку'
    = f.text_area :ozpshs
  %br

  %br
  %b ожидаемые неприятности в связи с осуществлением проекта
  .field
    = f.label 'большие'
    = f.select :nepr1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "средние"
    = f.select :nepr2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label "малые"
    = f.select :nepr3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]  
  .field
    = f.label "никакие"
    = f.select :nepr4, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
  .field
    = f.label 'Обоснуйте свою оценку'
    = f.text_area :nepr
  %br
  

  .actions
    = f.submit ''
