%section
  .body
    %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
      %li.active#first
        %a{"data-toggle" => "tab", :href => "#tab1", :role => "tab"}
          %small 1.
          %strong=t('form.plan.desc')
      %li#second
        %a{"data-toggle" => "tab", :href => "#tab2", :role => "tab"}
          %small 2.
          %strong=t('form.plan.actions')
        -if @plan_post.persisted?
          #option_for_render_tab(project="#{@project.id}" post="#{@plan_post.id}")
      %li#third
        %a{"data-toggle" => "tab", :href => "#tab3", :role => "tab"}
          %small 3.
          %strong=t('form.plan.concepts')

    .tab-content(style="overflow:visible;")
      #tab1.tab-pane.active
        .form-horizontal
          %fieldset
            .col-md-6
              %legend.section
                =t('form.plan.desc')
              .text-left
                %h4.color-green=t('form.plan.name')
                =@plan_post.name
              %br
              .text-left
                %h4.color-green=t('form.plan.short_desc')
                =@plan_post.goal
              %br
              .text-left
                %h4.color-green=t('form.plan.essay')
                =@plan_post.content

            .col-md-6
              %legend.section
                =t('form.plan.stages')
              #post_stages
                %table.table.table-striped
                  %tbody
                    -if @plan_post.post_stages.present?
                      -@plan_post.post_stages.each_with_index do |ps,index|
                        %tr
                          %td
                            =index+1
                          %td
                            -if ps.date_begin and ps.date_end
                              %small.color-green
                                =Russian::strftime(ps.date_begin, "%d %b %Y")
                                ="-"
                                =Russian::strftime(ps.date_end, "%d %b %Y")
                              %br
                            %span.h5=ps.name

      #tab2.tab-pane
        .form-horizontal
          %fieldset
            #table_stages
              - unless @plan_post.post_stages.nil?
                -@plan_post.post_stages.each_with_index do |stage, ind|
                  %div(class="td_stage_#{stage.id}")
                    %h3
                      %span="#{t('form.plan.stage.doc')} #{ind+1}. "
                      %span.color-teal=stage.name
                    -if stage.date_begin and stage.date_end
                      %h3.color-green
                        =Russian::strftime(stage.date_begin, "%d %b %Y")
                        ="-"
                        =Russian::strftime(stage.date_end, "%d %b %Y")

                    =stage.desc
                    %br
                    %br
                  %table.table.table-striped.table-bordered
                    %thead
                      %tr
                        %th
                          ="#"
                        %th
                          =t('form.plan.concepts')
                        %th
                          =t('form.plan.stage.actions')
                    %tbody
                      - unless stage.plan_post_aspects.nil?
                        - stage.plan_post_aspects.each_with_index do |concept, index|
                          %tr(id="tr_concept_#{concept.id}")
                            %td(rowspan="#{rowspan_concept_show(concept)}" class="td_concept_#{concept.id}")
                              =index+1
                            %td(rowspan="#{rowspan_concept_show(concept)}" class="td_concept_#{concept.id}" id="td_concept_#{concept.id}")
                              =link_to view_concept_table_plan_post_path(@project, @plan_post, :con_id => concept.id), :method => :get, :remote => true,:class => "color-white", :style => "text-decoration:none;border-bottom: 1px dashed #fafbfc;", :id => "view_post_concept_table_#{concept.id}" do
                                %span.h5{:id => "name_post_concept_#{concept.id}"}=concept.title
                              %br
                              =concept.name
                              %br
                              = check_validate_concept(concept,true).html_safe if check_validate_concept(concept)
                          - unless concept.plan_post_actions.nil?
                            - concept.plan_post_actions.each do |action|
                              %tr(id="tr_action_#{action.id}")
                                %td
                                  -if action.date_begin and action.date_end
                                    %small.color-green
                                      =Russian::strftime(action.date_begin, "%d %b %Y")
                                      ="-"
                                      =Russian::strftime(action.date_end, "%d %b %Y")
                                    %br
                                  %span.h5.color-teal{:id => "name_post_action_#{action.id}"}=action.name
                                  %br
                                  %span.h5=action.desc
                                  -unless action.plan_post_resources.by_type('action_r').nil?
                                    %br
                                    -action.plan_post_resources.by_type('action_r').each  do |res|
                                      .label.label-danger=res.name


      #tab3.tab-pane
        .form-horizontal
          %fieldset
            #modal_concept_action
            .col-md-4#concept_side
              - unless @plan_post.post_stages.nil?
                %ul#menu-levels-collapse.side-nav
                  -@plan_post.post_stages.each_with_index do |stage, index|
                    %li.panel
                      %a.accordion-toggle{"data-parent" => "#menu-levels-collapse", "data-toggle" => "collapse", href: "#sub-menu-#{index}-collapse"}
                        %b="#{t('form.plan.stage.doc')} #{index+1}. "
                        =stage.name
                      - unless stage.plan_post_aspects.nil?
                        %ul.concept_side_list.panel-collapse.in{id: "sub-menu-#{index}-collapse"}
                          - stage.plan_post_aspects.each_with_index do |concept, i|
                            %li.concept_side{id: "li_concept_#{concept.id}"}
                              %a(href="#dis_#{concept.id}" data-toggle='tab')
                                ="#{i+1}. #{concept.title}"
                                -if @post.persisted? and concept.estimate_post_aspect(@post.id)
                                  %span.color-green= concept.estimate_post_aspect(@post.id).score(@est_stat)
                  %li.panel
                    %a.color-green(href="#negative" data-toggle='tab')
                      %b=t('form.estimate.negative')
                  %li.panel
                    %a.color-green(href="#planwhole" data-toggle='tab')
                      %b=t('form.estimate.planwhole')


            .col-md-8
              = form_for @post, url: {project: @project.id, action: @post.persisted? ? 'update' : 'create'},   html: { class: 'new_or_edit form-new-estimate' } do |f|
                %br
                .pull-right
                  =f.submit t('form.save'), id: "send_post_estimate", class: 'btn btn-success'
                %br
                %br
                %div.tab-content
                  -if @est_stat == 1
                    - @pair_estimates2.each do |pa, est|
                      = render partial: 'resolve_discontent_light',locals: { pa: pa, est: est , f: f}

                    - @pair_estimates1.each do |pa, est|
                      = render partial: 'resolve_discontent1_light',locals: { pa: pa, est: est, f: f}
                  -else
                    - @pair_estimates2.each do |pa, est|
                      = render partial: 'resolve_discontent1',locals: { pa: pa, est: est , f: f}

                    - @pair_estimates1.each do |pa, est|
                      = render partial: 'resolve_discontent1',locals: { pa: pa, est: est, f: f}

                  %div.tab-pane#planwhole
                    = hidden_field_tag "post_id", @plan_post.id

                    %label=t('form.estimate.content')
                    %field= f.text_area :content , rows: 6, style: 'width: 100%;'
                    .field
                      = f.label t('form.estimate.all_grade')
                      = f.select :all_grade, [[t('form.estimate.grade_0'), 0],[t('form.estimate.grade_1'), 1], [t('form.estimate.grade_2'), 2], [t('form.estimate.grade_3'), 3]]

                  %div.tab-pane#negative
                    -if @est_stat == 1
                      =t('form.estimate.desc_long_1')
                      %br
                      =t('form.estimate.group_select_1')
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nepr1]', '4', @post.nepr1 == 4
                          = " --1) #{t('form.estimate.select_4')}"
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nepr1]', '3', @post.nepr1 == 3
                          = " --2) #{t('form.estimate.select_3')}"
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nepr1]', '2', @post.nepr1 == 2
                          = " --3) #{t('form.estimate.select_2')}"
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nepr1]', '1', @post.nepr1 == 1
                          = " --4) #{t('form.estimate.select_1')}"
                      .field
                        = t('form.estimate.desc')
                        %br
                        = f.text_area :nepr,   rows: 3, style: 'width: 100%; height: 70px;'

                      %br
                      =t('form.estimate.desc_long_2')
                      %br
                      =t('form.estimate.group_select_2')
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nep1]', '4', @post.nep1 == 4
                          = " --1) #{t('form.estimate.select_4')}"
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nep1]', '3', @post.nep1 == 3
                          = " --2) #{t('form.estimate.select_3')}"
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nep1]', '2', @post.nep1 == 2
                          = " --3) #{t('form.estimate.select_2')}"
                      .field
                        %label
                          = radio_button_tag 'estimate_post[nep1]', '1', @post.nep1 == 1
                          = " --4) #{t('form.estimate.select_1')}"
                      .field
                        = 'Объясните, почему вы так считаете'
                        %br
                        = f.text_area :nep,   rows: 3, style: 'width: 100%; height: 70px;'


                      %br
                    - else
                      =t('form.estimate.desc_long_1')
                      %br
                      =t('form.estimate.group_select_3')

                      .field
                        = f.label " --1) #{t('form.estimate.select_4')}"
                        = f.select :nepr1, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        = f.label " --2) #{t('form.estimate.select_3')}"
                        = f.select :nepr2, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        = f.label " --3) #{t('form.estimate.select_2')}"
                        = f.select :nepr3, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        = f.label " --4) #{t('form.estimate.select_1')}"
                        = f.select :nepr4, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        %br
                        = f.label t('form.estimate.desc')
                        = f.text_area :nepr,   rows: 3, style: 'width: 100%;'
                      %br
                      %br
                      %br
                      =t('form.estimate.desc_long_2')
                      %br
                      =t('form.estimate.group_select_4')

                      .field
                        = f.label " --1) #{t('form.estimate.select_4')}"
                        = f.select :nep1, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        = f.label " --2) #{t('form.estimate.select_3')}"
                        = f.select :nep2, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        = f.label " --3) #{t('form.estimate.select_2')}"
                        = f.select :nep3, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        = f.label " --4) #{t('form.estimate.select_1')}"
                        = f.select :nep4, [[t('form.estimate.chance_1'), 1],[t('form.estimate.chance_2'), 2], [t('form.estimate.chance_3'), 3], [t('form.estimate.chance_4'), 4]]
                      .field
                        %br
                        = f.label t('form.estimate.desc')
                        = f.text_area :nep,   rows: 3, style: 'width: 100%;'
                      %br
                %br
                .pull-right
                  =f.submit t('form.save'), id: 'send_post_estimate', class: 'btn btn-success'
