= form_for @post do |f|
  %b Цель проекта
  %br= simple_format(@plan_post.goal)
  .field
    = f.label 'Общая оценка'
    = f.text_area :content

  - if not jury?
    %b Список корректировок
    %br
    %br
    - @pair_estimates.each do |pa, est|
      %b Задача:
      = pa.name
      %br
      = pa.content
      %br
      %b  Предположим, что предлагаемые для этой задачи ресурсы будут созданы. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что они обеспечат разрешение данной задачи --  
      .field
        = f.label "-- 1) в полной мере?"
        = select_tag "op[#{pa.id}][1]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.op1)
      .field
        = f.label "-- 2) в значительной мере?"
        = select_tag "op[#{pa.id}][2]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.op2)
      .field
        = f.label "-- 3) в небольшой мере?"
        = select_tag "op[#{pa.id}][3]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.op3)
      .field
        = f.label 'Обоснуйте свою оценку'
        = text_area_tag "op_text[#{pa.id}]", est.op
      %br
      %b Функционирование ресурсов, которые будут обеспечивать разрешение данной задачи в будущем, потребует  материальных и трудовых затрат. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что потребуются--
      .field
        = f.label '--1) большие затраты'
        = select_tag "ozf[#{pa.id}][1]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.ozf1)
      .field
        = f.label '-- 2) средние  затраты'
        = select_tag "ozf[#{pa.id}][2]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.ozf2)
      .field
        = f.label "-- 3) малые затраты"
        = select_tag "ozf[#{pa.id}][3]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.ozf3)
      .field
        = f.label 'Обоснуйте свою оценку'
        = text_area_tag "ozf_text[#{pa.id}]", est.ozf
      %br



      %b Для создания ресурсов разрешения данной задачи в проекте предлагаются вышеперечисленные средства, методы и кадры. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что ресурсы будут действительно созданы --

      .field
        = f.label "-- 1) в полном объеме"
        = select_tag "on[#{pa.id}][1]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.on1)
      .field
        = f.label "-- 2) в значительном объеме"
        = select_tag "on[#{pa.id}][2]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.on2)
      .field
        = f.label "-- 3) в небольшом объеме"
        = select_tag "on[#{pa.id}][3]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.on3)
      .field
        = f.label 'Обоснуйте свою оценку'
        = text_area_tag "on_text[#{pa.id}]", est.on

      %br
      %b Использование вышеозначенных средств, методов и кадров создания ресурсов потребует  материальных и трудовых затрат. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что потребуются--
      .field
        = f.label '--1) большие затраты'
        = select_tag "ozs[#{pa.id}][1]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.ozs1)
      .field
        = f.label "--2) средние затраты"
        = select_tag "ozs[#{pa.id}][2]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.ozs2)
      .field
        = f.label "--3) малые затраты"
        = select_tag "ozs[#{pa.id}][3]",   options_for_select([["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]], est.ozs3)
      .field
        = f.label 'Обоснуйте свою оценку'
        = text_area_tag "ozs_text[#{pa.id}]", est.ozs

      =image_tag('dots.png')
      %br


    %p
      %b Первый шаг
      %br= simple_format(@plan_post.first_step)
    %b Выше описана та часть новых ресурсов будущего ДО СГУ, которую планируется создать и запустить в работу на первом шаге осуществления проекта. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что уже сразу после создания их работа улучшит ДО --
    .field
      = f.label "-- 1) очень ощутимо?"
      = f.select :oppsh1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 2) ощутимо?"
      = f.select :oppsh2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 3) не очень ощутимо"
      = f.select :oppsh3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label 'Обоснуйте свою оценку'
      = f.text_area :oppsh
    %br
    %b После того, как на первом шаге будет создана эта часть новых ресурсов, их функционирование в ДО потребует материальных и трудовых затрат. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что потребуются --
    .field
      = f.label '-- 1) большие затраты'
      = f.select :ozpshf1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 2) средние затраты"
      = f.select :ozpshf2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 3) малые затраты"
      = f.select :ozpshf3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label 'Обоснуйте свою оценку'
      = f.text_area :ozpshf
    %br
    %b Для создания на первом шаге данной части новых ресурсов ДО в проекте предлагаются определенные средства, методы и кадры. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что при помощи этих средств, методов и кадров планируемые ресурсы будут действительно созданы --
    .field
      = f.label "-- 1) в полном объеме"
      = f.select :onpsh1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 2) в значительном объеме"
      = f.select :onpsh2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 3) в небольшом объеме"
      = f.select :onpsh3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label 'Обоснуйте свою оценку'
      = f.text_area :onpsh

    %br
    %b Использование на первом шаге средств, методов и кадров для создания вышеозначенной части новых ресурсов потребует материальных и трудовых затрат. Какова вероятность (выберите ее для каждого из трех вариантов ниже), что потребуются --
    .field
      = f.label '--1) большие затраты'
      = f.select :ozpshs1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "--2) средние затраты"
      = f.select :ozpshs2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "--3) малые затраты"
      = f.select :ozpshs3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label 'Обоснуйте свою оценку'
      = f.text_area :ozpshs
    %br

    %br
    %b При осуществлении проекта возможны негативные явления. Какова веростояность (выберите ее для каждого из четырех вариантов ниже), что они будут--
    .field
      = f.label '-- 1) большие'
      = f.select :nepr1, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 2) средние"
      = f.select :nepr2, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 3) малые"
      = f.select :nepr3, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label "-- 4) никакие"
      = f.select :nepr4, [["не очень вероятно", 1], ["вероятно", 2], ["очень вероятно", 3]]
    .field
      = f.label 'Перечислите возможные негативные явления и обоснуйте свою оценку'
      = f.text_area :nepr
    %br
  = hidden_field_tag "post_id", @plan_post.id

  

  .actions
    = f.submit ''
