.modal.fade#modal-post
  .modal-dialog.modal-1150
    %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } &times;
    - if boss?
      .admin_panel
        = link_to({ controller: @post.class.name.underscore.pluralize, action: :add_score, project: @project.id, id: @post.id },
          remote: true, method: :put, class: "btn btn-white btn-xs #{'theme_font_color' if @post.useful}", id: "plus_post_#{@post.id}") do
          %i.fa.fa-trophy.fa-lg
        = link_to({ controller: @post.class.name.underscore.pluralize, action: :change_status, project: @project.id, id: @post.id, approve_status: true },
          remote: true, method: :put, class: "btn btn-white btn-xs #{'theme_font_color' if @post.approve_status}", id: "approve_status_post_#{@post.id}") do
          %i.fa.fa-bookmark.fa-lg
    .modal-content
      %div{ 'data-important' => "#{@post.id}", class: "#{'hide' unless @post.approve_status}" }
        .important
          %i.fa.fa-bookmark.fa-2x
      .modal-header
        .row
          .col-md-8
            %h4
              = @post.name
          .col-md-4
            .likes
              %a
                %small{ class: "cc_post_#{@post.id}" }
                  = @post.comments.count
                %i.fa.fa-comment
              = link_to({ controller: @post.class.name.underscore.pluralize, action: :like, project: @project, id: @post.id, against: false },
                    remote: true, method: :put, id: "like_post_#{@post.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Нравится') do
                %small{ id: "lk_post_#{@post.id}", class: "lk_post_#{@post.id}" }
                  = @post.users_pro.count
                %i.fa.fa-thumbs-up
              = link_to({ controller: @post.class.name.underscore.pluralize, action: :like, project: @project, id: @post.id, against: true },
                    remote: true, method: :put, id: "dislike_post_#{@post.id}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Не нравится') do
                %small{ id: "dlk_post_#{@post.id}", class: "dlk_post_#{@post.id}" }
                  = @post.users_against.count
                %i.fa.fa-thumbs-down
              %small
                = l(@post.created_at, format: '%d.%m.%Y')
      .modal-body
        .post-header
          .col-md-9
            %ul.nav.nav-tabs
              %li.active
                %a{ 'data-toggle' => 'tab', href: '#tab-1' }
                  %button.btn
                    = t('show.estimate.desc')
              %li
                %a{ 'data-toggle' => 'tab', href: '#tab-2' }
                  %button.btn
                    = t('show.estimate.diagram')
              %li
                %a{ 'data-toggle' => 'tab', href: '#tab-3' }
                  %button.btn
                    = t('show.estimate.rating')
          .col-md-3
            .pull-right
              = link_to user_path(@project, @post.user) do
                = user_image_tag @post.user.try(:avatar)
                =  @post.user

        .tab-content
          .tab-pane.fade.in.active#tab-1
            .post-body
              .row
                .col-md-6.exp_col.left
                  %a.exp_button
                    %span.arrows-left
                  .post-content
                    - @post.post_novations.first.try(:attributes_for_form).try(:each) do |link, attributes|
                      .panel
                        .panel-heading
                          %a.with_plus{ class: "#{'collapsed' if link != :project}", 'aria-expanded' => 'false',
                            'data-toggle' => 'collapse', href: "#cab4-#{link}" }
                            = t("activerecord.attributes.plan/post_novation.#{link}")
                            %i.fa.collapse_plus{ class: "#{link == :project ? 'fa-minus' : 'fa-plus'}" }

                        .collapse{ id: "cab4-#{link}", class: "#{'in' if link == :project}" }
                          .panel-body
                            - attributes.each do |attribute, bool|
                              - if bool == -1 || bool == true
                                %h5
                                  = t("activerecord.attributes.plan/post_novation.#{attribute}")
                                %p
                                  = @post.post_novations.first.send(attribute)

                .col-md-6.exp_col.right
                  %a.exp_button
                    %span.arrows-right
                  .post-comments
                    .chat-messages
                      = render partial: 'shared/comment', collection: @comments
          .tab-pane.fade#tab-2
            .post-body
              .row
                .col-md-12.col-sm-12
                  #workSpace

                  = render 'shared/gantt_template'

          .tab-pane.fade#tab-3
            .container
              .divider15
              .row
                .container
                  .col-sm-3.col_padding_left_0.col_padding_right_3
                    .border_grey.col_rate_head
                      = t('show.estimate.name')
                  .col-sm-4.col_padding_left_3.col_padding_right_3
                    .border_grey.col_rate_head
                      = t('show.estimate.field_left')
                  .col-sm-5.col_padding_right_0.col_padding_left_3
                    .border_grey.col_rate_head
                      = t('show.estimate.field_right')
              .divider10
              - @post.voted_users.uniq.each do |user|
                .rating_line
                  .row
                    .col-sm-3
                      .rating_user
                        .media-left
                          = link_to user_path(@project, user) do
                            = user_image_tag user.try(:avatar), class: 'media-object img-circle img40 img_bordered'
                        .media-body
                          %h5.media-heading.bold
                            = link_to user, user_path(@project, user)
                    .col-sm-4.no_padding_col.divided
                      .rate_buttons.color_1
                        .progress
                          .progress-bar{ 'aria-valuemax' => '10', 'aria-valuemin' => '0', 'aria-valuenow' => "#{user.plan_vote_status(@post, 1)}",
                            role: 'progressbar', style: "width: #{user.plan_vote_status(@post, 1) * 10}%;" }
                            = user.plan_vote_status(@post, 1)
                    .col-sm-5.col_padding_left_0.divided
                      .row
                        .col-md-12
                          .rate_buttons.color_2
                            .progress
                              .progress-bar{ 'aria-valuemax' => '10', 'aria-valuemin' => '0', 'aria-valuenow' => "#{user.plan_vote_status(@post, 2)}",
                                role: 'progressbar', style: "width: #{user.plan_vote_status(@post, 2) * 10}%;" }
                            = user.plan_vote_status(@post, 2)
