.rating-line
  .row
    .col-sm-3
      .rate-info
        = link_to user_path(@project, post_short.user) do
          = user_image_tag post_short.user.try(:avatar)
        = link_to post_short.user, user_path(@project, post_short.user)
        %p
          = post_short.name
    .col-sm-4{ id: "progress_type_vote_1_#{post_short.id}" }
      .rate-block
        - if post_short.voted(current_user, 1).present?
          .progress
            .progress-bar{ 'aria-valuemax' => '10', 'aria-valuemin' => '0', 'aria-valuenow' => "#{post_short.vote_progress(1)}",
             style: "width: #{post_short.vote_progress(1) * 10}%;" }
              = post_short.vote_progress(1)
        - else
          - 1.upto(10) do |i|
            = link_to i, vote_plan_post_path(@project, post_short.id, type_vote: 1, status: i), method: :put, remote: true,
              id: "btn_plan_vote_#{i}", class: 'btn btn-round'

    .col-sm-4{ id: "progress_type_vote_2_#{post_short.id}" }
      .rate-block
        - if post_short.voted(current_user, 2).present?
          .progress
            .progress-bar{ 'aria-valuemax' => '10', 'aria-valuemin' => '0', 'aria-valuenow' => "#{post_short.vote_progress(2)}",
            style: "width: #{post_short.vote_progress(2) * 10}%;" }
              = post_short.vote_progress(2)
        - else
          - 1.upto(10) do |i|
            = link_to i, vote_plan_post_path(@project, post_short.id, type_vote: 2, status: i), method: :put, remote: true,
                  id: "btn_plan_vote_#{i}", class: 'btn btn-round'
    .col-md-1
      .rate-block
        = link_to({ action: :show, project: @project, id: post_short.id }, remote: true, id: "show_record_#{post_short.id}") do
          %i.fa.fa-2x.fa-angle-right
