.rating_line
  .row
    .col-sm-3
      .rating_user
        .media-left
          = image_tag 'no-ava.png', class: "media-object img-circle img40 img_bordered"
        .media-body
          %h5.media-heading.bold
            = post_short.user
          %p.font_color_stage6
            = post_short.name
    .col-sm-4.no_padding_col.divided{id: "progress_type_vote_1_#{post_short.id}"}
      -if post_short.voted(current_user, 1).present?
        .rate_buttons.color_1
          .progress
            .progress-bar{"aria-valuemax" => "10", "aria-valuemin" => "0", "aria-valuenow" => "#{post_short.vote_progress(1)}", :role => "progressbar", :style => "width: #{post_short.vote_progress(1)*10}%;"}
              = post_short.vote_progress(1)
      -else
        .rate_buttons.color_1.text-center
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 1}} 1
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 2}} 2
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 3}} 3
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 4}} 4
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 5}} 5
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 6}} 6
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 7}} 7
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 8}} 8
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 9}} 9
          %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 1, status: 10}} 10


    .col-sm-5.col_padding_left_0.divided
      .row
        .col-md-10{id: "progress_type_vote_2_#{post_short.id}"}
          -if post_short.voted(current_user, 2).present?
            .rate_buttons.color_2
              .progress
                .progress-bar{"aria-valuemax" => "10", "aria-valuemin" => "0", "aria-valuenow" => "#{post_short.vote_progress(2)}", :role => "progressbar", :style => "width: #{post_short.vote_progress(2)*10}%;"}
                  = post_short.vote_progress(2)
          -else
            .rate_buttons.color_2.text-center
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 1}} 1
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 2}} 2
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 3}} 3
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 4}} 4
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 5}} 5
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 6}} 6
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 7}} 7
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 8}} 8
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 9}} 9
              %button.btn.btn_reset.back_color_stage6.font_white.bold.btn_plan_vote{data: {project: @project.id, id: post_short.id, type_vote: 2, status: 10}} 10

        .col-md-2.col_padding_left_0.divided.text-center
          = link_to({action: :show, project: @project, id: post_short.id}, remote: true, class: "rating_a", id: "show_record_#{post_short.id}") do
            %i.fa.fa-2x.font_grey.fa-angle-right


















-#.col-md-6
-#  .post.post_5
-#    .post-header.white
-#      .row
-#        .col-md-9.col-xs-9
-#          %h5.font_purple.bold
-#            = trim_string(post_short.name, size = 50)
-#        .col-md-1.col-xs-1
-#          %h4.pull-right
-#            %i.fa.fa-exclamation-triangle.font_lighter_grey
-#        .col-md-2.col-xs-2
-#          %h5.time
-#            = Russian::strftime(post_short.created_at, '%d.%m.%Y')
-#    .post-body
-#      .media
-#        .media-left.text-center.gradient.post-poster
-#          = image_tag 'no-ava.png', class: "img-circle img50"
-#          %p.poster-name
-#            = post_short.user
-#        .media-body.white-gray
-#          .post-text
-#            %p
-#              = trim_string(post_short.goal, size = 50)
-#    .project-bottom-progress-block
-#      - post_short.estimates.each do |est|
-#        = link_to({action: :show, project: @project, id: est.id}, remote: true, id: 'show_record', class: 'single-progress-block') do
-#          .user-ratings-block
-#            .progress-userpic
-#              =image_tag 'no-ava.png'
-#            .progress-username
-#              = est.user
-#          .progress-container
-#            .progress.pb-lg
-#              .progress-bar.pb-animated{"data-pbmax" => "#{est.score(@est_stat)}", :role => "progressbar"}
-#                %span.pb-limit=est.score(@est_stat)
-#          .progress-ratings
-#            %span.label.label-sm.back-color-7297c9.test= est.max_score
-#            %span.label.label-sm.back-color-75b5d3= est.second_c
-#            %span.label.label-sm.back-color-7ed8e3= est.first_c
-#            %span.label.label-sm.back-color-81ded2= est.third_c
