%div.tab-pane(id="dis_#{pa.id}" style="padding-left:10px;" )
  %h3.color-orange.text-center
    %b=pa.title
    %br
    %br
  %h4.color-orange.text-center
    %b A1.
    =t('form.concept.novation_what')
  .form-group
    =simple_format(pa.name)

  %h4.color-orange.text-center
    %b A2.
    =t('form.concept.novation_how')
  .form-group.has-danger
    =simple_format(pa.content)

  %hr
  %h4.color-orange.text-center
    %b B1.
    =t('form.concept.cond')
  .form-group.has-success= display_content(pa.positive)

  %h4.color-orange.text-center
    %b B2.
    =t('form.concept.cond_res')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('positive_r').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc

  %h4.color-orange.text-center
    %b B3.
    =t('form.concept.cond_s')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('positive_s').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc

  %hr
  #render_get_concept_actions
  %hr
  %h4.color-orange.text-center
    %b C1.
    =t('form.concept.negative')
  .form-group.has-success= display_content(pa.negative)

  %h4.color-orange.text-center
    %b C2.
    =t('form.concept.negative_res')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('negative_r').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc


  %h4.color-orange.text-center
    %b C3.
    =t('form.concept.negative_s')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('negative_s').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc

  %hr
  %h4.color-orange.text-center
    %b D1.
    =t('form.concept.control')
  .form-group.has-success= display_content(pa.control)

  %h4.color-orange.text-center
    %b D2.
    =t('form.concept.control_res')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('control_r').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc

  %h4.color-orange.text-center
    %b D3.
    =t('form.concept.control_s')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('control_s').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc

  %hr
  %h4.color-orange.text-center
    %b E1.
    =t('form.concept.obstacles_bcd')
  .form-group.has-success= display_content(pa.obstacles)

  %hr
  %h4.color-orange.text-center
    %b F1.
    =t('form.concept.problems')
  .form-group.has-success= display_content(pa.problems)

  %h4.color-orange.text-center
    %b F2.
    =t('form.concept.reality')
  .form-group.has-success= display_content(pa.reality)

  %br
  %br
  =t('form.estimate.title_1')
  .field
    %label
      = radio_button_tag "on[0][#{pa.id}]", '4', est.on1 == 4
      = "-- 1) #{t('form.estimate.fullness_9')}"
  .field
    %label
      = radio_button_tag "on[0][#{pa.id}]", '3', est.on1 == 3
      = "-- 2) #{t('form.estimate.fullness_10')}"
  .field
    %label
      = radio_button_tag "on[0][#{pa.id}]", '2', est.on1 == 2
      = "-- 3) #{t('form.estimate.fullness_11')}"
  .field
    %label
      = radio_button_tag "on[0][#{pa.id}]", '1', est.on1 == 1
      = "-- 4) #{t('form.estimate.fullness_12')}"
  .field
    =t('form.estimate.desc')
    %br
    = text_area_tag "on_text[0][#{pa.id}]", est.on ,   rows: 3, style: 'width: 100%; height: 70px;'
  %br
  =t('form.estimate.title_2')
  .field
    %label
      = radio_button_tag "ozs[0][#{pa.id}]", '4', est.ozs1 == 4
      = "-- 1) #{t('form.estimate.select_4')}"
  .field
    %label
      = radio_button_tag "ozs[0][#{pa.id}]", '3', est.ozs1 == 3
      = "-- 2) #{t('form.estimate.select_3')}"
  .field
    %label
      = radio_button_tag "ozs[0][#{pa.id}]", '2', est.ozs1 == 2
      = "-- 3) #{t('form.estimate.select_2')}"
  .field
    %label
      = radio_button_tag "ozs[0][#{pa.id}]", '1', est.ozs1 == 1
      = "-- 4) #{t('form.estimate.select_0')}"
  .field
    =t('form.estimate.desc')
    %br
    = text_area_tag "ozs_text[0][#{pa.id}]", est.ozs,   rows: 3, style: 'width: 100%; height: 70px;'
  %br
  =t('form.estimate.title_3')
  .field
    %label
      = radio_button_tag "op[0][#{pa.id}]", '4', est.op1 == 4
      = "-- 1) #{t('form.estimate.fullness_13')}"
  .field
    %label
      = radio_button_tag "op[0][#{pa.id}]", '3', est.op1 == 3
      = "-- 2) #{t('form.estimate.fullness_14')}"
  .field
    %label
      = radio_button_tag "op[0][#{pa.id}]", '2', est.op1 == 2
      = "-- 3) #{t('form.estimate.fullness_15')}"
  .field
    %label
      = radio_button_tag "op[0][#{pa.id}]", '1', est.op1 == 1
      = "-- 4) #{t('form.estimate.fullness_16')}"
  .field
    =t('form.estimate.desc')
    %br
    = text_area_tag "op_text[0][#{pa.id}]", est.op,   rows: 3, style: 'width: 100%; height: 70px;'
  %br
  =t('form.estimate.title_4')
  .field
    %label
      = radio_button_tag "ozf[0][#{pa.id}]", '4', est.ozf1 == 4
      = "-- 1) #{t('form.estimate.select_4')}"
  .field
    %label
      = radio_button_tag "ozf[0][#{pa.id}]", '3', est.ozf1 == 3
      = "-- 2) #{t('form.estimate.select_3')}"
  .field
    %label
      = radio_button_tag "ozf[0][#{pa.id}]", '2', est.ozf1 == 2
      = "-- 3) #{t('form.estimate.select_2')}"
  .field
    %label
      = radio_button_tag "ozf[0][#{pa.id}]", '1', est.ozf1 == 1
      = "-- 4) #{t('form.estimate.select_0')}"
  .field
    =t('form.estimate.desc')
    %br
    = text_area_tag "ozf_text[0][#{pa.id}]", est.ozf ,   rows: 3, style: 'width: 100%; height: 70px;'
  %br
