%div.tab-pane(id="dis_#{pa.id}" style="padding-left:20px;" )
  %h3.color-orange.text-center
    %b=pa.title
    %br
    %br
  %h4.color-orange.text-center
    %b A1.
    =t('form.concept.novation_what')
  .form-group
    =simple_format(pa.name)

  %h4.color-orange.text-center
    %b A2.
    =t('form.concept.novation_how')
  .form-group.has-danger
    =simple_format(pa.content)

  %hr
  %h4.color-orange.text-center
    %b B1.
    =t('form.concept.cond')
  .form-group.has-success= display_content(pa.positive)

  %h4.color-orange.text-center
    %b B2.
    =t('form.concept.cond_res')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('positive_r').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc
        - r.plan_post_resources.by_type('positive_s').each_with_index  do |res, ind|
          %tr
            %td
              ="#{index+1}.#{ind+1}"
            %td
              =res.name
            %td
              =res.desc

  %hr
  #render_get_concept_actions
  %hr
  %h4.color-orange.text-center
    %b C1.
    =t('form.concept.negative')
  .form-group.has-success= display_content(pa.negative)

  %h4.color-orange.text-center
    %b C2.
    =t('form.concept.negative_res')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('negative_r').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc
        - r.plan_post_resources.by_type('negative_s').each_with_index  do |res, ind|
          %tr
            %td
              ="#{index+1}.#{ind+1}"
            %td
              =res.name
            %td
              =res.desc

  %hr
  %h4.color-orange.text-center
    %b D1.
    =t('form.concept.control')
  .form-group.has-success= display_content(pa.control)

  %h4.color-orange.text-center
    %b D2.
    =t('form.concept.control_res')
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          ="#"
        %th
          =t('show.concept.name_res')
        %th
          =t('show.concept.desc_res')
    %tbody
      - pa.plan_post_resources.by_type('control_r').each_with_index do |r, index|
        %tr
          %td
            =index+1
          %td
            =r.name
          %td
            =r.desc
        - r.plan_post_resources.by_type('control_s').each_with_index  do |res, ind|
          %tr
            %td
              ="#{index+1}.#{ind+1}"
            %td
              =res.name
            %td
              =res.desc

  %hr
  %h4.color-orange.text-center
    %b E1.
    =t('form.concept.obstacles_bcd')
  .form-group.has-success= display_content(pa.obstacles)

  %hr
  %h4.color-orange.text-center
    %b F1.
    =t('form.concept.problems')
  .form-group.has-success= display_content(pa.problems)

  %h4.color-orange.text-center
    %b F2.
    =t('form.concept.reality')
  .form-group.has-success= display_content(pa.reality)

  %br
  %br


  =t('form.estimate.title_5')
  .field
    = f.label "-- 1) #{t('form.estimate.fullness_9')}"
    = select_tag "on[0][#{pa.id}][1]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.on1), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 2) #{t('form.estimate.fullness_10')}"
    = select_tag "on[0][#{pa.id}][2]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.on2), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 3) #{t('form.estimate.fullness_11')}"
    = select_tag "on[0][#{pa.id}][3]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.on3), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 4) #{t('form.estimate.fullness_12')}"
    = select_tag "on[0][#{pa.id}][4]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.on4), onchange: "color_select(this)", class: "estimate_select"
  .field
    %br
    = f.label t('form.estimate.desc')
    %br
    = text_area_tag "on_text[0][#{pa.id}]", est.on ,   rows: 3, style: 'width: 100%;'
  %br
  %br
  %br
  =t('form.estimate.title_6')
  .field
    = f.label "-- 1) #{t('form.estimate.select_4')}"
    = select_tag "ozs[0][#{pa.id}][1]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozs1), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 2) #{t('form.estimate.select_3')}"
    = select_tag "ozs[0][#{pa.id}][2]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozs2), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 3) #{t('form.estimate.select_2')}"
    = select_tag "ozs[0][#{pa.id}][3]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozs3), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 4) #{t('form.estimate.select_0')}"
    = select_tag "ozs[0][#{pa.id}][4]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozs4), onchange: "color_select(this)", class: "estimate_select"
  .field
    %br
    = f.label t('form.estimate.desc')
    %br
    = text_area_tag "ozs_text[0][#{pa.id}]", est.ozs,   rows: 3, style: 'width: 100%;'
  %br
  %br
  %br
  =t('form.estimate.title_7')
  .field
    = f.label "-- 1) #{t('form.estimate.fullness_13')} ?"
    = select_tag "op[0][#{pa.id}][1]",  options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.op1), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 2) #{t('form.estimate.fullness_14')} ?"
    = select_tag "op[0][#{pa.id}][2]",  options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.op2), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 3) #{t('form.estimate.fullness_15')} ?"
    = select_tag "op[0][#{pa.id}][3]",  options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.op3), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 4) #{t('form.estimate.fullness_16')} ?"
    = select_tag "op[0][#{pa.id}][4]",  options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.op4), onchange: "color_select(this)", class: "estimate_select"
  .field
    %br
    = f.label t('form.estimate.desc')
    %br
    = text_area_tag "op_text[0][#{pa.id}]", est.op,   rows: 3, style: 'width: 100%;'
  %br
  %br
  %br
  =t('form.estimate.title_8')
  .field
    = f.label "-- 1) #{t('form.estimate.select_4')}"
    = select_tag "ozf[0][#{pa.id}][1]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozf1), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 2) #{t('form.estimate.select_3')}"
    = select_tag "ozf[0][#{pa.id}][2]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozf2), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 3) #{t('form.estimate.select_2')}"
    = select_tag "ozf[0][#{pa.id}][3]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozf3), onchange: "color_select(this)", class: "estimate_select"
  .field
    = f.label "-- 4) #{t('form.estimate.select_0')}"
    = select_tag "ozf[0][#{pa.id}][4]",   options_for_select([[t('form.estimate.chance_1'), 1.0],[t('form.estimate.chance_2'), 2.0], [t('form.estimate.chance_3'), 3.0], [t('form.estimate.chance_4'), 4.0]], est.ozf4), onchange: "color_select(this)", class: "estimate_select"
  .field
    %br
    = f.label t('form.estimate.desc')
    %br
    = text_area_tag "ozf_text[0][#{pa.id}]", est.ozf ,   rows: 3, style: 'width: 100%;'