%p#notice= notice

%p
  %b User:
  = @estimate_post.user_id
%p
  %b Post:
  = @estimate_post.post_id
%p
  %b Content:
  = @estimate_post.content
%p
  %b Oppsh1:
  = @estimate_post.oppsh1
%p
  %b Oppsh2:
  = @estimate_post.oppsh2
%p
  %b Oppsh3:
  = @estimate_post.oppsh3
%p
  %b Oppsh:
  = @estimate_post.oppsh
%p
  %b Ozpshf1:
  = @estimate_post.ozpshf1
%p
  %b Ozpshf2:
  = @estimate_post.ozpshf2
%p
  %b Ozpshf3:
  = @estimate_post.ozpshf3
%p
  %b Ozpshf:
  = @estimate_post.ozpshf
%p
  %b Ozpshs1:
  = @estimate_post.ozpshs1
%p
  %b Ozpshs2:
  = @estimate_post.ozpshs2
%p
  %b Ozpshs3:
  = @estimate_post.ozpshs3
%p
  %b Ozpshs:
  = @estimate_post.ozpshs
%p
  %b Onpsh1:
  = @estimate_post.onpsh1
%p
  %b Onpsh2:
  = @estimate_post.onpsh2
%p
  %b Onpsh3:
  = @estimate_post.onpsh3
%p
  %b Onpsh:
  = @estimate_post.onpsh
%p
  %b Nepr1:
  = @estimate_post.nepr1
%p
  %b Nepr2:
  = @estimate_post.nepr2
%p
  %b Nepr3:
  = @estimate_post.nepr3
%p
  %b Nepr4:
  = @estimate_post.nepr4
%p
  %b Nepr:
  = @estimate_post.nepr

= link_to 'Edit', edit_estimate_post_path(@estimate_post)
\|
= link_to 'Back', estimate_posts_path
