-#%br
-#- if  @post.status == 0 and boss?
-#  = link_to 'Принять', expert_acceptance_save_estimate_post_path( @post), :confirm => 'Точно?'
-#  |
-#  = link_to 'Отклонить без штрафа', expert_rejection_save_estimate_post_path( @post), :confirm => 'Точно?'
-#  |
-#  = link_to 'Отклонить со штрафом', expert_rejection_with_penalty_save_estimate_post_path( @post), :confirm => 'Точно?'
-#


  / = link_to 'Редактировать', edit_estimate_post_path( @post)

.col-md-8
  %div.tab-content
    -  @post.post_aspects_other.each_with_index do |tr, index|
      %div.tab-pane(id="dis_#{tr.plan_post_aspect.id}")
        ожидаемая эффективность это задачи:
        %span.red_est=tr.score
        %div.panel.panel-default
          %div.panel-body
            -#%button.btn.btn-info.btn-sm.pull-right(data-toggle="modal" data-target="#modalStage3")
            -#  Показать пример
            %h5.text-infoУстраняемое несовершенство:
            =render partial:'discontent/posts/post_short2', object: tr.plan_post_aspect.discontent
            %br
            %hr
            #select0
              .panel.panel-info
                .panel-heading
                  %h5.text-success
                    %b A.*
                  %p.text-info
                    %b=t('form.novation_what')
                  .form-group.has-danger=tr.plan_post_aspect.name
                  %p.text-info
                    %b=t('form.novation_how')
                  .form-group.has-danger=tr.plan_post_aspect.content


              .panel.panel-info
                .panel-heading
                  %h5.text-success
                    %b B.*
                  %p.text-info
                    %b=t('form.cond')
                    .form-group.has-success=tr.plan_post_aspect.positive
                  %p.text-info
                    %b=t('form.cond_res')
                    .form-group.has-success=tr.plan_post_aspect.positive_r
                  %p.text-info
                    %b=t('form.cond_s')
                    .form-group.has-success=tr.plan_post_aspect.positive_s


              %hr
              %h5.text-success
                %b C.
              %p.text-info
                %b=t('form.negative')
                .form-group.has-success=tr.plan_post_aspect.negative
              %p.text-info
                %b=t('form.negative_res')
                .form-group.has-success=tr.plan_post_aspect.negative_r
              %p.text-info
                %b=t('form.negative_s')
                .form-group.has-success=tr.plan_post_aspect.negative_s

              %hr
              %h5.text-success D.
              %p.text-info
                %b=t('form.obstacles_bcd')
              .form-group.has-success
                =tr.plan_post_aspect.obstacles

              .panel.panel-info
                .panel-heading
                  %h5.text-success
                    %b E.*
                  %p.text-info
                    %b=t('form.problems')
                  .form-group.has-success=tr.plan_post_aspect.problems
                  %p.text-info
                    %b=t('form.reality')
                  .form-group.has-success=tr.plan_post_aspect.reality

        %br
        %br
        %b Предположим, что будущее уже наступило и все предложенные ресурсы созданы и работают. Какова вероятность, что с их помощью несовершенство будет устранено--
        %br
        полностью -
        %span{:class=>css_class_estimate(tr.op1)}= estimate_trans(tr.op1)
        %br
        в значительной мере -
        %span{:class=>css_class_estimate(tr.op2)}= estimate_trans(tr.op2)
        %br
        в небольшой мере -
        %span{:class=>css_class_estimate(tr.op3)}= estimate_trans(tr.op3)
        %br
        в ничтожной  мере  -
        %span{:class=>css_class_estimate(tr.op4)}= estimate_trans(tr.op4)
        %br
        %br
        - unless tr.op == ''
          %b Объяснение:
          = simple_format(tr.op)

        %br
        %b Функционирование ресурсов потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся—
        %br
        значительными -
        %span{:class=>css_class_estimate(tr.ozf1)}= estimate_trans(tr.ozf1)
        %br
        средними -
        %span{:class=>css_class_estimate(tr.ozf2)}= estimate_trans(tr.ozf2)
        %br
        незначительными -
        %span{:class=>css_class_estimate(tr.ozf3)}= estimate_trans(tr.ozf3)
        %br
        ничтожными -
        %span{:class=>css_class_estimate(tr.ozf4)}= estimate_trans(tr.ozf4)
        %br
        %br
        - unless tr.ozf == ''
          %b Объяснение:
          = simple_format(tr.ozf)

        %br

        %br
        %b Для создания ресурсов в проекте предлагаются определенные средства. Проанализируйте их и оцените, какова вероятность того, что на базе этих средств ресурсы будут созданы --
        %br
        в полном объеме -
        %span{:class=>css_class_estimate(tr.on1)}= estimate_trans(tr.on1)
        %br
        в значительном объеме -
        %span{:class=>css_class_estimate(tr.on2)}= estimate_trans(tr.on2)
        %br
        в небольшом объеме -
        %span{:class=>css_class_estimate(tr.on3)}= estimate_trans(tr.on3)
        %br
        в ничтожном объеме -
        %span{:class=>css_class_estimate(tr.on4)}= estimate_trans(tr.on4)
        %br
        %br
        - unless tr.on == ''
          %b Объяснение:
          = simple_format(tr.on)


        %br

        %br
        %b  Использование этих средств потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся--
        %br
        значительными -
        %span{:class=>css_class_estimate(tr.ozs1)}= estimate_trans(tr.ozs1)
        %br
        средними -
        %span{:class=>css_class_estimate(tr.ozs2)}= estimate_trans(tr.ozs2)
        %br
        незначительными -
        %span{:class=>css_class_estimate(tr.ozs3)}= estimate_trans(tr.ozs3)
        %br
        ничтожными -
        %span{:class=>css_class_estimate(tr.ozs4)}= estimate_trans(tr.ozs4)
        %br

        %br
        - unless tr.ozs == ''
          %b Объяснение:
          = simple_format(tr.ozs)

    -  @post.post_aspects_first.each_with_index do |tr, index|
      %div.tab-pane(id="fdis_#{tr.plan_post_aspect.id}")
        ожидаемая эффективность это задачи:
        %span.red_est=tr.score
        %div.panel.panel-default
          %div.panel-body
            -#%button.btn.btn-info.btn-sm.pull-right(data-toggle="modal" data-target="#modalStage3")
            -#  Показать пример
            %h5.text-infoУстраняемое несовершенство:
            =render partial:'discontent/posts/post_short2', object: tr.plan_post_aspect.discontent
            %br


            #select0
              .panel.panel-info
                .panel-heading
                  %h5.text-success
                    %b A.*
                  %p.text-info
                    %b=t('form.novation_what')
                  .form-group.has-danger=tr.plan_post_aspect.name
                  %p.text-info
                    %b=t('form.novation_how')
                  .form-group.has-danger=tr.plan_post_aspect.content

              .panel.panel-info
                .panel-heading
                  %h5.text-success
                    %b B.*
                  %p.text-info
                    %b=t('form.cond')
                    .form-group.has-success=tr.plan_post_aspect.positive
                  %p.text-info
                    %b=t('form.cond_res')
                    .form-group.has-success=tr.plan_post_aspect.positive_r
                  %p.text-info
                    %b=t('form.cond_s')
                    .form-group.has-success=tr.plan_post_aspect.positive_s


              %hr
              %h5.text-success
                %b C.
              %p.text-info
                %b=t('form.negative')
                .form-group.has-success=tr.plan_post_aspect.negative
              %p.text-info
                %b=t('form.negative_res')
                .form-group.has-success=tr.plan_post_aspect.negative_r
              %p.text-info
                %b=t('form.negative_s')
                .form-group.has-success=tr.plan_post_aspect.negative_s


              %hr
              %h5.text-success
                %b D.
              %p.text-info
                %b=t('form.control')
                .form-group.has-success=tr.plan_post_aspect.control
              %p.text-info
                %b=t('form.control_res')
                .form-group.has-success=tr.plan_post_aspect.control_r
              %p.text-info
                %b=t('form.control_s')
                .form-group.has-success=tr.plan_post_aspect.control_s




              %hr
              %h5.text-success E.
              %p.text-info
                %b=t('form.obstacles_bcd')
              .form-group.has-success=tr.plan_post_aspect.obstacles

              %hr
              .panel.panel-info
                .panel-heading
                  %h5.text-success
                    %b F.*
                  %p.text-info
                    %b=t('form.problems')
                  .form-group.has-success=tr.plan_post_aspect.problems
                  %p.text-info
                    %b=t('form.reality')
                  .form-group.has-success=tr.plan_post_aspect.reality
        %br
        %br
        %b Предположим, что будущее уже наступило и все предложенные ресурсы созданы и работают. Какова вероятность, что с их помощью несовершенство будет устранено--
        %br
        полностью -
        %span{:class=>css_class_estimate(tr.op1)}= estimate_trans(tr.op1)
        %br
        в значительной мере -
        %span{:class=>css_class_estimate(tr.op2)}= estimate_trans(tr.op2)
        %br
        в небольшой мере -
        %span{:class=>css_class_estimate(tr.op3)}= estimate_trans(tr.op3)
        %br
        в ничтожной  мере  -
        %span{:class=>css_class_estimate(tr.op4)}= estimate_trans(tr.op4)
        %br
        %br
        - unless tr.op == ''
          %b Объяснение:
          = simple_format(tr.op)

        %br
        %b Функционирование ресурсов потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся—
        %br
        значительными -
        %span{:class=>css_class_estimate(tr.ozf1)}= estimate_trans(tr.ozf1)
        %br
        средними -
        %span{:class=>css_class_estimate(tr.ozf2)}= estimate_trans(tr.ozf2)
        %br
        незначительными -
        %span{:class=>css_class_estimate(tr.ozf3)}= estimate_trans(tr.ozf3)
        %br
        ничтожными -
        %span{:class=>css_class_estimate(tr.ozf4)}= estimate_trans(tr.ozf4)
        %br
        %br
        - unless tr.ozf == ''
          %b Объяснение:
          = simple_format(tr.ozf)

        %br

        %br
        %b Для создания ресурсов в проекте предлагаются определенные средства. Проанализируйте их и оцените, какова вероятность того, что на базе этих средств ресурсы будут созданы --
        %br
        в полном объеме -
        %span{:class=>css_class_estimate(tr.on1)}= estimate_trans(tr.on1)
        %br
        в значительном объеме -
        %span{:class=>css_class_estimate(tr.on2)}= estimate_trans(tr.on2)
        %br
        в небольшом объеме -
        %span{:class=>css_class_estimate(tr.on3)}= estimate_trans(tr.on3)
        %br
        в ничтожном объеме -
        %span{:class=>css_class_estimate(tr.on4)}= estimate_trans(tr.on4)
        %br
        %br
        - unless tr.on == ''
          %b Объяснение:
          = simple_format(tr.on)


        %br

        %br
        %b  Использование этих средств потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся--
        %br
        значительными -
        %span{:class=>css_class_estimate(tr.ozs1)}= estimate_trans(tr.ozs1)
        %br
        средними -
        %span{:class=>css_class_estimate(tr.ozs2)}= estimate_trans(tr.ozs2)
        %br
        незначительными -
        %span{:class=>css_class_estimate(tr.ozs3)}= estimate_trans(tr.ozs3)
        %br
        ничтожными -
        %span{:class=>css_class_estimate(tr.ozs4)}= estimate_trans(tr.ozs4)
        %br

        %br
        - unless tr.ozs == ''
          %b Объяснение:
          = simple_format(tr.ozs)


    %div.tab-pane#negative
      %br
      %b  При осуществлении проекта могут возникать разные негативные явления. Рассмотрите два типа таких явлений. Первый тип – это побочные эффекты, возникшие наряду с улучшениями (например, нововведения работают, но обходятся слишком дорого).
      %br
      %b  Какова вероятность, что эти побочные эффекты будут—
      %br
      значительными  -
      %span{:class=>css_class_estimate( @post.nepr1)}= estimate_trans( @post.nepr1)
      %br
      средними   -
      %span{:class=>css_class_estimate( @post.nepr2)}= estimate_trans( @post.nepr2)
      %br
      незначительными  -
      %span{:class=>css_class_estimate( @post.nepr3)}= estimate_trans( @post.nepr3)
      %br
      нулевыми  -
      %span{:class=>css_class_estimate( @post.nepr4)}= estimate_trans( @post.nepr4)
      %br
      %br

      %b Объяснение:
      = simple_format( @post.nepr)
      %br
      %br
      %b  Второй тип – это препятствия, возникшие в процессе создания нововведений (например, сопротивление со стороны сотрудников, привыкших работать по-старому).
      %br
      значительными  -
      %span{:class=>css_class_estimate( @post.nep1)}= estimate_trans( @post.nep1)
      %br
      средними   -
      %span{:class=>css_class_estimate( @post.nep2)}= estimate_trans( @post.nep2)
      %br
      незначительными  -
      %span{:class=>css_class_estimate( @post.nep3)}= estimate_trans( @post.nep3)
      %br
      нулевыми  -
      %span{:class=>css_class_estimate( @post.nep4)}= estimate_trans( @post.nep4)
      %br
      %br

      %b Объяснение:
      = simple_format( @post.nep)
    %div.tab-pane#plan
      %p
        %b Общая оценка проекта
        %br
        = simple_format( @post.content)



      -if not  @post.user.jury?
        Общая оценка проекта
        %span.red_est #{ @post.score}
        ( = #{ @post.first_c} + #{ @post.second_c} - #{ @post.third_c})
        %br
        1) ожидаемая эффективность всего проекта в целом
        %span.red_est #{ @post.first_c}
        %br
        2) ожидаемая эффективность его первого шага
        %span.red_est #{ @post.second_c}
        %br
        3) ожидаемые неприятности в связи с осуществлением проекта
        %span.red_est #{ @post.third_c}
        %br
        %br
        %b Общее впечатление от проекта и рекомендации по улучшению
        = simple_format( @post.content)
        %br
        %bОценка проекта в целом:
        %br
        =estimate_trans_project(@post.all_grade)

.col-md-4
  = render 'shared/post_edit_bar', :post => @post

  %h5
    .small Выберите несовершенство, кликнув по нужной вкладке:
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a(href="#theall" data-toggle="tab") Образ будущ.
    %li
      %a(href="#thefirst" data-toggle="tab") Первый этап
  .tab-content
    #theall.tab-pane.fade.in.active
      %ul.nav.nav-tabs.nav-stacked
        -#%li
        -#  %a.text-success(href="#plan1" data-toggle="tab" style='font-size:10px; font-weight: bold;')
        -#    =t('form.plan')
        %li
          %a.text-success(href="#plan" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            Общая оценка проекта
        %li
          %a.text-success(href="#negative" data-toggle="tab" style='font-size:10px; font-weight: bold;')
            Оценка негативных явлений


        -@post.post_aspects_other.each_with_index do |pa, i|
          %li
            %a(href="#dis_#{pa.plan_post_aspect.id}" data-toggle="tab")
              ="#{i+1}. #{pa.plan_post_aspect.discontent.display_content}"
              %span.text-success= pa.score
            -#%span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if @post.get_pa_by_discontent(d, :name)==''}")
    #thefirst.tab-pane.fade
      %ul.nav.nav-tabs.nav-stacked


        -@post.post_aspects_first.each_with_index do |pa, i|
          - if pa.plan_post_aspect.name != ''
            %li
              %a(href="#fdis_#{pa.plan_post_aspect.id}" data-toggle="tab")
                ="#{i+1}. #{pa.plan_post_aspect.discontent.display_content}"
                %span.text-success= pa.score
                -#%span.text-success.glyphicon.glyphicon-ok.pull-right(class = "#{'inv_element' if @post.get_pa_by_discontent(d, :name, 1)==''}")



