= link_to 'Назад', estimate_posts_path
%br
- if  @post.status == 0 and boss?
  = link_to 'Принять', expert_acceptance_save_estimate_post_path( @post), :confirm => 'Точно?'
  |
  = link_to 'Отклонить без штрафа', expert_rejection_save_estimate_post_path( @post), :confirm => 'Точно?'
  |
  = link_to 'Отклонить со штрафом', expert_rejection_with_penalty_save_estimate_post_path( @post), :confirm => 'Точно?'



- if current_user ==  @post.user
  / = link_to 'Редактировать', edit_estimate_post_path( @post)
.wholePost
  = render 'users/user_post', :user =>  @post.user
  .posts
    = render 'users/user_name', :user =>  @post.user, :created_at =>  @post.created_at
    %p
      %b Общая оценка проекта
      %br= simple_format( @post.content)
    -if not  @post.user.jury?
      Общая оценка проекта
      %span.red_est #{ @post.score}
      ( = #{ @post.first_c} + #{ @post.second_c} - #{ @post.third_c})
      %br
      1) ожидаемая эффективность всего проекта в целом
      %span.red_est #{ @post.first_c}
      %br
      2) ожидаемая эффективность его первого шага
      %span.red_est #{ @post.second_c}
      %br
      3) ожидаемые неприятности в связи с осуществлением проекта
      %span.red_est #{ @post.third_c}

      %br
      %br
      %b Общий список несовершенств
      %br
      %div(id="accordion-resizer" class="ui-widget-content")
        .accordion
          -  @post.post_aspects.others.each_with_index do |tr, index|
            %h1="Оценивание #{tr.plan_post_aspect.name}, - #{tr.score} "
            %div
              ожидаемая эффективность это задачи
              -#%span.red_est=tr.score
              %br
              %b Предположим, что будущее уже наступило и все предложенные ресурсы созданы и работают. Какова вероятность, что с их помощью несовершенство будет устранено--
              %br
              полностью -
              %span{:class=>css_class_estimate(tr.op1)}= estimate_trans(tr.op1)
              %br
              в значительной мере -
              %span{:class=>css_class_estimate(tr.op2)}= estimate_trans(tr.op2)
              %br
              в небольшой мере -
              %span{:class=>css_class_estimate(tr.op3)}= estimate_trans(tr.op3)
              %br
              в ничтожной  мере  -
              %span{:class=>css_class_estimate(tr.op4)}= estimate_trans(tr.op4)
              %br
              %br
              - unless tr.op == ''
                %b Объяснение:
                = simple_format(tr.op)

              %br
              %b Функционирование ресурсов потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся—
              %br
              значительными -
              %span{:class=>css_class_estimate(tr.ozf1)}= estimate_trans(tr.ozf1)
              %br
              средними -
              %span{:class=>css_class_estimate(tr.ozf2)}= estimate_trans(tr.ozf2)
              %br
              незначительными -
              %span{:class=>css_class_estimate(tr.ozf3)}= estimate_trans(tr.ozf3)
              %br
              ничтожными -
              %span{:class=>css_class_estimate(tr.ozf4)}= estimate_trans(tr.ozf4)
              %br
              %br
              - unless tr.ozf == ''
                %b Объяснение:
                = simple_format(tr.ozf)

              %br

              %br
              %b Для создания ресурсов в проекте предлагаются определенные средства. Проанализируйте их и оцените, какова вероятность того, что на базе этих средств ресурсы будут созданы --
              %br
              в полном объеме -
              %span{:class=>css_class_estimate(tr.on1)}= estimate_trans(tr.on1)
              %br
              в значительном объеме -
              %span{:class=>css_class_estimate(tr.on2)}= estimate_trans(tr.on2)
              %br
              в небольшом объеме -
              %span{:class=>css_class_estimate(tr.on3)}= estimate_trans(tr.on3)
              %br
              в ничтожном объеме -
              %span{:class=>css_class_estimate(tr.on4)}= estimate_trans(tr.on4)
              %br
              %br
              - unless tr.on == ''
                %b Объяснение:
                = simple_format(tr.on)


              %br

              %br
              %b  Использование этих средств потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся--
              %br
              значительными -
              %span{:class=>css_class_estimate(tr.ozs1)}= estimate_trans(tr.ozs1)
              %br
              средними -
              %span{:class=>css_class_estimate(tr.ozs2)}= estimate_trans(tr.ozs2)
              %br
              незначительными -
              %span{:class=>css_class_estimate(tr.ozs3)}= estimate_trans(tr.ozs3)
              %br
              ничтожными -
              %span{:class=>css_class_estimate(tr.ozs4)}= estimate_trans(tr.ozs4)
              %br

              %br
              - unless tr.ozs == ''
                %b Объяснение:
                = simple_format(tr.ozs)

              %p.ftable.fline
                %span.bigtext Корректируемое несовершенство:
              %p.ftable.fcolor=tr.plan_post_aspect.discontent.show_content.html_safe


              %p.ftable.fline
                %span.bigtext Краткое описание нововведения:
                =tr.plan_post_aspect.content
              .ftable.fbackPositive
                %span.fline.bigtext  A. Какие УСЛОВИЯ надо создать и поддерживать для того, чтобы это нововведение работало?
                .task_supply=simple_format(tr.plan_post_aspect.positive)
              .ftable.fbackNegative
                %span.fline.bigtext B. Какие НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ могут возникнуть в связи с созданием и поддержкой этих УСЛОВИЙ?
                .task_supply=simple_format(tr.plan_post_aspect.negative)
              .ftable.fback
                %span.fline.bigtext C. Что может помешать работе ресурсов и как с этим бороться?
                %br
                =tr.plan_post_aspect.problems
              .ftable.fback
                %span.fline.bigtext D. Реалистичность и практичность: предложить средства для формирования ресурсов, обосновать их доступность и эффективность
                %br
                =tr.plan_post_aspect.reality


      %b Оценка остальных корректировок
      %br
      %div(id="accordion-resizer" class="ui-widget-content")
        .accordion
          -  @post.post_aspects.firsts.each_with_index do |tr, index|
            %h1="Оценивание #{tr.plan_post_first_cond.name}, - #{tr.score} "
            %div
              ожидаемая эффективность это задачи
              -#%span.red_est=tr.score
              %br
              %b Предположим, что будущее уже наступило и все предложенные ресурсы созданы и работают. Какова вероятность, что с их помощью несовершенство будет устранено--
              %br
              полностью -
              %span{:class=>css_class_estimate(tr.op1)}= estimate_trans(tr.op1)
              %br
              в значительной мере -
              %span{:class=>css_class_estimate(tr.op2)}= estimate_trans(tr.op2)
              %br
              в небольшой мере -
              %span{:class=>css_class_estimate(tr.op3)}= estimate_trans(tr.op3)
              %br
              в ничтожной  мере  -
              %span{:class=>css_class_estimate(tr.op4)}= estimate_trans(tr.op4)
              %br
              %br
              - unless tr.op == ''
                %b Объяснение:
                = simple_format(tr.op)

              %br
              %b Функционирование ресурсов потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся—
              %br
              значительными -
              %span{:class=>css_class_estimate(tr.ozf1)}= estimate_trans(tr.ozf1)
              %br
              средними -
              %span{:class=>css_class_estimate(tr.ozf2)}= estimate_trans(tr.ozf2)
              %br
              незначительными -
              %span{:class=>css_class_estimate(tr.ozf3)}= estimate_trans(tr.ozf3)
              %br
              ничтожными -
              %span{:class=>css_class_estimate(tr.ozf4)}= estimate_trans(tr.ozf4)
              %br
              %br
              - unless tr.ozf == ''
                %b Объяснение:
                = simple_format(tr.ozf)

              %br

              %br
              %b Для создания ресурсов в проекте предлагаются определенные средства. Проанализируйте их и оцените, какова вероятность того, что на базе этих средств ресурсы будут созданы --
              %br
              в полном объеме -
              %span{:class=>css_class_estimate(tr.on1)}= estimate_trans(tr.on1)
              %br
              в значительном объеме -
              %span{:class=>css_class_estimate(tr.on2)}= estimate_trans(tr.on2)
              %br
              в небольшом объеме -
              %span{:class=>css_class_estimate(tr.on3)}= estimate_trans(tr.on3)
              %br
              в ничтожном объеме -
              %span{:class=>css_class_estimate(tr.on4)}= estimate_trans(tr.on4)
              %br
              %br
              - unless tr.on == ''
                %b Объяснение:
                = simple_format(tr.on)


              %br

              %br
              %b  Использование этих средств потребует материальных и трудовых затрат. Какова вероятность, что эти затраты окажутся--
              %br
              значительными -
              %span{:class=>css_class_estimate(tr.ozs1)}= estimate_trans(tr.ozs1)
              %br
              средними -
              %span{:class=>css_class_estimate(tr.ozs2)}= estimate_trans(tr.ozs2)
              %br
              незначительными -
              %span{:class=>css_class_estimate(tr.ozs3)}= estimate_trans(tr.ozs3)
              %br
              ничтожными -
              %span{:class=>css_class_estimate(tr.ozs4)}= estimate_trans(tr.ozs4)
              %br

              %br
              - unless tr.ozs == ''
                %b Объяснение:
                = simple_format(tr.ozs)

              %p.ftable.fline
                %span.bigtext Корректируемое несовершенство:
              %p.ftable.fcolor=tr.plan_post_first_cond.post_aspect.discontent.show_content.html_safe


              %p.ftable.fline
                %span.bigtext Краткое описание нововведения:
                =tr.plan_post_first_cond.content
              .ftable.fbackPositive
                %span.fline.bigtext  A. Какие УСЛОВИЯ надо создать и поддерживать для того, чтобы это нововведение работало?
                .task_supply=simple_format(tr.plan_post_first_cond.positive)
              .ftable.fbackNegative
                %span.fline.bigtext B. Какие НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ могут возникнуть в связи с созданием и поддержкой этих УСЛОВИЙ?
                .task_supply=simple_format(tr.plan_post_first_cond.negative)
              .ftable.fbackControl
                %span.fline.bigtext C. Кто и как будет контролировать создание и поддержку этих УСЛОВИЙ и предотвращать возникновение НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ?
                .task_supply=simple_format(tr.plan_post_first_cond.control)
              .ftable.fback
                %span.fline.bigtext D. Что может помешать работе ресурсов и как с этим бороться?
                %br
                =tr.plan_post_first_cond.problems
              .ftable.fback
                %span.fline.bigtext E. Реалистичность и практичность: предложить средства для формирования ресурсов, обосновать их доступность и эффективность
                %br
                =tr.plan_post_first_cond.reality
              .ftable.fback
                %span.fline.bigtext F. Какие помехи могут возникнуть в процессе реализации методов и средств, необходимых для формирования ресурсов? Как их предотвратить?
                %br
                =tr.plan_post_first_cond.problems_with_resources




      %br  
      %b  При осуществлении проекта могут возникать разные негативные явления. Рассмотрите два типа таких явлений. Первый тип – это побочные эффекты, возникшие наряду с улучшениями (например, нововведения работают, но обходятся слишком дорого).
      %br
      %b  Какова вероятность, что эти побочные эффекты будут—
      %br
      значительными  -
      %span{:class=>css_class_estimate( @post.nepr1)}= estimate_trans( @post.nepr1)   
      %br
      средними   -
      %span{:class=>css_class_estimate( @post.nepr2)}= estimate_trans( @post.nepr2)   
      %br
      незначительными  -
      %span{:class=>css_class_estimate( @post.nepr3)}= estimate_trans( @post.nepr3)
      %br   
      нулевыми  -
      %span{:class=>css_class_estimate( @post.nepr4)}= estimate_trans( @post.nepr4)
      %br
      %br

      %b Объяснение:
      = simple_format( @post.nepr)
      %br
      %br
      %b  Второй тип – это препятствия, возникшие в процессе создания нововведений (например, сопротивление со стороны сотрудников, привыкших работать по-старому).
      %br
      значительными  -
      %span{:class=>css_class_estimate( @post.nep1)}= estimate_trans( @post.nep1)
      %br
      средними   -
      %span{:class=>css_class_estimate( @post.nep2)}= estimate_trans( @post.nep2)
      %br
      незначительными  -
      %span{:class=>css_class_estimate( @post.nep3)}= estimate_trans( @post.nep3)
      %br
      нулевыми  -
      %span{:class=>css_class_estimate( @post.nep4)}= estimate_trans( @post.nep4)
      %br
      %br

      %b Объяснение:
      = simple_format( @post.nep)
      %br
      %b Общее впечатление от проекта и рекомендации по улучшению
      = simple_format( @post.content)
      %br
      %bОценка проекта в целом:
      %br
      =estimate_trans_project(@post.all_grade)

    = render 'shared/post_social_bar', :post => @post

= render 'shared/post_edit_bar', :post => @post
