= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'название процедуры'
    %br
    = f.text_area :name
  .field
    = f.label 'описание'
    %br
    = f.text_area :description
  .field
    = f.label 'начало 1 стадии (сбор недовольств)'
    %br
    = f.datetime_select :begin1st
  .field
    = f.label 'окончание 1 стадии (сбор недовольств)'
    %br
    = f.datetime_select :end1st
  .field
    = f.label 'начало голосования за недовольства'
    %br
    = f.datetime_select :begin1stvote
  .field
    = f.label 'окончание голосования за недовольства'
    %br
    = f.datetime_select :end1stvote
  .actions
    = f.submit '', class: 'savebtn'
