%h1 Текущие и завершенные процедуры

%table
  - @projects.each do |project|
    %tr 
      %td
        %b=project.name
    %tr
      %td Начало 1стадии процедуры (сбор недовольств)
      %td
        %b= Russian::strftime(project.begin1st,  "%A, %1d %B %T")
    %tr
      %td Завершение 1стадии процедуры (сбор недовольств)
      %td
        %b= Russian::strftime(project.end1st,  "%A, %1d %B %T")
    %tr
      %td Начало госолования за недовольства
      %td
        %b= Russian::strftime(project.begin1stvote,  "%A, %1d %B %T")
    %tr
      %td Завершения голосования за недовольства
      %td
        %b= Russian::strftime(project.end1stvote,  "%A, %1d %B %T")
    %tr   
      %td
        = link_to 'Ред.', edit_project_path(project)
        = link_to 'Удалить', project, :confirm => 'Вы уверены?', :method => :delete

%br

/ = link_to 'New Project', new_project_path
