%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Begin1st:
  = @project.begin1st
%p
  %b End1st:
  = @project.end1st
%p
  %b Begin1stvote:
  = @project.begin1stvote
%p
  %b End1stvote:
  = @project.end1stvote

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
