= form_for @project,  :html => { :class => 'new_or_edit' } do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@core_project.errors.count, "error")} prohibited this core_project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Название"
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label "Краткое описание"
    = f.text_area :short_desc, class: 'form-control', rows: 5
  .form-group
    = f.label "Описание"
    = f.text_area :desc, class: 'form-control', rows: 5
  .form-group
    = f.label 'Тип процедуры'
    = f.select :type_access, options_for_select([["Открытая", 0],["Для клубистов", 1], ["Закрытая", 2], ["Демо", 3], ["Тестовая", 4], ["Подготовка", 5]], @project.type_access),{}, {class: "form-control"}

  %br
  %actions.pull-right
    = f.submit 'Сохранить',  class: 'btn btn-primary btn-lg', id:'send_project'

