= form_for @project,  :html => { :class => 'new_or_edit' } do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@core_project.errors.count, "error")} prohibited this core_project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg


  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :secret
    = f.text_field :secret , class: 'form-control'
  .form-group
    = f.label :url_logo
    = f.text_field :url_logo, class: 'form-control'
  .form-group
    = f.label :desc
    = f.text_area :desc, class: 'form-control', rows: 5
  .form-group
    = f.label :short_desc
    = f.text_area :short_desc, class: 'form-control', rows: 5
  .form-group
    = f.label :knowledge
    = f.text_area :knowledge, class: 'form-control', rows: 5

  %actions.pull-right
    = f.submit 'Сохранить',  class: 'btn btn-primary btn-lg'

