%ul#side-nav.side-nav
  %li
    = link_to "/general_news", class: 'general_news color-green', id: 'go_to_general_news' do
      %h4 ВСЕ НОВОСТИ
  %li
    %a
      %h4=t('menu.list_projects')
  -if @core_projects
    -@core_projects.each do |project|
      %li{class:"#{'active' if project == @project}", style: "color:#{project.color ? project.color : ''};"}
        = link_to "/project/#{project.id}/general_news" do
          &nbsp;
          =" #{project.code.present? ? project.code : project.name}"

  %li.visible-xs
    %a{href: '/', id: 'root_page', title: t('menu.main')}
      %i.fa.fa-home
      =t('menu.main')

  %li.visible-xs
    %a{:href => "/users/sign_out/", "data-method" => "delete", :id => "sign_out"}
      %i.fa.fa-sign-out
      =t('menu.sign_out')