%ul#side-nav.side-nav
  %li
    -if params[:action] == 'news'
      = link_to "/general_news", class: 'general_news color-green', id: 'go_to_general_news' do
        %h4=t('show.general_news')
    -elsif params[:action] == 'users'
      = link_to "/general_rating", class: 'general_rating color-green', id: 'go_to_general_rating' do
        %h4=t('show.general_rating')
    -elsif ['general_analytics','lifetape_analytics','discontent_analytics','concept_analytics','plan_analytics','estimate_analytics'].include?(params[:action])
      = link_to "/general_analytics", class: 'general_analytics color-green', id: 'go_to_general_analytics' do
        %h4=t('show.general_analytics')
  %li
    %a
      %h4=t('menu.list_projects')
  -if @core_projects
    -@core_projects.each do |project|
      %li{class:"#{'active' if project == @project}"}
        -if params[:action] == 'news'
          = link_to "/project/#{project.id}/general_news", id: "go_to_project_#{project.id}" do
            &nbsp;
            =" #{project.name}"
        -elsif params[:action] == 'users'
          = link_to "/project/#{project.id}/general_rating", id: "go_to_project_#{project.id}" do
            &nbsp;
            =" #{project.name}"
        -elsif ['general_analytics','lifetape_analytics','discontent_analytics','concept_analytics','plan_analytics','estimate_analytics'].include?(params[:action])
          = link_to "/project/#{project.id}/general_analytics", id: "go_to_project_#{project.id}" do
            &nbsp;
            =" #{project.name}"

  %li.visible-xs
    %a{href: '/', id: 'root_page', title: t('menu.main')}
      %i.fa.fa-home
      =t('menu.main')

  %li.visible-xs
    %a{:href => "/users/sign_out/", "data-method" => "delete", :id => "sign_out"}
      %i.fa.fa-sign-out
      =t('menu.sign_out')