%ul#side-nav.side-nav
  %li
    = link_to @project ? "/project/#{@project.id}/general_news" : "/general_news", class: 'general_news color-green', id: 'go_to_general_news' do
      %h4 ВСЕ НОВОСТИ
  %li
    %a
      %h4=t('menu.list_aspects')
  -if @project
    -@project.aspects.order("position DESC").each do |asp|
      %li{class:"#{'active' if asp == @aspect}"}
        = link_to "/project/#{@project.id}/general_news?asp=#{asp.id}" do
          &nbsp;
          =" #{asp.content}"

  %li.visible-xs
    %a{href: '/', id: 'root_page', title: t('menu.main')}
      %i.fa.fa-home
      =t('menu.main')

  %li.visible-xs
    %a{:href => "/users/sign_out/", "data-method" => "delete", :id => "sign_out"}
      %i.fa.fa-sign-out
      =t('menu.sign_out')