%h1
  = t('form.project.edit')

.nav-tabs-one
  %ul.nav.nav-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#edit_project'} Редактирование процедуры
    - if @project.persisted?
      %li
        %a{'data-toggle' => 'tab', href: '#edit_aspects'} Аспекты
      %li
        %a{'data-toggle' => 'tab', href: '#edit_stages'} Этапы
  .tab-content
    #edit_project.tab-pane.fade.active.in
      = render 'form'
    - if @project.persisted?
      #edit_aspects.tab-pane.fade
        %ul.panel-collapse{id: "aspects_for_#{@project.id}"}
          = link_to 'Добавить аспект', new_aspect_path(@project), remote: true, id: "add_aspect_for_#{@project.id}"
          %br
          - @project.aspects.main_aspects.each do |asp1|
            = render partial: 'aspect', locals: {aspect: asp1}

            - if asp1.core_aspects.present?
              %ul.panel-collapse{id: "aspects_for_aspect_#{asp1.id}"}
                - asp1.core_aspects.each do |asp2|
                  = render partial: 'aspect', locals: {aspect: asp2}
      #edit_stages.tab-pane.fade
        = render partial: 'edit_stages'
#aspect_modal
