=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s

%h1 Помощь
%p На каждом этапе нашей работы му будем добавлять новые разделы помощи, которые будут двух видов - простые и для углубленного изучения, выбирайте тот, который вам понятнее. И мы всегда готовы ответить на ваши вопросы.
%br
%br


%ul
    %li
        %b Нулевой этап - сбор информации и обсуждение - здесь мы в свободной форме обсуждаем предстоящую процедуру, ее цели и задачи
        %br
        %ul.help
            -#%li=link_to 'О рациональности ', "/project/#{@core_project.id}/help_0"
            %li=link_to 'О рациональности (углубленное изучение) ', "/project/#{@core_project.id}/help_d0"
            %li=link_to 'статья О. Савельзона и Р.Вайнтруба  "От концепции открытого общества к практике открытой организации"', "/project/#{@core_project.id}/article1"
            %li=link_to 'статья О. Савельзона и Р.Вайнтруба "Теория и практика согласованного построения бренда компании и брендов продуктов на российском  фармрынке"', "/project/#{@core_project.id}/article2"
            %li=link_to 'Лекции О. Савельзона не телеканале "Успех"', "/project/#{@core_project.id}/article3"
            %br
    %li
        %b Первый этап - анализ ситуации - здесь мы начинаем собирать и обощать несовершенства
        %br
        %ul.help
            -#%li=link_to 'О рациональности ', "/project/#{@core_project.id}/help_0"
            %li=link_to 'Техническая помощь ', ""
            %li=link_to 'Подробнее о несовершенствах ', ""

            / %li=link_to 'Помощь по разделу сбор идей и информации', '/help2'
            / %li=link_to 'Модель формулирования недовольств', '/help6'

            / %li=link_to 'Помощь по разделу сбор недовольств', '/help1'

            / %li=link_to 'Mодель целенаправленной деятельности', '/help7'
            / %li=link_to 'Помощь по разделу Концепции', '/help3'
            / %li=link_to 'Помощь по разделу Проекты', '/help4'
            / %li=link_to 'Помощь по разделу Оценка', '/help5'
            / %li=link_to 'Что такое реферативная записка', :anchor => "01"

%br
/ =link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s
/ Видеовстпуление
/ %br
/ <iframe width="560" height="315" src="http://www.youtube.com/embed/GOQP8vSamoI" frameborder="0" allowfullscreen></iframe>
