=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s

%h1 Помощь
-#%p На каждом стадии нашей работы му будем добавлять новые разделы помощи, которые будут двух видов - простые и для углубленного изучения, выбирайте тот, который вам понятнее. И мы всегда готовы ответить на ваши вопросы.
%br
%br


%b Полезные материалы
%br
=link_to 'Причины участвовать в процедуре ', "/project/#{@core_project.id}/article4"
%br
=link_to 'Краткое описание процедуры выработки решения в вопросах и ответах', "/project/#{@core_project.id}/article5"
%br
=link_to 'статья О. Савельзона и Р.Вайнтруба  "От концепции открытого общества к практике открытой организации"', "/project/#{@core_project.id}/article1"
%br
=link_to 'статья О. Савельзона и Р.Вайнтруба "Теория и практика согласованного построения бренда компании и брендов продуктов на российском  фармрынке"', "/project/#{@core_project.id}/article2"
%br
=link_to 'Лекции О. Савельзона не телеканале "Успех"', "/project/#{@core_project.id}/article3"

%br
%br

%h1 Подробное описание процедуры выработки решения
%ul
    %li
        %b Стадия 0) – введение в процедуру
        %br
        %ul.help
            %li=link_to 'Описание стадии', "/project/#{@core_project.id}/help_s0"
            %li=link_to 'Как участвовать на этой стадии?', "/project/#{@core_project.id}/help_t0"

            %br
    %li
        %b Стадия 1) – анализ ситуации
        %br
        %ul.help
            %li=link_to 'Описание стадии', "/project/#{@core_project.id}/help_s1"
            %li=link_to 'Как участвовать на этой стадии?', "/project/#{@core_project.id}/help_t1"

            %br

    %li
        %b
            Стадия 2) – формулирование проблемы
            %span(style="color:red;")новый раздел
        %br
        %ul.help
            %li=link_to 'Описание стадии (краткое)', "/project/#{@core_project.id}/help_s2"
            %li=link_to 'Описание стадии (подробное)', "/project/#{@core_project.id}/help_s2_1"
            %li=link_to 'Как участвовать на этой стадии?', "/project/#{@core_project.id}/help_t2"

            %br



%br
/ =link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s
/ Видеовстпуление
/ %br
/ <iframe width="560" height="315" src="http://www.youtube.com/embed/GOQP8vSamoI" frameborder="0" allowfullscreen></iframe>
