=link_to 'вернуться к  помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Как принять участие на первой стадии процедуры
%br
%b На первой  стадии вы можете добавлять несовершенствать и  обсуждать добавленные
%p
  Щелкнув на зеленую ссылку "Анализ ситуации" на черном меню вверху, вы попадаете в таблицу анализа ситуации.
  Здесь представлены уже
  %b ПРИНЯТЫЕ
  несовершенства. Они поделены на фрагменты и на типы (имеющийся негатив и отсутствующий позитив).
%br
%b Что нужно сделать в первую очередь?
%p
  1. Внимательно изучите эту таблицу. Посмотрите, не хватает ли на ней того, что волнует лично вас.
  %br
  2. Если этого нет вообще - нажимайте на "Добавить несовершенство"
  %br
  3. Если волнующая вас тема уже поднята, но раскрыта не достаточно полно - нажимайте на иконку шестиренки над
  несовершенством, которое его подняло и вы сможете его перепределить
%br
= image_tag 'help/help1_img1.png', :width => '600px', :class => 'help_image'
%br
%br
%br

%b 1. Добавление несовершенства
%br
%p
  Нажав на кнопку "Добавить несовершенство", вы попадаете в форму добавления, внесите все данные в текстовые поля,
  и выберите нужные значения из падающих списков. После чего нажмите на "Отправить"
= image_tag 'help/help1_img2.png', :width => '600px', :class => 'help_image'
%p
  Переопределение происходит аналогично - но сверху будет несовершенство, которое напоминает вам, что собственно вы
  переопределяете

%br
%br
%br

%b 2. Обсуждение несовершенств
%br
%p
  Несовершенства можно обсуждать, критикуя автора или помогая сделать несовершенство лучше.
  Для этого нужно. Выбрать меню слева "Обсуждаются" (в скобках указано сколько сейчас обсуждаются несовершенств)
  и нажать на ссылку "подробнее". Здесь можно добавить критикующий или помогающий комментарий. Автор может редактировать
  свое несовершенство, удалить его в архив или отправить эксперту

= image_tag 'help/help1_img5.png', :width => '600px', :class => 'help_image'
= image_tag 'help/help1_img3.png', :width => '600px', :class => 'help_image'
%br
%br
%br

%b 3. Отправка несовершенства эксперту
%p
  Создав несовершенство, вы можете спустя какое то время, отправить его эксперту. Если необходимо - добавьте свой
  комментарий с ответом на критику или своими доводами, почему ваше несовершенство должно быть принято. После принятия
  несовершенство попадает и таблицу принятых несовершенств
%br
= image_tag 'help/help1_img4.png', :width => '600px', :class => 'help_image'
%br
%br
%br
%p=link_to 'Если что-то непонятно, вы можете задать вопрос', '/project/'+@core_project.id.to_s+'/question/posts/'