=link_to 'вернуться к  помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Как принять участие на второй стадии процедуры
%br
%b На второй  стадии вы можете добавлять образы желаемого будущего и  обсуждать добавленные
%p
  Первое, что вы увидете, попав на этот этап - это список обязательных несовершенств, преодолевших голосование, а напротив предложенные нововведения по их
  устранению. Чтобы добавить свой образ, нужно щелкнуть мышью по кнопке "Добавить  образ желаемого будущего"
= image_tag 'help/help2_img1.png', :width => '600px', :class => 'help_image'

%br
%b Что такое образ?
%p
  Это набор нововведений, решаюших несовершенства, количество несовершенств внутри образа не ограничено, но они в целом должны
  представлять единую картину
%p Добавление образа представляет набор полей, заполняя которые вы отвечаете на вопросы,представленные над текстовыми полями
%p В поле "Краткое описание образа" - вы буквально в паре слов презентуете свой образ, выделив его сильные стороны
%p В поле "Эссе об образе" - вы уже обстоятельно описываете свои идеи и то, как работает ИРБИС в будущем, когде проблемы решены
%p Дальше начинается самое интересное - подробное описание того, как ваш образ решает конкретные несовершенства - самое ценное в ваших образах,
%p Выбрав фрагмент из выпадающего списка, вы можете нажать на "добавить обязательные несовершенства из фрагмента"
%br
= image_tag 'help/help2_img2.png', :width => '600px', :class => 'help_image'
%br
%p Подгрузив несовершенства из этого фрагмента, вы увидите их список в виде серых блоков, которые разворачиваются, если на них щелкнуть мышью
%br
= image_tag 'help/help2_img3.png', :width => '600px', :class => 'help_image'
%br
%p Раскрыв описание конкретного несовершенства, вы описаываете нововведение своего образа, описывая как оно будет решать это несовершенство
%p Если вы передумали решать это несовершенство, вы можете кликнуть "Не хочу решать это несовершенство",  оно удалится из списка
%p ОБЯЗАТЕЛЬНО заполняйте все поля
%br
= image_tag 'help/help2_img4.png', :width => '600px', :class => 'help_image'
%br
%p Добавляя условия в зеленый и красные блоки обратите внимание на иконки помощи редактирования
%p
  Чтобы добавить еще одно условие, вам нужно перейти на уровень влево (иконка со стрелкой влево),
  а чтобы перейти в режим добавления ресурсов - нажмите на иконку со стрелкой вправо и пометьте что это ресурсы
  иконкой со списком (из трех самая левая)
%br
= image_tag 'help/help2_img5.png', :width => '600px', :class => 'help_image'
%br
%p
  Если вы хотите   добавить свое несовершенство, которого не было в списке обязательных - кликните на ссылку
  "Добавить свое несовершенство", расположенное рядом с выпадающим списком фрагментом
%p
  Добавление такого нововведения аналогично предыдущему
%br
= image_tag 'help/help2_img6.png', :width => '600px', :class => 'help_image'
%br


%b  Обсуждение образов
%br
%p
  Образы можно обсуждать, критикуя автора или помогая сформулировать образы точнее.
  Для этого нужно: выбрать в меню слева раздел "Обсуждаются" (в скобках указано сколько сейчас обсуждается образов)
  и нажать на ссылку "подробнее". Здесь можно добавить критикующий или помогающий комментарий. Автор может редактировать
  свой образ, удалить его в архив или отправить эксперту

%br
%br
%br

%b  Отправка образа эксперту
%p
  Создав образ, вы можете спустя 2 суток, отправить его эксперту. Если необходимо - добавьте свой
  комментарий с ответом на критику или своими доводами, почему ваш образ должен быть принят.
%br
%br
%br
%br
%p=link_to 'Если что-то непонятно, вы можете задать вопрос', '/project/'+@core_project.id.to_s+'/question/posts/'