=link_to image_tag('fb.png'),'/'
=link_to image_tag('tw.png'),'/'
=link_to image_tag('vk.png'),'/'
=link_to image_tag('ok.png'),'/'
%br
%br
.aboutpeople
  .phototext
    = image_tag 'savelzon.jpg'
    %br
    %br
    =link_to 'ОЛЕГ САВЕЛЬЗОН','/savelzon', class: 'name'
    %br
    %p.about
      %span.post Президент клуба.
      %br
      Доктор философии, руководитель исследовательского проекта в Высшей школе технологии в Иерусалиме.
  .phototext
    %p.promotext 
      %b Здравствуйте, дорогие друзья!
      %br 
      Мне очень приятно приветствовать вас на нашем обновленном сайте. Многие из вас уже приняли участие в рациональной процедуре выработке решений и знают, какие цели и задачи такие процедуры преследуют, и теперь я бы хотел предложить вам новый проект. 
      %br 
      Мы обдумали, как сделать общение участников, проявивших себя в прошедших и будущих процедурах принятия решений, постоянным и интересным, возникла идея - cоздать виртуальный клуб для тех, кто действительно хочет совершенствоваться в рациональном принятии решений.
      %br 
      В нем вас ждут:
      %br
      1. Участие в интересных процедурах
      %br
      2. Освоение новых моделей и техник по рациональному принятию решений
      %br
      3. Премии и призы за активное творческое участие в работе клуба
      %br
      4. Общение с друг с другом, а также с интересными людьми из бизнеса и общественных организаций
      %br 
      %br 
      Возникает, однако, вопрос, каким должен быть этот клуб? Кто может на него лучше ответить, чем будущие участники? Давайте попробуем провести короткую рациональную процедуру (буквально, пара недель) по выработке стратегии создания и развития такого клуба.
      Кстати, благодаря участию многих из вас в предыдущей процедуре, мы существенно переработали сам алгоритм принятия решений, сделав его удобнее, нагляднее и проще.
      %br
      %b Кликайте на процедуру "Создание и развитие клуба", и мы приступаем!

%br
%br
%h3 Процедуры:
.strtable
  .strcolumns= image_tag 'oecdo.png', :height => 60, class: 'project_logo'
  .strcolumns
    %span.strname СТРАТЕГИЯ РАЗВИТИЯ ДО В СГУ НА 2012-2013 ГОД
    %br
    Статус: 
    %span.namedate завершена
    %br
    Уровень доступа:
    %span.namedate закрыта
    %br
- @core_projects.each do |core_project|
  .strtable
    .strcolumns= image_tag core_project.url_logo, :height => 70, class: 'project_logo'
    .strcolumns
      = link_to core_project.name, '/project/'+core_project.id.to_s,  class: 'strname'
      %br
      Статус: 
      %span.namedate= status_title(core_project.status)
      %br
      Уровень доступа:
      %span.namedate= type_title(core_project.type_access)
      %br
      = link_to 'Show', core_project
      = link_to 'Edit', edit_core_project_path(core_project)
      = link_to 'Destroy', core_project, :data => { :confirm => 'Text' }, :method => :delete

%br

- if boss?
  = link_to 'Добавить проект', new_core_project_path
%br
%br
%h3 Отзывы пользователей

%table
  %tr
    %td
      .comments
        .avatar
          = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=korovinalv'
          %br
          %span.role студент
          %br

        .posts
          %span.namedate Людмила Коровина, 31 января 19:52:08 
          %br
          %p.comments Во-первых, Олег, спасибо Вам за столь интересный курс. Время покажет, сможем ли мы применить полученные в ходе изучения курса занния на практике, но, думаю, зная о том, что существуют методики рационального принятия решений и у нас была возможность с ними работать, мы будем задумываться о применении их в реальной жизни. Лично мне было очень интересно работать на протяжении всего курса.  Надеюсь, что изучение курса по принятию решений отразится на моей дальнейшей жизни. Спасибо!         
    %td
      .comments
        .avatar
          = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=karpovann'
          %br
          %span.role студент
          %br
        .posts
          %span.namedate Наталья Карпова, 1 февраля 9:55:32  
          %br
          %p.comments В начале процедуры было сложно понять, что же от нас требуется и что за этим последует. Потом, по мере прояснения, уже на втором этапе процедуры было интересно читать предложенные студентами идеи. Мне так захотелось написать об идее, что собственно я и сделала, в которую вошли мои мысли о стремлении к получению именно тех знаний, которые необходимы на сегодняшний день большинству студентов. Затем, уже на основе этой идеи написать концепцию. На этом этапе, по моему мнению, не все студенты справились с грамотным составлением концепции, потому как, уже на следующем этапе, при написании проекта эти концепции приходилось дорабатывать. В связи с этим над проектом пришлось довольно долго думать, заново разрабатывать (дорабатывать) задачи. Это очень большой труд всех авторов представленных проектов. Но как оказалось последний этап – оценивание и вызвал общие трудности при оценивании проектов. В ходе всей процедуры надо было очень много думать, размышлять, принимать решения, анализировать, вносить свои идеи, правильно формулировать те или иные задачи. Раньше нам не приходилось сталкиваться с таким большим объемом информации, которую нужно было не только прочитать, понять, но и быстро на нее отреагировать. Спасибо Олегу и Андрею за терпение и понимание. Могу точно сказать, что данная процедура не пройдет бесследно для студентов активно принимающих участие. Это большой опыт в новом начинании и возможность мыслить по-другому!

