
.aboutpeople
  .phototext
    = image_tag 'savelzon.jpg'
    %br
    %br
    =link_to 'ОЛЕГ САВЕЛЬЗОН','/savelzon', class: 'name'
    %br
    %p.about
      Автор и научный руководитель проекта.
      %br 
      Доктор философии, руководитель исследовательского проекта в Высшей школе технологии в Иерусалиме.    

  .phototext
    %p.promotext 
      %b ГУМАНИТАРНАЯ ИНТЕРНЕТ-ТЕХНОЛОГИЯ, ПОДДЕРЖИВАЮЩАЯ МАССОВУЮ СЕТЕВУЮ РАЦИОНАЛЬНУЮ ДЕМОКРАТИЧНУЮ ИГРОВУЮ ВЫРАБОТКУ СТРАТЕГИЧЕСКИХ РЕШЕНИЙ, ОПТИМИЗИРОВАННЫХ ДЛЯ РЕАЛИЗАЦИИ

      %br 
      Разработана и протестирована система компьютерных программ, поддерживающая в сети тренинг, логическую обработку и эвристическое генерирование информации на всех стадиях рациональных процедур выработки решения в сообществах: (I) анализ неудовлетворяющей сообщество или его руководство ситуации; (II) уяснение и формулирование проблемы; (III) генерирование альтернатив решения; (IV) их оценка; (V) выбор лучшей альтернативы; (VI) заключение о том или ином продолжении. Презентация и обмен информацией происходят на Интернет-портале, и участник может внести свои материалы, комментарии, оценки и т.п. в любое удобное для него время, а в процедуре нет моментов, когда требуется обязательное присутствие участников на сайте.
      %br
      %br
      Использование разработанной гуманитарной интернет-технологии дает следующие основные эффекты:
      %br
      А. 
      %b Оптимизированность для реализации выработанного стратегического решения 
      (обеспечивается тем, что вовлечение будущих «реализаторов» в выработку решения формирует у них мотивацию, понимание, консолидацию, неубывающий энтузиазм из-за плодотворного первого шага).
      %br
      Б.
      %b Высокое содержательное качество решения 
      (обеспечивается рациональностью процедуры и переводом участников на новый высокий уровень коллективного мышления во время процедуры).
      %br
      В. 
      %b Повышение компетентности участников 
      – «послепроцедурный эффект» (обеспечивается встроенным в процедуру обучением и последующей практической работой).
      %br
      %br
      %b Применение:
      %br
      %li коллективная и массовая выработка стратегических решений в компаниях и организациях, сообществах, политических партиях и движениях, общественных ассоциациях - в целях консолидации и мотивации их членов на реализацию совместно выработанных проектов;
      %li новые общенациональные рациональные выборы и референдумы;
      %li индивидуальное и коллективное повышение компетентности в принятии решений.
  .phototext2
    = image_tag 'ralf.jpg'
    %br
    %br
    =link_to 'РАЛЬФ ВАЙНТРУБ','/vayntrub', class: 'name'
    %br
    %p.about
      Руководитель проекта.
      %br 
      Президент группы компаний.

      
%br
%br
%h3 Процедуры:
%br
- @core_projects.each do |core_project|
  .strtable
    .strcolumns= image_tag core_project.url_logo, :width => 60, class: 'project_logo'
    .strcolumns
      = link_to core_project.name, '/project/'+core_project.id.to_s,  class: 'strname'
      %br
      Статус: 
      %span.namedate= status_title(core_project.status)
      %br
      Уровень доступа:
      %span.namedate= type_title(core_project.type_access)
      %br
      .desc= core_project.short_desc
      %br
      - if boss?
        = link_to 'Show', core_project
        = link_to 'Edit', edit_core_project_path(core_project)
        = link_to 'Destroy', core_project, :data => { :confirm => 'Text' }, :method => :delete

%br

- if boss?
  = link_to 'Добавить проект', new_core_project_path
%br
%br
%h3 Отзывы пользователей после первой процедуры
%br

.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=korovinalv'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Людмила Коровина, 31 января 19:52:08 
    %br
    Во-первых, Олег, спасибо Вам за столь интересный курс. Время покажет, сможем ли мы применить полученные в ходе изучения курса занния на практике, но, думаю, зная о том, что существуют методики рационального принятия решений и у нас была возможность с ними работать, мы будем задумываться о применении их в реальной жизни. Лично мне было очень интересно работать на протяжении всего курса.  Надеюсь, что изучение курса по принятию решений отразится на моей дальнейшей жизни. Спасибо!         
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=karpovann'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Наталья Карпова, 1 февраля 9:55:32  
    %br
    В начале процедуры было сложно понять, что же от нас требуется и что за этим последует. Потом, по мере прояснения, уже на втором этапе процедуры было интересно читать предложенные студентами идеи. Мне так захотелось написать об идее, что собственно я и сделала, в которую вошли мои мысли о стремлении к получению именно тех знаний, которые необходимы на сегодняшний день большинству студентов. Затем, уже на основе этой идеи написать концепцию. На этом этапе, по моему мнению, не все студенты справились с грамотным составлением концепции, потому как, уже на следующем этапе, при написании проекта эти концепции приходилось дорабатывать. В связи с этим над проектом пришлось довольно долго думать, заново разрабатывать (дорабатывать) задачи. Это очень большой труд всех авторов представленных проектов. Но как оказалось последний этап – оценивание и вызвал общие трудности при оценивании проектов. В ходе всей процедуры надо было очень много думать, размышлять, принимать решения, анализировать, вносить свои идеи, правильно формулировать те или иные задачи. Раньше нам не приходилось сталкиваться с таким большим объемом информации, которую нужно было не только прочитать, понять, но и быстро на нее отреагировать. Спасибо Олегу и Андрею за терпение и понимание. Могу точно сказать, что данная процедура не пройдет бесследно для студентов активно принимающих участие. Это большой опыт в новом начинании и возможность мыслить по-другому!

%br
=link_to 'читать все отзывы', '/reviews'