
.success
  %b Впервые на сайте?
  Для регистрации вам необходимо кодовое слово, которое можно получить, отправив письмо на адрес suslova@mass-decision.ru или зарегистрировавшись в одной из наших групп в социальных сетях. В письме укажите вашу группу, имя и фамилию.

  %br
  Чтобы начать работу, кликните по ссылке  «Совершенствование спроса на заочное образование ИРБИСа» и ознакомьтесь с краткой инструкцией справа.

.aboutpeople
  .phototext
    = image_tag 'savelzon.jpg'
    %br
    %br
    =link_to 'ОЛЕГ САВЕЛЬЗОН','/savelzon', class: 'name'
    %br
    %p.about
      Автор и научный руководитель проекта.
      %br 
      Доктор философии, руководитель исследовательского проекта в Высшей школе технологии в Иерусалиме.    

  .phototext
    %p.promotext 
      %center
        %h1 MASSDECISION В ВОПРОСАХ И ОТВЕТАХ
      %br
      %b Что такое MASSDECISION?
      %br
      Это гуманитарная интернет-технология для демократичной выработки стратегических решений в массовых сообществах и подготовки будущих исполнителей к их реализации.
      %br
      %b Какие задачи решает технология MASSDECISION?
      %br
      Обеспечение максимально высокого качества принятого решения при вовлечении максимального числа участников в процесс его выработки. До сих пор считалось, что эти задачи конфликтуют между собой, поскольку широкие массы не обладают достаточным уровнем компетенции.
      %br
      %b Как проходит процедура MASSDECISION с технической точки зрения?
      %br
      Для практического применения технологии разработан комплекс компьютерных программ, поддерживающих сетевое обучение, логическую обработку информации и стимулирование творческого мышления участников. Процедура проходит на сайте, где участники на равных правах размещают свои предложения, комментарии и оценки в любое удобное для них время.
      %br
      %b В какой форме проходит процедура MASSDECISION?
      %br
      Процедура проходит в форме самоорганизованной деловой игры. Каждый участник выбирает вид творческой деятельности и степень своего участия в зависимости от собственных возможностей и интересов. Наиболее эффективное участие поощряется денежными призами.
      %br
      %b Что получает сообщество в результате проведения процедуры MASSDECISION?
      %br
      Коллективное решение, которое включает в себя один или несколько вариантов исправления ситуации, вызывающей неудовлетворенность сообщества, и согласованный детальный план первого этапа преобразований.
      %br
      %b Каковы основные эффекты технологии MASSDECISION?
      %br
      В процессе выработки решения участники одновременно готовятся к его реализации, повышается мотивация будущих исполнителей за счет участия в выработке решения и правильного понимания его сути, решение обладает высокой содержательной ценностью, и участники процедуры приобретают полезные навыки рационального мышления, которые сохраняются и после окончания процедуры.
      %br
      %b Где можно применять технологию MASSDECISION?
      %br
      В компаниях, организациях, сообществах, общественных ассоциациях, политических партиях и движениях, а также при проведении общенациональных рациональных выборов и референдумов.
      %br
      =link_to 'Подробнее о проекте','/description'
  .phototext2
    = image_tag 'ralf.jpg'
    %br
    %br
    =link_to 'РАЛЬФ ВАЙНТРУБ','/vayntrub', class: 'name'
    %br
    %p.about
      Руководитель проекта.
      %br 
      Президент группы компаний.

      
%br
%br
%h3 Процедуры:
%br
- @core_projects.each do |core_project|
  -if core_project.type_project !=1 or boss?
    .strtable
      .strcolumns= image_tag core_project.url_logo, :width => 60, class: 'project_logo'
      .strcolumns
        = link_to core_project.name, '/project/'+core_project.id.to_s,  class: 'strname'
        %br
        - if core_project.users.include? current_user
          %span.rate у вас есть права на этот проект
          %br
        Статус: 
        %span.namedate= status_title(core_project.status)
        %br
        Уровень доступа:
        %span.namedate= type_title(core_project.type_access)
        %br
        .desc= core_project.short_desc
        %br
        - if boss?
          = link_to 'Show', core_project
          = link_to 'Edit', edit_core_project_path(core_project)
          = link_to 'Destroy', core_project, :data => { :confirm => 'Text' }, :method => :delete

%br

- if boss?
  = link_to 'Добавить проект', new_core_project_path
%br
%br
%h3 Отзывы пользователей после первой процедуры
%br

.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=korovinalv'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Людмила Коровина, 31 января 19:52:08 
    %br
    Во-первых, Олег, спасибо Вам за столь интересный курс. Время покажет, сможем ли мы применить полученные в ходе изучения курса занния на практике, но, думаю, зная о том, что существуют методики рационального принятия решений и у нас была возможность с ними работать, мы будем задумываться о применении их в реальной жизни. Лично мне было очень интересно работать на протяжении всего курса.  Надеюсь, что изучение курса по принятию решений отразится на моей дальнейшей жизни. Спасибо!         
%br
.strtable
  .strcolumns
    = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=karpovann'
    %br
    %span.role студент
    %br

  .strcolumns.review
    %span.namedate Наталья Карпова, 1 февраля 9:55:32  
    %br
    В начале процедуры было сложно понять, что же от нас требуется и что за этим последует. Потом, по мере прояснения, уже на втором этапе процедуры было интересно читать предложенные студентами идеи. Мне так захотелось написать об идее, что собственно я и сделала, в которую вошли мои мысли о стремлении к получению именно тех знаний, которые необходимы на сегодняшний день большинству студентов. Затем, уже на основе этой идеи написать концепцию. На этом этапе, по моему мнению, не все студенты справились с грамотным составлением концепции, потому как, уже на следующем этапе, при написании проекта эти концепции приходилось дорабатывать. В связи с этим над проектом пришлось довольно долго думать, заново разрабатывать (дорабатывать) задачи. Это очень большой труд всех авторов представленных проектов. Но как оказалось последний этап – оценивание и вызвал общие трудности при оценивании проектов. В ходе всей процедуры надо было очень много думать, размышлять, принимать решения, анализировать, вносить свои идеи, правильно формулировать те или иные задачи. Раньше нам не приходилось сталкиваться с таким большим объемом информации, которую нужно было не только прочитать, понять, но и быстро на нее отреагировать. Спасибо Олегу и Андрею за терпение и понимание. Могу точно сказать, что данная процедура не пройдет бесследно для студентов активно принимающих участие. Это большой опыт в новом начинании и возможность мыслить по-другому!

%br
=link_to 'читать все отзывы', '/reviews'