- if signed_in?
  .pull-right
    = link_to t('show.project.new'), new_core_project_path, class: 'btn btn-lg btn-primary', id: 'new_project'
  %h2
    %strong
      = t('menu.list_projects')
  %br
  %br
  %h5
    - @view_projects.each do |project|
      .row(style="font-weight:500;")
        .col-md-4
          = project.name
        .col-md-2
          .badge.badge-success
            = status_project(project)
        .col-md-1
          .badge.badge-primary
            = project.type_access_name
        .col-md-2
          - if current_user.can_edit_project?(project)
            = link_to edit_core_project_path(project), class:'btn btn-sm btn-info' do
              = t('link.edit')
              %i.fa.fa-arrow-right
        .col-md-2
          - if project.status == 20
            = link_to "/project/#{project.id}/life_tape/posts", class:'btn btn-sm btn-danger' do
              = t('link.go_to_project')
              %i.fa.fa-arrow-right
          - else
            = link_to core_project_path(project), class:'btn btn-sm btn-danger' do
              = t('link.go_to_project')
              %i.fa.fa-arrow-right
      %br
