%table
  %tr
    %td
      <iframe width="420" height="315" src="http://www.youtube.com/embed/8f1f-K8l8aE" frameborder="0" allowfullscreen></iframe>
    %td
      %h1 МАССОВАЯ СЕТЕВАЯ РАЦИОНАЛЬНАЯ ДЕМОКРАТИЧНАЯ ИГРОВАЯ ВЫРАБОТКА РЕШЕНИЙ. 
      %p.righttext Успех и благополучие отдельного человека, коллектива или страны — во многом зависит от качества стратегических решений, принимаемых им. Как, принимая решение, эффективнее ответить и на вопрос "что лучше всего предпринять?" (т.е. определить наиболее предпочтительное решение), и на вопрос "предпринимать намеченные шаги или нет?" (т.е. рассудить, достаточно ли качество определенного решения для того, чтобы осуществлять его)? Вместе, в связке это два самых насущных вопроса, с которыми сталкиваются отдельные люди и целые сообщества всякий раз, когда в их жизни и деятельности возникает серьезная новая проблема. Порой неразрешимые, нередко мучительные вопросы — они постоянно вставали и встают перед нами.

%br
%br
%h3 Текущие проекты

%table
  - @core_projects.each do |core_project|
    %tr
      %td= image_tag core_project.url_logo, :height => 70
      %td
        = link_to core_project.name, life_tape_posts_path(core_project.id)
        %br    
        Cтатус:
        %span.rate завершен
        %br
        Уровень доступа
        %span.rate открыт для всех пользователей
      - if boss?
        %td= link_to 'Show', core_project
        %td= link_to 'Edit', edit_core_project_path(core_project)
        %td= link_to 'Destroy', core_project, :data => { :confirm => 'Text' }, :method => :delete

%br

- if boss?
  = link_to 'Добавить проект', new_core_project_path
%br
%br
%h3 Отзывы пользователей

%table
  %tr
    %td
      .comments
        .avatar
          = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=korovinalv'
          %br
          %span.role студент
          %br

        .posts
          %span.namedate Людмила Коровина, 31 января 19:52:08 
          %br
          %p.comments Во-первых, Олег, спасибо Вам за столь интересный курс. Время покажет, сможем ли мы применить полученные в ходе изучения курса занния на практике, но, думаю, зная о том, что существуют методики рационального принятия решений и у нас была возможность с ними работать, мы будем задумываться о применении их в реальной жизни. Лично мне было очень интересно работать на протяжении всего курса.  Надеюсь, что изучение курса по принятию решений отразится на моей дальнейшей жизни. Спасибо!         
    %td
      .comments
        .avatar
          = image_tag 'http://oecdo.sgu.ru/ImageServlet?user=karpovann'
          %br
          %span.role студент
          %br
        .posts
          %span.namedate Наталья Карпова, 1 февраля 9:55:32  
          %br
          %p.comments В начале процедуры было сложно понять, что же от нас требуется и что за этим последует. Потом, по мере прояснения, уже на втором этапе процедуры было интересно читать предложенные студентами идеи. Мне так захотелось написать об идее, что собственно я и сделала, в которую вошли мои мысли о стремлении к получению именно тех знаний, которые необходимы на сегодняшний день большинству студентов. Затем, уже на основе этой идеи написать концепцию. На этом этапе, по моему мнению, не все студенты справились с грамотным составлением концепции, потому как, уже на следующем этапе, при написании проекта эти концепции приходилось дорабатывать. В связи с этим над проектом пришлось довольно долго думать, заново разрабатывать (дорабатывать) задачи. Это очень большой труд всех авторов представленных проектов. Но как оказалось последний этап – оценивание и вызвал общие трудности при оценивании проектов. В ходе всей процедуры надо было очень много думать, размышлять, принимать решения, анализировать, вносить свои идеи, правильно формулировать те или иные задачи. Раньше нам не приходилось сталкиваться с таким большим объемом информации, которую нужно было не только прочитать, понять, но и быстро на нее отреагировать. Спасибо Олегу и Андрею за терпение и понимание. Могу точно сказать, что данная процедура не пройдет бесследно для студентов активно принимающих участие. Это большой опыт в новом начинании и возможность мыслить по-другому!

