.col-md-9
  %section.widget
    %header
      %h3.text-center=t('show.journal_title')

    -if @journals_feed_all
      .body
        .feed
          .wrapper
            .text-center
              = will_paginate @journals_feed_all

            - @journals_feed_all.each do |journal|
              - if journal.created_at.to_date == Time.zone.now.to_date and @j_count[:today] == 0
                %h4 Сегодня
                -@j_count[:today]+=1
              -elsif journal.created_at.to_date == Time.zone.now.to_date - 1 and @j_count[:yesterday] == 0
                %h4 Вчера
                -@j_count[:yesterday]+=1
              -elsif journal.created_at.to_date < Time.zone.now.to_date - 1 and @j_count[:older] == 0
                %h4 Ранее
                -@j_count[:older]+=1

              %section.feed-item(class="#{(current_user.last_seen_news.nil? ? journal.created_at : current_user.last_seen_news) < journal.created_at ? 'unread_news': ''}")
                .icon.pull-left
                  %i(class="#{journal_icon(journal)}")
                .feed-item-body
                  - if journal.user and journal.project
                    = link_to journal.user, user_path(journal.project,journal.user)
                    = render partial: '/shared/user_online', object: journal.user

                  = journal_parser(journal, journal.project_id).html_safe
                  %br
                  = link_to journal.project.code.present? ? journal.project.code : journal.project.name, "/project/#{journal.project_id}", class: "btn btn-xs", style: "background-color:#{journal.project.color ? journal.project.color : ''};" if journal.project
                  %br
                  .time.pull-left(style="color:#cabc7d;")=Russian::strftime(journal.created_at, '%d %B %k:%M:%S ')

            .text-center
              = will_paginate @journals_feed_all

.col-md-3
  %section.widget
    %header
      %h3 Фильтры
    .body
      = form_tag(@project ? "/project/#{@project.id}/general_news" : general_news_path, {method: :get, id: 'filter_news'}) do
        %h4 Даты
        .form-group(style="margin-left:0;")
          %label{for: "date_begin"} С
          =text_field_tag "date_begin",params[:date_begin] ? params[:date_begin] : '', class: 'form-control datepicker', id:'date_begin'
        .form-group(style="margin-left:0;")
          %label{for: "date_end"} По
          =text_field_tag "date_end",params[:date_end] ? params[:date_end] : '', class: 'form-control datepicker', id:'date_end'
        %label.checkbox-filter
          %input.iCheck{:name => "date_all",:id => "date_all", :type => "checkbox", :checked => (params[:date_all] ? params[:date_all] : nil) ? true : false} Все

        %br
        -#%h4 Тип контента
        -#.form-group
        -#  %input{:name => "type_content", :type => "radio", :value => "by_comment", :checked => params[:type_content] == "by_comment" ? 'checked' : nil} Комментарии
        -#  %br
        -#  %input{:name => "type_content", :type => "radio", :value => "by_content", :checked => params[:by_content] == "by_content" ? 'checked' : nil} Контент
        -#  %br
        -#  %input{:name => "type_content", :type => "radio", :value => "by_note", :checked => params[:by_note] == "by_note" ? 'checked' : nil} Замечания
        -#  %br
        -#  %input{:name => "type_content", :type => "radio", :value => "content_all", :checked => params[:content_all] == "content_all" ? 'checked' : nil} Все

        .control-group
          %label.control-label Тип контента
          .controls.form-group
            %label.radio-filter
              %input.iCheck{:name => "type_content", :type => "radio", :value => "by_comment", :checked => params[:type_content] == "by_comment" ? 'checked' : nil} Комментарии
            %label.radio-filter
              %input.iCheck{:name => "type_content", :type => "radio", :value => "by_advice", :checked => params[:type_content] == "by_advice" ? 'checked' : nil} Советы
            %label.radio-filter
              %input.iCheck{:name => "type_content", :id => "by_content", :type => "radio", :value => "by_content", :checked => params[:type_content] == "by_content" ? 'checked' : nil} Контент
            %label.radio-filter
              %input.iCheck{:name => "type_content", :type => "radio", :value => "by_note", :checked => params[:type_content] == "by_note" ? 'checked' : nil} Замечания
            %label.radio-filter
              %input.iCheck{:name => "type_content", :type => "radio", :value => "content_all", :checked => params[:type_content] == "content_all" ? 'checked' : nil} Все

        .control-group
          %label.control-label Тип события(контент)
          .controls.form-group
            %label.radio-filter
              %input.iCheck{disabled: params[:type_event] ? nil : "disabled", :name => "type_event", :id => "by_create", :type => "radio", :value => "by_create", :checked => params[:type_event] == "by_create" ? 'checked' : nil} Добавление
            %label.radio-filter
              %input.iCheck{disabled: params[:type_event] ? nil : "disabled", :name => "type_event", :id => "by_update", :type => "radio", :value => "by_update", :checked => params[:type_event] == "by_update" ? 'checked' : nil} Изменение
            %label.radio-filter
              %input.iCheck{disabled: params[:type_event] ? nil : "disabled", :name => "type_event", :id => "event_content_all", :type => "radio", :value => "content_all", :checked => params[:type_event] == "content_all" ? 'checked' : nil} Все

        .control-group
          %label.control-label Статус
          .controls.form-group
            %label.radio-filter
              %input.iCheck{:name => "type_status", :type => "radio", :value => "by_discuss", :checked => params[:type_status] == "by_discuss" ? 'checked' : nil} Требует обсуждения
            %label.radio-filter
              %input.iCheck{:name => "type_status", :type => "radio", :value => "by_approve", :checked => params[:type_status] == "by_approve" ? 'checked' : nil} Важное
            %label.radio-filter
              %input.iCheck{:name => "type_status", :type => "radio", :value => "by_like", :checked => params[:type_status] == "by_like" ? 'checked' : nil} Баллы за лайки
            %label.radio-filter
              %input.iCheck{:name => "type_status", :type => "radio", :value => "content_all", :checked => params[:type_status] == "content_all" ? 'checked' : nil} Все

        -#%h4 Пользователи
        -#-if @users_for_news
        -#  = select_tag 'select_users_for_news', options_from_collection_for_select(@users_for_news, "id", "to_s"),
        -#  prompt: 'Выберите пользователя', class: "form-control"

        %h4 Пользователи
        .control-group
          %label.control-label{:for => "multiple"}
          .controls.form-group
            -if @users_for_news
              = select_tag 'select_users_for_news[]', options_from_collection_for_select(@users_for_news, "id", "to_s"),
              class: "chzn-select select-block-level", id: "multiple",
              multiple: "multiple", tabindex: "-1", "data-placeholder" => "Выберите пользователей"


        -#%input{:name => "by_user", :type => "checkbox"} Пользователь
        -#%h4 Статус
        -#%input{:name => "check_like", :type => "checkbox"} Пролайкано
        -#%br
        -#%input{:name => "check_unlike", :type => "checkbox"} Не пролайкано
        -#%br
        -#%input{:name => "check_discuss", :type => "checkbox"} Требует обсуждения
        -#%br
        -#%input{:name => "check_improve", :type => "checkbox"} Важное
        -#%br
        -#%input{:name => "check_problem", :type => "checkbox"} Проблема
        -#%br
        -#%input{:name => "check_idea", :type => "checkbox"} Идея
        -#%br
        -#%input{:name => "check_improve", :type => "checkbox"} Доработано
        -#%br
        -#%input{:name => "check_has_note", :type => "checkbox"} Содержит замечания
        -#%br
        -#%input{:name => "check_not_has_note", :type => "checkbox"} Не содержит замечания
        -#%br
        -#%input{:name => "check_status_all", :type => "checkbox"} Все
        -#%h4 Тип контента
        -#%input{:name => "check_comment", :type => "checkbox"} Комментарии
        -#%br
        -#%input{:name => "check_discontent", :type => "checkbox"} Несовершенства
        -#%br
        -#%input{:name => "check_concept", :type => "checkbox"} Нововведения
        -#%br
        -#%input{:name => "check_plan", :type => "checkbox"} Проекты
        -#%br
        -#%input{:name => "check_estimate", :type => "checkbox"} Оценки
        -#%br
        -#%input{:name => "check_essay", :type => "checkbox"} Рефлексии
        -#%br
        -#%input{:name => "check_award", :type => "checkbox"} Достижения
        -#%br
        -#%input{:name => "check_score", :type => "checkbox"} Баллы
        -#%br
        -#%input{:name => "check_note", :type => "checkbox"} Замечания
        -#%br
        -#%input{:name => "check_type_content_all", :type => "checkbox"} Все
        -#%h4 Тип события
        -#%input{:name => "check_add", :type => "checkbox"} Добавление
        -#%br
        -#%input{:name => "check_edit", :type => "checkbox"} Редактирование
        -#-#%br
        -#-#%input{:name => "check_remove", :type => "checkbox"} Удаление
        -#%br
        -#%input{:name => "check_type_event_all", :type => "checkbox"} Все
        %br
        %br
        %actions
          %input.btn.btn-success{:type => "submit", :id  => "send_filter", :value => "Применить"}

