%li{id: "group_task_#{group_task.id}"}
  .news-item-info
    .name
      = group_task.name
    .description
      = group_task.description
  %button.btn.btn-xs.btn-primary.edit-task{type: 'button', id: "edit_task_#{group_task.id}"}
    %i.fa.fa-edit
  = link_to group_task_path(@project, group_task), remote: true, method: :delete, data: {confirm: t('confirm.delete_group_task')}, id: "remove_task_#{group_task.id}" do
    %button.btn.btn-xs.btn-danger{type: 'button'}
      %i.fa.fa-trash-o
%br
Ответственные
- group_task.users.each do |user|
  = user
