
= form_for(resource, :as => resource_name, :url => session_path(resource_name), id:'auth') do |f|
  %div
    email:
    %br/
    = f.email_field :email, :autofocus => true
  %div
    Пароль:
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      Запомнить меня
  %div= f.submit "Sign in", :type => :image, src: '/assets/login.png', class: "btn"
= render "devise/shared/links"
