

%header.text-align-center
  %h2
    %strong MASS
    DECISION
  %br
  %h4 Зайдите в ваш аккаунт!
.body
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), id:'auth') do |f|
    = devise_error_messages!
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    %fieldset
      .form-group
        -#= f.label :email, 'Email'
        .input-group.input-group-lg
          %span.input-group-addon
            %i.fa.fa-user
          = f.email_field :email, placeholder: 'Ваш Email', class: 'form-control input-lg'
      .form-group
        -#= f.label :email, 'Пароль'
        .input-group.input-group-lg
          %span.input-group-addon
            %i.fa.fa-lock
          = f.password_field :password, placeholder: 'Ваш Пароль', class: 'form-control input-lg'
      .form-group.text-right
        = f.label :remember_me, 'Запомнить меня'
        = f.check_box :remember_me

      .form-actions
        =f.submit 'Авторизоваться', class: 'btn btn-block btn-lg btn-danger', id: 'Signin'
        .forgot
          =link_to 'Забыли пароль?', new_password_path(resource_name), class:'forgot'