%section.feed-item(class="#{class_for_journal(current_user, journal)}")
  .icon.pull-left
    %i(class="#{journal_icon(journal)}")
  .feed-item-body
    - if journal.user and journal.project
      = link_to journal.user, "/project/#{journal.project_id}/users/#{journal.user.id}"
      = render partial: '/shared/user_online', object: journal.user

    = journal_parser(journal, journal.project_id).html_safe
    %br
    - if journal.project
      = link_to journal.project.name, "/project/#{journal.project_id}", class: 'btn btn-xs', style: "background-color:#{journal.project.try(:color)};"
    %br
    .time.pull-left(style="color:#cabc7d;")
      = Russian::strftime(journal.created_at, '%d %B %k:%M:%S ')
