%h4=link_to ' << Вернуться к процедуре', "/project/#{@project.id}/"

%section.widget
  %header
    %h3.text-center События

  .body
    .feed
      .wrapper

        .text-center= will_paginate @journals_feed
        - @journals_feed.each do |journal|
          %section.feed-item
            .icon.pull-left
              %i(class="#{journal_icon(journal)}")
            .feed-item-body
              = link_to journal.user, user_path(@project,journal.user)
              = render partial: '/shared/user_online', object: journal.user

              = journal_parser(journal, @project.id).html_safe
              %br
              .time.pull-left=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
        .text-center= will_paginate @journals_feed