%h4
  = link_to '/project/' + @project.id.to_s do
    %span.fa.fa-angle-double-left
    =t('link.back_proc')

%section.widget
  %header
    %h3.text-center=t('show.journal_title')

  .body
    .feed
      .wrapper
        .text-center
          = will_paginate @journals_feed

        - @journals_feed.each do |journal|
          - if journal.created_at.to_date == Time.zone.now.utc.to_date and @j_count[:today] == 0
            %h4 Сегодня
            -@j_count[:today]+=1
          -elsif journal.created_at.to_date == Time.zone.now.utc.to_date - 1 and @j_count[:yesterday] == 0
            %h4 Вчера
            -@j_count[:yesterday]+=1
          -elsif journal.created_at.to_date < Time.zone.now.utc.to_date - 1 and @j_count[:older] == 0
            %h4 Ранее
            -@j_count[:older]+=1

          %section.feed-item{class: "#{journal.created_at > last_time_visit_journals ? 'unread_news' : ''}"}
            .icon.pull-left
              %i(class="#{journal_icon(journal)}")
            .feed-item-body
              - if journal.user and not journal.anonym
                = link_to journal.user, user_path(@project,journal.user)
                = render partial: '/shared/user_online', object: journal.user

              = journal_parser(journal, @project.id).try(:html_safe)
              %br
              .time.pull-left(style="color:#2C2B26;")=Russian::strftime(journal.created_at, '%d %B %k:%M:%S ')

        .text-center
          = will_paginate @journals_feed
