%br
- if @negative
	%b
		добавление негативного комментария |
		= link_to 'добавить структурирующий', frustration_path(@frustration, :negative => false)
- else
	%b
		добавление структурирующего |
		= link_to 'добавить негативный', frustration_path(@frustration, :negative => true)

= form_for [@frustration, @frustration.frustration_comments.build] do 
	%p
		= label :frustration_comment, :content, 'впишите его сюда' 
		%br
		= text_area :frustration_comment,:content
		= hidden_field_tag :negative,  @negative
	%p
		= submit_tag 'Добавить комментарий'



