%br
- if @negative
	%b добавление негативного комментария |
	- if !@frustration.structured?
		= link_to 'добавить оформляющий', frustration_path(@frustration, :negative => false)
- else
	%b добавление оформляющего |
	= link_to 'добавить негативный', frustration_path(@frustration, :negative => true)

= form_for [@frustration, @frustration.frustration_comments.build] do 
	%p
		= label :frustration_comment, :content, 'впишите его сюда' 
		%br
		= text_area :frustration_comment,:content
		= hidden_field_tag :negative,  @negative
	%p
		= submit_tag '', class: 'btn'



