/ = link_to gravatar_for frustration_comment.user, :size => 20
- if  @frustration.frustration_useful_comments.include? frustration_comment 
	= image_tag('check.png')

= link_to frustration_comment.user.name_title, frustration_comment.user,  :class=>'username'
- if frustration_comment.negative and frustration_comment.user!=@frustration.user
	= image_tag("bad.png", :alt => "Colleсtive mind", :height => 20 ) 
- elsif frustration_comment.user!=@frustration.user
	= image_tag("good.png", :alt => "Colleсtive mind", :height => 20 ) 

%br
%span{:class=>"timestamp"}
	= Russian::strftime(frustration_comment.created_at,  "%T")
= frustration_comment.content
- if frustration_comment.negative
	-if current_user?(@frustration.user)
		%br=link_to " в архив, с помощью этого комментария", archive_frustration_path(@frustration.id,:author_comment =>frustration_comment.user),   :method => :put, :confirm => "Точно?", :title => @frustration.content
		-if frustration_comment.replies.empty?
			%div{:style=> 'margin-left:40px;'}
				%i ответить
				= form_for [@frustration, @frustration.frustration_comments.build], :html => { :id => 'form_reply' } do |f|
					= f.text_area :content, :maxlength => 250
					= f.hidden_field :comment_id,{:value => frustration_comment.id}
					.actions
						= f.submit '',   class: "savebtn"
	%div{:style=> 'margin-left:40px;'}
		= render frustration_comment.replies
			

- else 
	- if show_link_to_structuring?(@frustration) and frustration_comment.user!=@frustration.user
		%br=link_to "оформить с помощью этого комментария", edit_to_struct_frustration_path(@frustration.id,  :author_comment =>frustration_comment.user)
- if admin? 
	= link_to "удалить?", to_trash_by_admin_frustration_frustration_comment_path(@frustration, frustration_comment, :del => true),:method => :put, :confirm => "Удалить со штрафом 1 балл?"
	|
	= link_to "удалить без штрафа?", to_trash_by_admin_frustration_frustration_comment_path(@frustration, frustration_comment, :del => false),:method => :put, :confirm => "Удалить без штрафа?"	



/ = link_to 'Удалить комментарий', [comment_frustration.frustration, comment_frustration], :confirm => 'Точно?', :method => :delete 
%br
%br
