.row
  .col-xs-3.cabinet-left-col
    %span.stage-label
      = "Стадия #{@project.current_stage_number}"
    .cabinet-tabs
      .divider25
      %ul.cabinet-tabs-subblock.list-unstyled
        - @project.techniques.by_stage(@project.current_stage_values[:type_stage]).each do |technique|
          %li
            = link_to self.send("new_#{technique.stage.to_s.downcase.singularize}_path", @project, type_mechanic: technique.code) do
              %i.fa.fa-plus-square
              = technique.name
        %li
          .divider25
        - current_user.content_for_project(@project).each do |content|
          %li
            %a{"data-toggle" => "tab", href: "#tab-2"}
              = content.content
        %li
          .divider25
        %li
          %a{"data-toggle" => "tab", href: "#tab-2"}
            %i.fa.fa-plus-square
            Провести анализ
        %li
          %a{"data-toggle" => "tab", href: "#tab-3"}
            %i.fa.fa-plus-square
            Провести мозговой штурм
        %li
          .divider25
        %li
          %a{"data-toggle" => "tab", href: "#tab-4"}
            %i.fa.fa-plus-square
            Мои предложения
        %li
          %a{"data-toggle" => "tab", href: "#tab-5"}
            %i.fa.fa-plus-square
            Мои заметки
        .divider25
        %li
          %a{"data-toggle" => "tab", href: "#tab-5"}
            %i.fa.fa-plus-square>
            Мои диалоги
          %ul.dialogs
            %li Лиза
            %li Слава и Даниэль
  .col-xs-9.cabinet-right-col
    .tab-content
      #tab-for_content.tab-pane.fade.in.active
        = yield :form_content
