.row
  .col-xs-3.cabinet-left-col
    %span.stage-label
      = "Стадия #{@project.current_stage_number}"
    .cabinet-tabs
      %ul.cabinet-tabs-subblock
        - @project.techniques.by_stage(@project.current_stage_values[:type_stage]).each do |technique|
          %li
            = link_to self.send("new_#{technique.stage.to_s.downcase.singularize}_path", @project, type_mechanic: technique.code), remote: true do
              %i.fa.fa-plus-square
              = technique.name
        %li
          %a{"data-toggle" => "tab", href: "#tab-2"}
            %i.fa.fa-plus-square
            Провести анализ
        %li
          %a{"data-toggle" => "tab", href: "#tab-3"}
            %i.fa.fa-plus-square
            Провести мозговой штурм
        %li
          .cabinet-tabs-subblock-divider
        %li
          %a{"data-toggle" => "tab", href: "#tab-4"}
            %i.fa.fa-plus-square
            Мои предложения
        %li
          %a{"data-toggle" => "tab", href: "#tab-5"}
            %i.fa.fa-plus-square
            Мои заметки
        %li
          .cabinet-tabs-subblock-divider
        %li
          %span.cabinet-tabs-subblock-2ndlev-heading
            %i.fa.fa-plus-square
            Диалоги
          %span.cabinet-tabs-subblock-2ndlev-li
            %a{"data-toggle" => "tab", href: "#tab-6"} Лиза
          %span.cabinet-tabs-subblock-2ndlev-li
            %a{"data-toggle" => "tab", href: "#tab-7"} Слава и Даниэль
  .col-xs-9.cabinet-right-col
    .tab-content
      #tab-for_content.tab-pane.fade.in.active
