%h3(class="#{color_stage(@stage.to_i)}")
  =t('show.essay.title')
  =stage_status(@stage.to_i)
  %br
  %br

%section
  .body
    = form_for @post, url: { project: @project.id, action: @post.persisted? ? 'update' : 'create' },  html: { class: 'lt_new'} do |f|
      - if @post.errors.any?
        #error_explanation
          %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
          %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

      %h3=t('form.essay.desc')

      %br
      .row
        .col-md-12
          .text-left
            .h4
              ="1. #{t('form.essay.content')}"

      .row
        .col-md-12
          .form-group
            =f.text_area :content, class: 'form-control', rows: 5

      .row
        .col-md-12
          .text-left
            .h4
              ="2. #{t('form.essay.positive')}"

      .row
        .col-md-12
          .form-group
            =f.text_area :positive, class: 'form-control', rows: 5

      .row
        .col-md-12
          .text-left
            .h4
              ="3. #{t('form.essay.change')}"

      .row
        .col-md-12
          .form-group
            =f.text_area :change, class: 'form-control', rows: 5

      - if @stage.to_i > 1 && @project.status > 2
        .row
          .col-md-12
            .text-left
              .h4
                ="4. #{t('form.essay.reaction')}"

        .row
          .col-md-12
            .form-group
              = f.text_area :reaction, class: 'form-control', rows: 5

      %actions.pull-right
        = f.submit t('form.save'),  class: 'btn btn-success btn-lg'
      %br
      %br
