#vote-3.popup-window.popup-vote.popup-w1030.mfp-hide
  .popup.popup_rounded
    .modal_title
      .row
        .col-md-12
          %h4.bold.font_dark_grey
            Голосование по идеям
    .vote_progress_cont.progress
      .vote_progress.back_color_stage3.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
    .modal_body.lighter-grey
      .divider15
        %h5.text-center.no_margin Распределите идеи по папкам
      .divider5
      .container.vote_folders_cont.folders_3.no_padding_col
        %ul.nav.vote_nav.row{:role => "tablist"}
          %li.col-md-4.no_padding_col.folder_all.active{:role => "presentation"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "all", :href => "#vote_tab1", :role => "tab"}
              .vote_folder_inn.poll-2-1{'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Перейти в общий список'}
                %span.vote_counter
                  =@user_voter.unvote_concepts_for_vote(@project).count
                %h5.font_color_stage3 Общий список
          %li.col-md-4.no_padding_col{:role => "presentation"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "vote_yes", :href => "#vote_tab2", :role => "tab"}
              .vote_folder_inn.poll-2-3{'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Перейти в список "нравится" '}
                %span.vote_counter
                  =@user_voter.concepts_for_vote(@project, 1).count
                %h5 Нравится
          %li.col-md-4.no_padding_col{:role => "presentation"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "vote_no", :href => "#vote_tab3", :role => "tab"}
              .vote_folder_inn.poll-2-4{'data-placement' => 'bottom', 'data-toggle' => 'tooltip', title: 'Перейти в список "не нравится" '}
                %span.vote_counter
                  =@user_voter.concepts_for_vote(@project, 2).count
                %h5 Не нравится
        .divider5
      .container.white.border_top_grey
        .divider10
        .tab-content
          #vote_tab1.tab-pane.active{"data-vote-poll-role" => "all", :role => "tabpanel"}
            .container
              .row
                .col-md-6
                  %h5 Идеи
                  .divider_1_grey.margin_right_25
                  .cab_cont_h450
                    %ul.list-unstyled.ps_cont{:role => "tablist"}
                      .divider15
                      - @user_voter.unvote_concepts_for_vote(@project).each do |post|
                        = render partial: 'post_vote', object: post, locals: {status: 0}
                      .divider10
                .col-md-6.tab-content
                  %h5 Описание
                  .divider_1_grey.margin_right_25
                  - @user_voter.unvote_concepts_for_vote(@project).each do |post|
                    = render partial: 'post_vote_descript', locals: {post: post}
          #vote_tab2.tab-pane{"data-vote-poll-role" => "vote_yes", :role => "tabpanel"}
            .container
              .row
                .col-md-6
                  %h5 Идеи
                  .divider_1_grey.margin_right_25
                  .cab_cont_h450
                    %ul.list-unstyled.ps_cont{:role => "tablist"}
                      .divider15
                      - @user_voter.concepts_for_vote(@project, 1).each do |post|
                        = render partial: 'post_vote', object: post, locals: {status: 1}
                .col-md-6.tab-content
                  %h5 Описание
                  .divider_1_grey.margin_right_25
                  - @user_voter.concepts_for_vote(@project, 1).each do |post|
                    = render partial: 'post_vote_descript', locals: {post: post}
          #vote_tab3.tab-pane{"data-vote-poll-role" => "vote_no", :role => "tabpanel"}
            .container
              .row
                .col-md-6
                  %h5 Идеи
                  .divider_1_grey.margin_right_25
                  .cab_cont_h450
                    %ul.list-unstyled.ps_cont{:role => "tablist"}
                      .divider15
                      - @user_voter.concepts_for_vote(@project, 2).each do |post|
                        = render partial: 'post_vote', object: post, locals: {status: 2}
                .col-md-6.tab-content
                  %h5 Описание
                  .divider_1_grey.margin_right_25
                  - @user_voter.concepts_for_vote(@project, 2).each do |post|
                    = render partial: 'post_vote_descript', locals: {post: post}
          .divider35