#modal_new_action.modal.fade{"aria-hidden"=> "true", "data-backdrop"=> "false", "aria-labelledby"=> "myModalLabel", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden"=> "true", "data-dismiss"=> "modal", type: "button"} ×
        %h4#myModalLabel.modal-title(style="line-height:20px;" )
          =t('form.plan.action.add')
          .color-teal=@post_aspect.title
          -unless @post_aspect.plan_post_resources.by_type('positive_r').nil?
            - @post_aspect.plan_post_resources.by_type('positive_r').each do |res|
              .label.label-danger=res.name
            %br
          =t('form.plan.action.inphase')
          %br
          -if @post_stage.date_begin and @post_stage.date_end
            %small.color-green
              =Russian::strftime(@post_stage.date_begin, "%d %b %Y")
              ="-"
              =Russian::strftime(@post_stage.date_end, "%d %b %Y")
            %br
          .color-teal=@post_stage.name
      .modal-body
        = form_for action, url: {project: @project.id, con_id: @post_aspect.id, act_id: action ? action.id : nil, stage_id: @post_stage ? @post_stage.id : nil, view_concept: @view_concept, action: action.persisted? ? 'update' : 'create'}, remote: true, method: (action.persisted? ? :put : :post) do |f|
          = render 'shared/notice_messages', object: f.object
          #mod2
          .form-group(style="margin-left:0;")
            %label{for: "name_stage"}=t('form.plan.action.name')
            =f.text_field :name, class: 'form-control', placeholder: t('form.plan.action.name_promt'), id:'name_stage'
            %span.small=t('form.plan.action.name_short')

          .row
            .col-md-6
              .form-group(style="margin-left:0;")
                %label{for: "date_begin"}=t('form.plan.action.date_begin')
                =f.text_field :date_begin, class: 'form-control datepicker', id:'date_begin_action'
            .col-md-6
              .form-group(style="margin-left:0;")
                %label{for: "date_end"}=t('form.plan.action.date_end')
                =f.text_field :date_end, class: 'form-control datepicker', id:'date_end_action'
          .form-group(style="margin-left:0;")
            %label{for: "desc_stage"}=t('form.plan.action.desc')
            =f.text_area :desc, class: 'form-control', rows: 10, placeholder: t('form.plan.action.desc_promt'), id:'desc_stage'
            %span.small=t('form.plan.action.desc_short')
          .form-group{id: "action_resources", style: "margin-left:0;"}
            - if action.persisted? and action.plan_post_resources.by_type('action_r').any?
              -action.plan_post_resources.by_type('action_r').each do |r|
                .panel.panel-default
                  .panel-body
                    %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                    = text_field_tag "resor_action[]", r.name,  class: 'form-control autocomplete',placeholder: t('form.plan.action.res_promt'),
                    'data-url' => concept_autocomplete_path(@project, field: 'resor_means_name')
                    %br
                    = text_area_tag "res_action[]", r.desc, class: 'form-control', placeholder: t('form.plan.action.res_desc')
            - else
              .panel.panel-default
                .panel-body
                  %span.glyphicon.glyphicon-remove.text-danger.pull-right{onclick: "$(this).parent().parent().remove();", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
                  = text_field_tag "resor_action[]",'', class: 'form-control autocomplete',placeholder: t('form.plan.action.res_promt'),
                  'data-url' => concept_autocomplete_path(@project, field: 'resor_means_name')
                  %br
                  = text_area_tag "res_action[]", '', class: 'form-control', placeholder: t('form.plan.action.res_desc')
          %a.btn.btn-primary.pull-right{onclick:"return add_new_action_resource_to_plan(#{@project.id});"}=t('form.plan.action.add_res')
          %br
          %br
          .pull-right
            %button.btn.btn-default(type = "button" data-dismiss="modal" style="margin-right:5px;")=t('form.close')
            =f.submit t('form.save'), id: "send_post", class: 'btn btn-success'
      %br
      .modal-footer(style="margin-top:30px;padding-bottom:10px;")


