%div{id: "post_advice_#{advice.id}"}
  .chat-message
    = render 'users/user_post', user: advice.user

    .chat-message-body
      %span.arrow
      .sender
        = link_to advice.user, user_path(@project, advice.user)
        = render partial: '/shared/user_online', object: advice.user
        = role_label(advice.user)
      .text
      %div#advice_content
        = simple_format(advice.content)
      %br
      - if current_user.admin?
        %b
          = advice_type_name(advice)
          = link_to trim_content(advice.adviseable.content).concat('...'), polymorphic_path(advice.adviseable, project: @project), id: "open_post_#{advice.adviseable.id}"
      %br
      - unless advice.approved?
        - if current_user?(advice.user)
          %b
            = t('discontent.advice_success_created')
          %br
          - if advice.disapproved?
            = link_to edit_advice_path(@project, advice), remote: true, id: "edit_advice_#{advice.id}" do
              %button.btn.btn-xs.btn-info
                Редактировать
            \|
        - if current_user.admin? && advice.unapproved?
          %b
            = link_to 'Утвердить', approve_advice_path(@project, advice), method: :put, remote: true,
            class: 'btn btn-success btn-xs', id: "approve_advice_#{advice.id}"
            = link_to 'Не утверждать', not_approve_advice_path(@project, advice), method: :put, remote: true,
            class: 'btn btn-danger btn-xs', id: "not_approve_advice_#{advice.id}"
      - if advice.approved? and advice.not_useful? and current_user?(advice.adviseable.user)
        %b
          Совет полезен?
        = link_to 'Да', useful_advice_path(@project, advice), id: "set_useful_#{advice.id}", method: :put, remote: true, class: 'btn btn-success btn-xs'
        = link_to 'Нет', not_useful_advice_path(@project, advice), id: "set_not_useful_#{advice.id}", method: :put, remote: true, class: 'btn btn-warning btn-xs'
      - if (current_user?(advice.user) && advice.disapproved?) or current_user.admin?
        %br
        = link_to advice_path(@project, advice), method: :delete, data: {confirm: t('confirm.delete_advice')}, id: "remove_advice_#{advice.id}" do
          %button.btn.btn-xs.btn-danger{type: 'button'}
            = t('link.delete')
            %i.fa.fa-trash-o

  %ul.media-list.chat-message-body.stage_menu1
    - unless advice.comments.empty?
      Обсуждение с автором
      %br
    %div{id: "comments_#{advice.id}"}
      - advice.comments.each do |comment|
        = render partial: 'advice_comments/advice_comment', locals: {advice_comment: comment}
    %div{id: "discuss_about_#{advice.id}_advice"}
    - if current_user.admin? && advice.disapproved?
      %br
      = render partial: 'advice_comments/form', locals: {advice: advice}
  %br
  %br
