.chat-message{id: "post_advice_#{advice.id}"}
  = render 'users/user_post', user: advice.user

  .chat-message-body
    %span.arrow
    .sender
      = link_to advice.user, user_path(@project, advice.user)
      = render partial: '/shared/user_online', object: advice.user
      = role_label(advice.user)
    .text
    %div
      = simple_format(advice.content)
    %br
    - if current_user.admin?
      %b
        К несовершенству:
        = link_to advice.discontent_post.content, discontent_post_path(@project, advice.discontent_post), id: "open_post_#{advice.discontent_post.id}"
    %br
    - if current_user == advice.user and !advice.approved?
      %b Ваш совет находится на проверке модератором
      %br
    - if current_user.admin?
      = link_to 'Обсудить с автором', discontent_post_advice_path(@project, advice), class: 'btn btn-primary btn-xs'
      - unless advice.approved?
        \|
        %b
          = link_to 'Утвердить', approve_discontent_post_advice_path(@project, advice), method: :put, remote: true,
          class: 'btn btn-success btn-xs', id: "approve_advice_#{advice.id}"
    - if current_user == advice.user or current_user.admin?
      \|
      = link_to discontent_post_advice_path(@project, advice), method: :delete, data: {confirm: t('confirm.delete_advice')},
      id: "remove_advice_#{advice.id}" do
        %button.btn.btn-xs.btn-danger{type: 'button'}
          = t('link.delete')
          %i.fa.fa-trash-o
