.row.md-vote-container
  - @user_voter.content_for_vote(@project, status).each do |post_vote|
    .col-sm-6.md_vote_item_cont{ id: "post_vote_#{post_vote.id}" }
      .vote-item.color_me{ 'data-me-type' => 'aspect', 'data-me-action' => 'border-top-color', 'data-me-color' => "#{post_vote.id % 13}" }
        .vi_head
          %h6
            = post_vote.content
        .vote_controls
          - @project.vote_folders.each do |number_folder, folder|
            - if number_folder > 0
              = link_to vote_aspect_post_path(@project, post_vote.id, status: number_folder), id: "vote_button_#{post_vote.id}_#{number_folder}",
                method: :put, remote: true, class: "tooltip_b #{'voted' if status == number_folder}", 'data-icon-class' => 'fa-exclamation',
                'data-vote-role' => "#{status == number_folder ? 'all' : folder[:role]}", 'data-vote-default-role' => "#{folder[:role]}",
                title: t("vote.#{@project.current_stage_type}.#{folder[:role]}.title_button").try(:html_safe) do
                %i{ class: "vote-btn1_#{number_folder}" }
