.stage-info-sort-block
  .row
    .col-md-7
      %span.stage-heading
        Аспекты
        = "(#{@main_aspects.size})"
    .col-md-5
      .sort-block.pull-right
        = link_to new_aspect_post_path(@project, type_mechanic: 'simple'), id: 'new_aspect_posts', class: 'btn add-button tooltip_m',
         title: 'Добавляйте новые аспекты, не представленные в базе знаний' do
          %span.tooltip_b{ title: 'Добавить аспект' }
            = t('techniques.aspect_posts_simple')

.ui-4.first-stage
  .container
    .row
      .col-md-2.popover-info#popover_intro{ 'data-placement' => 'top', 'data-content' => 'Прежде всего прочитайте статью методолога' }
      .col-md-10.popover-info#popover_aspect{ 'data-placement' => 'top',
      'data-content' => 'Потом ответьте на вопросы по аспектам, чтобы перейти к общему обсуждению в новом экране' }

    .slider-wrapper
      .slider-nav
        %a.slider-left
          %i.fa.fa-caret-left
        %a.slider-right
          %i.fa.fa-caret-right
      .slider-outer
        %ul.slider-inner#first-stage-slider{ data: { project: @project.id } }
          %li.active{ style: 'border-top-color: #eac85e;' }
            %a{ id: 'tab_intro', 'data-toggle' => 'tab', href: '#tab_aspect_0' }
              = t('stages.aspects_title')
          - @main_aspects.each do |aspect|
            %li.li_aspect{ id: "li_aspect_#{aspect.id}",
            class: "#{'complete' if aspect.missed_questions(current_user, @project.type_for_questions).size == 0}", style: "border-top-color: #{aspect.color};" }
              %a{ id: "aspect_#{aspect.id}", 'data-toggle' => 'tab', href: "#tab_aspect_#{aspect.id}" }
                = aspect.content
    .tab-content
      .tab-pane.main-pane.active.fade.in{ id: 'tab_aspect_0' }
        .row
          .col-md-12.col-sm-12
            .aspect-main-block{ style: 'border-top-color:#eac85e;' }
              = @project.introduction.try(:html_safe)
              .row
                .col-md-8
      - @main_aspects.each_with_index do |asp, index|
        = render partial: 'aspect_questions', locals: { asp: asp, index: index }
