= form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},  :html => { :class => 'lt_new' } do |f|
  / -if @post.errors.any?
  /   #error_explanation
  /     %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
  /     %ul
  /       - @post.errors.full_messages.each do |msg|
  /         %li= msg

  %field
    = f.text_area :content, class: 'post'
  = select_tag 'aspect_id', options_from_collection_for_select(@aspects, 'id', 'content', @post.aspect.nil? ? 0 :@post.aspect.id), :prompt => 'Выберите фрагмент'


  %br

  %br
  .actions
    = f.submit "",   id: "Send"
