%ul#side-nav.side-nav
  %li.panel#stage_life_tape{class:  @project.stage_style(:life_tape_posts) }

    =link_to "/project/#{@project.id}/life_tape/posts" ,  class: "stage_menu1" do
      %h4.no-margin.text-left
        1.
        =@project.status_title(:life_tape_posts)
    - if request.original_url.include? 'life_tape'
      %ul.nav.nav-tabs.nav-stacked.panel-collapse
        -@project.aspects.each do |asp|
          %li{class:"#{'active' if asp == @aspect}"}
            = link_to "/project/#{@project.id}/life_tape/posts?asp=#{asp.id}" do
              %i.fa.fa-minus(style="font-size: 8px;")
              &nbsp;
              =" #{asp.content}"
              -#%b="(#{post.comments.count})"

  %li.panel#stage_discontent
    - if @project.status > 2
      = link_to "/project/#{@project.id}/discontent/posts", class:"stage_menu2" do
        %h4.no-margin
          2.
          =@project.status_title(:discontent_posts)
      - if request.original_url.include? 'discontent'
        %ul.nav.nav-tabs.nav-stacked.panel-collapse
          -@project.aspects.each do |asp|
            %li
              = link_to "/project/#{@project.id}/discontent/posts?asp=#{asp.id}" do
                %i.fa.fa-minus(style="font-size: 8px;")
                &nbsp;
                =asp.content
                %small="(#{asp.aspect_posts.count})"
                -#%b="(#{post.comments.count})"

    -else
      %a.stage_menu2
        %h4.no-margin
          2.
          =@project.status_title(:discontent_posts)
          %br
    %ul#stats-collapse.panel-collapse.collapse

  %li.panel#stage_concept{class:  @project.stage_style(:concept_posts)}
    -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#ui-collapse"}
    - if  @project.status > 6
      = link_to "/project/#{@project.id}/concept/posts" , class:"#{@project.stage_style_link(@breadcrumbs[0].name, :concept_posts)}" do
        2.
        =@project.status_title(:concept_posts)
        %br
        %small.text-center=t('stages.concepts', count: @project.concept_ongoing_post.count)
    -else
      %a.stage_menu3
        %h4.no-margin
          3.
          =@project.status_title(:concept_posts)
    %ul#ui-collapse.panel-collapse.collapse

  %li.panel#stage_plan{class:  @project.stage_style(:plan_posts)}
    -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#components-collapse"}
    - if  @project.status > 8
      = link_to "/project/#{@project.id}/plan/posts" , class:"#{@project.stage_style_link(@breadcrumbs[0].name, :plan_posts)}" do
        %i.fa.fa-bookmark-o
        =@project.status_title(:plan_posts)
        %br
        %small.text-center=t('stages.plans', count: @project.plan_post.count)
    -else
      %a.stage_menu4
        %h4.no-margin
          4.
          =@project.status_title(:plan_posts)
    %ul#components-collapse.panel-collapse.collapse

  %li.panel#stage_plan{class:  @project.stage_style(:estimate_posts)}
    -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#tables-collapse"}
    - if  @project.status > 10
      = link_to "/project/#{@project.id}/estimate/posts" , class:"#{@project.stage_style_link(@breadcrumbs[0].name, :estimate_posts)}" do
        %i.fa.fa-table
        =@project.status_title(:estimate_posts)
        %br
        %small.text-center=t('stages.estimates', count: @project.estimate_posts.count)
    -else
      %a.stage_menu5
        %h4.no-margin
          5.
          =@project.status_title(:estimate_posts)
    %ul#tables-collapse.panel-collapse.collapse
