.modal.fade.modal-results#modal-results
  .modal-dialog.modal-lg
    %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } &times;
    .modal-content
      .modal-header
        %h4
          = t('show.result_stage')
          = number_current_stage
      .modal-body
        .subhead-stripe
          .row
            .col-md-4
              %h5 Вклад в процедуру
            .col-md-6
              .legend
                %span
                  %i.fa.fa-file-text
                  = t("my_result.#{name_controller}")
                %span
                  %i.fa.fa-comment
                  комментарии
                %span
                  %i.fa.fa-thumbs-up
                  лайки
                %span
                  %i.fa.fa-star
                  важный материал
            .col-md-2
              %button.pull-right.btn
                Подробнее
        .result-block
          .row
            .col-md-8.col-md-offset-4
              .row
                - @project_result.sort_user_score(name_controller.to_s + '_score').each_with_index do |user, index|
                  .col-md-6
                    .result-cell
                      .cell
                        = index + 1
                      .cell
                        = link_to user_path(@project, user) do
                          = user_image_tag user.try(:avatar)
                      .cell
                        = link_to user, user_path(@project, user)
                        .legend
                          %span
                            = user.content_for_project(name_controller, @project).count
                            %i.fa.fa-file-text
                          %span
                            = user.comment_for_project(name_controller, @project).count
                            %i.fa.fa-comment
                          %span
                            = user.like_content_for(name_controller, @project).count + user.like_comment_for(name_controller, @project).count
                            %i.fa.fa-thumbs-up
                          %span
                            = user.approve_content_for(name_controller, @project).count + user.approve_comment_for(name_controller, @project).count
                            %i.fa.fa-star
        .subhead-stripe
          .row
            .col-md-9
              %h5 Популярность контента
        .result-block
          .row
            - @project_result.sort_user_like(name_controller).each do |user|
              .col-md-4
                .top
                  = link_to user_path(@project, user) do
                    = user_image_tag user.try(:avatar)
                    = user
                  .count
                    = user.likes_posts_for(name_controller, @project).count + user.likes_comments_for(name_controller, @project).count
                    %i.fa.fa-thumbs-up
        .result-block
          .row
            .col-md-4
              .stat-block
                .cell
                  .badge
                    = @project_result.count_of_added_contents(name_model)
                .cell
                  %h4
                    ДОБАВЛЕНО
                    = t("my_result_add.#{name_controller}")
            .col-md-8
              .stat-block
                .cell
                  .badge
                    = @project_result.count_of_contents_for_next_stage(name_model)
                .cell
                  %h4
                    = t("my_result_add.#{name_controller}")
                    ,
                    %br/
                    ПРИНЯТЫХ ДЛЯ ДАЛЬНЕЙШЕЙ РАБОТЫ
