#popup-results.popup-window.detailed_popup.popup-w860.mfp-hide
  .popup.popup_rounded
    .modal_title
      .row
        .col-md-12
          %h4.bold.font_dark_grey
            Результаты стадии
            = number_current_stage
    .modal_body
      .row.modal_subhead
        .col-md-4.mod_sub_l
          %h5.font_white Вклад в процедуру
        .col-md-8.mod_sub_r
          .dia_legend.pull-left.font_white
            %span
              %i.fa.fa-file-text
              =t("my_result.#{name_controller}")
            %span
              %i.fa.fa-comment
              комментарии
            %span
              %i.fa.fa-thumbs-up
              лайки
            %span
              %i.fa.fa-star
              важный материал
          %button.pull-right.btn.btn_reset.btn_dia.font_white
            %i>
            Подробнее
      .dia_block
        .row
          .col-md-4
          .col-md-8
            .row
              - @project_result.sort_user_score(name_controller.to_s + '_score').each_with_index do |user, index|
                .col-md-6
                  .dia_cell
                    %span.num_cell
                      = index + 1
                    %span
                      = link_to user_path(@project, user) do
                        = user_image_tag user.try(:avatar), class: 'img35 img-circle'
                    %span
                      %p
                        = link_to user, user_path(@project, user)
                      %span.dia_icon
                        = user.content_for_project(name_controller, @project).count
                        %i.fa.fa-file-text
                      %span.dia_icon
                        = user.comment_for_project(name_controller, @project).count
                        %i.fa.fa-comment
                      %span.dia_icon
                        = user.like_content_for(name_controller, @project).count + user.like_comment_for(name_controller, @project).count
                        %i.fa.fa-thumbs-up
                      %span.dia_icon
                        = user.approve_content_for(name_controller, @project).count + user.approve_comment_for(name_controller, @project).count
                        %i.fa.fa-star


      .row.modal_subhead
        .col-md-9.mod_sub_l
          %h5.font_white Популярность контента
        .col-md-3
      .top3.gradient_t3
        .row
          - @project_result.sort_user_like(name_controller).each_with_index do |user, index|
            .col-md-4.top3_col
              = link_to user_path(@project, user) do
                = user_image_tag user.try(:avatar), class: 'img100 img-circle'
              %span.t3_name.white.font_dark_grey.text-center
                = link_to user, user_path(@project, user)
              .clearfix
              .divider10
              %span.t3_likes.white.font_dark_grey.text-center
                = user.likes_posts_for(name_controller, @project).count + user.likes_comments_for(name_controller, @project).count
                %i.fa.fa-thumbs-up.theme_font_color

      .stats
        .row
          .col-md-4
            .stat_block
              %span
                %span.stat_num.theme_back_color.text-center.font_white.bold.rounded_3
                  = @project_result.count_of_added_contents(name_model)
              %h4
                ДОБАВЛЕНО
                =t("my_result_add.#{name_controller}")
          .col-md-8
            .stat_block
              %span
                %span.stat_num.theme_back_color.text-center.font_white.bold.rounded_3
                  = @project_result.count_of_contents_for_next_stage(name_model)
              %h4
                =t("my_result_add.#{name_controller}")
                ,
                %br/
                ПРИНЯТЫХ ДЛЯ ДАЛЬНЕЙШЕЙ РАБОТЫ