= form_for comment, html: { class: 'new_or_edit' }, remote: true, url: url_link, method: :put do |f|
  = render 'shared/notice_messages', object:f.object
  = f.text_area :content, name: 'content', class: 'form-control input-transparent', style: 'height: 70px;', placeholder: t('form.comment_promt'), id:'edit_comment_text_area'
  = f.file_field :image, name: 'image'
  .pull-right
    = f.submit t('form.send'), id: "send_post_#{comment.id}", class: 'btn btn-sm btn-success', style: 'margin-left: 20px;'
