-if @main_comment.nil?
  $("#comment_text_area").val('')
  $('.chat-messages').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}")
  $(".chat-messages").scrollTop(10000);
  $('#comment_success').fadeIn('slow').delay(1000).fadeOut('slow');
-else
  $("#child_comments_#{@main_comment.id}").append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
  $("#form_reply_comment_#{@main_comment.id}").fadeOut().empty()
  $('html, body').animate({ scrollTop: $('#comment_content_#{@comment.id}').offset().top}, 1000);
  $('#comment_content_#{@comment.id}').effect("highlight",3000);
  $('#reply_comment_#{@main_comment.id}').fadeIn()


$("#change_comment_stat label").removeClass('btn-success active').addClass('btn-default');
$('#change_comment_stat .btn').button('reset');