$("#plus_comment_#{@comment.id}").effect("highlight", {color: '#f5cecd'}, 1000);
$("#plus_comment_#{@comment.id}").find('span').html("#{@comment.useful ? "#{t('show.revert_score')}" : "#{t('show.add_score')}"}");
$("#plus_comment_#{@comment.id}").find('span').toggleClass('label-success label-danger');
