-if @main_comment.nil?
  $("#comment_text_area").val('')
  $('#comments.chat-messages').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}")
  $("#comments.chat-messages").scrollTop(10000);
  $('#comment_success').fadeIn('slow').delay(1000).fadeOut('slow');
-else
  $("#child_comments_#{@main_comment.id}").append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
  $("#main_comments_form_#{@main_comment.id}").html('');
  -if @main_comment_answer
    $("#child_comments_form_#{@main_comment_answer.id}").html('');

$("#change_comment_stat label").removeClass('btn-success active').addClass('btn-default');
$('#change_comment_stat .btn').button('reset');