$("div[id^='main_comments_form_']").html('');
$("div[id^='child_comments_form_']").html('');

-if @main_comment_answer
  $("#child_comments_form_#{@main_comment_answer.id}").html("#{escape_javascript(render partial: 'shared/comment_form', locals: { comment: @comment, url_link: @url_link })}");
  $("#comment_text_area").html('#{@main_comment_answer.user.to_s}, ');
-else
  $("#main_comments_form_#{@main_comment.id}").html("#{escape_javascript(render partial: 'shared/comment_form', locals: { comment: @comment, url_link: @url_link })}");

-#$("#child_comments_form_#{@main_comment.id}").html("#{escape_javascript(render partial: 'shared/comment_form', locals: { comment: @comment, url_link: @url_link })}");

$('textarea').autosize();

