- unless @comment.nil?
  -if @comment_answer
    $('#reply_comment_#{@comment_answer.id}').closest('.media.comment').next('form').collapse('hide').remove();
    $('#reply_comment_#{@comment_answer.id}').toggleClass('reply-comment cancel-reply');
    if($('#answers_#{@comment_parent.id}').length){
    $('#answers_#{@comment_parent.id} .answers_subblock').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
    if(!$('#answers_collapse_#{@comment_parent.id}').hasClass('opened')){
    $('#answers_#{@comment_parent.id}').collapse('show');
    }
    $('#answers_collapse_#{@comment_parent.id}').html("<span>#{t('stages.comments', count: @comment_parent.comments.size)}</span>");
    } else {
    var answers = $('<a id="answers_collapse_#{@comment_parent.id}" class="answers_collapse theme_font_color opened" data-toggle="collapse" href="#answers_#{@comment_parent.id}" aria-expanded="false"><span>1 ответ</span></a>');
    var answers2 = $('<div class="com_answers collapse in" id="answers_#{@comment_parent.id}"><div class="answers_subblock level1"></div></div>');
    $('#comment#{@comment_parent.id}').after(answers);
    answers.after(answers2);
    answers2.find('.answers_subblock').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
    }
  -else
    $("#comment_text_area").val('');
    $('.chat-messages .item.active').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");


  $(".cc_post_#{@comment.post.id}").html(parseInt($(".cc_post_#{@comment.post.id}").html())+1)
  $('form.comment_add textarea').css('height', '28px')








-#-if @comment_answer.nil?
-#  $("#comment_text_area").val('');
-#  $('#comments.chat-messages').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
-#  -#$("#comments.chat-messages").scrollTop(10000);
-#  -#$('#comment_success').fadeIn('slow').delay(1000).fadeOut('slow');
-#-else
-#  $("#child_comments_#{@comment_parent.id}").append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
-#  $("#form_reply_comment_#{@comment_answer.id}").fadeOut().empty()
-#  $('html, body').animate({ scrollTop: $('#comment_content_#{@comment.id}').offset().top}, 1000);
-#  $('#comment_content_#{@comment.id}').effect("highlight",3000);
-#  $('#reply_comment_#{@comment_answer.id}').fadeIn()
-#
-#
-#-#$("#change_comment_stat label").removeClass('btn-success active').addClass('btn-default');
-#-#$('#change_comment_stat .btn').button('reset');
-#$('.comments-cont').append("#{escape_javascript(render partial: 'shared/comment_form', locals: {comment: @new_comment, post: @comment.post})}");
