- unless @comment.nil?
  - if @comment_answer
    $('#reply_comment_#{@comment_answer.id}').closest('.media.comment').next('form').collapse('hide').remove();
    $('#reply_comment_#{@comment_answer.id}').toggleClass('reply-comment cancel-reply');

    if($('#answers_#{@comment_parent.id}').length){
    $('#answers_#{@comment_parent.id} > .answers_subblock').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");
    if(!$('#answers_collapse_#{@comment_parent.id}').hasClass('opened')){ $('#answers_#{@comment_parent.id}').collapse('show'); }
    $('#answers_collapse_#{@comment_parent.id}').html("#{t('stages.comments', count: @comment_parent.comments.size)}");
    } else {
    $('#comment#{@comment_parent.id}').after("#{escape_javascript(render partial: 'shared/comment_level', object: @comment)}");
    }
  - else
    $('#comment_text_area').val('');
    $('.chat-messages').append("#{escape_javascript(render partial: 'shared/comment', object: @comment)}");

  $(".cc_post_#{@comment.post.id}").html(parseInt($(".cc_post_#{@comment.post.id}").html()) + 1)
  $('form.comment_add textarea').css('height', '28px')

