-if params[:dis_stat].present?
  $('#dis_stat_comment_#{@comment.id} span').toggleClass('label-default label-danger')
-if params[:con_stat].present?
  $('#con_stat_comment_#{@comment.id} span').toggleClass('label-default label-warning')
-if params[:discuss_stat].present?
  $('#discuss_stat_comment_#{@comment.id} span').toggleClass('label-default label-danger')
  $('#comment_#{@comment.id}').toggleClass('border_note')
  $('#comment_content_#{@comment.id}').toggleClass('discuss_comment')



