-if params[:discontent]
  -if @comment.discontent_status
    $('#discontent_comment_#{@comment.id} span').removeClass('label-default').addClass('label-danger')
  -else
    $('#discontent_comment_#{@comment.id} span').removeClass('label-danger').addClass('label-default')

-if params[:concept]
  -if @comment.concept_status
    $('#concept_comment_#{@comment.id} span').removeClass('label-default').addClass('label-warning')
  -else
    $('#concept_comment_#{@comment.id} span').removeClass('label-warning').addClass('label-default')

-if params[:discuss_status]
  -if @comment.discuss_status
    $('#discuss_stat_comment_#{@comment.id} span').removeClass('label-default').addClass('label-danger')
    $('#comment_content_#{@comment.id}').addClass('discuss_comment')
  -else
    $('#discuss_stat_comment_#{@comment.id} span').removeClass('label-danger').addClass('label-default')
    $('#comment_content_#{@comment.id}').removeClass('discuss_comment')

-if params[:approve_status]
  -if @comment.approve_status
    $('#approve_stat_comment_#{@comment.id} span').removeClass('label-default').addClass('label-success')
  -else
    $('#approve_stat_comment_#{@comment.id} span').removeClass('label-success').addClass('label-default')


