$('#filter-aspect').animate({left: 0, opacity: 0},  "normal",  function(){$('#filter-aspect').css('display','none')})
- if @page.nil?
  $('#posts').fadeOut(500, function() {$('#posts').html("#{escape_javascript(render  @posts)}").fadeIn();});
-else
  $('#posts').append("#{escape_javascript(render  @posts)}")
  $('#pagination').html("#{escape_javascript(render 'shared/pagination')}")

-unless @order.nil?
  $('#pagination').html("#{escape_javascript(render 'shared/pagination')}")

$('#filter_posts').fadeOut(500, function() {$('#filter_posts').html("#{escape_javascript(render  'shared/filter_posts', project: @project.id, folder: @folder)}").fadeIn();});

