<h1>Неудовлетворенности</h1>
<%= link_to 'Добавить неудовлетворенность', new_post_path %><br/>
<table>
	<tr>
		<th> Заголовок</th>
		<th> Описание </th>

	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td> <%= post.title %></td>
		<td> <%= post.text %></td>
		<td> <%= link_to 'Посмотреть | ', :action => :show, :id => post.id %>  </td>
		<td> <%= link_to 'Отредактировать  | ', :action => :edit, :id => post.id %> </td>
		<td> <%= link_to 'Удалить', {:action => :destroy, :id => post.id}, :method => :delete, :confirm => 'Точно?' %></td>
	</tr>
	<% end %>
</table>