- if @vote
  - if @against == 'true'
    $(".dlk_post_#{@post.id}").effect('highlight', { color: '#f5cecd' }, 1000);
    $(".dlk_post_#{@post.id}").html(parseInt($(".dlk_post_#{@post.id}").html()) + 1)
    $(".dlk_post_#{@post.id}").click(function(e) { return false; });
  - else
    $(".lk_post_#{@post.id}").effect('highlight', { color: '#f5cecd' }, 1000);
    $(".lk_post_#{@post.id}").html(parseInt($(".lk_post_#{@post.id}").html()) + 1)
    $(".lk_post_#{@post.id}").click(function(e) { return false; });