- if @admin_pro
  $("#what_#{@id}").toggleClass('label-g')
  $("#when_#{@id}").toggleClass('label-g')
  $("#where_#{@id}").toggleClass('label-g')
-else
  - unless @against
    $("#plus_counter_#{@id}").html(parseInt($("#plus_counter_#{@id}").html())+1)
  -else
    $("#minus_counter_#{@id}").html(parseInt($("#minus_counter_#{@id}").html())+1)

  $("#plus_post_#{@id}").effect("highlight", {color: '#f5cecd'}, 1000);
  $("#plus_post_#{@id}").find('span').toggleClass('text-success', 'text-muted')
  $("#plus_post_#{@id}").toggleClass('disabled')
  $("#plus_post_#{@id}").click(function(e) { return false; });

  $("#minus_post_#{@id}").effect("highlight", {color: '#f5cecd'}, 1000);
  $("#minus_post_#{@id}").find('span').toggleClass('text-danger', 'text-muted')
  $("#minus_post_#{@id}").click(function(e) { return false; });
  $("#minus_post_#{@id}").toggleClass('disabled')

-unless @post_vote.nil?
  -if @post_vote.instance_of? Discontent::Post
    $('##{id_for_type_field(1)}_#{@post_vote.id}').removeClass('label-danger label-g').addClass('label-success');
    $('##{id_for_type_field(2)}_#{@post_vote.id}').removeClass('label-danger label-g').addClass('label-success');
    $('##{id_for_type_field(3)}_#{@post_vote.id}').removeClass('label-danger label-g').addClass('label-success');
  -elsif @post_vote.instance_of? Concept::Post
    - 8.times do |n|
      $('##{id_for_concept_type(n+1)}').removeClass('color-blue color-red').addClass('color-green');




