$("#plus_post_#{@post.id}").effect("highlight", {color: '#f5cecd'}, 1000);
$("#plus_post_#{@post.id}").find('span').html("#{@post.useful ? 'Забрать баллы' : 'Выдать баллы'}");
$("#plus_post_#{@post.id}").find('span').toggleClass('text-success text-danger');

-if @post.instance_of? Discontent::Post
  $('##{id_for_type_field(1)}_#{@post.id}').removeClass('label-danger label-g').addClass('label-success');
  $('##{id_for_type_field(2)}_#{@post.id}').removeClass('label-danger label-g').addClass('label-success');
  $('##{id_for_type_field(3)}_#{@post.id}').removeClass('label-danger label-g').addClass('label-success');

-elsif @post.instance_of? Concept::Post
  - 8.times do |n|
    $('##{id_for_concept_type(n+1)}').removeClass('color-orange color-red').addClass('color-green');




