<p>
	<strong> Заголовок: </strong>
	<%= @post.title %>
</p>
<p>
	<strong>СОдержание:</strong>
	<%= @post.text %>
</p>
<hr/>
<h2> Комментарии </h2>
<%= render @post.comments %>

<h2>Добавить комментарий:</h2>
<%= render 'comments/form' %>
 

<%= link_to 'К неудволетворенностям', posts_path %>
<%= link_to 'Редактировать', edit_post_path(@post) %>
