<p>
	<strong> Заголовок: </strong>
	<%= @post.title %>
</p>
<p>
	<strong>СОдержание:</strong>
	<%= @post.text %>
</p>
<h2> Комментарии </h2>
<% @post.comments.each do |comment| %>
	<p>
		<strong> АВтор: </strong>
		<%= comment.commenter %>		
	</p>
	<p>
		<%= comment.body %>
	</p>
<% end %>

<h2>Добавить комментарий:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 

<%= link_to 'Back', :action => :index %>
<%= link_to 'Edit', :action => :edit, :id => @post.id %>
