$('#comment_text_#{@comment.id}').html("#{escape_javascript(@comment.content)}");
$('#cancel_comment_#{@comment.id} .edit-cancel').fadeOut();
$("#redactor_comment_#{@comment.id}").fadeIn();
$('#comment#{@comment.id}').effect('highlight', { color: '#f5cecd' }, 1000);
