= form_for  @post, :url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},   :html => { :class => 'new_or_edit' }do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this expert_news_post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  %label Заголовок
  .field
    = f.text_field :title
  %label Анонс

  .field
    = f.text_area :anons

  %label Основной текст
  .field
    = f.text_area :content, :class => "redactor"
  .actions
    = f.submit ''
