<form class="form-group comment_add collapse" accept-charset="UTF-8"
      action="/project/<%= getProjectIdByUrl() %>/<%= getStageByUrl() %>/posts/<%= post_id %>/add_comment?comment=<%= comment_id %>"
      data-remote="true" id="reply_form_<%= comment_id %>" method="post">

    <input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put">

    <textarea name="<%= getStageByUrl() %>_comment[content]" placeholder="Ваш комментарий"><%= content %></textarea>

    <button class="btn send-comment disabled" type="submit">

        <i class="fa fa-reply"></i>

    </button>
</form>
