<div class="aspect_9 col-md-6 discontent-block" data-date="1422618312.311464" data-id="id-10" data-rate="2.6999999999999997" >
    <div class="post">
        <div class="post-header white"></div>
        <div class="post-body">
            <div class="media">
                <div class="media-left text-center gradient post-poster">
                    <img class="img-circle img50" src="/assets/no-ava-d90d3c57ab2b2aa06d4aeeb739c1c75b.png" alt="No ava">
                    <p class="poster-name">
                        <%= user %>
                    </p>
                    <p class="time">
                        <%= post_date %>
                    </p>
                </div>
                <div class="media-body pink">
                    <table class="table">
                        <tbody>
                        <tr class="what">
                            <td class="col-md-2 text-center right-column">
                                Что
                            </td>
                            <td class="col-md-10 left-column bold">
                                <a id="show_record" data-remote="true" href="/project/<%= project_id %>/discontent/posts/<%= id %>"><div>
                                        <%= whered %>
                                    </div>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-center right-column">
                                <%= whend %>
                            </td>
                            <td class="col-md-10 left-column">
                                dsfsdf
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-center right-column">
                                Когда
                            </td>
                            <td class="col-md-10 left-column">
                                dsfsdf
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2 text-center right-column"></td>
                            <td class="col-md-10 left-column"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="post_cont_hover white" id="post_ch10">
                        <div class="wrapper ps_cont half_wheel_speed ps-container" data-ps-id="359e6c52-05fc-9815-18ab-85517597f58f">
                            <div class="post_cont_inner">
                                <div class="comment_preview">
                                <span class="bold">
                                  Сергей Кириллов:
                                </span>
                                    dfdfdfdf
                                </div>
                            </div>
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-bottom white">
            <div class="row">
                <div class="col-md-9 col_padding_right_3">
                    <div class="post-theme" id="stripe<%= id %>>">
                        <% for(var i=0; i<aspects.length; i++) {%>
                          <a class="active tag-stripes" href="#" id="stripe<%= i %>>" style="background: <%= aspects[i].color%>;">
                            <span class="tags">
                              <%= aspects[i].content %>
                            </span>
                          </a>
                        <% } %>

                    </div>
                </div>
                <div class="col-md-3 col_padding_left_3">
                    <div class="text-right small_icons">
                        <a class="popup2 btn_reset ch_action a_font_reset" data-for="post_ch10" type="button">
                            <small>
                                1
                            </small>
                            <i class="fa fa-comment-o"></i>
                        </a>
                        <a id="plus_post_10" data-remote="true" rel="nofollow" data-method="put" href="/project/4/discontent/posts/10/like?against=false"><span class="popup2">
                            <small id="plus_counter_10" style="color:#333;">
                                0
                            </small>
                            <i class="fa fa-thumbs-o-up fa-flip-horizontal"></i>
                          </span>
                        </a>
                        <a id="minus_post_10" data-remote="true" rel="nofollow" data-method="put" href="/project/4/discontent/posts/10/like?against=true"><span class="popup2">
                            <small id="minus_counter_10" style="color:#333;">
                                0
                            </small>
                            <i class="fa fa-thumbs-o-down fa-flip-horizontal"></i>
                          </span>
                        </a>
                          <span class="popup2">
                            <i class="fa fa-exclamation-triangle font_lighter_grey"></i>
                          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>