<div class="dw_notice">
    <div class="row">
        <div class="col-md-1">
            <i class="fa fa-lg <%= j_class %>"></i>
        </div>
        <div class="col-md-11">
            <%= j_date %>
            <a class="bold" href="/project/<%= getProjectIdByUrl() %>/users/<%= user_id %>"><%= user_name %></a>
            <p>
                <%= j_parser %>
            </p>
        </div>
    </div>
</div>