%ul#side-nav.side-nav

  %li
    %a
      %h4=t('menu.list_aspects')

  -if (boss? or role_expert?) and current_stage == 'discontent/posts'
    %li{class:"#{'active' if params[:all_aspects]}"}
      = link_to "#{discontent_posts_path(@project)}" + "?all_aspects=true" do
        %i.fa.fa-book
        Все несовершенства
  -if (boss? or role_expert?) and current_stage == 'concept/posts'
    %li{class:"#{'active' if params[:all_aspects]}"}
      = link_to "#{concept_posts_path(@project)}" + "?all_aspects=true" do
        %i.fa.fa-book
        Все нововведения

  -@project.current_aspects(current_stage).each do |asp|
    = render partial: 'aspect', object: asp, locals: {current_stage: current_stage}
    -#%span.pull-right
    -#  %small="(#{asp.aspect_posts.by_status_for_discontent(@project).count})"
    -#  ="(+ "
    -#  =asp.aspect_posts.by_status_for_discontent(@project).where("discontent_posts.created_at >= ?", last_time_visit_aspect(asp)).count
    -#  =")"
    - if asp.core_aspects.present?
      %ul.panel-collapse
        - asp.core_aspects.each do |asp1|
          = render partial: 'aspect', object: asp1, locals: {current_stage: current_stage}
          - if asp1.core_aspects.present?
            %ul.panel-collapse
              - asp1.core_aspects.each do |asp2|
                = render partial: 'aspect', object: asp2, locals: {current_stage: current_stage}

  %li{class:"#{'active' if params[:not_aspect]}"}
    = link_to "#{link_for_aspects(nil, current_stage)}" + "?not_aspect=true" do
      %i.fa.fa-book
      Без аспекта
  %hr
  %li
    = link_to "/project/#{@project.id}/#{current_stage == 'essay/posts' ? stage_for_essay(params[:stage].to_i) : current_stage}/to_work", class: 'text-towork', id: 'go_to_work' do
      =t('menu.help_stage')
      -#%i.fa.fa-question-circle
  %li
    = link_to essay_posts_path(@project, current_stage == 'essay/posts' ? params[:stage].to_i : number_stage(current_stage)), class: 'text-essay', id: 'go_to_essay' do
      =t('menu.reflection_stage')
      %b="(#{@project.essay_count(current_stage == 'essay/posts' ? params[:stage].to_i : number_stage(current_stage)).count})"

  - if current_user.admin?
    %li
      = link_to advices_path(@project), id: 'open_unapproved_advices' do
        = t('left_side.discontent_post_advices')
        %b
          = " (#{Advice.unapproved.by_project(@project).count})"
  %li
    = link_to t('menu.list_groups'), groups_path(@project), id: 'open_groups_list'
    #left_side_list_groups
      - current_user.groups.by_project(@project).each do |group|
        = link_to group_path(@project, group), id: "ls_open_group_#{group.id}" do
          = group_side_name(group)

  -if boss? or role_expert?
    %li
      = link_to "/project/#{@project.id}/#{current_stage == 'essay/posts' ? stage_for_essay(params[:stage].to_i) : current_stage}/vote_result", class: 'text-vote-result', id: 'vote_result' do
        =t('menu.vote_result')

  %li.visible-xs
    %a{href: '/', id: 'root_page', title: t('menu.main')}
      %i.fa.fa-home
      =t('menu.main')

  %li.visible-xs
    =link_to t('menu.help'), help_posts_path(@project), style:'width:auto; margin-right: 10px;'

  %li.visible-xs
    =link_to t('menu.base_knowledge'), knowbase_posts_path(@project) , style:'width:auto; margin-right: 10px;'

  %li.visible-xs
    %a{:href => "/users/sign_out/", "data-method" => "delete", :id => "sign_out"}
      %i.fa.fa-sign-out
      =t('menu.sign_out')
