%section.widget
  %header
    .row
      .col-md-9
        %h3(class="#{color_stage(@stage.to_i)}")
          =@stage
          этап:
          =stage_status(@stage.to_i)
          %br
          %br
        %span(style='font-size: 20px;line-height: 30px;')
          Рефлексия по данному этапу в рамках процедуры:
          =@project.name

%section.widget
  .body
    = form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},  :html => { :class => 'lt_new' } do |f|
      -if @post.errors.any?
        #error_explanation
          %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
          %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

      %h3 Рефлексия – это взгляд участника со стороны на деятельность и его роль в этой деятельности.

      %br
      .row
        .col-md-12
          .text-left
            .h4
              1. Какие недостатки вы заметили в процедуре, в вашей работе, а также в работе других участников, модераторов и жюри?

      .row
        .col-md-12
          .form-group
            =f.text_area :content, class: 'form-control', rows: 5

      .row
        .col-md-12
          .text-left
            .h4
              2. Какие достоинства отсутствовали в этой работе?


      .row
        .col-md-12
          .form-group
            =f.text_area :positive, class: 'form-control', rows: 5

      .row
        .col-md-12
          .text-left
            .h4
              3. Что и как можно было бы изменить?

      .row
        .col-md-12
          .form-group
            =f.text_area :change, class: 'form-control', rows: 5

      -if @stage.to_i > 1 and @project.status > 2
        .row
          .col-md-12
            .text-left
              .h4
                4. Что уже изменилось к лучшему в результате реакции на рефлексию?

        .row
          .col-md-12
            .form-group
              =f.text_area :reaction, class: 'form-control', rows: 5


      %actions.pull-right
        = f.submit 'Сохранить',  class: 'btn btn-success btn-lg'
      %br
      %br
