%section.widget
  %header
    .row
      .col-md-9
        %h3(class="#{color_stage(@stage.to_i)}")
          =@stage
          этап:
          =stage_status(@stage.to_i)
          %br
          %br
        %span(style='font-size: 20px;line-height: 30px;')
          Рефлексия по данному этапу в рамках процедуры:
          =@project.name

%section.widget
  .body
    %h3.text-center Форма добавления рефлексии
    = form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},  :html => { :class => 'lt_new' } do |f|
      -if @post.errors.any?
        #error_explanation
          %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
          %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

      %h3 Рефлексия – это взгляд на осуществляемую деятельность и свое участие в ней как бы со стороны.
      %br
      .row
        .col-md-12
          .text-center
            .h5
              Какие было недостатки в процедуре, вашей работе в ней, работе других участников, модераторв и жюри?
            %br

      .row
        .col-md-12
          .form-group
            =f.text_area :content, class: 'form-control', rows: 5

      .row
        .col-md-12
          .text-center
            .h5
              Каковы отсуствующие достоинства в этой работе?
            %br

      .row
        .col-md-12
          .form-group
            =f.text_area :positive, class: 'form-control', rows: 5

      .row
        .col-md-12
          .text-center
            .h5
              Что можно было бы изменить и как?
            %br

      .row
        .col-md-12
          .form-group
            =f.text_area :change, class: 'form-control', rows: 5

      -if @stage.to_i > 1 and @project.status > 2
        .row
          .col-md-12
            .text-center
              .h5
                Что уже изменилось к лучшему в результате реакции на рефлексию?
              %br

        .row
          .col-md-12
            .form-group
              =f.text_area :reaction, class: 'form-control', rows: 5


      %actions.pull-right
        = f.submit 'Сохранить',  class: 'btn btn-success btn-lg'
      %br
      %br


-#%b Рефлексия
-#– это взгляд на осуществляемую деятельность и свое участие в ней как бы со стороны.
-#%br
-#В нашей процедуре рефлексировать можно либо в форме
-#%b произвольного эссе, либо используя для этого имеющийся на сайте шаблон.
-#%br
-#За наиболее интересные, по мнению ведущего, рефлексии начисляется
-#%b 40 премиальных баллов.
-#
-#= form_for @post,:url => {:project => @project.id, :action => @post.persisted? ? 'update' : 'create'},  :html => { :class => 'lt_new' } do |f|
-#  / -if @post.errors.any?
-#  /   #error_explanation
-#  /     %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
-#  /     %ul
-#  /       - @post.errors.full_messages.each do |msg|
-#  /         %li= msg
-#
-#  %field
-#    = f.text_area :content, class: "post"
-#    / = f.hidden_field :project, :value=> @project.id
-#    / = select_tag 'category', options_from_collection_for_select(@categories, "id", "name"), :prompt => "Выберите категорию"
-#
-#    %br
-#
-#  %br
-#  .actions
-#    = f.submit "",   id: "Send"
-#%h1 Шаблон
-#%b (1) О достижении цели
-#%br
-#%b Предварительные:
-#%br
-#(1.П.1) Какова была, по мнению автора рефлексии, цель организаторов на этой стадии процедуры?
-#%br
-#(1.П.2) Какие ими намечалось разрешить задачи?
-#%br
-#(1.П.3) Почему, на каких основаниях организаторы поставили именно такие цель и задачи?
-#%br
-#%b Рефлексирующие:
-#%br
-#(1.Р.1) Насколько в ходе процедуры участники продвинулись к намеченной цели и разрешили поставленные задачи и почему?
-#%br
-#(1.Р.2) Подтвердились ли основания, по которым были поставлены именно такие цель и задачи?
-#%br
-#%b Главные:
-#%br
-#(1.Г.1) Не следует ли ввиду полученного в ходе деятельности опыта внести коррективы в основания?
-#%br
-#(1.Г.2) Если да, то какие и как в связи с этим скорректировать цель и задачи?
-#
-#%br
-#%br
-#%b (2) О применявшихся методах, средствах и других ресурсах
-#%br
-#%b Предварительные:
-#%br
-#(2.П.1) Какие методы, средства и другие ресурсы организаторы использовали для разрешения поставленных задач?
-#%br
-#(2.П.2) Почему, по мнению автора рефлексии, были избраны именно такие методы, средства и другие ресурсы?
-#%br
-#%b Рефлексирующие:
-#%br
-#(2.Р.1) Насколько эффективными оказались избранные методы, средства и другие ресурсы?
-#%br
-#(2.Р.2) Подтвердились ли основания, по которым они были избраны?
-#%br
-#%b Главные:
-#%br
-#(2.Г.1) Не следует ли ввиду полученного в ходе деятельности опыта внести коррективы в основания?
-#%br
-#(2.Г.2) Если да, то какие и как в связи с этим скорректировать методы, средства и другие ресурсы?
-#
-#%br
-#%br
-#%b (3) О совершенных действиях
-#%br
-#%b Предварительные:
-#%br
-#(3.П.1) Какие реальные действия были осуществлены организаторами?
-#%br
-#(3.П.2) По какой программе (порядок, время, условия начала и завершения)?
-#%br
-#%b Рефлексирующие:
-#%br
-#(3.Р.1) Что было сделано эффективно, а что нет, и почему?
-#%br
-#%b Главные:
-#%br
-#(3.Г.1) Не видно ли из полученного в ходе деятельности опыта, что следовало бы скорректировать действия?
-#%br
-#(3.Г.2) Если да, то как?"