- if !current_user.have_essay_for_stage(@project, @stage) and current_stage?(@stage.to_i) or @project.demo?
  .pull-right
    = link_to t('show.essay.new_essay'), new_essay_post_path(@project, @stage), id: 'new_essay',  class: 'btn btn-lg btn-success'
%h3(class="#{color_stage(@stage.to_i)}")
  =t('show.essay.title')
  = stage_status(@stage.to_i)
  %br
  %br

%section.widget.widget-tabs
  %header
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active
        %a#go_to_posts{href: '#posts', role: 'tab', 'data-toggle' => 'tab'}
          Посты
          %br/
      %li
        %a#go_to_advices{href: '#advices', role: 'tab', 'data-toggle' => 'tab'}
          Неутвержденные советы
          %br/
  .body.tab-content
    .tab-pane.active#posts
      = render @posts
    .tab-pane.active#advices
      - Discontent::PostAdvice.unapproved.each do |advice|
        = render partial: 'discontent/post_advices/post_advice', locals: {post_advice: advice}
