%h3(class="#{color_stage(@stage.to_i)}")
  Рефлексия по этапу:
  =stage_status(@stage.to_i)
  %br
  %br

%section
  .body
    .row
      .col-md-2
        .media
          = render 'users/user_post', user: @post.user
          .media-body
            .media-heading
              =link_to @post.user, user_path(@project, @post.user)

    %br
    %br
    .row
      .col-md-6
        %section
          .body
            %span(class="#{color_stage(@stage.to_i)}")  1. Какие недостатки вы заметили в процедуре, в вашей работе, а также в работе других участников, модераторов и жюри?
            .form-group
              =simple_format(@post.content)

            %span(class="#{color_stage(@stage.to_i)}") 2. Какие достоинства отсутствовали в этой работе?
            .form-group
              =simple_format(@post.positive)

            %span(class="#{color_stage(@stage.to_i)}")  3. Что и как можно было бы изменить?
            .form-group
              =simple_format(@post.change)

            -if @stage.to_i > 1 and @project.status > 2
              %span(class="#{color_stage(@stage.to_i)}") 4. Что уже изменилось к лучшему в результате реакции на рефлексию?
              .form-group
                =simple_format(@post.reaction)

      .col-md-6
        %section
          .body
            %p Комментарии к рефлексии
            .text-center= will_paginate @comments
            .chat-messages
              = render partial: 'shared/comment',collection: @comments
            .text-center= will_paginate @comments
            - if signed_in?
              = render partial: 'shared/comment_form', locals: { comment: @comment, url_link: url_for(controller: @post.class.name.underscore.pluralize, action: 'add_comment')}
%br
= render partial: 'post_edit_essay', object: @post
%br
= link_to 'К списку', essay_posts_path(@project, @stage)