%h3(class="#{color_stage(@stage.to_i)}")
  =t('show.essay.title')
  =stage_status(@stage.to_i)
  %br
  %br

%section
  .body
    .row
      .col-md-6
        .media
          = render 'users/user_post', user: @post.user
          .media-body
            .media-heading
              =link_to @post.user, user_path(@project, @post.user)

    %br
    %br
    .row
      .col-md-6
        %section
          .body
            %span(class="#{color_stage(@stage.to_i)}")="1. #{t('form.essay.content')}"
            .form-group
              =simple_format(@post.content)

            %span(class="#{color_stage(@stage.to_i)}")="2. #{t('form.essay.positive')}"
            .form-group
              =simple_format(@post.positive)

            %span(class="#{color_stage(@stage.to_i)}")="3. #{t('form.essay.change')}"
            .form-group
              =simple_format(@post.change)

            -if @stage.to_i > 1 and @project.status > 2
              %span(class="#{color_stage(@stage.to_i)}")="4. #{t('form.essay.reaction')}"
              .form-group
                =simple_format(@post.reaction)

      .col-md-6
        %section
          .body
            %p=t('show.essay.comment')
            .text-center= will_paginate @comments
            #comments.chat-messages
              = render partial: 'shared/comment',collection: @comments
            .text-center= will_paginate @comments
            - if signed_in?
              = render partial: 'shared/comment_form', locals: { comment: @comment, url_link: url_for(controller: @post.class.name.underscore.pluralize, action: 'add_comment')}
%br
= render partial: 'post_edit_essay', object: @post
%br
= link_to t('link.back'), essay_posts_path(@project, @stage)