%section.widget
  .body
    .row
      .col-md-2
        .media
          = render 'users/user_post', :user => @post.user
          .media-body
            .media-heading
              =link_to @post.user, user_path(@project, @post.user)

    %br
    %br
    .row
      .col-md-6
        %section.widget
          .body
            %span(class="#{color_stage(@stage.to_i)}") Какие было недостатки в процедуре, вашей работе в ней, работе других участников, модераторв и жюри?
            .form-group
              =simple_format(@post.content)

        %section.widget
          .body
            %span(class="#{color_stage(@stage.to_i)}") Каковы отсуствующие достоинства в этой работе?
            .form-group
              =simple_format(@post.positive)

        %section.widget
          .body
            %span(class="#{color_stage(@stage.to_i)}") Что можно было бы изменить и как?
            .form-group
              =simple_format(@post.change)

        -if @stage.to_i > 1 and @project.status > 2
          %section.widget
            .body
              %span(class="#{color_stage(@stage.to_i)}") Что уже изменилось к лучшему в результате реакции на рефлексию?
              .form-group
                =simple_format(@post.reaction)

      .col-md-6
        %section.widget
          .body
            %p Комментарии к рефлексии
            .text-center= will_paginate @comments
            .chat-messages
              = render :partial => 'shared/comment',:collection => @comments
            .text-center= will_paginate @comments
            - if signed_in?
              = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => url_for(:controller => @post.class.name.underscore.pluralize, :action => 'add_comment')}

= render :partial => 'post_edit_essay', :object => @post
%br
= link_to 'К списку', essay_posts_path(@project, @stage)



/ .inspire= link_to image_tag('inspire.png'),  new_child_life_tape_post_path

/ = render @life_tape_post

/ / - if signed_in?
/ / 	%br
/ / 	= link_to image_tag("concept.png"),  '/concept/posts/new?idea='+ @life_tape_post.id.to_s
/ / 	%br

/ - if signed_in?
/ 	= render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => add_comment_life_tape_post_path(@life_tape_post.id)}

/ = render :partial => 'shared/comment',:collection => @life_tape_post.comments, :locals => { :path_link => '/life_tape/comments/'}

/ - unless @life_tape_post.post.nil?
/ 	.redtitle Этой запись вдохновлена следующей записью
/ 	= render @life_tape_post.post

/ - unless @life_tape_post.childs.empty?
/ 	.redtitle Этой записью были вдохновлены следующие записи
/ 	- @life_tape_post.childs.each do |post|
/ 		=render post
-#= render 'shared/post', :post => @post
-#= link_to 'К списку', essay_posts_path(@project, @stage)
-#- if signed_in?
-#  = render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => add_comment_essay_post_path(@post.id)}
-#
-#= render :partial => 'shared/comment',:collection => @post.comments, :locals => { :path_link => '/essay/comments/'}