.cabinet-tab-heading
  %h5
    = t('form.aspect.title')
  .divider35

= form_for aspect, url: {project: @project.id, action: aspect.persisted? ? 'update' : 'create'}, remote: true, class: 'cabinet-aspect-form' do |f|
  - content_for :aspect_content do
    .form-group
      = f.label :content, 'Название'
      = f.text_field :content, class: 'form-control', id: 'aspect_text_field_content'
      .divider25
  - content_for :aspect_description do
    .divider25
    .form-group
      = f.label :short_desc, 'Поясните, почему ваш аспект важен:'
      = f.text_area :short_desc, class: 'form-control', rows: '3', id: 'aspect_text_area'
  = render 'shared/notice_messages', object: f.object

  = render partial: "#{params[:type_mechanic]}_form", locals: {f: f, aspect: aspect}

  .pull-right
    = f.submit t('form.save'), id: 'send_post_aspect', class: 'btn btn-success'
