%h4.modal-title
  = t('form.aspect.title')

= form_for aspect, url: {project: @project.id, action: aspect.persisted? ? 'update' : 'create'}, remote: true do |f|
  - content_for :aspect_names do
    %br
    = f.text_field :content, class: 'form-control', placeholder: t('form.aspect.name'), id: 'aspect_text_field_content'
    %br
    = f.text_area :short_desc, class: 'form-control', style: 'height: 70px;', placeholder: t('form.aspect.desc'), id: 'aspect_text_area'
    %br
  = render 'shared/notice_messages', object: f.object

  = render partial: "#{params[:type_mechanic]}_form", locals: {f: f}

  .pull-right
    = f.submit t('form.save'), id: 'send_post_aspect', class: 'btn btn-success'
