%h4 Выберите аспект к которому будет принадлежать тема
= f.select :core_aspect_id, options_from_collection_for_select(@aspects, :id, :content, selected: aspect.core_aspect_id), prompt: t('form.discontent.select_aspect_prompt')
%br
= yield :aspect_names
.form-group
  = f.label t('form.project.color'), class: 'control-label', for: 'color'
  .input-group
  = f.text_field :color, class: 'form-control colorpicker', id: 'color', value: aspect.color
  %span(id="color-holder" class="input-group-addon" style="background-color: #{aspect.color};")
    &nbsp;&nbsp;&nbsp;
.form-group
  = f.label 'Код', for: 'short_name'
  = f.text_field :short_name, class: 'form-control'
%br
.form-group
  %label.radio-inline
    = f.radio_button :status, '0'
    %span.label.label-success
      = t('form.aspect.status_main')
  %label.radio-inline
    = f.radio_button :status, '1'
    %span.label.label-danger
      = t('form.aspect.status_other')
