-if @wrong_answer
  $('.wrong-answer').removeClass("close-notice");
  - @question.answers.by_status(0).by_style(0).each do |answer|
    $('#answer_#{answer.id}.active').removeClass('btn-white btn-red btn-blue').addClass('btn-red');
  $('button.answer-question').button('reset').removeClass("active");
-else
  $('.wrong-answer').addClass("close-notice");
  $('.hint').addClass("close-notice");
  - @question.answers.by_status(0).by_style(1).each do |answer|
    $('#answer_#{answer.id}').removeClass('btn-white btn-red btn-blue').addClass('btn-blue');

  -if @next_question
    $("#question_#{@question.id}").animate({height: 0, opacity:0}, 1000, function() { $(this).remove(); });
    $("#question_#{@next_question.id}").fadeIn();
  -else
    $('#check_question_#{@aspect.id}').html('<i class="fa fa-check" style="font-size:15px;margin:0;"></i>');
    $('#progress-bar-main').css('width',"#{(@count_aspects_check/@count_aspects.to_f)*100}%");
    $('li.li_aspect.active').next().find('button').tab('show');

  $('#count_questions_now_#{@aspect.id}').html("#{@count_now}");
  $('#progress_bar_#{@aspect.id}').css('width',"#{(@count_now/@count_all.to_f)*100}%");
  $('button.answer-question').button('reset').removeClass("active");
