%i.fa.fa-info-circle.fa-lg.open_sticker{'data-for' => '.cabinet_sticker', class: "font_color_stage#{@project.main_stage}"}
.cabinet_sticker.sticker.rounded_3.font_white{style: ('display: none;' if show_sticker?("#{@project.status == 100 ? name_controller.to_s.sub('core_aspect_posts', 'collect_info_posts').to_sym : @project.current_stage_type}_cabinet_sticker"))}
  = t("cabinet.#{@project.status == 100 ? name_controller.to_s.sub('core_aspect_posts', 'collect_info_posts').to_sym : @project.current_stage_type}_sticker").html_safe
  -#- unless [:estimate_posts, :completion_proc_posts].include?(name_controller)
  = link_to send("check_field_#{@project.status == 100 ? name_controller.to_s.sub('core_aspect_posts', 'collect_info_posts').to_sym : @project.current_stage_type}_path", @project, check_field: "#{@project.status == 100 ? name_controller.to_s.sub('core_aspect_posts', 'collect_info_posts').to_sym : @project.current_stage_type}_cabinet_sticker", status: true), method: :put, remote: true, id: 'cabinet_close_sticker' do
    %i.sticker_close.fa.fa-times.fa-lg{'data-for' => '.cabinet_sticker'}
