.dropdown_window.expert_news#dd_1{ class: "#{'active' if unread_expert_news?}" }
  .dw_badge
    %i.fa.fa-exclamation-triangle
    Новости от эксперта
  .dw_wrapper
    .dw_top
      .text-right
        %i.fa.fa-close.fa-lg.dw_close{ 'data-dd' => 'dd_1' }
    .dw_content
      .ps_cont
        - unless expert_news.empty?
          - expert_news.each_with_index do |news, index|
            .dw_notice
              %a.collapsed{ class: "#{'read' if news.read?(project, current_user)}", data: { project: project.id, id: news.id },
                'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: "#xprt_#{index}" }
                .row
                  .col-xs-9
                    = news.title
                    - unless news.read?(@project, current_user)
                      %span.status_news{ id: "status_news_#{news.id}"}
                        (не прочитано)
                  .col-xs-3.text-right
                    %span.date
                      = l(news.created_at, format: '%d.%m.%Y')
                    %i.fa.fa-angle-right
            .dw_article.collapse{ id: "xprt_#{index}" }
              = news.body.try(:html_safe)
