.logo= link_to image_tag('logo.png', alt: 'Colleсtive mind', class: 'round' ), root_path
.project_name
  .child 
    %span.project_name= @project.name
.top_buttons

  - if signed_in?
    .greybut
      = link_to image_tag('edit.png'), "/project/#{@project.id}/users/#{current_user.id}/edit"
      = link_to current_user.name_title, "/project/#{@project.id}/users/#{current_user.id}", class: 'username'
      = link_to ' - Выйти', destroy_user_session_path, method: :delete,  class: 'username'
  -else
    %span.blackbut
      = image_tag('exit.png')
      = link_to 'Войти', '/signin', class: 'exit'




