.logo= link_to image_tag("logo.png", :alt => "Colleсtive mind", :class => "round", ), root_path
.project_name
  .child 
    %span.project_name= @project.name
.top_buttons  
  - if signed_in?
    .greybut
      = link_to image_tag('edit.png'), edit_user_path(@project, current_user)
      = link_to current_user.name_title, user_path(@project, current_user), class: "username"
      = link_to " - Выйти", "/signout" , class: "username"
  -else
    %span.blackbut
      = image_tag('exit.png')
      = link_to "Войти", "/signin", class: "exit"




