.navbar
  .logo.pull-left.hidden-xs
    %a{:href => "/"}
      %h2
        %strong Mass
        Decision

  %ul.nav.navbar-nav.pull-right.navbar-menu
    - if signed_in?
      -if @core_project
        %li
          =link_to current_user, "project/#{@core_project.id}/users/#{current_user.id}"
      -elsif @project
        %li
          =link_to current_user, "project/#{@project.id}/users/#{current_user.id}"
      -else
        %li
          %a(class='btn btn-sm btn-transparent')
            = current_user.to_s
      %li
        = link_to destroy_user_session_path, :method => :delete, id: 'sign_out', class:'btn btn-sm btn-transparent' do
          Выйти
          %i.fa.fa-arrow-right
    -else
      %li
        = link_to "Войти", "/users/sign_in", class: "btn btn-sm btn-transparent"
      %li
        = link_to "Зарегистрироваться", "/users/sign_up", class: "btn btn-sm btn-transparent"
  %ul.navbar-buttons.pull-right
    - if signed_in?
      -if prime_admin?
        %li
          =link_to list_projects_path, class:'btn btn-sm btn-info', id: 'list_projects'  do
            Список процедур
            %i.fa.fa-arrow-right





