
.navbar
  .logo.pull-left.hidden-xs
    %a{:href => "/"}
      %h2
        %strong Mass
        Decision

  %ul.nav.navbar-nav.pull-right.navbar-menu
    - if signed_in?
      -if @core_project
        %li
          =link_to current_user, "project/#{@core_project.id}/users/#{current_user.id}"
      -elsif @project
        %li
          =link_to current_user, "project/#{@project.id}/users/#{current_user.id}"
      -else
        %li
          %a
            = current_user.to_s
      %li
        = link_to destroy_user_session_path, :method => :delete do
          Выйти
    -else
      %li
        = link_to "Войти", "/users/sign_in", class: "exit"
      %li
        = link_to "Зарегистрироваться", "/users/sign_up", class: "exit"
  %ul.navbar-buttons.pull-right
    - if signed_in?
      -if prime_admin?
        %li
          =link_to list_projects_path, class:'btn btn-sm btn-info'  do
            Список процедур
            %i.fa.fa-arrow-right
        -#%li
        -#  =link_to new_core_project_path, class:'btn btn-sm btn-info'  do
        -#    Создать процедуру
        -#    %i.fa.fa-arrow-right
  -#%ul.navbar-buttons.pull-right
  -#  - if signed_in?
  -#    %li
  -#      =link_to "/project/#{@core_project.id}", class:'btn btn-sm btn-danger'  do
  -#        Перейти к процедуре
  -#        %i.fa.fa-arrow-right




