.navbar
  .logo.pull-left.hidden-xs
    %a{href: '/', id: 'go_to_logo'}
      %h2
        %strong Mass
        Decision

  %ul.nav.navbar-nav.pull-right.navbar-menu
    - if signed_in?
      -if @core_project
        %li
          =link_to current_user, "/project/#{@core_project.id}/users/#{current_user.id}", id: 'user_profile'
      -elsif @project
        %li
          =link_to current_user, "/project/#{@project.id}/users/#{current_user.id}", id: 'user_profile'
      -else
        %li
          %a(class='btn btn-sm btn-transparent' id='user_profile')
            = current_user.to_s
      %li
        = link_to destroy_user_session_path, method: :delete, id: 'sign_out', class:'btn btn-sm btn-transparent' do
          =t('menu.sign_out')
          %i.fa.fa-arrow-right
    -else
      %li
        = link_to t('menu.sign_in'), '/users/sign_in', class: 'btn btn-sm btn-transparent', id: 'sign_in'
      %li
        = link_to t('menu.sign_up'), '/users/sign_up', class: 'btn btn-sm btn-transparent', id: 'sign_up'
  %ul.navbar-buttons.pull-right
    - if signed_in? and boss?
      %li
        =link_to general_rating_path, class:'btn btn-sm btn-primary', id: 'general_rating'  do
          =t('menu.general_rating')
          %i.fa.fa-arrow-right
      %li
        =link_to general_news_path, class:'btn btn-sm btn-success', id: 'general_news'  do
          =t('menu.general_news')
          %i.fa.fa-arrow-right

      - if prime_admin?
        %li
          =link_to list_projects_path, class:'btn btn-sm btn-red', id: 'general_analytics' do
            =t('menu.list_projects')
            %i.fa.fa-arrow-right
        %li
          =link_to list_projects_path, class:'btn btn-sm btn-info', id: 'list_projects'  do
            =t('menu.list_projects')
            %i.fa.fa-arrow-right





