/ Top bar starts
%header.navbar.top_bar
  .container
    .navbar-header
      = link_to "/project/#{@project.id}", id: 'go_to_logo', class: 'navbar-brand' do
        = image_tag 'logo1.png'
    %ul.nav.navbar-nav.main_menu
      %li{class: "#{'active' unless (cabinet? or rating? or profile?)}"}
        = link_to 'Процедура', current_stage_url(@project), class: 'menu_a'
      %li{class: "#{'active' if cabinet?}"}
        = link_to 'Кабинет', self.send("new_#{@project.current_stage_type_for_cabinet_url}_path", @project, type_mechanic: 'simple'), id: 'open_cabinet', class: 'menu_a'
      %li.has_dropwindow
        = render partial: 'application/messages_menu', locals: {my_journals: @my_journals, project: @project}
      - if @project.closed?
        %li{class: "#{'active' if rating?}"}
          = link_to 'Рейтинг', users_path(@project), class: 'menu_a'
      - if current_user.admin?
        - if @project.main_stage >= 0
          %li= link_to '<= ', pr_stage_core_project_path(@project), method: :put,  class: 'menu_a'
        - if @project.main_stage < 7
          %li= link_to '=> ', next_stage_core_project_path(@project), method: :put, class: 'menu_a'

    .navbar-right.text-right.user_block.font_grey
      = link_to '', knowbase_posts_path(@project), remote: true, id: 'tooltip_db', class: 'book_icon tooltip1', 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Жмите сюда, чтобы освежить в памяти базу знаний.'
      %span.auth-divider
        = '|'
      %span.has_dropwindow
        = render partial: 'application/expert_news', locals: {expert_news: @expert_news, project: @project}
      %span.auth-divider
        = '|'
      %span.dropdown
        %a.font_grey.bold#lang_dropdown{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
          %i.fa.fa-globe.font_lighter_grey
          %small
            Русский
            %i.fa.fa-angle-down
        %ul.dropdown-menu.dropdown-mini{role: 'menu', 'aria-labelledby' => 'lang_dropdown'}
          %li
            %a{href: '#'} English
          %li
            %a{href: '#'} Русский
      %span.auth-divider
        = '|'
      %span.dropdown
        %span.badge.grey
          = current_user.score
        %a.font_grey.bold#auth_dropdown{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
          %small
            = current_user
            %i.fa.fa-angle-down
        %ul.dropdown-menu.dropdown-mini{role: 'menu', 'aria-labelledby' => 'auth_dropdown'}
          %li{role: 'presentation'}
            = link_to t('menu.account'), user_path(@project, current_user), id: 'go_to_profile'
          -#%li{role: 'presentation'}
          -#  = link_to t('menu.profile_edit'), user_path(@project, current_user), id: 'go_to_edit_profile'
          %li{role: 'presentation'}
            = link_to t('menu.sign_out'), destroy_user_session_path, method: :delete, id: 'sign_out'
- unless profile?
  .subhead
    .container
      %h4.font_white
        Тема процедуры:
        = @project.name
    - unless cabinet?
      %button#tooltip_button_1.btn.btn-tooltip{type: 'button', value: 'Show'}
        %i.fa.fa-lightbulb-o
        Открыть подсказки
  .container
    .row
      - if cabinet?
        .col-md-12
          .border_grey.rounded_3.stages_block
            .btn-toolbar{role: 'toolbar'}
              .btn-group{role: 'group'}
                = link_to send("#{@project.current_stage_type}_path", @project), id: "go_to_#{@project.current_stage_type}", role: 'button', class: "btn back_color_stage#{@project.main_stage}" do
                  = "#{@project.main_stage} СТАДИЯ:  #{@project.current_stage_name} "
              = render partial: 'application/cabinet_sticker'
      - else
        .col-md-8.col_padding_right_3
          #tooltip1_1.border_grey.rounded_3.stages_block{class: "#{'tooltip1' if name_controller == :collect_info_posts}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'В нашей процедуре стадии открываются поэтапно. Следующая стадия откроется, когда большинство участников ответит на все вопросы.'}
            .btn-toolbar{role: 'toolbar'}
              - Core::Project::STAGES.each do |num_stage, stage|
                .btn-group{role: 'group'}
                  - if name_controller == stage[:type_stage]
                    = link_to send("#{stage[:type_stage]}_path", @project), id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage}" do
                      ="#{num_stage} СТАДИЯ: "
                      = stage[:name]
                  - elsif @project.main_stage >= num_stage
                    = link_to send("#{stage[:type_stage]}_path", @project), id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage}" do
                      = num_stage
                  - else
                    = link_to '#', id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage}" do
                      = num_stage

        .col-md-4.col_padding_left_3
          -#%a.open_welcome_popup{href: "#popup-explanation-#{current_stage_controller}"}
          -#  #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Вы всегда сможете вызвать помощь по стадии, нажав сюда'}
          %a(style="cursor:pointer;")
            #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{class: "#{shown_intro(current_stage_popover_status)}", 'data-project' => "#{@project.id}", 'data-stage' => "#{name_controller.to_s.gsub('_posts', '')}", 'data-status' => "#{current_stage_popover_status}", 'data-text' => "#{current_stage_popover_text}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Вы всегда сможете вызвать помощь по стадии, нажав сюда'}

          #tooltip1_3.border_grey.rounded_3.progress_block{class: "#{'tooltip1' if name_controller == :collect_info_posts}", 'data-placement' => 'right', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Здесь будут отображаться ваши успехи по работе с аспектами. Другие участники тоже не сидят сложа руки!'}
            .container
              .row
                = render partial: 'application/progress_bar'
