%header.navbar.bottom-bar
  .container
    .navbar-header
      .navbar-brand
        %a{href: '/', id: 'go_to_logo'}
          = image_tag 'logo.png', class: 'auth_logo'
    %ul.list-inline.navbar-right
      - if signed_in?
        -if @core_project
          %li
            =link_to current_user, "/project/#{@core_project.id}/users/#{current_user.id}", id: 'user_profile'
        -elsif @project
          %li
            =link_to current_user, "/project/#{@project.id}/users/#{current_user.id}", id: 'user_profile'
        -else
          %li
            %p
              Добро пожаловать, #{current_user.name.to_s} !
        %li
          %span.auth-divider |
        %li
          = link_to destroy_user_session_path, method: :delete, id: 'sign_out', class:'btn btn-sm btn-transparent' do
            =t('menu.sign_out')
      -else
        %li
          = link_to t('menu.sign_in'), '/users/sign_in', class: 'btn btn-sm btn-transparent open-popup', id: 'sign_in', data:{target:'1',placement:'3'}
        %li
          %span.auth-divider
            = "|"
        %li
          = link_to t('menu.sign_up'), '/users/sign_up', class: 'btn btn-sm btn-transparent open-popup', id: 'sign_up', data:{target:'2',placement:'3'}






