- if frustration_path?
	%ul.leftlink
		%li= link_to "Произвольные", '/frustrations/unstructure', class: cp_frustration('/frustrations/unstructure') 
		%li= link_to "Оформленные", "/frustrations/structure" , class: cp_frustration('/frustrations/structure') 
		%li= link_to "Принятые", "/frustrations/accepted", class: cp_frustration('/frustrations/accepted') 
		%li= link_to "Отклоненные", "/frustrations/declined", class: cp_frustration('/frustrations/declined') 
		%li= link_to "Архив", "/frustrations/archive", class: cp_frustration('/frustrations/archive') 
		%li= link_to "На голосовании", "/frustrations/voted", class: cp_frustration('/frustrations/voted') 
	=image_tag("shortdots.png")


=image_tag("shortdots.png")

%h1 Тех. поддержка
%p.righttext
	Что-то непонятно? 
	= link_to 'Задайте вопрос', questions_path
