%nav#sidebar.sidebar.nav-collapse.collapse
  %ul#side-nav.side-nav
    %li.panel#stage_life_tape{class:  @project.stage_style(:life_tape_posts) }
      -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#forms-collapse"}
      =link_to "/project/#{@project.id}/life_tape/posts" ,  class: "#{@project.stage_style_link(@breadcrumbs[0].name, :life_tape_posts)}" do
        %i.fa.fa-edit
        =@project.status_title(:life_tape_posts)
        %br
        %small#life-tape-all-count.text-center=t('stages.record', count: @project.life_tape_posts.count)

      %ul#forms-collapse.panel-collapse.collapse
      -#  .tab-content
      -#    %ul.nav.nav-tabs.nav-stacked
      -#      -unless @posts.nil?
      -#        -@posts.each do |post|
      -#          %li
      -#            %a(data-toggle="tab" href="#asp_#{post.id}" )
      -#              -unless post.discontent_aspects.nil?
      -#                -post.discontent_aspects.each do |asp|
      -#                  =asp.content
      -#                %b="(#{post.comments.count})"

    %li.panel#stage_discontent{class: @project.stage_style(:discontent_posts) }
      -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#stats-collapse"}
      - if @project.status > 2
        = link_to "/project/#{@project.id}/discontent/posts", class:"#{@project.stage_style_link(@breadcrumbs[0].name, :discontent_posts)}" do
          %i.fa.fa-bar-chart-o
          =@project.status_title(:discontent_posts)
          %br
          %small.text-center=t('stages.discontents', count: @project.discontents.by_status(0).count)
      -else
        %a
          %i.fa.fa-bar-chart-o
          =@project.status_title(:discontent_posts)
          %br
          %small недоступен
      %ul#stats-collapse.panel-collapse.collapse

    %li.panel#stage_concept{class:  @project.stage_style(:concept_posts)}
      -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#ui-collapse"}
      - if  @project.status > 6
        = link_to "/project/#{@project.id}/concept/posts" , class:"#{@project.stage_style_link(@breadcrumbs[0].name, :concept_posts)}" do
          %i.fa.fa-magic
          =@project.status_title(:concept_posts)
          %br
          %small.text-center=t('stages.concepts', count: @project.concept_ongoing_post.count)
      -else
        %a
          %i.fa.fa-magic
          =@project.status_title(:concept_posts)
          %br
          %small недоступен
      %ul#ui-collapse.panel-collapse.collapse

    %li.panel#stage_plan{class:  @project.stage_style(:plan_posts)}
      -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#components-collapse"}
      - if  @project.status > 8
        = link_to "/project/#{@project.id}/plan/posts" , class:"#{@project.stage_style_link(@breadcrumbs[0].name, :plan_posts)}" do
          %i.fa.fa-bookmark-o
          =@project.status_title(:plan_posts)
          %br
          %small.text-center=t('stages.plans', count: @project.plan_post.count)
      -else
        %a
          %i.fa.fa-bookmark-o
          =@project.status_title(:plan_posts)
          %br
          %small недоступен
      %ul#components-collapse.panel-collapse.collapse

    %li.panel#stage_plan{class:  @project.stage_style(:estimate_posts)}
      -#%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#tables-collapse"}
      - if  @project.status > 10
        = link_to "/project/#{@project.id}/estimate/posts" , class:"#{@project.stage_style_link(@breadcrumbs[0].name, :estimate_posts)}" do
          %i.fa.fa-table
          =@project.status_title(:estimate_posts)
          %br
          %small.text-center=t('stages.estimates', count: @project.estimate_posts.count)
      -else
        %a
          %i.fa.fa-table
          =@project.status_title(:estimate_posts)
          %br
          %small недоступен
      %ul#tables-collapse.panel-collapse.collapse

-#  %li.panel
-#    %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#grid-collapse"}
-#      %i.fa.fa-bars
-#      %span.name
-#        Widgets &nbsp;
-#        %span.label.label-info new
-#    %ul#grid-collapse.panel-collapse.collapse
-#      %li
-#        %a{:href => "grid.html"} Basic
-#      %li
-#        %a{:href => "grid_live.html"}
-#          Live &nbsp;
-#          %span.label.label-important hot
-#  %li.panel
-#    %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#special-collapse"}
-#      %i.fa.fa-asterisk
-#      %span.name Special
-#    %ul#special-collapse.panel-collapse.collapse
-#      %li
-#        %a{:href => "special_search.html"} Search
-#      %li
-#        %a{:href => "special_invoice.html"} Invoice
-#      %li
-#        %a{:href => "special_inbox.html"}
-#          Inbox
-#          %span.label.label-important 3
-#      %li
-#        %a{:href => "login.html"} Login
-#      %li
-#        %a{:href => "special_404.html"} 404
-#      %li
-#        %a{"data-no-pjax" => "", :href => "landing.html"} Landing
-#      %li
-#        %a{"data-no-pjax" => "", :href => "white/index.html"}
-#          White
-#          %i.fa.fa-external-link-square
-#  %li.panel
-#    %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#menu-levels-collapse"}
-#      %i.fa.fa-code-fork
-#      %span.name Menu Levels
-#    %ul#menu-levels-collapse.panel-collapse.collapse
-#      %li
-#        %a{:href => "#"} Item 1.1
-#      %li
-#        %a{:href => "#"} Item 1.2
-#      %li.panel
-#        %a.accordion-toggle.collapsed{"data-parent" => "#menu-levels-collapse", "data-toggle" => "collapse", :href => "#sub-menu-1-collapse"} Item 1.3
-#        %ul#sub-menu-1-collapse.panel-collapse.collapse
-#          %li.panel
-#            %a.accordion-toggle.collapsed{"data-parent" => "#sub-menu-1-collapse", "data-toggle" => "collapse", :href => "#sub-menu-3-collapse"} Item 2.1
-#            %ul#sub-menu-3-collapse.panel-collapse.collapse
-#              %li
-#                %a{:href => "#"} Item 3.1
-#              %li
-#                %a{:href => "#"} Item 3.2
-#              %li
-#                %a{:href => "#"} Item 3.3
-#          %li
-#            %a{:href => "#"} Item 2.2
-#          %li.panel
-#            %a.accordion-toggle.collapsed{"data-parent" => "#sub-menu-1-collapse", "data-toggle" => "collapse", :href => "#sub-menu-2-collapse"} Item 2.3
-#            %ul#sub-menu-2-collapse.panel-collapse.collapse
-#              %li
-#                %a{:href => "#"} Item 3.4
-#              %li
-#                %a{:href => "#"} Item 3.5
-#              %li
-#                %a{:href => "#"} Item 3.6
-#  %li.visible-xs
-#    %a{:href => "login.html"}
-#      %i.fa.fa-sign-out
-#      %span.name Sign Out
-##sidebar-settings.settings
-#  %button.btn-icons.btn.btn-transparent.btn-sm{"data-value" => "icons", :type => "button"} Icons
-#  %button.btn-auto.btn.btn-transparent.btn-sm{"data-value" => "auto", :type => "button"} Auto




-#%ul.nav.nav-tabs
-#  %li.active
-#    =link_to 'Активность', '#'
-#  %li
-#    =link_to 'Новости', '#'
-#
-#.imperfection_journal
-#  =link_to 'Иван Орлов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 12.13.2014
-#.imperfection_journal
-#  =link_to 'Мирон Левин', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 11.13.2014
-#.imperfection_journal
-#  =link_to 'Сергей Паратов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 23.13.2014
-#.imperfection_journal
-#  =link_to 'Панкрат Свидригайлов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 01.13.2014
-#.imperfection_journal
-#  =link_to 'Иван Орлов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 12.13.2014
-#.imperfection_journal
-#  =link_to 'Мирон Левин', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 11.13.2014
-#.imperfection_journal
-#  =link_to 'Сергей Паратов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 23.13.2014
-#.imperfection_journal
-#  =link_to 'Панкрат Свидригайлов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 01.13.2014
-#.imperfection_journal
-#  =link_to 'Иван Орлов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 12.13.2014
-#.imperfection_journal
-#  =link_to 'Мирон Левин', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 11.13.2014
-#.imperfection_journal
-#  =link_to 'Сергей Паратов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 23.13.2014
-#.imperfection_journal
-#  =link_to 'Панкрат Свидригайлов', '/user/1'
-#  добавил свое
-#  =link_to 'несовершенство', '#'
-#  %small 01.13.2014
-#-#- unless @news.nil?
-#-#	%h1 Новости
-#-#	%p.righttext
-#-#		= @news.anons
-#-#		= link_to 'подробнее',  expert_news_post_path(@project, @news)
