- if frustration_path?
	%ul.leftlink
		%li= link_to "Произвольные", '/frustrations/unstructure', class: cp('/frustrations/unstructure') 
		%li= link_to "Оформленные", "/frustrations/structure" , class: cp('/frustrations/structure') 
		%li= link_to "Принятые", "/frustrations/accepted", class: cp('/frustrations/accepted') 
		%li= link_to "Отклоненные", "/frustrations/declined", class: cp('/frustrations/declined') 
		%li= link_to "Архив", "/frustrations/archive", class: cp('/frustrations/archive') 
		/ %li= link_to "на голосовании", "/voted", class: cp('/vote') 
	=image_tag("shortdots.png")
%h1 Комментарии эксперта

%p.righttext 
	обратите внимание
	= link_to 'на комментарии эксперта по поводу контрольных!', '/articles'

=image_tag("shortdots.png")

%h1 Новости
%p.righttext
	Полностью переработан раздел Вопросов и ответов, а сбор и сведений доведен до сияющего блеска.
	= link_to 'посмотрите помощь', '/help'


=image_tag("shortdots.png")

%h1 Тех. поддержка
%p.righttext
	Что-то непонятно? 
	= link_to 'Задайте вопрос', questions_path
