.dropdown_window.dd_435.notifications_drop.text-left#dd_2
  .dd_wrapper
    .dd_top.thin.light-grey
      %i.fa.fa-close.fa-lg.dd_close{ 'data-dd' => 'dd_2' }
    .dd_bottom.white
      .divider10
      .container
        .row
          .col-xs-12
            .ps_cont
              - if @my_journals.present?
                - @my_journals.each do |journal, k|
                  %span.dd_notice.moder{ href: '#' }
                    %span.dd_n_cell.left
                      %i.fa.fa-lg{ class: "#{journal_icon(journal.type_event)} #{journal_color(journal.type_event)}" }
                    %span.dd_n_cell.right
                      -#@todo заменить на метод
                      = Russian::strftime(journal.created_at, '%k:%M %d.%m.%Y')
                      %span.bold
                        = link_to journal.user, user_path(@project, journal.user)
                      %p
                        - if k > 1
                          = t('menu.journal_count', count: k - 1)
                        = journal_parser(journal, @project.id).try(:html_safe)
              - else
                %a
                  = t('menu.journal_empty')
      .divider20
