.dropdown_window.notifications#dd_2
  .dw_wrapper
    .dw_top
      .text-right
        %i.fa.fa-close.fa-lg.dw_close{ 'data-dd' => 'dd_2' }
    .dw_content
      .ps_cont
        - if @my_journals.present?
          - @my_journals.each do |journal, k|
            .dw_notice
              .row
                .col-md-1
                  %i.fa.fa-lg{ class: "#{journal_icon(journal.type_event)} #{journal_color(journal.type_event)}" }
                .col-md-11
                  = l(journal.created_at, format: '%k:%M %d.%m.%Y')
                  = link_to journal.user, user_path(@project, journal.user), class:"bold"
                  %p
                    - if k > 1
                      = t('menu.journal_count', count: k - 1)
                    = journal_parser(journal, @project.id).try(:html_safe)
        - else
          %a
            = t('menu.journal_empty')
