= link_to "/project/#{project.id}/users/#{current_user.id}/journal_clear", method: :put, remote: true, class: 'has_circle drop_opener menu_a', id: 'clear_my_journals', "data-dd-opener" => "dd_2" do
  -#%a.has_circle.drop_opener.menu_a{"data-dd-opener" => "dd_2"}
  Мои уведомления
  - if my_journals.size > 0 and @my_journals_count > 0
    %span.top-circle#my_journals_count
      = my_journals.size
#dd_2.dropdown_window.dd_435.notifications_drop.text-left
  .dd_wrapper
    .dd_top.thin.light-grey
      %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_2"}
    .dd_bottom.white
      .divider10
      .container
        .row
          .col-xs-12
            .ps_cont
              - unless my_journals.empty?
                - my_journals.each do |journal, k|
                  %span.dd_notice.moder{:href => "#"}
                    %span.dd_n_cell.left
                      %i.fa.fa-lg(class="#{journal_icon(journal)}")
                    %span.dd_n_cell.right
                      = Russian::strftime(journal.created_at,'%k:%M %d.%m.%Y')
                      %span.bold
                        = link_to journal.user, user_path(@project, journal.user)
                      %p
                        - if k > 1
                          = t('menu.journal_count', count: k-1)
                        = journal_parser(journal, project.id).html_safe
              - else
                %a
                  = t('menu.journal_empty')
      .divider20
























-#%a#messages.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', title: t('menu.journal_title')}
-#  %i.fa.fa-comments
-#  - if my_journals.size > 0
-#    %span.count(style='background: #e5603b;')
-#      = my_journals.size
-#    - if (Time.now - my_journals.last.first.created_at) > 1.hour
-#      #set_notification_message
-#  - else
-#    %span.count
-#      = my_journals.size
-#
-#%ul.dropdown-menu.messages#messages-menu{role: 'menu'}
-#  - unless my_journals.empty?
-#    - my_journals.each do |journal, k|
-#      %li{role: 'presentation'}
-#        %p.message{href: '#'}
-#          -#= image_tag journal.user.avatar.url(:thumb), style: 'margin-left: 10px;'
-#          = image_tag 'no-ava.png', style: 'margin-left: 10px;'
-#          .details(style='margin-left: 60px;')
-#            .sender
-#              %span.color-teal=journal.user
-#              - if k > 1
-#                %br
-#                %span.color-red
-#                  = t('menu.journal_count', count: k-1)
-#            .text
-#              = journal_parser(journal, project.id).html_safe
-#    %li{role: 'presentation'}
-#      = link_to "/project/#{project.id}/users/#{current_user.id}/journal_clear", method: :put, remote: true, class: 'text-align-center see-all', id: 'clear_my_journals' do
-#        = t('menu.journal_clear')
-#        %i.fa.fa-arrow-right
-#  - else
-#    %li
-#      %a
-#        = t('menu.journal_empty')
