- Core::Project::LIST_STAGES.each do |num_stage, stage|
  - if name_controller == stage[:type_stage]
    .btn-group{:role => "group"}
      = link_to send("#{stage[:type_stage]}_path", @project, asp: params[:asp]), id: "go_to_#{stage[:type_stage]}", :role => "button", class: "btn back_color_stage#{num_stage}" do
        %span.bigger.text-upper
          ="#{num_stage} СТАДИЯ: "
          = stage[:name]

  - elsif @project.status >= stage[:status].min
    .btn-group{:role => "group"}
      = link_to send("#{stage[:type_stage]}_path", @project, asp: params[:asp]), id: "go_to_#{stage[:type_stage]}", :role => "button", class: "btn back_color_stage#{num_stage}" do
        = num_stage

  - else
    .btn-group{:role => "group"}
      = link_to '#', id: "go_to_#{stage[:type_stage]}", class: "btn back_color_stage#{num_stage}" do
        = num_stage
