.stages
  %ul
    %li{ :class => cp('life_tape')}
      = link_to "Сбор Информации", life_tape_posts_path(@project), class: "lstages"  
    = image_tag "space.png", :class => "space"    
  


    %li{ :class => cp('discontent')}
      = image_tag image_for_stages('1', 'discontent'), :class => 'numbers'
      - if @project.status>2
        = link_to "Анализ ситуации", discontent_posts_path(@project, :status => 2), class: "lstages" 
      -else
        %span.lstagesdisabled Анализ ситуации
    


    = image_tag "space.png", :class => "space"   

    %li{ :class => cp('concept')}
      = image_tag image_for_stages('2', 'concept'), :class => 'numbers'
      - if @project.status >4
        = link_to "Формулирование проблемы", concept_posts_path(@project, :status => 2), class: "lstages" 
      -else
        %span.lstagesdisabled Формулирование проблемы



    = image_tag "space.png", :class => "space"

    %li{ :class => cp('plan')}
      = image_tag image_for_stages('3', 'plan'), :class => 'numbers'
      -if @project.status > 6
        = link_to "Проекты", plan_posts_path(@project, :status => 2), class: "lstages" 
      -else
        %span.lstagesdisabled Проекты
    = image_tag "space.png", :class => "space" 
    
 

    = image_tag "space.png" , :class => "space" 
    %li{ :class => cp('estimate')}
      = image_tag image_for_stages('4', 'estimate'), :class => 'numbers'
      - if @project.status  > 7
        = link_to "Оценивание и выбор", "/estimate/posts/", class: "lstages"
      -else
        %span.lstagesdisabled Оценивание и выбор
    = image_tag "space.png", :class => "space" 

