.stages
  %ul
    %li{ :class => cp('life_tape')}
      = image_tag image_for_stages('1', 'life_tape'), :class => 'numbers'
      = link_to "Начало процедуры", life_tape_posts_path(@project), class: "lstages"  
    = image_tag "space.png", :class => "space" 
   
    %li{ :class => 'vote_active'}
      - unless stage_vote?('life_tape_post')
        = image_tag "vote_dis.png", class: "lstages", :title => 'Голосование за аспекты'
      -else
        = link_to image_tag("vote.png", class: 'lstages', :title => 'Голосование за аспекты'), life_tape_posts_path(@project)
   
    = image_tag "space.png" , :class => "space" 
    %li{ :class => cp('discontent')}
      = image_tag image_for_stages('2', 'discontent'), :class => 'numbers'
      = link_to "Несовершенства", discontent_posts_path(@project), class: "lstages" 
    = image_tag "space.png", :class => "space" 
   
    %li{ :class => 'vote_active'}
      = image_tag "vote_dis.png", class: "lstages"  

    = image_tag "space.png", :class => "space"   
    %li{ :class => cp('concept')}
      = image_tag image_for_stages('3', 'concept'), :class => 'numbers'
      = link_to "Концепции", "/concept/forecast/", class: "lstages" 
    = image_tag "space.png", :class => "space" 
   
    %li{ :class => 'vote_active'}
      = image_tag "vote_dis.png", class: "lstages"  

    = image_tag "space.png", :class => "space"  
    %li{ :class => cp('plan')}
      = image_tag image_for_stages('4', 'plan'), :class => 'numbers'
      = link_to "Проекты", "/plan/posts/", class: "lstages" 
    = image_tag "space.png", :class => "space" 
    
    %li{ :class => 'vote_active'}
      = image_tag "vote_dis.png", class: "lstages"  

    = image_tag "space.png" , :class => "space" 
    %li{ :class => cp('estimate')}
      = image_tag image_for_stages('5', 'estimate'), :class => 'numbers'
      = link_to "Оценивание и выбор", "/estimate/posts/", class: "lstages"
    = image_tag "space.png", :class => "space" 
    
    %li{ :class => 'vote_active'}
      = image_tag "vote_dis.png", class: "lstages"  
