- if cabinet?
  .col-md-12
    .border_grey.rounded_3.stages_block
      .btn-toolbar{role: 'toolbar'}
        .btn-group{role: 'group'}
          = link_to send("#{@project.current_stage_type}_path", @project), id: "go_to_#{@project.current_stage_type}", role: 'button', class: "btn back_color_stage#{@project.current_stage_num}" do
            = "#{@project.current_stage_num} СТАДИЯ: #{@project.current_stage_values[:name]}"
        %i.fa.fa-info-circle.fa-lg.open_sticker{'data-for' => '#sticker1', class: "font_color_stage#{current_stage_controller}"}
        #sticker1.sticker.rounded_3.font_white{style: ('display: none;' if show_sticker?("#{@project.current_stage_type}_cabinet_sticker"))}
          = t "cabinet.#{@project.current_stage_type}_sticker"
          = link_to send("#{@project.current_stage_type}_check_field_path", @project, check_field: "#{@project.current_stage_type}_cabinet_sticker", status: true), method: :put, remote: true, id: 'close_sticker' do
            %i.sticker_close.fa.fa-times.fa-lg{'data-for' => '#sticker1'}
- else
  .col-md-8.col_padding_right_3
    #tooltip1_1.border_grey.rounded_3.stages_block{class: "#{'tooltip1' if name_controller == :collect_info_posts}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'В нашей процедуре стадии открываются поэтапно. Следующая стадия откроется, когда большинство участников ответит на все вопросы.'}
      .btn-toolbar{role: 'toolbar'}
        - Core::Project::LIST_STAGES.each do |num_stage, stage|
          .btn-group{role: 'group'}
            - if name_controller == stage[:type_stage]
              = link_to send("#{stage[:type_stage]}_path", @project), id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage}" do
                ="#{num_stage} СТАДИЯ: "
                = stage[:name]
            - elsif @project.status >= stage[:status].min
              = link_to send("#{stage[:type_stage]}_path", @project), id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage}" do
                = num_stage
            - else
              = link_to '#', id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage}" do
                = num_stage

  .col-md-4.col_padding_left_3
    -#%a.open_welcome_popup{href: "#popup-explanation-#{current_stage_controller}"}
    -#  #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Вы всегда сможете вызвать помощь по стадии, нажав сюда'}
    %a(style="cursor:pointer;" )
      #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{class: "#{shown_intro(current_stage_popover_status)}", 'data-project' => "#{@project.id}", 'data-stage' => "#{name_controller.to_s.gsub('_posts', '')}", 'data-status' => "#{current_stage_popover_status}", 'data-text' => "#{current_stage_popover_text}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Вы всегда сможете вызвать помощь по стадии, нажав сюда'}

    #tooltip1_3.border_grey.rounded_3.progress_block{class: "#{'tooltip1' if name_controller == :collect_info_posts}", 'data-placement' => 'right', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Здесь будут отображаться ваши успехи по работе с аспектами. Другие участники тоже не сидят сложа руки!'}
      .container
        .row
          = render partial: 'application/progress_bar'