%ul.nav.nav-tabs{role: "tablist"}
  %li(class="#{'active' if current_stage == :lifetape}")
    %a{href: "/project/#{@project.id}/life_tape/posts"}
      %span.label.label-lifetape 1 этап
      %br
      Подготовка к процедуре
  %li(class="#{'active' if current_stage == :discontent}")
    %a{href: "/project/#{@project.id}/discontent/posts"}
      %span.label.label-discontent 2 этап
      %br
      Сбор несовершенств
  %li(class="#{'active' if current_stage == :concept}")
    %a{ href: "/project/#{@project.id}/concept/posts"}
      %span.label.label-concept 3 этап
      %br
      Сбор нововведений
  %li(class="#{'active' if current_stage == :plan}")
    %a{ href:"/project/#{@project.id}/plan/posts"}
      %span.label.label-plan 4 этап
      %br
      Создание проектов
  %li(class="#{'active' if current_stage == :estimate}")
    %a{ href: "/project/#{@project.id}/estimate/posts"}
      %span.label.label-estimate 5 этап
      %br
      Выставление оценок