%ul.nav.nav-tabs{role: "tablist"}
  %li(class="#{'active' if current_stage == :lifetape}")
    %a{href: "/project/#{@project.id}/life_tape/posts", id: "go_to_life_tape"}
      1 этап
      %i.fa.fa-question-circle.tooltips(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<h5><b>Цель этапа:</b></h5> ознакомление участников с базой знаний (БЗ) по различным аспектов. <b>Приветствуется:</b> активное обсуждение аспектов и предложения к рассмотрению новых аспектов. <b>Рекомендуется:</b> <br>- задавать как можно больше вопросов на понимание БЗ<br>- помечать свои сообщения как «Проблема» или «Идея» (если впоследствии вы собираетесь развить их до несовершенства или нововведения соответственно)")
      %br
      Сбор информации
  %li(class="#{'active' if current_stage == :discontent} #{'disabled' if @project.status < 3}")
    %a{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts"}", id: "go_to_discontent"}
      2 этап
      %i.fa.fa-question-circle.tooltips(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<h5><b>Цель этапа:</b></h5> выявление несовершенств по каждому из аспектов. <b>Приветствуется:</b> добавление максимального количества несовершенств. <b>Рекомендуется:</b><br> - формулировать несовершенства кратко и емко, а все пояснения оставлять в комментариях <br> - если понадобится, редактировать свои несовершенства в соответствии с рекомендациями модераторов.")
      %br
      Сбор несовершенств
  %li(class="#{'active' if current_stage == :concept} #{'disabled' if @project.status < 7}")
    %a{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts"}", id: "go_to_concept"}
      3 этап
      %i.fa.fa-question-circle.tooltips(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<h5><b>Цель этапа:</b></h5> поиск решений для всех выявленных несовершенств. <b>Приветствуется:</b> выдвижение любых идей и предложений. <b>Рекомендуется:</b><br> - заполнять все предусмотренные поля для максимально четкого описания идеи <br> - если понадобится, редактировать свои несовершенства в соответствии с рекомендациями модераторов.")
      %br
      Сбор нововведений
  %li(class="#{'active' if current_stage == :plan} #{'disabled' if @project.status < 9}")
    %a{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: "go_to_plan"}
      4 этап
      %i.fa.fa-question-circle.tooltips(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<h5><b>Цель этапа:</b></h5> формирование проекта в рамках заданной темы процедуры. <b>Приветствуется:</b> составление индивидуальных или групповых проектов. <b>Рекомендуется:</b><br> - выбрав какое-либо нововведение, максимально подробно описать его именно для своего проекта <br> - следовать инструкциям на портале и указаниям модераторов.")
      %br
      Создание проектов
  %li(class="#{'active' if current_stage == :estimate} #{'disabled' if @project.status < 10}")
    %a{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: "go_to_estimate"}
      5 этап
      -#%i.fa.fa-question-circle.tooltips(data-toggle="tooltip" data-placement="bottom" title="На этом этапе мы должны разобраться как работать с порталом и четко разобраться с темой!")
      %br
      Выставление оценок
