.container
  .row
    .col-md-8.col_padding_right_3
      .border_grey.rounded_3.stages_block{class: "#{'tooltip1' if name_controller == :collect_info_posts}" }
        .btn-toolbar{role: 'toolbar'}
          - Core::Project::STAGES.each do |num_stage, stage|
            .btn-group{role: 'group'}
              - if name_controller == stage[:type_stage]
                = link_to send("#{stage[:type_stage]}_path", @project), id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage} big",'data-placement' => 'bottom', 'data-toggle' => 'tooltip','data-html'=>'true', title: "#{num_stage}"+' '+'стадия (открыта)<br />' +"#{stage[:description]}" do
                  ="#{num_stage} СТАДИЯ: "
                  = stage[:name]
              - elsif @project.main_stage >= num_stage
                = link_to send("#{stage[:type_stage]}_path", @project), id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage} big",'data-placement' => 'bottom', 'data-toggle' => 'tooltip','data-html'=>'true', title: "#{num_stage}"+' '+'стадия (завершена)<br />' +"#{stage[:description]}" do
                  = num_stage
              - else
                = link_to '#', id: "go_to_#{stage[:type_stage]}", role: 'button', class: "btn back_color_stage#{num_stage} big",'data-placement' => 'bottom', 'data-toggle' => 'tooltip','data-html'=>'true', title: "#{num_stage}"+' '+'стадия (недоступна) <br />'+"#{stage[:description]}" do
                  = num_stage

    .col-md-4.col_padding_left_3
      -#%a.open_welcome_popup{href: "#popup-explanation-#{current_stage_controller}"}
      -#  #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Вы всегда сможете вызвать помощь по стадии, нажав сюда'}
      %a(style="cursor:pointer;")
        #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{class: "#{shown_intro(current_stage_popover_status)}", 'data-project' => "#{@project.id}", 'data-stage' => "#{name_controller.to_s.gsub('_posts', '')}", 'data-status' => "#{current_stage_popover_status}", 'data-text' => "#{current_stage_popover_text}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', 'data-trigger' => 'manual', title: 'Читайте инструкции по работе на этом этапе стадии'}

      .border_grey.rounded_3.progress_block
        .container
          .row
            = render partial: 'application/progress_bar'
  - if not cabinet? and able_subbar?
    .divider10
    .row
      .col-md-12
        .border_grey.rounded_3.metro_block
          %ul.list-unstyled.list-inline
            - Core::Project::STAGES[@project.main_stage][:substages].each do |num_substage, substage|
              - if @project.sub_stage == num_substage
                %li{class: "#{'active theme_font_color'} #{'last' if num_substage == Core::Project::STAGES[@project.main_stage][:substages].length - 1}",
                'data-placement' => 'bottom','data-toggle' => 'tooltip', title:"#{'Стадия недоступна' if num_substage != @project.sub_stage }"}
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"}
                    = substage[:name]
              - elsif @project.sub_stage > num_substage
                %li{class: "#{'last' if num_substage == Core::Project::STAGES[@project.main_stage][:substages].length - 1}",
                'data-placement' => 'bottom','data-toggle' => 'tooltip', title:"#{substage[:name]}"+' ' + 'завершено'}
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"}
                    = substage[:name]
              - else
                %li{class: "#{'last' if num_substage == Core::Project::STAGES[@project.main_stage][:substages].length - 1}",
                  'data-placement' => 'bottom','data-toggle' => 'tooltip', title:"#{substage[:name]}"+' ' + 'недоступно'}
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"}
                    = substage[:name]