.stages
  %ul
    %li{ :class => cp('life_tape')}
      = image_tag image_for_stages('1', 'life_tape'), :class => 'numbers'
      = link_to "Начало процедуры", life_tape_posts_path(@project), class: "lstages"  
    = image_tag "space.png", :class => "space"    
    %li{ :class => 'vote_active'}
      - unless stage_vote?('life_tape')
        = image_tag "vote_dis.png", class: "lstages", :title => 'Голосование за аспекты'
      -else
        = link_to image_tag("vote.png", class: 'lstages', :title => 'Голосование за аспекты'), life_tape_vote_list_path(@project), id: 'vote_stage'
   
    = image_tag "space.png" , :class => "space" 

    %li{ :class => cp('discontent')}
      = image_tag image_for_stages('2', 'discontent'), :class => 'numbers'
      - if @project.status>1
        = link_to "Несовершенства", discontent_posts_path(@project, :status => 2), class: "lstages" 
      -else
        %span.lstagesdisabled Несовершенства
    
    = image_tag "space.png", :class => "space"  

    %li{ :class => 'vote_active'}
      - unless stage_vote?('discontent')
        = image_tag "vote_dis.png", class: "lstages"
      -else
        = link_to image_tag("vote.png", class: 'lstages', :title => 'Сбор недовольств'), discontent_vote_list_path(@project), id: 'vote2_stage'  

    = image_tag "space.png", :class => "space"   

    %li{ :class => cp('concept')}
      = image_tag image_for_stages('3', 'concept'), :class => 'numbers'
      - if @project.status >4
        = link_to "Концепции", concept_posts_path(@project, :status => 2), class: "lstages" 
      -else
        %span.lstagesdisabled Концепции

    = image_tag "space.png", :class => "space" 
   
      
    %li{ :class => 'vote_active'}
      - unless stage_vote?('concept')
        = image_tag "vote_dis.png", class: "lstages"
      -else
        = link_to image_tag("vote.png", class: 'lstages', :title => 'Сбор недовольств'), concept_vote_list_path(@project), id: 'vote3_stage'  

    = image_tag "space.png", :class => "space"

    %li{ :class => cp('plan')}
      = image_tag image_for_stages('4', 'plan'), :class => 'numbers'
      -if @project.status == 7
        = link_to "Проекты", plan_posts_path(@project, :status => 2), class: "lstages" 
      -else
        %span.lstagesdisabled Проекты
    = image_tag "space.png", :class => "space" 
    
    %li{ :class => 'vote_active'}
      = image_tag "vote_dis.png", class: "lstages"  

    = image_tag "space.png" , :class => "space" 
    %li{ :class => cp('estimate')}
      = image_tag image_for_stages('5', 'estimate'), :class => 'numbers'
      - if @project.status ==7
        = link_to "Оценивание и выбор", "/estimate/posts/", class: "lstages"
      -else
        %span.lstagesdisabled Оценивание и выбор
    = image_tag "space.png", :class => "space" 
    
    %li{ :class => 'vote_active'}
      = image_tag "vote_dis.png", class: "lstages"  
