-if current_stage == :lifetape
  .col-md-8.col-sm-8.col-xs-12
    .row
      .col-md-offset-1.col-md-2.col-sm-2.col-xs-12.first-stage
        %a.btn.rounded-3.btn-lblue.pull-right.selected{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
          %span.bigger> 1
          стадия
      .clearfix.visible-xs
      .col-md-9.col-sm-9.col-xs-12.texts
        .top-text
          текущий
        .bottom-text
          %h4 Изучение базы знаний
  .col-md-4.col-sm-4.col-xs-12.right-buttons
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
      %span.bigger> 2
      стадия
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
      %span.bigger> 3
      стадия
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
      %span.bigger> 4
      стадия




  -#.col-md-2.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
  -#      %span.para-big-my
  -#        %strong 1
  -#      %br/
  -#      ЭТАП
  -#
  -#.col-md-3.col-sm-6
  -#  .our-process-item
  -#    %h4.text-left
  -#      %small
  -#        %strong ЭТАП 1:
  -#        %i.color текущий
  -#      %br/
  -#      Изучение Базы Знаний
  -#
  -#.col-md-7.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-green{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
  -#      %span.para-big-my
  -#        %strong 2
  -#      %br/
  -#      ЭТАП
  -#    %a.white.bg-red{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
  -#      %span.para-big-my
  -#        %strong 3
  -#      %br/
  -#      ЭТАП
  -#    %a.white.bg-purple{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
  -#      %span.para-big-my
  -#        %strong 4
  -#      %br/
  -#      ЭТАП
  -#    %a.white.bg-yellow{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: 'go_to_estimate'}
  -#      %span.para-big-my
  -#        %strong 5
  -#      %br/
  -#      ЭТАП

-elsif current_stage == :discontent
  .col-md-1.col-sm-1.col-xs-12
    %a.btn.rounded-3.btn-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
      %span.bigger> 1
      стадия

  .col-md-8.col-sm-8.col-xs-12
    .row
      .col-md-offset-1.col-md-1.col-sm-1.col-xs-12.first-stage
        %a.btn.rounded-3.btn-lblue.pull-right.selected{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
          %span.bigger> 2
          стадия
      .clearfix.visible-xs
      .col-md-10.col-sm-10.col-xs-12.texts
        .top-text
          текущий
        .bottom-text
          %h4 Сбор несовершенств


  .col-md-3.col-sm-3.col-xs-12.right-buttons
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
      %span.bigger> 3
      стадия
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
      %span.bigger> 4
      стадия


  -#.col-md-3.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
  -#      %span.para-big-my
  -#        %strong 1
  -#      %br/
  -#      ЭТАП
  -#
  -#    %a.white.bg-green{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
  -#      %span.para-big-my
  -#        %strong 2
  -#      %br/
  -#      ЭТАП
  -#
  -#.col-md-3.col-sm-6
  -#  .our-process-item
  -#    %h4.text-left
  -#      %small
  -#        %strong ЭТАП 2:
  -#        %i.color текущий
  -#      %br/
  -#      Сбор несовершенств
  -#
  -#.col-md-6.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-red{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
  -#      %span.para-big-my
  -#        %strong 3
  -#      %br/
  -#      ЭТАП
  -#    %a.white.bg-purple{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
  -#      %span.para-big-my
  -#        %strong 4
  -#      %br/
  -#      ЭТАП
  -#    %a.white.bg-yellow{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: 'go_to_estimate'}
  -#      %span.para-big-my
  -#        %strong 5
  -#      %br/
  -#      ЭТАП

-elsif current_stage == :concept
  .col-md-3.col-sm-3.col-xs-12
    %a.btn.rounded-3.btn-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
      %span.bigger> 1
      стадия
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
      %span.bigger> 2
      стадия

  .col-md-8.col-sm-8.col-xs-12
    .row
      .col-md-offset-1.col-md-1.col-sm-1.col-xs-12.first-stage
        %a.btn.rounded-3.btn-lblue.pull-right.selected{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
          %span.bigger> 3
          стадия
      .clearfix.visible-xs
      .col-md-10.col-sm-10.col-xs-12.texts
        .top-text
          текущий
        .bottom-text
          %h4 Сбор нововведений

  .col-md-1.col-sm-1.col-xs-12.right-buttons
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
      %span.bigger> 4
      стадия


  -#.col-md-4.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
  -#      %span.para-big-my
  -#        %strong 1
  -#      %br/
  -#      ЭТАП
  -#
  -#    %a.white.bg-green{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
  -#      %span.para-big-my
  -#        %strong 2
  -#      %br/
  -#      ЭТАП
  -#
  -#    %a.white.bg-red{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
  -#      %span.para-big-my
  -#        %strong 3
  -#      %br/
  -#      ЭТАП
  -#
  -#.col-md-3.col-sm-6
  -#  .our-process-item
  -#    %h4.text-left
  -#      %small
  -#        %strong ЭТАП 3:
  -#        %i.color текущий
  -#      %br/
  -#      Сбор нововведений
  -#
  -#.col-md-5.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-purple{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
  -#      %span.para-big-my
  -#        %strong 4
  -#      %br/
  -#      ЭТАП
  -#    %a.white.bg-yellow{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: 'go_to_estimate'}
  -#      %span.para-big-my
  -#        %strong 5
  -#      %br/
  -#      ЭТАП

-elsif current_stage == :plan
  .col-md-4.col-sm-4.col-xs-12
    %a.btn.rounded-3.btn-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
      %span.bigger> 1
      стадия
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
      %span.bigger> 2
      стадия
    %a.btn.rounded-3.btn-lblue{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
      %span.bigger> 3
      стадия

  .col-md-8.col-sm-8.col-xs-12
    .row
      .col-md-offset-1.col-md-1.col-sm-1.col-xs-12.first-stage
        %a.btn.rounded-3.btn-lblue.pull-right.selected{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
          %span.bigger> 4
          стадия
      .clearfix.visible-xs
      .col-md-10.col-sm-10.col-xs-12.texts
        .top-text
          текущий
        .bottom-text
          %h4 Создание проектов

  -#.col-md-5.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
  -#      %span.para-big-my
  -#        %strong 1
  -#      %br/
  -#      ЭТАП
  -#
  -#    %a.white.bg-green{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
  -#      %span.para-big-my
  -#        %strong 2
  -#      %br/
  -#      ЭТАП
  -#
  -#    %a.white.bg-red{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
  -#      %span.para-big-my
  -#        %strong 3
  -#      %br/
  -#      ЭТАП
  -#
  -#    %a.white.bg-purple{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
  -#      %span.para-big-my
  -#        %strong 4
  -#      %br/
  -#      ЭТАП
  -#
  -#.col-md-3.col-sm-6
  -#  .our-process-item
  -#    %h4.text-left
  -#      %small
  -#        %strong ЭТАП 4:
  -#        %i.color текущий
  -#      %br/
  -#      Создание проектов
  -#
  -#.col-md-4.col-sm-6
  -#  .our-process-item
  -#    %a.white.bg-yellow{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: 'go_to_estimate'}
  -#      %span.para-big-my
  -#        %strong 5
  -#      %br/
  -#      ЭТАП

-#-elsif current_stage == :estimate
-#  .col-md-6.col-sm-6
-#    .our-process-item
-#      %a.white.bg-lblue{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
-#        %span.para-big-my
-#          %strong 1
-#        %br/
-#        ЭТАП
-#
-#      %a.white.bg-green{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
-#        %span.para-big-my
-#          %strong 2
-#        %br/
-#        ЭТАП
-#
-#      %a.white.bg-red{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
-#        %span.para-big-my
-#          %strong 3
-#        %br/
-#        ЭТАП
-#
-#      %a.white.bg-purple{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
-#        %span.para-big-my
-#          %strong 4
-#        %br/
-#        ЭТАП
-#
-#      %a.white.bg-yellow{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: 'go_to_estimate'}
-#        %span.para-big-my
-#          %strong 5
-#        %br/
-#        ЭТАП

  .col-md-6.col-sm-6
    .our-process-item
      %h4.text-left
        %small
          %strong ЭТАП 5:
          %i.color текущий
        %br/
        Выставление оценок


-#%ul.nav.nav-tabs{role: 'tablist'}
-#  %li(class="#{'active' if current_stage == :lifetape}")
-#    %a{href: "/project/#{@project.id}/life_tape/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}", id: "go_to_life_tape"}
-#      1
-#      %span.hidden-sm.hidden-xs=t('stages.stage', count: 1)
-#      %i.hidden-sm.hidden-xs.fa.fa-question-circle.tooltips{"data-toggle" => 'tooltip', "data-html" => 'true', "data-placement" => 'bottom', title: t('stages.life_tape_title')}
-#      %br
-#      %span.hidden-sm.hidden-xs=t('stages.life_tape')
-#  %li(class="#{'active' if current_stage == :discontent} #{'disabled' if @project.status < 3}")
-#    %a{ href: "#{@project.status < 3 ? '#' :  "/project/#{@project.id}/discontent/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_discontent"}
-#      2
-#      %span.hidden-sm.hidden-xs=t('stages.stage', count: 2)
-#      %i.hidden-sm.hidden-xs.fa.fa-question-circle.tooltips{"data-toggle" => 'tooltip', "data-html" => 'true', "data-placement" => 'bottom', title: t('stages.discontent_title')}
-#      %br
-#      %span.hidden-sm.hidden-xs=t('stages.discontent')
-#  %li(class="#{'active' if current_stage == :concept} #{'disabled' if @project.status < 7}")
-#    %a{ href: "#{@project.status < 7 ? '#' : "/project/#{@project.id}/concept/posts" + "#{params[:asp] ? "?asp=#{params[:asp]}" : ""}"}", id: "go_to_concept"}
-#      3
-#      %span.hidden-sm.hidden-xs=t('stages.stage', count: 3)
-#      %i.hidden-sm.hidden-xs.fa.fa-question-circle.tooltips{"data-toggle" => 'tooltip', "data-html" => 'true', "data-placement" => 'bottom', title: t('stages.concept_title')}
-#      %br
-#      %span.hidden-sm.hidden-xs=t('stages.concept')
-#  %li(class="#{'active' if current_stage == :plan} #{'disabled' if @project.status < 9}")
-#    %a{ href: "#{@project.status < 9 ? '#' : "/project/#{@project.id}/plan/posts"}", id: 'go_to_plan'}
-#      4
-#      %span.hidden-sm.hidden-xs=t('stages.stage', count: 4)
-#      %i.hidden-sm.hidden-xs.fa.fa-question-circle.tooltips{"data-toggle" => 'tooltip', "data-html" => 'true', "data-placement" => 'bottom', title: t('stages.plan_title')}
-#      %br
-#      %span.hidden-sm.hidden-xs=t('stages.plan')
-#  %li(class="#{'active' if current_stage == :estimate} #{'disabled' if @project.status < 10}")
-#    %a{ href: "#{@project.status < 10 ? '#' : "/project/#{@project.id}/estimate/posts"}", id: 'go_to_estimate'}
-#      5
-#      %span.hidden-sm.hidden-xs=t('stages.stage', count: 5)
-#      %br
-#      %span.hidden-sm.hidden-xs=t('stages.estimate')
