.row
  .col-md-12
    %nav.navbar.navbar-default.navbar-inverse{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        &nbsp;
        -#%a.navbar-brand{:href => "#"} Brand
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{class:  @project.stage_style(:life_tape_posts) }
            = link_to "/project/#{@project.id}/life_tape/posts", class: "#{@project.stage_style_link(@breadcrumbs[0].name, :life_tape_posts)}" do
              =@project.status_title(:life_tape_posts)
              %br
              %small.text-center=t('stages.record', count: @project.life_tape_posts.count)
          %li.divider_vertical

          %li{class: @project.stage_style(:discontent_posts) }
            = link_to "/project/#{@project.id}/discontent/posts?view=table", class:"#{@project.stage_style_link(@breadcrumbs[0].name, :discontent_posts)}" do
              =@project.status_title(:discontent_posts)
              %br
              %small.text-center=t('stages.discontents', count: @project.discontent_ongoing_post.count)
          %li.divider_vertical

          %li{class:  @project.stage_style(:concept_posts)}
            = link_to "/project/#{@project.id}/concept/posts", class:"#{@project.stage_style_link(@breadcrumbs[0].name, :concept_posts)}" do
              =@project.status_title(:concept_posts)
              %br
              %small.text-center=t('stages.concepts', count: @project.concept_ongoing_post.count)
          %li.divider_vertical

          %li.disabled
            %a{:href => "#"}
              Проекты
              %br
              %small.text-center 0 проектов
          %li.divider_vertical

          %li.disabled
            %a{:href => "#"}
              Оценивание и выбор
              %br
              %small.text-center 0  оценок
.row
  .col-md-12
    %ol.breadcrumb
      %li
        = link_to @project.name, "/project/#{@project.id}"
      = render_breadcrumbs :tag => :li, :separator => ""

-#
-#.stages
-#  %ul
-#    %li{ :class => cp('life_tape')}
-#      = link_to "Сбор Информации", life_tape_posts_path(@project), class: "lstages"
-#    = image_tag "space.png", :class => "space"
-#
-#
-#
-#    %li{ :class => cp('discontent')}
-#      = image_tag image_for_stages('1', 'discontent'), :class => 'numbers'
-#      - if @project.status>2
-#        = link_to "Анализ ситуации", discontent_posts_path(@project, :status => 2), class: "lstages"
-#      -else
-#        %span.lstagesdisabled Анализ ситуации
-#
-#
-#
-#    = image_tag "space.png", :class => "space"
-#
-#    %li{ :class => cp('concept')}
-#      = image_tag image_for_stages('2', 'concept'), :class => 'numbers'
-#      - if @project.status >4
-#        = link_to "Формулирование проблемы", concept_posts_path(@project, :status => 2), class: "lstages"
-#      -else
-#        %span.lstagesdisabled Формулирование проблемы
-#
-#
-#
-#    = image_tag "space.png", :class => "space"
-#
-#    %li{ :class => cp('plan')}
-#      = image_tag image_for_stages('3', 'plan'), :class => 'numbers'
-#      -if @project.status > 6
-#        = link_to "Проекты", plan_posts_path(@project, :status => 0), class: "lstages"
-#      -else
-#        %span.lstagesdisabled Проекты
-#    = image_tag "space.png", :class => "space"
-#
-#
-#
-#    = image_tag "space.png" , :class => "space"
-#    %li{ :class => cp('estimate')}
-#      = image_tag image_for_stages('4', 'estimate'), :class => 'numbers'
-#      - if @project.status  > 7
-#        = link_to "Оценивание и выбор", estimate_posts_path(@project, :status => 2), class: 'lstages'
-#      -else
-#        %span.lstagesdisabled Оценивание и выбор
-#    = image_tag "space.png", :class => "space"
-#
