.menu
  %ul
    %li= link_to "Помощь", "/help" , class: "lmenu"
    %li= image_tag "separator.png", :class => "separator" 
    %li= link_to "Опрос", "/tests" , class:  "lmenu"
    %li= image_tag "separator.png", :class => "separator"
    %li= link_to "Вопросы-ответы", "/questions" , class:  "lmenu"
    %li= image_tag "separator.png", :class => "separator"
    %li= link_to "Новости и комментарии  ведущего-эксперта", "/expert_news/posts/" , class:  "lmenu"  
    %li= image_tag "separator.png", :class => "separator"
    %li= link_to "Топ пользователей", "/users" , class:  "lmenu"