.menu.menu_without_padding
  %ul
    %li= link_to "О проекте ", "/" , class:  "lmenu"
    %li= image_tag "separator.png", :class => "separator"    
    %li= link_to "Хотите участовать? ", "/" , class:  "lmenu"
    %li= image_tag "separator.png", :class => "separator"
    %li= link_to "Контакты", "/" , class: "lmenu"
    %li= image_tag "separator.png", :class => "separator"     
    %li= link_to "Документы", "/" , class: "lmenu"
    %li= image_tag "separator.png", :class => "separator" 
