


%ul.nav.navbar-nav.navbar-right.pull-right
  %li.hidden-xs.active
    =link_to t('menu.help'), help_posts_path(@project), style:'width:auto; margin-right: 10px;'
  %li.hidden-xs.divider
  %li.hidden-xs.active
    =link_to t('menu.base_knowledge'),   knowbase_posts_path(@project) , style:'width:auto; margin-right: 10px;'
  %li.hidden-xs.divider
  %li.hidden-xs.hidden-sm.hidden-md.active
    =link_to t('menu.raiting_rc'), users_rc_users_path(@project), style:'width:auto; margin-right: 10px;'
  %li.hidden-xs.hidden-sm.hidden-md.divider
  %li.hidden-xs.hidden-sm.hidden-md.active
    =link_to t('menu.raiting'), "/project/#{@project.id}/users" , style:'width:auto; margin-right: 10px;'
  %li.hidden-xs.hidden-sm.hidden-md.divider

  %li.hidden-xs.active
    =link_to "/project/#{@project.id}/journals" , style:'width:auto; margin-right: 10px;' do
      =t('menu.news')
  - if boss?
    %li.divider.hidden-xs
    %li.dropdown
      %a#settings.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Настройки"}
        %i.fa.fa-cog
      %ul#settings-menu.dropdown-menu.messages{:role => "menu"}
        .text-internal.text-center Настройки Администратора
        %hr
        -if @project.status == 1
          %li{:role => "presentation"}
            =link_to 'Начать голосование за темы',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 2
          %li{:role => "presentation"}
            =link_to 'Вернуться к сбору тем',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать сбор несовершенств',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 3
          %li{:role => "presentation"}
            =link_to 'Вернуться к голосованию за темы',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать группировку несовершенств',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 4
          %li{:role => "presentation"}
            =link_to 'Вернуться к сбору несовершенств',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать обсуждение группировок',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 5
          %li{:role => "presentation"}
            =link_to 'Вернуться к группировке несовершенств',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать голосование за несовершенства',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 6
          %li{:role => "presentation"}
            =link_to 'Вернуться к обсуждению группировок',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать сбор нововведений',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 7
          %li{:role => "presentation"}
            =link_to 'Вернуться к голосованию за несовершенства',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать голосование за нововведения',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 8
          %li{:role => "presentation"}
            =link_to 'Вернуться к сбору нововведений',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать сбор проектов',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 9
          %li{:role => "presentation"}
            =link_to 'Вернуться к голосованию за нововведения',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать выставление оценок',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 10
          %li{:role => "presentation"}
            =link_to 'Вернуться к сбору проектов',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Начать голосование за проекты',  next_stage_core_project_path(@project), id: 'change_stage'
        -if @project.status == 11
          %li{:role => "presentation"}
            =link_to 'Вернуться к выставлению оценок',  pr_stage_core_project_path(@project), id: 'change_stage'
          %br
          %li{:role => "presentation"}
            =link_to 'Завершить процедуру', next_stage_core_project_path(@project), id: 'change_stage'

  %li.hidden-xs.divider
  %li.dropdown
    %a#messages.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Уведомления"}
      %i.fa.fa-comments
      - if @my_journals_count > 0
        %span.count(style='background: #e5603b;')=@my_journals_count
      -else
        %span.count=@my_journals_count


    %ul#messages-menu.dropdown-menu.messages{:role => "menu"}
      -unless @my_journals.empty?
        - @my_journals.each do |journal, k|
          %li{:role => "presentation"}
            %p.message{:href => "#"}
              =image_tag journal.user.avatar.url(:thumb), style: 'margin-left: 10px;'
              .details(style="margin-left: 60px;")
                .sender
                  %span.color-teal=journal.user
                  - if k >1
                    %br
                    %span.color-red="и еще #{k-1} похожих"
                .text
                  = journal_parser(journal, @project.id).html_safe
        %li{:role => "presentation"}
          %a.text-align-center.see-all{:href => "/project/#{@project.id}/users/#{current_user.id}"}
            Очистить
            %i.fa.fa-arrow-right
      -else
        %li
          %a Уведомлений нет
  -#%li.dropdown
  -#  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "События"}
  -#    %i.fa.fa-group
  -#  %ul#support-menu.dropdown-menu.support{:role => "menu"}
  -#    -unless @journals.nil?
  -#      - @journals.each do |journal|
  -#        -  if journal_parser(journal, @project.id)
  -#          %li{:role => "presentation"}
  -#            %p.message{:href => "#", :style => 'margin-left: 10px;'}
  -#              = link_to journal.user, user_path(@project,journal.user)
  -#              = journal_parser(journal, @project.id).html_safe
  -#              %br
  -#              %small=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
  -#
  -#    %li{:role => "presentation"}
  -#      %a.text-align-center.see-all{:href => "/project/#{@project.id}/journals/"}
  -#        Посмотреть все
  -#        %i.fa.fa-arrow-right

  %li.divider

  %li.dropdown
    %a#account.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Account"}
      %i.fa.fa-user
    %ul#account-menu.dropdown-menu.account{:role => "menu"}
      %li.account-picture{:role => "presentation"}
        %a.pull-left(href="/project/#{@project.id}/users/#{current_user.id}")
          = image_tag current_user.avatar.url(:thumb),  class: "media-object"
        =current_user.to_s
        -#%p
        -#  =link_to current_user, user_path(@project, current_user)
      %li{:role => "presentation"}
        = link_to 'Редактировать профиль', edit_user_path(@project, current_user)

      %li{:role => "presentation"}
        =link_to 'Уведомления', user_path(@project, current_user)
  %li.visible-xs.divider
  %li.visible-xs
    %a.btn-navbar{"data-target" => ".sidebar", "data-toggle" => "collapse", :href => "#", :title => ""}
      %i.fa.fa-bars
  %li.hidden-xs
    %a{:href => "/users/sign_out/", "data-method" => "delete"}
      %i.fa.fa-sign-out
  -#      -#%a.link{:href => "component_calendar.html"}
  -#      -#  %i.fa.fa-calendar
  -#      -#= link_to 'Уведомления', user_path(@project, current_user)
  -#      -#- if @my_jounals > 0
  -#      -#  %span.label.label-danger=@my_jounals
  -#
  -#      -#%li.disabled{:role => "presentation"}
  -#      -#  %a.link{:href => "#"}
  -#      -#    %i.fa.fa-inbox
  -#      -#    Сообщения
  -#%li.visible-xs
  -#  %a.btn-navbar{"data-target" => ".sidebar", "data-toggle" => "collapse", :href => "#", :title => ""}
  -#    %i.fa.fa-bars
  -#%li.hidden-xs
  -#  %a{:href => "/users/sign_out/", "data-method" => "delete"}
  -#    %i.fa.fa-sign-out

-#%form#search-form.navbar-form.pull-right{:role => "search"}
-#  %input.search-query{:placeholder => "Search...", :type => "search"}/
-#.notifications.pull-right
-#  .alert.pull-right
-#    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
-#    %i.fa.fa-info-circle
-#    Check out Light Blue
-#    %a#notification-link{:href => "#"} settings
-#    on the right!

-#            %li
-#              = link_to user_path(@project, current_user) do
-#                Уведомления
-#                - if @my_jounals > 0
-#                  %span.label.label-danger=@my_jounals
-#            %li.disabled
-#              %a{:href => "#"}
-#                Сообщения
-#                -#%span.label.label-danger 1
-#            %li
-#              = link_to 'Редактировать профиль', edit_user_path(@project, current_user)