%ul.nav.navbar-nav.navbar-right.pull-right
  %li.hidden-xs.active
    =link_to t('menu.help'), help_posts_path(@project), style:'width:auto; margin-right: 10px;', id: 'go_to_help'
  %li.hidden-xs.divider
  %li.hidden-xs.active
    =link_to t('menu.base_knowledge'),   knowbase_posts_path(@project) , style:'width:auto; margin-right: 10px;', id: 'go_to_knowbase'
  %li.hidden-xs.divider

  -if boss?
    %li.hidden-xs.hidden-sm.hidden-md.active
      =link_to t('menu.raiting_rc'), users_rc_users_path(@project), style:'width:auto; margin-right: 10px;', id: 'go_to_club_rating'
    %li.hidden-xs.hidden-sm.hidden-md.divider

  %li.active
    =link_to t('menu.raiting'), "/project/#{@project.id}/users" , style:'width:auto; margin-right: 10px;', id: 'go_to_rating'
  %li.divider

  %li.active
    =link_to "/project/#{@project.id}/journals" , style:'width:auto; margin-right: 10px;', id: 'go_to_journals' do
      =t('menu.news')
  - if boss?
    %li.divider
    %li.dropdown
      %a#settings.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', title: t('menu.settings.settings_title')}
        %i.fa.fa-cog
      %ul#settings-menu.dropdown-menu.messages{role: 'menu'}
        .text-internal.text-center=t('menu.settings.settings_admin')
        %hr
        %li{role: 'presentation'}
          =link_to t('menu.main'), "/" , id: 'root_page'
        %li{role: 'presentation'}
          =link_to t('menu.general_news'), "/project/#{@project.id}/general_news" , id: 'general_news'
        - if prime_admin?
          %li{role: 'presentation'}
            =link_to t('menu.list_projects'), list_projects_path, id: 'list_projects'
          %br
          -if @project.status == 1
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_1'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 2
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_2'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_3'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 3
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_4'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_5'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 4
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_6'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_7'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 5
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_8'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_9'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 6
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_10'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_11'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 7
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_12'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_13'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 8
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_14'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_15'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 9
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_16'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_17'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 10
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_18'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_19'),  next_stage_core_project_path(@project), id: 'change_stage'
          -if @project.status == 11
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_20'),  pr_stage_core_project_path(@project), id: 'change_stage'
            %br
            %li{role: 'presentation'}
              =link_to t('menu.settings.admin_set_21'), next_stage_core_project_path(@project), id: 'change_stage'

  %li.divider
  %li.dropdown#notifications
    = render partial: 'messages_menu', locals: {my_journals: @my_journals, project: @project}

  %li.divider
  %li.hidden-xs
    %a{href: '/', id: 'root_page', title: t('menu.main')}
      %i.fa.fa-home
  %li.dropdown
    %a#account.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', title: t('menu.account')}
      %i.fa.fa-user
    %ul#account-menu.dropdown-menu.account{role: 'menu'}
      %li.account-picture{role: 'presentation'}
        %a.pull-left(href="/project/#{@project.id}/users/#{current_user.id}" id='go_to_profile')
          = image_tag current_user.avatar.url(:thumb),  class: 'media-object'
        =current_user.to_s

      %li{role: 'presentation'}
        = link_to t('menu.profile_edit'), edit_user_path(@project, current_user), id: 'go_to_edit_profile'

      %li{role: 'presentation'}
        = link_to t('menu.journal_title'), user_path(@project, current_user)
  %li.visible-xs.divider
  %li.visible-xs
    %a.btn-navbar{'data-target' => '.sidebar', 'data-toggle' => 'collapse', href: '#', title: ''}
      %i.fa.fa-bars
  %li.hidden-xs
    %a{href: '/users/sign_out', 'data-method' => 'delete', id: 'sign_out', title: t('menu.sign_out')}
      %i.fa.fa-sign-out
