#popup-completion.popup-window.popup-project.detailed_popup.popup_w805.mfp-hide
  .popup.popup_rounded.popup_color_theme_stage5
    .modal_title
      .row
        .col-md-8
          %h4.bold.font_dark_grey
            = @post.name
        .col-md-4
          .row
            .col-md-12
              .text-right.post_likes
                %span.bold
                  = @post.comments.count
                  %i.fa.fa-comment.theme_font_color
                %span.bold
                  = @post.users_pro.count
                  %i.fa.fa-thumbs-up.theme_font_color
                %span.bold
                  = @post.users_against.count
                  %i.fa.fa-thumbs-down.theme_font_color
                %span
                  %i.fa.fa-exclamation-triangle.font_lighter_grey
                %small
                  = Russian::strftime(@post.created_at, '%d.%m.%Y')
    .modal_body
      .popup-post-info
        .row.info-block
          .col-md-9.popup-right-tabs
            .nav-tabs-one
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#tab-1"}
                    %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active
                      Описание проектного предложения
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-2"}
                    %button.btn.btn_cab_mod.type2.warm_sandy.btn_toggle.btn_reset.active
                      График реализации проекта
          .col-md-3
            .popup-post-block.pull-right
              = user_image_tag @post.user.try(:avatar), class: 'media-object img-circle img50 img_bordered'
              %span.font_black.text-center
                = @post.user
      .clearfix
      .tab-content.modal_content
        #tab-1.tab-pane.fade.in.active
          .container.modal_content
            .row
              .col-md-12.com_dashed_border.popup_collapsable_col.collapse.in
                .divider25
                - @post.post_novations.first.try(:attributes_for_form).try(:each) do |link, attributes|
                  %a.a_font_reset.collapser_type2.with_plus{class: "#{'collapsed' if link != :project}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab4-#{link}"}
                    = t("activerecord.attributes.plan/post_novation.#{link}")
                    %i.fa.font_color_stage5.collapse_plus{class: "#{link == :project ? 'fa-minus' : 'fa-plus'}"}

                  .collapse{id: "cab4-#{link}", class: "#{'in' if link == :project}"}
                    .divider5
                    - attributes.each do |attribute, bool|
                      - if bool == -1 or bool == true
                        %h5.bold
                          = t("activerecord.attributes.plan/post_novation.#{attribute}")
                        %p.text
                          = @post.post_novations.first.send(attribute)
                        .divider15

            .divider25
        #tab-2.tab-pane.fade(style='background: white;')
          .container.modal_content
            .row
              .col-md-12.col-sm-12
                #workSpace(style="padding:0px; overflow-y:auto; overflow-x:hidden; border:1px solid #e5e5e5; position:relative; margin:0 5px; width:1115px; height:600px;")

                = render 'shared/gantt_template'