%p#notice= notice

%b= @test.name
%br
%i= @test.preview
%br
%br

= form_for @test, :url => save_attempt_test_path, :method => :put do |f|
	-for question in @test.ordering_questions
		%br
		%b=question.name.html_safe
		%br
		-for answer in question.test_answers
			=f.fields_for question do |q|
				=radio_button_tag "test_questions["+question.id.to_s+"]", answer.id, false
				=answer.name
				-if answer.type_answer == 1
					=text_field_tag "text_questions["+question.id.to_s+"]"
				%br

	=f.submit "", class: 'savebtn'

/ = render @test.test_questions



= link_to 'Назад', tests_path
