%header
  = link_to image_tag("logo.png", :alt => "Colleсtive mind", :class => "round", ), root_path
  %ul.main_menu
    %li
      %ul.top
        %li= link_to "ГЛАВНАЯ", '/' 
        %li= link_to "ОПРОС", "/tests"
        %li= link_to "ВОПРОСЫ-ОТВЕТЫ", "/questions"
        %li= link_to "ПОМОЩЬ", "/help"
        %li.no_bg= link_to "НЕДОВОЛЬСТВА", "/"  
    %li
      %ul.bottom
        %li= link_to "произвольные", '/' 
        %li= link_to "сформулированные", "/structure" 
        %li= link_to "принятые", "/accepted"
        %li= link_to "отклоненные", "/declined"
        %li= link_to "архив", "/archive"
  


