%header
  = image_tag("logo.png", :alt => "Colleсtive mind", :class => "round", ) 
      
  %nav.round
    %ul
      %li= link_to "главная", '/' 
      %li= link_to "aрхив", "/archive" 
      %li= link_to "структурированные", "/structure" 
      %li= link_to "принятые", "/accepted"
      %li= link_to "отклоненные", "/declined"
      %li= link_to "форум", "/questions" 
