%header
  = image_tag("logo.png", :alt => "Colleсtive mind", :class => "round", :width =>"150") 

  %ul.username
    - if signed_in?
      %li= link_to current_user.name, user_path(current_user)
      = link_to "(редактировать)", edit_user_path(current_user) 
      = link_to "Выйти", "/signout" 
    - else
      %li= link_to "Войти", '/signin' 
      
  %nav.round
    %ul
      %li= link_to "главная", '/' 
      %li= link_to "aрхив", "/archive" 
      %li= link_to "структурированные", "/structure" 
      %li= link_to "принятые", "/accepted"
      %li= link_to "отклоненные", "/declined" 
