%h4 Что вы можете сделать сейчас
-if current_user.nil?
	%br 
		%b= link_to '1. Авторизуйтесь, чтобы начать работу', '/signin'
		%br
		%small авторизовавшись с помощью логина-пароля с портала ДО вы получите доступ ко всем возможностям нового портала
	%br

-elsif not current_user.test_attempts.empty?
	%br 
		%b= link_to '1. Добавить произвольное недовольство', current_user
	= link_to '(узнать, как это сделать)', '/help#02'
	%br
	%br 
		%b= link_to '2. Добавить оформленное недовольство', current_user
	= link_to '(узнать, как это сделать)', '/help#02'
	%br
	%br 
		%b= link_to '3. Добавить негативный комментарий ', "/unstructure"
	= link_to '(узнать, как это сделать)', '/help#03'
	%br
	%br 
		%b= link_to '4. Добавить оформляющий комментарий', "/unstructure"
	= link_to '(узнать, как это сделать)', '/help#03'
	%br
-else
	%br 
		%b= link_to '1. Пройти опрос', '/tests'
		%br
		%small Поможет вам лучше понять как вы принимаете решения сейчас
	%br



%br
%br
%br


%h1 Новости
.news_title
	Сайт запущен
Если у вас есть вопросы -
= link_to 'посмотрите раздел Помощь', '/help'
, 
= link_to 'Как заработать баллы', '/about'
и
= link_to 'Как не потерять баллы', '/donot'


%br
%br
%br
%h1 Тех. поддержка
.news_title
	Что-то непонятно? 
	= link_to 'Задайте вопрос', questions_path
%br
%br
%br

-unless @users.nil?
	%h1 Лучшие пользователи
	%ul{:class => 'top_users'}
		= render @users
