!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %title
      = content_for?(:title) ? yield(:title) : 'Massdecision'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 9]
      <script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
  -#%link(href="/assets/favicon.ico" rel="shortcut icon")

  %body{class: "stage#{current_stage_controller}_theme"}
    .outer
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{href: @project ? "/project/#{@project.id}" : '/', id: 'go_to_logo'}
              = image_tag 'logo1.png'
          %ul.nav.navbar-nav.main_menu
            %li{class: "#{'active' unless cabinet?}"}
              = link_to 'Процедура', "/project/#{@project.id}", class: 'menu_a'
            %li{class: "#{'active' if cabinet?}"}
              = link_to 'Кабинет', project_user_path(@project, current_user), class: 'menu_a'
            %li{class: "#{'active' if name_controller == :journal}"}
              = link_to 'Новости', journals_path(@project), class: 'menu_a'
            - if @project.prev_status
              %li
                = link_to '<- стадия', pr_stage_core_project_path(@project), method: :put, id: "down_to_#{@project.prev_status}", class: 'menu_a'
            - if @project.next_status
              %li
                = link_to '-> стадия', next_stage_core_project_path(@project), method: :put, id: "up_to_#{@project.next_status}", class: 'menu_a'

          .navbar-right.text-right.user_block.font_grey
            = link_to '', knowbase_posts_path(@project), remote: true, class: 'book_icon'
            %span.auth-divider
              |
            %span.has_dropwindow
              = render partial: 'application/expert_news', locals: {expert_news: @expert_news, project: @project}
            %span.auth-divider
              |
            %span.dropdown
              %a.font_grey.bold#lang_dropdown{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
                %i.fa.fa-globe.font_lighter_grey
                %small
                  Russian
                  %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-mini{role: 'menu', 'aria-labelledby' => 'lang_dropdown'}
                %li
                  %a{href: '#'} English
                %li
                  %a{href: '#'} Русский
            %span.auth-divider
              |
            %span.dropdown
              %span.badge.grey 500
              %a.font_grey.bold#auth_dropdown{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
                %small
                  = current_user
                  %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-mini{role: 'menu', 'aria-labelledby' => 'auth_dropdown'}
                %li{role: 'presentation'}
                  = link_to t('menu.account'), user_path(@project, current_user), id: 'go_to_profile'
                %li{role: 'presentation'}
                  = link_to t('menu.profile_edit'), edit_user_path(@project, current_user), id: 'go_to_edit_profile'
      / Top Bar ends
      .subhead
        .container
          %h4.font_white
            = @project.name
        - unless cabinet?
          %button#tooltip_button_1.btn.btn-tooltip{type: 'button', value: 'Show'}
            %i.fa.fa-lightbulb-o
            Открыть подсказки

      .container
        .row
          = render partial: 'stages'
      / Main Block starts
      .main-block
        .container
          - if cabinet?
            .row
              = render partial: 'core/project_users/sidebar'
              = yield
          - else
            = yield
    #render_knowbase_posts
    = render 'shared/moderator_chat'

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script(src="https://cdn.pubnub.com/pubnub.min.js")
    = javascript_include_tag 'application'
