!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %title
      = content_for?(:title) ? yield(:title) : 'Massdecision'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    -#%link(href="/assets/favicon.ico" rel="shortcut icon")

  %body
    .logo.hidden-sm.hidden-xs
      %h4
        %a{href: @project ? "/project/#{@project.id}" : "/", id: "go_to_logo"}
          %h3
            %span.text-danger MASS
            %strong DECISION

    %nav#sidebar.sidebar.nav-collapse.collapse
      - if params[:controller] == 'core/projects' and params[:action] == 'news'
        = render partial: 'core/projects/left_aspects', locals: { current_stage: controller.controller_path }
      -else
        = render partial: 'left_side', locals: { current_stage: controller.controller_path }
    .wrap
      %header.page-header
        .navbar
          - if params[:controller] == 'core/projects' and params[:action] == 'news'
            =render 'core/projects/top_menu_main'
          - else
            =render 'top_menu'
      .content.container
        -if current_controller_for_navbar?(controller)
          %h2=@project.name
          %section.widget.widget-tabs
            %header
              =render partial: 'application/stages', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
            .body.tab-content
              = yield
        -else
          = yield

    /= render partial: 'shared/moderator_chat'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application'
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'DChNaQSvOx';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
    <!-- {/literal} END JIVOSITE CODE -->
