!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %title
      = content_for?(:title) ? yield(:title) : 'Massdecision'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 9]
      <script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
    -#/[if IE]
    -#  <style type="text/css">
    -#  html{filter:alpha(opacity=0); opacity: 0;}
    -#  </style>
    -#  <script type="text/javascript">
    -#  alert('Internet Explorer Error 403! Попробуйте воспользоватся другим браузером! <a href="https://www.google.ru/chrome/browser/desktop/">ссылка<a/>');
    -#  </script>
  -#%link(href="/assets/favicon.ico" rel="shortcut icon")

  %body
    .logo.hidden-sm.hidden-xs
      %h4
        %a{href: @project ? "/project/#{@project.id}" : "/", id: "go_to_logo"}
          %h3
            %span.text-danger MASS
            %strong DECISION

    %nav#sidebar.sidebar.nav-collapse.collapse
      - if core_methods?(params[:controller],params[:action])
        = render partial: 'core/projects/left_projects', locals: { current_stage: controller.controller_path }
      - else
        = render partial: 'left_side', locals: { current_stage: controller.controller_path }
      = render partial: 'shared/moderator_chat'
    .wrap
      %header.page-header
        .navbar
          - if core_methods?(params[:controller],params[:action])
            =render 'core/projects/top_menu_general'
          - else
            =render 'top_menu'
      .content.container
        -if current_controller_for_navbar?(controller)
          %h4="Тема процедуры: #{@project.name}"
          %section.widget.widget-tabs
            %header
              =render partial: 'application/stages', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
            .body.tab-content
              = yield
        -elsif @project and core_methods?(params[:controller],params[:action],true)
          %h4="Тема процедуры: #{@project.name}"
          %section.widget-tabs
            %header
              =render partial: 'core/projects/stages_general', locals: {current_stage: current_stage_for_analytics(params[:action])}
            .body.tab-content
              = yield
        -else
          = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application'
    -#<!--[if lt IE 8]>
    -#  <p class="danger"> Для эффективной работы настоятельно рекомендуем вам скачать брузер хром (<a href="https://www.google.ru/chrome/browser/desktop/">ссылка<a/>)</p>
    -#<![endif]-->