!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %title
      = content_for?(:title) ? yield(:title) : 'Massdecision'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    -#%link(href="/assets/favicon.ico" rel="shortcut icon")

  %body
    .logo.hidden-sm.hidden-xs.hidden-md
      %h4
        %a{:href => "/project/#{@project.id}"}
          %h4
            MASS
            %strong DECISION

    %nav#sidebar.sidebar.nav-collapse.collapse
      = render partial: 'left_side', :locals => { :current_stage => controller.controller_path }
    .wrap
      %header.page-header
        .navbar
          =render 'top_menu'
      .content.container
        = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application'

