%html
  %head
    %meta(http-equiv = "Content-Type" content= "text/html; charset=utf-8")
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #wrapper
      #top
        = render 'layouts/top'
      #header
        = render 'layouts/header'
      / #banner
      /   %table
      /     %tr
      /       %td
      /         <iframe width="360" height="215" src="http://www.youtube.com/embed/Y9WCkyXRBdg"  frameborder="0" allowfullscreen></iframe>
      /       %td
      /         Впервые на сайте? Для начала -  посмотрите видеоролик. Если возникнут вопросы обращайтесь в раздел помощь или вопросы-ответы, спасибо, что вы с нами!
      #middle
        #container
          #content
            - flash.each do |key, value|
              -if key == :success
                .success
                  =value
              -else 
                .error
                  =value
            = yield 
        #sideRight.sidebar
          = render 'layouts/sidebar' 
    #footer
      = render 'layouts/footer' 


