%html
  %head
    = render 'meta'

  %body
    #wrapper
      #header
        = render 'header'
        = render 'stages'
        = render 'top_menu'
      #middle
        #container
          #content_wider3
            - flash.each do |key, value|
              -if key == :success
                .success
                  =value
              -else 
                .error
                  =value
            = yield 
        #sideLeft.sidebar
          = render 'left_side'
    #footer
      = render 'footer' 


