!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %title
      = content_for?(:title) ? yield(:title) : 'Massdecision'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 9]
      <script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
  -#%link(href="/assets/favicon.ico" rel="shortcut icon")

  %body
    .outer
      -if controller.instance_of? Concept::PostsController or controller.instance_of? Discontent::PostsController
        =render partial: 'application/right_rollover', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
      %header.top-bar
        .container
          .box-shadow-outer
            .tb-logo.box-shadow-5.rounded-1.pull-left
              %a{href: @project ? "/project/#{@project.id}" : '/', id: 'go_to_logo'}
                = image_tag 'img/logo-red.jpg', style: 'margin: auto;'
          .clearfix.visible-xs
          %nav.header-buttons.pull-left
            %a.btn.btn-white.rounded-2{href: "#"} Процедура
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{href: "#"} Кабинет
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{href: "#"} Новости
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{href: "#"} Отзывы
          .pull-right.header-right
            .tb-language.dropdown.pull-right
              %a{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#'}
                English
                %i.fa.fa-angle-down.color.mass-dark-blue
              %ul.dropdown-menu.dropdown-mini{role: 'menu'}
                %li
                  %a{href: '#'} Hindi
                %li
                  %a{href: '#'} Tamil
                %li
                  %a{href: '#'} Kanada
            = image_tag 'img/call.png', class: 'pull-right operator-pic'
            .clearfix
            .tb-language.dropdown.pull-right.user-block
              %span.rating-block.rounded-1 500
              %a{"data-target" => "#", "data-toggle" => "dropdown", href: "#"}
                = current_user.to_s if current_user
                %i.fa.fa-angle-down.color.mass-dark-blue
              %ul.dropdown-menu.dropdown-mini{role: "menu"}
                %li
                  %a{href: "#"} Вариант
          .clearfix
      .main-block
        .container
          .clearfix
          .stages
            = render partial: 'application/stages', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
          .clearfix
          - if controller.instance_of? CollectInfo::PostsController
            .divider-grey
            .row.progress-bars
              = render partial: 'application/progress_bar', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
            .clearfix
            .divider-grey
          = yield
    %br/
    %br/
    %span.totop
      %a{href: "#"}
        %i.fa.fa-angle-up.bg-color

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application'
    -#<!--[if lt IE 8]>
    -#  <p class="danger"> Для эффективной работы настоятельно рекомендуем вам скачать брузер хром (<a href="https://www.google.ru/chrome/browser/desktop/">ссылка<a/>)</p>
    -#<![endif]-->
