!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=8")
    %title
      = content_for?(:title) ? yield(:title) : 'Massdecision'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    /[if lte IE 9]
      <script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
  -#%link(href="/assets/favicon.ico" rel="shortcut icon")

  %body
    .outer
      %header.top-bar
        .container
          .tb-logo.pull-left
            %a{href: @project ? "/project/#{@project.id}" : '/', id: 'go_to_logo'}
              = image_tag 'img/logo.jpg', style: 'margin: auto;'
          .clearfix.visible-xs
          %nav.header-buttons.pull-left
            %a.btn.btn-lblue.rounded-3{href: '#'} процедура
            .clearfix.visible-xs
            %a.btn.btn-lblue.btn-outline.rounded-3{href: '#'} кабинет
            .clearfix.visible-xs
            %a.btn.btn-lblue.btn-outline.rounded-3{href: '#'} новости
          .tb-language.dropdown.pull-right
            %a{'data-target' => '#', 'data-toggle' => 'dropdown', href: '#'}
              %i.fa.fa-globe
              English
              %i.fa.fa-angle-down.color
            %ul.dropdown-menu.dropdown-mini{role: 'menu'}
              %li
                %a{href: '#'} Hindi
              %li
                %a{href: '#'} Tamil
              %li
                %a{href: '#'} Kanada
          .user-block.pull-right
            %span
              = current_user.to_s if current_user
            .rating.five-rating.pull-right
            .call-operator.pull-left
          .clearfix

      .header-2
        .container.col-lg-thin
          .row
            .col-xs-10
              %h1.color.lblue
                - if current_controller_for_navbar?(controller)
                  = @project.name
              %span.sub-heading.color.lblue
            .col-xs-2
              .head-search.pull-right
                %a.b-dropdown{href: "#"}
                  %i.fa.fa-search.square-2.rounded-1.bg-color.white
                .b-dropdown-block
                  %form{role: "form"}
                    .input-group
                      %input.form-control{placeholder: "Type Something", type: "text"}/
                      %span.input-group-btn
                        %button.btn.btn-color{type: "button"} Search
              .clearfix

      .main-block
        .container
          .divider-1.clear-top-margin
          .row.stages
            = render partial: 'application/stages', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
          .divider-1
          -if controller.instance_of? LifeTape::PostsController
            .row.progress-bars
              =render partial: 'application/progress_bar', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
          .clearfix
          .ui-4
            .container
              .block-content
                = yield

    -#.outer
    -#  .top-bar
    -#    .container
    -#      .tb-contact.pull-left
    -#        %strong
    -#          %a{href: @project ? "/project/#{@project.id}" : "/", id: "go_to_logo"}
    -#            %i.fa.fa-laptop
    -#            = succeed "DECISION" do
    -#              %span.color MASS
    -#        %i.fa.fa-envelope.color
    -#        %a{href: "mailto:Slava.Gorlytsa@gmail.com"} Slava.Gorlytsa@gmail.com
    -#        %i.fa.fa-phone.color
    -#        +7 (937) - (242) - 8881
    -#      .tb-social.pull-right
    -#        .brand-bg.text-right
    -#          %button.btn.btn-sm.btn-lblue Процедура
    -#          %button.btn.btn-sm.btn-lblue.btn-outline Кабинет
    -#          %button.btn.btn-sm.btn-lblue.btn-outline Новости
    -#      .clearfix
    -#  .container
    -#    .row
    -#      .col-md-12
    -#        %h2.color
    -#          -if current_controller_for_navbar?(controller)
    -#            = @project.name
    -#  %br/
    -#  .main-block
    -#    .container
    -#      .our-process
    -#        .row
    -#          =render partial: 'application/stages', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
    -#
    -#      .divider-1
    -#      -if controller.instance_of? LifeTape::PostsController
    -#        .row
    -#          =render partial: 'application/progress_bar', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
    -#        %hr
    -#      .row
    -#        = yield

    %br/
    %br/
    %span.totop
      %a{href: "#"}
        %i.fa.fa-angle-up.bg-color


    -#%nav#sidebar.sidebar.nav-collapse.collapse
    -#  - if core_methods?(params[:controller],params[:action])
    -#    = render partial: 'core/projects/left_projects', locals: { current_stage: controller.controller_path }
    -#  - else
    -#    = render partial: 'left_side', locals: { current_stage: controller.controller_path }
    -#  = render partial: 'shared/moderator_chat'
    -#.wrap
    -#  %header.page-header
    -#    .navbar
    -#      - if core_methods?(params[:controller],params[:action])
    -#        =render 'core/projects/top_menu_general'
    -#      - else
    -#        =render 'top_menu'
    -#  .content.container
    -#    -if current_controller_for_navbar?(controller)
    -#      %h4=@project.name
    -#      %section.widget.widget-tabs
    -#        %header
    -#          =render partial: 'application/stages', locals: {current_stage: current_stage_for_navbar(controller, params[:stage])}
    -#        .body.tab-content
    -#          = yield
    -#    -elsif @project and core_methods?(params[:controller],params[:action],true)
    -#      %h4=@project.name
    -#      %section.widget-tabs
    -#        %header
    -#          =render partial: 'core/projects/stages_general', locals: {current_stage: current_stage_for_analytics(params[:action])}
    -#        .body.tab-content
    -#          = yield
    -#    -else
    -#      = yield

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag 'application'
