%html
  %head
    %meta(http-equiv = "Content-Type" content= "text/html; charset=utf-8")
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35663792-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #wrapper
      #header
        = render 'header'
      #middle
        #container
          #content
            - flash.each do |key, value|
              -if key == :success
                .success
                  =value
              -else 
                .error
                  =value
            = yield 
        #sideLeft.sidebar
          = render 'left_side'
        #sideRight.sidebar
          = render 'right_side' 
    #footer
      = render 'footer' 


