!!! 5
%html(lang="en")
  = render 'application/meta'
  %body{class: stage_theme, style: 'background-color: #f4f4f4;'}
    .outer
      = render partial: 'application/header'
      .main-block
        .container
          .row
            .col-md-2
              .cab_left_panel.rounded_3.border_grey{class: "back_color_stage#{@project.main_stage}_superpale"}
                .media
                  .media-left
                    .plus20.white{class: "font_color_stage#{@project.main_stage}"} +
                  .media-body
                    %small{class: "font_color_stage#{@project.main_stage}"} Пакет
                - @project.techniques.by_stage(@project.current_stage_type).each do |technique|
                  .divider10
                  = link_to self.send("new_#{technique.stage.to_s.downcase.singularize}_path", @project, type_mechanic: technique.code),
                  role: 'button', class: 'a_font_reset text-right', id: "new_#{technique.name}" do
                    %button.btn.add-button.type4=t("techniques.#{technique.name}")

              .divider10
              %ul.list-unstyled.cab_menu_left
                %li{class: "#{'active' if action_name == 'user_content'}"}
                  = link_to self.send("user_content_#{@project.current_stage_type}_path", @project), class: 'btn btn_simple_grey a_font_reset text-right', id: "user_content_#{@project.current_stage_type}" do
                    Контент




              -#%ul.list-unstyled.tabs_type_1{role: 'tablist'}
              -#  - @project.techniques.by_stage(@project.current_stage_type).each do |technique|
              -#    %li{role: 'presentation', class: ('active' if current_page?(action: 'new', type_mechanic: technique.code))}
              -#      = link_to t("techniques.#{technique.name}"), self.send("new_#{technique.stage.to_s.downcase.singularize}_path", @project, type_mechanic: technique.code),
              -#      role: 'button', class: 'a_font_reset text-right', id: "new_#{technique.name}"
              -#  %li{role: 'presentation', class: ('active' if action_name == 'user_content')}
              -#    = link_to "#{t("my.#{@project.current_stage_type}")} (#{current_user.content_for_project(@project).count})", self.send("user_content_#{@project.current_stage_type}_path"), role: 'button', class: 'a_font_reset text-right', id: "open_my_#{@project.current_stage_type}"

              -# Этот yield только для проектов, там сбоку есть кнопки для сохранения и т.д.
              = yield :cabinet_sidebar
            .col-md-10#cabinet_form
              - if action_name == 'new' or action_name == 'edit'
                = yield
              - else
                .tab-content
                  #cabinet_content.tab-pane.fade.in.active{:role => "tabpanel"}
                    %div{:role => "tabpanel"}
                      %ul.nav.nav-tabs.cab_horiz_tabs{:role => "tablist"}
                        - Core::Project::STAGES.each do |num_stage, stage|
                          -if num_stage <= 5
                            - if name_controller == stage[:type_stage]
                              %li.active{:role => "presentation"}
                                = link_to send("user_content_#{stage[:type_stage]}_path", @project), id: "go_to_user_content_#{stage[:type_stage]}", role: 'tab', class: "cab_tab_color#{num_stage}" do
                                  %span.marked=num_stage
                                  СТАДИЯ
                            - elsif @project.main_stage >= num_stage
                              %li{:role => "presentation"}
                                = link_to send("user_content_#{stage[:type_stage]}_path", @project), id: "go_to_user_content_#{stage[:type_stage]}", role: 'tab', class: "cab_tab_color#{num_stage}" do
                                  %span.marked=num_stage
                                  СТАДИЯ
                            - else
                              %li{:role => "presentation"}
                                = link_to '#', id: "go_to_user_content_#{stage[:type_stage]}", role: 'tab', class: "cab_tab_color#{num_stage}" do
                                  %span.marked=num_stage
                                  СТАДИЯ
                      .tab-content.cab_cont_block.rounded_3.border_grey.white
                        .tab-pane.fade.active.in{id: "cab_cont_#{number_current_stage}", :role => "tabpanel"}
                          .divider10
                          .container
                            .row
                              .col-md-6.exp_col.left
                                %button.btn.btn_reset.exp_button.pull-right
                                  = image_tag 'grey_arrow.png'
                                .divider15
                                %span.stage-heading
                                  ="#{t("my.#{name_controller}")} (#{current_user.content_for_project(name_controller, @project).count})"

                                = yield

                              .col-md-6.exp_col.right
                                %button.btn.btn_reset.exp_button.pull-left
                                  = image_tag 'grey_arrow_1.png'
                                .divider15
                                %span.stage-heading
                                  Мои комментарии
                                  ="(#{current_user.comment_for_project(name_controller, @project).count})"
                                .chat-messages
                                  = render partial:'shared/cabinet_comment', collection: @stage_comments

                          .divider20


                        #cab_cont_2.tab-pane.fade{:role => "tabpanel"}
                          .divider10
                          .container
                            .row
                              .col-md-6.exp_col.left
                                %button.btn.btn_reset.exp_button.pull-right
                                  -#%img{:src => "img/grey_arrow.png"}/
                                .divider15
                                %span.stage-heading Мои несовершенства (3)
                                .post.post_add_type1.cab3_post.add_new
                                  .post-header
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/no-ava.png"}/
                                        %p.poster-name
                                      %a.media-body.back_color_stage2_superpale.text-center{:href => "#"}
                                        .plus25.white.font_color_stage2 +
                                        %small.font_color_stage2 Добавить несовершенство
                                  .post-bottom.white
                                .post.post_add_type1
                                  .post-header
                                  .post-body.light-grey
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/ava-vinnie.jpg"}/
                                        %p.poster-name Вася Пупкин
                                        .divider10
                                        %p.time 21.12.2014
                                      .media-body
                                        %table.table
                                          %tbody
                                            %tr.what
                                              %td.bold
                                                Винни-Пух постоянно
                                                %span.post_btns_cont
                                                  %button.btn.btn_reset.btn_del
                                                    %i.glyphicon.glyphicon-pencil
                                                  %button.btn.btn_reset.btn_del
                                                    %i.glyphicon.glyphicon-trash
                                            %tr.post_text
                                              %td.col-md-12
                                                %a.a_font_reset{:href => "2nd-stage-cabinet-2.html"}
                                                  При выслеживании удачного момента для кражи меда выслеживании
                                                  удачного момента для кражи меда
                                                  %i.fa.fa-angle-right.cab2_post_open.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-12
                                        %span.tag-stripes.active.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                          %span.tags Взаимоотношения четвероногих
                                .post.post_add_type1
                                  .post-header
                                  .post-body.light-grey
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/ava-vinnie.jpg"}/
                                        %p.poster-name Вася Пупкин
                                        .divider10
                                        %p.time 21.12.2014
                                      .media-body
                                        %table.table
                                          %tbody
                                            %tr.what
                                              %td.bold
                                                Винни-Пух постоянно
                                                %span.post_btns_cont
                                                  %button.btn.btn_reset.btn_del
                                                    %i.glyphicon.glyphicon-pencil
                                                  %button.btn.btn_reset.btn_del
                                                    %i.glyphicon.glyphicon-trash
                                            %tr.post_text
                                              %td.col-md-12
                                                %a.a_font_reset{:href => "2nd-stage-cabinet-2.html"}
                                                  При выслеживании удачного момента для кражи меда выслеживании
                                                  удачного момента для кражи меда
                                                  %i.fa.fa-angle-right.cab2_post_open.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-12
                                        %span.tag-stripes.active.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                          %span.tags Взаимоотношения четвероногих
                                .post.post_add_type1
                                  .post-header
                                  .post-body.light-grey
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/ava-vinnie.jpg"}/
                                        %p.poster-name Вася Пупкин
                                        .divider10
                                        %p.time 21.12.2014
                                      .media-body
                                        %table.table
                                          %tbody
                                            %tr.what
                                              %td.bold
                                                Винни-Пух постоянно
                                                %span.post_btns_cont
                                                  %button.btn.btn_reset.btn_del
                                                    %i.glyphicon.glyphicon-pencil
                                                  %button.btn.btn_reset.btn_del
                                                    %i.glyphicon.glyphicon-trash
                                            %tr.post_text
                                              %td.col-md-12
                                                %a.a_font_reset{:href => "2nd-stage-cabinet-2.html"}
                                                  При выслеживании удачного момента для кражи меда выслеживании
                                                  удачного момента для кражи меда
                                                  %i.fa.fa-angle-right.cab2_post_open.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-12
                                        %span.tag-stripes.active.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                          %span.tags Взаимоотношения четвероногих
                              .col-md-6.exp_col.right
                                %button.btn.btn_reset.exp_button.pull-left
                                  -#%img{:src => "img/grey_arrow_1.png"}/
                                .divider15
                                %span.stage-heading Мои комментарии (10)
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage2 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage2
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage2 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage2
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage2
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage2
                                .divider_1_grey
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage2 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage2
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage2 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage2
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage2
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage2
                          .divider20
                        #cab_cont_3.tab-pane.fade{:role => "tabpanel"}
                          .divider10
                          .container
                            .row
                              .col-md-6.exp_col.left
                                %button.btn.btn_reset.exp_button.pull-right
                                  -#%img{:src => "img/grey_arrow.png"}/
                                .divider15
                                %span.stage-heading Мои идеи (3)
                                .post.post_add_type1.cab3_post.add_new
                                  .post-header
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/no-ava.png"}/
                                        %p.poster-name
                                      %a.media-body.back_color_stage3_superpale.text-center{:href => "#"}
                                        .plus25.white.font_color_stage3 +
                                        %small.font_color_stage3 Добавить идею
                                  .post-bottom.white
                                .post.post_add_type1.cab3_post
                                  .post-header.color_me{"data-me-action" => "background", "data-me-color" => "1", "data-me-type" => "aspect"}
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/ava-vinnie.jpg"}/
                                        %p.poster-name Винни-Пух
                                        %p.poster-name
                                      .media-body.white
                                        .post-text
                                          %h5.bold
                                            Lorem Ipsum
                                            %span.post_btns_cont
                                              %button.btn.btn_reset.btn_del
                                                %i.glyphicon.glyphicon-pencil
                                              %button.btn.btn_reset.btn_del
                                                %i.glyphicon.glyphicon-trash
                                          %a.a_font_reset{:href => "3rd-stage-cabinet.html"}
                                            Имея такую карту, сотрудники будут мотивированы продавать продукцию
                                            Инвар, фиксируя на ней свой процент от продажи, отразится на имидже
                                            %i.fa.fa-angle-right.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-12
                                        %span.tag-stripes.active.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                          %span.tags Взаимоотношения четвероногих
                                .post.post_add_type1.cab3_post
                                  .post-header.color_me{"data-me-action" => "background", "data-me-color" => "1", "data-me-type" => "aspect"}
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        -#%img.img-circle.img40{:src => "img/ava-vinnie.jpg"}/
                                        %p.poster-name Винни-Пух
                                        %p.poster-name
                                      .media-body.white
                                        .post-text
                                          %h5.bold
                                            Lorem Ipsum
                                            %span.post_btns_cont
                                              %button.btn.btn_reset.btn_del
                                                %i.glyphicon.glyphicon-pencil
                                              %button.btn.btn_reset.btn_del
                                                %i.glyphicon.glyphicon-trash
                                          %a.a_font_reset{:href => "3rd-stage-cabinet.html"}
                                            Имея такую карту, сотрудники будут мотивированы продавать продукцию
                                            Инвар, фиксируя на ней свой процент от продажи, отразится на имидже
                                            %i.fa.fa-angle-right.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-12
                                        %span.tag-stripes.active.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                          %span.tags Взаимоотношения четвероногих
                                .post.post_add_type1.cab3_post
                                  .post-header.color_me{"data-me-action" => "background", "data-me-color" => "1", "data-me-type" => "aspect"}
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2.post-poster
                                        %img.img-circle.img40{:src => "img/ava-vinnie.jpg"}/
                                        %p.poster-name Винни-Пух
                                        %p.poster-name
                                      .media-body.white
                                        .post-text
                                          %h5.bold
                                            Lorem Ipsum
                                            %span.post_btns_cont
                                              %button.btn.btn_reset.btn_del
                                                %i.glyphicon.glyphicon-pencil
                                              %button.btn.btn_reset.btn_del
                                                %i.glyphicon.glyphicon-trash
                                          %a.a_font_reset{:href => "3rd-stage-cabinet.html"}
                                            Имея такую карту, сотрудники будут мотивированы продавать продукцию
                                            Инвар, фиксируя на ней свой процент от продажи, отразится на имидже
                                            %i.fa.fa-angle-right.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-12
                                        %span.tag-stripes.active.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                          %span.tags Взаимоотношения четвероногих
                              .col-md-6.exp_col.right
                                %button.btn.btn_reset.exp_button.pull-left
                                  -#%img{:src => "img/grey_arrow_1.png"}/
                                .divider15
                                %span.stage-heading Мои комментарии (10)
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage3 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage3
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage3 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage3
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage3
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage3
                                .divider_1_grey
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage3 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage3
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage3 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage3
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage3
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage3
                          .divider20
                        #cab_cont_4.tab-pane.fade{:role => "tabpanel"}
                          .divider10
                          .container
                            .row
                              .col-md-6.exp_col.left
                                %button.btn.btn_reset.exp_button.pull-right
                                  -#%img{:src => "img/grey_arrow.png"}/
                                .divider15
                                %span.stage-heading Мои пакеты (3)
                                .post.post_type_3.cab.add_new
                                  .post-header.white
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2
                                        .cab_folder.back2_pale
                                          %span.percentage.font_white.bold.text-center ?
                                      %a.media-body.back_color_stage4_superpale.text-center{:href => "#"}
                                        .plus25.white.font_color_stage4 +
                                        %small.font_color_stage4 Добавить пакет
                                  .post-bottom.white
                                .post.post_type_3.cab
                                  .post-header.white
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2
                                        .cab_folder.back2
                                          %span.percentage.font_white.bold.text-center 32%
                                        %p.time.text-center 21.12.2014
                                      .media-body.white
                                        %h6
                                          Название пакета с идеями идеями пакета
                                        %span.post_btns_cont
                                          %a.a_font_reset.btn.btn_reset.btn_del{:href => "4th-stage-cabinet-2.html"}
                                            %i.glyphicon.glyphicon-pencil
                                          %button.btn.btn_reset.btn_del
                                            %i.glyphicon.glyphicon-trash
                                        .text-right
                                          %i.fa.fa-angle-right.fa-2x.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-1.col_padding_right_3
                                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                                      .col-md-8.col_padding_right_3.themes_cont
                                        #stripe1.post-theme
                                          %span.tag-stripes.color_me.active{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "imperf"}
                                            %span.tags Слишком низкие
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "imperf"}
                                            %span.tags Четвероногим нечем
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "imperf"}
                                            %span.tags Активное противостояние
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "4", "data-me-type" => "imperf"}
                                            %span.tags Рядом с дубом нет
                                .post.post_type_3.cab
                                  .post-header.white
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2
                                        .cab_folder.back2
                                          %span.percentage.font_white.bold.text-center 32%
                                        %p.time.text-center 21.12.2014
                                      .media-body.white
                                        %h6
                                          Название пакета с идеями идеями пакета
                                        %span.post_btns_cont
                                          %a.a_font_reset.btn.btn_reset.btn_del{:href => "4th-stage-cabinet-2.html"}
                                            %i.glyphicon.glyphicon-pencil
                                          %button.btn.btn_reset.btn_del
                                            %i.glyphicon.glyphicon-trash
                                        .text-right
                                          %i.fa.fa-angle-right.fa-2x.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-1.col_padding_right_3
                                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                                      .col-md-8.col_padding_right_3.themes_cont
                                        #stripe1.post-theme
                                          %span.tag-stripes.color_me.active{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "imperf"}
                                            %span.tags Слишком низкие
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "imperf"}
                                            %span.tags Четвероногим нечем
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "imperf"}
                                            %span.tags Активное противостояние
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "4", "data-me-type" => "imperf"}
                                            %span.tags Рядом с дубом нет
                                .post.post_type_3.cab
                                  .post-header.white
                                  .post-body
                                    .media
                                      .media-left.text-center.gradient2
                                        .cab_folder.back2
                                          %span.percentage.font_white.bold.text-center 32%
                                        %p.time.text-center 21.12.2014
                                      .media-body.white
                                        %h6
                                          Название пакета с идеями идеями пакета
                                        %span.post_btns_cont
                                          %a.a_font_reset.btn.btn_reset.btn_del{:href => "4th-stage-cabinet-2.html"}
                                            %i.glyphicon.glyphicon-pencil
                                          %button.btn.btn_reset.btn_del
                                            %i.glyphicon.glyphicon-trash
                                        .text-right
                                          %i.fa.fa-angle-right.fa-2x.font_grey
                                  .post-bottom.white
                                    .row
                                      .col-md-1.col_padding_right_3
                                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                                      .col-md-8.col_padding_right_3.themes_cont
                                        #stripe1.post-theme
                                          %span.tag-stripes.color_me.active{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "imperf"}
                                            %span.tags Слишком низкие
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "imperf"}
                                            %span.tags Четвероногим нечем
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "imperf"}
                                            %span.tags Активное противостояние
                                          %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "4", "data-me-type" => "imperf"}
                                            %span.tags Рядом с дубом нет
                              .col-md-6.exp_col.right
                                %button.btn.btn_reset.exp_button.pull-left
                                  -#%img{:src => "img/grey_arrow_1.png"}/
                                .divider15
                                %span.stage-heading Мои комментарии (10)
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage4 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage4
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage4 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage4
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage4
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage4
                                .divider_1_grey
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage4 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage4
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage4 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage4
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage4
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage4
                          .divider20
                        #cab_cont_5.tab-pane.fade{:role => "tabpanel"}
                          .divider10
                          .container
                            .row
                              .col-md-6.exp_col.left
                                %button.btn.btn_reset.exp_button.pull-right
                                  -#%img{:src => "img/grey_arrow.png"}/
                                .divider15
                                %span.stage-heading Мои проектные предложения (3)
                                .media.type_cab.add_new
                                  .divider5.white
                                  .media-left.gradient2
                                    .cab_folder.back4_pale
                                      %span.percentage.font_white.bold.text-center ?
                                  %a.media-body.back_color_stage5_superpale.text-center{:href => "#"}
                                    .plus25.white.font_color_stage5 +
                                    %small.font_color_stage5 Добавить проектное предложение
                                .media.type_cab
                                  .divider5.white
                                  .media-left.gradient2
                                    .cab_folder.back4
                                      %span.percentage.font_white.bold.text-center 32%
                                    %p.time.text-center 21.12.2014
                                  .media-body.white
                                    %a.a_font_reset{:href => "5th-stage-cabinet-2.html"}
                                      Название пакета с идеями идеями пакета
                                    %span.post_btns_cont
                                      %button.btn.btn_reset.btn_del
                                        %i.glyphicon.glyphicon-pencil
                                      %button.btn.btn_reset.btn_del
                                        %i.glyphicon.glyphicon-trash
                                    %i.fa.fa-2x.fa-angle-right.font_grey
                                .media.type_cab
                                  .divider5.white
                                  .media-left.gradient2
                                    .cab_folder.back4
                                      %span.percentage.font_white.bold.text-center 32%
                                    %p.time.text-center 21.12.2014
                                  .media-body
                                    %a.a_font_reset{:href => "5th-stage-cabinet-2.html"}
                                      Название пакета с идеями идеями пакета
                                    %span.post_btns_cont
                                      %button.btn.btn_reset.btn_del
                                        %i.glyphicon.glyphicon-pencil
                                      %button.btn.btn_reset.btn_del
                                        %i.glyphicon.glyphicon-trash
                                    %i.fa.fa-2x.fa-angle-right.font_grey
                                .media.type_cab
                                  .divider5.white
                                  .media-left.gradient2
                                    .cab_folder.back3
                                      %span.percentage.font_white.bold.text-center 32%
                                    %p.time.text-center 21.12.2014
                                  .media-body.white
                                    %a.a_font_reset{:href => "5th-stage-cabinet-2.html"}
                                      Название пакета с идеями идеями пакета
                                    %span.post_btns_cont
                                      %button.btn.btn_reset.btn_del
                                        %i.glyphicon.glyphicon-pencil
                                      %button.btn.btn_reset.btn_del
                                        %i.glyphicon.glyphicon-trash
                                    %i.fa.fa-2x.fa-angle-right.font_grey
                              .col-md-6.exp_col.right
                                %button.btn.btn_reset.exp_button.pull-left
                                  -#%img{:src => "img/grey_arrow_1.png"}/
                                .divider15
                                %span.stage-heading Мои комментарии (10)
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage5 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage5
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage5 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage5
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage5
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage5
                                .divider_1_grey
                                .media.comment.in_cab
                                  .media-body
                                    %span.comment_interf
                                      %span.date_time.font_color_stage5 15:28
                                      %span.dropdown.edit_comment
                                        %button#edit_comment2.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                          %i.fa.fa-cog.fa-lg.font_color_stage5
                                        %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-pencil>
                                              Редактировать
                                          %li
                                            %a{:href => "#", :tabindex => "-1"}
                                              %i.glyphicon.glyphicon-remove>
                                              Удалить
                                      %span.badge.badge_important.back_color_stage5 важно
                                  %p.font_grey
                                    Ничего не правда. Я люблю гулять, а от вашего дуба тень
                                    большая.
                                  .post-interfaces-buttons.text-left
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                      %span.bold
                                        9
                                        %i.fa.fa-thumbs-up.font_color_stage5
                                    %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                      %span.bold
                                        1
                                        %i.fa.fa-thumbs-down.font_color_stage5
                                    %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                      %span.bold
                                        %i.fa.fa-reply.fa-rotate-180.font_color_stage5
                          .divider20

        -# а этот yield только для ганта
        = yield :special_for_gantt
    #render_knowbase_posts
    %script(src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="ac124f793994edd775d4d03329e6ec80")
    = javascript_include_tag 'application'
