!!! 5
%html{ lang: 'en' }
  = render 'application/meta'
  %body{ class: stage_theme, style: 'background-color: #f4f4f4;' }
    .outer
      = render partial: 'application/header'
      = render partial: 'application/cabinet_stage_panel'
      .main-block
        .container
          .row
            .col-md-2
              .cab-menu
                .add-techniq
                  - @project.techniques.by_stage(current_stage_type).each do |technique|
                    = link_to t("techniques.#{technique.name}"), send("new_#{technique.stage.to_s.downcase.singularize}_path", @project.id,
                    type_mechanic: technique.code), class: 'btn', id: "new_#{technique.name}"
                %ul.menu
                  %li{ class: "#{'active' if action_name == 'user_content' && params[:edit_profile].nil?}" }
                    = link_to send("user_content_#{current_stage_type}_path", @project.id), class: 'btn', id: "user_content_#{current_stage_type}" do
                      = t('menu.content')
                  %li{ class: "#{'active' if params[:edit_profile]}" }
                    %a.btn#edit_profile{ 'data-toggle' => 'tab', href: '#user_profile' }
                      = t('menu.account')
                -# Этот yield только для проектов, там сбоку есть кнопки для сохранения и т.д.
                = yield :cabinet_sidebar


            .col-md-10#cabinet_form
              .tab-content
                - if action_name == 'new' || action_name == 'edit'
                  .tab-pane.fade.in.active#cabinet_new
                    = yield
                - else
                  .tab-pane.fade#cabinet_content{ class: "#{'in active' unless params[:edit_profile]}" }
                    %ul.nav.nav-tabs.cab-horiz-tabs
                      - Core::Project::STAGES.select { |k, _| k <= 5 }.each do |num_stage, stage|
                        - if name_controller == stage[:type_stage]
                          %li.active
                            = link_to send("user_content_#{stage[:type_stage]}_path", @project.id), id: "go_to_user_content_#{stage[:type_stage]}" do
                              %span.marked= num_stage
                              СТАДИЯ
                        - elsif @project.main_stage >= num_stage
                          %li{ class: "#{'active' if @project.main_stage > 5 && num_stage == 5}" }
                            = link_to send("user_content_#{stage[:type_stage]}_path", @project.id), id: "go_to_user_content_#{stage[:type_stage]}" do
                              %span.marked= num_stage
                              СТАДИЯ
                        - else
                          %li.disabled
                            = link_to '#', id: "go_to_user_content_#{stage[:type_stage]}" do
                              %span.marked= num_stage
                              СТАДИЯ
                    .tab-content.cab-cont-block
                      .tab-pane.fade.active.in{ id: "cab_cont_#{number_current_stage}" }
                        .row
                          .col-md-6.exp_col.left
                            %a.exp_button
                              %span.arrows-left.tooltip_l{ 'data-new' => 'Развернуть историю комментариев',
                              title: 'Свернуть список' + ' ' + "#{t("my_list.#{name_controller}")}" }

                            .content
                              %h5
                                #{t("my.#{name_controller}")} (#{current_user.content_for_project(name_controller, @project).count})

                              = yield

                          .col-md-6.exp_col.right
                            %a.exp_button
                              %span.arrows-right.tooltip_r{ 'data-new' => 'Развернуть список' + ' ' + "#{t("my_list.#{name_controller}")}",
                               title: 'Свернуть историю комментариев' }

                            .content
                              %h5
                                Мои комментарии
                                (#{current_user.comment_for_project(name_controller, @project).count})
                              .chat-messages
                                = render partial: 'shared/cabinet_comment', collection: @stage_comments

                .tab-pane.fade#user_profile{ class: "#{'in active' if params[:edit_profile]}" }
                  .col-md-6.col-md-offset-3.text-center
                    .profile
                      .profile_icon
                        = image_tag 'avatars/user.png'
                        %a.btn.btn-xs.btn-danger.open-modal{ 'data-placement' => '1', 'data-target' => '1' }
                          = t('menu.account_edit')
                      = form_for current_user, url: { controller: '/users', action: :update, type: @project.id, project: @project, id: current_user },
                      multipart: true, authenticity_token: true, remote: true, method: :put, class: 'form form-horizontal' do |f|
                        .cab_notice{ style: 'display:none;', id: 'update_user_success' }
                          %span.success
                          .text
                            = t('form.user.update_success')
                        .notice_messages
                          = render 'shared/notice_messages', object: f.object
                        .form-group
                          = f.text_field :name, class: 'form-control', placeholder: 'Имя'
                        .form-group
                          = f.text_field :surname, class: 'form-control', placeholder: 'Фамилия'
                        .form-group
                          = f.text_field :email, class: 'form-control', placeholder: 'Email'
                        .form-group
                          = f.password_field :password, class: 'form-control', placeholder: 'Новый пароль'
                        .form-group
                          = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтвердите пароль'
                        .form-group
                          = f.text_field :skype, class: 'form-control', placeholder: 'Skype'
                        .form-group
                          = f.text_field :phone, class: 'form-control', placeholder: 'Телефон'

                        = f.submit t('form.user.update'), class: 'btn btn-danger ', id: 'update_profile'

                        .modal.fade#modal-1-1
                          .modal-dialog.modal-sm
                            %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } &times;
                            .modal-body.text-center.padding60
                              .form-group
                                = f.file_field :avatar, class: 'form-control', placeholder: 'Аватар'
                              .divider20
                              %p Или выбрать из коллекции:
                              .divider30
                              = hidden_field_tag 'collection_avatar'
                              .row
                                - (1..9).each do |i|
                                  .col-md-4
                                    .avatar_icon.img-circle
                                      = image_tag 'avatars/' + "#{i}" + '.png', class: 'avatar_of_collection', 'data-avatar' => "avatars/#{i}.png"
                                    .divider10
                              .divider20
                              %button.btn.btn-danger Сохранить
        -# а этот yield только для ганта
        = yield :special_for_gantt

    #render_for_post
    #render_knowbase_posts
    %script{ src: '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js', 'data-apikey' => 'ac124f793994edd775d4d03329e6ec80' }
    %script{ src: 'http://cdn.pubnub.com/pubnub-3.7.13.min.js' }
    = javascript_include_tag 'application'
